[2021-02-10 15:30] adamkgray opened #1371 "Enable true mesh-only, remove hard dependency on the knative-local-gateway"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Remove hard dependency on the knative local gateway and let kfserving have the option to run 100% mesh-only with istio.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Kfserving should be able to run in true mesh-only mode

[2021-02-10 16:19] HassanOuda commented on #1314
@prgawade Hi , im getting something similar in that the virtualservice is not being created. What was your issue exactly with your virtualservice?

[2021-02-10 16:59] HassanOuda commented on #919
@rtrobin how did you implement to use nginx in v0.4? Thanks

[2021-02-11 02:09] adamkgray commented on #1370
I think there is a race condition between the agent pulling the model and the istio proxy starting. I disabled sideacare injection and it successfully pulled the model

[code]

[code]

[2021-02-11 02:22] adamkgray commented on #1370
Setting `holdApplicationUntilProxyStarts: true` for istio-discovery and then restarting istiod did the trick. Let's update the docs.

[2021-02-11 17:35] yanniszark opened #1376 "KFServing: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-11 18:59] nallagangus commented on #848
Is there an  update or recommendation on this? I was wondering if there are sample envoyfilter that overrides authentication for kfserving - sudhir

[2021-02-11 23:28] thesuperzapper commented on #1300
@yuzisun manifests are going to be moved into the component repos (out of kubeflow/manifests) soon, so that's probably not a good idea.

[2021-02-11 23:29] thesuperzapper commented on #1300
@kubeflow/wg-serving-leads can you please add this as an item on your next meeting?

[2021-02-12 01:19] yuzisun commented on #1369
this is same as https://github.com/kubeflow/kfserving/issues/1065, I think you are on Istio 1.1 which is already EOL, please upgrade to higher istio version.

[2021-02-12 01:19] #1369 closed

[2021-02-12 01:22] yuzisun commented on #1376
/cc @pvaneck

[2021-02-12 11:34] crmne commented on #1369
thank you @yuzisun! should this manifest be updated then? https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws_cognito.v1.2.0.yaml

[2021-02-12 14:50] rtrobin commented on #919
@HassanOuda KFServing v0.4 already supports custom prediction route. So for my case, nginx is not needed anymore. What's your case for using nginx?

[2021-02-12 15:08] HassanOuda commented on #919
Our production environment uses an external F5 loadbalancer that links to our nginx in kubernetes. so only ingress resources with a dns recognized by our loadbalancer can be used to expose a service in kubernetes. So how would that work with KFServing that purely uses Istio?

PS. I have Istio installed as part of the kubeflow installation and i created a nginx ingress resource that points the isti

[2021-02-13 03:23] #1370 closed

[2021-02-13 18:34] yuzisun opened #1377 "The new "latest" routing tag causes reconciliation fail for existing service with long name after upgrade"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
The existing inference service should continue to work after the upgrade from 0.4 to 0.5.

**Anything else you would like to add:**
The latest routing tag adds extra prefix "latest" to the routing host which causes the domain name exceeding the max 63 char length.

**Environment:**

- Istio Version

[2021-02-14 13:33] #1377 closed

[2021-02-15 00:07] yuzisun commented on #1369
@PatrickXYS what’s the story for istio version for AWS cognito?

[2021-02-15 09:19] PatrickGhosn opened #1379 "What is the kfserving_endpoint for a remote KFServing installation? Using http://$INGRESS_HOST:$INGRESS_PORT/deploy-model returns 404"
/kind question

I have a standalone/remote KFServing installation running. When I put the ingress host (public IP) and the ingress port as the kfserving_endpoint ` $INGRESS_HOST:$INGRESS_PORT`, the pipeline calls `http://$INGRESS_HOST:$INGRESS_PORT/deploy-model` but that returns a 404 not found error.

I even tried it manually from the command line and got the same result.

What should I call to r

[2021-02-15 11:01] arya-oss commented on #1151
Any updates on this issue? I'm facing similar issue.

[2021-02-15 14:34] yuzisun commented on #1379
@PatrickGhosn you will need to pass the host header if you are using public ip not dns

[2021-02-15 14:35] yuzisun commented on #1379
https://github.com/kubeflow/kfserving#curl-the-inferenceservice

[2021-02-15 14:45] PatrickGhosn commented on #1379
I'm trying to call the API to create the inference service, not curling the service itself. It's in the code here:
https://github.com/kubeflow/pipelines/blob/1.4.0/components/kubeflow/kfserving/src/kfservingdeployer.py

Line 367.

[2021-02-15 15:39] yanniszark commented on #1376
@drewbutlerbb4 @animeshsingh while preparing the KFServing manifests for a PR, I noticed that `overlays` no longer install CRDs.
In addition, I noticed there are two crd kustomizations:
- `config/crd`
- `config/default/crd` which includes some extra patches and a namespace

It seems they were introduced in this PR: https://github.com/kubeflow/kfserving/pull/1244
Could you help me understand the pu

[2021-02-15 17:50] Tomcli commented on #1376
The generated CRD size is too big to store in annotations, so we need to separate it into another kustomization.yaml and run `kubectl create` for that config.

I think one way to work around this is to manually prune the crd spec with `x-kubernetes-preserve-unknown-fields: true` . Many Knative CRDs use this on their [openAPIV3Schema](https://github.com/knative/serving/blob/ccbfdaddeaafc3141a9f1b5b

[2021-02-15 17:52] Tomcli commented on #1376
@yuzisun do you know where we should use `x-kubernetes-preserve-unknown-fields: true` on KFServing?

[2021-02-15 19:03] yanniszark commented on #1376
@Tomcli I tried to reproduce the issue by applying this file in a minikube cluster:
https://github.com/kubeflow/kfserving/blob/5569670250ed068df904774cdbdd7a2d7ca98a58/install/v0.5.0/kfserving_crds.yaml

I could not reproduce. Should the issue be happening with this file?

[2021-02-15 20:03] Tomcli commented on #1376
oh the KFServing 0.5 release yesterday removed the `initContainers` spec so it can fit into the annotations now.

@yanniszark so the goal here is to have the same pattern for both kubeflow/manifests and this repo?

[2021-02-15 21:25] yanniszark commented on #1376
Was that a workaround? I think we should continue the discussion in issue https://github.com/kubeflow/kfserving/issues/1296 and update it with this new development.

The goal is to move kfserving manifests development in this repo (the upstream repo). Right now, there are two sources of truth for KFServing (this repo and kubeflow/manifests). We want to only have 1 source of truth (this repo) and k

[2021-02-15 22:40] pvaneck commented on #1376
The `kfserving-crds` and `kfserving-install` directories that were in the manifests repo can be removed as those were YAMLs corresponding to an older version of KFServing. In regards to the kubeflow overlay, `application.yaml`, `cluster-role.yaml` and `statefulset-patch.yaml` are likely the only things from manifests repo `kfserving/installs/generic` directory that should be carried over.

The yam

[2021-02-16 04:47] adamkgray opened #1383 "Use custom local gateway in isvc external name"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The kfserving isvc exposes an option to use a custom local gateway. However, the external service name still uses the hard coded cluster local gateway. It should be changed to use the custom one instead. It's unclear to me if there should be a fallback to the hardcoded one in case the

[2021-02-16 13:33] #1383 closed

[2021-02-16 14:57] PatrickGhosn commented on #1379
For those interested in a follow up. Apparently the sample in kfdeployer needs to be run as a seperate pod, and use flask for the  the deploy-model API that communicates with the kf-serving deployment.

[2021-02-16 14:57] #1379 closed

[2021-02-17 11:29] crmne opened #1386 "Transformer Timeout"
/kind bug

**What steps did you take and what happened:**
1. Install Kubeflow 1.2 on EKS with Cognito
2. Set up custom domain `kubectl edit configmap config-domain -n knative-serving`
3. Deploy [transformer](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2/transformer/image_transformer) or [this one on 0.5.0](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1b

[2021-02-17 11:30] 4vik commented on #1386
Have you tried turning it off and back on again?

[2021-02-17 13:17] yanniszark commented on #1376
@pvaneck I'm all for simplifying and I believe the old structure was simpler, while the new one has certain peculiarities:
- `crd` kustomization defined in two places, only one of which is valid (the `config/default/crd` one).
- The kustomizations containing the crd resources (`config/default/crd`) and the installation resources (`config/default/crd`) can't be combined, as they both contain a name

[2021-02-17 17:30] Tomcli commented on #1376
We can revert it back to the old ways since we no longer has the blocker issue.

[2021-02-18 04:48] pvaneck commented on #1296
Seems like the way to keep the CRD smaller is to remove some of the structural schema from the CRD like what was done [here](https://github.com/kubeflow/kfserving/blob/master/Makefile#L126-L127). Though, I believe we have to make sure we have  `x-kubernetes-preserve-unknown-fields: true` set somewhere (probably under `spec.versions[1].schema.openAPIV3Schema`). Can just start removing some of the l

[2021-02-18 06:27] romeokienzler opened #1389 "kfserving-samples/models/tensorflow/flowers broken"
/kind bug

**What steps did you take and what happened:**
Deployed flowers model to KFServing on KubeFlow v1.2 and the kfserving client libraries v0.4.1

When deploying the tensorflow flowers model from the kfserving_sdk_v1alpha2_sample notebook the following lines go through:

api_version = constants.KFSERVING_GROUP + '/' + constants.KFSERVING_VERSION
default_endpoint_spec = V1alpha2EndpointSpec(

[2021-02-18 09:46] OfTheThorn opened #1390 "No matches for kind "InferenceService" in version "serving.kubeflow.org/v1beta1""
/kind bug
**What steps did you take and what happened:**

I installed KFServing and Kubeflow, have tried with a v1alpha2 inference service which worked. However, I would like to use certain features made available in the v1beta1 version, mainly with regard to the V1beta1PredictorSpec and V1Volume. I always end up with the No matches for kind "InferenceService" in version "serving.kubeflow.org/v1be

[2021-02-18 13:25] MohammadOmr opened #1391 "MMS for Tensorflow"
/kind bug

**What steps did you take and what happened:**
I created an inference service with a Tensorflow predictor without a uri, since I was planning to add trained model CRD to the inference service.

**What did you expect to happen:**
for the inference service to serve multiple tensorflow models

**Anything else you would like to add:**
kfserving fails to detect the inference service as a hos

[2021-02-18 13:53] daganida88 opened #1392 "Failed to execute code samples - https://github.com/kubeflow/kfserving/pull/1330"
Hey, I am using KF serving and I asked for an example on how to create an inference service that is using grpc.
After installing kubeflow from here: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ using kfctl to install version
https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_k8s_istio.v1.2.0.yaml I get the following error:
no matches for kind "InferenceServi

[2021-02-18 14:30] prgawade opened #1393 "503 Service Unavailable error on the kfserving inferences service"
/kind bug

**What steps did you take and what happened:**

 Kfserving service was created succesfully

NAME                   URL                                                                                         READY   DEFAULT TRAFFIC   CANARY TRAFFIC   AGE
pytorch-cifar-63       http://pytorch-cifar-63.kubeflow.example.com/v1/models/pytorch-cifar-62           True    100

[2021-02-18 15:06] yuzisun commented on #1392
@daganida88 kubeflow 1.2 does not support KFServing v1beta1.

[2021-02-18 15:11] daganida88 commented on #1392
I managed to do it using a custom model.

[2021-02-18 15:11] daganida88 commented on #1392
spec:
  default:
    predictor:
      custom:
        container:
          name: grpc
          args:
          - --port=9000
          - --rest_api_port=8500
          - --model_config_file=gs://tensorflow_serving_poc/model_config
          image: tensorflow/serving
          ports:
          - protocol: TCP
            name: h2c
            containerPort: 9000

[2021-02-18 15:12] daganida88 commented on #1392
I tried your example, but the part of the port did not work. my example worked.

[2021-02-18 15:16] yuzisun commented on #1392
@daganida88 ye this is only supported in v1beta1 for prepackaged tensorflow which allows you specifying container field, in v1alpha2 the only possible way is to use custom.

[2021-02-18 15:17] daganida88 commented on #1392
Ok cool. thanks, bro, waiting for v1beta1 ;)

[2021-02-18 15:18] yuzisun commented on #1392
v1beta1 is always released in KFServing 0.5, it will be integrated to kubeflow 1.3.

[2021-02-18 15:18] #1392 closed

[2021-02-18 15:19] yuzliu commented on #1391
Hi @MohammadOmr tensorflow's default model server tfserving is does not implement KFServing v2 protocol so it is not integrated with MMS. Please see: https://github.com/kubeflow/kfserving/blob/master/docs/MULTIMODELSERVING_GUIDE.md#integration-with-model-servers for more explanations.

Triton server can deploy tensorflow model as well, do you think you can use triton instead? We have a readme abou

[2021-02-18 15:21] yuzisun commented on #1390
@OfTheThorn v1beta1 version is not integration in kubeflow yet, we are expecting to install it in Kubeflow 1.3

[2021-02-19 00:10] #1351 closed

[2021-02-19 04:00] #1391 closed

[2021-02-19 08:09] diazidabagus commented on #651
Hi how did you get the log? what are the commands thanks!

[2021-02-19 12:48] MohammadOmr commented on #1391
@yuzliu thanks for the reply I already tested with Triton but I kept facing issues in Downloading/loading the model. Some of those issues were caused by Triton requiring a config.pbtxt file and a different folder hierarchy, after solving that
the agent  kept throwing  errors
 `anic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 ad

[2021-02-19 15:33] yuzliu commented on #1391
@MohammadOmr Which version of KFServing you are running?

[2021-02-19 15:36] yuzliu commented on #1391
@MohammadOmr thanks for reporting we will try to replicate the issue.

[2021-02-19 16:00] yuzliu commented on #1391
@MohammadOmr could you please post the trainedmodel CR and the triton model you used?

[2021-02-19 16:07] MohammadOmr commented on #1391
v0.5.0-rc2

[2021-02-19 16:24] MohammadOmr commented on #1391
@yuzliu
here's the model that I used from Triton repo
https://github.com/triton-inference-server/server/tree/master/docs/examples/model_repository/simple_identity

and the trained model CR

`
apiVersion: "serving.kubeflow.org/v1alpha1"
kind: "TrainedModel"
metadata:
  name: "simpleid"
spec:
  inferenceService: image-mms
  model:
    framework: tensorflow
    storageUri: s3://s3averroesai/model/sim

[2021-02-19 16:30] abchoo commented on #1391
@MohammadOmr  Could you try changing your storageUri to `s3://bucket/model/simple_id/1/model.savedmodel`? (I assume  1/model.savedmodel is the path to `saved_model.pb` based on the link provided).

[2021-02-19 19:51] Peilun-Li opened #1397 "Reason for still using "default" in revision name?"
In kfserving v0.4 we have primary route with name `{isvc_name}-predictor-default` and canary route with name `{isvc_name}-predictor-canary`, which makes sense to distinguish them.

However in v0.5, from what I see [here](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/torchserve/canary#check-the-traffic-split-between-the-two-revisions), we are actually using DNS label as `la

[2021-02-19 20:11] yuzisun commented on #1397
@Peilun-Li yes looks like we have the same setup and already running into the dns limit issue :). The reason we kept the name is to maintain the backwards compatibility for existing services.  we are thinking along the same line to provide a configuration to customize the names.

[2021-02-19 21:02] yuzisun commented on #1391
@MohammadOmr Can you try the latest 0.5.0? I think we have fixed it in https://github.com/kubeflow/kfserving/pull/1318

[2021-02-19 21:02] yuzliu commented on #1391
Please also make sure your inferenceservice uses triton predictor e.g.
[code]

[2021-02-19 21:15] Peilun-Li commented on #1397
@yuzisun Great thanks! Looking forward to that feature.

[2021-02-19 22:56] MohammadOmr commented on #1391
I did try with the example provided in the documentation which has the same inferenceservice as the one you attached
but still faced the same issue

[2021-02-19 23:01] yuzisun commented on #1391
the same crash stack?

[2021-02-19 23:03] MohammadOmr commented on #1391
In the example provided in the documentation there's a typo in the trainedmodel CR where the platform is declared as pytorch instead of tensorflow however when I tested I got the same crash stack

[2021-02-19 23:08] MohammadOmr commented on #1391
first off there are 4 yaml files not sure which one to use If I need a standalone version

[2021-02-19 23:09] yuzisun commented on #1391
Can you follow the standalone install instruction here https://github.com/kubeflow/kfserving#standalone-kfserving-installation to install 0.5.0?

[2021-02-19 23:18] MohammadOmr commented on #1391
I install but now when I create an hosting inferenceservice(v1beta1) it doesn't recognize it as a v1beta1 because it only creates 2 containers instead of three

[2021-02-19 23:32] diazidabagus commented on #1151
I got the same error in GKE, this is a snapshot of the logs from the pod of the model

[code]

[2021-02-20 00:23] yuzisun commented on #1391
@MohammadOmr yes as it is alpha feature you would need to change the `multiModelServer` flag to be true, see the doc [here](https://github.com/kubeflow/kfserving/blob/master/docs/MULTIMODELSERVING_GUIDE.md#integration-with-model-servers)

[2021-02-21 05:13] #1390 closed

[2021-02-21 05:15] yuzisun commented on #1389
you should not deploy the model in the `kubeflow` system namespace as the storage initializer is not injected in the control plane namespace.

[2021-02-21 05:15] #1389 closed

[2021-02-21 05:21] yuzisun commented on #1362
fixed by recreating the KFServing client every time.

[2021-02-21 05:21] #1362 closed

[2021-02-21 05:25] yuzisun commented on #1393
@prgawade Do you have cluster local gateway installed?

[2021-02-21 05:33] yuzisun commented on #898
Yes this should be configurable in knative https://knative.dev/docs/serving/autoscaling/scale-to-zero/#scale-to-zero-last-pod-retention-period

[2021-02-21 05:33] yuzisun commented on #898
this is now documented in https://knative.dev/docs/serving/autoscaling/scale-to-zero/#scale-to-zero-last-pod-retention-period

[2021-02-21 05:33] #898 closed

[2021-02-21 05:34] #809 closed

[2021-02-21 05:38] yuzisun commented on #730
Node selector/Affinity/Toleration now can be specified on `InferenceService` v1beta1 API.

https://knative.dev/docs/serving/feature-flags/#kubernetes-node-selector
https://knative.dev/docs/serving/feature-flags/#kubernetes-node-affinity
https://knative.dev/docs/serving/feature-flags/#kubernetes-toleration

[2021-02-21 05:38] #730 closed

[2021-02-21 05:58] #353 closed

[2021-02-21 05:59] #310 closed

[2021-02-21 06:00] #163 closed

[2021-02-21 06:00] #60 closed

[2021-02-21 06:05] #762 closed

[2021-02-21 06:07] #971 closed

[2021-02-21 06:07] #1068 closed

[2021-02-21 06:12] yuzisun commented on #1300
@thesuperzapper We are working on to integrate KFS 0.5 to Kubeflow 1.3, will make sure this is turned on by default.
/cc @pvaneck @animeshsingh

[2021-02-21 06:16] yuzisun commented on #1232
@marcinkosztolowicz sorry for the late reply, it would be great to document this. I think what you described is pretty accurate, thanks a lot!

[2021-02-21 06:18] yuzisun commented on #851
for pytorchserver GPU now we default to 1 worker which is released in 0.5.

[2021-02-21 06:18] #851 closed

[2021-02-21 06:20] #1139 closed

[2021-02-21 06:25] #985 closed

[2021-02-21 12:57] prgawade commented on #1393
yes cluster gateway is up and runing and also resolved as the ipaddress of the kubernetes service when we curl using the port and hostname but we get connection refused error but when curl with locahost on shell of cluster local gateway , we do not get any error

[2021-02-21 14:26] MohammadOmr commented on #1391
setting the flag to true worked but still downloading the model sometimes throws the following error
`
{"level":"error","ts":"2021-02-21T14:10:52.222Z","caller":"agent/puller.go:134","msg":"Failed to download model trinoexp with err failed to download model: failed to download model: unable to get batch objects file is already created: mkdir /mnt/models/trinoexp/1/model.savedmodel: not a directory

[2021-02-22 00:08] yuzisun opened #1399 "The arguments specified on containerSpec should be sticky and not overwritten by the defaulting logic"
/kind bug

**What steps did you take and what happened:**
when specifying the arguments like `--workers` on container spec, the value should be sticky however currently in some cases it can be overwritten by the defaulting logic in `getContainer` method for custom  or build-in framework.

**What did you expect to happen:**
The arguments specified on container spec on the build-in or custom framewo

[2021-02-22 07:52] jal06 commented on #1393
@prgawade , I had the same problem a few months ago.

This problrem happens because the Istio local gataway is missing in GCP : see issue [176](https://github.com/kubeflow/gcp-blueprints/issues/176)

The status for this issue is that 2 actions are needed  [see comment](https://github.com/kubeflow/gcp-blueprints/pull/177#issuecomment-759234498) :
- Upgrade Istio version (asm in GCP) . This is plann

[2021-02-22 08:40] prgawade commented on #1393
@jal06 , we are using private Kubernetes cluster

[2021-02-22 08:59] romeokienzler commented on #1389
thanks @yuzisun

[2021-02-22 22:54] pvaneck commented on #1300
Yea, looks the KFDef you were using was still using the old KFServing YAMLs (I think v0.3.0). The kustomize path for KFServing v0.4.1 is supposed to be `kfserving/installs/generic`. In any case, the manifests repo is undergoing a refactoring where this will be cleared up.

[2021-02-23 22:32] #1399 closed

[2021-02-24 00:02] drewbutlerbb4 opened #1404 "Logger container not being created for explainer spec"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deployed the [AIX explainer](https://github.com/kubeflow/kfserving/tree/master/docs/samples/explanation/aix/mnist#using-aix-to-get-explanations-for-mnist-classifications) and added a logger
[code]

But when I check on the pods I notice the `aix-explainer-explainer-default-dv98t-deployme

[2021-02-24 02:31] yuzisun commented on #1404
@drewbutlerbb4 currently explainer is not injected with logger or batcher, we could replicate the logic from predictor if that’s needed

https://github.com/kubeflow/kfserving/blob/master/pkg/controller/v1beta1/inferenceservice/components/predictor.go#L70

[2021-02-24 16:12] wengyao04 opened #1406 "Inferenceservice annotations/labels are not passed down to the routing virtualservice"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The inferenceservice annotations/labels are not passed down to the kfserving routing virtualservice when updating from v1alpha2 to v1beta1

[code]

[code]

**What did you expect to happen:**
When updating kfserving from v1alpha2 to v1beta1, the inferenceservice annotations does not pass

[2021-02-24 19:47] drewbutlerbb4 commented on #1404
Thanks @yuzisun, it would be a nice to have feature and if anyone has time to pick it up that'd be great, but this isn't a high priority for us and the only reason I reported this issue was because it seemed like a bug.

[2021-02-25 01:31] pvaneck opened #1408 "Validate KFServing with Istio 1.9"
As noted in the KF mailing list (https://groups.google.com/g/kubeflow-discuss/c/qhK-CMz3N5g), Istio 1.9 is targeted to be included in the manifests for the KubeFlow 1.3 release.

This is an issue to track the validation of KFServing installation and usage with Istio 1.9, potentially in conjunction with newer  versions of Knative (as Knative could probably use an upgrade on the KF manifests side if

[2021-02-25 01:42] Tomcli commented on #1408
Right now many of my tests are running on Knative 0.18. The alibi is also using Knative eventing 0.18+. Maybe we should update the Knative to 0.18 if possible?

Knative 0.19 is where we start seeing problem #1333

[2021-02-25 02:26] yuzisun commented on #1408
Just a note we are currently running istio 1.7.2 and knative serving/eventing 0.17 as we are on kubernetes 1.16, knative 0.18 requires kubernetes 1.17.

[2021-02-26 01:29] #1406 closed

[2021-02-26 01:30] yuzisun commented on #1404
Agreed! Thanks for reporting !

[2021-02-26 15:21] danielmhair commented on #898
The documentation is great, however, we are starting to ask this type of question, because if you have pods in your GPU node, how can it properly scale down even if we have knative configured right? For reference, see our question here in stackoverflow: https://stackoverflow.com/questions/66388294/how-do-we-assign-pods-properly-so-that-kfserving-can-scale-down-gpu-instances-to

[2021-03-01 12:26] yuzisun commented on #1357
fixed in #1411

[2021-03-01 12:26] #1357 closed

[2021-03-01 12:49] yuzisun opened #1416 "deeper readiness and liveness check for transformer"
/kind feature

**Describe the solution you'd like**
Currently transformer only checks the readiness and liveness for itself, however if the predictor is not ready or live the request in transformer would still fail as it is always calling out to the predictor to get the inference result. We can implement deeper liveness check to the predictor in transformer to make sure both of them are live and r

[2021-03-01 12:51] yuzisun commented on #1416
/cc @wengyao04 @yuzliu @abchoo

[2021-03-02 20:51] HassanOuda opened #1419 "Getting IngressNotConfigured for KFServing 0.4.1"
/kind bug

**What steps did you take and what happened:**
I have installed Kubeflow 1.2 with Istio/dex in my on-prem kubernetes cluster. I followed the steps in docs/samples for istio/dex to create an inferenceservice:
[code]

The reading of the storage Uri works, but I keep getting an error of IngressNotConfigured as shown below:
[code]

I followed the steps in the [https://github.com/kubeflow/kf

[2021-03-03 07:32] markwinter opened #1420 "[Question] Connecting to gRPC Predictor from Transformer"
I'm currently trying to connect to a gRPC Predictor by creating a channel and stub inside a Transformer

[code]

[code]

However when trying to send a request, I'm getting 500 internal server error in the Transformer

It seems the grpc client is unable to connect to the Predictor.

[code]

[code]

My setup is as follows:
- Minikube v1.16.0
- KFServing 0.5-rc2
- Installed KFServing using ./hack/qui

[2021-03-03 08:59] markwinter commented on #1420
Connecting to the Predictor like this instead worked

[code]

[2021-03-03 08:59] #1420 closed

[2021-03-03 10:28] Jenya95 commented on #1241
@yuzisun When kubeflow will support v1beta1? How is it possible to run example https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/torchserve ?

[2021-03-03 13:17] PatrickGhosn opened #1421 "secret "kfserving-webhook-server-cert" not found"
/kind bug

**What steps did you take and what happened:**
Installed KFServing 0.5.0 and 0.5.1 in a private GKE cluster after installing the requirements. The KFServing pod is not running, because the secret/cert has not been generated by cert-manager.

[code]

**What did you expect to happen:**
For the KFServing pod to run.

**Anything else you would like to add:**
I followed the same steps using

[2021-03-03 13:46] #1421 closed

[2021-03-03 13:47] PatrickGhosn commented on #1421
It was a conflict with a previous yaml.

[2021-03-03 15:47] abchoo opened #1422 "Trained Models not deleting when Inference Service is deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Deployed an inference service and a trained model.
2. Delete parent inference service.
3. Trained Model not deleted

**What did you expect to happen:**
Should remove the trained model.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2021-03-04 02:17] pvaneck commented on #1376
PR for updating the kubeflow overlay to better match what we have in manifests:  #1424.

One concern is the matter of image tags for various images. In the config directory, most kfserving image tags are set to `latest`, but when the `install/kfserving.yaml` file is generated, these latest image tags are replaced with the release version (i.e. `v0.5.1`) through some automated (and also maybe manua

[2021-03-04 03:50] marcjimz commented on #1151
We had this issue come up with one of our deployments as well. Redeploying the pod seems to fix it but I'm not sure what is causing it. Would love some more insights or resolution on the core issue.

[2021-03-04 14:58] TahirHayat opened #1425 "validation webhook error when deploying v1beta1 InferenceService on kfserving v0.50"
/kind bug

**What steps did you take and what happened:**
I have deployed kubeflow 1.2 on AKS cluster and then updated kfserving to version 0.5.0 by using kfserving_kubeflow_crds.yaml &  kfserving_kubeflow.yaml from https://github.com/kubeflow/kfserving/releases/tag/v0.5.0

I have two node pools in my AKS cluster, the user node pool has following label and taint defined on it
[code]

After that I

[2021-03-04 19:41] HassanOuda commented on #1419
@yuzisun What do you think? is there any other steps I can follow to get the inferenceservice to work? Now I have been using SeldonDeployments and those have been working fine, but KFserving has more features/capabilities we would like to leverage. It looks like when we upgraded to KF 1.2 with knative upgrade and KFserving, it gave this issue above.

[2021-03-05 00:22] pvaneck opened #1426 "Missing v0.5.1 tag for alibi-explainer"
The latest release has a [default image version of  v0.5.1 for alibi-explainer](https://github.com/kubeflow/kfserving/blob/master/install/v0.5.1/kfserving.yaml#L15982). That tag doesn't seem to exist yet: https://console.cloud.google.com/gcr/images/kfserving/GLOBAL/alibi-explainer?gcrImageListsize=30

[2021-03-05 00:57] yuzisun commented on #1426
hmm looks like the build for some reason failed
https://console.cloud.google.com/cloud-build/builds;region=global/04ddc7db-24af-474f-8f65-1eb1bcee4c99?authuser=1&project=kfserving

[2021-03-05 00:58] yuzisun commented on #1426
it actually timed out possibly related to https://github.com/kubeflow/kfserving/pull/1395

[2021-03-05 04:46] pvaneck commented on #1425
In Knative, podspec `nodeSelector` and `tolerations` are disabled, and I'm not sure if there is a way to enable them in Knative 0.14.3. From what I can tell, the ability to enable these as [feature flags](https://knative.dev/docs/serving/feature-flags/) came in Knative 0.17. The next release of KubeFlow will likely include an updated version of Knative that will support these, but in the meantime

[2021-03-05 05:26] danishsamad commented on #1366
You can use the KFServing pipeline [component ](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/kfserving/component.yaml) to specify min and max replicas
This change was  implemented in this [PR](https://github.com/kubeflow/pipelines/pull/5059)

[2021-03-05 06:49] TahirHayat commented on #1425
Applied the above changes and it is working fine now. InferenceService is now being scheduled on user node pool as per nodeSelector and tolerations.
Thanks a lot.

[2021-03-05 07:18] sreddybr3 opened #1427 "multi-model-serving support for custom container in predictorSpec"
/kind feature

**Describe the solution you'd like**
multimodel feature support currently depends on "multiModelServer" : true in config/configmap/inferenceservice.yaml
this feature works for standard supported predictors such as sklearn, triton and NOT for a custom container-based preditor spec.

**Anything else you would like to add:**
- ASsumption is that custom container is a model server expos

[2021-03-05 10:32] chinmay22897 opened #1428 "Explainers"
/kind feature

[A clear and concise description of what you want to happen.]
Is there any plan to introduce the custom explainer type other than the ones present?

[Miscellaneous information that will assist in solving the issue.]

[2021-03-05 10:33] #1428 closed

[2021-03-05 10:34] chinmay22897 commented on #1428
I guess germancredit example gives us some idea of how to do it, I'll check that.

[2021-03-06 15:20] DavidSpek opened #1430 "Homepage link on PyPi incorrect"
/kind bug

Looking on https://pypi.org/project/kfserving/ and clicking on the homepage button on the left under project links goes to a page that does not exist (https://github.com/kubeflow/kfserving/python/kfserving). It should probably be changed to https://github.com/kubeflow/kfserving/tree/master/python/kfserving.

[2021-03-06 21:04] yuzisun commented on #1430
Good catch @DavidSpek ! Can you help fix [here](https://github.com/kubeflow/kfserving/blob/master/python/kfserving/setup.py#L32) ?

[2021-03-06 21:11] yuzisun commented on #1427
@sreddybr3 Great proposal! We prefer load/unload instead of polling model directory for performance concerns on model server container. We want model server resource are dedicated for inference and let model agent handle the model downloading and watching.

/cc @abchoo @yuzliu

[2021-03-06 21:58] DavidSpek commented on #1430
@yuzisun Fixed it in https://github.com/kubeflow/kfserving/pull/1431

[2021-03-06 23:04] #1430 closed

[2021-03-07 00:10] Ark-kun commented on #1336
Is there an issue to track?

[2021-03-07 03:15] #1425 closed

[2021-03-07 11:28] daganida88 commented on #730
Can you please provide an example??
When I did this:spec:
  predictor:
    nodeSelector:
      v100: "true"
    triton:
      name: kfserving-container
      ports:
      - containerPort: 9000
        name: h2c
        protocol: TCP
      resources:
        limits:
          cpu: "1"
          memory: 8Gi
        requests:
          cpu: "1"
          memory: 8Gi
      runtimeVersion: 20.10-py3

[2021-03-07 11:56] daganida88 commented on #1393
I had the same issue,
this installation solved it for me:
https://deploy.seldon.io/docs/getting-started/production-installation/standalone-kfserving/

[2021-03-07 12:47] yuzisun commented on #1419
@HassanOuda it is odd that there is not much logging in the networking istio pod log, that’s where it creates the virtual service.

[2021-03-07 15:20] daganida88 opened #1433 "Unable to set node selector inside InferenceService v1bets1"
/kind bug

**What steps did you take and what happened:**

Applied this yaml file

apiVersion: serving.kubeflow.org/v1beta1
kind: InferenceService
metadata:
  name: models-affinity
spec:
  predictor:
    nodeSelector:
      cloud.google.com/gke-nodepool: kfserving-gpu-v100
    triton:
      name: kfserving-container
      ports:
      - containerPort: 9000
        name: h2c
        protocol: TCP

[2021-03-07 15:56] daganida88 commented on #1433
Also logs:
{"level":"error","ts":"2021-03-07T15:52:43.800Z","logger":"webhook","caller":"validation/validation_admit.go:177","msg":"Failed the resource specific validation","commit":"81cd60d","knative.dev/pod":"webhook-bd49fdd85-j2djl","knative.dev/kind":"serving.knative.dev/v1, Kind=Service","knative.dev/namespace":"default","knative.dev/name":"models-affinity-predictor-default","knative.dev/oper

[2021-03-07 16:11] #1433 closed

[2021-03-07 17:25] shashank0202 commented on #817
@wave112 Thanks for the quick workaround. Uploading the model from CLI worked. Thanks again.

[2021-03-07 22:59] theofpa opened #1435 "agent build on the development overlay is broken"
/kind bug

**What steps did you take and what happened:**
When using `make deploy-dev`, the `hack/image/patch_dev.sh` builts the `agent` image using `ko`. It by default places the go binary in `/ko-app/agent`. On runtime, the readiness check for agent runs `/agent -probe-period 0` which doesn't exist, and the `Ready` state stays false.

`agent` image built using `ko`:
[code]
`agent` image built us

[2021-03-08 11:28] jidemoski opened #1437 "How to upgrade kfserving in kubeflow1.2"
/kind bug

I try to upgrade kfserving from **v0.4.0 to 0.5.0**
1. I delete kfserving configure from kfctl_istio_dex.v1.2.0.yaml and update
2. I deploy  kfserving0.5 by wget kfserving yaml
3. I entry my notebook and install kfserving==0.5.0
4. I execute this code
[code]
5. this code return error:
[code]
**but I can use it deploy my inferenceservice before I upgrade.**

How to upgrade kfserving that

[2021-03-08 14:02] romeokienzler commented on #1389
@yuzisun is there a way to inject the storage initializer into the control plane namespace?

[2021-03-08 16:29] julianmack opened #1439 "CommandException: No URLs matched: gs://kfserving-examples/models/mnist"
/kind bug

I would like to run the kafka mnist example but when I run:
[code]
As per the readme, I get
[code]

**What did you expect to happen:**
I expected to be able to download the model checkpoint.

[2021-03-09 01:21] #1426 closed

[2021-03-09 02:02] mlegore opened #1440 "x509: certificate is not valid for any names, but wanted to match kfserving-webhook-server-service.kfserving-system.svc"
/kind bug

**What steps did you take and what happened:**
Installed istio, knative, and certificate-manager (see versions below)
Installed kfserving using readme instructions for a standalone install

While installing kfserving in GKE I was testing the installation with an example model and ran
[code]

The result was:

[code]

**What did you expect to happen:**
I expected the model to be created i

[2021-03-09 02:48] yuzisun commented on #1437
@pvaneck

[2021-03-09 02:51] yuzisun commented on #1439
@julianmack it should be `gs://kfserving-examples/models/tensorflow/mnist`

[2021-03-09 06:11] chinmay22897 opened #1442 "Changing the Resource allocation for containers in predictor"
/kind question

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Is there any way to change the resource allocation for the containers, as when I try to do it by setting Resource spec in my yaml file, they change back to this when containers are created
`
Resources:
      Limits:
        Cpu:     1
        Memory:  2Gi
      Requests:
        Cpu:

[2021-03-09 17:56] mlegore commented on #1440
This was due to accidentally setting the port for the webhook from 9443 to 8443

[2021-03-09 17:56] #1440 closed

[2021-03-09 22:25] pvaneck commented on #1437
Something may be missing in your install for KFServing depending on which YAML you used. The KFServing install for integration with Kubeflow is a bit different than the standalone KFServing install. There is currently a PR (https://github.com/kubeflow/kfserving/pull/1424) for fleshing out the kubeflow overlay. With this PR, you could do `kustomize build config/overlays/kubeflow | kubectl apply -f

[2021-03-10 15:49] #1422 closed

[2021-03-11 07:54] jidemoski commented on #1437
@pvaneck You are right, I try to apply the some kfserving file in  kubeflow 1.2, it can run.
but have a new problem, when I describe the inferenceserving, it can't Ready, the tip is
craft         Unknown          100                              craft-predictor-default-zstwg   12h

[2021-03-11 08:04] jidemoski opened #1447 "The Inferenservices can't working properly!"
/kind bug

**What steps did you take and what happened:**
When I deploy a isvc, the ksvc is work properly, but isvc tip not ready, the error is
NAME    URL   READY     PREV   LATEST   PREVROLLEDOUTREVISION   LATESTREADYREVISION             AGE
craft         Unknown          100                              craft-predictor-default-zstwg  12h

the ksvc status is:
NAME                      URL

[2021-03-11 08:27] jidemoski opened #1448 "The Inferenservices can't working properly!"
/kind bug

**What steps did you take and what happened:**
When I deploy a isvc, the ksvc is work properly, but isvc tip not ready, the error is
NAME    URL   READY     PREV   LATEST   PREVROLLEDOUTREVISION   LATESTREADYREVISION             AGE
craft         Unknown          100                              craft-predictor-default-zstwg  12h

the ksvc status is:
NAME                      URL

[2021-03-11 10:15] yanniszark commented on #1376
Resolved in https://github.com/kubeflow/kfserving/pull/1424

[2021-03-11 10:15] #1376 closed

[2021-03-12 01:39] #1333 closed

[2021-03-12 01:41] yuzisun commented on #1448
That looks like your load balancer issue

[2021-03-12 01:41] yuzisun commented on #1447
dup of https://github.com/kubeflow/kfserving/issues/1448

[2021-03-12 01:41] #1447 closed

[2021-03-12 01:55] jidemoski commented on #1448
@yuzisun I Loadbalancer can access, I don't think so.

[2021-03-12 02:21] raffaelespazzoli opened #1451 "[storage-initializer] add support for aws sts"
/kind feature

**Describe the solution you'd like**
currently the only understood AWS credentials are the following environment variables:
AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY.
Another common and more secure method of authenticating a connection in kubernetes is to use STS federation and kube projected token. The approach is described here[1]. All standard aws clients understand this approa

[2021-03-12 21:08] abchoo opened #1453 "Alibiexplainer python test requesting url not found"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Run `pytest alibiexplainer/tests/test_anchor_images.py`

**What did you expect to happen:**
Test to pass

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
I believe that the explainer's dataset location has been changed. My PR fa

[2021-03-12 22:25] maganaluis commented on #923
We are using a custom SDK which requires Azure Storage Blob ```12.1.0``` within a custom Transformer. I don't see a workaround this. Is there a reason why not to upgrade it? Otherwise we can create a PR?

[2021-03-12 22:32] yuzisun commented on #923
@maganaluis yes please!

[2021-03-13 15:45] #1453 closed

[2021-03-15 18:21] HassanOuda commented on #1419
The only thing i noticed is networking-istio restarted 178 times because of OOMKilled. I tried increasing it to 900Mi memory limit but same issue. Now its running without crashing.

[2021-03-16 01:54] yuzisun opened #1457 "Broken links in the KFServing repo"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_

[2021-03-16 02:27] HassanOuda commented on #1419
Got it to work by setting networking-istio deployment memory limit to 2GB.

[2021-03-16 02:27] #1419 closed

[2021-03-16 03:20] pvaneck commented on #1437
FYI,  https://github.com/kubeflow/kfserving/blob/master/install/v0.5.1/kfserving_kubeflow.yaml was added recently and should be applied when installing with Kubeflow. I am wondering if you applied the `kfserving.yaml` file which has the kfserving ingress gateway configured to the Knative gateway instead of the Kubeflow gateway.

[2021-03-16 06:06] theofpa commented on #1457
/good-first-issue

[2021-03-16 08:51] PatrickGhosn commented on #1336
I would like  to know that as well. For internal cluster only traffic, the local gateway is more than enough.

[2021-03-16 14:26] shydefoo opened #1459 "Cannot deploy KFServing locally [Development]"
/kind bug

**What steps did you take and what happened:**
* ran `make deploy-dev` to deploy kfserving to local k8s cluster
* `kfserving-controller-manager` pod cannot start successfully, see `containerStatuses` below:
[code]

**What did you expect to happen:**
* `kfserving-controller-manager-0` pod to start successfully

**Anything else you would like to add:**
* `ko` version: tried both `0.6.2` &

[2021-03-16 15:01] PatrickGhosn opened #1460 "Disabling the Istio Ingress gateway will result in calls to the knative local gateway to timeout."
/kind bug

**What steps did you take and what happened:**
We used the below istio-minimal-operator.yaml install with the ingress gateway disabled.
[code]
We also configured knative to use the `svc.cluster.local` domain.

When we run a call from inside the cluster, the call fails and times out.
[code]

**What did you expect to happen:**
For calls to the model using the local domain to work.

**Anyt

[2021-03-16 16:10] yanniszark opened #1461 "KFServing release process"
/kind feature

Opening this issue to figure out the release process for KFServing manifests.
Related: https://github.com/kubeflow/katib/issues/1466

KFServing wants to release manifests, in its various releases. Now that manifests live inside upstream app repos, the final result should be committed in this repo, not kubeflow/manifests. In this issue, I will describe a procedure to release manifest

[2021-03-16 16:44] metaphor opened #1462 "Storage initializer download tar.gz or zip from uri with query params fails"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. actually i am using Seldon with KFServing Storage Initializer
2. use v0.5.0 storage initializer image
3. specify storage uri with query params, eg, http://foo.bar/model.tar.gz?Signature=kewliewu
4. the storage initializer will raise error , expecting Content-Type:application/octet-st

[2021-03-16 19:24] abchoo commented on #1459
Could you try updating your kfserving/hack/image_patch_dev.sh overlay so the kfserving-controller-manager's command is - /ko-app/manager?

Ie:
[code]

I had a similar issue and that fixed it for me.

[2021-03-16 23:41] pvaneck commented on #1461
I think this should work fine. I believe KFServing already follows a similar process for making release branches and tags. The only thing we need to do in each release branch before doing a git tag is updating the necessary image tags in https://github.com/kubeflow/kfserving/blob/master/config/configmap/inferenceservice.yaml and https://github.com/kubeflow/kfserving/blob/master/config/default/mana

[2021-03-17 01:11] shydefoo commented on #1459
@abchoo yep that worked for me as well, thanks!

[2021-03-17 01:11] #1459 closed

[2021-03-17 08:20] daganida88 opened #1466 "Can't set max batch size when using string-model-config = false"
/kind feature
I need to manage hundreds of models and I want triton to create a config file for me each time I deploy a new model.
The problem that it is always set the max_batch_size property to 1, which then causes inference calls to fail because I am trying to make an inference call with a batch size that is greater than one.
Do I have a way to tell Triton what is the desired max batch size?
Or

[2021-03-17 14:16] butzist opened #1467 "Duplicated revisions"
/kind bug

When creating a new inference service, two revisions are created in the associated knative service.

**What steps did you take and what happened:**
Create inference service with the spec as seen below.

**What did you expect to happen:**

Single knative service created with single revision which scales to zero after a few minutes

**Anything else you would like to add:**

Inference serv

[2021-03-17 14:47] shydefoo commented on #1427
Can I raise a PR for this?

[2021-03-18 00:58] yuzisun commented on #1466
/cc @deadeyegoodwin

[2021-03-18 00:59] yuzisun commented on #1427
@shydefoo that would be great!

[2021-03-18 05:21] abchoo commented on #1442
Hey @chinmay22897, are you trying to change the agent resources in the inference service yaml?

If so, I was able to change my resource allocation by doing the following:
1. Create the following inference service yaml
[code]
2. Deploy the inference service
[code]
3.  Modify the inference service
[code]
4. Redeploy the inference service
[code]
This changed the agent container resource. Hopefully th

[2021-03-18 06:47] chinmay22897 commented on #1442
@abchoo
For the following yaml file-
[code]
I get this error on my prediction pod-
[code]

But when I remove the resource block from the containers, it works normally. That is why I am not sure why the error in only this case. Same case with version v1aplha2.

[2021-03-18 08:11] chinmay22897 commented on #1442
@abchoo My bad the error is not related entirely to resource allocations, anyways I was able to do the custom resource allocation now with both v1beta1 and v1alpha2. Thanks for the input.

[2021-03-18 08:30] butzist commented on #1467
Updated description after resolving the issue with deployments not scaling down to zero (it was a knative configuration issue)

[2021-03-18 09:02] butzist opened #1468 "Cluster-local InferenceService should not require ingressGateway"
/kind bug

**What steps did you take and what happened:**

When creating an `InferenceService` with label `networking.knative.dev/visibility: cluster-local`, kfserving still requires ingressGateway and ingressService to be configured.

**What did you expect to happen:**

Only localGateway and localGatewayService should be required. Optimallym those should also be optional, if all traffic is expect

[2021-03-19 01:03] #1462 closed

[2021-03-19 06:33] chiragjn commented on #773
Hello, I read through the [multi-model proposal ](https://docs.google.com/document/d/11qETyR--oOIquQke-DCaLsZY75vT1hRu21PesSUDy7o/edit#heading=h.t0fda51n72wj) and since I can't access the voting discussion, I was wondering why 1.3 was chosen over option 2.

I am  excited about phase 2 on the roadmap and had a few questions:
1. If and when "custom" framework support will be added, will all such Tra

[2021-03-19 12:11] PatrickGhosn opened #1474 "Latest ready inference service is showing the none working update"
/kind bug

**What steps did you take and what happened:**
-Update a working existing model with a new inference revision (patch)
-The new inference revision crashes with an error such as `ReconcileIngressFailed`
-The inference service is incorrectly updated with having the nonworking revision as the latest Ready revision.

**What did you expect to happen:**
The latest Ready revision to be the one

[2021-03-19 19:52] yuzisun commented on #1474
@PatrickGhosn What's the status of the inference service, the revision status is separate from the routing status. It seems like that the knative controller is not able to call the istiod webhook?

[2021-03-19 20:02] yuzisun opened #1479 "Create KFServing package_model API"
/kind feature

**Describe the solution you'd like**
Currently KFServing supports model servers MLServer, Tirton, TFServing, TorchServe, KFServer, they all each expect slightly different model repository layout, it would be nice to create a unified model packaging API to abstract away model server specific storage layout. When user calls this API to package the model then they should be able to ser

[2021-03-19 20:43] PatrickGhosn commented on #1474
@yuzisun yes. I simulated a crash from the firewall by blocking the main node in a private gke cluster. I was trying to test out what would happen if a deployment update failed.

After some testing, the good news is that calls to the inference service was routing to the running revision correctly.

So it looks like only the issue is that the `LatestReady` was showing the none ready version when th

[2021-03-19 21:09] yuzisun commented on #1474
@PatrickGhosn The revision status is correct, in this case if you check `kubectl get revisions` the revision status should be reported as true but `kubectl get routes` should show the status as false, knative service status aggregates the revision status and routing status so it shows false there.

[2021-03-19 21:21] yuzisun commented on #1467
@butzist What do you mean by duplicated revisions here? By definition revision can not be duplicated..

[2021-03-20 00:55] #1006 closed

[2021-03-20 01:24] yuzisun commented on #1468
@butzist The configuration is global, there could be cases that some services which need to be exposed while some run in cluster.

[2021-03-20 01:30] yuzisun commented on #1460
@PatrickGhosn Are you running in Mesh mode with istio sidecar injected to the inference service?

[2021-03-20 05:41] butzist commented on #1467
@yuzisun I'm expecting to see only a single revision. Instead two (identical-looking) revisions are created for an InferenceService.

[2021-03-20 06:10] butzist commented on #1468
@yuzisun I configured KNative to create only cluster-local services and not use any ingress (via config-domain + config-istio). I would like to be able to configure KFServing similarly - or would it make sense that KFServing would use an ingress gateway while KNative does not?

[2021-03-20 08:56] yuzisun commented on #1467
@butzist This seems to be only happening with the latest knative version, will investigate.

[2021-03-20 13:05] butzist commented on #1467
@yuzisun Here's a diff of the two revisions:

[code]

[2021-03-20 13:05] butzist commented on #1467
Let me know if there is anything I can help with here

[2021-03-20 16:58] theofpa commented on #1408
tested combinations:
* k8s-1.17, istio-1.7.1, knative-0.20.0, #1334
* k8s-1.19, istio-1.8.2, knative-0.21.0, #1482

[2021-03-20 17:23] cliveseldon opened #1483 "Make v1beta1 custom predictors have configurable protocol"
/kind feature

**Describe the solution you'd like**

At present custom predictors return a hardwired v1 protocol

[code]

Similar to the STORAGE_URI envVar we should allow a PROTOCOL_VERSION envVar to allow this to be configurable.

[2021-03-20 21:36] #1467 closed

[2021-03-20 23:42] yuzisun commented on #1371
@adamkgray I think I have figured out that the top level virtual service should use the `mesh` gateway instead for the mesh-only setup.

[2021-03-22 15:56] crmne commented on #1386
stopped using EKS

[2021-03-22 15:56] #1386 closed

[2021-03-23 02:27] wfangchi opened #1488 "Empty fields (except name) in the returned metadata when using mlserver-sklearn in KFServing"
/kind bug

(filed in MLServer repo too but it seems it is related with KFServing's setup)

**What steps did you take and what happened:**
I was trying to follow the steps listed in https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/sklearn/v2 to setup an InferenceService supporting V2 protocol. The infer interface works fine. However when I tried to retrieve the Model MetaData

[2021-03-23 09:03] yuzisun commented on #1488
/assign @adriangonz

[2021-03-23 09:08] ajinkya933 opened #1489 "kfserving pytorch demo fails"
/kind bug

**What steps did you take and what happened:**
I have installed kfserving on minikube. I want to run pytorch model as shown in this kfserving tutorial: https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2/pytorch

I have managed to apply the yaml file:
[code]

After applying yaml I see this:

[code]
Now that I have cleared these 2 things I do:
[code]

But In response

[2021-03-23 09:22] yuzisun commented on #1489
@ajinkya933 Did you follow [this](https://github.com/kubeflow/kfserving#determine-the-ingress-ip-and-ports) to get the `INGRESS_HOST` and `INGRESS_PORT` ?

[2021-03-23 14:58] mvddooren opened #1490 "Use path on fileshare for model serving"
/kind feature

**Describe the solution you'd like**
We're using Azure File Shares to store our models. Previously, whilst using TF serving it was possible to specify a MODEL_BASE_PATH, MODEL_NAME and MODEL_VERSION to target a specific model on this fileshare.

As far as I can tell this is not possible using kfserving. The only Azure supported solution is blobs or pvc.

In brief: The possibility to

[2021-03-23 19:35] Soot3 opened #1491 "Catboost serving"
Good day. Can I serve a catboost model with kfserving? If yes. Can you point me to an example or explain the process. Thank you

[2021-03-24 02:04] navneet1075 opened #1492 "webhook validators endpoint not getting called for kfserving 0.5.1 with v1alpha2 inferenceservice"
/kind bug

**What steps did you take and what happened:**
create a inferenceservice with v1alpha2 revision.

inferenceservice was not created successfully.

i have installed kfserving version 0.5.1 . what i have observed that sporadically the webhook validator endpoint is not called immediately.

i dont see the conversion logs properly as well .
ideally after the conversion of the v1alpha2 inferen

[2021-03-24 08:01] molejnik-mergebit commented on #1151
Same issue here. It started happening after `kubectl rollout restart deployment/sklearn-xxxx-predictor-default-gvhxf-deployment `. Only once I deleted and re-created `inferenceservice` all worked fine.

[2021-03-24 09:20] ajinkya933 commented on #1489
Thanks that helped. Complete solution is here to my issue:

[code]

Also here are complete  steps taken: https://github.com/ajinkya933/Kubeflow-Serving

[2021-03-24 09:20] #1489 closed

[2021-03-24 10:20] adriangonz commented on #1488
Hey @wfangchi,

Following up from the answer on the MLServer issue (https://github.com/SeldonIO/MLServer/issues/145), the current approach for metadata expects that the user fills in a `model-settings.yaml` file outlining these details (i.e. `platform`, `inputs`, `outputs`, etc.). This file must live in the same remote bucket where the model weights are.

At the moment, I don't think it's possible

[2021-03-24 11:26] daganida88 commented on #1466
???

[2021-03-24 11:28] daganida88 commented on #1466
guys someone told me that if the content of my config.pbtxt will be :
max_batch_size=8 for example, it will know how to autofill it so I am closing this.

[2021-03-24 11:28] #1466 closed

[2021-03-24 20:47] iptizer commented on #1451
#831  Should solve this.

PR => #1472

[2021-03-25 00:02] haksunLee opened #1497 "No response when calling Inference Service"
/kind question

# Result

When called Inference service, it stops without response.

### When calling the service with Curl
[code]

### When calling the Inference service through the Web UI
[code]

# Object Status

#### single node

[code]

#### Istio
[code]

#### Object
[code]

#### knative inferenceservice
[code]

#### Custom gateway
[code]

#### Knative Config
[code]

# Execution environment
[c

[2021-03-25 00:11] haksunLee commented on #1497
sss

[2021-03-25 00:36] haksunLee commented on #1497
Inference Server is called through a custom gateway, but there is no response. Am I wrong setting or wrong calling method?

[2021-03-25 05:47] haksunLee commented on #1497
When called with the option sidecar.istio.io/inject: "false" in inferenceservice annotations, it worked normally. However, this is not the normal way. Do you know another solution?

[2021-03-25 11:05] edenbuaa opened #1499 "[feature] a grpc sample request"
Can the kfserving support grpc and http invoke in one inference service?  Is there a sample?

[2021-03-25 11:40] yuzisun commented on #1499
@edenbuaa No, currently it is not possible due to knative limitation https://github.com/knative/serving/issues/8471

[2021-03-25 20:04] danielricks opened #1500 "Differences between yaml syntax v1alpha2 and v1beta1 (for NodeSelector support)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I was attempting to add a NodeSelector to my InferenceService yaml file in v1alpha2, but I was getting this error:

`error: error validating "/home/dan/Documents/project/ai-service/tools/dist/gpt-pvc-inference-service-333.yaml": error validating data: [ValidationError(InferenceService.s

[2021-03-25 20:09] yuzisun commented on #1500
@danielricks default level has been removed, you can check the api doc [here](https://github.com/kubeflow/kfserving/tree/master/docs/apis/v1beta1)

[2021-03-25 20:11] #1499 closed

[2021-03-25 20:18] danielricks commented on #1500
When I try it without "default", it throws an validation error on "parallelism". Has that been removed as well?

[2021-03-25 20:20] yuzisun commented on #1500
It is renamed to `containerConcurrency` in v1beta1 per [release note](https://github.com/kubeflow/kfserving/releases/tag/v0.5.0)

[2021-03-25 20:24] danielricks commented on #1500
Ah, thanks. It looks like the "custom" tag doesn't work either. Is there a new keyword for specifying a container and its resources?

[2021-03-25 20:26] yuzisun commented on #1500
container is changed to be array and `custom` tag is removed. check [this example)(https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/transformer/torchserve_image_transformer/transformer.yaml)

[2021-03-25 21:09] danielricks commented on #1500
Thanks. Is there a way to specify what port the containers will use?

[2021-03-26 00:20] yuzisun commented on #1500
Yes, check [this](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/tensorflow/grpc.yaml#L9), by default it exposes the HTTP port 8080, if you are using a different port or gRPC you will need to explicitly expose the port on the spec.

[2021-03-26 02:34] wfangchi commented on #1488
Thanks for the response @adriangonz ! Yes it does answer my question. I figured the same after digging into MLServer's code.

I was hoping there might be some approach/code to infer such things from the model instance itself without users' manual inputs.

[2021-03-26 15:09] #1500 closed

[2021-03-26 15:43] kimwnasptd opened #1504 "web-app: Implement a GitHub action for building the web app"
/kind feature

**Describe the solution you'd like**
We will need to add a new GitHub action, to the list of [existing workflows](https://github.com/kubeflow/kfserving/tree/master/.github/workflows), for building the InferenceServices web app #1327. The action will first test that the image can be built and then it will publish it.

My main question about this is what `$IMAGE_NAME` should we use in

[2021-03-26 16:13] kimwnasptd opened #1505 "web-app: Add manifests for launching and exposing the app"
/kind feature

**Describe the solution you'd like**
The web app #1327 does not currently have any manifests for users to try it out. We should add manifests that:
1. Expose the application as part of Kubeflow
2. Expose the application as standalone
3. Align with the new release process recommended by the Manifests WG and already applied in KFServing for 1.3

**Anything else you would like to add:*

[2021-03-26 16:47] kimwnasptd opened #1506 "web-app: Add unit tests"
/kind feature

**Describe the solution you'd like**
We should provide unit tests to test both the backend and the frontend to ensure the distinct components of the app are working as expected

**Anything else you would like to add:**
I will start working on this right after the first iteration of the app's code is merged #1328

/assign @kimwnasptd

[2021-03-26 17:24] kimwnasptd opened #1507 "web-app: Add e2e tests"
/kind feature

**Describe the solution you'd like**
We should add e2e tests to ensure the web app is compatible with the changes in the `InferenceService` CRD. I believe these could be some good first e2e tests to start:
* Test that the app can be deployed. We can just test the standalone mode and not expect any other Kubeflow components.
* Test that the backend's route for creating `InferenceServ

[2021-03-26 22:55] #1427 closed

[2021-03-27 00:14] #1483 closed

[2021-03-27 00:24] #1089 closed

[2021-03-29 15:35] #1041 closed

[2021-03-30 09:58] rtrobin opened #1514 "How to collect all scaling pods info in inference service?"
I'm new to kfserving. I have deployed a custom docker service through kfserving, and it works fine in past few days. Now I want to collect all pods info including the auto scaling ones. Could anyone share any suggestions?

First of all, all pods info is needed. I'm focus on following metrics: the life cycle of all pods, the average resource usage for all pods, etc. Further more, is it possible tha

[2021-03-30 17:08] msalehiNV opened #1515 "Broken link to documentation on using Triton in KFServing"
We have a few organizations asking how to use Triton Inference Server within KFServing, but I can't find any documentation to refer them to

I noticed the hyper link on the Kubeflow-Triton docs is broken: https://github.com/kubeflow/kfserving/tree/master/docs/samples/triton

Can you please refer to me where we can find the latest docs / instructions?

[2021-03-30 17:15] yuzisun commented on #1515
@msalehiNV it is https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/triton

[2021-03-31 05:17] markwinter commented on #1497
I'm having this same problem with a Kubeflow 1.2 setup.

I created a separate Istio Ingress Deployment, Service, Gateway.

Updated KFServing with https://github.com/kubeflow/kfserving/blob/master/install/v0.5.1/kfserving_kubeflow.yaml and edited the ingress options to point to my new Service+Gateway.

And I edited knative `config-istio`, kubeflow `kfserving-config` `inferenceservice-config` config

[2021-04-01 03:08] Ark-kun opened #1517 "Cannot deploy v0.5.1 on GKE 1.18: no matches for kind "Certificate" in version "cert-manager.io/v1alpha2""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

I expect KfServe to deploy

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version: --
- Knative Version: --
- KFServing Version: v0.5.1
- Kubeflow version

[2021-04-01 11:17] yuzisun commented on #1517
@Ark-kun Did you install cert manager ?

[2021-04-02 00:00] Peilun-Li commented on #1397
Hey @yuzisun has that feature be supported (to customize those constant prefixes/suffixes) or is there a timeline? Thanks!

[2021-04-02 00:46] #1338 closed

[2021-04-02 19:51] #1435 closed

[2021-04-02 21:50] yuzisun commented on #1468
@butzist I have been looking into [networking istio code](https://github.com/knative-sandbox/net-istio/blob/main/pkg/reconciler/ingress/config/istio.go#L142), I do not see how knative does not use ingress gateway. The only difference is that knative is defaulting it in code while we set the default in configmap.

[2021-04-03 08:51] ajinkya933 opened #1519 "Unable to serve on AWS S3"
/kind bug

**What steps did you take and what happened:**

I want to serve a pytorch model using kf serving on AWS (i am following this tutorial: https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2/pytorch). Here are my steps:

s3_secret.yaml
[code]

[code]

You then set the serviceAccountName on the KFService

pytorch_serve.yaml

[code]

[code]

I dont get any URL generated in

[2021-04-03 23:23] yuzisun commented on #1519
@ajinkya933 The s3 endpoint should be the aws url which by default is `http://s3.amazonaws.com` not the bucket path

[2021-04-04 07:23] ajinkya933 commented on #1519
@yuzisun

I have made that change still I get no url generated

on S3 I have model in :

[code]

where should the model be :

should it be in this ?
[code]

[2021-04-04 15:49] daganida88 commented on #1151
any updates? experiencing the same issue with KFServing 0.5.

[2021-04-04 16:41] ajinkya933 commented on #1519
Following up I tried both :
[code]
and
[code]

but the url is still not generated
if this can help here are pod logs:
[code]

[2021-04-04 17:48] daganida88 opened #1520 "All traffic goes to one gpu pod while other pods stay idle"
/kind bug

**What steps did you take and what happened:**

1. I ran 2 pods, each one requesting 1 gpu that are related to the same inference service and sent a lot of requests.

**What did you expect to happen:**
1. I expected to see the load spread to both of my pods, but instead it all traffic goes to one pod.

**Anything else you would like to add:**
Running kfserving 0.5 installation without k

[2021-04-04 18:07] yuzisun commented on #1519
@ajinkya933 Can you help dump the full pod yaml of the predictor?
`kubectl get pods pytorch-s3-cifar10-005-predictor-default-glcql-deployment-58xpz_default -oyaml`

[2021-04-04 18:08] yuzisun commented on #1519
Also did you specify with the right s3 credential?

[2021-04-04 19:01] ajinkya933 commented on #1519
@yuzisun  please see attached
[005.zip](https://github.com/kubeflow/kfserving/files/6255167/005.zip)

Yes I have correctly specified s3 credentials according to this template:

[code]

[2021-04-04 20:40] yuzisun commented on #1519
@ajinkya933 the following envs are wrong, I think you need to recreate the isvc as the change is not taking effect
[code]
Also make sure your secret is base64 encoded, please check my [updated doc](https://github.com/kubeflow/kfserving/blob/7101beec5d753852ae7ee2d69a6b813bbf814653/docs/samples/storage/s3/README.md).

[2021-04-05 04:39] ajinkya933 commented on #1519
@yuzisun I tried the updated doc. I created a new secret and a service account:
[code]
After that I applied `kubectl apply -f pytorch_serve.yaml`

where

pytorch_serve.yaml is :
[code]

 here I get new error now.

With the changed documentaition I am able to download the model from s3 to pod :
[code]

But, however there is another error:
[code]

Any idea whats causing it ?

[2021-04-05 06:02] yuzisun commented on #1519
@ajinkya933 I think it is missing the model class name, check the example [here](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1alpha2/pytorch/pytorch.yaml#L10)

[2021-04-05 06:54] ajinkya933 commented on #1519
Its unable to read the model somehow:

[code]

I have checked the same on gcp (open source bucket). What can be reason for this jit.load() error ?

[2021-04-05 11:19] yuzisun commented on #1519
Is this your own torchscript model and the one worked is from the KFServing example bucket? In Kubeflow 1.2 the pytorch model server does not support torchscript model only the eager model, you would need to use TorchServe which was added in KFServing 0.5.

[2021-04-05 11:33] ajinkya933 commented on #1519
I noticed it, your solution generating a url (I downloaded model as it is from google kfserving example bucket) and its creating a url.
Here is a status after I added missing model class name:

[code]
Now, I try to send curl request but cannot get a predicted response:

[code]
Any pointers how to fix it ?

[2021-04-05 12:14] ajinkya933 commented on #1519
I fixed it corect SERVICE_HOSTNAME=$(kubectl get inferenceservice s3-test-004 -o jsonpath='{.status.url}' | cut -d "/" -f 3)

Thanks for all your patient efforts and apt followups :100:

[2021-04-05 12:14] yuzisun commented on #1519
Are you passing the wrong host header `pytorch-cifar10.default.example.com`? it should be `s3-test-004.default.example.com` from what you posted.

[2021-04-05 12:15] ajinkya933 commented on #1519
Yup fixed it thanks alot :1st_place_medal:

[2021-04-05 12:15] #1519 closed

[2021-04-05 17:40] vegoutha opened #1523 "Need details on KFS V2 based GRPC method for inference"
We have a few questions specific to KFS V2 based GRPC method for inference.

1. Is KFS V2 also meant to support tabular data based payload or only for tensor based ML/DL workload ?

2. As KFS V2 GRPC support only certain data types - https://github.com/kubeflow/kfserving/blob/master/docs/predict-api/v2/required_api.md#tensor-data-types. Is it recommended to extend KFS v2 GRPC protocol to support t

[2021-04-05 17:42] animeshsingh commented on #1523
thanks @vegoutha

cc @deadeyegoodwin @yuzisun for any feedback/comments

[2021-04-05 17:54] deadeyegoodwin commented on #1523
String datatype seems to already be directly supported by BYTES, https://github.com/kubeflow/kfserving/blob/master/docs/predict-api/v2/required_api.md#tensor-data-types
How does Array datatype differ from Tensor?

[2021-04-06 18:25] vegoutha commented on #1523
Thanks @deadeyegoodwin.

I understand that String is directly supported using Bytes. For ML Server, we need to somehow distinguish between Bytes and actual String to construct the scoring input accordingly.
**For example:**
Model is expecting datatype STRING. As KFS V2 doesn't support STRING in InferTensorContents, we have to convert the data from STRING to BYTES and populate in "bytes_contents".

[2021-04-06 20:54] ReggieCarey commented on #1523
This mapping problem sounds like a great fit for a KNative Service. Once deployed it consumes zero resources until called upon but can scale as necessary. A service to map between GRPC versions for example.

Sent from my iPhone

[2021-04-06 23:06] wengyao04 opened #1524 "The ingress virtual service is not reconciled when updating annotations/labels of inference service"
/kind bug

The ingress routing virtual service is not reconciled when updating annotations/labels of inference service. The ingress reconciler only compares the spec but not the annotation/labels
https://github.com/kubeflow/kfserving/blob/master/pkg/controller/v1beta1/inferenceservice/reconcilers/ingress/ingress_reconciler.go#L342

Options

**What steps did you take and what happened:**
[A clear a

[2021-04-07 12:47] yuzisun commented on #1520
@daganida88 Can you provide more details? It is very unlikely it is only hitting one pod if both pods are in ready state.

[2021-04-07 14:18] #1524 closed

[2021-04-07 16:00] gabrielecastellano commented on #1348
I think I am facing the same error. The deployment of the sklearn-iris example fails with "RevisionFailed", and I get this message in the inferenceservice description:

`Revision "sklearn-iris-predictor-default-djllv" failed with message: Unable to fetch image "gcr.io/kfserving/sklearnserver:v0.5.0": failed to resolve image to digest: Get "https://gcr.io/v2/": dial tcp 108.177.126.82:443: i/o time

[2021-04-07 23:05] deadeyegoodwin commented on #1523
The datatypes are extensible so in general it is ok to have that kind of extension. The handling of extensions is explained in the document and Triton has several such extensions (but not related to datatypes). I don't understand why you need array and vector when those seem the same as 1-dimensional tensors... but that is up to you. If you want these new datatypes to be considered as official ext

[2021-04-07 23:23] animeshsingh commented on #1523
@vegoutha can you produce a more detailed spec, outlining the strong need(why) to do this, and details of specs  @deadeyegoodwin is asking here (What does a "timestamp" datatype mean? Or "date"? What is the format? What is the binary representation..)

[2021-04-08 07:53] adriangonz commented on #1523
My impression is that defining explicitly more complex types (e.g. timestamp or date) at the protocol-level could lead into a 2nd problem of supporting all the potential formats for each of these types (i.e. epoch, ISO8601, etc.). As we go into other "rich types", this problem just grows massively. If we think about it, for simple types like signed integers, we currently have 4 different types at

[2021-04-08 08:36] vegoutha commented on #1523
@adriangonz How you are planning to support Spark runtime in ML server that includes tabular based payload as shown below ?

For example: Here is spark model schema format
[code]

How you are trying to accommodate the input data for above data types using KFS V2 GRPC ?

As mentioned in the  MLServer design doc(https://docs.google.com/document/d/1C2uf4SaAtwLTlBCciOhvdiKQ2Eay4U72VxAD4bXe7iU/edit#hea

[2021-04-08 09:09] gabrielecastellano commented on #825
Has this been addressed?

[2021-04-08 10:41] adriangonz commented on #1523
Hey @vegoutha, in my view the best practice to encode tabular data is to treat each column as a separate "input head" (i.e. a separate entry on the `inputs` array of the payload). This would give you the best control over your inputs, in terms of shape, documentation (i.e. metadata / model signature), data types, etc.

Following your example, you could do something like:

[code]

[2021-04-08 11:08] gabrielecastellano commented on #1348
I confirm the error is exactly the same. This is the log of my storage-initializer container:

[code]

I have tried injecting the env variables for the proxy through `kubectl edit` but such container is not listed in the deployment yaml. It seems it is generated from the metadata annotation `internal.serving.kubeflow.org/storage-initializer-sourceuri: gs://kfserving-samples/models/sklearn/iris`.

[2021-04-08 18:13] ulrikpl commented on #1089
I am new to KFserving so please excuse my most likely ignorant questions.

Following quote is from the KF serving docs themselves:

`If you are looking to use PodSpec fields such as nodeSelector, affinity or tolerations which are now supported in the KFServing v1beta1 API spec, this requires Knative v0.17.0+, and you need to turn on the corresponding feature flags in your Knative configuration.`

[2021-04-10 11:45] #831 closed

[2021-04-10 11:48] #1451 closed

[2021-04-10 12:00] yuzisun commented on #1246
@adamkgray We have now switched over to boto3 which should resolve your issue, see #1472

[2021-04-10 12:00] #1246 closed

[2021-04-10 12:17] ReggieCarey commented on #1451
How does this decision affect users that do not use AWS infrastructure?  Why are proprietary solutions creeping into an open source project?

Sent from my iPhone

[2021-04-10 12:21] ReggieCarey commented on #831
Is this a vendor specific proprietary solution creeping into an open source offering?

Sent from my iPhone

[2021-04-12 01:01] yuzisun commented on #1517
please check the [prerequisites](https://github.com/knative/pkg/issues/2094)

[2021-04-12 01:01] #1517 closed

[2021-04-12 01:10] narfian commented on #942
Hello @vishal-kr-yadav !
I'm having the same problem as you.

Printing...
"error": "Failed to process element: 0 key: image_bytes of \'instances\' list. Error: Invalid argument: JSON object: does not have named input: image_bytes"

If you have solved the problem, can you share your experience?

[2021-04-12 10:05] axelborja commented on #369
Hello guys, any news on this one ?

[2021-04-12 14:41] daganida88 commented on #1520
Hi @yuzisun what can of details do you want?
Basically what happens is that in the first 10 seconds I am sending messages I see that both gpu are working. Afterwards I see the gpu utilization decreases to 0 and the other gpu is working on 99%.
![image](https://user-images.githubusercontent.com/22128504/114413081-578acf00-9bb6-11eb-8648-19eebfe0afa2.png)

[2021-04-12 20:16] Ark-kun commented on #1517
No. I guess I was a bit confused by the standalone installation method from the README.: https://github.com/kubeflow/kfserving#install-kfserving
`kubectl apply -f https://github.com/kubeflow/kfserving/releases/download/v0.5.1/kfserving.yaml`

So, KFServe requires both Cert manager and Istio...

[2021-04-13 07:51] vishal-kr-yadav commented on #942
sample code: that worked for me
Read an image from gcp or from anywhere but make sure you read as img_byte, then use the below encoding.
Prepare a json body, make sure your json body dont exceed the max limit, to avoid these, resize your image if your image size is above 1 mb.

encoded_string = base64.b64encode(img_byte).decode('utf-8')
request_body = json.dumps({"instances": [{"b64": encoded_stri

[2021-04-13 07:55] edenbuaa opened #1529 "gpu metrics collect"
**Environment:**

- Istio Version: 1.3.6
- Knative Version: 0.15.0
- KFServing Version: 0.4

I followed the [metrics installation](https://github.com/kubeflow/kfserving/tree/v0.4.0/docs/samples/autoscaling#autoscaling-customization) to install grafana. Where can I find the gpu metrics for inference service?

[2021-04-13 09:38] gabrielecastellano commented on #846
Is there any alternative that can be used on top of kfserving for implementing this behavior at the moment? I would just need a chain of models, instead of an arbitrarily complex graph.

[2021-04-13 13:31] javierdlrm opened #1530 "Model server response status code not propagated when using logger"
/kind bug

**What steps did you take and what happened:**

First, I deployed a tensorflow model following the sample [here](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/tensorflow/tensorflow.yaml). Making inference with a **valid** payload returns _200 OK_ and the corresponding predictions. Trying with an invalid payload (e.g replacing 'instances' with 'invalid' or using

[2021-04-13 14:37] yuzisun commented on #846
@gabrielecastellano For now you could create an inference service for each model and then write a python client to chain the HTTP calls.

[code]

[2021-04-13 15:35] gabrielecastellano commented on #846
Hi @yuzisun, thanks for your reply.
unfortunately, this solution would make the intermediate data go back to the client at every step, introducing unnecessary network latency.

[2021-04-13 16:16] yuzisun commented on #846
If you are looking all doing this on server side, you can take a look at triton's [ensemble](https://github.com/triton-inference-server/server/blob/master/docs/architecture.md#ensemble-models) solution if your models can fit on a single node.

[2021-04-13 17:34] #1520 closed

[2021-04-13 17:34] daganida88 commented on #1520
It works.. Not sure what has changed.

[2021-04-13 20:37] abchoo opened #1531 "Multiple goroutines access the same map in provider.go"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Deployed inference service
2. Deployed 2 trained models with s3 protocol

**What did you expect to happen:**
The files will be loaded normally as the first call to getProvider creates the S3 provider whereas the second call will use the already made one.

**Anything else you would lik

[2021-04-13 21:51] #1504 closed

[2021-04-14 12:23] jw-websensa opened #1534 "Tensorflow serving"
/kind feature

I am currently preparing serving for a tensorflow model which is using SCANN library.
As process of model training is automated through KF pipelines, builded model is stored on minio.
In that case I want to use tensorflow kfserving to be able to load model from this storage.
However, using SCANN with TFserving requires custom docker image, prepared by Google - [link](https://hub.doc

[2021-04-14 12:34] yuzisun commented on #1534
@jw-websensa this is possible today, on tensorflow spec you can pass the image field provided the assumption that startup arguments are still the same.

[code]

[2021-04-14 12:40] jw-websensa commented on #1534
Thank you @yuzisun, is it also possible from `v1alpha2` api?

[2021-04-14 15:01] yuzisun commented on #1534
@jw-websensa nope, only supported on v1beta1

[2021-04-14 15:55] LeBaronDean opened #1535 "Prometheus metrics for inferenceservice - which endpoints?"
Reading through the documentation here: https://github.com/kubeflow/kfserving/tree/master/docs/samples/metrics-and-monitoring, I've successfully set up prometheus metrics for some services. However, it is not clear from he documentation or the outputs what endpoint something like revision_app_request_latencies_count is recording.

For example in my server code I have a /ping and a /invoke...both c

[2021-04-14 18:55] ashvinmoro commented on #1086
Ran into this issue with v0.22.0. Deleting the secret did not recreate the certs.

[2021-04-15 06:18] edenbuaa commented on #1529
@yuzisun any suggestions?

[2021-04-16 03:19] timothyjlaurent opened #1536 "When using batcher in a custom inference service the the containerPort isn't respected"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

With that inference service deployed the queue proxy still tries to use port 8080

**What did you expect to happen:**
It should use port 500 as it's specified in the containerPort argument

**Anything else you would like to add:**
Making the server listen on port 8080 rescues th

[2021-04-16 19:05] #1530 closed

[2021-04-16 19:24] Hayyk opened #1537 "Auth Issue with flowers-sample tensorflow example"
/kind bug

Trying to make tensorflow example of kfserving to work (https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2/tensorflow)
[code]

kube describe inferenceservices.serving.kubeflow.org flowers-sample

[code]

kube describe routes.serving.knative.dev flowers-sample-predictor-default
[code]

kube describe ksvc flowers-sample-predictor-default
[code]

kube get svc
[code]

k

[2021-04-16 23:57] yuzisun commented on #1537
@pvaneck @animeshsingh this is IKS, any idea why the routing is not working?

[2021-04-16 23:58] #1534 closed

[2021-04-19 09:19] hsinhoyeh commented on #1537
hi there,

I got a similar issue when I run this [example](https://github.com/kubeflow/kfserving/blob/master/docs/samples/pipelines/kfs-pipeline.ipynb) on kubeflow 1.3 rc0.

so when I check logs from activator on knative-serving, it shows some RBAC issues:
[code]

but adding authorizationpolicy in kubeflow-user namespace is not working (I guess knative-serving are not enabled sidecar injection by

[2021-04-19 17:28] kimwnasptd opened #1540 "web-app: METRICS tab shown even if Grafana is not exposed in Kubeflow"
/kind bug

**What steps did you take and what happened:**
I launched the web app, alongside Kubeflow 1.3 RC, using the manifests from #1512 without [exposing Grafana](https://docs.google.com/document/d/1MaCqHeqd7NiP1nseWkzqqAntRr3PiEH7k_7WnKjQSPU/edit#heading=h.f8a7gznpw4dr) outside the cluster and I still saw a `METRICS` tab. The graphs had errors in them, since Grafana does not exist in my clust

[2021-04-19 20:03] wilbry opened #1542 "Update Sample config.properties"
/kind bug

**What steps did you take and what happened:**
I deployed a custom model using a config.properties similar to the example given at docs/samples/v1beta1/torchserve/bert/config.properties with a properly packaged `.mar` file. When a request was made, the kfserving-container showed an error when attempting to execute https://github.com/pytorch/serve/blob/7da9cb64024efaaf7a36366fab58893ddbd

[2021-04-19 21:02] #1540 closed

[2021-04-19 21:40] gaodan-fang commented on #951
i am facing the same issue on openshift with cluster version: `4.6.22` and kfserving version: 0.5.0-rc2`, does anyone has any thoughts?

[2021-04-19 22:04] gaodan-fang opened #1543 "sklearn-iris example doesn't have any related activity with Kfserving on Openshift"
Hi,

I installed kfserving following the tutorial on https://github.com/kubeflow/kfserving/blob/master/docs/OPENSHIFT_GUIDE.md#test-kfserving-installation
Then i tried to run the example sklearn-iris, after i apply the yaml from https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/sklearn/v1/sklearn.yaml

No activities or errors shown for the sample.
[code]
[code]
[code]

openshi

[2021-04-19 22:10] yuzisun commented on #1543
/assign @pvaneck

[2021-04-19 23:16] pvaneck commented on #1543
@gaodan-fang Can you do a `oc get po -n knative-serving`. I am wondering if the knative-serving pods are up.

I am currently going over the OpenShift install instructions intending on updating it, but ran into issues with permissions for knative related pods. Docs will hopefully be updated soon, but if you are running into `CreateContainerErrors`, the easiest way to get around the errors are to ru

[2021-04-20 02:20] unclerayray opened #1545 "Correct the DEVELOPER_GUIDE on patching the mutating webhook config"
/kind feature

**Describe the solution you'd like**
Update [the developer guide](https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#troubleshooting) and correct the patching instruction because it only goes around the issue. The real root cause is with the GCP firewall rule. It's by default denying the traffic from the GKE master CIDR so the webhook controller is not working

[2021-04-20 02:21] unclerayray commented on #568
I followed @yuzisun suggestion on the patch and it worked for me. However I later on ran into another issue where some of our workload pods could not be created successfully after we upgraded our k8s version from 1.15 to 1.17 on GKE. I raised a support ticket to google and they were very kind to point that our katib mutating webhook was not working properly due to a firewall issue. See [the linked

[2021-04-20 09:58] danishsamad opened #1546 "terminationGracePeriodSeconds fails in v1Beta1 InferenceService"
I get a validation error (shown below) when I specify terminationGracePeriodSeconds in the InferenceService yaml. It works fine if I remove this setting.

 **Warning  InternalError  16m (x22 over 87m)  v1beta1Controllers  fails to reconcile predictor: admission webhook "validation.webhook.serving.knative.dev" denied the request: validation failed: must not set the field(s): spec.template.spec.term

[2021-04-20 10:23] jw-websensa opened #1547 "Docs about using nodeSelector"
/kind feature

I am wondering if it is possible to set `nodeSelector` option for Tensorflow serving (or any other serving different that custom).
I found some information about this in some issues, but they were not very specific.
If it is possible, it would be great to include any example in docs.

[2021-04-20 11:27] yuzisun commented on #1546
it is not supported as it is not listed [here](https://knative.dev/docs/serving/feature-flags/), but  if you set the `timeout` field then `terminationGracePeriodSeconds` is set accordingly.

[2021-04-20 16:35] Sifat1998 opened #1548 "## :pill: CI failures summary and remediations"
## :pill: CI failures summary and remediations
As of commit 63fd50ff36 (more details [on the Dr. CI page](https://our.intern.facebook.com/intern/opensource/dr_ci/commit/167825833786582/63fd50ff36348975020ef14e7671988aff6c366c/)):

---
* **1/2** failures possibly[\*](https://code.facebook.com/ci/dr-ci-info/ "Currently, only CircleCI and GitHub Actions failures are distinguished as upstream failures

[2021-04-21 01:47] gaodan-fang commented on #1543
@pvaneck Thanks for point out that, that's exactly why the error happens. After i grant the permission, the sklearn-iris is successfully served  with status.
[code]

But then i ran timed out when i tried to make the prediction
[code]
Do you have any insights on it?

[2021-04-21 03:56] pvaneck commented on #1543
Hmm, what does `oc get svc istio-ingressgateway -n istio-system` show? Timeout might mean the port you are using isn't being listened on.

[2021-04-21 13:41] gaodan-fang commented on #1543
@pvaneck
[code]

[2021-04-21 17:30] ulrikpl opened #1551 "New model deployments are missing virtualServices"
/kind bug

**What steps did you take and what happened:**

Installed KFServing standalone cluster on GCP, as described below (note commands are copied from a Makefile I use for organising the code)

The problem is that I can only get a single prediction services to work. Any following prediction services have a virtualservice missing. I am unsure what component creates the virtual services and how

[2021-04-23 01:25] yuzisun commented on #1548
this looks like possible spam

[2021-04-23 01:25] #1548 closed

[2021-04-23 01:26] #1531 closed

[2021-04-23 23:47] yuzisun commented on #1300
@pvaneck Just want to confirm, this should be fixed already with Kubeflow 1.3 right?

[2021-04-24 00:17] #1515 closed

[2021-04-24 00:35] yuzisun commented on #1551
@ulrikpl can you dump more details with `kubectl get inferenceservices sklearn-iris -n iris -oyaml` ?

[2021-04-24 02:10] pvaneck commented on #1300
@yuzisun Yes, this can be closed. The v0.5.1  release is in the manifests repo currently, and that has the objectSelector.

[2021-04-24 05:47] #1505 closed

[2021-04-24 08:37] ulrikpl commented on #1551
[code]

It seems that editing the configmaps has something to do with this behavior.
patching configmaps "inferenceservice-config -n kfserving-system" and "config-domain -n knative-serving" as per makefile rules fix1_inferenceservice_configmap and fix2_configdomain_configmap resp. before deploying the inference service reproduces the issue with the missing sklearn virtual service.

[code]

[code]

[2021-04-24 14:43] midhun1998 opened #1557 "Support for GET method request on custom models."
/kind feature

**Describe the solution you'd like**
Currently, when deploying a custom model using kfserver the predict method requires to accept POST request. But in a use-case where data need not be provided instead a GET request to endpoint would return forecasted values will still require user to send a POST request to endpoint with body containing
`{
  instance=[{}]
}`

Proposed solution: In

[2021-04-24 19:29] raffaelespazzoli opened #1558 "[kubeflow 1.3] unable to route requests to the kfserving pod due to auth policy"
/kind bug

**What steps did you take and what happened:**
deploy and inferenceserving example

I am installing in a preexisting knative deployment and perhaps I'm missing some steps.
When I make a request, either using the external route/ingress or the internal service, the requests hangs for a long time and then times out.
retracing the steps of the request, I ended up in the activator pod, and f

[2021-04-25 04:40] talk2jaydip opened #1559 "Failed to start multiple workers."
[I 210425 09:55:37 kfserver:98] Will fork 2 workers
[I 210425 09:55:37 process:123] Starting 2 processes
[W 210425 09:55:42 process:153] child 0 (pid 8391) killed by signal 11, restarting

Tornado version 6. Tried with nest_asynio but no luck.
<code>

if __name__ == "__main__":
    kf_model = MyModel("api-my-model")
    kf_model.load()
    server = kfserving.KFServer(workers=2)
    server.start([k

[2021-04-25 04:42] talk2jaydip commented on #1559
``

[2021-04-25 05:35] yuzisun commented on #1558
@raffaelespazzoli I assume you have istio proxy injected in the kfserving pod, I think there are two options
1) modify the RBAC policy and add `knative-serving` to the source namespace list, I think the knative activator also need the istio proxy injected in this case.
2) disable istio-proxy on kfserving pod with annotation `sidecar.istio.io/inject: false`, if RBAC is not required for inference se

[2021-04-25 10:53] raffaelespazzoli commented on #1558
@yuzisun thanks for your answer.
1. how can I modify the RBAC policy? It is automatically created by kubeflow based on the profile. is there a way to customize it? Also my knative activator does not have the istio-proxy
2. If I add the `sidecar.istio.io/inject: false` annotation, what do I lose. I'm assuming I lose all the observability stack...

[2021-04-25 21:19] yuzisun commented on #1558
@yanniszark @pvaneck I think this is a bug for multitenant env potentially related to istio 1.9 changes?

[2021-04-25 22:43] yuzisun commented on #1558
You can create the authorization policy for your inference service to allow the traffic, e.g
[code]

[2021-04-25 22:44] yuzisun commented on #1558
@raffaelespazzoli You can create the authorization policy for your inference service to allow the traffic, e.g

[code]

[2021-04-26 00:19] #706 closed

[2021-04-26 00:41] yuzisun opened #1560 "Update torchserve-kfs image with transformer 4.5.0 version"
/kind feature

**Describe the solution you'd like**
Current TorchServe image is built with transformer 2.10 version, it does not support a lot of the gpt models, we should upgrade to the latest version. The other issue is that TorchServe-kfs [dockerfile](https://github.com/pytorch/serve/blob/master/kubernetes/kfserving/kf_predictor_docker/Dockerfile_kf.dev) is maintained in `pytorch/serve` repo an

[2021-04-26 00:43] yuzisun commented on #1560
/cc @jagadeeshi2i

[2021-04-26 00:46] yuzisun commented on #1551
@ulrikpl Looks like the gateway variable is not replaced properly?
`"ingressGateway" : $(ingressGateway)`

[2021-04-26 00:50] yuzisun commented on #1543
@gaodan-fang I think the ingress host and port should be `52.116.253.229` and `80`, looks like you are connecting to the wrong host and port.
[code]

[2021-04-26 00:58] #1546 closed

[2021-04-26 01:00] yuzisun commented on #1537
@hsinhoyeh how is your authorization policy look like?

[2021-04-26 01:14] hsinhoyeh commented on #1537
I just simply used allow all for testing, something like
[code]

[2021-04-26 04:29] #1408 closed

[2021-04-26 04:30] #1300 closed

[2021-04-26 04:32] #794 closed

[2021-04-26 04:36] yuzisun commented on #1151
Can you help elaborate the issue? the following error is quite normal when queue proxy is still waiting for the model server to be up.
 `aggressive probe error: dial tcp 127.0.0.1:8080: connect: connection refused`

[2021-04-26 08:43] pvaneck commented on #1558
I believe namespaces with automatic sidecar injection need the following authorizationpolicy based on the [Knative docs](https://knative.dev/docs/serving/istio-authorization/#allowing-access-from-system-pods-by-paths):

[code]
Probably need to figure out how to get Kubeflow to automatically create this resource in the user namespace upon creation.

[2021-04-26 10:00] felix-exel opened #1561 "Postprocessing Output is not forwarded to Logger"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When overwriting the postprocess function from kfserving.KFModel class with something like
[code]
the added key will return to the client but will not be forwarded to the logger.

**What did you expect to happen:**

I expect that the postprocessed dictionary will be send to the logger a

[2021-04-26 13:11] PatrickGhosn opened #1562 "Model chaining/sequence in kfserving with a custom model."
/kind question

Is there a way to have model chaining in kfserving?  The output of model 1 going into model 2 to give a prediction?
Something along those lines: `preprocess -> model 1 predict -> model 2 predict`, similar to that of seldoncore's sequence chaining.

[2021-04-26 15:47] gaodan-fang commented on #1543
Thanks @yuzisun for pointing out that, after i changed the host and port, it works!
`istio-ingressgateway` service details
[code]
curl command output
[code]

@pvaneck i got the host and port from the following command introduced in the openshfit tutorial
[code]
And they are different the one shown in `istio-ingressgateway` service, looks like the loadbalancer can handle the external traffic, don't

[2021-04-26 16:18] gaodan-fang commented on #1543
I think the openshift installation guide needs minor updates as well:

- The `kfserving_crds.yaml` file doesn't exists in version `v0.5.0-rc2` https://github.com/kubeflow/kfserving/tree/master/install/v0.5.0-rc2 or anyother versions. But the [quick_install.sh](https://github.com/kubeflow/kfserving/blob/master/hack/quick_install.sh#L78-L82) still install the crds.
https://github.com/kubeflow/kfserv

[2021-04-26 21:34] pvaneck commented on #1543
Hey @gaodan-fang. I'm glad you got it working. Not sure why the route and istio-ingressgateway node-port didn't work, but good to see that at least the external-ip worked.

When the current iteration of the guide was made, the sklearn model was deployed using the v2 predict API (which is still WIP), but I believe you deployed the v1 version of sklearn.yaml which would explain the output difference

[2021-04-26 21:46] kimwnasptd opened #1563 "Models web app Roadmap"
Lets use this issue to discuss the roadmap of the newly added web app and document the next steps. Also really looking forward to hear users' feedback and what features people would like to see, so if you have something in mind feel free to chime in!

These are some of the things I was planning to work on:

1. Integration/e2e/unit tests #1507 #1506, which will allow us to ensure that new features

[2021-04-27 07:53] Ruminateer opened #1565 "Makefile: "make generate" doesn't work"
/kind bug

**What steps did you take and what happened:**
Clone the repo and run `make generate`
[code]
Full output
[code]
[make_generate.log](https://github.com/kubeflow/kfserving/files/6382784/make_generate.log)

**What did you expect to happen:**
`make generate` succeed

**Anything else you would like to add:**
I am trying to build the project and test it locally without deploying it to the clu

[2021-04-27 11:20] marcinkosztolowicz commented on #848
Hi, is there any update on this one?

[2021-04-27 11:39] NikeNano commented on #1491
/assign

Will take a look at this.

[2021-04-27 12:16] ulrikpl commented on #1551
Thanks a lot @yuzisun, that solved the problem for me.

[2021-04-27 12:46] Soot3 commented on #1491
Thanks. I appreciate it. Can't really test the method right now but it would be useful later on.

[2021-04-27 14:42] nallagangus commented on #848
What I found as a workaround or probably the right way is -
Have separate ingress-gateways and loadbalancer/IP addresses with each own entry point. One for main kubeflow pipelines /training and another ingress-gateway for kfserving with no authentication. So we do not have to be constrained using the same envoyfilter for both.

That is what I did and made it work

Sudhir

[2021-04-27 20:42] pvaneck commented on #1558
Tested out KFServing in a multi-user Kubeflow install (on IKS). In the user namespace generated from the central dashboard, I can create an inferenceservice but can't curl it due to problems listed in the issue:

Knative activator pod:
[code]

Istio-proxy sidecar container:
[code]

I can confirm, adding the following AuthorizationPolicy does get rid of these issues for me, and I can curl the Isvc.

[2021-04-28 11:19] gilbeckers opened #1569 "Support unpacking of model as tar/zip file for s3"
/kind feature

**Describe the solution you'd like**
We are trying to marry  "KF Pipelines + KF Artifacts + KF Serving" in a nice use-case where we train a (sklearn) model using KFP, store it as an output artifact to the artifact store of pipelines (minio) and then deploy that model directly from the artifact store using KFServing. The problem we are facing is that the output artifacts are by defau

[2021-04-28 15:06] theofpa commented on #1562
Copying from slack, there is no way to do it at the moment, but it is in the roadmap for Q2, the proposal can be found in the [KFServing Inference Graph API document](https://docs.google.com/document/d/13VHfOxa72pgoy5Eg5c-gGHZfEL7uBDc7rTLa2pAi4Ko/edit#heading=h.bmi46mrppghb).

[2021-04-28 21:24] kimwnasptd opened #1572 "Can't configure the prefix of the web app"
/kind bug

**What steps did you take and what happened:**
Set the `APP_PREFIX: /` env var in the app and exposed it locally via port-forward, while testing the commands for #1571.

After I port-forwarded and connected the page was blank.

**What did you expect to happen:**
See the app loading as expected

**Anything else you would like to add:**
The `index.html` file had the `<base href="/">` elem

[2021-04-28 22:51] #1565 closed

[2021-04-29 16:15] sharm294 opened #1574 "Update the REST/gRPC V2 API with load/unload endpoints"
/kind feature

**Describe the solution you'd like**
There's a new load/unload endpoint that's supported in MLserver and Triton. Would be good to have this formally documented in the API docs in the repo.

**Anything else you would like to add:**

[2021-04-29 17:59] Aaronchoo opened #1575 "Multi-model serving e2e for s3"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Multi-model serving e2e test only test downloading from gcs. We should update this to **also** download from s3. https://github.com/kubeflow/kfserving/blob/master/test/e2e/predictor/test_multi_model_serving.py

**Anything else you would like to add:**
[Miscellaneous information that wi

[2021-04-29 18:52] Aaronchoo opened #1576 "Multi-model serving e2e test for http/https"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Multi-model serving e2e test only test downloading from gcs. We should update this to **also** download from http/https. https://github.com/kubeflow/kfserving/blob/master/test/e2e/predictor/test_multi_model_serving.py

**Anything else you would like to add:**
[Miscellaneous information

[2021-04-29 19:06] Aaronchoo opened #1577 "Extract zip/tar/tgz files for gcs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Similar to [HTTP/HTTPS](https://github.com/kubeflow/kfserving/blob/4fd401e348174f954fee7596dc3d54f197f4aa8c/pkg/agent/storage/https.go#L145), we should support extraction of zip/tar/tgz files when downloading from gcs. We currently assume the file being downloaded will be in the model

[2021-04-29 19:08] Aaronchoo opened #1578 "PVC Support"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Could launch a job when deploying trained models to download the file. All pods can download from pvc when done.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
https://github.com/kubeflow/kfserving/blob/4fd401e348174f954fee7

[2021-04-29 19:14] Aaronchoo opened #1579 "Support downloading from AZURE in MMS"
/kind feature

Storage initialiser supports downloading from azure so  we should have it for mms as well -- this requires a persistent storage.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-04-29 19:17] Aaronchoo opened #1580 "Redirect traffic from model server to model agent"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-04-29 19:22] Aaronchoo opened #1581 "Anonymous credentials for single model serving with s3"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Update [download from s3](https://github.com/kubeflow/kfserving/blob/4fd401e348174f954fee7596dc3d54f197f4aa8c/python/kfserving/kfserving/storage.py#L86) to configure boto3 to use anon credentials if anonymous credentials env is set to true.

**Anything else you would like to add:**
[Mi

[2021-04-29 19:25] Aaronchoo opened #1582 "Expose metrics out per model level"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Assuming traffic is redirected into the model agent - expose an endpoint on the model agent that will return the metrics from the trained model. The endpoint can be `/v#/models/<model name>/metrics`.

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2021-04-29 19:47] theofpa commented on #1575
/good-first-issue

[2021-04-29 19:48] theofpa commented on #1576
/good-first-issue

[2021-04-29 20:25] kmarquardsen commented on #1439
I've updated the doc in the ^ PR to correct the command

[2021-04-30 17:33] Aaronchoo opened #1585 "Unable to run make-deploy dev with go version 1.13"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Run `make deploy-dev` and it fails with error
[code]
On further inspection I notice that on version 0.18.0 they[ introduced a change](https://github.com/knative/serving/commit/840ef864296681809208f9f9680db65dd78ae817) that uses a new [https/http header feature introduced in go 1.14](http

[2021-05-01 11:26] #1585 closed

[2021-05-01 11:30] #1572 closed

[2021-05-01 12:02] #1365 closed

[2021-05-02 23:24] mkbhanda commented on #1581
May I be assigned this issue?

[2021-05-02 23:29] Aaronchoo opened #1589 "XGBoost sample for multi-model serving"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add a sample of MMS using XGBoost model server similar to [sklearn](https://github.com/kubeflow/kfserving/tree/master/docs/samples/multimodelserving/sklearn) and [triton](https://github.com/kubeflow/kfserving/tree/master/docs/samples/multimodelserving/triton) that will reside [in the s

[2021-05-02 23:33] Aaronchoo opened #1590 "Sample doc for custom model server using multi-model serving"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add a sample of MMS using a custom model server similar to [sklearn](https://github.com/kubeflow/kfserving/tree/master/docs/samples/multimodelserving/sklearn) and [triton](https://github.com/kubeflow/kfserving/tree/master/docs/samples/multimodelserving/triton) that will reside [in the

[2021-05-02 23:35] Aaronchoo commented on #1581
I don't believe anyone is working on this issue so by all means go for it! :)

[2021-05-03 00:43] mkbhanda commented on #1581
Thanks @Aaronchoo!
1)  is there already an environment variable defined for Anon?
The only ones I found with grep are: "AZ_TENANT_ID", "AZ_CLIENT_ID", "AZ_CLIENT_SECRET", AZ_SUBSCRIPTION_ID",
python/kfserving/kfserving/storage.py:        headers_json = os.getenv(host_uri + _HEADERS_SUFFIX, "{}")
2) If the Anon environment variable is set and credentials as above, my guess is to use the credentials

[2021-05-03 00:44] mkbhanda commented on #1581
@Aaronchoo you will have to do the assign

[2021-05-03 01:13] Aaronchoo commented on #1581
/assign @mkbhanda

[2021-05-03 01:40] Aaronchoo commented on #1581
Hi @mkbhanda!

To answer your questions:
1. The environment variable is [defined in s3_secret.go](https://github.com/kubeflow/kfserving/blob/master/pkg/credentials/s3/s3_secret.go#L35). You will need to redefine the variable in `storage.py`. The environmental variable is [appended on this line](https://github.com/kubeflow/kfserving/blob/master/pkg/credentials/s3/s3_secret.go#L137).
2. The current

[2021-05-03 11:39] rado-parrak commented on #1569
Copying part of the discussion from Slack:

@yuzisun would you let us know pls if OK with you to integrate the fix of the issue 1569 (see above in the thread) once we PR the fix?

@yuzisun: sounds good, How do you plan fix this?

Well, high-level speaking we would add the same functionality for unpacking the .tar.gz as currently implemented in _download_from_uri() (source) to _download_s3() as wel

[2021-05-03 14:24] theofpa opened #1591 "k8s 1.16+ deprecation warnings in development profile"
/kind bug

* apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+
* admissionregistration.k8s.io/v1beta1 MutatingWebhookConfiguration is deprecated in v1.16+
* using legacy gatewayName format "knative-ingress-gateway.knative-serving"
* admissionregistration.k8s.io/v1beta1 ValidatingWebhookConfiguration is deprecated in v1.16+

**What steps did you take and what happened:**

[2021-05-03 16:44] mkbhanda commented on #1581
Thank you for the detailed desired behavior and assigning @Aaronchoo !

[2021-05-03 17:23] maganaluis commented on #923
@yuzisun I was waiting for approval from my org, I initiated PR https://github.com/pwc-labs/kfserving/tree/azure-blob-upgrade

[2021-05-04 03:47] adamkgray opened #1593 "isvc default resource requests/limits should be optional/configurable via ConfigMap"
/kind feature

**Describe the solution you'd like**

In `pkg/apis/serving/v1beta1/inference_service_defaults.go` the default InferenceService resource requests and limits are hard coded to be 1 cpu and 2Gi memory. These are reasonable defaults. However, the entire existence of these defaults should be disablable. Moreover, administrators should be able to quickly adjust defaults globally via the `

[2021-05-04 04:25] pvaneck opened #1594 "Frequent CI e2e test failures"
CI frequently fails with:
`FAILED explainer/test_tabular_explainer.py::test_tabular_explainer - RuntimeError`
`RuntimeError: Timeout to start the InferenceService isvc-explainer-tabular`

I noticed [here](https://github.com/kubeflow/kfserving/blob/master/test/e2e/explainer/test_tabular_explainer.py#L65) that the timeout for waiting for this inferenceservice is 300 seconds while other explainer e2e

[2021-05-04 15:29] awcchungster opened #1595 "OpenAPI spec for V2 Inference does not pass"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I attempted to run the openapi spec in an AWS API Gateway, but the validation had an error. I reran the same openapi spec through a 3rd party website validator and it also broke.

https://github.com/kubeflow/kfserving/blob/master/docs/predict-api/v2/rest_predict_v2.yaml

**What did you e

[2021-05-04 16:11] cliveseldon commented on #1595
Thanks @awcchungster

[2021-05-04 23:58] yuzisun commented on #1594
@pvaneck Feel free to bump up the timeout, not sure why it is getting slower recently.

[2021-05-05 00:00] yuzisun commented on #1595
see https://github.com/kubeflow/kfserving/pull/1568

[2021-05-05 19:58] gaodan-fang opened #1600 "sklearn.Dockerfile is not presented"
Trying to build my own sklearn server image with `scikit-learn==0.23.2`, following the docs https://github.com/kubeflow/kfserving/tree/master/python/sklearnserver#building-your-own-scikit-learn-server-docker-image

The `sklearn.Dockerfile ` file is not presented in the directory.

[2021-05-05 21:34] #1594 closed

[2021-05-06 06:44] markwinter commented on #1558
@pvaneck

I also had to add `/v1/models/*` path to allow Transformer->Predictor requests

[2021-05-06 09:27] Ruminateer opened #1601 "Inference service with custom predictor cannot be ready"
/kind bug

**What steps did you take and what happened:**
I am trying to create an inference service using a custom predictor. The READY status of the inference service stuck in false.
[code]

**What did you expect to happen:**
The inference service is ready.

**Anything else you would like to add:**
I know not having sufficient memory for the second pod to be scheduled is one of the problems, but

[2021-05-06 21:45] yuzisun commented on #1595
@awcchungster Can you help check if the issue is fixed now?

[2021-05-07 05:42] theofpa commented on #1601
Thanks for reporting this @Ruminateer ! It's a known bug that we get duplicate revisions in 0.5.1 fixed by #1467 which is released in 0.6.0-rc0. Can you try that release?

[2021-05-07 08:59] yuzisun commented on #1601
I think this is due to resource issue in the cluster
[code]

[2021-05-07 09:23] yuzisun commented on #1600
it is here https://github.com/kubeflow/kfserving/blob/master/python/sklearn.Dockerfile, you need to navigate up one directory level to the python directory.

[2021-05-07 09:23] #1600 closed

[2021-05-07 09:33] #1439 closed

[2021-05-07 14:06] gaodan-fang commented on #1600
@yuzisun ah thanks for point out!

[2021-05-07 16:06] smandrell-ec commented on #773
This seems like a great feature! Does this this account for the use case for 1) dynamically serving models and model versions for thousands of customers and 2) routing requests to the correct models? Are the models cached on GPUs? How are requests routed to the right pod? I'm also wondering how this would work when new models need to be continually added.

[2021-05-07 20:02] yuzliu commented on #773
@smandrell-ec please check this [doc](https://github.com/kubeflow/kfserving/blob/master/docs/MULTIMODELSERVING_GUIDE.md) to learn more about it. To address your questions
1) You can serve models dynamically by creating/deleting TrainedModel resource. According to our benchmark, we can serve thousands models in one inferenceservice as long as the inferenceservice has enough memory. But I recommend

[2021-05-09 21:29] #1551 closed

[2021-05-09 22:30] yuzisun commented on #1151
as above the error logging is from knative probes failures while waiting for the model server to be up serving requests.

The other related error reported in the original issue is due to request timeout, I'd recommend tuning the timeout setting if needed.
[code]

[2021-05-09 22:30] #1151 closed

[2021-05-09 22:35] yuzisun commented on #1595
validated on https://editor.swagger.io/

[2021-05-09 22:35] #1595 closed

[2021-05-09 22:39] yuzisun commented on #1559
This seems like an issue in the custom model, please provide more details.

[2021-05-09 22:42] #1543 closed

[2021-05-09 22:46] #1437 closed

[2021-05-10 03:04] jhs0318 opened #1604 "Error occurs when calling explain in the example of income"
/kind bug

Hello. I got an error as below while testing the income sample. What could be the problem?
The alibi version is 0.5.5

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2021-05-10 14:09] smandrell-ec commented on #773
@yuzliu Awesome! Thank you for the quick response. Just to confirm, this also allows _adding_ models without redeploying?

[2021-05-10 14:18] gaodan-fang opened #1605 "Appoint dependencies for sklearn inferenceservice"
I am trying to deploy a model to sklearn server, but got the error for missing pandas
[code]

Is there anyway to appoint the inferenceservice with specific dependency requirements instead of rebuild the sklearn server image?

[2021-05-10 14:49] yuzliu commented on #773
You can check https://github.com/kubeflow/kfserving/blob/master/docs/MULTIMODELSERVING_GUIDE.md#integration-with-model-servers to understand which model servers are integrated with multi-model serving.

[2021-05-10 15:23] gaodan-fang opened #1606 ".pkl or .pickle file is not supported in v2 sklearn server"
/kind bug

**What steps did you take and what happened:**
Build a sklearn model and save as `.pickle`, store the model in pvc and create a sklearn inferenceservice with pvc `storage_uri` , the model can be download succssfully through the `storage-initializer` but can't be loaded by the `kfserving-contianer`.
[code]

[code]

**What did you expect to happen:**
Which according to the example https:/

[2021-05-11 00:06] yuzisun commented on #1606
@gaodan-fang Looks like you are using v2 version of sklearnserver, Can you paste the full inference service yaml?

[2021-05-11 01:11] gaodan-fang commented on #1606
Yes, i was using the v2 protocol

[2021-05-11 16:32] adriangonz commented on #1605
Hey @gaodan-fang, this is something that we've been exploring recently within MLServer (the inference service that you seem to be using in the stacktrace above).

The gist of it is that, if you save an environment tarball (this can be created with `conda-pack`) alongside your model artifact, MLServer will then use this tarball to populate the environment at run-time. You can see a more detailed wa

[2021-05-12 02:30] haijohn opened #1607 "torchserve can not read mounted pvc file due to permission denied error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I download the image_classifer example from gcs and put it in a pvc, pvc is create by NFS storage class, and apply following spec
[code]
the pod has following error
[code]

add command `command: ["sh", "-c", "sleep 1d"]` and exec into the container and `ls /mnt/models` shows the file exi

[2021-05-12 06:12] gilbeckers opened #1608 "Functional monitoring of a model"
/kind feature

**Describe the solution you'd like**
Hi!
I'm trying to build a use-case that monitors functional metrics of a model that is deployed with KFServing. In the [samples on github](https://github.com/kubeflow/kfserving/tree/master/docs/samples/metrics-and-monitoring) I discovered there is already some support for technical monitoring using Prometheus, but what we're after here is functio

[2021-05-12 09:52] JishnuM commented on #1608
Developer of the TFServing agent here. It seems feasible to extend that to support KFServing (through Knative eventing) and keep the niceness of supporting functional metrics without changes to the app / model server.
I've created an issue here: https://github.com/MetricRule/metricrule-sidecar-tfserving/issues/18 to follow up on.

[2021-05-12 10:04] yuzisun commented on #1607
@jagadeeshi2i Any thoughts on this? I think you tested pvc extensively.

[2021-05-12 10:05] yuzisun commented on #1606
/assign @adriangonz

[2021-05-12 10:15] yuzisun commented on #1601
@Ruminateer queue-proxy is not healthy and failed the start up probes. What's your custom predictor? is it listening on port 8080?
[code]

[2021-05-12 10:32] adriangonz commented on #1606
Hey @gaodan-fang, the SKLearn server for V2 currently only supports `model.joblib` as a file name. This is highlighted in this example that walks you through model deployment with the V2 protocol:

https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/sklearn/v2

Regardless of that, I think this could be a good addition so I've opened an issue in MLServer to add support for this:

[2021-05-12 21:38] #1542 closed

[2021-05-13 07:41] Ruminateer opened #1610 "hack/misc_patch_dev.sh doesn't give resource limits, which is required by the webhook"
/kind bug

**What steps did you take and what happened:**
I encountered this bug when working on #1609.
[code]
So `config/overlays/dev-image-config/inferenceservice_patch.yaml` generated by `hack/misc_patch_dev.sh` doesn't include resource limits for the storage initializer.
https://github.com/kubeflow/kfserving/blob/c447de17f6a50e48a92a747ca53da6684c72a2c2/hack/misc_patch_dev.sh#L1-L17
However, t

[2021-05-13 21:21] goswamig opened #1611 "Adding KFServing in KubeFlow UI"
Do we have plan to add KFServing UI in KubeFlow UI or integrate it with KubeFlow UI?

[2021-05-13 21:30] goswamig commented on #1563
Do we plan to integrate KFServing UI with Kubeflow web UI?

[2021-05-14 18:47] Peilun-Li opened #1612 "Concerns on default KFSERVING_VERSION in python SDK"
/kind bug

Curious what's the considerations in our python SDK https://github.com/kubeflow/kfserving/blob/master/python/kfserving/kfserving/constants/constants.py#L23 that we default KFSERVING_VERSION to v1alpha2 instead of v1beta1? The mismatch between the default value and the cluster KFServing version can create pitfalls sometimes.

[2021-05-15 00:10] #1404 closed

[2021-05-15 08:57] yuzisun commented on #1442
@chinmay22897 This looks like https://github.com/knative/serving/issues/9787, please check if upgrading your knative version solves this issue.

[2021-05-15 08:57] #1442 closed

[2021-05-15 15:08] NikeNano opened #1613 "Fail to deploy kfserving to minikube - connect: connection refused"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1) Set up a minikube cluster:

[code]

2) Install kfseerving using the [quick install](https://github.com/kubeflow/kfserving#quick-install-on-your-local-machine)

[code]

Error:

[code]
**What did you expect to happen:**
kfseving to be succesfully installed on minikube.

**Anything else

[2021-05-15 22:40] yuzisun commented on #1604
@jhs0318 you must be on some older version of kfserving, this was fixed a while ago https://github.com/kubeflow/kfserving/issues/1088

[2021-05-15 22:40] #1604 closed

[2021-05-17 05:30] tejashpe commented on #1348
Any luck with the issue ? Was anyone successful in working around with proxy ?

[2021-05-17 14:27] gaodan-fang commented on #1606
@adriangonz Thanks for the quick update! As you mentioned

Is there any particular reason MLServer won't support `pkl` serizlised file ? If not, does MLServer has the plan to support in the near feature?

[2021-05-17 14:34] adriangonz commented on #1606
Hey @gaodan-fang , when you say `pkl` serialised file, can you clarify how it gets serialised? Just to expand on this point, there are a few different libraries that can be used to serialise Python objects (e.g. `pickle`, `joblib`, `cloudpickle`, `dill`, etc.). They are all very similar in functionality, but the serialised objects aren't compatible between them.

To serialise Scikit-Learn models,

[2021-05-17 15:14] gaodan-fang commented on #1606
Yes, the example like

[code]
I know the joblib is recommended in sklearn, but sometimes user just prefer to use `pickle` than `joblib` as both them has their own [advantages](https://stackoverflow.com/questions/12615525/what-are-the-different-use-cases-of-joblib-versus-pickle). And we don't want to restrict the customer which method they should use.

[2021-05-17 16:41] kimwnasptd commented on #1563
@goswamig I missed this, thanks for pointing it out! Correct, we should add an entry in Kubeflow's CentralDashboard for this web app as well.

I'll also create a tracking issue for this.

[2021-05-18 01:07] mkbhanda commented on #1581
@matty-rose and @mttcnnff on examining test_storage.py and test_s3_storage.py my understanding is that credentials are not considered as part of mocking. Am I missing something?

Moto is a popular library to interact with AWS infrastructure: https://github.com/spulec/moto and been around since 2014.

Based on @Aaronchoo careful explanation of scenarios,  there are 4 cases, env-with-anon-true (disr

[2021-05-18 08:38] tzstoyanov commented on #1593
I'm looking for a good first issue to get familiar with kfserving, may I get this one ?

[2021-05-18 09:29] DavidSpek commented on #1451
@ReggieCarey Support doesn't mean you have to use it or that it is the only option to use.

[2021-05-18 10:05] karlschriek commented on #831
@ReggieCarey you seem to have a complete misconception of what open source is. I have seen several of your comments on the issue boards, mainly complaining about not successfully being able to join the Slack community and therefore falsely drawing the conclusion that "Microsoft, Google, and other proprietary orgs, limit who can use the publicly advertised slack channels" and constantly posting tha

[2021-05-18 16:50] gringParis commented on #994
It's not only the flower sample that is broken. i tried with the sklearn iris example as well as custom models and it results in the same error:
Error [IST0101] (VirtualService sklearn-iris.kubeflow-staging) Referenced gateway not found: "kubeflow-gateway.kubeflow"

kubeflow-gateway.kubeflow is a legacy gatewayName format.
most of the example on kfserving github of inference
(for example https://g

[2021-05-19 09:22] Ruminateer commented on #1601
Resolved.

[2021-05-19 09:22] #1601 closed

[2021-05-19 10:06] MatthiasVDDooren opened #1617 "TorchServe & Tornado conflict return"
/kind bug

**What steps did you take and what happened:**
I'm trying to deploy a HuggingFace layoutlm model using torchserve and a custom handler.
In order to be able to use the layoutlm model, I supply a custom requirements.txt file with transformers 4.5.0 in it.

I can successfully predict using the model, but I cannot return the output due to the following reason:
TorchServe expects to return a

[2021-05-19 10:17] yuzisun commented on #1617
@MatthiasVDDooren Are you using the kfserving/torchserve wrapper(kfs pytorch spec) from v1beta1 API?

[2021-05-19 10:22] MatthiasVDDooren commented on #1617
@yuzisun I am using the V1beta1 pytorch predictor spec, if that is what you mean. The following code is used to generate the isvc:
`api_version = constants.KFSERVING_GROUP + '/' + constants.KFSERVING_V1BETA1_VERSION

    isvc = V1beta1InferenceService(api_version=api_version,
                                   kind=constants.KFSERVING_KIND,
                                   metadata=V1ObjectMeta(

[2021-05-19 10:30] yuzisun commented on #1617
I do not think torchserve enforces the type to be a list according to their [doc](https://pytorch.org/serve/custom_service.html#custom-handlers) and torchserve/kfs [wrapper](https://github.com/pytorch/serve/blob/master/kubernetes/kfserving/kfserving_wrapper/TorchserveModel.py) always expects dict, would you be able to return the dict from your custom handler?

[2021-05-19 10:32] MatthiasVDDooren commented on #1617
@yuzisun I have already tried to return a dict and got the following error:
`[INFO ] W-9000-layout-lm-pytorch_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle - model: layout-lm-pytorch, Invalid return type: <class 'dict'>.`

[2021-05-19 11:14] yuzisun commented on #1617
@MatthiasVDDooren I wonder how this [example](https://github.com/pytorch/serve/blob/master/examples/image_classifier/mnist/mnist_handler.py) works, maybe you are returning numpy list instead of python list?

[2021-05-19 12:02] MatthiasVDDooren commented on #1617
@yuzisun That seems to have done it. Now I'm only getting 507 errors, but that's solvable.

I presume I was returning a numpy list instead of a python list. Thanks!

[2021-05-19 12:02] #1617 closed

[2021-05-19 14:53] juangon commented on #1569
Hi! Are there any update on this? Thanks!

[2021-05-20 01:05] yuzisun opened #1618 "deprecate inference service v1alpha2"
/kind feature

**Describe the solution you'd like**
inference service v1alpha2 version should no longer be used after 0.6, we should remove v1alpha2 version support from crd and corresponding webhooks, controller and api types.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-05-20 09:04] RUOK90 opened #1619 "Installing additional dependencies makes a 'Custom pip package install failed' error"
/kind bug

**What steps did you take and what happened:**
1. I added ```import pytorch_lightning``` code to the torchserve tutorial ```mnist.py``` file (https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/torchserve/model-archiver/model-store/mnist/mnist.py). So my ```mnist.py``` file is below.

[code]

2. My ```config.properties``` file is below.
[code]

3. My ```requirements.t

[2021-05-20 19:12] Jooho opened #1620 "Kfserving + OpenShift serverless + OpenShift Service Mesh is not working"
/kind bug

**What steps did you take and what happened:**
Basically I tried to follow this [doc](https://github.com/kubeflow/kfserving/blob/master/docs/OPENSHIFT_GUIDE.md#install-using-openshift-service-mesh) to use kfserving on OpenShift. However, I used OpenShift Operators for knative(OpenShift Serverless) and Istio(OpenShift Service Mesh) instead of upstream products.

After installing necessar

[2021-05-21 00:35] shashank3959 opened #1621 "Several Issues with the KFServing MMS Triton README"
/kind bug

**What steps did you take and what happened:**
Following the steps in the README is not a seamless experience. It seems like several commands/instructions are outdated.

1) README mentions “ You must set Triton's multiModelServer flag in inferenceservice.yaml to true to enable multi-model serving for Triton” -- but MMS only worked for me when the multimodelserver flag was set in the kfs

[2021-05-21 00:49] yuzisun commented on #1621
Thanks @shashank3959! Will update the doc to use gcs which is much easier for the example.

[2021-05-21 23:50] yuzisun commented on #1613
@NikeNano Can you check the cert manager pod status? seems like it is not able to call the cert manager webhook.

[2021-05-21 23:54] yuzisun commented on #1612
@Peilun-Li this constant is only used in e2e tests looks, in the KFS client API we are defaulting to v1beta1 https://github.com/kubeflow/kfserving/blob/42007c532286a1e43893ef2be03b15e104bfd7a4/python/kfserving/kfserving/api/kf_serving_client.py#L310

[2021-05-22 19:34] yuzisun commented on #1611
@kimwnasptd It works both standalone and in Kubeflow UI right?

[2021-05-22 22:40] yuzisun commented on #1593
yes! feel free to assign to yourself, thanks !

[2021-05-22 22:54] yuzisun commented on #1529
@edenbuaa check cadvisor https://github.com/google/cadvisor/blob/master/docs/running.md#hardware-accelerator-monitoring

[2021-05-22 22:59] #1327 closed

[2021-05-22 23:00] #1461 closed

[2021-05-22 23:03] yuzisun commented on #1085
same as #1593

[2021-05-22 23:03] #1085 closed

[2021-05-22 23:08] yuzisun commented on #892
fixed in kubeflow/pipelines#5343

[2021-05-22 23:08] #892 closed

[2021-05-22 23:09] yuzisun commented on #802
KFServing agent is implemented since 0.5

[2021-05-22 23:09] #802 closed

[2021-05-22 23:10] #324 closed

[2021-05-24 15:54] rawc0der commented on #1451
Hi guys,

I'm soo glad this is fixed, however there seems to be some missing dependencies in order to make this work with the provided upstream components.

I think the docker image `quay.io/aipipeline/kfserving-component` referenced in the Kubeflow Pipelines samples in `component.yaml` file is still not updated to the `0.6 release`.  I can adapt my use-case to run the component image on private r

[2021-05-24 17:25] kimwnasptd commented on #1611
Correct, the only missing part for exposing the web app is to modify the app's ConfigMap to include a link to the app, in the sidebar. The [current manifests](https://github.com/kubeflow/kfserving/blob/master/config/web-app/istio.yaml#L14) also create a VirtualService to expose the app under the `/models` prefix.

I'll open a PR to also include the app in the KF CentralDashboard. It should not lan

[2021-05-25 06:03] juangon commented on #1096
@mahsanaru can you describe the fix you made? I am still reproducing the 404 errors. I've seen in pod logs there aren't any `Registering model: XXX` , the opposite as the sklearn-iris from docs/samples. Any ideas of why isn't registering the model @yuzisun ? Thanks very much!

[2021-05-25 08:16] jidemoski opened #1624 "How to add new authorization for model service, not using kubeflow dex."
/kind bug

**What steps did you take and what happened:**
How to use kubeflow authorzation only on kubeflow server and new authorzation is used in models service that is deployed by kfserving

**What did you expect to happen:**
I have been deployed kubeflow follow kubeflow docs and deploy model follow kfserving, I don't want  to use kubeflow authorzation, I want to use self-define authorzation in

[2021-05-25 11:06] yuzisun commented on #1045
- Add model health endpoint on the model agent to return all the model health status(DOWNLOAD/LOAD status) for a given replica.
- The probing component watches the Kubernetes endpoint resource and get the list of Pod IPs to send the probes.
- Aggregate the model status from all the replicas and show like `10/15 Ready` on the trained model CR.

[2021-05-25 11:10] #1612 closed

[2021-05-25 11:14] #1621 closed

[2021-05-26 10:40] juangon commented on #1620
@Jooho  take a look at these instrucions: https://www.openshift.com/blog/operationalizing-kubeflow-in-openshift

[2021-05-26 11:00] juangon commented on #1577
Duplicate of https://github.com/kubeflow/kfserving/issues/1569?

[2021-05-26 13:54] juangon opened #1625 "Storage initializer doesn't work when using subdirectories paths in S3 storage"
/kind bug

**What steps did you take and what happened:**

When storing files (used Minio in my case) in a path, storage creates the remote path in the storage initializer  container, causing models with single files to be added in some subdirectories path. This causes issues with sklearn models for example, as it expects model.joblib to be on root of /mnt/models, not on any subdirectory

**What d

[2021-05-28 02:08] linuraj opened #1626 "MLFlow Model deployment in KFServing"
Hello all,

What is the best way for deploying MLFlow models in KFServing?

Appreciate your help!

Thanks

[2021-05-28 12:19] edi-bice-by opened #1627 "istiod-asm throws "duplicate domain from service" for flower-sample isvc deployed on default namespace"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

applied kfserving docs/samples/v1beta1/tensorflow/tensorflow.yaml but cannot post to service.

2021-05-27T20:39:30.034937Z	info	ads	RDS: PUSH for node:metadata-writer-789b57984d-d8nw5.kubeflow resources:11 size:44.8kB
2021-05-27T20:39:33.405168Z	info	ads	Push Status: {
    "pilot_vservi

[2021-05-28 14:49] edi-bice-by commented on #1627
Tried on non-default namespace (my kubeflow profile namespace, edi-bice) and seeing same error there

2021-05-28T13:40:50.678883Z	info	ads	RDS: PUSH for node:flower-sample-predictor-default-00002-deployment-545cbf5df5kbqr.edi-bice resources:11 size:65.4kB
        "flower-sample-predictor-default.default.svc.cluster.local:80": {
            "message": "duplicate domain from service: flower-sample-p

[2021-05-28 15:48] jzonthemtn opened #1628 "Path in quick_install.sh need changed"
/kind bug

**What steps did you take and what happened:**
When running the `quick_install.sh` the install path at the end of the script is pointing to the wrong directory. It needs to be pointing to a directory up one level.

**What did you expect to happen:**
The `kfserving.yaml` file to be found.

**Anything else you would like to add:**
Pull request will follow.

**Environment:**

- Istio Versi

[2021-05-28 20:45] juanvasquezreyes opened #1630 "s3 https unable to get local issuer certificate"
I'm using kfserving and want to integrate with my minio instance that is running in a different cluster https://myminio-test.com

is there a way to provide my ca certificate so the connection to my minio is secure?

I already tried S3_VERIFY_SSL 0 and 1 and didnt work

this is my secret
[code]

and this is the error I'm getting
[code]

[2021-05-29 01:21] sriumcp opened #1631 "Iter8 links are outdated"
This is a documentation bug.

The main README of KFServing points to an older repo of Iter8.

Iter8's support for KFServing has improved vastly with new releases and is now hosted at https://iter8.tools.

README and other docs need to be updated appropriately.

[2021-05-29 10:48] susan-shu-c opened #1634 "URL to predict-api v2 needs to be updated"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The url to the V2 dataplane in [this doc](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/sklearn/v2) point to this outdated url https://github.com/kubeflow/kfserving/blob/master/docs/samples/predict-api/v2
Change to https://github.com/kubeflow/kfserving/tree/maste

[2021-05-29 11:53] sriumcp opened #1635 "./hack/quick_install.sh exits with an error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I  ran the following commands after  cloning KFServing repo.
[code]

and got the following output
[code]

**What did you expect to happen:**
I was expecting quick_install to work. It used to work in the past for me.

**Environment:**
- Minikube version: v1.16.0
- Kubernetes version: (use

[2021-05-29 12:00] #1635 closed

[2021-05-29 12:00] sriumcp commented on #1635
Duplicate

[2021-05-29 12:02] sriumcp commented on #1613
I can confirm that I am hitting the same bug with both `minikube` and `kind` local clusters.

[2021-05-29 12:02] sriumcp commented on #1613
In my case, OS = BigSur.

[2021-05-29 12:03] sriumcp commented on #1613
cert manager pod is up for me (running).

[2021-05-29 12:41] sriumcp commented on #1613
After the above failure,

I did:
[code]

It worked.

This time, I saw the following output:

[code]

The difference  seems to be the cert and issuer which are now created *before* validating Webhook configuration rather than after.

It looks like the solution is to split up `kfserving.yaml` into two YAMLs (the first one  containing certs). Wait  for all the certs to be deployed. And then deploy th

[2021-05-29 12:52] #1634 closed

[2021-05-30 01:45] Aaronchoo commented on #1577
Oh its partially a duplicate. It would be useful if we add this for `gcs` as well.

[2021-05-30 20:59] yuzisun commented on #1626
/cc @adriangonz

[2021-05-31 21:07] NikeNano commented on #1613
Thanks @sriumcp I will try this out tomorrow, have been overloaded with other stuff the last week.

[2021-06-01 13:07] Jooho commented on #1620
@juangon Before I create this issue, I already discuss it with the author of the blog. We think there are missing configurations with the combination.

[2021-06-01 13:44] GetOn4 opened #1638 "Invalid Header Host when creating example Model"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I installed kubeflow 1.3 with kfserving v0.6.0-rc0 on an eks cluster and tried to deploy an example model from the samples
After debugging TLS for Knative I've got the message that
Ingress reconciliation failed
on the kubeflow dashboard, models tab.

The logs from the kfserving-controll

[2021-06-01 14:29] tzstoyanov commented on #1593
thanks! I was on a vacation last week, going to start working on that this week.

[2021-06-01 16:03] daganida88 opened #1639 "After one of my inference pod failed, no messages were received until I restarted the activator pod."
/kind bug

I started sending a lot of messages to my inference service that contains two GPU replicas.
I had some OOM issues inside the ingress controller and inside my pod, they were both restarted because of OOM issues.
After I increased the memory the pods never crashed again.
What is weird is that once a new inference pod was up and running, it did not receive traffic for some time.
After I re

[2021-06-01 21:29] beyersito commented on #1638
I'm having the same issue

[2021-06-02 01:18] yuzisun commented on #1639
@daganida88 which knative version you are on ?

[2021-06-02 04:18] shydefoo opened #1641 "No url to call Pod when minReplicas set to 0 because Pod is terminated before it is ready"
/kind bug

**What steps did you take and what happened:**
* Set minreplicas to 0
* Set large enough resource requests
[code]
* We have node autoscaling in place to spin up new nodes when there are insufficient resources
* After some time the pod is scheduled and storage initializer init container starts to download the artifact
* However, since `minReplicas` is set to 0, the pod gets terminated in

[2021-06-02 04:41] JishnuM commented on #1608
Following up to share that the solution mentioned in 2 has been extended to support KFServing (by running it as a sink for KFServing logs). An example is [here](https://github.com/MetricRule/metricrule-agent-go/tree/main/example/kfserving).

[2021-06-02 06:02] chengsky-NTU opened #1642 "try to create an InferenceService but meet this"
/kind bug
try to create an InferenceService, but meet this:'V1beta1InferenceService' object has no attribute 'swagger_types'
![图片](https://user-images.githubusercontent.com/73595772/120431174-b5fc4e80-c3aa-11eb-8587-1e1bce804850.png)

**Environment:**

- Istio Version:
- Knative Version:0.11.0
- KFServing Version:0.5.1
- Kubeflow version:1.0.2
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aw

[2021-06-02 11:04] theofpa opened #1643 "Ingress reconciler failure on Istio 1.10"
/kind bug

**What steps did you take and what happened:**
On:
* kubernetes 1.19
* istio **1.10**
* knative 0.23

Install kfserving by running `make deploy-dev`.

When deploying an inferenceservice (ex. v1beta1/tensorflow/flowers) the knative service is created properly, but the istio ingress reconciler fails with the following message in the controller log:

[code]

The new validation was introduc

[2021-06-02 14:22] ahsan-n opened #1644 "Unable to inference the model"
**Question**
Hi so I am using kfserving v.0.5.1 component for hosting the model. I am able to download and deploy model from s3 but facing issue when try to access it.

After deployment kfserving outputted the following endpoint
[code]
which I was not able to access it from outside and inside the node. After looking around I set my ingress-gateway to `LoadBalancer` from `NodePort` and added sslip.

[2021-06-02 14:37] SeibertronSS opened #1645 "Does KFserving support inferencing about the entire dataset?"
/kind feature

**Describe the solution you'd like**
Hello, the examples of KFserving I see now are all single-sample inferences. Does KFserving support inference about the entire dataset? Does KFserving only supports json input at present?

[2021-06-02 20:03] edi-bice-by commented on #762
I ran into the same for a different model and was hoping this issue would provide some answers - how come it is closed?

google.api_core.exceptions.PreconditionFailed: 412 GET https://storage.googleapis.com/download/storage/v1/b/seldon-models/o/sklearn%2Fmoviesentiment%2Fmodel.joblib?generation=1567959830881500&alt=media: The operation requires that Uniform Bucket Level Access be enabled.: ('Reque

[2021-06-03 00:48] #1645 closed

[2021-06-03 00:50] SeibertronSS opened #1648 "Does KFserving support inference about the entire dataset?"
/kind question

**Describe the solution you'd like**
Hello, the examples of KFserving I see now are all single-sample inferences. Does KFserving support inference about the entire dataset? Does KFserving only supports json input at present?

[2021-06-03 03:40] linuraj commented on #1626
Hello @adriangonz

Can you please share your recommendation here?

Thanks

[2021-06-03 15:55] adriangonz commented on #1626
Hey @linuraj, we're currently working on adding support for MLflow to MLServer. You can track the current progress in this GitHub project:

https://github.com/SeldonIO/MLServer/projects/1

Once this is finished, given that MLServer is already serving SKLearn and XGBoost models in KFServing, it should be straightforward to add a new framework to the KFServing spec for MLflow.

[2021-06-03 16:45] juanvasquezreyes commented on #1519
Hello @yuzisun

I'm facing the same issue AccessDenied: message: Access Denied, I follow the steps described in the [link](https://github.com/kubeflow/kfserving/blob/7101beec5d753852ae7ee2d69a6b813bbf814653/docs/samples/storage/s3/README.md)

this is my secret
[code]

is there something I'm missing

Also tested with https reported in this issue https://github.com/kubeflow/kfserving/issues/1630

[2021-06-03 18:11] juanvasquezreyes commented on #1519
I just figured it out, I was using the wrong region

[2021-06-03 18:54] #1560 closed

[2021-06-03 20:45] amybachir opened #1651 "Inferenceservice Admission Webhook Denied env[3].valueFrom.fieldRef Environment Variable Type"
Was `nferenceservice.kfserving-webhook-server.validator` specifically designed to reject environment variables of this type for a specific reason?
[code]
I'm trying to enable datadog APM on the inference services pods but  the admission webhook does not like that. I get the following error:

`for: "inferenceservice.yaml": admission webhook "inferenceservice.kfserving-webhook-server.validator" deni

[2021-06-04 00:59] goswamig commented on #1611
Thank you @kimwnasptd  let me know if you need help in review.

[2021-06-04 01:47] goswamig opened #1652 "Add sample which explain how to deploy model on EKS cluster"
/kind bug

**What steps did you take and what happened:**
I have installed Kubeflow-1.3. I could not figure out which version of kfserving it has installed by default.
Following were namespace created which I believe for KFServing
[code]

**What did you expect to happen:**
I tried to run [XGBoost sample](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/xgboost). Everything wo

[2021-06-04 06:22] dommgifer commented on #1644
I have same issue.

And check istio-ingressgateway pod, got error message:

`"- - HTTP/1.1" 400 DPE http.invalid_authority - "-" 0 11 0 - "-" "-" "-" "-" "-" - - 10.233.125.142:8080 192.168.50.130:7614 - - `

The message about istio policy?

[2021-06-04 09:26] #1643 closed

[2021-06-04 13:09] GetOn4 commented on #1638
Did you get any information or know the reason?

[2021-06-04 14:06] GetOn4 commented on #1643
Beautiful. This will fix my Issue. Thanks!
https://github.com/kubeflow/kfserving/issues/1638#issue-908309979

[2021-06-04 14:30] GetOn4 commented on #1638
Shoule be fixed with
https://github.com/kubeflow/kfserving/pull/1646

[2021-06-04 14:30] #1638 closed

[2021-06-04 14:35] #1631 closed

[2021-06-04 15:01] juanvasquezreyes commented on #1630
@adriangonz Hello Adrian, sorry to pull you into this, I was wondering if you have any idea why I'm getting this error when using an external minio endpoint

I tested using S3_VERIFY_SSL=0 and doesnt work, is there a way to provide my CA certificate so its secure?

[2021-06-04 15:26] adriangonz commented on #1630
Hey @juanvasquezreyes, have you tried setting the `serving.kubeflow.org/s3-usehttps` annotation to `0` to disable SSL? I believe KFServing will only look at those and not at the `S3_VERIFY_SSL` flag.

[2021-06-04 15:39] juanvasquezreyes commented on #1630
yes I have, but my endpoint is over https, so I have to use s3-usehttps with 1, my endpoint for example is https://myexternal-minio.com and is external from where kfserving is running

I believe kfserving is using S3_VERIFY_SSL just to create the credentials, but not when making the call, I see that S3_VERIFY_SSL is only used at the following files

[code]

but not where the error is thrown which

[2021-06-04 15:52] #1610 closed

[2021-06-05 22:05] yuzisun commented on #1624
@jidemoski kfserving supports standalone install option so you can build your own auth solution on top, please check https://github.com/kubeflow/kfserving#install-kfserving

[2021-06-05 22:15] yuzisun commented on #1641
@shydefoo The default pod startup timeout is 2min, you can change following configuration to increase it.
`kubectl patch cm config-deployment --patch '{"data":{"progressDeadline": "600s"}}' -n knative-serving`

[2021-06-06 03:21] #1581 closed

[2021-06-06 19:49] peidaqi opened #1653 "sklearn model server reports 404 model doesn't exist on curl request"
/kind bug

**What steps did you take and what happened:**
Following docs/samples/v1beta1/sklearn/v1/README.md
[code]

[code]

sklearnserver seems to working with the following outputs:
[I 210606 15:43:30 storage:45] Copying contents of ./ to local
[I 210606 15:43:30 kfserver:96] Listening on port 8080
[I 210606 15:43:30 kfserver:98] Will fork 1 workers
[W 210606 15:43:34 web:2246] 404 POST /v1/mod

[2021-06-06 22:57] peidaqi commented on #1653
Ok I figured it out...
1. The joblib file needs to be named as "model.joblib". You cannot give it a different name. sklearnserver only supports running with a single model currently.
2. Make sure joblib and cloudpickle are both up to date to the latest version. There were some compatibility issues with older versions of cloudpickle and Python 3.8. Test offline and make sure you can load the model

[2021-06-07 15:10] theofpa commented on #1624
I'm doing it by creating a second ingress which is using another auth method, see [this example](https://gist.github.com/theofpa/be7f87a6f056e2e0a8b4beaf932362da)

[2021-06-07 15:46] beyersito opened #1654 "Multi-model serving transformers support"
/kind feature

**Describe the solution you'd like**
As far as I understand, currently transformers are specfied on the multi-model server and not on each TrainedModel, meaning that the same pre/post-processing would be applied to every model. Our use case for MMS is hosting several different models in the same GPU to make efficient use, however if my understanding is correct, the current implement

[2021-06-07 20:38] edi-bice-by opened #1655 "aix-explainer fails with "No address associated with hostname""
/kind bug

Deployed latest from docs/samples/explanation/aix/mnist/aix-explainer.yaml to user namespace (not default) on Kubeflow 1.3 on GCP behind IAP security.

Trying to produce an explanation via

MODEL_NAME=aix-explainer
SERVICE_URL=https://kubeflow.endpoints.saas-ml-dev.cloud.goog
SERVICE_URL=https://kubeflow.endpoints.saas-ml-dev.cloud.goog
python query_explain.py ${SERVICE_URL}/v1/models/$

[2021-06-07 21:37] linuraj commented on #1626
Thank you @adriangonz

[2021-06-08 11:35] AntPeixe opened #1656 "different InferenceService name and model_name returns 404 [torch serve]"
/kind bug

**What steps did you take and what happened:**
Trying to serve a torch model for which I only have available the TAR file with the config folder and model-store/mar file.
Because of this it may happen that the `model_name` value is not the same as the name of the Inference Service is being created.
When trying to make a prediction the inference is routed to  `v1/models/<InferenceService

[2021-06-08 12:06] elukey opened #1657 "Improvements to self-signed-ca.sh"
/kind bug

**What steps did you take and what happened:**
Hi! I am trying to deploy kfserving 0.5 on minikube for testing (k8s 1.20, istio 1.6.14, knative 0.18.1 and go 1.15) and I am using the `self-signed-ca.sh` script instead of cert-manager. The script works fine, but I end up getting two separate errors when deploying a simple `InferenceService` resource:

* `x509: certificate relies on legac

[2021-06-08 12:24] shydefoo commented on #1641
Hi @yuzisun , thanks for the response. Where is this default pod startup timeout configured?

[2021-06-09 08:21] zamonia500 commented on #1569
I need this functionality too!
Any update here?

[2021-06-10 05:59] phonaylin opened #1658 "Inference not immediately available after Ready status"
/kind bug

**What steps did you take and what happened:**
Intermittent 404 error when calling the inference URL immediately after InferenceService is in Ready status

Following https://github.com/kubeflow/kfserving/blob/master/docs/samples/client/kfserving_sdk_v1beta1_sample.ipynb notebook, below is the snippet to reproduce the error:
[code]

It throws 404 sometimes:
[code]

**What did you expect

[2021-06-10 06:37] phonaylin commented on #1658
Please note that `is_isvc_ready` method from the SDK also throws `KeyError: 'status'` exception sometimes.
[code]

[2021-06-10 14:06] adriangonz commented on #1630
Hey @juanvasquezreyes, I was just having a look at this. I think you're right, it seems that `s3-verifyssl` is not currently being used.

Do you know if it's possible to skip the SSL verification on the storage initialiser @yuzisun? I guess this should also be double checked on the agent, right?

[2021-06-10 14:51] juanvasquezreyes commented on #1630
I was able to make it work, but in order to do that I had to manually load my ca certificate and set the following environment variable SSL_CERT_FILE based on the following file

/usr/local/lib/python3.7/site-packages/minio/api.py
line: 177

so s3-verifyssl, should skip certificate validation at minio/api.py when using urllib library

[2021-06-11 00:11] maganaluis opened #1659 "knative-local-gateway causing havoc with istio sidecar"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I installed KNative 0.22 and KFServing 0.5.1, all works well except that now istio sidecar is broken, and I'm not able to connect to other services.

[code]

This configuration causes the issue:

[code]

However if you disable the local-gateway, then you can't communicate with your infe

[2021-06-11 01:58] maganaluis commented on #1659
fyi the following installation works great:

[code]

[2021-06-11 05:07] haijohn commented on #1657
Maybe this [PR ](https://github.com/kubeflow/kfserving/pull/1603)can solve your issue

[2021-06-11 05:08] austynherman opened #1660 "Cannot access KFServing InferenceService through Ingress IAP GCP (Error 503)."
/kind bug

**What steps did you take and what happened:**
Cannot access KFServing InferenceService through Ingress (Error 503).

I deployed an instance of Kubeflow (v1.3.0) to GCP accompanied by an KFServing InferenceService. I am unable to access the InferenceService external to the cluster.

The InferenceService is a custom model that was deployed following the custom model tutorial: https://git

[2021-06-11 05:37] elukey commented on #1657
Hi @haijohn! The errors reported above are related to the master version of the script, I am aware of the patches to mutating and validating webhooks. What it is missing, in my opinion, is the patch to the conversion webhook that's missing (the caBundle doesn't get updated by the script). In my case, when a conversion between versions needed to happen, the unable to validate etc.. error popped up.

[2021-06-11 08:13] haijohn commented on #1657
I see, so we also need to patch the conversion webhook caBundle in the inferenceservice CRD

[2021-06-11 08:35] elukey commented on #1657
Yep this is my idea as well, but I didn't find a way to patch the CRD yet :D

[2021-06-11 08:57] haijohn commented on #1657
the caBundle resides in this patch file: https://github.com/kubeflow/kfserving/blob/595186347aad89218c8e8866b77052f59de68417/config/default/inferenceservice_conversion_webhook.yaml#L3-L19
so, you can replace the caBundle with a patch as follows:
[code]

[2021-06-11 14:08] elukey commented on #1657
@haijohn worked nicely, just tested it on minikube. I updated my pull request to include your fix (added you as co-author, lemme know if it is ok).

[2021-06-11 15:20] adamjablonowski opened #1662 "Serving service from github examples created with kubectl, but can not nor infere nor find the service, looks like it did not exist."
/kind bug

**What steps did you take and what happened:**
I have installed minikube cluster and kfserving on a linux desktop.
Then I have followed two tutorials
1. https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/custom/torchserve
2. https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2/custom/kfserving-custom-model
In the second tutorial I have needed to mo

[2021-06-12 02:32] haijohn commented on #1657
Hi，@elukey, It's ok.  According to this https://github.com/kubeflow/kfserving/issues/1618 issue，v1alpha2 will be deprecated in the future release，so the conversion webhook may no longer needed or maybe there will be a v1/v1beta conversion.  To be future compatible,  I think some error check (caBundle not exists) may also needed.

[2021-06-12 08:00] yuzisun commented on #1662
@adamjablonowski Please help give the detailed output of the service with `kubectl get isvc torchserve-custom -oyaml` and you can also run `kubectl get events` to debug the issue.

[2021-06-12 08:04] yuzisun commented on #1660
@austynherman check the installation guide [here](https://github.com/kubeflow/kfserving#prerequisites), for 0.5.1 you would need to modify `localGateway` to `knative-local-gateway` and `localGatewayService` to `knative-local-gateway.istio-system.svc.cluster.local` in the [inference service config](https://github.com/kubeflow/kfserving/blob/master/config/configmap/inferenceservice.yaml).

[2021-06-12 08:08] yuzisun commented on #1660
also the host header is wrong I believe, it should be `{ Model }-predictor-default.default.svc.cluster.local`

[2021-06-12 08:15] yuzisun commented on #1659
@maganaluis So if I understand correctly knative 0.22 breaks KFServing when istio sidecar is injected?

[2021-06-12 08:26] yuzisun commented on #1654
@beberg We are working on inference graph which would allow multiple transformers calling out to the same MMS predictor, but for now you can also work around by creating multiple custom predictors which calls out to the same MMS predictor.

custom-predictor-transformer-model1 ------> mms-predictor
custom-predictor-transformer-model2 ------> mms-predictor

[2021-06-12 08:38] yuzisun commented on #1656
@AntPeixe check the [torchserve example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/torchserve), I do not think we require the model name to be the same as the inference service name. Can you provide your inference service yaml? When you make the prediction call the path should be `v1/models/<ModelName>:predict`

[2021-06-12 08:43] yuzisun commented on #1655
/assign @drewbutlerbb4

[2021-06-12 08:51] yuzisun commented on #1620
/assign @pvaneck

[2021-06-12 09:03] yuzisun commented on #1613
I think we should do the same in quick install as we have in the e2e test https://github.com/kubeflow/kfserving/blob/master/test/scripts/run-e2e-tests.sh#L110.

[2021-06-12 09:04] elukey commented on #1657
@haijohn good point, but I think that we could simply report this note to the other issue and let future changes to lead the next step (should be easier to fix when it will be clear how the conversion webhook will be used in the future, maybe it will be needed for a lot of next releases). Let me know what you think, if you feel strongly about adding a check I'll work on it.

[2021-06-12 16:00] yuzisun commented on #1371
This is the current setup, with the mesh mode we had to use knative local gateway to route from top level virtual service `sklearn-iris` to the knative service virtual service `sklearn-iris-transformer-default`.
<img width="1037" alt="Screen Shot 2021-06-12 at 11 58 23 AM" src="https://user-images.githubusercontent.com/7662095/121782038-a254a300-cb75-11eb-90b1-d240973ba8c7.png">

[2021-06-12 18:10] austynherman commented on #1660
@yuzisun I really appreciate the support.

I have applied the inference service config as you have specified:

[code]

I have also updated my virtual service manifest to the following:

[2021-06-12 20:31] maganaluis commented on #1659
@yuzisun No, I made sure the sidecar injection is disabled via the configmap in the istio-system. There is another issue I found yesterday where incoming requests from the browser, or the istio-ingressgateway are being executed twice on the inference services. See https://github.com/knative/serving/issues/11510

This networking issues are strange indeed, I think I will have to get a configuration

[2021-06-13 12:07] yuzisun commented on #1371
istio virtual service delegate helps forwarding the traffic to transformer when using the top level host `sklearn-iris` however this does not seem to work and get 404 instead
[code]

[code]

[2021-06-13 19:52] yuzisun commented on #1660
@austynherman `kfserving-system` is for standalone installation, I think you are using kfserving in kubeflow so kfserving is actually installed in the `kubeflow` namespace as well as the inference service configuration.

[code]

[2021-06-13 20:01] yuzisun commented on #1660
@austynherman also which knative version you are running and is knative local gateway installed, just to make sure it is not same issue as https://github.com/kubeflow/kfserving/issues/1199

[2021-06-13 20:01] yuzisun commented on #1199
@jal06 Have we made any progress here?

[2021-06-13 20:08] austynherman commented on #1660
@yuzisun I am on Knative version 0.22.0. The `knative-local-gateway` is installed and I am able to see it in "services".

One interesting thing to note, but not entirely sure if it would result in any configuration issues... I noticed that the `knative-local-gateway` is installed in the `knative-serving` namespace when deployed with kubeflow vs `istio-system` when deployed through the standalone p

[2021-06-13 20:13] austynherman commented on #1660
@yuzisun I have looked at that issue quite a bit. I do not believe that #1199 is the same error as the issue is centered around the installation of the `cluster-local-gateway` which has been folded into `knative-local-gateway` in later versions of Knative I have (v0.22.0). Does this sound correct to you?

[2021-06-13 20:17] NikeNano commented on #1613
I suggest we align the setup to be similar, maybe even use the same script so that it is validate through the e2e test for continues testing to avoid issues for users WDYT @yuzisun?

[2021-06-14 11:28] adamjablonowski commented on #1662
Thanks, It turned out that my local docker registry wasn't visible from kubernetes. kubectl get events shows TYPE Warning REASON InternalError and MESSAGE "Unable to fetch image torchserve-custom:latest": failed to resolve image to digest: Get "http://localhost:500/v2/": dial tcp 127.0.0.1:5000: connect: connection refused".

[2021-06-14 14:21] ja06200 commented on #1199
@yuzisun, there were a few PR in gcp-blueprints for solving this issue :
- https://github.com/kubeflow/gcp-blueprints/pull/177 add istio local gateway deployment in istio-system
- https://github.com/kubeflow/gcp-blueprints/issues/144 Upgrade ASM from 1.4 to 1.6+
- https://github.com/kubeflow/gcp-blueprints/issues/209 Integrate Knative and KFServing

@Bobgy, please could you give a status ?
Could w

[2021-06-14 16:13] edi-bice-by commented on #817
This continues to be an issue a year later and the split of all model data into multiple "subfolders" is common

edibice@MD1-1029014MBP tensorflow % kubectl logs transit-times-predictor-default-00002-deployment-6bf944d94sbmhv -n edi-bice -c storage-initializer
[I 210614 14:48:39 initializer-entrypoint:13] Initializing, args: src_uri [gs://kf-poc-edi/tfx_pipeline_output/transit_times/Trainer/model/

[2021-06-14 16:55] Tomcli commented on #1655
Hi @edi-bice-by, does your cluster with IAP can run this basic sk-learn example?
https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/sklearn/v1

For some Dex authorization, we still have to disable the istio sidecar in order to run the model properly. Maybe you can add the `sidecar.istio.io/inject: "false"` annotation like the below example
https://github.com/kubeflow/kfserving/

[2021-06-14 18:13] edi-bice-by commented on #817
After copying all model data into a flattened "folder" in GS, I run into the following no matter how I specify the source GS path, with or without ending slash, containing a model version at the end etc

`apiVersion: "serving.kubeflow.org/v1beta1"
kind: "InferenceService"
metadata:
  name: "transit-times"
spec:
  predictor:
    serviceAccountName: default-editor
    tensorflow:
      storageUri: "

[2021-06-14 21:18] edi-bice-by commented on #817
Even if one gets past the version (copying the model folder which hosts the version subfolders) and existing path issue (by flattening) it seems the paths are baked into the model binary

  - lastTransitionTime: "2021-06-14T20:42:57Z"
    message: "Revision \"transit-times-predictor-default-00002\" failed with message:
      Container failed with: flow/tensorflow/cc/saved_model/loader.cc:311] Save

[2021-06-15 09:43] Luke035 opened #1663 "Serving request keep restarting if timeout is reached"
/kind bug

**What steps did you take and what happened:**
A created a simple custom service that waits 60 seconds before returning a simple "OK"
[code]
Then I created an Inference service that uses this model with a timeout of 30 seconds
[code]

After 60 seconds I get a 504 timeout error but the pod is executing the same request for several times (blocking resources within the container)
[code]

*

[2021-06-15 10:50] DavidSpek commented on #1563
I've come up with a solution that will allow for namespace isolated Grafana dashboards without running multiple instances of Grafana (which also wouldn't work from an isolation standpoint). I think it will be important to explore this with multiple working groups, as I'm sure many of them would like to have integrated metrics dashboards.
@kimwnasptd Can you explain how you are implementing Grafana

[2021-06-15 11:11] adamjablonowski commented on #1662
Do you know what is the best way to share access to own docker registry?

[2021-06-15 13:08] yuzisun commented on #1663
@Luke035 which version of knative you are on? I do not think we do retries on the request path.

[2021-06-15 13:13] yuzisun commented on #1662
@adamjablonowski Please check https://knative.dev/docs/serving/deploying/private-registry/ to see if this helps.

[2021-06-15 13:15] Luke035 commented on #1663
@yuzisun Version of knative is v0.14.3
I think it's due to the max retries param in the virtual service configuration: I noticed that every request is executed (when exceeding timeout) 4 times and then it stops.

Do you know how can I tweak the max retry parameter in the InferenceService configuration

[2021-06-15 13:32] yuzisun commented on #1613
sgtm, the only difference is that in e2e we build the kfserving from the PR instead of using the released version.

[2021-06-15 13:39] yuzisun commented on #1371
@yanniszark @theofpa I think there are two options here
1) With istio delegate we can remove the dependency of knative local gateway, but I could not get this working not sure if it is an istio bug, also Istio still remains as a hard dependency for kfserving if we are using delegates.
2) Reconcile knative virtual service and update the top level virtual service to resolve to the actual kubernetes

[2021-06-15 13:48] yuzisun commented on #1641
@shydefoo it is the same configuration I posted above, check this doc https://knative.dev/docs/serving/services/deployment/#configuring-progress-deadlines, looks like in latest version the default is already changed to 10m.

[2021-06-15 15:38] kimwnasptd opened #1664 "Add docs for the Models web app"
/kind feature

**Describe the solution you'd like**
Right now the only docs we have for the web app are located in the app's [README](https://github.com/kubeflow/kfserving/blob/master/web-app/README.md) file.

I think it would be helpful for end users if we would also include documentation about the app in the official [kubeflow.org](https://www.kubeflow.org/docs/components/kfserving/) docs.

One

[2021-06-16 01:17] #1641 closed

[2021-06-16 01:32] yuzisun commented on #1663
@Luke035 this is already fixed in the later knative versions, [this PR](https://github.com/kubeflow/manifests/pull/1768) upgrading to knative 0.17 should fix it but you could always upgrade manually yourself.

[2021-06-16 01:32] #1663 closed

[2021-06-16 01:33] yuzisun commented on #1663
see https://github.com/knative/serving/pull/7842 for reference where retries are disabled.

[2021-06-16 01:39] yuzisun commented on #1664
Thanks @kimwnasptd ! I think this is good.

[2021-06-16 01:40] #1457 closed

[2021-06-16 03:48] Bobgy commented on #1199
@zijianjoy implemented the fixes in Kubeflow on GCP 1.3 and got some basic examples working.
I recall that he mentioned there was still some remaining problems.

Can you update here?

[2021-06-16 08:25] danishsamad commented on #1558
Applying @pvaneck recommended authorization policy permits to access isvcs from external clients but internal clients (sending reqs through cluster local gateway) are still unable to access the service.
I see a rbac_access_denied_matched_policy[none] error in istio-proxy container within the inference service pod for internal requests coming in through the cluster local gateway
Do we need another

[2021-06-16 10:14] daganida88 commented on #1639
@yuzisun ?

[2021-06-16 13:55] lsuanet opened #1665 "404 on all routes using simple example"
/kind bug

**What steps did you take and what happened:**
I am getting 404 on the most basic SKLearn example Inference service. The service has status `Ready` and has a url, but I cannot get it to work. We use the `knative-local-gateway`.

The Inference Service:
[code]

curl output (POST with an empty body, which should at least give 400):
[code]

Inference service config altered to work with `kna

[2021-06-16 15:17] lsuanet commented on #1665
UPDATE:
I also tried it with the following environment, which gave the same result:
- Istio Version: 1.9.2
- Knative Version: 0.23.0
- KFServing Version: 0.5.1
- Kubernetes version: (use kubectl version): 1.18

[2021-06-16 17:34] yanniszark commented on #1371
@yuzisun thanks for taking the time to write all of this down. I tried to summarize all the information that we talked about in the meeting at a high level, to sync our understanding on where we are now and where we want to go.

### Current Scenario that Kubeflow supports out-of-the-box

Please keep in mind that everything refers to sidecar-injected Pods, which is the default in Kubeflow Profiles.

[2021-06-16 18:44] NikeNano commented on #1613
After debugging this further i think the issues it not related to the `pods` but the TLS certificates from the [docs](https://cert-manager.io/docs/installation/kubernetes/#verifying-the-installation):

[code]

I suggest we retry the deployment and sleep 10 seconds if i fails.

[code]

[2021-06-16 22:37] Peilun-Li opened #1666 "Custom setting of v1beta1 batcher seems to be ineffective"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
(While things work fine in v0.4/v1alpha2) Customization of the v1beta1 batcher setting (maxBatchSize, maxLatency, timeout) seems to be ineffective -- the actual honored value is still the default value (maxBatchSize=32, maxLatency=5000)

Here I just use the [v1beta1 batcher example](http

[2021-06-16 22:59] Peilun-Li commented on #1397
Hey @yuzisun just checking any updates or plan/workaround on this? Thanks!

[2021-06-17 00:33] yuzisun commented on #1666
@Peilun-Li This is fixed already, should be available in 0.6.0.

[2021-06-17 00:34] yuzisun commented on #1657
fixed in https://github.com/kubeflow/kfserving/pull/1661

[2021-06-17 00:34] #1657 closed

[2021-06-17 00:37] yuzisun commented on #1642
@chengsky-NTU What's the kubernetes-python version you are using, v1beta1 is already migrated from swagger to openapi.

[2021-06-17 00:45] yuzisun commented on #1642
I think you are on the older version of python kubernetes client which still uses swagger_types.

[2021-06-17 00:45] #1642 closed

[2021-06-17 07:21] lsuanet commented on #1665
Related https://github.com/knative/serving/issues/10160

[2021-06-17 08:23] philwinder commented on #762
I also see another similar issue with another model:

[code]

If I manually browse to these files, or curl them, they work. But via Seldon or kfserving it fails.

[2021-06-17 20:25] Vafilor opened #1667 "Transformer not working with Tensorflow tensors in column format"
/kind bug

**What steps did you take and what happened:**

Following this guide: https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/transformer/torchserve_image_transformer

I created a transformer converting base64 to data with tensors in column format to be sent to a predictor running tensorflow  serving 2.5.1.

Here's a part of the final data I send - the result of `preproce

[2021-06-18 08:41] Iamlovingit opened #1669 "about the v1beta1 canary dataflow"
/kind bug

**What steps did you take and what happened:**
Inference service has two components: `transformer` and `predictor`, when we create a canary branch, we found that the dataflow could be one of :
`transformer-canary`->`predictor-default` ,
 `transformer-default`->`predictor-canary` ,
`transformer-canary`->`predictor-canary` ,
`transformer-default`->`predictor-default`.

When we changed the

[2021-06-18 12:14] AntPeixe commented on #1656
I figured out what I was doing wrong with the names and you are correct.

[2021-06-18 12:14] #1656 closed

[2021-06-18 13:03] #1613 closed

[2021-06-19 00:04] maganaluis opened #1671 "Cloud events responses need to be configurable for custom predictors and transformers"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Cloud events responses need to be configurable for custom predictors and transformers. Currently it returns the same Ce-Type and Ce-Source, which means that the transformer/predictor will get those events again except this time without the proper payload, at any case they need to be c

[2021-06-19 00:16] sriumcp opened #1672 "Add routing (Knative traffic) tag for latest model"
/kind feature

**Describe the solution you'd like**
When using the canaryTrafficPercent field, the default model has a `prev` tag. Please add the `latest` tag for the latest (canary model). This would  enable simplification of A/B testing and SLO validation experiments of KFServing models.

**Anything else you would like to add:**
Slack conversation...

[code]

[2021-06-19 09:46] yuzisun commented on #1371
To enable the mesh mode all you need to do is to inject the istio sidecar which is done by default with Kubeflow setup I assume, knative creates two virtual services for both `mesh` and `local gateway`, so istio sidecar should choose the mesh gateway and route the traffic from transformer to predictor directly without going through the local gateway.

[2021-06-22 03:04] himanshu9345 opened #1679 "Broken Link in Samples -> Kafka"
/kind bug

There is a broken link in https://github.com/kubeflow/kfserving/blob/master/docs/samples/kafka/README.md

contains broken link:
5. Install Kafka Event Source

https://github.com/knative/eventing-contrib/tree/main/kafka/source return 404

The issue raised by @difince in Kubeflow/website
https://github.com/kubeflow/website/issues/2740#issue-902320041

[2021-06-22 03:07] himanshu9345 commented on #1679
/assign

[2021-06-22 05:47] #1679 closed

[2021-06-22 06:33] yuzisun commented on #1671
@maganaluis ye think env variable is fine, if not present we can set the default type/source as you suggested

[2021-06-22 10:04] fatimaafridi opened #1683 "Watch timeout runs indefinitely and doesn't log inference service status"
I am trying to deploy a sample tensor flow model through a scenario in which I have multiple node pools with node auto scaling enabled. Node pool stays down unless an inference service is deployed on it.  When an inference service deployment is instantiated, the node pool takes around 7 minutes to become ready and after that the pods are scheduled.

Whenever I try to deploy in such scenario, the w

[2021-06-22 11:11] haijohn opened #1684 "[Storage] extracted model can not be recognized by tfserving because redundent directory"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If I have a saved tensorflow model 0001 inside a directory model
[code]
and compress
[code]
serving the model by using http as StorageUri, serving container cat not run.
because the extracted file is located in
[code]
instead of
[code]

**What did you expect to happen:**
Tensorflow Servi

[2021-06-22 11:54] yuzisun commented on #1667
@Vafilor According to inference [v2 protocol](https://github.com/kubeflow/kfserving/blob/master/docs/predict-api/v2/required_api.md#inference-request-json-object) the `inputs` is a list but looks like this clashes with the tensorflow v1 protocol where `inputs` is a dict.

[2021-06-22 14:35] SeibertronSS opened #1685 "Why do I always pull the new gcr.io/kfserving/pytorchserver image when I deploy the isvc of pytorch?"
/kind feature

Why do I always pull the new gcr.io/kfserving/pytorchserver image when I deploy the isvc of pytorch?

[2021-06-23 19:27] yanniszark commented on #1371
@yuzisun I tried to reproduce but bumped into something very strange. First, requests were proxied through the activator Pod. I tried injecting it with a sidecar and allowing its traffic. However, I noticed that the inferenceservice sidecar was still blocking traffic.

I tried to debug with:
`k exec -it <transformer-pod> -c istio-proxy -- pilot-agent request POST 'logging?rbac=debug'`

and saw tha

[2021-06-24 21:47] sukumargaonkar opened #1690 "Make default asyncio workers proportional to cpu-limit"
/kind feature

Currently a custom transformer spawns threads promotional to the number of cores on the machine/node. This might be due to python (and tornatdo, asyncio) not being container aware. On nodes with high core count, more threads cause throttling when cpu-limit is comparatively low

Making the number of threads spawned proportional to cpu-limit would help with throttling.

[2021-06-25 07:40] jhs0318 opened #1691 "s3 file download is failed when explainer deploying"
/kind bug

Hello,
serviceAccountName does not apply when deploying the explainer in s3.
predict deploying is ok.
Please check it.

-- yaml
apiVersion: "serving.kubeflow.org/v1beta1"
kind: "InferenceService"
metadata:
  name: "imagenet"
  namespace: auto-create-26
spec:
  predictor:
    serviceAccountName: s3-sa
    tensorflow:
      storageUri: "s3://jhs-bucket/seldon-models/tfserving/imagenet/mod

[2021-06-25 12:26] #1690 closed

[2021-06-28 15:12] DavidSpek commented on #1371
@yanniszark I was seeing the same error while I was busy with https://github.com/kubeflow/kfserving/pull/1688. In that PR, the AuthorizationPolicy for the namespace only allows access to the `/metrics`, `/ready`, `/healthz`, `/wait-for-drain` and `/v1/models/*` (not sure if this should be needed) from the `knative-serving` service account (or namespace, I tested that separately). The requests from

[2021-06-29 18:45] BrandonLiang commented on #1601
@Ruminateer May i ask what you did to resolve this? Thanks!

[2021-06-29 21:35] edi-bice-by commented on #817
@ellistarn

I was able to download from GCS and recreate locally the nested model structure produced and required by Tensorflow. How do I go about patching my Kubeflow 1.3 deployment using this?

python/kfserving/kfserving/storage.py

`    @staticmethod
    def _download_gcs(uri, temp_dir: str):
        try:
            storage_client = storage.Client()
        except exceptions.DefaultCredentials

[2021-06-29 21:39] edi-bice-by commented on #817
`
hello
print
`

[2021-06-30 03:05] Ruminateer commented on #1601
@BrandonLiang That's just a dumb bug that the server isn't listening on the right port.

[2021-06-30 08:41] yuzisun commented on #1371
@DavidSpek Do you have istio proxy injected for knative activator pod?

[2021-06-30 08:42] DavidSpek commented on #1371
@yuzisun The Activator pod is injected with the sidecar proxy.

[2021-06-30 10:04] daganida88 commented on #1639
?

[2021-06-30 12:20] yuzisun commented on #1371
Also if you see PassthroughCluster that means the request is not routed through the mesh, so the destination service is not on the service mesh? We can try debug with `istioctl proxy-config` and examine the mesh configurations.

[2021-06-30 12:26] yuzisun commented on #1371
@DavidSpek Actually knative activator might be directly addressing the pod IPs bypassing the virtual service routes.

[2021-06-30 12:37] DavidSpek commented on #1371
@yuzisun My conclusion is indeed that the KNative Activator is addressing the pods directly and not using the virtual service routes, which is causing the problems.

[2021-06-30 13:05] yuzisun commented on #1371
Let's bring this issue to knative community ?

[2021-06-30 13:15] DavidSpek commented on #1371
@yuzisun That's what I was also thinking. The authorization policy they provide does work, but it's very broad and thus not really best practice I'd say. You should want to limit access to the necessary paths to either the service account KNative uses, or the knative-serving namespace. In situations like Kubeflow where you want to isolate namespaces this is a must, and these fine grained permissio

[2021-06-30 13:16] yuzisun commented on #1371
see this relevant issue https://github.com/knative-sandbox/net-istio/issues/554

[2021-06-30 13:26] yanniszark commented on #1371
This Istio issue also seems relevant: https://github.com/istio/istio/issues/23494

[2021-06-30 20:27] edi-bice-by commented on #817
Okay, I'm following the steps in the developer readme and attempting to build and deploy kfserving 0.5 with patched storage initializer to my kubeflow 1.3 cluster

[2021-07-01 01:33] #1074 closed

[2021-07-01 05:42] xuhdev opened #1694 "[DOC] KFModel.load(): How to override? Inconsistent return type in examples"
/kind bug

**What steps did you take and what happened:** `KFServing.load` returns bool (`self.ready`):

https://github.com/kubeflow/kfserving/blob/b684b2ec26f8ddabdde36f9f462f5d8ac8458632/python/kfserving/kfserving/kfmodel.py#L84

However, examples in the repo are inconsistent on this. For example, https://github.com/kubeflow/kfserving/blob/b684b2ec26f8ddabdde36f9f462f5d8ac8458632/docs/samples/ex

[2021-07-01 06:38] SeibertronSS opened #1695 "Cannot deploy the inferenceservice in the 'kubeflow' namespace"
I can't deploy the inferenceservice in the 'kubeflow' namespace. But when I use other namespaces, such as default, I can deploy inferenceservice normally.
When I use the namespace'kubeflow', kfserving prompts that it can‘t find the PyTorch Model Class File.  From the log of the container, it is found that the container doesn’t connect the file in the local PVC to the container.

[code]

[2021-07-01 08:53] yuzisun commented on #1695
@SeibertronSS kubeflow is system namespace and we do not support deploying inference service there as documented on the installation guide.

[2021-07-01 08:53] #1695 closed

[2021-07-01 08:55] yuzisun commented on #1666
released in 0.6.0

[2021-07-01 08:55] #1666 closed

[2021-07-02 08:30] SeibertronSS opened #1698 "kfsering will not work properly when there is a lot of test data"
When I have a very large test dataset, should I split the dataset first, and then use kfserving for inference? I find that when there is a lot of test data, kfsering will not work properly.

[2021-07-02 09:40] SeibertronSS opened #1699 "How should I avoid always pulling the latest image every time when there is a new pytorchserver image?"
How should I avoid always pulling the latest image every time when there is a new pytorchserver image? This will be very time consuming.

[2021-07-02 11:35] dejangolubovic commented on #1359
Thank you @prgawade for raising the issue. It helped me solve this issue.

Environment:

- Istio Version: 1.5
- Knative Version: 0.15
- KFServing Version: 0.3.0
- Kubeflow version: 1.1

In case anybody has the same issue, this is what worked for us:

As written here https://cert-manager.io/docs/concepts/ca-injector/, we need to make sure that caBundle if the mutatingwebhookconfiguration (and valid

[2021-07-02 13:20] karlschriek opened #1700 "HTTPError: 503 Server Error: Service Unavailable for url"
/kind bug

**What steps did you take and what happened:**

This is more of a request for help than a bug report at this point, since I have not yet managed to pinpoint exactly where the problem lies. We are currently trying to get KFServing to work on [argoflow-aws](https://github.com/argoflow/argoflow-aws/tree/feature/kfserving-testing), so the setup is not 100% comparable to what is in the KF 1.

[2021-07-05 00:03] mszacillo opened #1702 "Integrate Ray into MMS for Parallel Inference"
/kind feature

**Describe the solution you'd like**

Recently we've been able to merge https://github.com/kubeflow/kfserving/pull/1637, which adds parallel inference support to kfserving by making use of Rayserve annotations. To build upon this, we should be able support this feature as part of MMS as well. This would allow us to deploy multiple models, with each model running as a separate python

[2021-07-05 12:18] karlschriek commented on #1700
Some more info,

I thought bis might have to do with port mismatching as described here: https://github.com/istio/istio/issues/31084. It certainly does describe a very similar sitution.

However, it does look like the the port mapping is correct, as `istioctl proxy-config listener istio-ingressgateway-6968d58d88-xhw8l.istio-system`: yields:

[code]

[2021-07-05 12:25] SeibertronSS opened #1703 "The problem of kfserving handling multiple requests at the same time"
I encountered a very difficult problem.
In my work, I often encounter very large test data. Since kfserving cannot perform inferences on massive amounts of data at one time, I have to split the test data into smaller data sets and store them in json. In order to improve efficiency, I use multi-threading in the python program to request multiple inference services at the same time. This causes a pr

[2021-07-05 21:44] yuzisun commented on #1703
@SeibertronSS KFServing is not designed for doing inference on a large dataset on server side, you are going to hit the timeout issue. You either need to split the large dataset into much smaller micro-batches on client side or send request with one record at a time and let server side batcher which you are using to make micro-batches for you.

[2021-07-05 21:45] yuzisun commented on #1699
@SeibertronSS The image pull policy is set to `IfNotPresent` so it should not pull the image again if the node has the image cache.

[2021-07-05 21:46] yuzisun commented on #1698
this is the same as #1703

[2021-07-05 21:46] #1698 closed

[2021-07-05 21:47] yuzisun commented on #1685
This is the same as #1699

[2021-07-05 21:47] #1685 closed

[2021-07-06 01:05] SeibertronSS commented on #1703
Thank you very much for your answers. I still have a few questions,
- I have divided the big test data into small datasets, but when I use multiple threads to request isvc at the same time, I still get the timeout result;
- The trigger mechanism of `batcher` in kfserving refers to when the amount of data (such as the number of pictures) in a certain request exceeds `max_batch_size`?

[2021-07-06 09:26] AahanSingh opened #1704 "Unable to deploy with TorchServe"
/kind bug

Any help is appreciated.

**What steps did you take and what happened:**

1. Installed Kubeflow on AWs via the AWS deployment [guide](https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/).
2. Tested KFserving installation via this [guide](https://github.com/kubeflow/kfserving#test-kfserving-installation)
3. Tried running a pytorch server via this [guide](https://gith

[2021-07-06 12:40] yuzisun commented on #1704
@AahanSingh TorchServe is not supported in kubeflow 1.2, please help upgrade to kubeflow 1.3

[2021-07-06 12:53] yuzisun commented on #1703
You might want to set the `containerConcurrency` to 1 then inference service can scale up as needed for concurrent batches.

If you are make batches from the client side then better to turn off batcher, this is only for the case when you are sending individual record and let kfserving make micro-batches for you.

[2021-07-06 12:54] #1704 closed

[2021-07-06 13:45] SeibertronSS commented on #1703
Thank you for your reply. I find that kfserving will return a timeout result when using multiple threads and `batcher` at the same time. When I closed the `batcher`, I get the correct result.
When ·containerConcurrency· is set to 1, kfserving will automatically expand and contract, but it also brings resource occupation, because I use GPU for inference. I think GPU virtualization can alleviate thi

[2021-07-06 13:55] MeranaTona opened #1705 "Yaml file deployed models respond to requests. Python API deployed models dont."
/kind bug

Hi all,

**What steps did you take and what happened:**

I deployed a model by following this demo notebook: https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1alpha2/custom/kfserving-custom-model/kfserving_sdk_custom_image.ipynb. It will result in an isvc with state "ready"=true in namespace "kubeflow-user-example-com".  Unfortuanetely it will not respond when sending req

[2021-07-06 14:30] AahanSingh commented on #1704
Is there a guide available to upgrade Kubeflow versions? I am unable to find this.

[2021-07-07 02:32] SeibertronSS opened #1706 "After deleting isvc, the corresponding Pod will stay in Terminating state for a long time"
Why after deleting isvc, the corresponding Pod will stay in Terminating state for a long time instead of being deleted immediately？

[2021-07-07 05:57] karlschriek opened #1707 "Alibi Example explainer fails at startup with asyncio KeyError: '7 is not registered'"
/kind bug

**What steps did you take and what happened:**

I prepared a small Alibi example based on what is described here:  https://github.com/kubeflow/kfserving/blob/master/docs/samples/explanation/alibi/imagenet/README.md and use this YAML spec (https://github.com/kubeflow/kfserving/blob/master/docs/samples/explanation/alibi/imagenet/imagenet.yaml) which differs somewhat from what is in the RE

[2021-07-07 06:04] tulsi0523 opened #1708 "Getting error from curl that "Model(tensorflow) with name model1 does not exist"
/kind bug

**What steps did you take and what happened:**
I have created inference service with kfserving client sdk v1alpha2 api

**What did you expect to happen:**
Url of inferenceservice with Ready as True

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kube

[2021-07-07 06:19] AahanSingh commented on #1704
@yuzisun Could you point me to the document that helps upgrade Kubeflow on aws. I have been unsuccessful in finding this.

[2021-07-07 06:59] SeibertronSS opened #1709 "How to use the pytorchserver image built by myself"
Hello everyone,
Because I want to add some customized functions to the existing pytrochserver, I create a customized docker image. But I don't know how to use this customized image to deploy an isvc.

[2021-07-07 07:27] MeranaTona commented on #1705
Might be a similar problem: https://github.com/kubeflow/kfserving/issues/1708

[2021-07-07 12:14] yuzisun commented on #1706
@SeibertronSS The `TerminationGracePeriod` is set to equal to the request timeout value which is by default 300s, the reason is that inference service pod needs to wait for the possible in flight requests to drain before fully terminating.

[2021-07-07 12:14] #1706 closed

[2021-07-07 12:16] yuzisun commented on #1707
@karlschriek This is mostly an issue for AsyncIO with multi-processing, could you set workers to 1?

[2021-07-07 12:24] yuzisun commented on #1703
There is not much reason to turn on batcher when you are sending concurrent client side batches already, as the server makes even bigger batches in that case and could time out when processing large number of records. Another option is that instead of horizontal scaling you can do multi-processing by increasing the workers in the container.

[2021-07-07 12:34] yuzisun commented on #1705
@MeranaTona Can you provide the response you are getting when sending the request from notebook?

[2021-07-07 12:35] yuzisun commented on #1708
@tulsi0523 Please provide with your inference service yaml.

[2021-07-07 13:28] DineshkumarElumalai opened #1710 "MountVolume.SetUp failed for volume "cert" : secret "kfserving-webhook-server-cert" not found"
/kind bug

**What steps did you take and what happened:**
I have installed kfserving as mentioned here https://github.com/kubeflow/kfserving#install-kfserving. But kfserving-controller-manager pod is stuck in container creating state with an error `MountVolume.SetUp failed for volume "cert" : secret "kfserving-webhook-server-cert" not found`

[code]

[code]
**What did you expect to happen:**

Expe

[2021-07-07 14:54] tulsi0523 commented on #1708
@yuzisun

I have created the inference service with client SDK.

Below is code for same

from kubernetes import client

from kfserving import KFServingClient
from kfserving import constants
from kfserving import utils
from kfserving import V1alpha2EndpointSpec
from kfserving import V1alpha2PredictorSpec
from kfserving import V1alpha2TensorflowSpec
from kfserving import V1alpha2InferenceServiceSpec

[2021-07-07 16:14] sriharan16 commented on #1710
Facing a similar issue. Using similar latest versions.
@yuzisun - tagging for better visibility

[2021-07-07 22:58] xuhdev opened #1711 "`Subject` attribute in logger"
/kind feature

**Describe the solution you'd like**

Currently the logger

https://github.com/kubeflow/kfserving/blob/4550d9d0d59ad2190e0e9a92c42cc828837d8fce/pkg/logger/types.go#L30-L40

doesn't support a `subject` attribute similar to [that of cloudevent](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#subject). Would you be interested in enabling the logger to be able to make use of thi

[2021-07-08 04:31] SeibertronSS commented on #1703
Thank you very much for your suggestion. I have made the modification according to your suggestion.

[2021-07-08 06:10] karlschriek commented on #1700
So after a lot of digging and lots of attempts to get the above setup to work, I eventually changed over to using an explicit `cluster-local-gateway` Pod and now have a working setup.

Just to clarify a bit more:

My understanding of the most recent istio ingressgateway setup is that you are supposed to need only *one* "istio-ingressgateway" pod and do not actually need a separate "cluster-local-g

[2021-07-08 12:34] yuzisun commented on #1710
@DineshkumarElumalai Do you have cert manager installed?

[2021-07-08 12:39] #1703 closed

[2021-07-08 12:42] yuzisun commented on #1691
@jhs0318 Can you check the explainer container to see if AWS S3 environment variables are injected there?

[2021-07-08 12:58] DineshkumarElumalai commented on #1710
@yuzisun Yes. It's installed already
[code]

[code]

[2021-07-08 13:55] yuzisun commented on #1700
@karlschriek Are you sure you are running knative 0.24? `cluster-local-gateway` is removed in 0.24 and renamed to `knative-local-gateway`

[2021-07-08 14:49] yuzisun commented on #1273
this looks like cluster setup issue.

[2021-07-08 14:49] #1273 closed

[2021-07-08 15:10] yuzisun commented on #1710
@DineshkumarElumalai Could not replicate this, can you help get the following output?
`kubectl get certificate -n kfserving-system -oyaml`

[2021-07-08 15:45] DineshkumarElumalai commented on #1710
@yuzisun I have reinstalled the cert-manager and it worked now. Thank you so much

[2021-07-08 16:24] #1710 closed

[2021-07-08 18:00] karlschriek commented on #1700
I rolled out cluster-local-gateway (Pod, Service and Gateway) separately, or more precisely: as part of thwe IstioOperator install spec. The knative-local-gateway in the net-istio installation I patched out

[2021-07-08 18:25] plainenough opened #1712 "Unable to install kf-serving standalone v0.6.0 - artifact missing from release."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

kubectl apply -f https://github.com/kubeflow/kfserving/releases/download/v0.6.0/kfserving.yaml
error: unable to read URL "https://github.com/kubeflow/kfserving/releases/download/v0.6.0/kfserving.yaml", server reported 404 Not Found, status code=404

**What did you expect to happen:**

k

[2021-07-08 19:35] mohakamg commented on #1712
Agreed, facing the same bug. Looks like the yaml file was never uploaded to the release 0.6.0

[2021-07-08 19:47] yuzisun commented on #1712
fixed.

[2021-07-08 19:47] #1712 closed

[2021-07-09 01:53] nongqiqin commented on #1563
Can't deploy Model UI to local kubeflow now?

[2021-07-09 08:48] kimwnasptd commented on #1563
Hi @nongqiqin, could you create a distinct issue for this so that we can further investigate there?

[2021-07-09 11:22] karlschriek commented on #1707
I was eventually able to solve this by using "gs://seldon-models/tfserving/imagenet/explainer" instead.

[2021-07-09 11:22] #1707 closed

[2021-07-09 11:32] karlschriek opened #1713 "Alibi explainer example times out"
/kind bug

**What steps did you take and what happened:**

I am rolling out the Alibi Explainer example (as explained here https://github.com/kubeflow/kfserving/tree/v0.6.0/docs/samples/explanation/alibi/imagenet), although I have had to slightly adapt the InferenceService spec (see https://github.com/kubeflow/kfserving/issues/1707) as follows:

[code]

Predictor and explainer both roll out succes