[2019-04-11 17:25] ellistarn opened #15 "Enable Prow + CI/CD"
It would be great to have some automated testing in place to determine that changes do not break anything:

It might be good to start with:
- Unit Tests
- Linting

And eventually enable:
- End-to-End tests

For e2e tests in Kubeflow, see  https://github.com/kubeflow/testing#setting-up-kubeflow-test-infrastructure

[2019-04-15 08:35] jinchihe opened #22 "Readme file or design document"
I'm interested the kfserving repo, and want to have a quick start for this, seems no basic operation introduction in Readme, any plan to deliver that? or could please share the design document? Thanks a lot!

[2019-04-19 07:48] ukclivecox opened #33 "Allow Custom Components"
Allow the creation of custom components initially provided by a `v1.Container` specification.

[2019-04-19 12:48] yuzisun opened #36 "Support credentials to load model from GCS/S3 storage"
In order to read model from GCS/S3 storage, we need to support credentials.
e.g for S3 we need to create a secret and refer as environment variables.
[code]
[code]

[2019-04-20 05:10] #22 closed, assigned to nobody

[2019-05-13 16:45] #15 closed, assigned to gsunner

[2019-05-21 02:46] #36 closed, assigned to yuzisun

[2019-11-12 22:34] #33 closed, assigned to rakelkar, ukclivecox

[2021-07-27 14:48] yuzisun opened #3 "KServe Go module and API group change"
/kind feature

**Describe the solution you'd like**
`Inferenceservices.serving.kubeflow.org` -> `inferenceservices.serving.kserve.io`
https://github.com/kserve/kserve/blob/master/pkg/apis/serving/v1beta1/doc.go#L22

- Update v1beta1/v1alpha2 [controller](https://github.com/kserve/kserve/tree/master/pkg/controller)
- Update [model agent](https://github.com/kserve/kserve/tree/master/pkg/agent)
- Upd

[2021-08-06 04:40] yuzisun opened #10 "KServe install manifests"
/kind feature

**Describe the solution you'd like**
- Namespace is kustomized, kfserving-system -> kserve
- Webhook api group update
- Update [kubeflow](https://github.com/kserve/kserve/tree/master/config/overlays/kubeflow), [e2e test](https://github.com/kserve/kserve/tree/master/config/overlays/test) and [development](https://github.com/kserve/kserve/tree/master/config/overlays/development) overl

[2021-08-06 04:43] yuzisun opened #11 "Update github actions"
/kind feature

**Describe the solution you'd like**
- Migrate gcr.io images to [dockerhub kserve org](https://hub.docker.com/orgs/kserve)
  * gcr.io/kfserving/kfserving-controller
  * gcr.io/kfserving/pytorchserver
  * gcr.io/kfserving/sklearnserver
  * gcr.io/kfserving/xgbserver
  * gcr.io/kfserving/storage-initializer
- Update github workflow https://github.com/kserve/kserve/tree/master/.github/

[2021-08-06 04:47] yuzisun opened #12 "Deprecate v1alpha2 API group"
/kind feature

**Describe the solution you'd like**
- Deprecate v1alpha2 controller and remove from crd installation
- Deprecate v1alpha2 example and SDK docs

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-08-06 04:49] yuzisun opened #13 "Fix k8s deprecation warnings"
/kind feature

**Describe the solution you'd like**
apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+
admissionregistration.k8s.io/v1beta1 MutatingWebhookConfiguration is deprecated in v1.16+
admissionregistration.k8s.io/v1beta1 ValidatingWebhookConfiguration is deprecated in v1.1

**Anything else you would like to add:**
[code]

[2021-08-06 04:54] yuzisun opened #14 "Update local develop scripts"
/kind feature

**Describe the solution you'd like**
- Update quickinstall script
- Update Makefile and image patch scripts

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-08-06 05:00] yuzisun opened #16 "KServe License Update"
/kind feature

**Describe the solution you'd like**
- Change [LICENSE](https://github.com/kserve/kserve/blob/master/hack/boilerplate.go.txt#L2) file line 2 to
`Copyright 2020 The KServe Authors`
- For new files created in kserve use `Copyright 2020 The KServe Authors`, for existing files remove the original `Copyright 2020 kubeflow.org`

**Anything else you would like to add:**
[Miscellaneous info

[2021-08-24 18:05] andyi2it opened #32 "Update kfserving references in config"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Update the below references to kserve.

`kfserving-webhook`
`kfserving-manager`
`kfserving-models*`
`kfserving-controller`
`kfserving-config`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-09-01 21:34] js-ts opened #41 "Logo for kserve (proposal)"
Hi everyone , I was looking to start contributing to kserve from today for that I've made 3 logos for kserve
They all are heptagons with 326CE5  and white text as their color with Helvetica font , the inspiration for this is drawn from the Kubernetes logo all logos are made in draw.io
and also from
<img width="1314" alt="kfserving" src="https://user-images.githubusercontent.com/79689323/131740246-

[2021-09-03 04:44] #32 closed

[2021-09-03 04:46] #14 closed

[2021-09-03 04:47] #11 closed

[2021-09-06 20:28] yuzisun opened #49 "Add coverage for Go/Python code"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp

[2021-09-06 22:52] yuzisun opened #50 "Separate web-app files in kserve to a new github repo"
/kind feature

**Describe the solution you'd like**
Now kserve is in a separate org, we'd like to move web app into a separate repo for better maintenance.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-09-06 23:06] yuzisun opened #51 "Kubeflow pipeline integration for KServe"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-09-09 02:14] pugangxa commented on #51
So what's needed in details? I think there's component for kfserving and for kserve we just need migrate and create the component?

[2021-09-09 04:02] #10 closed

[2021-09-14 15:57] zijianjoy commented on #51
There is an E2E sample which creates a KFServing step in Kubeflow Pipelines and deploy model in the inference service. At the end you will send a request to query this inference service.

https://github.com/kubeflow/pipelines/blob/master/samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb

[2021-09-15 11:04] js-ts opened #61 "Changing [KFS,kfs ,KFSERVING ,kfserver,kfserving] to [KS,ks ,kserver ,kserve]"
@yuzisun  made an [issue ](https://github.com/kserve/kserve/issues/50) this is an extension issue to that , I made a [PR](https://github.com/kserve/kserve/pull/60) making changes from kfserve to kserve , I'm thinking of changing [KFS,kfs ,KFSERVING ,kfserver,kfserving] to [KS,ks ,kserver ,kserve] in markdown files and will later make a PR for that once
 [PR](https://github.com/kserve/kserve/pull/6

[2021-09-16 02:30] pvaneck opened #62 "Incorporate ServingRuntime into InferenceService"
/kind feature

**Describe the solution you'd like**
Want to start transitioning the concept of a ServingRuntime into the InferenceService CRD and the KServe controller.

Working copy of proposal doc can be found here: https://docs.google.com/document/d/1LcnBobEaHTe_WpwqwrJG9N1zIFg61zqV1I9JErp_Eqo/edit?usp=sharing

[2021-09-16 02:30] pvaneck commented on #62
FYI: @njhill @yuzisun @animeshsingh

[2021-09-16 11:05] #16 closed

[2021-09-17 15:56] yuzisun opened #65 "KServe 0.7 release"
/kind feature

**Describe the solution you'd like**
- KServe 0.7rc0 -> KServe 0.7
  * kubeflow.org-> kserve.io
  * v1alpha2 deprecation
  * Raw kubernetes deployment support
  * torchserve v2 protocol
- Models Web App?
- ModelMesh
- Website

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-09-20 15:10] #50 closed

[2021-09-21 19:15] edi-bice-by opened #1808 "hack quick_install fails on minikube cluster for Kubernetes 1.22"
/kind bug

installed minikube 1.23.1, using latest Docker Desktop docker driver on MacOS Big Sur

MD1-1029014MBP:kfserving edibice$ minikube start --memory=8192 --cpus=4
😄  minikube v1.23.1 on Darwin 11.5.2
✨  Automatically selected the docker driver. Other choices: hyperkit, virtualbox, ssh
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubern

[2021-09-22 06:09] swapkh91 opened #1809 "Multiple Transformers in Multi Model Serving"
I have a use case where I need to deploy 2 (and maybe more) models on triton, which I think can be done using MMS.

These models have different preprocess and postprocess steps.

As per the documentation, I need to create an `InferenceService` with predictor as `triton` and no `storageUri` and 2 `TrainedModel` CRs.

But where do I specify the image to use of those 2 models' transformers, like we d

[2021-09-22 13:01] daniel-weisse opened #69 "Raw Deployment requires Istio"
/kind bug

**What steps did you take and what happened:**
Currently, KServe with `"defaultDeploymentMode": "RawDeployment"` still has a dependency on Istio, due to `web-app` creating an Istio VirtualService.

Output from `make deploy-dev`:
[code]

**What did you expect to happen:**
KServe can be built and installed without Istio present on the cluster

**Anything else you would like to add:**
This

[2021-09-22 13:01] daniel-weisse opened #1815 "Raw Deployment requires Istio"
/kind bug

**What steps did you take and what happened:**
Currently, KServe with `"defaultDeploymentMode": "RawDeployment"` still has a dependency on Istio, due to `web-app` creating an Istio VirtualService.

Output from `make deploy-dev`:
[code]

**What did you expect to happen:**
KServe can be built and installed without Istio present on the cluster

**Anything else you would like to add:**
This

[2021-09-22 15:27] yurkoff-mv opened #1810 "Custom TorchServe service does not work"
I have a yaml-file:
[code]

I'm trying to run it, but the containers in the pod produces the following:
`!kubectl logs -n default {POD} -c storage-initializer`
[code]

`!kubectl logs -n default {POD} -c kfserving-container`
/usr/local/lib/python3.6/dist-packages/ray/autoscaler/_private/cli_logger.py:61: FutureWarning: Not all Ray CLI dependencies were found. In Ray 1.4+, the Ray CLI, autoscaler, a

[2021-09-23 11:11] yurkoff-mv commented on #1810
I'm sorry. I solved this problem I needed to use the image `pytorch/torchserve:0.4.1-gpu`.
But I got another problem. If I build my docker image from the TorchServe repository and specify it, then everything works: the GPU is allocated, the model is initialized.
[code]
However, if I create an image based on the [Dockerfile of the NeMo repository](https://github.com/NVIDIA/NeMo/blob/main/Dockerfile

[2021-09-23 14:53] swapkh91 opened #1812 "TrainedModel not able to download models from GCS"
I have tried the MMS [example](https://github.com/kserve/kserve/tree/master/docs/samples/multimodelserving/triton) for triton and it was working

Now I'm trying to load my own models as `TrainedModel` CR, just like in example but the models are not being downloaded from GCS due to access issue.

Logs:
[code]

If I create a normal `InferenceService` with `predictor` as `triton` and `storageUri` sam

[2021-09-23 18:00] Tomcli opened #1814 "Propose new storage spec to support next-gen multi-model serving"
/kind feature

**Describe the solution you'd like**
We want to introduce a new storage spec for inference service and trained model, so it can support the next-gen model mesh multi-model serving with different storage provider. The storageUri can continue to work with this new storage spec.
Example:
[code]

Proposed new storage spec design doc: https://docs.google.com/document/d/1rYNh93XNMRp8YaR56

[2021-09-23 22:34] Tomcli commented on #1814
FYI @yuzisun @animeshsingh @pvaneck
The example was on TrainedModel CRD, but we also support the new kserve inference service CRD when we are done with the rebase in the next two days.

[2021-09-25 13:26] swartz-k commented on #1812
```Error 401: Anonymous caller does not have storage.objects.list access to the Google Cloud Storage bucket., required","stacktrace":"github.com/kubeflow/kfserving/pkg/agent.(*Puller).modelProcessor\n\t/go/src/github.com/kubeflow/kfserving/pkg/agent/puller.go:149"}```

looks like  Anonymous cannot access`gs://kfserving-custom-models/model_repo`

[2021-09-26 14:26] swapkh91 commented on #1812
@yuzisun any idea about this?

[2021-09-27 08:38] wenyangchou opened #1835 "Tensorflow serving can not find base path"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`apiVersion: "serving.kubeflow.org/v1alpha2"
kind: "InferenceService"
metadata:
  name: "flower-sample"
spec:
  default:
    predictor:
      tensorflow:
        storageUri: "gs://kfserving-samples/models/tensorflow/flowers"
`

**What did you expect to happen:**
the pod ready 3/3

**Anyt

[2021-09-27 12:52] yuzisun commented on #1835
@wenyangchou which namespace you deployed your model to?

[2021-09-27 12:55] wenyangchou commented on #1835
my default namespace is kubeflow . I have tried sklearn , it works while tensorflow  does not work properly

[2021-09-27 14:01] yuzisun commented on #1835
@wenyangchou we do not support deploying in kubeflow namespace , see the warning in the [main readme](https://github.com/kserve/kserve/tree/release-0.6#kfserving-with-kubeflow-installation)

[2021-09-27 14:01] #1835 closed, assigned to nobody

[2021-09-28 14:14] swapkh91 commented on #1809
Figured out a workaround, not exaxtly MMS of KServe. This also detaches the 2 models from triton and all 3 can scale independently (best when triton set to deploy only on GPU nodes)
Setting `predictor_host` of `triton` InferenceService for other 2 InferenceServices.

For other's reference:

triton.yaml
[code]

model.yaml
[code]

model1.yaml
[code]

Create triton client:
`triton_client = httpclient

[2021-09-28 14:14] #1809 closed, assigned to nobody

[2021-09-29 10:11] #61 closed

[2021-09-29 13:20] daniel-weisse opened #1839 "Inferenceservice deployments never reach ready state"
/kind bug

**What steps did you take and what happened:**
Install `Istio` and `cert-manager`, build and deploy KServe in `RawDeployment` mode from current master  (commit `dd5908b5a4a8ec0e6da424340bd31a4a6fd3c6db`).

[code]

Following the Quick start from [KServe website](https://kserve.github.io/website/get_started/first_isvc/), create an inference service for sklearn.

[code]

The predictor pod

[2021-09-29 17:41] adriangonz opened #1841 "Upgrade MLServer image to 0.5.0"
/kind feature

**Describe the solution you'd like**
Now that MLServer 0.5.0 is out, it would be good to bump the image used by KServe to the latest version.

[2021-09-29 17:41] adriangonz commented on #1841
Happy to take this one @yuzisun (I tried assigning it to me, but don't seem to be able to)

[2021-09-29 17:43] adriangonz opened #1842 "Support LightGBM with V2 protocol"
/kind feature

**Describe the solution you'd like**
MLServer supports serving LightGBM models. However, this is not currently exposed in the KServe CRD (at least for the V2 protocol).

Given that the support is already on the MLServer side, it would be good to also support this on the KServe CRD.

[2021-09-29 17:44] adriangonz commented on #1842
Happy to take this one @yuzisun

[2021-09-30 10:14] saisowjanyab opened #1843 "no matches for kind "InferenceService" in version "serving.kserve.io/v1beta1""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I installed kfserving on aws eks using the installation guide and also verified the installation. When i try deploying my ML model as an inference service, it shows an error that there are no matches for kind "InferenceService" in version "serving.kserve.io/v1beta1". But the documentatio

[2021-10-01 05:29] yuzisun commented on #1843
@saisowjanyab The API group has been changed to `serving.kserve.io` in the upcoming release and the website is built for kserve. For old kfserving doc please help refer to the [previous release doc](https://github.com/kserve/kserve/tree/release-0.6/docs/samples)

[2021-10-01 05:29] #1843 closed, assigned to nobody

[2021-10-01 11:27] BakingBrains opened #1846 "Inputs to use private docker registry."
I followed the procedure given  here [https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line](url). I am able to create the secret key. But after deploying .yaml file, the inference service status is False.

All the other dependencies in a cluster is satisfied and also tested for public repo, it was working

[2021-10-02 17:23] #13 closed

[2021-10-02 17:24] #12 closed

[2021-10-04 13:12] daniel-weisse commented on #1839
Seems to be fixed with commit `501b154547f652568a7827395a78032b2671e0c3`

[2021-10-04 13:12] #1839 closed, assigned to nobody

[2021-10-04 14:12] daniel-weisse opened #1852 "Controller segfaults if `minReplicas` is not set for isvc in RawDeployment mode"
/kind bug

**What steps did you take and what happened:**
Build KServe from master at commit `a400bd7f6a3b4d40cc0257e55fb20bb4c8967c9f`.
Deploy using `"defaultDeploymentMode": "RawDeployment"`.

Creat an inference service, e.g. [TensorFlow](https://github.com/kserve/kserve/blob/master/docs/samples/v1beta1/tensorflow/tensorflow.yaml), without setting `minReplicas` in the isvc spec.

The controller

[2021-10-04 14:29] yuzisun commented on #1852
/assign @Iamlovingit

[2021-10-04 15:36] yuzisun commented on #1852
we should have the check, but webhook should have defaulted to 1 before hitting the controller though?

[2021-10-05 00:48] Iamlovingit commented on #1852
@daniel-weisse Thanks daniel, I misunderstand, I think controller set the default value to `minReplicas` already. Let me add the check.

[2021-10-05 00:56] Iamlovingit commented on #1852
@yuzisun Webhook have checked the minReplicas before hitting the controller, and  if the `minReplicas == nil`, set the default value. Let me check this.

[2021-10-05 12:49] #1852 closed, assigned to Iamlovingit

[2021-10-05 19:14] cmaddalozzo opened #1857 "MMS agent fails to start in raw deployment mode due to dependency on Knative queue-proxy env vars"
/kind bug

**What steps did you take and what happened:**

Ensure default deployment mode is set to `RawDeployment` in the inferenceservice-config config map.

Create a multi-model inference service:
[code]
The agent fails to start due to missing environment variables.

Agent logs:
[code]

**What did you expect to happen:**

The agent should start up without errors.

**Anything else you would like

[2021-10-06 07:44] ucsky opened #1858 "quick install fail: ingress problem"
Hello, please can somebody help with this?

**What steps did you take and what happened:**

Running
[code]
Give this error message
[code]
**What did you expect to happen:**
A running demo instance.

**Environment:**

- Kubernetes version: (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.4", GitCommit:"3cce4a82b44f032d0cd1a1790e6d2f5a55d20aae", GitTreeS

[2021-10-06 12:12] suhaskashyapr opened #1859 "kfserving inference service state shows Ready=True when pods are in CrashLoopBackoff state"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Inference service resource was created as the deployment was created successfully with 1 pod as shown below:
k get pods -A | grep d5ce6b94087b41
`xxx-namespace-xxx     d5ce6b94087b41-predictor-default-vcwhr-deployment-xxxx   3/3     Running              0          11h`

k get deploy -A

[2021-10-08 00:05] pvaneck commented on #1858
Can you check the logs of the istio-ingressgateway pod if available? Not sure if this is specifically your problem, but I recall needing the third-party-jwt `jwtPolicy` setting on some clusters. So perhaps worth a shot commenting out the jwtPolicy line here: https://github.com/kserve/kserve/blob/master/hack/quick_install.sh#L40

[2021-10-08 09:16] BakingBrains commented on #1846
resolved. Thanks

[2021-10-08 09:16] #1846 closed, assigned to nobody

[2021-10-08 09:18] Iamlovingit commented on #1857
Hi @cmaddalozzo, can you paste kfserve's log about `triton-mms`

[2021-10-08 09:39] #1815 closed, assigned to nobody

[2021-10-08 12:23] ucsky commented on #1858
Hello @pvaneck ,

This is the log for `istio-ingressgateway`:
[code]
When commenting `jwtPolicy` I get this error:
[code]

[2021-10-08 12:50] ukclivecox commented on #1858
Can you try using our Ansible integration to create a Kind cluster and install Seldon Core from [here](https://github.com/SeldonIO/ansible-k8s-collection)?

[2021-10-08 15:26] andyi2it opened #1863 "Running quick install in the new release throws couple of errors"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Ran `./hack/quick_install.sh`

**What did you expect to happen:**
Install the kserve application successfully.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Getting the following error.
[code]
If that is manually resolved g

[2021-10-08 16:47] #1863 closed, assigned to nobody

[2021-10-09 10:28] rileygreen022 opened #1864 "Deploying a model with kfserving continuously deploys 100's of models"
When I deploy a custom container mode on kfserving, it continuously deploys 100's of models until the model is deleted.

[code]

<img width="1392" alt="Screen Shot 2021-10-09 at 9 12 56 pm" src="https://user-images.githubusercontent.com/24871158/136654248-e1e7c5df-858a-47d1-80c1-2a7a3e503069.png">

<img width="1039" alt="Screen Shot 2021-10-09 at 9 12 18 pm" src="https://user-images.githubusercont

[2021-10-09 10:31] rileygreen022 commented on #1864
/kind bug

[2021-10-09 11:14] yuzisun commented on #1864
@rileygreen022 Did you install KServe with kubeflow or standalone, seems like you installed two version of KServe?

[2021-10-09 11:24] rileygreen022 commented on #1864
Ah I see, when I tried to deploy a model with the kfctl_istio_dex.v1.2.0.yaml standalone, I don't think it had the V1beta1 API.
Should I remove the following lines below when installing and then complete the same steps installing 0.0.6?

[code]

Anything else I need to do?

[2021-10-09 11:45] yuzisun commented on #1858
@ucsky according to https://istio.io/latest/docs/releases/supported-releases/#support-status-of-istio-releases, Istio 1.9 does not support Kubernetes 1.21, will make a fix in the quick install.

[2021-10-09 15:59] #1858 closed, assigned to nobody

[2021-10-09 19:58] yuzisun commented on #1864
@rileygreen022 I'd highly recommend you use kubeflow 1.3 or recently released 1.4 which gets you to v1beta1 API

[2021-10-10 01:15] yuzisun commented on #1809
@swapkh91 Alternatively you could build one single transformer image with two KFModels for different pre/post processing, you approach works too.

[2021-10-10 01:19] yuzisun commented on #1808
Kubernetes 1.22 has dropped the support for crd and webhook v1beta1, so it does not work with Istio 1.9 and for KServe this has been fixed in https://github.com/kserve/kserve/pull/1837.

[2021-10-10 01:19] #1808 closed, assigned to nobody

[2021-10-10 06:23] swapkh91 commented on #1809
@yuzisun yeah that can also be done. I've separated it because the models are independent and belong to different teams so their deployments are also independent.

[2021-10-11 14:25] SeibertronSS opened #1867 "MountVolume.SetUp failed for volume "cert" : secret "kfserving-webhook-server-cert" not found"
Hello everyone,
I encountered a problem while installing kserve. My `kfserving-controller-manage`r is always in `ContainerCreating`. The Pod error message is as follows,
[code]
I installed kserve through kubeflow-manifests (https://github.com/kubeflow/manifests). The error message during installation is as follows,
[code]

[2021-10-12 03:09] #1864 closed, assigned to nobody

[2021-10-18 03:42] bartgras opened #1869 "Fix serving.kubeflow.org annotations in docs/samples"
I've noticed that some `docs/samples` still use in `metadata.annotations` the `serving.kubeflow.org` instead of `serving.kserve.org`. See this [example](https://github.com/kserve/kserve/blob/master/docs/samples/kafka/s3_secret.yaml).
To save debugging time for others migrating from KFserving, I could create PR that fixes that.

[2021-10-19 04:17] Mehrad0711 opened #1871 "`HTTPHandler` converts non ASCII characters to unicode escape sequences"
I'm using KFserving to setup a translation API.
I noticed [this method](https://github.com/tornadoweb/tornado/blob/1db5b45918da8303d2c6958ee03dbbd5dc2709e9/tornado/escape.py#L67) method is called from tornado (when using PredictHandler) before writing outputs in the buffer. Since "ensure_ascii=False" flag is not used when dumping, non-ascii characters are converted to unicode escape sequences inst

[2021-10-19 15:26] revolutionisme opened #1872 "Inferenceservice no url available, ready state is False with kserve RawDeployment mode"
/kind bug

**What steps did you take and what happened:**
Installed kserve with `RawDeployment`  mode, everything was installed successfully. Then followed the first inference service example from - https://kserve.github.io/website/get_started/first_isvc/
The inference service was installed without errors but the status for the `inferenceservice` always remained false and no URL is shown as can be

[2021-10-20 05:21] yuzisun commented on #1872
@revolutionisme What's the output of `kubectl get inferenceservices sklearn-iris -n kserve-test -oyaml` ?

[2021-10-20 05:28] yuzisun commented on #1869
@bartgras The documentation is moved to website repo here https://github.com/kserve/website/blob/main/docs/modelserving/kafka/s3-secret.yaml, but feel free to send a PR to fix in kserve repo as well.

[2021-10-20 07:07] revolutionisme commented on #1872
@yuzisun Please find the output below:

[code]

[2021-10-20 11:16] yuzisun commented on #1872
@revolutionisme Can you help print the events with `kubectl get events -n kserve-test` ?

[2021-10-20 11:20] yuzisun commented on #1872
Also get the output of `kubectl describe pods  -l serving.kserve.io/inferenceservice=sklearn-iris -n kserve-test`

[2021-10-20 11:50] revolutionisme commented on #1872
@yuzisun Please find the output of the commands you specified. (I have just masked a couple of IP adresses with x)

[code]

[2021-10-20 11:58] revolutionisme commented on #1872
@yuzisun  Another thing is that we have the deployment and the service running (Have described them both)

[code]

[code]

[2021-10-20 12:57] yuzisun commented on #1872
@revolutionisme Which ingress you are using ? If you can get the kserve controller logs from kserve namespace that should give us clue.

[2021-10-20 14:49] revolutionisme commented on #1872
@yuzisun So we have 2 things,

1. Regarding the output of the `kubectl get events -n kserve-test`, we deleted the inferenceservice and recreated it and now we have some logs for the same.

[code]

2. We found out the following error logs after you asked us to check the kserve controller logs . They are as follows:

[code]

This seems related to this issue on kubernetes - https://github.com/kuberne

[2021-10-20 14:53] yuzisun commented on #1872
/cc @Iamlovingit

[2021-10-20 15:14] yurkoff-mv opened #1874 "KServe with KubeFlow"
How can I simultaneously use the advantages of kubeflow in the form of Jupiter notebooks and pipelines and the advantages of kserve in the form of InferenceService?
How should I install these components into the cluster?

[2021-10-21 01:31] Iamlovingit commented on #1872
As @revolutionisme mentioned, `networking.k8s.io/v1` is available from kubernetes 1.19, 1.18 is not supported. there is the link:https://kubernetes.io/docs/concepts/services-networking/ingress/
There are two ways to fix this:
1. update your k8s
2. build a specific version kserve version in your cluster, change the ingress api to old one.
**If you want to build your version, I'm happy to help you.*

[2021-10-21 06:59] revolutionisme commented on #1872
@Iamlovingit We would love your help building a custom version for our k8s as updating the cluster wouldn't be possible for now. How can we coordinate this?

[2021-10-21 07:28] Iamlovingit commented on #1872
Hi @revolutionisme I think you just need to change this line.
https://github.com/kserve/kserve/blob/fb239bde6395e107a9e884ff36671cdf23a0571d/pkg/controller/v1beta1/inferenceservice/reconcilers/ingress/kube_ingress_reconciler.go#L24

[code]

then follow the doc to deploy your version:
https://github.com/kserve/website/blob/main/docs/developer/developer.md#deploy-kserve-with-your-own-version

If you

[2021-10-21 16:17] rehanrishi21 opened #1875 "Custom KF server sample Readme link broken"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Go to: https://github.com/kserve/kserve/tree/master/docs/samples
Click on Custom model server redirects to: https://github.com/kserve/kserve/blob/master/docs/samples/v1alpha2/custom/kfserving-custom-model
Result: Page not found

[2021-10-24 19:01] #1869 closed, assigned to nobody

[2021-10-25 07:07] brness opened #1879 "PVC DELETE when delete the inferenceService(in kale enviroment)!!!"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
According to the kale document, i can deploy the isvc successfully and predict it as well in the notebook, But after i `kfserve.delete()` the inferenceService, the pvc which is mount in the notebook can be delete as well. And i think this is not permitted , does anyone encounter the situ

[2021-10-25 07:48] revolutionisme commented on #1872
Thanks a lot @Iamlovingit for all the help, I am just pasting all the instructions here for anyone who wants to dpeloy kserve on kubernetes 1.18 with `RawDeployement` mode (As networking v1 is not available in 1.18)

Follow all the instructions above, then follow the steps below:

1. Before you run make deploy-dev, you should change the default deployment to RawDeployment here `"defaultDeploymentM

[2021-10-25 07:48] #1872 closed, assigned to nobody

[2021-10-25 11:32] brness commented on #1879
this is because the ownerreference of the pvc!! close the issue.

[2021-10-25 11:32] #1879 closed, assigned to nobody

[2021-10-25 22:14] matthewjcarlson opened #1880 "404 Not Found: Deploying Sklearn Inference Service on KServe 0.7.0 Using Raw Deployment Mode"
/kind question

**What steps did you take and what happened:**
I recently installed KServe 0.7.0 on an EKS cluster using Raw Deployment mode as outlined in the documentation [here](https://kserve.github.io/website/admin/kubernetes_deployment/).  I then followed the documentation to create my first inference service as outlined [here](https://kserve.github.io/website/get_started/first_isvc/).

Upon

[2021-10-26 09:09] vukor opened #1881 "queue-proxy is missing in kserve v0.7"
/kind question

**What steps did you take and what happened:**
I've installed kserve 0.7 following this [quide](https://kserve.github.io/website/admin/serverless/) and created test inference service:
[code]

**What did you expect to happen:**
I expect to see queue-proxy sidekick but it doesn't exist:
[code]

AFAIK, it's part of Knative project but queue-proxy sidekick is exists by default in `v0.5

[2021-10-26 11:45] elukey opened #1882 "Improve storage-initializer's messages/logs"
/kind bug

**Describe the solution you'd like**
Hi everybody! I spent quite some time investigating a configuration issue for the storage-initializer, namely a `STORAGE_URI` env value set like:

[code]
instead of
[code]

It was clearly a misconfiguration issue but the log messages from the container made it more confusing:

[code]
The above seems to suggest that `model.bin` has been copied success

[2021-10-26 11:54] elukey commented on #1882
After reading the comments in https://github.com/kserve/kserve/blob/master/python/kserve/kserve/storage.py#L114-L135 I am not 100% sure that the STORAGE_URI couldn't be a path to a single object on S3, so I am inclined to mark this issue as bug for the moment (please revert to feature in case I am wrong).

[2021-10-26 14:11] elukey commented on #1882
What happens is that the `target_key` in the first use case is `articlequality/enwiki/20211022183902/model.bin`, meanwhile in the latter is `model.bin`. So if the kserve-container code is instructed to check, say, `/mnt/models/model.bin`, it will fail in the first use case.

[2021-10-26 19:59] amybachir opened #1884 "Deleting an inference Service occasionally does not delete the knative service"
kfserving version 0.6.0
knative serving version 0.24.0

Occasionally and randomly, I delete an inference service but all the knative components such as the knative service, configuration, revision, route and deployment hang around and do not get deleted.

The inference service was deleted for sure with no problem. I attempted to delete the knative service but it would recreate over and over althou

[2021-10-26 23:44] yuzisun commented on #1881
@vukor This seems like setup issue, what's the output of `kubectl get ksvc sklearn-iris-predictor-default -oyaml` ?

[2021-10-27 02:05] yuzisun commented on #1875
fixed the link to https://github.com/kserve/kserve/tree/master/docs/samples/v1beta1/custom/custom_model now.

[2021-10-27 02:05] #1875 closed, assigned to nobody

[2021-10-27 02:35] pratikgujjar opened #1885 "New revision created at every redeployment of InferenceService"
/kind question
**What steps did you take and what happened:**
Deployed a custom isvc on a kubernetes cluster. Every re-deployment creates a new revision of the isvc.

**What did you expect to happen:**
Update the existing isvc or delete the previous revision while retaining the latest.

**Anything else you would like to add:**
Also tried configuring the knative-serving garbage collector `config-gc

[2021-10-27 04:57] vukor commented on #1881
@yuzisun there are not `ksvc` resources:
[code]

[2021-10-27 19:44] timothyjlaurent commented on #1881
Here's the log of the `kserve-controller-maanager` - when the inference service is created.

[code]

I can confirm that no routes, revisions, serverlessservices, services are being created.

[code]

But in K9s I don't see any revisions listed in the InferenceService View.

![image](https://user-images.githubusercontent.com/2000204/139135916-32a220ab-c4fa-4827-a4ad-5b6942746a01.png)

[2021-10-27 21:27] timothyjlaurent commented on #1881
Looks like this was being deployed with as a `RawDeploymemt` -- hopefully that's the root of the issue.

[2021-10-28 00:10] Tomcli opened #1886 "Update AIF explainer example with the latest knative API."
/kind bug

**What steps did you take and what happened:**
Since KServe is updated with a later version of knative. Knative service v1alpha1 is not longer supported, so we need to update the AIF example to use the latest knative API.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- I

[2021-10-28 00:17] yuzisun commented on #1886
@Tomcli Let's move the doc issue to the website repo.

[2021-10-28 09:17] vukor commented on #1881
Yes, after switching to default `Serverless` mode the issue is gone. Thanks, I'm going to close it.

[2021-10-28 09:17] #1881 closed, assigned to nobody

[2021-10-29 17:07] yurkoff-mv opened #1889 "How to disable torchserve MODEL_LOG"
Hello,
Сan i turn off the log `MODEL_LOG - The Response of KFServing ...` in Inference Service?
It's that it can be very long, and this slows down the model inference.

[2021-10-29 17:42] yuzisun commented on #1889
@yurkoff-mv Where do you see this coming from?

[2021-10-29 17:44] #1886 closed, assigned to nobody

[2021-10-29 18:30] yurkoff-mv commented on #1889
`kubectl logs -n default {POD} -c kfserving-container`

I'm trying to to understend why the output of KFServing is noticeably slower than from a simple TorchServe (although I use GRPC there).
In general, there is really a lack of GRPC when using Torsnserve in the Inferenc Service.

[2021-10-31 14:39] yuzisun commented on #1889
@yurkoff-mv gRPC support is added in https://github.com/kserve/kserve/pull/1870, the log is actually from torchserve side. https://github.com/pytorch/serve/blob/f0da8d2714628cb5de0c6eaa3ac0448a6b226640/ts/torch_handler/request_envelope/kfserving.py#L52. @jagadeeshi2i Can we turn the logging level to debug?

[2021-10-31 14:41] #1882 closed, assigned to nobody

[2021-11-01 13:34] jagadeeshi2i commented on #1889
@yurkoff-mv you could enable async logging https://github.com/pytorch/serve/blob/master/docs/logging.md#enable-asynchronous-logging

[2021-11-01 19:43] LeonardAukea opened #1890 "Proposal: Add support for serving Incremental learning models"
/kind feature

I think it would make a great addition to extend Kserve's functionality by offering a new CRD `OnlineInferenceService` aimed at serving [Online/Incremental ML](https://www.wikiwand.com/en/Online_machine_learning) models. As a suggestion, starting with support for [River](https://github.com/online-ml/river) framework. The added complexity comes with serving such models in a distribut

[2021-11-02 07:37] yurkoff-mv commented on #1889
Thank you very much for your advice. I will try this.

[2021-11-02 11:39] JakeNeyer opened #1892 "Support ?raw query params on ONNX models"
/kind feature

**Describe the solution you'd like**

The ONNX predictor extension check does not allow for query parameters such as ?raw=true to be appended to the storage URI:
[code]
https://github.com/kserve/kserve/blob/v0.7.0/pkg/apis/serving/v1beta1/predictor_onnxruntime.go#L48-L57

It would be useful for this validator to allow for query params such that models from the[ onnx model zoo](https

[2021-11-02 12:18] tdoublep opened #1893 "Failure when following KServe installation guide and trying to setup first inference service."
/kind bug

**What steps did you take and what happened:**

I'm trying to install KServe by following the steps provided in the [Serverless Installation Guide](https://kserve.github.io/website/admin/serverless/)

Firstly, I create a new Kuberneters cluster in Google Cloud:
[code]

Install `istio` (version 1.11.4):
[code]
Install KNative Serving (v0.26.0):
[code]
Install Cert Manager (v1.6.0):
[code

[2021-11-02 16:49] tdoublep commented on #1893
I was able to resolve this by installing Cert Manager v1.3.0 (rather than v1.6.0).

Additionally, to get things working I need to increase the capacity of the VMs I was using for the cluster.

Probably the issue can be closed, but perhaps the Cert Manager version could also be included in the "Recommended Versions Matrix"?

[2021-11-04 09:48] hwk42 opened #1894 "Conside to set imagepullpolicy to Always?"
In many nodes environment,it is sad that the pull policy is ifnotpresent when the image had to be modified, especially those of injected pods like storage-initializer and predictor

[2021-11-04 12:46] vaporpin opened #1895 "404 error : model name does not exist"
/kind bug
Followed the instructions here https://kserve.github.io/website/get_started/first_isvc/ and the Inference Service worked. Then I deleted this inference service.

However when I created my own model and serialised it, model.joblib, I
got a 404 error that model name does not exist. Please advise.

< HTTP/1.1 404 Not Found
< content-length: 139
< content-type: text/html; charset=UTF-8
< dat

[2021-11-04 21:14] philwinder opened #1897 "Update KServe -> Ray dependency to most recent version"
/kind feature

I'd like to update to ray 1.8.0 because they are now building M1 Mac arm64 wheels, which mean's I should be able to install/use the KServe library on my Mac now too.

[Relevant ray issue](https://github.com/ray-project/ray/pull/16621)
[Relevant depency](https://github.com/kserve/kserve/blob/master/python/kserve/requirements.txt#L21)

[2021-11-05 02:07] #1895 closed, assigned to nobody

[2021-11-05 13:29] yuzisun commented on #1893
Thanks @tdoublep for reporting this! we should update the version matrix and we need to make a fix to support 1.6 as well.

[2021-11-07 01:48] amybachir opened #1900 "ksvc Uninitialized with Waiting for load balancer to be ready error"
/kind bug

**What steps did you take and what happened:**
I deployed the following custom predictor inference service definition:
[code]

**What did you expect to happen:**
The inference service to be in `READY` status `True` and routes to be setup correctly.

**Anything else you would like to add:**
I installed kubeflow through [aws argoflow distribution ](https://github.com/argoflow/argoflow-aws

[2021-11-07 13:51] yuzisun commented on #1900
@amybachir Please check https://github.com/knative/serving/issues/10115, if you can get the `network-istio` pod log in `knative-serving` namespace that would be helpful.

[2021-11-08 15:18] amybachir commented on #1900
@yuzisun Thanks much for looking into this! I took a look at `knative/serving#10115` and it doesn't seem similar to the issue I'm having. I encountered this issue on new inference services' deployments as well.

I did not see any errors in net-istio log (I attached the log in case you wanted to look at it). However, the controller log has some errors. I cleaned up the controller log from any irrel

[2021-11-08 20:52] amybachir commented on #1900
@yuzisun @karlschriek 's issue [here](https://github.com/knative-sandbox/net-istio/issues/700) sounds a lot like what I'm experiencing. The only difference I have mTLS set to `PERMISSIVE` since I terminate TLS at the AWS load balancer outside the cluster.

There seems to be no pattern of when the ksvc gets a ready status. I have 3/4 of my inference services up and running and some of them just occ

[2021-11-09 08:12] yuzisun commented on #1880
@matthewjcarlson Can you help check the sklearn-iris pod log and see if there are errors?

[2021-11-09 08:27] #1857 closed, assigned to Iamlovingit

[2021-11-09 15:49] amybachir commented on #1900
Knative seems to create 3 virtual service per inference service. The virtual services status shows some proxies are out of date:
[code]
I found that restarting `istiod` pods consistently always fixes the issue. The proxies get updated and the inference service goes into `Ready = True` status. However, on the next revision deployment, the issue _sometimes_ happens again. I did not notice a pattern

[2021-11-10 02:10] vaporpin opened #1902 "CORS error"
/kind question

I am able to curl the inference service I set up using curl. However I'm not able to access it from my frontend development due to CORS error.

from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Usually the setting will be

[2021-11-10 03:36] vaporpin opened #1903 "setting request auth and auth policies, always return rbac even when valid token is provided"
/kind bug

Hi, I followed https://kserve.github.io/website/get_started/first_isvc/ and managed to set up an inference service. Next I tried to set up request auth and auth policies to restrict access without valid token (note: in the manifest file, dash was converted to bullet point automatically on this page, not sure of how to stop the conversion):

apiVersion: "security.istio.io/v1beta1"
kind:

[2021-11-11 10:23] yuzisun opened #1906 "KServe 0.8 release tracking"
/kind feature

**Describe the solution you'd like**
KServe 0.8 release tracking:
RC release Date: 12/30/2021
Release Date: 1/14/2021

KServe Model Serving:
- [x] torchserve v2 protocol
  - https://github.com/kserve/kserve/pull/1870 @jagadeeshi2i
- [X] Transformer -> Predictor gRPC support
  - https://github.com/kserve/kserve/pull/1933
- [X] MLServer 0.5 update
  - https://github.com/kserve/kserve/

[2021-11-11 16:25] edi-bice-by opened #1907 "RawDeployment using latest from master complains about knative missing"
/kind bug

Deployed from master commit 45c3c2cf187b5255eb918fa365606f20d0e906d2

MD1-1029014MBP:kserve edibice$ ./hack/quick_install.sh -r
...
Downloading istio-1.10.3 from https://github.com/istio/istio/releases/download/1.10.3/istio-1.10.3-osx.tar.gz ...
Istio 1.10.3 Download Complete!
Istio has been successfully downloaded into the istio-1.10.3 folder on your system.

...

Need more information

[2021-11-11 17:06] edi-bice-by commented on #1907
Added annotation to isvc after spotting in the PR though same end result

[code]

[2021-11-11 17:10] yuzisun commented on #1907
@edi-bice-by I think you need to turn on the `RawDeployment` mode in the inference service configmap.

[2021-11-11 17:17] edi-bice-by commented on #1907
It seemed either/or from my understanding, sort of, globally or at the individual service. If one wanted globally for all future isvc one would change default in the configmap otherwise change in the isvc.

I've been trying to edit the configmap using following but changes are not applied

kubectl edit configmap inferenceservice-config -n kserve

[2021-11-11 18:29] edi-bice-by commented on #1907
Okay, I now realize I was trying to add the deploy stanza but apparently there was one already there. Changed it from Serverless to RawDeployment had no effect either on new attempts to apply the moviesentiment isvc (both with and without the annotation).

[2021-11-11 19:43] edi-bice-by commented on #1907
I was about to delete kserve-controller-manager (in order to see if after restart it picked up the inferenceservice-config configmap changes) and noticed in its logs that it seems to have picked it up already. Was then able to apply the moviesentiment yaml (original not annotated with rawdeployment) successfully.

[2021-11-11 19:43] #1907 closed, assigned to nobody

[2021-11-12 16:40] edi-bice-by opened #1909 "ISVC in RawDeployment mode lacks VirtualService"
Deployed latest from master on Kind.

Turned on RawDeployment mode in inferenceservice-config. Deployed moviesentiment sample isvc.

MD1-1029014MBP:moviesentiment edibice$ kubectl get isvc -A
NAMESPACE   NAME             URL                                         READY   PREV   LATEST   PREVROLLEDOUTREVISION   LATESTREADYREVISION   AGE
default     moviesentiment   http://moviesentiment-default.ex

[2021-11-14 04:21] markwinter opened #1911 "Allow setting autoscaling options on components"
/kind feature

Currently knative autoscaling can be applied via `annotations` (except for `containerConcurrency` which is already per component).  This means every component gets the same settings in the underlying ksvc.

Example as follows

[code]

**Describe the solution you'd like**
In the case of having a `Predictor` component and a `Transformer` component, it would be helpful to be able to se

[2021-11-14 17:11] smhgit opened #1912 "Sklearnserver - move numpy array convert to transformer"
The sklearnserver perform [numpy array convert](https://github.com/kserve/kserve/blob/45c3c2cf187b5255eb918fa365606f20d0e906d2/python/sklearnserver/sklearnserver/model.py#L47) to the inputs. That means all array will have the same type of items. If a model receive different types, a custom server should be written.

I suggest to remove the convert, and if needed, it should be done in transformer p

[2021-11-15 22:47] #1893 closed, assigned to andyi2it

[2021-11-16 10:00] daganida88 opened #1914 "Even though path does not exist in s3, the storage initialiser container does not crush loop"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am running two inference services using triton server, one on GCP and one on AWS.
My container is crushlooping because the path I provided in the model repository does not exist.
When I did the same steps in AWS, the storage initializer did not crush, and copied 0 models to the reposit

[2021-11-16 10:22] markwinter opened #1915 "Model status is not ready until first request is received"
/kind bug

**What steps did you take and what happened:**

I am trying to set up a `readinessProbe` like this for a pytorch server

[code]

However the url `/v1/models/<MODEL_NAME>` always returns HTTP 503 (and  raw HTML), until the server processes the first request. This means the `readinessProbe` always fails as we can't send the first request until the server is ready.

Check that the model is

[2021-11-17 03:43] JakeNeyer opened #1917 "Allow overriding resource requests and limits"
/kind feature

**Describe the solution you'd like**
Currently, all the predictors implement the `ComponentImplementation` interface which defines a `Default` method. Each of the predictors reference the struct value of `Resources`. In all cases, [setResourceRequirementDefaults](https://github.com/kserve/kserve/blob/master/pkg/apis/serving/v1beta1/inference_service_defaults.go#L41) will get a nil v

[2021-11-17 04:52] #1917 closed, assigned to nobody

[2021-11-17 05:04] markwinter commented on #1915
I checked that `self.ready` only gets set true in the `KFModel.load` method.
https://github.com/kserve/kserve/blob/master/python/kserve/kserve/kfmodel.py#L89

And unless a specific model implementation calls the load method, it only gets called when getting the model in the `PredictHandler`. So that's why model is only ready after the first request.

https://github.com/kserve/kserve/blob/master/py

[2021-11-17 13:50] jacobmalmberg opened #1919 "Predictor from getting started example stuck fetching dockerhub"
/kind bug

**What steps did you take and what happened:**
1. Created the InferenceService from https://kserve.github.io/website/get_started/first_isvc/.
2. Changed apiVersion to "serving.kubeflow.org/v1beta1" since we run KubeFlow 1.4 on prem.
YAML:
[code]
3. The InferenceService does not get ready. Describing it yields
[code]

Entire description can be found here https://appp.me/Z29cYd.

This hap

[2021-11-19 18:36] varunsh-xilinx opened #1920 "Using MMS with a custom predictor doesn't respect containerPort"
/kind bug

**What steps did you take and what happened:**

[code]

If we enable MMS on the custom predictor, the agent sidecar attempts to connect to 8080 instead of the containerPort specified.

[code]

**What did you expect to happen:**
It should use the containerPort instead of 8080.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Thi

[2021-11-19 22:08] skseo941229 opened #1921 "Kuberflow running pipeline failed"
/kind bug
![image](https://user-images.githubusercontent.com/92812391/142697595-bf481625-455b-4708-88ee-3317d9d979c9.png)
![image](https://user-images.githubusercontent.com/92812391/142697641-a5b821b9-0743-4a5e-9883-e17e7e5e393b.png)

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am following https://codelabs.developers.google.com/codelabs/

[2021-11-21 13:20] yuzisun commented on #1919
@jacobmalmberg Seems like your cluster is not able to reach docker hub?

[2021-11-21 15:27] yuzisun commented on #1921
@skseo941229 this is not a KServe issue right? Can you move to the pipeline repo?

[2021-11-22 12:56] jacobmalmberg commented on #1919
I can pull the docker image from the kubernetes worker nodes. I think this is related to https://github.com/kserve/kserve/issues/1348.

[2021-11-23 18:04] shahar3012 opened #1923 "KServe CloudEvents infinite-loop using Knative Eventing Broker"
/kind bug

**What steps did you take and what happened:**
We're using Knative eventing `Broker` and `Trigger` with a filter for triggering the `PredictHandler` handler in a custom model server using KServe python library.
Currently, KServe python library sends the response CloudEvent with the same attributes from the original CloudEvent and there is no option to filter the response CloudEvent to a

[2021-11-24 16:37] yuzisun opened #1924 "Follow up work for ServingRuntime support"
/kind feature

**Describe the solution you'd like**
- Add template variable support for enabling passing in isvc name to runtime container.
- Add more default ClusterServingRuntimes
- Adjust the InferenceService mutator to convert old schema into the new schema.
- Add ability to disable a Framework/ModelType, in a ServingRuntime and add associated logic?
- Add E2E tests using new format
- Eventual

[2021-11-24 16:37] yuzisun commented on #1924
/cc @pvaneck @Suresh-Nakkeran @andyi2it

[2021-11-25 04:45] markwinter commented on #1885
We use the following in `config-gc` and it works correctly. Inactive revisions get cleaned up immediately when no longer used.

[code]

To trigger removal right away after updating the configmap, you can just create a new revision and the gc will kick in at that point.

Did you make sure it's not set in the `_example` block in the configmap by accident?

[2021-11-25 04:56] markwinter commented on #1923
I've been using Knative Eventing and CloudEvents recently so I will take a look at this.

Could you give me an example of your `Trigger`? Are you filtering based on event type attribute?

And am I understanding correctly, your system looks something like this:

System A produces a CloudEvent (Event A) -> Broker -> Trigger -> KServe Model Server

And the response from KServe Model Server goes into

[2021-11-26 07:02] smhgit opened #1927 "Pipeline component fails to run with custom docker image"
/kind bug

**What steps did you take and what happened:**
When installing custom python package with -e option (`pip install -e ...`), the component fails to run. When not using -e, component run as expected.

![image](https://user-images.githubusercontent.com/10852598/143540035-c5f65ce9-8273-4135-8378-3eda60f77cf0.png)

![image](https://user-images.githubusercontent.com/10852598/143540097-3eea766

[2021-11-26 07:08] #1927 closed, assigned to nobody

[2021-11-26 07:09] smhgit commented on #1927
Should be open in kubeflow pipelines

[2021-11-26 08:31] shahar3012 commented on #1923
1. Yes, I'm filtering based on the event type attribute. I would like to use the source attribute as well to differentiate between request and response, but as I've mentioned it's not implemented that way right now.
2. You're right, the response goes to the Broker as part of the request-response option of Knative eventing (without a trigger for the response).
3. However, currently we're making a r

[2021-11-26 21:38] pratikgujjar commented on #1885
Thanks @markwinter. The change for `max-non-active-revisions: "disabled"` to `max-non-active-revisions: "0"` did the trick.

[2021-11-27 03:36] yuzisun commented on #1909
@edi-bice-by Can you get the output of the ingress CR ? I think you would need to pass the explainer host here for the raw deployment mode.

[2021-11-29 13:28] MeranaTona opened #1928 "How to pull images from private registry when using TLS"
/kind bug
Hi all,

in Kubeflow/KFserving, I do not understand how to pull images from a private Docker registry by using TLS. I do have "tls.crt" and "tls.key" for authentification. Can you please advise me how to adjust Kubeflow/KFserving, so I can pull images from the private registry?

What I tried was to create a tls secret and then reference it in the PredictorSpec:

`kubectl create secret tl

[2021-12-01 09:24] markwinter commented on #1923
@shahar3012
Okay thanks.
It should be included in the next KServe release hopefully

[2021-12-01 09:58] markwinter commented on #1923
@shahar3012
Would something like this work for you?
https://github.com/markwinter/kserve/commit/c4884fa4fe74f415f34f25b8fef214d7511db2d8

[2021-12-01 10:11] shahar3012 commented on #1923
@markwinter I think we should merge the override attributes (`type` and `source`) with the original CloudEvents attributes.

[2021-12-01 12:48] markwinter commented on #1923
@shahar3012

I'm not sure about that. I think we should be creating a brand new event here (the event type is different after all), and a new event should have a different ID (every event should have a unique ID according to CloudEvent spec) and an updated timestamp.

[2021-12-01 12:53] #1841 closed, assigned to nobody

[2021-12-01 13:33] MeranaTona commented on #1928
I fixed it by configuring Knative, following "Skipping tag resolution" https://github.com/knative/docs/blob/release-0.21/docs/serving/tag-resolution.md . Also see https://github.com/knative/serving/issues/5126

1. kubectl -n knative-serving edit configmap config-deployment
2. Under data: Add " registriesSkippingTagResolving: your-registry-address"

Following the doc for newer versions, it is sugge

[2021-12-01 13:33] #1928 closed, assigned to nobody

[2021-12-01 15:41] shahar3012 commented on #1923
@markwinter I agree.
I wanted to support CloudEvents extensions if they've been used in the original CloudEvent. Do you think we should ignore them?
Sometimes it's useful to have additional information sent in the request to also appear in the response event.

I suggest we set the `source` attribute value to the KFModel name.

[2021-12-02 02:19] markwinter commented on #1923
@shahar3012
Including the KFModel name in the `source` seems like a good idea.
I'll also make `type` `source` configurable with env vars.
And probably an env var to merge attributes if desired (except id, timestamp, source, type)

I'll make some changes, fix the tests and create a PR soon.

[2021-12-02 09:03] yurkoff-mv opened #1932 "Second GPU is not allocated in TorchServe Inference Service"
/kind bug

I create InferenceService with TorchServe predictor and request two GPUs:
[code]
But in log i have one GPU (`!kubectl logs -n default {POD} -c kfserving-container --tail 100`):
[code]

**Anything else you would like to add:**
And one more question. If I have several models, should I use one Inference Service for all models or for each model a different Inference Service. How resources w

[2021-12-03 12:26] yurkoff-mv commented on #1932
I'm sorry. I solved this problem. It was necessary to correct the file **config.properties** with a line `number_of_gpu=2`.

[2021-12-06 09:21] markwinter commented on #1923
@shahar3012
I made a PR here https://github.com/kserve/kserve/pull/1934

[2021-12-06 12:15] motocoder-cn opened #1935 "s3-verifyssl not work as kserve use boto?if not, then how can i inject my ca-bundle to storage-initializer"
/kind bug

**What steps did you take and what happened:**
minio with self signed cert
try use `s3-verifyssl=0`, but not work,
see some issues explain this, may because kserve change from minio to boto `S3_VERIFY_SSL` env not work anymore

then i found `s3-cabundle` with env `AWS_CA_BUNDLE` that work for boto [https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html](url)

b

[2021-12-07 01:00] motocoder-cn commented on #1935
one way is to rebuild storage-initializer docker image? any other way to inject ca-bundle in runtime not in build?

[2021-12-07 08:19] swapkh91 opened #1937 "Set shm-size for Triton in yaml"
I want to set `shm-size=1g` while running Triton. For local test it works like `docker run --shm-size=1g ...`

Where can I set this in the yaml to deploy on GKE? As this is an argument that has to be passed to `docker run` command.
@yuzisun

[2021-12-07 20:32] Alexejklim opened #1938 "triton python_backend_stub can't be executed in kfserving-container, coz it has hardcoded read-only access"
/kind bug

I use triton inference server with model in s3. But there is the problem to launch it coz of access rights.

[code]

Chmod doesn't help.
`chmod: changing permissions of '.../triton_python_backend_stub': Read-only file system`

Assume problem could be solved by adding possibility change access to kfserving-container.
https://github.com/kserve/kserve/blob/release-0.6/pkg/webhook/admission

[2021-12-08 04:52] swapkh91 commented on #1937
I tried this [solution](https://stackoverflow.com/questions/46085748/define-size-for-dev-shm-on-container-engine/46434614#46434614), but had to change Knative version to 0.26.0 as earlier versions don't allow usage of `emptyDir`. `config-features` has a flag which can be enabled to use `emptyDir` as volume.

But now I'm getting this error in Triton logs and not sure how to solve it:
[code]

yaml
[

[2021-12-08 15:06] swapkh91 commented on #1937
https://github.com/knative/serving/issues/4417#issuecomment-987972384

Works on the Knative side (v0.26).
Need help here, not sure why I'm getting the `'boost::interprocess::interprocess_exception' what():  Read-only file system`

Describe pod shows
[code]

@yuzisun @animeshsingh @ellistarn

[2021-12-11 19:39] pshegde opened #1939 "On prem -cannot create inferenceservice using pvc://"
/kind bug

**What steps did you take and what happened:**
Setup Kubeflow 1.3 on Kubernetes 1.20.5
Kserve 0.6

Following this tutorial - https://github.com/kserve/kserve/tree/master/docs/samples/storage/pvc

1. created a PVC with name inf-pvc in namespace admin

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: inf-pvc
  namespace: admin
spec:
  accessModes:
    - ReadWriteMany
  resourc

[2021-12-11 22:05] yuzisun commented on #1939
@pshegde Please check https://kserve.github.io/website/modelserving/storage/pvc/pvc, this error usually indicates that kserve is not able to locate the model, error message is a bit misleading..

[2021-12-12 16:38] yuzisun commented on #1935
@ZhengJuCn I think [this PR](https://github.com/kserve/kserve/pull/1780/files) fixes this, it is available in KServe 0.7 release

[2021-12-13 05:39] caffeinism opened #1941 "Readiness probe failed when huge tensor file send to predictor in triton"
/kind bug

**What steps did you take and what happened:**
I have deployed the onnx model to the server using protocol v2 (trition).

My model is supposed to get an  ```[1, 3, 640, 640]``` shaped FP32 tensor.
However, when writing the corresponding tensor as json, it is 16MB.

When the predictor receives the corresponding tensor, it stops responding, and a timeout occurs during the readiness probe

[2021-12-13 06:18] pshegde opened #1942 "Error failed to load pkl model - missing model error"
/kind bug

**What steps did you take and what happened:**
[root@machine-003 kubeflow]# k logs inf-sample-predictor-default-00001-deployment-76c766d6f7-rjnp8  -n kubeflow kserve-container
/usr/local/lib/python3.7/site-packages/ray/autoscaler/_private/cli_logger.py:61: FutureWarning: Not all Ray CLI dependencies were found. In Ray 1.4+, the Ray CLI, autoscaler, and dashboard will only be usable via

[2021-12-13 09:57] Suresh-Nakkeran commented on #1942
@pshegde May I know how did you copy the model to PV? Please refer the [PV storage](https://kserve.github.io/website/modelserving/storage/pvc/pvc/) example provided in the documentation. Thanks!

[2021-12-13 16:27] yurkoff-mv commented on #1932
Still, I would like to get an answer to my second question:
`If I have several models, should I use one Inference Service for all models or for each model a different Inference Service. How resources will be distributed, in particular the GPU.`
And one more. How to get a list of models registered in InferenceService like MetricsAPI in TorchServe?

[2021-12-14 13:08] motocoder-cn commented on #1935
no，this only add ca-bundle but how to inject ca-bundle to container in runtime？

[2021-12-14 13:49] yuzisun commented on #1935
Looks like we are calling S3.Resouce high level API instead of s3.client which provides a way to skip ssl verification.

[2021-12-15 04:14] markwinter opened #1947 "Renaming: KFServer KFModelRepository KFModel ?"
Currently in the Python SDK there are still some names relating to the old KFServing name:

`KFServer`
`KFModelRepository`
`KFModel`

Should these be renamed?

If so my suggestion is to remove the prefixes entirely as they're already part of the `KServe` package already.

So just `Server` `ModelRepository` `Model` would be sufficient I think.

Updating the names would also require:
- Updating the

[2021-12-15 09:06] caffeinism commented on #1941
I am ignorant of the web.

After several tests, a file of ~4 MB is acceptable. Files of 8 MB are not acceptable.

If the --header "Content-Type: application/json" is appended on curl command, even 16MB files are transmitted successfully.

It seems that the server works differently depending on the content-type.

Anyway my problem was solved.

[2021-12-15 09:07] caffeinism commented on #1941
Oh, but when transformer is used, the same error occurs whether the corresponding header is not attached when the transformer passes it to the predictor. I think we still need to open an issue on this part.

[2021-12-15 09:16] caffeinism commented on #1941
I think it would be better to add a content-type header to that line.
https://github.com/kserve/kserve/blob/07e4d5d3ea54164026bbf7d87de0b06c6d34c014/python/kserve/kserve/kfmodel.py#L164-L169
Or please comment.

[2021-12-17 02:57] #1939 closed, assigned to nobody

[2021-12-17 02:57] #1897 closed, assigned to nobody

[2021-12-17 03:19] yuzisun commented on #1947
Sounds good to me, how about Server -> ModelServer ?

[2021-12-17 03:26] markwinter commented on #1947
@yuzisun Yer that will be better I think

/assign

[2021-12-17 15:34] molejnik-mergebit opened #1952 "Istio 1.9.0 (as set by quick_install script) does not work with kubernetes cluster 1.21"
/kind bug

I have a Kubernetes cluster version 1.21 on GKE (Goole Kubernetes Engine). I'm using kfserving release 0.6.1 with quick install script. I'm getting the very same error as described here: https://issueexplorer.com/issue/kserve/kserve/1858

Prior to the cluster 1.21 it was working fine, now it does not. I suppose this is due to cluster 1.21 does not work with Istio 1.9.0 as specified in q

[2021-12-18 12:38] #1941 closed, assigned to nobody

[2021-12-18 14:48] yuzisun commented on #1952
please see the [supported matrix ](https://kserve.github.io/website/admin/serverless/#recommended-version-matrix), Kubernetes 1.21 only works on Istio 1.10 above.

[2021-12-18 14:48] #1952 closed, assigned to nobody

[2021-12-19 18:10] molejnik-mergebit commented on #1952
@yuzisun why did you close that issue?

I'm familiar with the matrix. I'm just saying that quick_install script mentions Istio 1.9.0, which does not work on Kubernetes 1.21. When I tried to simply change the version to 1.10 in the quick_install script, it did not install on the cluster. Maybe some additional changes are needed?

[2021-12-21 02:40] caffeinism opened #1957 "network overhead"
/kind bug
/kind feature
/kind question

**What steps did you take and what happened:**
When I sent a request with vegeta, I thought had sufficient capacity but not handled properly.

**What did you expect to happen:**
I draw diagram with network flow.
![diagram](https://i.ibb.co/yXggWnY/2021-12-21-11-17-30.png)
I think the part marked in red is network overhead. In that part, if the transformer an

[2021-12-21 03:23] yuzisun commented on #1957
@caffeinism You are running the no-mesh mode, if you choose to run the mesh mode by injecting the istio sidecar in transformer and predictor then transformer can directly communicate with the predictor without going through the ingress gateway.

[2021-12-21 03:31] caffeinism commented on #1957
@yuzisun Could it be possible to use a transformer in the model mesh as well? I can't find that information.

[2021-12-21 03:37] yuzisun commented on #1957
Not right now, transformer is not supported for modelmesh but this is something on our roadmap. Transformer and predictor can also be placed in the same pod as multi containers or even same container, which predictor you are using?

[2021-12-21 03:58] caffeinism commented on #1957
@yuzisun I use triton predictor.

[2021-12-21 04:18] caffeinism commented on #1957
@yuzisun How can I use transformer in the same pod as multi containers?

[2021-12-21 10:23] akakakakakaa opened #1958 "MMS HTTP download fails when tar has directory"
/kind bug

**What steps did you take and what happened:**
tensorflow savedmodel create model with additional files in directory.
[code]

After compressing the tensorflow models with tar, I tried to load them using trainedmodel. But It fails with error "not a directory"

**What did you expect to happen:**
Even if unpack tar, it seems that only files in the top-level path are possible.

Could you pl

[2021-12-21 10:59] akakakakakaa commented on #1957
Transformer and Predictor has own Pod by the inferenceservice spec. So, In my opinion, In kserve architecture, Can not use transformer and predictor in same pod.

But, To use preprocess and postprocess in triton, it seems that you need to use triton python backend and ensemble.

Please see [triton preprocessing example.](https://github.com/triton-inference-server/python_backend/tree/main/examples/

[2021-12-21 12:40] yuzisun commented on #1957
There was a [WIP PR](https://github.com/kserve/kserve/pull/1415/files) you can see the [example](https://github.com/kserve/kserve/blob/e7b57cd80f05cc84912591a5988d0bc3c6b67c8b/docs/samples/v1beta1/transformer/torchserve_image_transformer/transformer_same_pod.yaml) here using localhost between transformer and predictor.

[2021-12-21 13:13] caffeinism commented on #1957
@yuzisun That's a nice feature! But more clearly, shouldn't it be implemented outside of predictor and transformer? As follows..
[code]
It would be good to be able to use a predictor like triton rather than a custom container.

[2021-12-21 13:37] yuzisun commented on #1957
That’s the goal but as you know the current code is structured to create separate pods for predictor and transformer, It will take a bit effort to achieve the above. I am just showing colocation is possible with current inference service spec.

[2021-12-21 13:47] #1923 closed, assigned to nobody

[2021-12-21 13:53] caffeinism commented on #1957
Thanks. Some questions have been resolved. I will close this issue.

[2021-12-21 13:53] #1957 closed, assigned to nobody

[2021-12-24 00:51] yuzisun opened #1960 "Update go mod dependency"
/kind feature

**Describe the solution you'd like**
- Upgrade go to 1.17
- Clean up KServe controller go dependencies
- Update Kubernetes client to 1.21
- Update Knative version

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-24 01:06] #1947 closed, assigned to markwinter

[2021-12-24 15:20] markwinter commented on #1947
Will update docs after christmas weekend

[2021-12-26 15:54] #1885 closed, assigned to nobody

[2021-12-26 18:28] yuzisun commented on #1880
@matthewjcarlson I think the host header should be `sklearn-iris.kserve-test.example.com`, you can check the host name in the ingress resource with `kubectl get ingress sklearn-iris -oyaml`.

[2021-12-28 04:29] yuzisun opened #1965 "Chore: Cleanup `InferenceService` configmap for ML framework related fields"
/kind feature

**Describe the solution you'd like**
Cleanup `InferenceService` configmap for framework related fields which are now replaced by `ClusterServingRuntime`.

e.g
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-28 14:40] Phelan164 commented on #1937
@swapkh91 do you have any update for that issue?
I now also got same problem with triton server
[code]

[2021-12-28 15:11] AntPeixe opened #1967 "Storage Initializer Azure Fileshare download tgz RuntimeError ContentType check"
/kind bug

**What steps did you take and what happened:**
Downloading a model from Azure Fileshare URI with a SAS results in RuntimeError due to a mismatch in ContentType.
On previous versions this would succeed as there were no ContentType checks.

 * URI example: `https://<STORAGE_ACCOUNT>.file.core.windows.net/path/to/file.tgz?<SAS_TOKEN>`
 * Detected mimetype: `'application/x-tar'`
 * Detected

[2021-12-29 05:19] swapkh91 commented on #1937
@Phelan164 this issue still exists
Are you trying to increase `shm-size`?

[2021-12-29 07:02] Phelan164 commented on #1937
@swapkh91 yes, I increased `shm-size` to 2GB but still happening
btw, with that model when I run triton server without kserve, It could run when I set `shm-size` 1 GB.
and other trying, I increase Triton python backend setting
`--backend-config=python,shm-growth-byte-size=1000000000 --backend-config=python,shm-default-byte-size=1000000000`
but not working. The error is Read-only mod so I think tha

[2021-12-29 07:39] Phelan164 commented on #1937
<img width="1399" alt="Screen Shot 2021-12-29 at 14 38 38" src="https://user-images.githubusercontent.com/2509508/147638418-e6d025d8-a0cf-4494-b557-3ce073612dc3.png">
btw, it is my logging

[2021-12-29 07:42] swapkh91 commented on #1937
@Phelan164 yeah it wont work on kserve as of now, even some issues with normal kubernetes deployment. I raised [this](https://github.com/triton-inference-server/server/issues/3678) issue, yet to be fixed

If you are just using docker, then setting `--backend-config=python,shm-default-byte-size=16777216` (16MB) works for python backend. By default each model on python backend uses the whole 64MB of

[2021-12-29 07:48] Phelan164 commented on #1937
@swapkh91 yes, just try to increase that but it not working.
btw, I also deploy into kubernetes but when I run triton server in container I just add setting `--backend-config=python,shm-default-byte-size= 1000000000 ` (1GB)
I tried with old version 21.03-py3  it could load some models but also could not load all my models

[2021-12-29 08:30] swapkh91 commented on #1937
@Phelan164 you have to set `shm-default-byte-size` between 0-64MB as the total shm-size is 64MB (which can be increased only through `emptyDir`), `shm-default-byte-size` sets the shm for 1 model. So if you have 4 python models, you can set `shm-default-byte-size=16777216` (16*4)

[2021-12-29 09:12] Phelan164 commented on #1937
@swapkh91 yes, I see. I just want to confirm that there is no problem with lack of shm-default-byte-size for my model. So I tried to load a single model with shm 1GB and I have emptyDir 2GB. But it got same error

[2021-12-29 12:07] #1924 closed, assigned to Suresh-Nakkeran

[2021-12-30 02:55] wenyangchou opened #1968 "When kserve releases a new version of the model, the current version is 9 and the new version is 10. Why does version 8 start ？"
/kind bug

**What steps did you take and what happened:**
Deploy a model which version in knative is 9. Before that version 8 has been deployed successfully.
When I deploy version 10 with canary percent 1% 。As a result pods in version 8 and version 10 has been created.

**What did you expect to happen:**
Pods in version 10 are created only.

**Anything else you would like to add:**
[Miscellaneous

[2021-12-30 11:00] Phelan164 commented on #1937
@swapkh91 I found out that. mount volums mode is always readOnly from knative [here](https://github.com/knative/serving/issues/12459#12438).  I also see that, they already have [PR](https://github.com/knative/serving/pull/12458) for updating that.

[2021-12-30 11:49] swapkh91 commented on #1937
@Phelan164
it is fixed for knative version 0.26.0. I asked the team [here](https://github.com/knative/serving/issues/4417#issuecomment-987815846). But its read-only on Kserve side right now

[2021-12-30 16:59] Phelan164 commented on #1937
@swapkh91 humm, I think it not fixed readOnly mode. You could see src [here](https://github.com/knative/serving/blob/release-0.26/pkg/apis/serving/v1/revision_defaults.go#L147) and you could refer recently discussion [here](https://github.com/knative/serving/issues/12459#12438)

[2022-01-01 20:16] yuzisun commented on #1968
@wenyangchou Was version 9 rolled out with 100 percent traffic?

[2022-01-03 08:22] skonto commented on #1937
Hi [rw access is allowed](https://github.com/knative/serving/pull/11705) for emptydir only at the moment but full rw pvc support is coming. @Phelan164 the code you mention excludes emptydir volumes. So if emptyDir is used you should get write access unless something else is wrong in the given setup (not K8s spec related).
All other volume types will remain in read-only mode unless explicitly defin

[2022-01-04 15:03] Phelan164 commented on #1937
@swapkh91 did you try older version of kfserving? did it have same problem or just new version?

[2022-01-04 15:14] Phelan164 commented on #1937
@skonto thanks for your info

[2022-01-05 01:54] wenyangchou commented on #1968
Version 9 was rolled out with 100% , and version 10 was rolled out with 1%

[2022-01-05 02:23] yuzisun commented on #1968
in that case version 9 and 10 should have the split of 90/10%, which kserve version you are on?

[2022-01-05 02:41] wenyangchou commented on #1968
The latest version is 9 and it has been rolled out with 100 percent traffic. Now I want to roll out a new version 10 with 1 percent traffic. At this time, the previous version 8, which pod has been  already terminated was started. As a result, there are three version with their pods in running status at the same time.

[2022-01-05 05:20] swapkh91 commented on #1937
@Phelan164 just the latest version

[2022-01-05 11:10] #1960 closed, assigned to nobody

[2022-01-05 14:39] edwardzjl opened #1975 "Problem deploying inferenceservice"
/kind bug

**What steps did you take and what happened:**

After deploying sample xgboost model, the inferenceservice stuck at "Waiting for load balancer to be ready":

[code]

**What did you expect to happen:**

The inferenceservice should be in "Ready" state.

**Anything else you would like to add:**

`network-istio` log:
[code]

`activator` log:
[code]

`autoscaler` log:

[code]

**Environment:

[2022-01-06 09:39] daganida88 opened #1976 "Unable to pull storage intiializer image - gcr.io/kfserving/storage-initializer:v0.6.0"
/kind bug

**What steps did you take and what happened:**
Try to run an inference service using this version of storage initializer
[A clear and concise description of what the bug is.]
When the pod start to run it first need to download the models using the storage intiailizer.
We've started to receive this error:
Error response from daemon: Head "https://gcr.io/v2/kfserving/storage-initializer/m

[2022-01-06 10:17] daganida88 commented on #1976
we changed the image path from the inferenceservice-config configmap located in kfserving-system.

[2022-01-06 10:45] dtpryce commented on #1976
@daganida88 we are experiencing this also ... what did you change / fix exactly?

[2022-01-06 10:45] dtpryce commented on #1976
We have ```Failed to pull image "gcr.io/kfserving/storage-initializer:v0.4.0": rpc error: code = Unknown desc = Error response from daemon: Get https://gcr.io/v2/kfserving/storage-initializer/manifests/v0.4.0: denied: Permission denied: Consumer 'project:kfserving' has been suspended```

[2022-01-06 10:45] dtpryce commented on #1976
And haven't change anything on our side for weeks in the relevant charts

[2022-01-06 12:29] yuzisun commented on #1976
/cc @zijianjoy @james-jwu Can you help check if the kfserving gcr project got suspended again?

[2022-01-06 12:32] yuzisun commented on #1976
@daganida88 Please upgrade to v0.6.1 release in which we have ported all images to docker hub
e.g `gcr.io/kfserving/storage-initializer:v0.6.1` -> `kfserving/storage-initializer:v0.6.1`

[2022-01-06 12:33] daganida88 commented on #1976
@dtpryce inside the inference-service configmap we changed to image to point to :  kfserving/storage-initializer:v0.6.1.
We restarted the inference services and they took the right image.

[2022-01-06 14:15] dtpryce commented on #1976
Appears to have fixed that! Thanks!

[2022-01-06 15:29] aodahl opened #1977 "google-cloud-storage dependency fixed to version 1.41.1"
/kind bug

**What steps did you take and what happened:**
The `google-cloud-storage` library dependency is fixed to version 1.41.1. This conflicts with usage of dependabot updated versions in my project.

**What did you expect to happen:**
I expected to be able to use a later version of `google-cloud-storage`.

**Anything else you would like to add:**
For reference, I notice that before [Merge kse

[2022-01-06 17:24] jmalobicky commented on #1976
We cannot just upgrade to v0.6.1 - are the older v0.4.x images available anywhere or is the GCR Project suspension going to be resolved?

[2022-01-06 18:06] yuzisun commented on #1976
Yes we are requesting Google to restore the project asap.

[2022-01-06 18:34] zijianjoy commented on #1976
I have appealed for resuming the GCP project. It should be available now, please confirm if this unblocks you. @jmalobicky

[2022-01-06 18:37] jmalobicky commented on #1976
I see the images being pulled now!

[2022-01-06 18:37] yuzisun commented on #1976
Thanks @zijianjoy for the quick response! really appreciate it.

[2022-01-06 18:41] zijianjoy commented on #1976
Awesome, thank you @jmalobicky for confirming!

To @yuzisun , thank you for bringing this to our attention.
In order to prevent similar situation to happen again, I recommend making a copy of all the existing images on the kfserving GCP container registry, and serve them on Dockerhub or any public registry. Because I expect something similar to happen again, this will cause similar disruption to t

[2022-01-07 07:19] daganida88 commented on #1976
Sounds good.

[2022-01-07 08:58] edwardzjl commented on #1900
@amybachir Hi, I'm running into a similar problem. Did you solve the missing virtualservice problem? There's only 2 virtualservice created per inference service in my cluster.

[2022-01-07 14:34] yuzisun commented on #1976
KFServing releases `v0.4.0`/`v0.4.1`/`v0.5.0`/`v0.5.1`/`v0.6.0` images have been backed up now under [dockerhub kfserving](https://hub.docker.com/u/kfserving). To prevent project suspension again in future as KServe working group no longer own the GCP kfserving project after moving out, we highly recommend updating kfserving controller image and `inferenceservice-config` configmap to use the image

[2022-01-08 00:44] amybachir commented on #1900
@edwardzjl what does your config-istio configmap looks like? What is the value of `enable-virtualservice-status` ?

Can you run the following command:
`kubectl describe cm config-istio -n knative-serving`

[2022-01-08 01:08] #1976 closed, assigned to nobody

[2022-01-08 16:54] yuzisun commented on #1968
@wenyangchou can you provide the inference service status details? There can be only two versions running at the same time.

[2022-01-08 16:56] yuzisun commented on #1921
@skseo941229 please help move the issue to the kubeflow pipeline repo

[2022-01-08 16:56] #1921 closed, assigned to nobody

[2022-01-08 16:57] yuzisun commented on #1915
@jagadeeshi2i can you help fix this issue?

[2022-01-09 12:54] #1977 closed, assigned to nobody

[2022-01-09 17:16] yuzisun commented on #1967
@AntPeixe Seems currently we only check the [URL pattern](https://github.com/kserve/kserve/blob/master/python/kserve/kserve/storage.py#L42) with `_BLOB_RE = "https://(.+?).blob.core.windows.net/(.+)"`, I guess we need to add `file.core.windows.net` as well?

[2022-01-10 02:28] edwardzjl commented on #1900
Thanks for the reply.

There may be some stale state in my gateway and I solved the issue following [this](https://github.com/knative/serving/issues/10115#issuecomment-747788706)

[2022-01-10 03:38] wenyangchou commented on #1968
@yuzisun

Command:
[code]
Shows:
[code]
Then:
[code]
shows:
[code]
Inferenceservice details shows:
[code]

After about 5 minutes later, the version 0005 was terminated.

[2022-01-10 05:23] yuzisun commented on #1968
From the status, revision 5 was definitely not getting the traffic and the split is between version 6 and 7, wondering why version 5 was brought up for a brief time.

[2022-01-10 05:29] yuzisun commented on #1900
@amybachir thanks for the useful debugging instruction! maybe worth raising this issue to Istio?

[2022-01-10 05:39] wenyangchou commented on #1968
I am confused by it as well.  Especially when resources are insufficient, the old version brings up could result in pods which version are the latest can not start up.

[2022-01-10 11:16] konsloiz opened #1982 "SecurityContext in inferenceservice.yaml?"
/kind bug

**What steps did you take and what happened:**
Deployed KServe in an enterprise environment with strict security constraints. Tried to create an Inference Service directly from Jupyter Notebooks. The service is initializing but it fails because the container (storage initializer) tries to run as root.

![image](https://user-images.githubusercontent.com/22999070/148757016-8ff2b00b-e6b9-4

[2022-01-10 12:26] laozc commented on #1967
I believe there are a few endpoints for Azure storage accounts in different Azure clouds
which we might need to add those as well.
I can work on this.

[2022-01-10 15:30] jagadeeshi2i commented on #1915
@yuzisun currently working on the fix and will be part of next release.
\

[2022-01-11 16:49] AntPeixe commented on #1967
I think that adding another pattern and function to handle this would be the best option indeed.
Sorry I didn't get back sooner. I could have also worked on this but if you already started go ahead.

For now I've basically created my own image with a patch and changed the cluster configs to pull that instead of the default one.

[2022-01-12 01:13] laozc commented on #1967
@AntPeixe I added the file share support in storage initalizer.
The URI needs to be pointed to the directory where the tar.gz file locates.
https://<STORAGE_ACCOUNT>.file.core.windows.net/path/to/?<SAS_TOKEN>

I'm still working on some test cases. Hopefully I could get the PR done soon.

[2022-01-13 19:42] daganida88 opened #1990 "Hey, I'm trying to reverse engineering to the kpa to understand what are the api calls the kpa performs in order to scale up or down an inference service so I can do it manually. This inference service has min 1 replicas and 100 max. Let's say I want to scale it manually to 2 inference services pods.. I can't seem to figure out how to do it. Scaling the deployment the revision created did not work.. Any suggestions??"

[2022-01-14 07:57] #1912 closed, assigned to nobody

[2022-01-14 09:24] bartgras opened #1991 "Storage-initalizer doesn't set all env variables"
/kind bug

**What steps did you take and what happened:**
I have KServe setup on Kubeflow. I follow [S3 storage setup guide](https://kserve.github.io/website/modelserving/storage/s3/s3/) with Minio as endpoint.

Issue: For some reason only `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` are being set in init container `kserve/storage-initializer:v0.7.0`, others like e.g. `AWS_ENDPOINT_URL` are mis

[2022-01-14 13:59] yuzisun commented on #1991
@bartgras you had a typo there it is serving.kserve.io not org

[2022-01-15 01:36] chinhuang007 opened #1992 "Make model type + version support more specific in Serving Runtimes and add auto-placement for models with no versions"
/kind feature

**Describe the solution you'd like**
Currently, the model type + version support for Serving Runtimes (SR) is not limited to a specific version. For example, a SR with following would support tensorflow models with either version 1 or no version numbers.
    name: tensorflow
    version: "1"
Another SR with following would support tensorflow models with either version 2 or no versio

[2022-01-15 13:54] yuzisun commented on #1990
@daganida88 Can we move this to [Discussions](https://github.com/kserve/kserve/discussions)?

[2022-01-15 14:00] yuzisun commented on #1990
see https://github.com/kserve/kserve/discussions/1993

[2022-01-15 14:00] #1990 closed, assigned to nobody

[2022-01-17 01:04] bartgras commented on #1991
Omg! you're right. Thanks and sorry for confusion.

[2022-01-17 01:04] #1991 closed, assigned to nobody

[2022-01-17 10:54] juliusvonkohout opened #1995 "Leftover in the manifests"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

There is a service https://github.com/kserve/kserve/blob/2208f100af02c05031e1910516f31ae3ece87aaf/manifests/charts/templates/service.yaml#L26 that lists port 443 for the kserve-controller-manager, but according to the deployment nothing at 443 is served https://github.com/kserve/kserve/

[2022-01-17 13:26] yuzisun commented on #1995
Thanks @juliusvonkohout ! Seems to be a bug when generating the metrics service, the port here should be 8443 which targets to the https port in kube rbac proxy used to authenticate and authorize the metrics scraping requests.

[2022-01-17 14:24] juliusvonkohout commented on #1995
and another security issue https://github.com/kserve/kserve/pull/1996

[2022-01-17 21:08] juliusvonkohout commented on #1995
Can I just change it in the template to 8443 and create a pull request or will you do that. It seems to be wrong in line 8 and 26 https://github.com/kserve/kserve/blob/master/manifests/charts/templates/service.yaml

[2022-01-19 05:50] SeibertronSS opened #2001 "The status of inferenceservice is always unknown"
/kind bug

**What steps did you take and what happened:**
I deployed an inferenceservice, the corresponding pod has been successfully run, but the status of isvc has been unknown.

**Anything else you would like to add:**
The isvc is
[code]
When I view the details of this isvc, I get
[code]
I checked the logs of knative and found that the problem may be due to the inability of knative to access is

[2022-01-20 01:54] SeibertronSS commented on #1975
I think I have the same problem as you. https://github.com/kserve/kserve/issues/2001
Did you solve this problem?

[2022-01-20 16:51] #1995 closed, assigned to nobody

[2022-01-21 02:53] edwardzjl commented on #1975
Yes I solved the problem following [this comment](https://github.com/knative/serving/issues/10115#issuecomment-747788706)

[2022-01-21 02:56] #1975 closed, assigned to nobody

[2022-01-21 03:18] SeibertronSS commented on #1975
@edwardzjl Thank you!

[2022-01-21 04:45] markwinter commented on #1900
We started having this issue after having a problem with istio getting OOM failures.
After fixing istio I could only fix the ksvc "Waiting for load balancer" issue by forcing a new revision update.

We also recently changed the expiry time on the kserve certificate, perhaps also related

[2022-01-21 05:25] yuzisun opened #2002 "Update KServe helm chart for 0.8 release"
/kind feature

**Describe the solution you'd like**
Update kserve [helm chart ](https://github.com/kserve/kserve/tree/master/manifests/charts) for 0.8 release

**Anything else you would like to add:**
- Add cluster serving runtime manifests
- Update values.yaml for version updates

[2022-01-21 11:51] revolutionisme opened #2003 "Storage initializer goes into CrashLoopBackOff, can't copy model from KMS enabled S3 bucket"
/kind bug

**What steps did you take and what happened:**
Created an inference service using the following:

[code]

The pipeline-runner service account consists of a role (IRSA) and is configured as follows:
[code]

The role `kfp-example-pod-role` has full permisisons to read S3 buckets and objects and even KMS permission.

[A clear and concise description of what the bug is.]
When I apply the in

[2022-01-21 21:32] tc360950 commented on #1914
@daganida88 This issue has been solved in version 0.7

[2022-01-22 00:06] pufinbruun commented on #2003
Have you tried updating `AWS_ENDPOINT_URL` to use HTTPS?

[2022-01-22 20:00] revolutionisme commented on #2003
@pufinbruun Can you please explain it a bit? Where and How do you want me to set that variable?

I tried setting up the inferenceservice with the following annotations as well, but that didn't work.

[code]

[2022-01-22 20:52] pufinbruun commented on #2003
To use HTTPS we basically just followed this guide https://kserve.github.io/website/modelserving/storage/s3/s3/

Since we're also using IAM roles for service accounts, there is no need to provide S3 credentials in a `Secret`. Although we still needed to be able to pass the correct annotations. We got this to work by doing the following.

[code]

[2022-01-22 21:11] revolutionisme commented on #2003
Thanks for that sample, would create secret like that and attach it to the service account. Would try it out, and report back my findings.

Again, thanks for that quick response!

[2022-01-22 23:43] yuzisun commented on #1937
We have tested the above yaml which works with `triton 21.09`, `kserve v0.8.0-rc0` and `knative 1.0`, but with `kserve v0.7.0` you get `what():  Read-only file system` error in triton inference server.

in v0.7.0 somehow it overrides volume mount `ReadOnly` true which is not happening in v0.8.0.
[code]

[2022-01-23 19:44] revolutionisme commented on #2003
@pufinbruun So I tried doing what you proposed but unfortunately that didn't work out.

The updated service account yaml inside the cluster looks like this:

[code]

The `s3creds` secret was defined like this:

[code]

I recreated the inference service but I am still getting the same error. Not sure whether the service account is taking up the new change or not.

[2022-01-24 09:44] wenyangchou opened #2006 "Old revision pod can not be terminated."
/kind bug

**What steps did you take and what happened:**
When I start a isvc, which contains a pmml predictor and a custom transformer, has two replicas . the latest revision is  001. Then I roll out the revision 002 which contains a pmml predictor and no transformmer with 100 percent traffic. As a result the revision 001
has just terminate only one predictor pod, another predictor pod and tranfo

[2022-01-24 11:17] 631068264 opened #2007 "kfserving sdk 0.6.1 ImportError: cannot import name 'ServeRequest' from 'ray.serve.utils'"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:  0.6.1
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]
- Minikube ver

[2022-01-24 18:03] jagadeeshi2i commented on #1889
https://github.com/pytorch/serve/pull/1396

[2022-01-24 18:10] jagadeeshi2i commented on #1932
By default Torchserve uses all available GPU for inference. The GPU sharing among multiple models, we have set worker as
`ValueToSet = (Number of Hardware GPUs) / (Number of Unique Models)` for scheduling of threads to GPU.

[2022-01-25 05:15] hanwgyu opened #2009 "Apply rollout duration of Knative Serving for each InferenceService"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Knative Serving offers [`rollout duration`](https://knative.dev/docs/serving/rolling-out-latest-revision/) feature which makes possible to deploy new servers gradually.

It can be applied globally by changing `config-network`, but i want to specify it for each `InferenceService`.

As

[2022-01-25 06:27] yuzisun commented on #2007
@631068264 this is fixed in kserve 0.7.0.

[2022-01-25 06:28] yuzisun commented on #2009
@hanwgyu you should be able to apply the knative annotation `serving.knative.dev/rollout-duration: "380s"` on InferenceService as well, that just gets propagated down to the underlying knative service.

[2022-01-25 07:38] markwinter commented on #2009
When applying the annotation on `InferenceService` it gets propagated to `spec.template.metadata.annotations` in the ksvc.

But `serving.knative.dev/rollout-duration` is only supported in the top level `metadata.annotations` of a ksvc unlike other settings for some reason.

Would this be the correct place to set the annotation correctly?
https://github.com/kserve/kserve/blob/master/pkg/controller/

[2022-01-26 01:17] #1982 closed, assigned to nobody

[2022-01-26 05:50] howespt opened #2010 "High availability control plane"
/kind feature

**Describe the solution you'd like**
The control plane for kserve should support highly available configurations.

**Anything else you would like to add:**
It's not clear whether the replica count for the kserve-controler-manager statefulset can be increased > 1. I am not familiar enough with the architecture to determine if it is possible to add additional replicas without side eff

[2022-01-28 03:12] #2007 closed, assigned to nobody

[2022-01-28 03:24] 631068264 opened #2011 "A problem about inference service status setting"
/kind bug

https://github.com/kserve/kserve/blob/9fa4940c6c10e96a86d5cb1bc855f7405b1276c4/pkg/apis/serving/v1beta1/inference_service_status.go#L237

I‘m not sure is it a bug，but I don't know why to do that

I found this
[code]

Why the value from **ConfigurationsReady** is assigned to  **routeCondition** , not  **configurationCondition**

Is the variable name wrong, or something else？

[2022-01-28 03:27] #2011 closed, assigned to nobody

[2022-01-28 03:29] 631068264 opened #2012 "A problem about inference service status setting"
/kind bug

https://github.com/kserve/kserve/blob/9fa4940c6c10e96a86d5cb1bc855f7405b1276c4/pkg/apis/serving/v1beta1/inference_service_status.go#L237

I‘m not sure is it a bug，but I don't know why to do that

I found this
[code]

Why the value from **ConfigurationsReady** is assigned to  **routeCondition** , not  **configurationCondition**

Is the variable name wrong, or something else？

**Environme

[2022-01-28 08:02] laozc opened #2013 "Support more authentication approaches on Azure in Storage Initializer"
/kind feature

**Describe the solution you'd like**
Currently only Azure Service Principal login is supported in Storage Initializer.
Customer is not able to use Managed Identity to download models from Azure Blobs.

**Anything else you would like to add:**
Azure Identity Python SDK supports variety of authentication approaches.
We may simply leverages the feature provided by the SDK.

[2022-01-28 10:22] padrian2s opened #2015 "MLflow integration"
/kind feature

**Describe the solution you'd like**
In practice model storage in GCP, S3 has been an overhead with the cost of managing the model storage hierarchy and the model version lifecycle. Looks great in yaml, but it's not a practical idea to store the model in S3/GCP. Sorry.

Here comes this mlflow integration by letting the user store model in MLflow (with lifecycle control) and referenc

[2022-02-01 04:53] vijay-nag opened #2023 "pytorch kfserving fails in kfserving v0.5.1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

we are trying to create pytorch isvc ( both v1alpha2 and v1beta1 api versions )

https://github.com/kserve/kserve/blob/release-0.5/docs/samples/v1alpha2/pytorch/pytorch.yaml
https://github.com/kserve/kserve/blob/release-0.5/docs/samples/v1alpha2/pytorch/pytorch_v1beta1.yaml

I am using

[2022-02-01 12:56] revolutionisme commented on #2003
I tried setting up static credentials and creating a secret with ACCESS_KEY and SECRET_KEY and it works then. Not sure why the annotations are not fetched when not setting credentials in the secret.

Can anyone support in this?

[2022-02-02 09:31] eyalcha opened #2024 "Failed to build dockerfile of custom model"
/kind bug

[code]

[2022-02-03 16:15] SharpEdgeMarshall opened #2027 "With min-scale > 1 only the first pod receive traffic"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If you set `min-scale=2` to be HA only the first pod will receive traffic

**What did you expect to happen:**
All pods receive traffic

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
When `min-scale>1` we are also seeing increa

[2022-02-03 16:33] #2027 closed, assigned to nobody

[2022-02-04 04:57] pradithya opened #2029 "Support cert-manager 1.7 and above"
/kind feature

**Describe the solution you'd like**
cert-manager 1.7 removed several deprecated APIs listed [here](https://cert-manager.io/docs/installation/upgrading/remove-deprecated-apis/)

Installing kserve and while using cert-manager 1.7 causes following error
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-04 05:17] yuzisun commented on #2029
@pradithya This is fixed in the upcoming v0.8.0 release, see https://github.com/kserve/kserve/pull/1904

[2022-02-04 05:17] #2029 closed, assigned to nobody

[2022-02-04 05:40] #1958 closed, assigned to nobody

[2022-02-07 07:42] pradithya commented on #2029
Thanks @yuzisun , any expected date for 0.8 release?

[2022-02-09 16:44] yurkoff-mv commented on #2023
Try changing the config.
[code]

It's works for me.

[2022-02-09 16:52] vijay-nag commented on #2023
No revision is not recognising digests and tags configured in inferenceservice-config
`  image: 'slb.artifactory.local/org/kubeflow/kfserving/pytorchserver:`

[2022-02-09 17:45] yurkoff-mv commented on #2023
Perhaps I misunderstood you, but try replacing your line with this:
`"image": "pytorch/torchserve-kfs"`

[2022-02-11 07:47] yurkoff-mv opened #2037 "The pod crashed, but the InferenceService shows that it is working."
The model has stopped responding, but the InferenceService shows that it is in working order. At the same time, PODs are in the `Init:CrashLoopBackOff` state and do not restart themselves.

I would like to catch the moment of the crash of pods inside the inference service. And if the PODs for some reason fall, then they themselves would restart.

**What steps did you take and what happened:**
`!ku

[2022-02-11 07:50] yurkoff-mv commented on #2037
`!kubectl describe deployment transformers-predictor-default-00001-deployment -n default`

[code]

[2022-02-12 13:12] #2002 closed, assigned to nobody

[2022-02-12 14:41] yuzisun commented on #2012
fixed in #2016

[2022-02-12 14:42] #2012 closed, assigned to nobody

[2022-02-13 15:00] #1968 closed, assigned to nobody

[2022-02-14 04:51] #1906 closed, assigned to nobody

[2022-02-14 20:52] Lolologist opened #2041 "Cannot install required version of numpy on M1 mac"
/kind bug

Issue:
Installation on python 3.8 or 3.9 (and presumably all versions of Python) of the v0.8.0 release candidate fails due to the pinned requirement of numpy.

Expected behavior:
kserve's release candidate for 0.8 can be installed on an M1 mac.

Extra information:
https://github.com/numpy/numpy/releases/tag/v1.21.0 numpy 1.21+ allows installation on M1 macs.

**Environment:**

- OS (e.g

[2022-02-15 07:59] yuzisun commented on #1937
0.8 has been released.

[2022-02-15 07:59] #1937 closed, assigned to nobody

[2022-02-17 02:36] pvaneck opened #2042 "InferenceService Status restructuring"
Currently, ModelMesh has its own set of status fields that it populates in the InferenceService status since we [allow unknown fields](https://github.com/kserve/kserve/pull/1855/files) there. Similarly, KServe has its own status fields that are predominantly based on knative fields.

The goal here is to converge on a common set of status fields that would work with the various different deployment

[2022-02-17 02:37] pvaneck commented on #2042
FYI @yuzisun , @njhill , @chinhuang007

[2022-02-17 18:02] chinhuang007 commented on #2042
For both KServe and ModelMesh to update and understand the status/state of an inference service, I would suggest to continue to use the Knative types. That probably means that InferenceServiceStatus needs to cover ModelMesh status requirements, and ModelMesh needs to include Knative packages and change code accordingly.

[2022-02-18 00:48] yuzisun commented on #2042
My proposal is to collapse the model related fields from ModelMesh's `PredictorStatus` into a new struct `ModelStatus` on InferenceService status. On InferenceService there isn't any status field about the model, when storage initializer fails to download or model server fails to load the model, we just say that service is not ready which could be due to many other reasons, so I think it is good t

[2022-02-18 00:54] yuzisun opened #2045 "Reconciliation error when upgrading from 0.7 to 0.8"
/kind bug

**What steps did you take and what happened:**
Create an InferenceService with KServe 0.7 and then upgrade KServe to 0.8, the existing inference service then get following validation error during reconciliation.

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
As the existing inference services are not going through the mutating webhook, it is not co

[2022-02-18 00:56] #2045 closed, assigned to nobody

[2022-02-18 06:07] pradithya opened #2046 "Ability to use template for generating Inference Service URL when using raw deployment"
/kind feature

**Describe the solution you'd like**

Currently, inference service URL when using raw deployment is generated using hardcoded template.
[code]
In some organisation, these template might need to be customised (for example at Gojek, we are using `{{ Name }}.{{ Namespace }}.{{ Domain }}` template (using dot to separate Name and Namespace), hence it should be possible for kserve admin t

[2022-02-18 06:14] pradithya commented on #2046
I can work on it if it's approved.

[2022-02-18 06:31] Iamlovingit opened #2047 "Need to add more descriptions to the new feature ServerRuntime"
Kserve 0.8 is included `Server Runtime` feature, but there is rare of infomation or samples for that. It is better to add more documents, explain to user:
1. what can user do by `Server Runtime`
2. how to deploy new `Server Runtime`
3. Add more samples

At last, is the `inferenceservic-config.predictors` still useful?

[2022-02-18 10:15] pradithya opened #2048 "Add ingressClassName configuration"
/kind feature

**Describe the solution you'd like**
When using RawDeployment and there are several ingress controller in the cluster, kserve administrator should be able to configure which ingress to use. Currently it's only possible by adding  `kubernetes.io/ingress.class` annotation to all inference service. However, users might miss adding this annotation which leads to inference service not wo

[2022-02-18 23:19] yuzisun commented on #2047
@pvaneck I think you mostly wrote up this in the 0.8 release blog, we can move some of the content to the main doc and add an example ?

[2022-02-18 23:42] pvaneck commented on #2047
@yuzisun Right, I will add some content and explanation around ServingRuntimes to the main doc.

[2022-02-19 02:39] pvaneck commented on #2042
I think that's seems pretty tenable. So it looks like we maintain the use of `Conditions` where ModelMesh will populate the necessary Predictor types (i.e. `PredictorRouteReady`, etc.) ?

Also, do we omit the Address field that was in the original Status?

[2022-02-20 13:09] yuzisun commented on #2046
@pradithya +1 on this, it is what knative has been doing though we need to replicate that logic in kserve.

[2022-02-21 12:13] golimix commented on #1846
the answer is ?

[2022-02-21 19:00] chinhuang007 commented on #2042
Feels like ModelStatus is additional to, not a replacement of, ComponentStatusSpec. So that seems to suggest the predictor component and its status should be populated and maintained regardless it is single model or ModelMesh. Please help clarify if my thinking is incorrect.

[2022-02-22 00:11] #1814 closed, assigned to nobody

[2022-02-22 13:34] yuzisun commented on #2042
ye we can add the `ModelStatus` in addition to the component status, we don't need to populate every single field on component status and most of the fields are optional, ModelMesh can set the `PredictorReady` condition and the url related fields.

[2022-02-22 13:34] yuzisun commented on #2042
/cc @Suresh-Nakkeran

[2022-02-22 18:17] #2047 closed, assigned to nobody

[2022-02-23 01:41] SeibertronSS opened #2057 "Can a custom init container be used when deploying isvc？"
When I deployed isvc, I found that the model files are checked in the init container. Since my model files are in private cloud storage, I need to modify the image of the init container to pass the check. The yaml file I use is as follows,
[code]
But when I deploy, k8s prompts me that there is no `initContainers` in `serving.kubeflow.org/v1beta1`

[2022-02-23 02:51] Youngwoo-git opened #2058 "Autoscaling"
/kind feature

Currently, I'm using the dockerfile provided in this repository. Somehow I managed to run the server, yet it seems to fail in autoscale. Would you mind guiding me to the document to customize the autoscaling option if there is any?

[2022-02-23 13:21] golimix opened #2059 "No module named 'sklearn.svm.classes'"
[code]

the sklearnserver:v0.8.0 doesn't work well with the ``gs://kfserving-samples/models/sklearn/iris``

after down to sklearnserver:v0.7.0 works well

[2022-02-23 13:42] #2048 closed, assigned to pradithya

[2022-02-23 16:33] eyalcha opened #2060 "Explainer host is not send to transformer as argument"
/kind bug

When deploying model with predictor & explainer & transformer, the transformer only gets the predictor_host as argument but not the explainer_host

[2022-02-24 09:40] yuzisun commented on #2059
@24king sklearnserver v0.8.0 has upgraded sklearn to v1.0.1 and you need to use the example from https://github.com/kserve/kserve/blob/master/docs/samples/v1beta1/sklearn/v1/sklearn.yaml#L8

[2022-02-24 09:40] #2059 closed, assigned to nobody

[2022-02-24 09:42] yuzisun commented on #2057
@SeibertronSS you should be able to change the init container image from the [configmap](https://github.com/kserve/kserve/blob/master/config/configmap/inferenceservice.yaml#L139)

[2022-02-25 09:02] yangyang919 opened #2061 "Failed to load model, missing model file"
/kind bug

**What steps did you take and what happened:**
We have a model gets trained and stored in Minio storage. Then we are applying InferenceService to deploy the model. But the pods failed to load the model:
`/usr/local/lib/python3.7/site-packages/ray/autoscaler/_private/cli_logger.py:61: FutureWarning: Not all Ray CLI dependencies were found. In Ray 1.4+, the Ray CLI, autoscaler, and dashbo

[2022-02-25 12:33] yuzisun commented on #2061
@yangyang919 it is looking for model.pkl, can you rename the model?

[2022-02-25 13:51] yangyang919 commented on #2061
thanks! I can have a try, but my question is, from error logs, looks like model name variable has been updated to my model name? _fail to load model failure-rate-model from dir /mnt/models/data._  So I thought it will look for failure-rate-model.pkl..

[2022-02-26 20:37] yuzisun commented on #2010
@howespt Only kserve pods go through the kserve webhook as we use object selector, other parts of the cluster should not be affected.

[2022-02-26 20:47] yuzisun opened #2065 "Support auto selection based on protocol version"
/kind feature

**Describe the solution you'd like**
Currently for example `sklearn` model, user has to explicitly specify the serving runtime name to choose the runtime that can support v2 protocol because `kserve-sklearnserver` is marked for auto selection.

**Anything else you would like to add:**
One option is to add `protocolVersion` to the `SupportedModelFormat`

[code]

[2022-02-27 10:55] eyalcha opened #2066 "Support convert of input to numpy array - sklearnserver"
/kind feature

In some cases, there is a need to convert the input to numpy array before calling the predict function. Suggest to add a flag which when set, the predictor will convert the input to numpy array.

[2022-02-27 11:51] matty-rose commented on #2003
@revolutionisme I did some digging into the code and found this line https://github.com/kserve/kserve/blob/ad557b0d5e5427256d566cf0b6a08117d40f4073/pkg/credentials/service_account_credentials.go#L100 which means it doesn't actually trigger adding the required HTTPS environment variables to the storage initializer init-container if the secret has an empty `data` segment

I got it to successfully pu

[2022-02-27 16:29] yuzisun commented on #2066
@eyalcha Can you provide an example which requires converting to numpy array ?

[2022-02-27 19:45] eyalcha opened #2067 "Calling explain of Model return fetch error"
/kind bug

When explain is called from Model.py, the following error occurs:
[code]

Need to change:
[code]

To:
[code]

[2022-02-27 19:48] eyalcha commented on #2066
@yuzisun

When using XGBoost model. e.g.:
[code]

See comment here which might be related: https://github.com/kserve/kserve/blob/master/python/xgbserver/xgbserver/model.py

[2022-02-28 04:15] pvaneck commented on #2042
Thinking more, does it make sense to have `ModelStatus` contents be a part of the predictor ComponentSpec instead of being top level since these are fields related to the Predictor?

I know currently a lot of the fields in the ComponentSpec are Knative specific with things like `Revisions` and `TrafficTarget`, but we could potentially mesh the two sets of status fields. ModelMesh does kinda have t

[2022-02-28 18:07] flopach commented on #1874
+1 exploring this as well

[2022-03-01 03:01] howespt commented on #2010
@yuzisun fair enough, I don't have a good enough recollection of the issues involved from when this happened. Nevertheless the initial question still stands: is it possible to add additional replicas to the controller-manager statefulset?

[2022-03-01 04:16] yuzisun commented on #2010
Yes we will convert from statefulset to deployment so can be deployed with more replicas by enabling leader election.

[2022-03-01 13:19] markwinter commented on #1874
There is a KServe component now for Kubeflow Pipelines
https://github.com/kubeflow/pipelines/tree/master/components/kserve

I think Kubeflow plans to stay with KFServing for the next year? So if you want to use Kubeflow + KServe, you should migrate the KFServing installation following this guide https://kserve.github.io/website/0.8/admin/migration/

[2022-03-01 14:28] michelverheijen opened #2068 "Cannot use colon with proxy port in predictor image name in inferenceservice-config"
We changed the configuration of the predictor images in the ```inferenceservice-config``` ConfigMap (https://github.com/kserve/kserve/blob/master/config/configmap/inferenceservice.yaml) to use a proxy and a proxy port.

So e.g. ```"image": "ourproxy:8888/tensorflow/serving"```
instead of  ```"image": "tensorflow/serving"```

However using a colon in the predictor image name doesn't work because of

[2022-03-02 00:36] yuzisun commented on #2068
@michelverheijen with 0.8 release, you can easily configure this by changing the `ServingRuntime` [yaml](https://github.com/kserve/kserve/blob/master/config/runtimes/kserve-tensorflow-serving.yaml#L15)

[2022-03-02 08:39] fredbjer opened #2069 "kserve 0.8 install error about ClusterServingRuntime"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`kubectl apply -f kserve.yaml`

[2022-03-02 08:39] fredbjer commented on #2069
using "serving.kserve.io/v1alpha2" or "serving.kserve.io/v1beta1" all have errors above.

[2022-03-02 13:28] michelverheijen commented on #2068
@yuzisun that doesn't work.

I did a test with a triton inference service
I adapted the ClusterServingRuntime ```kserve-tritonserver``` to contain:
```image: ourproxy:8888/nvidia/tritonserver:21.09-py3```

I deployed an InferenceService with:
[code]

This resulted in:
```Revision "my-inference-predictor-default-00003" failed with message: Unable to fetch image "ourproxy:22.01-py3": failed to resol

[2022-03-02 13:31] yuzisun commented on #2068
You could also directly override the image field on inference service yaml itself

spec:
  predictor:
    triton:
      image: ourproxy:8888/tritonserver:22.01-py3

[2022-03-02 13:45] yuzisun commented on #2069
This is a race condition I think, if you apply again it should work. @Suresh-Nakkeran I think we need to separate the runtimes install as a second step to wait for the crd to be in ready state.

[2022-03-02 17:11] michelverheijen commented on #2068
@yuzisun : thanks for the work-around!
But it would be nice if the incorrect splitting on the first ":" could also be fixed.
Could you label this issue as bug?

[2022-03-03 07:44] yangyang919 commented on #2061
solved. Just use model.pkl as @yuzisun suggested. Thanks!

[2022-03-03 07:44] #2061 closed, assigned to nobody

[2022-03-04 03:10] ittus commented on #2068
@yuzisun I made a fix in https://github.com/kserve/kserve/pull/2074. Could you please help to review?

[2022-03-04 09:04] yangyang919 opened #2075 "Can we loose the requirement on numpy library"
/kind feature

**Describe the solution you'd like**
There are library version conflict for numpy:
#8 93.26 The conflict is caused by:
#8 93.26     The user requested numpy>=1.15.4
#8 93.26     cmdstanpy 0.9.68 depends on numpy>=1.15
#8 93.26     pystan 2.19.1.1 depends on numpy>=1.7
#8 93.26     matplotlib 2.0.0 depends on numpy>=1.7.1
#8 93.26     kserve 0.8.0rc0 depends on numpy~=1.19.2
#8 93.26

[2022-03-06 14:55] #2068 closed, assigned to nobody

[2022-03-07 10:46] Suresh-Nakkeran commented on #2058
@Youngwoo-git Can you refer the [autoscale](https://kserve.github.io/website/0.8/modelserving/autoscaling/autoscaling/) document?

[2022-03-08 01:46] markwinter opened #2078 "Incorrectly passing validation tests in v1beta1 package"
While fixing the tests for `InvalidStorageUri` I noticed that some of the tests don't work as expected

https://github.com/kserve/kserve/blob/ad557b0d5e5427256d566cf0b6a08117d40f4073/pkg/apis/serving/v1beta1/predictor_triton_test.go#L69-L108

The `InvalidReplica` `InvalidContainerConcurrency` tests are incorrectly passing.

The code `res := scenario.spec.Triton.Validate()` is calling `func (p *Pre

[2022-03-08 01:48] markwinter commented on #2078
I think this is probably simply solved by adding the following method to `PredictorSpec`

[code]

Then in the tests, change the check to use `scenario.spec.Validate()` to validate replicas etc. in addition to the current model format validation

[2022-03-08 02:06] MimeZoe0628 opened #2079 "Support for loading models with custom name"
/kind feature

**Is there any way I can load models with custom name when I start a InferenceService**
[ In my project, I fetch model from external URI, and serve it by using InferenceService. But it dosen't work when the file name is not `model.joblib`. ]

[2022-03-08 04:14] Suresh-Nakkeran commented on #2075
@yangyang919 we are working on upgrading numpy version. PR #2052

[2022-03-08 05:24] Suresh-Nakkeran commented on #2079
@MimeZoe0628 can you mention the server that your using?

[2022-03-08 08:02] yangyang919 commented on #2075
thanks @Suresh-Nakkeran , good to know!

[2022-03-08 08:10] yangyang919 opened #2080 "[Question]Requests failed with errors from Transformer Pod to Predictor Pod"
/kind bug

**What steps did you take and what happened:**
Hi experts, this is more of a question. We have deployed our Transformer via InterferenceService. From deployment point of view, looks like everything is ok. But when triggering http request from CLI, the 404 Not Found error occurred. If checking logs in Predictor pod, looks like the request was actually received. But got 404 from a redirec

[2022-03-08 13:04] MimeZoe0628 commented on #2079
scikit-learn

[2022-03-09 02:38] vaporpin opened #2081 "Instructions not complete."
/kind feature

on the user guide page on "how to write a custom predictor", https://kserve.github.io/website/0.8/modelserving/v1beta1/custom/custom_model/#run-a-prediction .

I followed the example, however, I could not find the input.json example values that the custom predictor was tested with. Can anyone provide the link or values of the inputs? so that the instructions are complete.

Thank you

[2022-03-09 03:48] yangyang919 commented on #2080
Updates today, I feel the problem is on VirtualService / Gatewayside, here is what I did:

[code]

I took the value of PREDICTOR URL, this is also the URL that Transformer took to invoke Predictor. Then I directly invoked this URL from CLI:

[code]

I suspect something wrong on virtual service, gateway side, which makes the request couldn’t been forwarded. Any one has any idea on how to further de

[2022-03-09 04:57] #2069 closed, assigned to nobody

[2022-03-09 05:06] Suresh-Nakkeran commented on #2081
@vaporpin can you refer [website](https://github.com/kserve/website/tree/main/docs/modelserving/v1beta1/custom/custom_model) github repo?

[2022-03-10 02:29] markwinter commented on #2079
@MimeZoe0628
What uri were you using? http?

[2022-03-10 08:49] markwinter commented on #2078
/assign

[2022-03-11 14:02] markwinter commented on #2078
It's probably best to remove the tests focused on the component extension fields from all the model format tests (as they are just testing the same thing repeatedly), and just have one single test to check the component extension validation

[2022-03-12 01:42] vaporpin commented on #2081
@Suresh-Nakkeran , got it. thanks for referencing me to the website github repo.

[2022-03-12 01:42] #2081 closed, assigned to nobody

[2022-03-12 02:00] vaporpin opened #2085 "Multiple transformers running in sequence before prediction"
/kind feature

From https://kserve.github.io/website/0.8/modelserving/v1beta1/transformer/torchserve_image_transformer/#extend-modelserver-and-implement-prepost-processing-functions, it seems that I can append just 1 transformer to 1 model.

Is there a way to run multiple transformers (running in sequence) before running a predictor? (other than combining the 2 transformers into 1)

transformer 1

[2022-03-12 04:10] alokhom opened #2086 "not finding inferenceservice_patch.yaml"
/kind bug

**What steps did you take and what happened:**
cant find an example file inferenceservice_patch.yaml
https://github.com/kserve/kserve/blob/d1c24cd127523af1cc74d4e1536a816584699411/config/overlays/dev-image-config/kustomization.yaml#L5

**What did you expect to happen:**
inferenceservice_patch.yaml should be there

**Anything else you would like to add:**
using kserve in kubeFlow v1.5.0

[2022-03-12 13:33] #2046 closed, assigned to pradithya

[2022-03-14 09:20] markwinter commented on #2086
That file is generated by `hack/image_patch_dev.sh` which is called when you use `make deploy-dev`

[2022-03-14 09:58] theofpa opened #2087 "kserve e2e testing and optional-test-infra deprecation"
We are using Kubeflow's optional-test-infra for the e2e tests.

The Kubeflow test team plans to deprecate that infrastructure, reference kubeflow/testing/issues/993

We've discussed in the past some options for the e2e tests, like stay in AWS and use Tekton, or move to Github Actions.

One of the reasons to stay in AWS was to have a test environment which is close to what people are using in produ

[2022-03-15 01:17] yuzisun commented on #2087
@theofpa let’s discuss in the community meeting Wednesday ?

[2022-03-15 01:19] yuzisun commented on #2086
This is the dev overlay which is only used for development purpose.

[2022-03-15 01:19] #2086 closed, assigned to nobody

[2022-03-16 06:37] Omoong opened #2093 "torch_transformer curl issue"
/kind bug

**What steps did you take and what happened:**

kubectl apply -f torch_transformer.yaml -n kubeflow-user-example-com

SERVICE_NAME=torch-transformer
MODEL_NAME=cifar10
INPUT_PATH=@./image.json

SERVICE_HOSTNAME=$(kubectl get inferenceservice $SERVICE_NAME -n kubeflow-user-example-com -o jsonpath='{.status.url}' | cut -d "/" -f 3)

curl -v -X POST -H "Host: ${SERVICE_HOSTNAME}" http://${

[2022-03-16 16:49] LeonardAukea opened #2094 "How to enable https? 443 is not allocated in gateway"
/kind bug

I have configured *kantive 1.3* with mTLS cert-manager and istio with success. (hello-world) works nicely.
I've then tried to set up Kserve but noticed that port 443 is not being set in the gateway as opposed to `hello`

[code]

`sklearn-iris-predictor-default-1785598198`
[code]

`hello-1785598198`
[code]

We would like to avoid enabling port 80 on the `internal-istio-ingressgateway` wh

[2022-03-16 17:06] LeonardAukea commented on #2094
Or maybe it's not added due to:

[code]

The actual domain is a bit longer (76 chars)

Possibly related issue: https://github.com/knative/serving/issues/5152

[2022-03-16 19:05] LeonardAukea commented on #2094
So, this is actually an issue with `knative`. When you have automatic TLS enabled. the `commonName:` field is populated in a way that very quickly will hit the 64 bytes limit. Just verified this with a vanilla Knative Service, then the gateway does not get the 443 port added.

[code]

[2022-03-16 19:57] LeonardAukea commented on #2094
Related Issue: https://github.com/knative-sandbox/net-certmanager/issues/214

[2022-03-17 01:25] markwinter opened #2095 "Allow more fields in ServingRuntime Container spec"
/kind feature

**Describe the solution you'd like**

It would help us have cleaner simpler InferenceServices if we could specify the ports and volumeMounts section in the ServingRuntime Container spec.

Is there a reason the ServingRuntime Container spec isn't just the k8s v1.Container Spec instead of a few select fields?

@pvaneck

[2022-03-17 01:59] wenyangchou commented on #2006
This does not seem like a bug. I deploy isvc ,by using the HPA. For HPA, knative does not support scaling to 0.
All in all, it is more like an imperfect design.

[2022-03-17 02:32] caleygoff-invitae opened #2096 "Please consider adding the ability to set the initContainer.securityContext.runAsUser for storage-initializer initContainer"
/kind feature

**Describe the solution you'd like**
Please consider adding the ability to set the initContainer.securityContext.runAsUser for storage-initializer initContainer. I think this could be solved either by allowing to be set on the `inferenceservice-config` for the `storage-initilializer` context or in the actual `InferenceService` CR in the `predictor`. I just didn't see a way to easily

[2022-03-17 12:47] #2006 closed, assigned to nobody

[2022-03-17 17:09] yurkoff-mv opened #2098 "torchserve GRPC not working"
/kind bug

**What steps did you take and what happened:**
[code]
It started successfully, the model inside registered and started.
`kubectl logs -n <my-namespace> <inference-service-pod> -c kserve-container --tail 100`

I'm trying to make a prediction:
[code]
where
`<my-host-name>` is
`kubectl get inferenceservice {service_name} -n kubeflow-user-example-com -o jsonpath='{.status.url}'` or
` kubect

[2022-03-17 18:26] cmward opened #2100 "Multimodel server agent fails to start with too many TrainedModels"
/kind bug

**What steps did you take and what happened:**
Create a multimodel inference service and add more than 100 TrainedModels to it, then restart the inference service. The agent in the new revision will never become ready because it is unable to sync all of the models and start its http server.

**What did you expect to happen:**
The agent should sync and pull all existing models.

**Anythi

[2022-03-17 21:31] pvaneck commented on #2095
I believe the limited fields are carry-over from ModelMesh, the originator of the ServingRuntime. I suppose it would make sense to   remove the limited selection of fields given your scenarios.

@njhill @yuzisun Any thoughts on replacing the [ServingRuntime container spec](https://github.com/kserve/kserve/blob/master/pkg/apis/serving/v1alpha1/servingruntime_types.go#L41) with just the v1.Container

[2022-03-18 04:28] Suresh-Nakkeran commented on #2093
@Omoong may i know what input file you have passed?

[2022-03-18 04:34] Suresh-Nakkeran commented on #2098
@yurkoff-mv Can you try with KServe v0.8.0? The GRPC support had been added in 0.8.0 version.

[2022-03-18 04:40] yurkoff-mv commented on #2098
Thank you for quick answer.
The fact is that I used KFServing 0.5.1 as part of KubeFlow.  Next, I used the migration to Kserve 0.7.0.  I don't know how to upgrade to Kserve 0.8.0 now.

[2022-03-18 12:33] hanwgyu opened #2102 "Q) GPU Serving, Batcher with containerConcurrency setting and about autoscaling"
I tested batcher with `CC : 1` and without `CC : 1 ` (==`CC: 0`) option.

This is my batcher configuration.
[code]

With `CC:1`, `pending request queue full` error occurred.

I don't know exactly why error occurred.
I guess that it's because queue-proxy size is too small to maintain all requests, (10 * `containerConcurrency` in [knative serving](https://github.com/knative/serving/blob/main/cmd/que

[2022-03-18 20:37] caleygoff-invitae commented on #2096
adding comments here from the slack channel for visibility
this `InferenceService`  is using the setting that you suggested, below is the PodSpec  from that tensorflow, note how the `1337` is on every container in this pod.
this might be okay in some instances, but for our particular instance, and I believe strongly anyone else who uses `istio-cni` in the future ( which they should be in productio

[2022-03-19 13:49] yuzisun commented on #2095
sounds good to me, the `InferenceService` is using `v1.Container` already so it is better to be consistent.

[2022-03-19 15:09] kubbo opened #2107 "Custom ModelServer not support inference v2 protocol ?"
/kind feature

**Describe the solution you'd like**
When will  custom modelServer supporte v2 protocol  ?  Thanks  .

**Anything else you would like to add:**
![image](https://user-images.githubusercontent.com/8613477/159126611-20e69be8-f514-4c1b-8d6e-e011ca186729.png)

[2022-03-19 15:16] yuzisun commented on #2102
@hanwgyu  CC is the hard limit, so knative activator will not send more requests to it if the queue is full. When using batcher you might want to set Cc= 0 and use the soft limit targetConcurrency annotation for the autoscaling which means queue size can be exceeded while waiting for batcher to react.

[2022-03-19 15:17] yuzisun commented on #2107
@kubbo yes we are planning to support that, are you looking to use v2 rest or gRPC protocol ?

[2022-03-19 15:28] yuzisun commented on #2098
@yurkoff-mv You can apply the kserve_kubeflow.yaml published from the 0.8 release artifact.

[2022-03-20 06:16] kubbo commented on #2107
v2 Rest , thanks

[2022-03-20 12:53] yuzisun commented on #1889
This has been fixed in kfs-torchserve 0.5.3 and released with kserve 0.8

[2022-03-20 12:53] #1889 closed, assigned to jagadeeshi2i

[2022-03-21 03:55] kubbo commented on #2107
May I ask when it can be supported ？

[2022-03-21 04:07] hanwgyu commented on #2102
@yuzisun Thank you for answering.

How do I set targetConcurrency? Is it the number of simultaneous connections to queue-proxy?

It seems to be very difficult to set the value due to dynamic batching.

[2022-03-21 08:29] hanwgyu commented on #2102
Or are there any other metrics that i can use?

With Triton, we can use `nv_inference_queue_duration_us` for autoscaling ([refer](https://developer.nvidia.com/blog/deploying-nvidia-triton-at-scale-with-mig-and-kubernetes/))

I think it's very helpful if there is similar metric in batcher.

[2022-03-21 09:08] haoxins opened #2108 "Proposal: Using poetry to management Python deps and venv"
https://python-poetry.org/

The benefits will be:

1. More stable dependencies management, such as lock file.
2. Built-in virtual env supports
3. Integrate with `lint/format/unittest` tolls, such as `pytest`, `black`, `isort`, and others
4. More easier to add custom build scripts
5. More easier to link local package as dependency

[2022-03-21 13:24] #2041 closed, assigned to nobody

[2022-03-22 02:31] dale1202 opened #2109 "fails to reconcile component: No ServingRuntimes or ClusterServingRuntimes with the name"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
i click the command: kubectl apply -f sklearn.yaml -n kserve-test,
and i check the log, it reported: "error":"fails to reconcile component: No ServingRuntimes or ClusterServingRuntimes with the name: kserve-sklearnserver",

sklearn.yaml:
apiVersion: "serving.kserve.io/v1beta1"
kind: "Inf

[2022-03-22 09:30] ajinkya933 opened #2111 "Inferenceservice not responding to curl requests"
/kind bug

**What steps did you take and what happened:**
I am following tutorial https://kserve.github.io/website/0.7/get_started/first_isvc/ and deploying first inferece service on KServe. I am stuck in last step where the service is deployed but I get no response in prediction. When I run performance test as shown in tutoial linked above I get error: `Post "http://sklearn-iris.kserve-test.svc.c

[2022-03-22 21:46] njhill commented on #2095
I think in the model-mesh case it was primarily to keep the surface area smaller and because the idea is that the runtime container is mostly "managed" by our controller and kind of sits behind the modelmesh container in the same pod. For example the volume mounts and pre-stop hook are configured by the controller since it  handles the storage and shutdown sequencing, etc. It doesn't look like it

[2022-03-23 23:33] pvaneck commented on #2109
Does `kubectl get clusterservingruntimes` show anything? You may not have any of the default [servingruntimes](https://kserve.github.io/website/0.8/modelserving/servingruntimes/) installed. This can be done by applying this file: https://github.com/kserve/kserve/releases/download/v0.8.0/kserve-runtimes.yaml

[2022-03-24 00:18] surajkota opened #2113 "IAM Role for Service Account(IRSA) support for models stored in S3"
/kind feature

[Currently](https://kserve.github.io/website/modelserving/storage/s3/s3/), AWS users need to create a secret with long term/static IAM credentials for downloading models stored in S3. Security best practice is to use [IAM role for service account(IRSA)](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/) which enables automatic credential ro

[2022-03-24 01:41] markwinter commented on #2095
@njhill
Our model server image was hardcoded to listen on port 80 so we used the ports section to reflect that. We're updating to use `$PORT` var instead so the ports section wont be necessary.

As for volumeMounts, our model server runtime needs some shared memory.

Of course this can all be specified in the InferenceService, but I want our users to write as little yaml as possible, so the more I

[2022-03-24 02:02] Omoong commented on #2093
@Suresh-Nakkeran i passed image.json that was included in the sample

{
  "instances": [
    {
      "image_bytes": { "b64": "aW1hZ2UgYnl0ZXM=" },
      "caption": "seaside"
    },
    {
      "image_bytes": { "b64": "YXdlc29tZSBpbWFnZSBieXRlcw==" },
      "caption": "mountains"
    }
  ]
}

[2022-03-24 13:12] dale1202 commented on #2109
@pvaneck thank you, you are right. throw your method i succeed .

[2022-03-24 13:12] #2109 closed, assigned to nobody

[2022-03-25 02:14] hifazibm opened #2114 "Request batching with tensorflow model doesn't work"
/kind bug

When request batch parameters are set for tensorflow model, the inference service does not generate pods. Same issue is also observed for pytorch model.

**Environment:**

- **KFServing Version: 0.8 (Raw Deployment Mode)**
- Kubernetes version:
 kubectl version
Client Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.4+82e7b55", GitCommit:"82e7b55", GitTreeState:"clean", B

[2022-03-25 06:34] Omoong opened #2115 "migration image is not updated"

[2022-03-25 14:48] andyi2it commented on #2114
Hi @hifazibm , am currently looking at the issue, can you format your yamls and update here. Please use backtics to put yaml in code block, to ensure there are no issues wrt yaml syntax.

[2022-03-26 03:02] #2042 closed, assigned to pvaneck

[2022-03-26 03:16] yuzisun commented on #2114
@andyi2it Does container port always exist [here](https://github.com/kserve/kserve/blob/master/pkg/webhook/admission/pod/agent_injector.go#L213)? Might be only true for serverless mode but not raw deployment mode

[2022-03-26 07:44] hifazibm commented on #2114
Thanks @andyi2it  i updated the yaml file format

[2022-03-27 01:42] markwinter commented on #2095
Done in https://github.com/kserve/kserve/pull/2112

Thanks @Suresh-Nakkeran

[2022-03-27 01:42] #2095 closed, assigned to Suresh-Nakkeran

[2022-03-27 10:33] pengyuan opened #2117 "improve api design for KFServing.set_credentials"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

KFServing.set_credentials(storage_type='S3',
                          namespace='inference',
                          service_account='kfserving-sa',
                          credentials_file='/tmp/minio.json',
                          s3_profile='default',

[2022-03-28 02:51] #2115 closed, assigned to nobody

[2022-03-28 03:27] hifazibm commented on #2114
Hi @andyi2it  thanks for the fix, is there any way I can test the fix on my environment (V0.8) by updating KServe.yaml file.

[2022-03-28 07:03] ittus commented on #2098
Is that mean gRPC doesn't support in KFServing 0.6.1?
I'm trying this [example](https://github.com/kserve/kserve/tree/master/docs/samples/v1beta1/torchserve/v1#run-inference-with-grpc-protocol) on KFServing 0.6.1, it can create grpc service.

I can use port-forward `kubectl port-forward torchserve-grpc-predictor-default-00001-deployment-78c8557sl8xm 5000:7070` and call API successfully `python tor

[2022-03-29 01:03] SeibertronSS opened #2119 "Unable to delete inferenceservice"
When I want to delete an inferenceservice, it always fails to delete. Specifically, after entering the delete command, the command will be stuck.
![image](https://user-images.githubusercontent.com/69496864/160511790-b3e9ef90-3f67-41b4-b171-333f3d683e16.png)

[2022-03-29 01:20] ittus opened #2120 "StatusCode.UNIMPLEMENTED when calling torchserve grpc using port-forward"
/kind bug

**What steps did you take and what happened:**
1. Deployed [torchserve v1 grpc example](https://github.com/kserve/kserve/blob/master/docs/samples/v1beta1/torchserve/v1/grpc.yaml) on EKS
2. Run port-forward
[code]
3. Changing code of [torchserve_grpc_client.py](https://github.com/kserve/kserve/blob/master/docs/samples/v1beta1/torchserve/v1/torchserve_grpc_client.py)
[code]
4. Run inferen

[2022-03-30 05:21] yuzisun commented on #2119
@SeibertronSS I just takes a moment waiting for the controller to reconcile and remove the finalizer..

[2022-03-30 06:52] yuzisun commented on #2120
@ittus torchserve v1 gRPC isn't supported in 0.6.1 please try 0.8 release

[2022-03-30 11:55] #2078 closed, assigned to markwinter

[2022-03-31 01:44] SeibertronSS commented on #2119
I think I should try to make `finalizer` empty. I'll try it before I get off work today.

[2022-03-31 07:38] markwinter commented on #2119
When you delete the inferenceservice, do the pods go to terminating status as well? Maybe the pods are taking too long to stop

[2022-04-01 04:02] shydefoo opened #2125 "What is the configmap kserve-config used for?"
/kind question

There is this configmap in `kserve.yaml` [here](https://github.com/kserve/kserve/blob/master/install/v0.8.0/kserve.yaml#L14998) that describes the ingressGateway field. However this looks like an overlap with the defined ingress configuration here [here](https://github.com/kserve/kserve/blob/master/install/v0.8.0/kserve.yaml#L14848).

I tried searching for the code for use of `kser

[2022-04-01 07:59] yangyang919 opened #2127 "When will new version of python kserve library get released?"
/kind bug

**What steps did you take and what happened:**
There are some new changes are quite needed for us. We are wondering when a new version of kserve python library get released? Last release was in February

[2022-04-02 07:19] SeibertronSS commented on #2119
The pods don't become terminating, just like nothing happening. When I checked today, isvc is gone. I don't know what happened. I will close this issue, but I will continue to follow up on this phenomenon.

[2022-04-02 07:19] #2119 closed, assigned to nobody

[2022-04-02 07:21] SeibertronSS commented on #2119
I just remembered that the disappearance of isvc should be because I restarted the kserve-controller yesterday.

[2022-04-02 17:16] Madaditya commented on #2119
I have the same issue with Notebooks. When deleted the notebooks from UI, nothing happens on the backend - pods dont even terminate.

What was your solution for isvc?

[2022-04-03 11:47] yuzisun commented on #2127
@yangyang919 which change you are looking for? we plan to release 0.9 mid May.

[2022-04-03 11:51] #2127 closed, assigned to nobody

[2022-04-03 12:00] yuzisun commented on #2098
@ittus @yurkoff-mv I think you might be able to get this working in prior release, the caveat is to use the [0.5.3 image](https://registry.hub.docker.com/layers/torchserve-kfs/kserve/torchserve-kfs/0.5.3-gpu/images/sha256-688ad82e3f49a04de69355fd3b1ccd9d90cfd80217fbacc81f0953d8f229c557?context=explore) and [config.properties](https://github.com/kserve/kserve/blob/master/docs/samples/v1beta1/torchs

[2022-04-04 01:28] ittus commented on #2120
@yuzisun
I tested and confirmed `gRPC` works with `v0.6.1`
The missing point is that I need to pass authentication header into `gRPC` service

[code]

[2022-04-04 01:28] #2120 closed, assigned to nobody

[2022-04-04 01:31] ittus commented on #2098
I made it work after sending token or cookies in the header.
[code]

[2022-04-04 06:47] yurkoff-mv commented on #2098
Thanks a lot for your answers!

Yes, I would really like to get the GRPS to work via `istio-ingressgateway`.

Unfortunately, [this option](https://github.com/kserve/kserve/issues/2098#issuecomment-1087020018) didn't work for me. It cannot find the model, although it sees and works through the usual request with the receipt of the session:
`curl -v -H "Host: {SERVICE_HOSTNAME}" -H "Cookie: authserv

[2022-04-04 23:45] Peilun-Li opened #2130 "Canary route leakage during consecutive canary operations"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. Create service
[code]
[code]

2. Canary rollout
[code]
[code]
3. Canary rollback
[code]
[code]

4. Apply another canary (I'm using a dummy example here but imagine this could apply for any new canary test)
[code]

[code]

As can be seen ideally in step 4 after rollout, we are expecti

[2022-04-05 18:05] cmaddalozzo opened #2131 "Allow disabling creation of the HPA in raw deployment mode"
/kind feature

**Describe the solution you'd like**
Allow disabling creation of the HPA in raw deployment mode.

I would like to be able to control the scaling of the deployment created by my KServe inference service with an external tool ([KEDA](https://keda.sh/)). In order to support this use case I need a way to disable KServe's creation of the HPA. I was thinking adding a new autoscaler class

[2022-04-06 09:03] hsinhoyeh opened #2133 "kfserving-samples bucket on GCS was gone"
/kind bug

**What steps did you take and what happened:**
The existing codebase is running some test code with a prebuild model file located in GCS, especially `gs://kfserving-samples/models/tensorflow/flowers` but now seems the bucket is gone already.
Do we have other alternative buckets? or this bucket should be live forever?

[code]

**What did you expect to happen:**
the model file should be d

[2022-04-06 22:50] yuzisun commented on #2133
It should be back now, the project was accidentally closed.

[2022-04-07 01:33] lizzzcai opened #2135 "Support download model through general WebHDFS REST API"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We have a requirement of downloading file from our Hadoop based storage using WebHDFS REST API with TLS (has to provide TLS cert and a header with id). To make it general, TLS and headers can be optional.

User can use the following command to generate the secret:
[code]

format of th

[2022-04-07 06:22] #2133 closed, assigned to nobody

[2022-04-08 05:43] markwinter commented on #2135
@lizzzcai
Thanks for making this issue, and providing an example!
I think it will be quite straight forward to support to support this use-case as well

I just wanted to check:
In your example of the Secret you have `TLS_CA` but this isn't used. Should this be omitted?

[2022-04-08 07:31] lizzzcai commented on #2135
Hi @markwinter , thanks for your reply.
I have added `TLS_CA` and a new `TLS_INSECURE_SKIP_VERIFY` to the example.

The `TLS_CA` and `TLS_INSECURE_SKIP_VERIFY` are not used in my case. But if we are going to make it **general**, probably can add it as well. In my case, I don't actually use them.

The `root` and `session` are support in [KerberosClient](https://hdfscli.readthedocs.io/en/latest/api.

[2022-04-08 08:18] chandra-siri opened #2137 "storageInitializer InitContainer not starting"
/kind bug

**What steps did you take and what happened:**
Following steps taken

1. Installed Kserve as per [docs](https://kserve.github.io/website/0.8/admin/serverless/)  on a linux server
2. In order to test, I created a flower-sample InferenceService as per [this](https://kserve.github.io/website/modelserving/v1beta1/tensorflow/#create-the-http-inferenceservice)
3.  The flower-sample-predictor

[2022-04-08 09:29] nicozhang opened #2138 "In kubeflow 1.5 and 1.4 kfserving predict return 404 with sklearn"
/kind bug

[code]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version: 1.4 installed by kustomize
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]
- Minikube version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-04-09 08:00] lizzzcai opened #2139 "Support custom init containers and volumes in KServe"
/kind feature

**Describe the solution you'd like**

The current KServe don't support init containers and uses webhook to inject storage initializer due to the limitation in KNative previously. [Ref](https://github.com/kserve/kserve/blob/v0.8.0/pkg/webhook/admission/pod/storage_initializer_injector.go#L82)

KNative has support [init containers](https://knative.dev/v1.2-docs/serving/configuration/f

[2022-04-11 04:22] chandra-siri commented on #2137
I got it working. I was running the InferenceService in kserve namespace. After I changed it to knative-serving namespace it started working.

[2022-04-11 04:22] #2137 closed, assigned to nobody

[2022-04-11 04:23] chandra-siri commented on #2137
But it would be good, had it been mentioned somewhere in docs. I wouldn't have wasted 1-2 days. :sob:

[2022-04-11 20:06] suryaiyer opened #2140 "Kserve Triton inference Server unable to read from PureStorage S3"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We are using Pure S3 as our store. It does not have any AWS_REGION and just has the endpoint, aws_access_key and aws_secret_key. When I try to load a model from the location I get something like

[code]
Is there anything I am missing? I am trying to follow https://kserve.github.io/web

[2022-04-12 16:06] #2140 closed, assigned to nobody

[2022-04-13 04:51] markwinter commented on #2135
@lizzzcai Thanks for clarifying. I'll start working on this this week. I will probably add it to my existing PR

[2022-04-13 11:41] lizzzcai commented on #2135
Thanks @markwinter , that is very good news. Adding to the existing PR should be fine. Please let me know if you need any help.

[2022-04-14 07:34] yuzisun opened #2141 "Move explicit framework based defaulting logic to serving runtime templates"
/kind feature

**Describe the solution you'd like**
Check if we could handle most of the framework based defaulting logic in the serving runtimes. Basically having some other flag in the ServingRuntime to indicate that it's a "legacy style" mutli-model server, similar to the existing multiModel field. Then have a separate ServingRuntime defined for each kind of usage. So in theory you could have t

[2022-04-14 07:34] yuzisun commented on #2141
related to PR https://github.com/kserve/kserve/pull/2118

[2022-04-14 08:36] pradithya opened #2142 "Logger not working as expected in Raw Deployment"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Deploy sklearn-iris sample with logger and using raw deployment
[code]

**What did you expect to happen:**
inference service creation should be successful. It is successful when deployment mode is serverless.

**Anything else you would like to add:**
[Miscellaneous information that will

[2022-04-14 12:28] lamhoangtung opened #2143 "No ServingRuntimes or ClusterServingRuntimes with the name: kserve-tritonserver"
Hi I'm trying to test Triton deployment using KServe by using your sample at https://github.com/kserve/website/tree/main/docs/modelserving/v1beta1/triton/torchscript/ but fail to do so because of some error called `No ServingRuntimes or ClusterServingRuntimes with the name: kserve-tritonserver`

**What steps did you take and what happened:**
First I deploy the test model with: `kubectl apply -f ht

[2022-04-14 13:10] lamhoangtung commented on #2143
After create a custom ClusterServingRuntime and apply it via `kubectl` thing seems working as expected again:
[code]
I also found out that if I follow this step: https://kserve.github.io/website/0.8/admin/serverless/#5-install-kserve-built-in-clusterservingruntimes, every will also work as expected. But I think the documentation should update on other pages as well. For me, I had to customize the

[2022-04-14 13:10] #2143 closed, assigned to nobody

[2022-04-15 13:07] #2114 closed, assigned to andyi2it

[2022-04-15 13:07] #2142 closed, assigned to andyi2it

[2022-04-16 03:27] yuzisun commented on #2130
@Peilun-Li Do not believe this is an issue with the latest version, did you try 0.6.1 release if you are still on kfserving?

[2022-04-16 03:41] Peilun-Li commented on #2130
Good to know it's working in a later version! We retry for 0.6.1. and update here. Thanks for checking!

[2022-04-17 10:30] hutm opened #2145 "Support for multi-host MPI inference"
/kind feature

**Describe the solution you'd like**
Running inference on large NLP models requires spinning up a number of GPU hosts for [model parallelism](https://huggingface.co/docs/transformers/parallelism).
Kubeflow supports multi-host MPI training through an [MPI job](https://www.kubeflow.org/docs/components/training/mpi/), which can be created with [MPI operator](https://github.com/kubeflow

[2022-04-19 08:11] lizzzcai commented on #2135
Hi @markwinter , I found out that `HDFS_ROOTPATH` is not a hard requirement as long as you make sure your path is starting with `/`. And I found an issue on the `client.download`.

If I am going to download `/path/myfolder` into `/mnt/models`, the data will be stored under `/mnt/models/myfolder`, a folder is created. However, if I am trying to download `/path/models` to `/mnt/models`, no new folde

[2022-04-19 08:28] markwinter commented on #2135
@lizzzcai
Thanks. I noticed the same issue before as well. Below is how I currently have it implemented.

If the user gives a hdfs file, it downloads just the file into `/mnt/models`. If the user gives a hdfs directory, then
it lists that directory and downloads everything inside to `/mnt/models`

I think this will do the same as the code you gave.

[code]

[2022-04-19 08:33] HyeongminMoon opened #2148 "What is the best way to multi model serving on local storage?"
I executed Kserve successfully with my custom pytorch model(custom torchserve image) and local storage(PVC).

And I am trying to run multi model serving with same above environments, but I found current model-mesh only supports S3-based storage.

1. Is there any method to open model-mesh with local storage now?
2. If not, What is the best way to multi model serving on local storage(without model-m

[2022-04-19 15:23] varunsh-xilinx opened #2149 "Supporting the AMD/Xilinx Inference Server in KServe"
/kind feature

We've been working on an official Xilinx/AMD inference server that is compatible with KServe to support AMD CPUs, GPUs and FPGAs. The work is [open-sourced](https://github.com/Xilinx/inference-server) and under active development. Let us know what we need to do to be more officially integrated in KServe. Thanks!

[2022-04-20 03:06] pvaneck opened #2150 "Update controller-gen version"
Would be good to update controller-gen to v0.8.0 (the latest). I think TrainedModel CRD generation had an issue before as discussed here: https://github.com/kubernetes-sigs/controller-tools/issues/391 when moving to newer versions of controller-gen, but I believe this was fixed in `knative/pkg` relatively recently through https://github.com/knative/pkg/pull/2431.

Can we update `knative/pkg` and s

[2022-04-20 03:07] pvaneck commented on #2150
/cc @yuzisun @njhill @tjohnson31415

[2022-04-21 23:29] suryaiyer opened #2151 "Kserve Triton inference Server unable to read from PureStorage S3 for multi model serving"
/kind bug

**What steps did you take and what happened:**

I am trying to deploy a multi model triton inference server which loads the models from s3. I have followed the [documentation](https://kserve.github.io/website/modelserving/storage/s3/s3/). The CRDs are

Inference Server

[code]

Trained Model

[code]

When the services are up the isvc fails to load the model. The logs are
[code]

**What

[2022-04-22 14:56] suryaiyer commented on #2151
The agent pod looks something like : I don't see the endpoint or the region getting pulled from the sa

[code]

[2022-04-22 23:11] Peilun-Li commented on #2130
Tested in v0.6.1 and looks like it's getting fixed there! Closing this one.

[2022-04-22 23:11] #2130 closed, assigned to nobody

[2022-04-23 17:21] yuzisun commented on #2145
@hutm I am not sure how this is relevant to inference, MPI job eventually trains a model, and then KServe loads it. Are you saying the model is too big and will not fit onto a single node?

[2022-04-23 20:30] hutm commented on #2145
@yuzisun , you got me right. We are running multi-node inference on large NLP models.

[2022-04-24 23:47] nicozhang commented on #2138
I solve this problem. The model's sklearn version is different from the image's.So the container can not load the model success.

[2022-04-24 23:47] #2138 closed, assigned to nobody

[2022-04-26 06:02] JuHyung-Son opened #2155 "expose triton prometheus metric"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
expose triton metric like torchserve
https://kserve.github.io/website/master/modelserving/v1beta1/torchserve/metrics/#grafana-dashboard

[2022-04-26 09:00] namlh16 commented on #2001
i have same issue. how to solve this problem ?

[2022-04-26 09:05] SeibertronSS commented on #2001
@namlh16 My problem is that the Kubernetes domain name set in istio is different from the real domain name. Need to modify its domain name when installing istio.

[2022-04-26 09:05] #2001 closed, assigned to nobody

[2022-04-26 17:46] hutm commented on #2145
@yuzisun we are running multi node inference following this tutorial  https://github.com/triton-inference-server/fastertransformer_backend/blob/v1.1/docs/gptj_guide.md
using both plain `mpirun` and `srun` wrapper. Now the goal is be able to find the closest alternative that can be run on kubernetes

[2022-04-26 23:27] #2093 closed, assigned to nobody

[2022-04-27 00:26] Omoong commented on #2125
@shydefoo
i dont know if you have already figured this out or not but...
Im kind of new to kserve and dont understand it all to well, but I did some tests on my own and came to the following conclusion.
So, when you make an inferenceservice and look at the virtualservices(vs) that are created with it you will notice that vs is created for the inferenceservice itself and for each of the individual

[2022-04-27 07:54] jmas77 opened #2156 "Question: Problems with autoscaling (maybe missunderstanding of the parameters)"
Good Morning,

I am trying to serve a language model with Kserve and I have noticed that It is not able to autoscale properly. I am really new with this and maybe I am misisng something or I miss understand some parameter:

apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: sinodate-model
  namespace: kserve-test
  annotations:
    autoscaling.knative.dev/target: "1"
sp

[2022-04-27 10:17] juliusvonkohout opened #2157 "bug: the offical kserve_kubeflow.yaml does not allow istio-ingressgateway access"
/kind bug

Inferencing via the ingressgateway works for Seldon but not Kserve. Kserve is only available via knative-local-gateway.

**Environment:**

- Istio Version: 1.11.7
- Knative Version: 0.22.1
- KServe Version: 0.7 (https://github.com/kserve/kserve/blob/release-0.7/install/v0.7.0/kserve_kubeflow.yaml)
- Kubeflow version: 1.5
- Kfdef:[istio_dex]
- Kubernetes version: (use `kubectl version`):

[2022-04-27 10:33] juliusvonkohout commented on #2157
@yuzisun

[2022-04-27 11:32] #2156 closed, assigned to nobody

[2022-04-27 11:45] #2155 closed, assigned to nobody

[2022-04-27 12:03] yuzisun commented on #2149
Hi @varunsh-xilinx, here is a list of tasks to integrate Xilinx to kserve and add to the supported serving runtime list.

- Create Xilinx cluster serving runtime CR and add to [kserve install manifests](https://github.com/kserve/kserve/tree/master/config/runtimes). On the cluster serving runtime CR specify the `supportModelFormats`  and `protocolVersions` supported by Xilinx inference server, plea

[2022-04-27 12:15] jonathansp commented on #1842
hey @adriangonz @yuzisun any updates on this?

[2022-04-27 12:20] adriangonz commented on #1842
Hey @jonathansp, I believe that LightGBM is now supported under the new set of `ServingRuntimes`. The name of the runtime should be `kserve-lgbserver`.

You can find some example manifests here:

https://kserve.github.io/website/master/modelserving/servingruntimes/

@Suresh-Nakkeran and @yuzisun know more about this one though, so perhaps it would be worth waiting for them to confirm that the abov

[2022-04-27 23:57] Suresh-Nakkeran commented on #1842
@jonathansp LightGBM V2 support is added in `kserve-mlserver` runtime and does not require it in inferenceservice request. Below is a sample.

[code]

[2022-04-28 17:03] nithin8702 commented on #2138
Hi @nicozhang, am also facing the same issue. Could you please explain how you fixed it.

[2022-04-29 06:56] andyi2it opened #2161 "Python SDK is not up to date with the KServe code."
/kind bug

**What steps did you take and what happened:**
The python SDK and CRDs are not fully in sync with the corresponding code changes in kserve.
It has to be updated by running code-gen.sh script.

**What did you expect to happen:**
They should be in sync with each other.

**Anything else you would like to add:**

**Environment:**

- KFServing Version: 0.8.0

[2022-04-29 08:36] hehe04 opened #2163 "When a isvc is deleted, trained model of other namespaces are cleaned up"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When a service in a namespace is deleted, the trained models associated with isvc of the same name in other namespaces will also be deleted

**What did you expect to happen:**

Delete only the trainedmodel in the namespace where the isvc

**Anything else you would like to add:**
[Miscel

[2022-04-29 11:49] hehe04 commented on #2151
From the error log, I see that your configuration is missing region information. Check if your s3 secret has the following annotation kv:  `serving.kubeflow.org/s3-region: "us-east-2" # replace with the region the bucket is created`
reference: [docs/samples/storage/s3/s3_secret.yaml](https://github.com/kserve/kserve/blob/37af39054499caf9145664a48981740ca4ce14f5/docs/samples/storage/s3/s3_secret.ya

[2022-04-30 10:01] #2010 closed, assigned to Suresh-Nakkeran

[2022-05-01 15:15] park12sj opened #2167 "How can Custom Predictors load models in model storage?"
I want to customize the predictor by putting the mar file in the model storage.
[code]

How do you load and use the model in the load method when you use the predictor for custom?
For example, I want to load model of model store into `self.model`
[code]

[2022-05-01 17:28] #2163 closed, assigned to nobody

[2022-05-01 22:44] yuzisun opened #2168 "KServe 0.9 release tracking"
/kind feature

**Describe the solution you'd like**
KServe 0.9 release tracking:
RC release Date: 6/13/2022
Release Date: 6/27/2022

## KServe Model Serving:
- [X] Storage spec for unifying single model serving and model mesh
  - https://github.com/kserve/kserve/pull/1899 @Tomcli
- [x] Transformer ModelMesh support
  - https://github.com/kserve/kserve/pull/2136 @chinhuang007
- [x] Model Status API

[2022-05-02 05:03] #2167 closed, assigned to nobody

[2022-05-02 13:01] suryaiyer commented on #2151
It does have the region configuration
[code]
But for some reason I don't see them getting translated into the agent.

[2022-05-02 13:18] juliusvonkohout commented on #2157
@lehrig this is the issue i am talking about

[2022-05-02 14:32] jgoodman8 opened #2169 "Cannot query custom prebuilt image deployment"
/kind bug

When deploying an inference service based on the [pre-built](https://github.com/kserve/kserve/tree/master/docs/samples/v1beta1/custom/prebuilt-image) sample, the service is successfully deployed on Kubernetes.

However, when querying the `/model/predict` route, the resulting HTTP code is a 404 status code. As well, the request doesn't produce any log entry among the running containers.

[2022-05-02 20:41] edi-bice commented on #2138
Log in to Kubeflow, use Chrome Inspect to find session token in Application tab
Make sure to pass both headers, the token and the host in addition to the correct SERVICE URL

INGRESS_DNS=${KUBEFLOW_NAME}.endpoints.${PROJECT}.cloud.goog
SERVICE_URL=https://${INGRESS_DNS}/v1/models/${ISVC_NAME}:predict

`curl -v -H "Authorization: Bearer ${TOKEN}" -H "Host: ${SERVICE_HOSTNAME}" ${SERVICE_URL} -d ${I

[2022-05-03 22:00] #2161 closed, assigned to nobody

[2022-05-04 14:42] markwinter commented on #2169
The log shows that it's getting redirected to dex for authentication. I assume you're going through kubeflow's istio-ingressgateway. I'm not sure if there's a recommended way to deal with sending requests via the kubeflow gateway, but you should make an EnvoyFilter to exclude them from dex auth, or make a separate ingress for serving

[2022-05-04 14:56] nicozhang commented on #2138
I don't know exactly what you problem. Mine is because of the version of sklearn which trained the model is diff from the kfserver image's sklearn version. You can run exec command and login the container, then load the model mannuly, check whether it  can be loaded.

[2022-05-04 17:27] suryaiyer commented on #2151
Was able to resolve it. Thanks!

[2022-05-04 17:27] #2151 closed, assigned to nobody

[2022-05-05 14:59] yuzisun commented on #2113
for reference https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html

[2022-05-06 11:56] PiePra opened #2173 "propagate distributed tracing context in response logger"
/kind feature

**Describe the solution you'd like**
Use KNatives tracing capabilities to correlate OpenTelemetry Traces when using KServes response logging as input for another InferenceService. Right now when using the InferenceService response Logger of Model A to send events to a KNative broker ingress and a KNative Trigger to forward those to InferenceService of Model B I can see 2 Traces crea

[2022-05-06 12:24] molejnik-mergebit commented on #2100
Hi, I'm facing the similar issue with kfserving 0.6.0. How did you manage to increase this channel capacity? Do I have to build custom kfserving version for this to take an effect? Could you please pint me to some instructions?

[2022-05-08 02:37] matty-rose commented on #2113
Hi, this functionality currently exists but just isn't documented in the KServe guide. However there are some quirks required in order to get kserve to parse the annotations from the secret - an example and reasoning can be found in my comment [here](https://github.com/kserve/kserve/issues/2003#issuecomment-1053530385). I'm happy to contribute updates to the documentation, but wanted to check with

[2022-05-08 07:32] yuzisun commented on #2113
@matty-rose option 1 sounds reasonable to me, also I think those s3 annotations(e.g s3-region, s3-endpoint/s3-usehttps) are more sensible to be added to the [configmap](https://github.com/kserve/kserve/blob/master/config/configmap/inferenceservice.yaml#L151) so you do not need to configure for each service account.

In summary for s3 we first look for the IM Role annotation on service account and

[2022-05-09 10:48] nmkrishna commented on #2079
Currently kserve is assuming a default name for the models when they are mounted to the pod. So It works only if the name is `model.joblib`. This may be a defect. Can you pls add the support

[2022-05-10 02:33] park12sj opened #2177 "How do I implement a request batch in custom predictor? I want to know the principle of batch request."
I made a custom predictor that loads the model file as below and receives input from predictor and processes it.
[code]
[code]

However, in the example of request batch, it seems that the request is made by putting the batch input in the instances of the request.
https://github.com/kserve/kserve/blob/172933a487b5a7ee521c79f9ce6440476d0b4dcf/docs/samples/batcher/basic/input.json

In my case, it see

[2022-05-11 00:45] Omoong commented on #2157
@juliusvonkohout

just a quick question why did you use https on the last example?
Also, did you try the last one using http? and port 80?
in your kubeflow gateway you only have settings for http and dont have any settings for https.
 maybe thats the reason last one didn't work

and as for the fourth example its probably due to the hostname you used.
since knative-local-gateway and cluster-local-g

[2022-05-11 10:13] juliusvonkohout commented on #2157
@Omoong

[code]
works, but it does not with the external load balancer / openshift route
Maybe the openshift route proxy already interprets the header "Host: ${SERVICE_HOSTNAME}" to route on the kubernetes level.
https://itnext.io/how-to-access-your-app-behind-an-openshift-router-87cbae3e7185 suggest that.

 Seldon does not need that header. Maybe we have to remove the hostname header and add an a

[2022-05-11 12:39] juliusvonkohout commented on #2157
Ah you even have a documentation for this ugly hack https://github.com/kserve/kserve/blob/master/docs/samples/gcp-iap/virtual-service.yaml

[code]

[2022-05-11 13:59] #2157 closed, assigned to nobody

[2022-05-12 14:05] yurkoff-mv commented on #1880
Hello!
I have a [similar problem](https://github.com/kubeflow/manifests/issues/2208).

[2022-05-13 05:53] yuzisun opened #2179 "KServe e2e tests failing with exceeding LB quota"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]
- Minikube version:
-

[2022-05-14 09:40] #2179 closed, assigned to nobody

[2022-05-16 07:59] revolutionisme commented on #2003
@matty-rose Thanks a lot for this, I missed the tag last time, but got back to it now and it works great. I will close the ticket as it solves the problem, but i still support the idea to make it more explicit.

[2022-05-16 07:59] #2003 closed, assigned to nobody

[2022-05-17 03:16] SeibertronSS opened #2182 "Proxy istio-ingressgateway with ingress"
I want to proxy istio-ingressgateway with ingress so I can access isvc using domain name instead of istio-ingressgateway svc ip. Access is in the form of
[code]

The ingress yaml is
[code]

But I get a 503 status code.
Can I access isvc through a domain name through ingress proxy istio?

[2022-05-17 10:51] SeibertronSS opened #2183 "Can kserve support multi-model deployment?"
Can kserve support multi-model deployment like seldon-core?
![image](https://user-images.githubusercontent.com/69496864/168794698-1c8aa82b-fad3-4b0e-b0d8-08b3305c2c2f.png)
For example deploy two models with two isvcs. The output of the first isvc will be passed to the second isvc.

[2022-05-18 03:25] SeibertronSS opened #2184 "TLS handshake error"
I got an error like
[code]
What is the problem?

[2022-05-19 14:16] Jensxy opened #2186 "Error - Cannot POST /v1/models/sklearn-iris:predict"
/kind bug

**What steps did you take and what happened:**
I installed Kubeflow 1.5 using kustomize. Then, I executed the [instructions](https://github.com/kserve/kserve/tree/master/docs/samples/v1beta1/sklearn/v1) to create a sklearn inferenceservice. Afterwards, I've tried to execute

`curl -v -H "Host: ${SERVICE_HOSTNAME}" http://${CLUSTER_IP}/v1/models/$MODEL_NAME:predict -d $INPUT_PATH` and it

[2022-05-19 14:37] Jensxy opened #2187 "Kubeflow-Gateway with httpsRedicrect - Response: 301 Moved Permanently"
/kind bug

**What steps did you take and what happened:**
I installed Kubeflow 1.5 using kustomize. Then, I executed the [instructions](https://github.com/kserve/kserve/tree/master/docs/samples/v1beta1/sklearn/v1) to create a sklearn inferenceservice. Afterwards, I've tried to execute

`curl -v -H "Host: ${SERVICE_HOSTNAME}" http://${CLUSTER_IP}/v1/models/$MODEL_NAME:predict -d $INPUT_PATH` and it

[2022-05-20 11:42] ddelange opened #2188 "Add packaged helm chart to release assets"
/kind feature

**Describe the solution you'd like**

It would be great to be able to deploy the helm chart (in my case using terraform) without having to clone this repo.

**Anything else you would like to add:**

Example Github Actions workflow to add the packaged helm chart to the release assets (which url can then be passed to helm similar to `kubectl -f`): https://github.com/ray-project/kubera

[2022-05-20 16:29] psheorangithub opened #2190 "CRITICAl vulnerability storage-initializer:0.7.0"
/kind bug

Hi team

Our tool shows following crtical vulnerability for storage-initializer:0.7.0. I checked release notes for 0.8.0 but couldn't find any refence of any fix. Are there any plans to fix the vulnerability?

CVE-2021-44228

https://cve.mitre.org/cgi-bin/cvename.cgi?name=cve-2021-44228
--

</body>

</html>

**What steps did you take and what happened:**
[A clear and concise description

[2022-05-21 19:24] yuzisun commented on #1967
implemented with https://github.com/kserve/kserve/pull/1985 and https://github.com/kserve/kserve/pull/2180

[2022-05-21 19:24] #1967 closed, assigned to laozc

[2022-05-22 16:16] yuzisun commented on #2187
@Jensxy You should use https instead as the gateway is configured with TLS certificates.

[2022-05-22 16:19] yuzisun commented on #2186
@Jensxy Are you using KFServing or KServe with Kubeflow 1.5 ?

[2022-05-22 16:20] yuzisun commented on #2184
@SeibertronSS Please help clarify the issue with more details.

[2022-05-22 16:21] yuzisun commented on #2183
@SeibertronSS  this is going to be supported with inference graph https://github.com/kserve/kserve/pull/1910

[2022-05-22 16:24] yuzisun commented on #2182
@SeibertronSS are you using the serverless or raw deployment installation

[2022-05-23 00:08] Jensxy commented on #2186
@yuzisun I'm using KServe from here https://github.com/kubeflow/manifests

[2022-05-23 00:11] Jensxy commented on #2187
@yuzisun then I get
[code]

[2022-05-23 01:50] SeibertronSS commented on #2184
The specific phenomenon is that it cannot delete the isvc when I initiate a delete request.
More error messages:
![image](https://user-images.githubusercontent.com/69496864/169728341-01982d42-01fc-4f72-9c7e-d2026386ad11.png)

[2022-05-23 01:51] SeibertronSS commented on #2183
Thank you very much!

[2022-05-23 01:51] #2183 closed, assigned to nobody

[2022-05-23 03:21] SeibertronSS commented on #2182
I install the kserve by kubeflow-manifest.  I think maybe there is something wrong with my DNS resolution.

[2022-05-23 06:19] JuHyung-Son opened #2191 "no kind "InferenceServiceList" is registered for version "serving/v1beta1""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm using fake client using `NewSimpleClientset`.

and testing List function

[code]

this error occurs
` no kind "InferenceServiceList" is registered for version "serving/v1beta1" in scheme "pkg/runtime/scheme.go:100"`

**What did you expect to happen:**
I expect fake list function work

[2022-05-23 18:44] njhill commented on #2085
@vaporpin this will be supported soon via the inference graph feature, see https://github.com/kserve/kserve/issues/846 and https://github.com/kserve/kserve/pull/1910.

[2022-05-23 19:04] njhill commented on #2065
This was implemented in the main kserve controller in https://github.com/kserve/kserve/pull/2118.

[2022-05-24 05:09] markwinter opened #2195 "Handle storage spec when checking MLServer defaults"
/kind bug

**What steps did you take and what happened:**

When creating a Seldon MLServer to serve a LightGBM model, and using the storage spec, the env var `MLSERVER_LOAD_MODELS_AT_STARTUP` is set to false causing models to not be loaded at startup (they have to be manually loaded via the repository api).

This is because it only checks for the storageUri, and not the storage spec as well.

http

[2022-05-25 02:35] henrysecond1 opened #2196 "Validate ServingRuntime when deploying InferenceService"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deploy `InferenceService` with non-existing `ServingRuntime` (or `ClusterServingRuntime`).
Deployment was successful. After deployment, controller emits k8s event like below.

[code]

**What did you expect to happen:**

I think deployment should fail if we specify the wrong `ServingRunt

[2022-05-25 07:17] markwinter commented on #2195
I noticed env vars were also being applied twice

[code]

[2022-05-25 17:01] juliusvonkohout opened #2197 "Kserve within Kubeflow is insecure by default"
@yuzisun a security follow up to https://github.com/kserve/kserve/pull/1996
Inside kubeflow the header kubeflow-userid is properly set and enforced by istio-ingressgateway. But this is not the case for in-cluster traffic to knative-local-gateway. In the screenshot i am in namespace prod-1 as user prod-1@kubeflow.org and i am able to access the inferenceservice from user dev-1@kubeflow.org in names

[2022-05-25 23:27] yuzisun commented on #2196
@Suresh-Nakkeran I believe this is taken care by your PR https://github.com/kserve/kserve/pull/2088 ?

[2022-05-25 23:31] yuzisun commented on #2196
I am not sure if this needs to be done in the webhook, it is possible that later user deploys the serving runtime thus controller can automatically reconcile and resolve to use the runtime added. Also in the above PR we have exposed the error in the inference service status as well so user should know what's going on.

[2022-05-25 23:32] yuzisun commented on #2190
@psheorangithub Can you help validate 0.8.0? I believe this is fixed after we upgraded the pypi dependencies.

[2022-05-26 01:35] henrysecond1 commented on #2196
@yuzisun Thank you for your opinion!

Yes, as you said users can check k8s events to check what went wrong. So I agree that it's not necessary to check runtimes in the webhook.

However, users need to manually poll k8s events to check that their revision is updated. Also in our environment, some users like researchers are not familiar with k8s, and they suffer to figure out what went wrong. So I t

[2022-05-26 10:42] zenglw06 commented on #2186
@yuzisun  it may be your error model files. The name of model file should be in `[model.joblib, model.pickle, model.pkl]`

it is hard code in kserve sklearn server

[2022-05-26 11:01] zenglw06 opened #2198 "lgb/xgb serving server with hardcode model name"
/kind feature

In kserve xgb/lgb serving，the file name of server model is hardcode.  For example:

https://github.com/kserve/kserve/blob/531bbaa6a1eb6b1fa66dafd3f4f3db9eaaf3087a/python/lgbserver/lgbserver/model.py#L39-L40

That seems a little strange. Why not try to read the first file in the directory by default as the model file?

[code]
Although I know there is a concept of a model repository t

[2022-05-27 05:00] andyi2it opened #2200 "PRs fail because of the new version of protobuf being pulled"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Raise a PR. python package build fails because in some envs the version of protobuf pulled is incompatible.

[code]

[code]

**What did you expect to happen:**
PR to pass

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Envir

[2022-05-27 16:14] Lee-Albert opened #2203 "Incompatible versions for google protos required by kserve and dependencies"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Trying to install the kserve module, kserve requires `googleapis-common-protos==1.53.0`, but some dependencies of kserve require `googleapis-common-protos<2.0dev,>=1.56.2`, and hence kserve cannot be installed.

**What did you expect to happen:**
The version of protos required by kserve

[2022-05-27 20:53] #2200 closed, assigned to nobody

[2022-05-30 13:53] Jensxy commented on #2186
I think the logs from `kubectl logs -n kserve kserve-controller-manager-0 -c manager` indicate a previous error, which I have already solved. Currently, the corresponding error is no longer displayed.

[2022-05-30 16:48] #2087 closed, assigned to nobody

[2022-05-31 06:25] park12sj opened #2207 "Error occurs when attempting to increase gpu utilization of custom predictor"
If I serve the predictor as below, but the gpu util comes out too low around 5%.

[code]
![image](https://user-images.githubusercontent.com/28818972/171105680-ed7d7263-ccc5-4503-b91c-e414b86a8470.png)

So I tried parallel inference at first. As a result, it was confirmed that the rps improved, but the gpuutil became 0%.
![image](https://user-images.githubusercontent.com/28818972/171105617-0b034dcf

[2022-05-31 14:56] cmward commented on #2100
@molejnik-mergebit sorry for the late response - yes we build our own image for the agent and use it to replace the built-in agent image in the kfserving deployment yaml we manage in helm.

[2022-06-01 01:29] #2182 closed, assigned to nobody

[2022-06-01 01:29] #2057 closed, assigned to nobody

[2022-06-01 06:18] molejnik-mergebit commented on #2100
Thanks @cmward - in the meantime I ended up doing the same in my project.

[2022-06-01 10:06] yuzisun opened #2209 "enhance github action based e2e test"
/kind feature

**Describe the solution you'd like**
Currently only the images for the controller and storage initializer are being built and used in the tests, while runtime/agent/explainer/image-transformer images are still being pulled from Docker Hub. The rest are commented out in build-images.sh, but building every single image will add another 20-30 minutes to workflow. Will maybe want to imp

[2022-06-02 01:38] SeibertronSS opened #2210 "Can isvc limit qps?"
Can isvc limit qps?

[2022-06-03 02:04] #2210 closed, assigned to nobody

[2022-06-03 11:34] andyi2it commented on #2190
@psheorangithub
Seems like the log4j dependency was brought in by ray dependency. Its already updated to 1.9.2 in master.
https://github.com/ray-project/ray/issues/21055

Can you confirm latest non release version?

It should be part of the upcoming release.

[2022-06-03 23:48] yuzisun commented on #2187
This is most likely your certificate issue installed on gateway.

[2022-06-04 03:21] #2135 closed, assigned to markwinter

[2022-06-04 16:17] yuzisun commented on #2111
@ajinkya933 did the inference service get into ready status? run `kubectl get isvc sklearn-iris -oyaml` should give me more debugging info.

[2022-06-04 16:39] yuzisun commented on #2023
@vijay-nag pytorchserver is deprecated as of 0.8.0, please try to migrate to torchserve instead.
https://kserve.github.io/website/0.8/modelserving/v1beta1/torchserve/

[2022-06-04 16:39] #2023 closed, assigned to nobody

[2022-06-04 16:44] yuzisun commented on #1920
This should be fixed in 0.8.0 with https://github.com/kserve/kserve/pull/1905.

[2022-06-04 16:44] #1920 closed, assigned to nobody

[2022-06-04 16:45] yuzisun commented on #1919
duplicate of https://github.com/kserve/kserve/issues/1348

[2022-06-04 16:45] #1919 closed, assigned to nobody

[2022-06-04 16:53] #1900 closed, assigned to nobody

[2022-06-04 17:08] #2065 closed, assigned to Suresh-Nakkeran

[2022-06-04 17:09] #2058 closed, assigned to nobody

[2022-06-04 17:10] yuzisun commented on #2015
implemented with #2034

[2022-06-04 17:10] #2015 closed, assigned to Suresh-Nakkeran

[2022-06-04 17:13] #1874 closed, assigned to nobody

[2022-06-05 01:15] #2203 closed, assigned to yuzisun

[2022-06-06 10:20] psheorangithub commented on #2190
It is not fixed on 0.8.0 as well. 0.8.0 contains ray version 1.9.0

[2022-06-06 10:23] andyi2it commented on #2190
Yes, that's why I meant non release version...

[2022-06-06 10:26] andyi2it commented on #2190
Or if you could wait for a week, we have a new version releasing this week...

[2022-06-06 10:58] psheorangithub commented on #2190
Sure. I will wait for the upcoming version.

[2022-06-06 11:16] psheorangithub commented on #2190
We saw following 2 HIGH vulnerabilities as well which can be fixed with minor upgrade to listed components.Are there any plans to remediate them?

1. XRAY-125253:
        a_fix_available: true
        components:
        - component_id: commons-io:commons-io
          fixed_versions:
          - '[2.8.0-RC1]'
        - component_id: org.neo4j:parent
          fixed_versions:
          - '[4.2.8]'

[2022-06-06 11:33] ajinkya933 commented on #2111
I was using a load balancer and did not mention auth service cookie in header so that was causing this issue.

[2022-06-06 20:19] thomwatkin opened #2219 "Unauthenticated access to gs://kfserving-samples has been blocked"
/kind bug

It looks like unauthenticated access to the kfserving-samples GCS bucket has been removed.

While trying to run KServe examples I'm now receiving 401 errors from the storage URI.

**What steps did you take and what happened:**
1. Try to create an InferenceService from a notebook using the kfserving SDK, using Kubeflow v1.5.0
2. Pod fails to initialize
3. Check pod logs

[code]

Similarl

[2022-06-06 20:44] Lolologist opened #2220 "Adding kserve into a poetry-managed package dramatically increases dependency resolution time"
/kind feature

**Describe the solution you'd like**
Hello KServe folks!
I'm sure you've heard of this issue but I didn't see any issues open for it right now so here we are.
I use poetry to manage packages I'm making and if I add kserve in there as a dependency you're looking at a bare minimum of 2000 seconds as it searches around for god knows what to help make your lock file.
It would be really

[2022-06-06 22:52] yuzisun commented on #2219
`kfserving-samples` gcs bucket is deprecated, please use `kfserving-examples` instead and we have updated all docs to reflect that.

[2022-06-06 23:13] thomwatkin commented on #2219
Thanks for the correction here - hadn't seen the updated docs.

I'll close this accordingly.

[2022-06-06 23:13] #2219 closed, assigned to nobody

[2022-06-07 02:03] markwinter commented on #2207
How is the performance if you remove `torch.cuda.empty_cache()` ?

You can also try using the batcher to increase gpu utilisation and rps
https://kserve.github.io/website/0.8/modelserving/batcher/batcher/

[2022-06-07 02:16] #2188 closed, assigned to ddelange

[2022-06-07 03:50] park12sj commented on #2207
@markwinter
I have a question about batch.

I think batcher sends batchesize of requests to predictor at once, in this case request 1, 2, 3... In what form are they going into predictor?

For example, my custom predictor is receiving the following input.
In this case, if I apply batch, does the list of data go into predictor?
What is the input format that predictor receives?
[code]

In summary, ho

[2022-06-07 04:04] park12sj commented on #2207
After erasing the `torch.cuda.empty_cache()`, the gputil improved to 5->7~9%, but I want to apply batcher because it is not enough.
Thank you for answering the above questions.

[2022-06-07 08:36] typhoonzero opened #2222 "Outlier detect sample model does not exist any more"
/kind bug

**What steps did you take and what happened:**
Following https://github.com/kserve/kserve/blob/master/docs/samples/outlier-detection/alibi-detect/cifar10/cifar10_outlier.ipynb, the sample model `gs://kfserving-examples/tfserving/cifar10/resnet32` mentioned does not exist.

[2022-06-07 13:08] zenglw06 opened #2224 "Kserve support onnx"
Could kserve support onnx?

[2022-06-07 22:33] vvnpan opened #2226 "Inference Graph SDK"
/kind feature

**Describe the solution you'd like**
Extend the existing kserve python SDK to support latest [inference graph API](https://github.com/kserve/kserve/pull/1910).

**Anything else you would like to add:**
@yuzisun will followup with instructions on how to contribute

[2022-06-07 23:57] JuHyung-Son opened #2227 "can not make inference when using transformer"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
when I use predictor only, inference works. But when I add transformer it does not work.

**What did you expect to happen:**
request -> transformer -> predictor -> transformer should work.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving th

[2022-06-07 23:59] JuHyung-Son commented on #2227
im working with kind,

[2022-06-08 01:40] #2224 closed, assigned to nobody

[2022-06-08 01:47] yuzisun commented on #2227
@JuHyung-Son The input data sending to predictor needs to conform to the v2 protocol, is that the case with your input.json?

[2022-06-08 02:50] JuHyung-Son commented on #2227
@yuzisun yes this is my input json

[code]

[2022-06-08 03:03] JuHyung-Son commented on #2227
I just figured it out, when I do not pass `--protocol v2`, above problem appears.
and If it pass `--protocol v2` it works as expected.

+ passing `--protocol v1` also not work
+ and I both request with `http://localhost:8888/v2/models/cifar/infer` and ` http://localhost:8888/v1/models/cifar:predict`

[2022-06-08 04:48] JuHyung-Son commented on #2227
I think this problem is because I use triton. It only supports V2 protocol

[2022-06-08 04:48] #2227 closed, assigned to nobody

[2022-06-08 05:01] chintha-v opened #2230 "Unable to create inferenceservice using kserve standalone on rhocp4.9"
Hi All,
I deployed standalone kserve 0.8.0 on rhocp4.9 cluster. While creating inferenceservice I am getting following error.
Can someone helm me out here please!
**HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"inferenceservices.serving.kserve.io is forbidden: User \"system:serviceaccount:sepmlpaas:mlpaas-service-account\" cannot create resource

[2022-06-08 08:37] kyue1005 opened #2232 "Inference Service showing diff in Argocd"
**What steps did you take and what happened:**
An issue related to deploying inference service with Argocd
Currently, the inference service shows a difference
Does kserve change the resource underline?

The triton attribute is removed
<img width="1126" alt="Screen Shot 2022-06-08 at 4 32 26 PM" src="https://user-images.githubusercontent.com/4598990/172570752-a843d83c-8ee1-412b-9398-7a65d9c630c9.pn

[2022-06-08 11:30] coalindiax opened #2233 "pycaret model support on kserve"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
not able to deploy pycaret model on kserve.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-06-08 18:05] xfzhang1974 opened #2234 "gs://kfserving-samples/models/tensorflow/flowers cannot be accessed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp

[2022-06-09 06:48] Tamannaverma1912 opened #2236 "Inference Service failed -- Triton Server not running"
/kind bug

**What steps did you take and what happened:***
So, we had set up kserve in a RawDeployment mode on an AWS EKS cluster from there from we want to use Triton Inference service. We have configured our Inferencesrvice manifest as:

[code]
But triton is still not up.
Here are the details:
[code]

[code]

 and Logs

[code]
**What did you expect to happen:**
Why is Triton Inference Server not

[2022-06-09 11:57] JuHyung-Son opened #2238 "can I use custom transformer and custom predictor in a pod??"
In custom predictor example below, there is only `predict` method.

[code]

And if I implement `preprocess` and `postprocess` I get this error.

[code]

Is this expected behavior?? Is there any way I can use all of the method and use just one pod as possible as parallel inference?

[2022-06-09 16:50] pthalasta opened #2239 "Inferencing server with EKS Role annotation fails to start"
/kind bug

**What steps did you take and what happened:**
Unable to deploy inference server with Service Account/Secret created with EKS Role annotation fails to start with error while trying to refresh the AWS Web token

Here is the error
[code]

**What did you expect to happen:**
Model copied from AWS S3 and to start the inference server without any issues

**Anything else you would like to add:

[2022-06-10 02:30] Iamlovingit opened #2240 "Add a new inference routing type: Mirroring"
/kind feature
We are facing a new use case: we want to add a testing branch to an online service(main branch), this testing branch will get some of online queries, but we don't want the testing branch response. So far, inference graph has no type of routing node can slove this, so we want to add an new routing type: Mirroring. A mirroring routing node need 2 fields: `serviceName` and `mirroring pe

[2022-06-10 09:51] wuyexixi opened #2241 "gcr.io/kfserving is gone ?"
Is that kfserving project in gcr.io disappeared?

[https://console.cloud.google.com/gcr/images/kfserving](url)

[2022-06-10 21:38] yuzisun commented on #2241
yes gcr.io is deprecated and we send the message to community back in April

[code]

[2022-06-10 21:38] #2241 closed, assigned to nobody

[2022-06-11 12:48] yuzisun commented on #2234
@xfzhang1974 Please use `gs://kfserving-examples/models/tensorflow/flowers` instead, the gcs bucket `kfserving-samples` has been deprecated.  KServe documentation has also updated to reflect that.

see https://github.com/kserve/kserve/pull/2215

[2022-06-11 12:48] #2234 closed, assigned to nobody

[2022-06-11 19:04] xfzhang1974 commented on #2234
Thanks for the update.
    On Saturday, June 11, 2022, 07:49:07 AM CDT, Dan Sun ***@***.***> wrote:

@xfzhang1974 Please use gs://kfserving-examples/models/tensorflow/flowers instead, the gcs bucket kfserving-samples has been deprecated.

see #2215

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-06-11 20:22] #1911 closed, assigned to andyi2it

[2022-06-12 10:36] yuzisun commented on #2236
@Tamannaverma1912 See the pod status, it is OOM(out of the memory) and you will need to bump up the memory limit.

[code]

[2022-06-13 00:42] matty-rose commented on #2239
Hey @pthalasta this looks more like an issue with your configuration of the IAM role itself, rather than permissions trying to download the model from S3. Have you followed the steps in https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html to configure the proper trust relationship between the EKS cluster and your role?

[2022-06-13 03:14] yuzisun commented on #2190
I guess this is also fixed along with the ray dependency fix #2055 ?

[2022-06-13 03:20] Suresh-Nakkeran opened #2244 "upgrade MLServer to v1.0.0"
/kind feature

Upgrade [MLServer](https://github.com/SeldonIO/MLServer) version to [v1.0.0](https://github.com/SeldonIO/MLServer/tree/1.0.0).

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-06-13 09:10] Rory602 commented on #2197
hello , could you display "curl rest with dex" content ? I can not post request

[2022-06-13 12:46] molejnik-mergebit opened #2245 "Agent container crash after unsuccessful model spec unmarshal"
/kind bug

**What steps did you take and what happened:**

It happened to me, that agent syncer failed to unmarshal model spec in kserve/pkg/agent/syncer.go:62
When this happens SyncModelDir return nil and later agent crashes with the following logs&stacktrace:

[code]

Failure in SyncModelDir leads to panic later in the code, because modelTracker is nil. This leads to crash loop in the agent cont

[2022-06-13 13:34] juliusvonkohout commented on #2197
The problem is about the knative local gateway, not dex.

[2022-06-13 13:35] venkat-ravilla opened #2246 "Not able to access models from GCS for triton runtime"
/kind bug

**What steps did you take and what happened:**
I created a secret with the gcs credentials
I created a service account linking the gcs secret
Created an Inference service with serviceAccountName and model uri
[code]

Error:
[code]

**What did you expect to happen:**
Triton loading models from GCS bucket

**Anything else you would like to add:**
[Miscellaneous information that will assis

[2022-06-13 16:51] pthalasta commented on #2239
Hi @matty-rose , yes, i've followed the instructions provided in the link and it works fine when i access s3 from my kubeflow notebooks. However, kserve fails to pull the model from s3 bucket.

[2022-06-14 04:31] PatrickXYS opened #2247 "Deprecate kserve/kserve ECR repos"
/kind bug

**What steps did you take and what happened:**
As a post item of deprecating optional-test-infra, we'll deprecate kserve/kserve ECR repos provided by optional-test-infra.
Serves as sub-issue of https://github.com/kubeflow/testing/issues/1008

**What did you expect to happen:**
Deprecate kserve/kserve ECR repos provided by optional-test-infra

Repo List:
**kserve/kserve:** `809251082950.

[2022-06-14 14:48] psheorangithub commented on #2190
log4j2 fix is available in ray 1.10.0 https://github.com/ray-project/ray/releases/tag/ray-1.10.0

[2022-06-15 10:30] yurkoff-mv opened #2248 "The destroyed InferenceService is displayed"
/kind bug

**What steps did you take and what happened:**
I have InferenceService with PyTorch Predictor. But when I remove it, it still shows up. PODs are deleted, but the InferenceService is not.

When I start the InferenceService again with the same name, I see two identical InferenceService (`kubectl get inferenceservices -A`).
[code]
This happened while executing the command `kserve_client.de

[2022-06-16 02:44] JuHyung-Son opened #2251 "logger is not working with grpc request."
/kind bug

I`m following payload logger example with custom preditor using grpc.

when I add logger, grpc request returns error

isvc yaml (when i remove logger, it works well and I`m using triton on custom predictor for testing)

[code]

grpc request
[code]

**Environment:**

- Istio Version: 1.11.5
- Knative Version: 1.3
- Kubeflow version: 0.8.0
- Kubernetes version: (use `kubectl version`): 1.

[2022-06-17 11:16] yuzisun commented on #2247
@PatrickXYS we are not using these anymore, feel free to deprecate.

[2022-06-17 12:20] Suresh-Nakkeran opened #2254 "E2E tests setup script failure due to yq version"
/kind bug

e2e test installs the latest yq version which breaks the current usage.
[code]

[2022-06-19 09:50] kandrio opened #2256 "Path suffix missing from the `status.url` field of `InferenceServices`"
I created an `InferenceService` that looks like the one below:

[code]

After I applied this `InferenceService`, I looked at its `status` and I noticed that there was a discrepancy between the `status.url` and the `status.address.url` fields. Specifically, I notice that they look like this:
* `status.url`: `http://<isvc-name>-<namespace>.<domain>`
* `status.address.url`: `http://<isvc-name>.<names

[2022-06-19 10:12] kandrio opened #2257 "Is path-based serving supported?"
/kind feature

Hello everyone!

I see that the current way to serve `KServe` models is host-based. That is, the URL of a model looks something like this:
- `http://<model-name>-<namespace>.<domain>`.

This way, one needs to create a DNS record and a certificate for the sub-domain `<model-name>-<namespace>` where the model is hosted.

So, my question is: _is there an alternative way? A **path-based

[2022-06-19 12:18] smhgit opened #2258 "Transformer examples uses incorrect function definition"
/kind bug

Example use List   `def postprocess(self, inputs: List) -> List:`

https://github.com/kserve/kserve/blob/efda8c6f062e41368cb2eba3986e8cf9a7ba7dfc/docs/samples/v1beta1/transformer/torchserve_image_transformer/image_transformer/image_transformer.py#L87

While base uses Dict   `def postprocess(self, response: Union[Dict, ModelInferResponse]) -> Dict:`

https://github.com/kserve/kserve/blob

[2022-06-19 12:35] yuzisun commented on #2258
@smhgit Thanks for catching this! Are you interested to contribute the fix?

[2022-06-19 12:38] yuzisun commented on #2257
@kandrio There is no difficulties and I created [the issue](https://github.com/kserve/kserve/issues/824) 2 years ago but did not find person signing for this contribution.

[2022-06-20 17:29] #2254 closed, assigned to nobody

[2022-06-20 19:51] yuzisun commented on #2247
ECR deprecation has no impact to kserve, no action is needed from kserve side.

[2022-06-20 19:51] #2247 closed, assigned to nobody

[2022-06-20 21:45] yuzisun commented on #2226
@vvnpan You can follow the [sdk generation instruction](https://github.com/kserve/kserve/tree/master/hack/python-sdk) to create the inference graph python API and then we can add an e2e test for the inference graph like [here](https://github.com/kserve/kserve/blob/master/test/e2e/predictor/test_sklearn.py).

[2022-06-20 21:48] #2236 closed, assigned to nobody

[2022-06-20 23:22] yuzisun opened #2260 "OOM container healthy condition should be propagated back to inference service status"
/kind bug

**What steps did you take and what happened:**
When predictor is OOM the reason is not propagated back to the inference service status, as following shows when triton model server is OOM, it does not have the exit code 137 info on the model status.

[code]
**What did you expect to happen:**
The container healthy condition on revision should be propagated back to the predictor and model

[2022-06-21 10:16] szymonbcoding opened #2261 "On prem - running a prediction with uri storage problem"
Hi,
I got non-admin access to on prem Kubeflow Platform and I would like to deploy and inference my previously created model with KServe.

I created InferenceService using: https://kserve.github.io/website/0.8/modelserving/storage/uri/uri/ (without secret feature).

**sklearn-from-uri.yaml:**
apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: sklearn-from-uri
spec:
  pr