[2019-10-25 21:27] jlewi commented on #486
That error about the config map could be a red herring.

[2019-10-25 23:03] #486 closed

[2019-10-26 14:11] cliveseldon opened #489 "Explainer args need consistent ordering"
/kind bug

Explainer config args are a map. They are turned into parameters for the explainer container. At present they are taken in map order which is random. This can cause multiple Reconciles as each creation of the container will have a different spec due to parameter ordering.

Need to create a consistent ordering of parameters.

[2019-10-26 14:56] cliveseldon opened #490 "Explanations fail due to short timeouts"
/kind bug

The Revision timeout is set to 10secs. Given explanations requests can take some time and also explanations send batch requests which also can take a long time. We need to increase the timeout to a larger value.

[2019-10-26 16:05] #489 closed

[2019-10-26 23:13] ellistarn opened #493 "Not all python tests run on presubmits."
/kind bug
Only the SDK tests are running during presubmits.
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version

[2019-10-27 00:52] ellistarn opened #494 "Python CLI arguments are snake case and should be kabob case."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use

[2019-10-27 09:21] #490 closed

[2019-10-28 05:09] pugangxa opened #495 "Validate min/max replicas for transformer and explainer"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Now predictor already validate  min/max replicas, for transformer and explainer we should do that too.

[2019-10-28 05:13] pugangxa opened #496 "Refactor to organize the defaults values together to and make it more extensible"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Now we have DefaultMemory and DefaultCPU definition in predictor.go, we need make it easier to extend  in the future (accelerators?). More importantly, it guarantees that the logic is the same and doesn't have errors in different cases.
[code]
**Anything else you would like to add:**
[

[2019-10-28 22:45] ellis-bigelow opened #497 "Rename ModelURI to StorageURI"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use

[2019-10-29 03:08] #440 closed

[2019-10-29 21:18] sandeep-krishnamurthy opened #499 "[Performance] Performance and load test"
**<<<< DRAFT - More details to be updated >>>>**

We need to have a performance test suite in KFServing. Performance tests will help us identify potential bottlenecks and create reproducible resources for KFServing production users.

**Goals**
1. Run performance benchmarks on industry standard models (align with MLPerf Inference models)
2. Performance test suite package with scripts, models and ot

[2019-10-30 01:18] #387 closed

[2019-10-30 06:48] #417 closed

[2019-10-30 08:23] pugangxa commented on #411
I think after PR #471  and PR #500, the spec already got fully validated so that normally we should not got error during reconcile(except corner case like network issue, configmap issue, update resource issue etc.)
Specific to this [#406](https://github.com/kubeflow/kfserving/pull/406#discussion_r331760639) , it cannot be applied successfully so the resource can not get updated/created.
As for sta

[2019-10-30 08:24] pugangxa commented on #411
Just found this issue from history since I am working on the validation part these days. If there's still some cases we need update condition I can fix this issue too.
@cliveseldon @ellis-bigelow

[2019-10-30 08:31] cliveseldon commented on #411
That sounds good. I agree with your comments on better validation so less chances of Reconcile errors. Maybe you can open speicfic issues as this one is quite broad and we close this?

[2019-10-30 08:53] pugangxa commented on #411
I agree, from code and my test, I believe normally there should not be error during reconcile phase.  Any one can open specific issue if found and we can decide whether it fits to the validation or be reported by status.

[2019-10-30 08:55] #411 closed

[2019-10-31 01:35] #496 closed

[2019-10-31 16:22] SachinVarghese opened #504 "KFserving explanations fail when used with authenticated kubeflow"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am using kfserving deployments in a kubeflow cluster with an authentication specified by the arrikto config. https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_existing_arrikto.yaml. When I make explanation requests with relevant headers(for auth) I get a 404 response, but

[2019-10-31 20:15] ellistarn opened #505 "Enable Configurable Context for KFServer"
/kind feature

Lifted from https://github.com/kubeflow/kfserving/pull/492#issuecomment-548509340

ServerContext will include handlers such as - metrics handler, logging handler, Timeouts (Timeouts are model dependent this needs to be configurable) etc. Need to give a bit more thought to make this extensive. Basically, Idea is we don't want every KFServer implementer to handle these resources indep

[2019-11-01 08:33] jinchihe opened #508 "Filed to setup CI test cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Filed to setup CI test cluster

[code]

[2019-11-01 09:07] jinchihe commented on #508
Guess this is caused by Google cloud problem? or caused by changes in kubeflow/testing? Need to confirm with kubeflow buildcop.

[2019-11-01 10:46] cliveseldon opened #511 "Invalid resource defaults"
/kind bug

[code]

[2019-11-01 10:47] cliveseldon commented on #511
/assign @pugangxa

[2019-11-01 13:31] snowmanbamm commented on #508
For whatever it's worth, I am also encountering this same issue.

[2019-11-01 20:27] #511 closed

[2019-11-01 20:59] #414 closed

[2019-11-01 22:03] ifilonenko opened #513 "pip install kfserving fails"
/kind bug

**What steps did you take and what happened:**
[code]
[code]

**What did you expect to happen:**

... no error

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version: N/A
- Knative Version: N/A
- KFServing Version: 0.2.1
- Kubeflow version: N/A
- Minikube version: N/A
- Kubernetes version: (use `kub

[2019-11-01 22:42] yuzisun opened #515 "Flaky test for canary delete"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-re

[2019-11-01 23:04] yuzisun commented on #363
this should be resolved now.
/close

[2019-11-01 23:04] #363 closed

[2019-11-01 23:06] yuzisun commented on #343
we are using virtual service for single host routing now.
/close

[2019-11-01 23:06] yuzisun commented on #343
/close

[2019-11-01 23:06] #343 closed

[2019-11-01 23:07] yuzisun commented on #326
this is done.

/close

[2019-11-01 23:07] #326 closed

[2019-11-01 23:08] yuzisun commented on #325
/close

[2019-11-01 23:08] #325 closed

[2019-11-01 23:08] yuzisun commented on #334
this is done.

/close

[2019-11-01 23:08] #334 closed

[2019-11-01 23:25] yuzisun commented on #504
I suspect this should be fixed by Knative 0.9, since internal call should go through Istio local gateway not the ingress gateway

[2019-11-01 23:46] jinchihe commented on #513
Hey @ifilonenko i think this is related with https://github.com/kubeflow/kfserving/issues/513

[2019-11-02 00:11] jinchihe commented on #513
[code]

[2019-11-02 02:01] #495 closed

[2019-11-02 09:22] cliveseldon commented on #504
When do we plan to have Knative 0.9 as the required install for kfserving? Are there any kubeflow blockers to moving to 0.9?

[2019-11-02 16:19] #515 closed

[2019-11-04 05:48] pugangxa opened #522 "Sample of image_transformer does not work"
/kind bug
Sample under docs/samples/transformer/image_transformer is broken, there's python error in it.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
It's due to PR #492, kfmodel and kfserver is refactored now but the sample still inherit from transformer which does not exist now. Also some other symbols need be renamed.

**What did you expe

[2019-11-04 05:48] pugangxa commented on #522
/assign

[2019-11-04 07:01] jinchihe commented on #508
That was a GKE outage, close the ticket.
/close

[2019-11-04 07:01] #508 closed

[2019-11-05 09:58] capt2101akash opened #527 "All the examples inference service status stays at False"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Followed the steps to reproduce the sklearn/tensorflow examples to run a predictor module.

**What did you expect to happen:**
The predictor inference service to be at True/Ready state.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the i

[2019-11-05 12:18] #522 closed

[2019-11-05 13:52] yuzisun commented on #413
/close

[2019-11-05 13:52] #413 closed

[2019-11-05 13:54] yuzisun commented on #318
/close

[2019-11-05 13:54] #318 closed

[2019-11-05 13:57] yuzisun commented on #527
Can you help provide more information ? An output of full inference service status yaml would be helpful.

[2019-11-06 06:42] capt2101akash commented on #527
Here is what you requested:-
`apiVersion: serving.kubeflow.org/v1alpha2
kind: InferenceService
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"serving.kubeflow.org/v1alpha2","kind":"InferenceService","metadata":{"annotations":{},"name":"sklearn-iris","namespace":"kubeflow"},"spec":{"default":{"predictor":{"sklearn":{"storageUri":"gs://kfserving

[2019-11-06 22:06] jeffgriffith opened #530 "Python crash when kfserving creates minio client"
/kind bug

I'm unable to successfully deploy my own model deployed in the local minio service in kubeflow. I finally managed to capture the logs before the failed initialization disappeared. It looks like an index out of bounds on the hostname (note: kc is aliased to kubectl in the snippets):

[code]

**What steps did you take and what happened:**
- Uploaded (and browsed) a saved_model.pbtxt file

[2019-11-06 23:37] yuzisun commented on #530
I believe it is the issue fixed in https://github.com/kubeflow/kfserving/pull/430, if you try kfserving 0.2.1 it should work.

[2019-11-06 23:39] yuzisun commented on #530
https://github.com/kubeflow/kfserving/issues/427, you can confirm the issue if you see the same error.

[2019-11-07 07:17] hougangliu opened #533 "enable grpc or rest api"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
for now, all kinds of  kfserving model frameworks enable both grpc port and rest port, and knative  serving can only apply one user port (8080 by default, or the first port in user container), since inferenceservice doesn't specify any port, knative serving will always use 8080 port (8

[2019-11-07 07:22] hougangliu commented on #527
#469 may be the root cause

[2019-11-07 14:21] pugangxa commented on #527
If that is the case, I encountered it before too. You can try to add "minReplicas: 1" under predictor like below and have a try.
[code]

[2019-11-07 14:24] hougangliu commented on #527
right, making `minReplicas` to greater than 0 can also be a workaround

[2019-11-08 07:02] capt2101akash commented on #527
Tried that but with no success.
[code]

[2019-11-08 13:53] yuzisun commented on #527
something related to this issue https://github.com/knative/serving/issues/5163?

[2019-11-08 23:15] yuzisun commented on #513
fixed by https://github.com/kubeflow/kfserving/pull/518

[2019-11-08 23:15] yuzisun commented on #513
/close

[2019-11-08 23:15] #513 closed

[2019-11-09 20:25] yuzisun opened #535 "Pytorch cpu image is too big and takes long time to start container"
/kind bug

**What steps did you take and what happened:**
for pytorch cpu image we should install `pytorch-cpu` instead, kfserving should create a separate gpu image for pytorch.

**What did you expect to happen:**
The size is much smaller after install `pytorch-cpu`

[code]
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:*

[2019-11-09 20:47] yuzisun opened #537 "Create PyTorch GPU Image for GPU inference"
/kind feature

**Describe the solution you'd like**
For PyTorch GPU inference we need to create an image with `nvidia/cuda:10.0-cudnn7-devel-ubuntu18.04` as base image  and `Apex` which is pytorch extension with NVIDIA-maintained utilities to streamline mixed precision and distributed training.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2019-11-10 14:31] yuzisun opened #538 "[Help wanted] Add e2e test for canary rollout"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-11-10 14:31] yuzisun opened #539 "[Help Wanted] Add e2e tests for text/tabular/image explainers"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-11-10 17:41] #535 closed

[2019-11-11 03:50] pradithya opened #541 "Python package kfserving 0.2.4 is missing"
/kind bug

**What steps did you take and what happened:**
Run
[code]

returns
[code]

**What did you expect to happen:**
Able to install version 0.2.4

**Anything else you would like to add:**
It was working a couple of day ago and my internal package depends on this version.

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kuber

[2019-11-11 04:26] ellis-bigelow commented on #527
hey @capt2101akash ,
There are a bunch of incompatibilities with different istio versions and knative versions. It's a *huge* PITA, but almost certainly your problem. I recommend installing the latest knative, and following instructions there on how to install a compatible istio.

I'd read here: https://knative.dev/docs/install/, and come back if you get stuck. We hope to address this soon with be

[2019-11-11 04:38] ellis-bigelow commented on #480
We should make sure we deploy to the kfserving namespace. @johnugeorge, thoughts?

[2019-11-11 06:34] cliveseldon opened #542 "gcr.io/kfserving/alibi-explainer:0.2.1 missing"
/kind bug

[2019-11-11 06:36] cliveseldon commented on #542
Are there any public logs on a release that show how this failed/succeeded ?

[2019-11-11 06:48] capt2101akash commented on #527
@ellis-bigelow what to do if I am installing knative on a kubeflow cluster on gke for which istio comes as a package out of the box. Would you recommend me to delete the existing istio-ecosystem and reinstall it again, it might then break some things such as the ingress service that comes with gke kubeflow.

[2019-11-11 12:53] capt2101akash commented on #527
@all Here are my inputs in solving the case that I faced. As I was installing the knative on top of kubeflow on top of GKE, there has been a lot of dependency issues in between istio, knative and k8s cluster as such. I had to create a k8s cluster with istio enabled and not with kubeflow, the guide for kubeflow e2e in GKE will install kubeflow with the k8s cluster, which in turn also installs istio

[2019-11-11 12:53] #527 closed

[2019-11-11 13:14] yuzisun commented on #541
@pradithya we fixed sdk to match up with kfserving core release number, so try 0.2.1.

[2019-11-11 20:37] yuzisun commented on #542
the build failed with conn reset
https://pantheon.corp.google.com/cloud-build/builds/ac44ed8a-da36-4f0f-ae2c-17f3e90dc9ac?project=kfserving

[2019-11-11 23:22] ellis-bigelow commented on #542
Fixed! /close

[2019-11-11 23:24] ellis-bigelow commented on #542
Oh -- looks like this failed again. Something deeper?

[2019-11-11 23:57] ellis-bigelow commented on #542
docker pull gcr.io/kfserving/alibi-explainer:0.2.1
0.2.1: Pulling from kfserving/alibi-explainer
c7b7d16361e0: Already exists
b7a128769df1: Already exists
1128949d0793: Already exists
667692510b70: Already exists
bed4ecf88e6a: Already exists
8a8c75f3996a: Already exists
8c90ed29fb66: Already exists
984b0e9d1433: Already exists
d930e1ce5d4a: Already exists
a775af47b7b5: Pull complete
72907440595c:

[2019-11-11 23:57] #542 closed

[2019-11-11 23:58] ellis-bigelow commented on #541
0.2.4 was never supposed to exist! Sorry for the backwards incompat!

[2019-11-11 23:58] ellis-bigelow commented on #541
If this is a hard blocker for you, we can look into restoring it.

[2019-11-12 00:27] pradithya commented on #541
@ellis-bigelow @yuzisun That make sense. Thanks for clarifying.

I changed it to 0.2.1.1 and it is ok now. I will close the issue.

[2019-11-12 00:27] #541 closed

[2019-11-12 03:17] pugangxa commented on #533
Take a look at the code, except for tensorflow serving it's built in supported,  we did not really implement grpc logic to support it.
So the story is not only just expose a flag to select the port, but also add the grpc serving ability to kfserver.
Not sure do we have a protocol for the data, now I see it's all of format like
{
instances: []
}
We need clear proto to define the message if we want

[2019-11-12 09:41] pugangxa commented on #504
I used knative 0.9 from beginning and now even use knative v0.10.0, so far so good.

[2019-11-12 15:59] johnugeorge commented on #480
@ellis-bigelow When installed using kfctl, all controllers are deployed in `kubeflow` namespace by default.

[2019-11-12 16:07] yuzisun opened #546 "Allow passing model parameters for PyTorch server"
/kind feature

**Describe the solution you'd like**
Currently we can only pass `ModelClassName` on Pytorch spec, however most of time ModelClass requires additional parameters such as `EmbeddingSize` and `Layers` etc.

This is an example
[code]

**Anything else you would like to add:**
The proposal is to support passing additional parameters on pytorch spec

[code]

[2019-11-12 16:09] yuzisun commented on #546
@cliveseldon @animeshsingh @ellis-bigelow @rakelkar what do you think ?

[2019-11-12 17:38] cliveseldon commented on #546
Why do you need the parameters at inference time. The example seems very similar to https://cloud.google.com/blog/products/ai-machine-learning/ai-in-depth-serving-a-pytorch-text-classifier-on-ai-platform-serving-using-custom-online-prediction

Are the parameters not just needed for training?

[2019-11-12 17:53] alexcoca commented on #546
@yuzisun The current assumption of the server is that the user would save their model using `torch.save(model, PATH)` as opposed to passing the model state dictionary to `torch.save`, at the end of the training loop. This means that the deserialisation procedure should already know the state of the model and passing the arguments for the constructor is not necessary.

Does this make sense?

[2019-11-12 18:48] yuzisun commented on #546
@alexcoca currently we are doing `torch.save(model.state_dict(), PATH)` since this is suggested way on pytorch website https://pytorch.org/tutorials/beginner/saving_loading_models.html#saving-loading-model-for-inference. Saving the entire model seems unsafe.

[2019-11-12 19:03] alexcoca commented on #546
In this case, the parameters have to be passed, as you suggest, so that the model instance can be created and instantiated as opposed to unpickled, which is the current assumption.

[2019-11-12 21:59] jeffgriffith opened #547 "PVC model not found"
/kind bug

KFserving question (issue?) as it pertains to PVC storage of TF saved models. i've created an azure PV and copied data to it, standalone ubuntu pod had no trouble mounting it and that's how i copied my model into it (I mounted the PVC into /data on that pod and then deleted the pod then verified the data is still really there with a new instance):
[code]
Now when the predictor pod is in

[2019-11-12 22:31] ellis-bigelow commented on #547
Thanks for the bug report! This is one of our lesser tested codepaths. @rakelkar can you help?

[2019-11-12 22:34] ellis-bigelow commented on #33
/close

[2019-11-12 22:34] #33 closed

[2019-11-12 23:00] ellis-bigelow commented on #533
Let's discuss in one of the weeklies. This is a big upcoming topic (i.e. performance). Let's get it right. Hopefully OpenVino, Nvidia, and Tensorflow Serving can help us out here.

[2019-11-13 13:31] #433 closed

[2019-11-14 03:17] pradithya opened #548 "XGBoost Model Perfomance Issue"
/kind bug
XGboost model server perform poorly after deployed to k8s.

**What steps did you take and what happened:**
I did performance test for xgbserver using provided sample model.

`load.cfg`:
[code]

`req.json`:
[code]
Running locally (on Mac OS, 8 core machine) with vegeta
[code]

I am able to hit 1000 RPS with good latencies result.

[code]

But after deployed to K8S (with 4 core as CPU requ

[2019-11-14 19:49] jeffgriffith commented on #547
@ellis-bigelow @rakelkar i managed to successfully replace 0.2.0 with 0.2.1 in my general KF install and get this to work from an azure files PVC. Gonna close it.

[2019-11-14 19:49] #547 closed

[2019-11-15 01:27] ellis-bigelow commented on #548
Great find! Let me find someone who can look into this with you. Agreed that we need to find a good value for this. May also need to pass a config param.

[2019-11-15 03:18] Iamlovingit opened #551 "change storage-initializer.Dockerfile and initializer-entrypoint not work"
/kind bug
I want to use my local model file.  I have changed the storage-initializer.Dockerfile and add some logging in initializer-entrypoint.  Then i run `make deploy-dev`, but it seems like not work. Where is wrong?
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
### change Dockerfile, copy cifar10
[code]
### change initializer-entrypoint
[co

[2019-11-15 03:55] ariefrahmansyah opened #552 "Default and Allowed Image Version for Explainer and Predictor, KFServing 0.2.1"
On [install/0.2.1/kfserving.yaml](https://github.com/kubeflow/kfserving/blob/master/install/0.2.1/kfserving.yaml), default and allowed image version for alibi explainer and some predictors are still `0.2.0`.

Is it expected? Should it be updated to `0.2.1` too?

[2019-11-15 04:39] ellis-bigelow commented on #552
Ah! We need to regenerate these. Thanks!

[2019-11-15 04:45] pradithya commented on #548
Sure, I'll amend the PR if configuration is needed

[2019-11-15 04:50] ellis-bigelow commented on #551
We need a better developer story for this. The problem is make deploy-dev only updates the kubernetes controller. You need to rebuild the storage-initializer and then edit here: https://github.com/kubeflow/kfserving/blob/master/config/default/configmap/inferenceservice.yaml#L75

We want to make a better deploy-dev story, but we're not there yet. Does that help unblock you?

[2019-11-15 08:19] Iamlovingit commented on #551
@ellis-bigelow thanks a lot, that helps me. Now i can run my code. I wish newer developer story coming soon.

[2019-11-15 08:19] #551 closed

[2019-11-15 12:53] #552 closed

[2019-11-15 13:02] ariefrahmansyah commented on #552
Thanks, @ellis-bigelow!

[2019-11-15 14:56] radcheb commented on #369
👍

[2019-11-18 09:32] Iamlovingit opened #557 "change the pytorch server code, but it is not work"
/kind bug
i want to add some more informations to log, and have changed python/pytorchserver/pytorchserver/model.py, but it seems not work. how can i run my local pytorchserver code. thanks!
**What steps did you take and what happened:**
1. modify the `python/pytorchserver/pytorchserver/model.py`, add `logging.info`
[code]
2. build the pytorchserver image, and push:
`docker build -t my-pytorchserv

[2019-11-18 09:52] pugangxa commented on #557
Can you describe the configmap directly and check whether the value's get changed? If not you can also kubectl edit it directly.
I'm afraid it's not updated by your steps.

[2019-11-18 12:41] Iamlovingit commented on #557
Could you tell me how to describe the configmap directly?
`kubectl describe configmap` ?

[2019-11-18 12:58] Iamlovingit commented on #557
i run the command `kubectl describe cm inferenceservice-config -n kfserving-system`, the result is:
[code]
the config map is change.

[2019-11-18 21:04] yuzisun commented on #557
this looks good to me, can you check the pod if it is running the expected image?

[2019-11-19 00:55] Iamlovingit commented on #557
run  `kubectl descirbe pod`, the result is:
[code]
can you show me your model.py code? i am not sure my logging statments are right.

[2019-11-19 01:32] Iamlovingit commented on #557
i run it again this morning, the test code is worked. confusing!

[2019-11-19 03:15] fenglixa opened #558 "make deploy error with message: ClusterRoleBinding "kfserving-proxy-rolebinding" is invalid"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
make deploy-dev
or
make deploy

Error message "ClusterRoleBinding "kfserving-proxy-rolebinding" is invalid" reported

**What did you expect to happen:**
without error

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[code]

[2019-11-19 04:29] yuzisun commented on #558
we fixed the clusterrole name, you can delete the clusterrolebinding `kfserving-proxy-rolebinding` and try deploy again

[2019-11-19 05:17] fenglixa commented on #558
Thanks @yuzisun.
I run below CLI making it works now. could we add related steps to Makefile as well?

[code]

[2019-11-19 06:42] fenglixa commented on #347
Seems this issue is not exist now.

![image](https://user-images.githubusercontent.com/12505594/69122848-cd325e80-0ada-11ea-8f72-2d06bfb99469.png)

[2019-11-20 01:52] Iamlovingit commented on #557
close it.

[2019-11-20 01:52] #557 closed

[2019-11-20 11:13] Iamlovingit opened #562 "tensorflow sample fails to run"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
when i run tensorflow-canary sample, `kubectl apply -f tensorflow-canary.yaml`, the pod's status is
[code]
and about 3m after, the pod's status is
[code]
it seems like downloading the model files form gcs is too slow.
how can i slove this problem? thanks !
**What did you expect to happen

[2019-11-20 15:40] ryandawsonuk opened #563 "unable to work with pvc"
Am trying to follow https://github.com/kubeflow/kfserving/tree/master/docs/samples/pvc

I find that the storage-initializer does run and download the files. I see

[code]
But the service never becomes available. The kfserving-container logs:
[code]
But the model is there in a sense as I can `kubectl exec` into the container. An `ls -ltr` reveals that a symlink is there:
![image](https://user-image

[2019-11-20 16:57] ryandawsonuk commented on #563
The volumeMounts for the initContainer are:
[code]
And for the kfserving-container I see:
[code]
The path that the symlink points to does also contain the files:

![image](https://user-images.githubusercontent.com/22754674/69259791-b7926700-0bb6-11ea-8f54-f79dda31f235.png)

But it seems that the server can't read them in this way.

[2019-11-21 05:23] fenglixa commented on #563
I can run sucessfully for the PVC samples.
@ryandawsonuk , From the info you appended,  I don't think you run the mnist job completely, there are no "export" dir under your /mnt/pvc, as the follwing in my ENV, please check. Thanks.

![image](https://user-images.githubusercontent.com/12505594/69306256-d69a0300-0c61-11ea-88b3-79829eb5dd55.png)

[2019-11-21 09:45] ryandawsonuk commented on #563
Ok I actually ran a [different TFJob](https://github.com/SeldonIO/seldon-core/issues/1106#issuecomment-555059204) and put my model directly in `/mnt/pvc/`. So the problem could be something about my TFJob (perhaps tensorflow version) or my path. Will try with the reference sample.

[2019-11-21 10:12] fenglixa opened #564 "Basic Logger: Prediction didn't trigger message dumper"
Fllowing doc[ here](https://github.com/kubeflow/kfserving/blob/master/docs/samples/logger/basic/README.md)

Prediction didn't trigger message dumper, as below:
[code]
Get the message dumper pod, it's not triggerred:
[code]

Notes: I can trigger message dumper successfully by manually, which mean, message dumper in knative works well.

[2019-11-21 14:02] ryandawsonuk commented on #563
Which version of kustomize are you using? I'm hitting `no matches for OriginalId kubeflow.org_v1beta2_TFJob|~X|$(trainingName); no matches for CurrentId kubeflow.org_v1beta2_TFJob|~X|$(trainingName); failed to find unique target for patch kubeflow.org_v1beta2_TFJob|$(trainingName)` when trying to build the TFJob with kustomize

[2019-11-22 02:20] fenglixa commented on #563
@ryandawsonuk I am using kustomize 2.0.3, it was required and mentioned in [minist example document](https://github.com/kubeflow/examples/tree/master/mnist)
Seems other version of kustomize has issues on it.

[code]

[2019-11-22 07:30] fenglixa opened #565 "SERVICE_URL is missed after <14e54c16> committed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
SERVICE_URL is not exist after onnx readme updated
fix in 14e54c16 is not fully updated

**What did you expect to happen:**
SERVICE_URL should be set before used

**Anything else you would like to add:**
As below picture, the code change (14e54c16) is not correct, the SERVICE_URL was uns

[2019-11-22 10:06] Iamlovingit opened #567 "storage_initializer.download_local"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
when using storage download local model. The `_download_local` fucntion creates a soft-link, this will lead to pytorchservr/tfserving can not correctly load the model(can not open).
https://github.com/kubeflow/kfserving/blob/c3aeced18f1c5a011b277d3fab42d1e81c478fa8/python/kfserving/kfser

[2019-11-22 14:03] #565 closed

[2019-11-22 17:04] jlewi opened #568 "Uber Issue: KFServing admission hook causing widespread issues because its a global admission hook"
/kind bug

We are getting lots of reports about problems caused because the KFServing admission hook is unavailable preventing pods from being created. The error message looks like the following

[code]

Here's my understanding

* Currently AdmissionHooks can not be scoped by label; so a pod admission hook is being applied to all pods
* The KFServing Admission Hooks is being applied to all pods an

[2019-11-22 17:12] jlewi commented on #568
How is the inference service currently scoped?

Here's the config for the spec
[code]

[inferceservice.yaml.txt](https://github.com/kubeflow/kfserving/files/3880620/inferceservice.yaml.txt)

I notice the following

[code]

* Does failurePolicy mean that if the hook is unavailable we block pod creation? Is that what we want?
* It looks like the namespace selector is opt out; i.e. namespaces have to

[2019-11-22 17:21] cliveseldon commented on #568
Short term fix could be to Ignore errors: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#failure-policy though that would mean kfserving deployments might be broken.

Longer term would be to match labels which is available from 1.15? https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-objectselector

[2019-11-22 17:24] jlewi commented on #568
Possible fixes

1. Add the label control-plane to the kubeflow namespace
1. Change the namespaceSelector to be opt in; match namespaces with specific labels

Ref: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-namespaceselector

# Possible Work Arounds

* Add the label `control-plane` to the kubeflow namespace
* Update the inferservice w

[2019-11-22 17:28] ryandawsonuk commented on #568
So this is related to https://github.com/kubeflow/kfserving/issues/480 As long as the kfserving controller is available then things work, even though it is looking at every Pod. The way that all Pod submissions can fail is if the controller itself isn't available. When kubernetes tries to bring it back then the hook fires but the controller isn't there to implement the hook so you get a catch-22.

[2019-11-22 17:35] ellis-bigelow commented on #568
I would definitely lean to simply add a control-plane label to the kubeflow namespace.
This is one of the newer features from kubebuilder that was probably missed when the original kf controllers were set up.

Opt in is a pretty poor UX for KFServing. If we want to avoid adding the control-plane label, I'd much rather users not install KFServing by default or have the webhook fail open.

[2019-11-22 17:55] jeffgriffith opened #569 "pvc problem with custom inferenceservice"
/kind bug

**What steps did you take and what happened:**

I'm trying to deploy a 'custom' inferenceservice (just using the base tensorflow/serving image). while i am able to declare the volumeMounts within spec/default/predictor/custom/container, there does not seem to be a place to specify the volumes themselves. looking at the base InferenceService spec, only default and canary seem to be valid

[2019-11-22 19:47] ellis-bigelow commented on #569
This has no semantic meaning for KFServing
[code]

Can you show the output of a kubectl command showing volumes?

[2019-11-22 19:49] ellis-bigelow commented on #567
Thanks for the report. Huge bummer. Assigning to @rakelkar who owns this code.

[2019-11-22 19:49] jeffgriffith commented on #569
[code]

[2019-11-22 19:50] ellis-bigelow commented on #564
/assign @cliveseldon

[2019-11-22 19:50] jeffgriffith commented on #569
thanks @ellis-bigelow . the volume is above. as i said, it works fine from a tensorflow predictor. i realize from the InferenceService spec that volumes would have no meaning, but i don't see how one would ever reference the pvc from a custom container in that case (maybe i'm missing something obvious in k8s :-) )

[2019-11-22 19:51] ellis-bigelow commented on #562
Can you try setting min nodes to 1 and see if this resolves for you? It should load even if it takes a long time. How big is your model?

[2019-11-22 20:04] yuzisun commented on #569
Can you try this? there is a well-known environment variable `STORAGE_URI` for custom container which kfserving understands and create the pvc volume.
[code]

[2019-11-22 20:08] jeffgriffith commented on #569
perfect. thanks Dan! i'll give that a try.

[2019-11-22 20:40] jlewi commented on #568
From a Kubeflow perspective a cluster can have 3 types of namespaces

* **kubeflow**  - This is the system namespace where controllers and other shared components should run
    * This is not the name space where users should consume KF resources
    * i.e. This is not the namespace in which I would expect users to be deploying models

* **kubeflow user namespaces ** - These are the namespaces in

[2019-11-22 20:57] yuzisun commented on #568
This is what we did before kubernetes 1.15, we have similar profile controller running in our cluster which adds a label to indicate which ones are user namespaces, so we have a namespace selector in mutating we hook configuration that only allow pods from user namespaces go through the kfserving pod mutator. Since we are on kubernetes 1.15 now we switched to use the object selector then only kfse

[2019-11-22 21:50] jeffgriffith commented on #569
Thanks @yuzisun @ellis-bigelow. This worked, however the semantics of the storage uri seems to be a bit different from a typical predictor like tensorflow in how it uses the meta.name to construct the base path as well as copy the data from /mnt/pvc. anyway, i'll figure that out and try to document it separately. thanks again! i'll try to make some new samples based on this if you guys are interes

[2019-11-22 21:50] #569 closed

[2019-11-23 00:03] yuzisun commented on #569
@jeffgriffith feel free to open another issue to discuss how to improve the current behavior, looking forward to your samples !

[2019-11-23 01:46] jlewi commented on #568
@yuzisun the profile controller can also add labels to each namespace. This is currently a hard coded list
https://github.com/kubeflow/kubeflow/blob/183919dccbe1e5c77aece17fd5064992383dddb6/components/profile-controller/controllers/profile_controller.go#L118

So we should add an appropriate label for kfserving.

I think we want application specific labels because someone might want to enable/disab

[2019-11-23 02:34] pugangxa commented on #567
How do you do your test? To prove copy option work you must rebuild the storage initializer and specify  it in your configmap.
I remember I tried it before and it works, and checked seems no breaking changes these days. Also make sure you must follow the steps to create pv and then specify the path correctly. The local download only works for the pv and since the model already mounted the pv the s

[2019-11-23 02:44] pugangxa commented on #564
Not sure whether it's related but just a reminder since it's a common issue these days for inside cluster access and more than 3 person reached me for that.
Do you install the cluster local gateway? Please refer to PR #561 if you have not.

[2019-11-23 02:51] pugangxa commented on #564
Also it will be very helpful if the log for logger container is provided, thanks.

[2019-11-24 22:30] jlewi commented on #568
To summarize some discussion in slack

* The webhook is currently defined & created by the controller and not using a kustomize manifest
   https://github.com/kubeflow/kfserving/blob/master/pkg/webhook/webhook.go#L118

* The code currently doesn't explicitly set that namespace criterion but relies on the default behavior of the controller runtime
   https://github.com/kubernetes-sigs/controller-ru

[2019-11-25 05:23] pugangxa opened #572 "Run "make deploy-dev" should use logger built by user"
/kind feature
Now "make deploy-dev" only replace manager to use the one built by user, we should do it for the new added binary logger too.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
logger get replaced by kustomize to use the one built by user too

**Anything else you would like to add:**
[Miscellaneous information that will assist in solvi

[2019-11-25 19:38] Tomcli opened #574 "Migrate knative crd from v1alpha1 to v1"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
With #543, we will migrate to Knative 0.9 which supports the latest Knative v1 api. Since we are still using the v1alpha1 Knative crd, we should consider migrating it to the v1 api before Knative v1alpha1 deprecated in the future version.

**Anything else you would like to add:**
[Misc

[2019-11-25 19:38] Tomcli commented on #574
/assign @Tomcli

[2019-11-25 19:39] Tomcli commented on #574
cc @animeshsingh

[2019-11-26 09:48] sammy04 opened #576 "Getting PredictorHostnameUnknown error when using custom image in azure container"
I have deployed kfserving using kubeflow. I am using custom predictor with image in azure container registry. I have provided serviceaccount in custom yaml. But I am getting below error
[code]

custom inference service yaml file:
[code]
azure secret yaml file:
[code]

Both pod and deployment are not getting created.
I have tried with separate installation of istio 1.1.7, knative 0.8 and kfserving,

[2019-11-26 13:21] WangAllen851018 commented on #546
@yuzisun In the example of pytorchserver, the modelClassName is 'Net', but if i will use the ResNet to make inference, the initialization of modelClassName 'ResNet' ` __init__(self, ResidualBlock, num_classes=10)` must contain the other  Class 'ResidualBlock' , how can i solve the problem ？Thank you ~

[2019-11-26 17:38] yuzisun commented on #546
is `ResidualBlock` the actual class ? that can be a bit tricky.. my idea is to pass json which then can be turned into a python dict and pass to the model class constructor.

[2019-11-26 19:46] AGKhalil opened #580 "Kubeflow StatefulSets and Deployments fail to start"
/kind bug

I've been trying to get Kubeflow to work on a local k8s cluster without success. Interestingly, this problem only occurs when I delete and reapply my Kubeflow config. So if I completely remove my cluster and do a fresh install, Kubeflow works just fine. But once I delete Kubeflow and start it again I get the following.

[code]

When I take a look at the events I get:
[code]

I did a lit

[2019-11-27 00:39] yuzisun commented on #558
@fenglixa feel free to send a PR, thanks!

[2019-11-27 00:43] yuzisun commented on #530
/close

[2019-11-27 00:43] #530 closed

[2019-11-27 01:47] yuzisun commented on #562
Seems there is network issue which takes long time to download model and after sometime it scales down to 0.

[2019-11-27 02:41] fenglixa commented on #558
OK, will provide PR for this.

[2019-11-27 04:55] ellis-bigelow commented on #580
There's a problem w/ the kubeflow install and a admission webhook deadlock. Short term fix is:

kubectl delete mutatingwebhookconfigurations.admissionregistration.k8s.io
kubectl delete validatingwebhookconfigurations.admissionregistration.k8s.io

[2019-11-27 05:00] ellis-bigelow commented on #576
Can you check the logs of the kfserving controller?

[2019-11-27 09:50] WangAllen851018 commented on #546
Thanks @yuzisun, your idea is brilliant, i will try it ~~

[2019-11-27 11:39] sammy04 commented on #576
Log from event:
[code]
[kfserving controller log.txt](https://github.com/kubeflow/kfserving/files/3896633/kfserving.controller.log.txt)
[code]

[2019-11-27 17:35] yuzisun commented on #546
@WangAllen851018 are you planning to contribute this? If this is case I can point you where I left off.

[2019-11-27 18:07] sammy04 commented on #576
as per below error there is problem while accessing azure container registry. However I have attached ACR.
```unsupported status code 401; body:```

I also tried sklearn sample example with private azure storage and azure service account. But private storage is not accessible. As per below error it seems that python predictor program is not getting azure credential values from environment.
```"Azu

[2019-11-28 01:00] Iamlovingit commented on #567
I modify the storage initializer dockerfile, add local cifar10 to image. Then rebuild the image and modify the configmap. At last deploy the kfserving by command `make manifest & make deploy-dev`. The container ` kfserving-container` can not load the model file correct.

[2019-11-28 08:25] pradithya opened #584 "Default nthread for xgbserver"
/kind feature
Related to #549 and #548

**Describe the solution you'd like**
A fancier default for configuring nthread in xgbserver.
Currently it default to CPU request if user doesn't specify in XGBoostSpec

**Anything else you would like to add:**
Optimal nthread value depends from workload to workload.
For simple case where there is only 1-row inference per request, setting nthread=1 usually ac

[2019-11-28 08:31] WangAllen851018 commented on #546
Yes, i have the plan to contribute this part of pytrochserver, do you have some other suggestions for the problem?

[2019-11-28 15:33] #548 closed

[2019-11-29 01:36] yuzisun commented on #576
@sammy04 are you using the kfserving version part of current kubeflow installation ? this issue has been fixed in 0.2.1+.

[2019-11-29 11:11] ellis-bigelow commented on #584
Interesting point about inference per request. Do you think it makes more sense to set it based on the # instances the server receives?

[2019-11-29 19:03] sammy04 commented on #576
@yuzisun I tried with kfserving 0.2.1, istio 1.1.7, knative 0.8. But still getting ContainerMissing error.
[code]

[2019-11-29 19:06] yuzisun commented on #576
@sammy04 are you still seeing this error?
[code]

[2019-11-29 19:57] sammy04 commented on #576
@yuzisun No, I am not getting "Failed to find service account" error with kfserving 0.2.1. Hence able to access private azure blob storage. (with sample public predictor image given in examples)

But I am still unable to use private ACR custom predictor image.

[2019-11-29 20:02] yuzisun commented on #576
what's the full output of `kubectl get revision model-predictor-default-5wk27 -o yaml` ?

[2019-11-29 20:20] sammy04 commented on #576
@yuzisun
revision yaml file:
[revision.txt](https://github.com/kubeflow/kfserving/files/3906339/revision.txt)

[2019-11-29 22:06] sammy04 commented on #576
it got resolved after adding imagepullsecret.
thanks @yuzisun

[2019-11-29 22:06] #576 closed

[2019-12-03 10:38] koenmtb1 commented on #562
Just came across this issue, I see you're located in Beijing. Are you using a VPN? Because Google Storage might be blocked.

[2019-12-03 15:04] ryandawsonuk commented on #562
It seems like https://github.com/googleapis/google-auth-library-python/issues/211#issuecomment-345048835 never got fully resolved. I've hit this today when downloading models from a public bucket (so no auth is actually needed). The file did seem to download successfully (at least it logs that) but the problem connecting to the metadata server seemed to prevent the init from completing. In my case

[2019-12-03 18:53] ellis-bigelow commented on #580
This has been resolved in 0.2.2
/close

[2019-12-03 18:53] #580 closed

[2019-12-03 18:54] ellis-bigelow commented on #567
Do you have any logs?

[2019-12-05 01:45] animeshsingh commented on #568
@jlewi three PRs have gone in, one each in kfserving, manifests and kubeflow profile controller to tackle this.

[2019-12-05 05:25] jlewi commented on #568
Thanks @animeshsingh!

Can you link to the relevant PRs so we can ensure they land in 0.7.1.

It looks like #571 is the change to kfserving.

It looks like #631 updated manifests to kfserving 0.2.2. I assume 0.2.2 includes #571?

Can we just cherry-pick #631 on to the v0.7-branch of manifests to create a 0.7.1 KFDef manifest which is shipping KFServing 0.2.2

Before we do that we need to take care

[2019-12-05 05:38] jlewi commented on #568
@lluunn you are the buildcop this week can you help with the above steps and coordinating the 0.7.1 release.

[2019-12-05 17:14] animeshsingh commented on #568
@lluunn am hoping you can cover this. Letme know if you will need any info. From our persepctive, two important PRs which need to lans in 0.7.1 are:

https://github.com/kubeflow/manifests/pull/631

and

https://github.com/kubeflow/kfserving/pull/571

[2019-12-05 18:19] lluunn commented on #568
@animeshsingh
 To confirm, kubeflow/manifests#631 is to move kfserving to 0.2.2, and 0.2.2 has #571, so after cherrypick  kubeflow/manifests#631 to 0.7, I don't need to do other things with #571, right?

[2019-12-05 18:45] axsaucedo commented on #284
I would second this, and even making it easier by using a secret with the name `s3-auth` or similar by default if present, as this would make AWS support easier (and could be a similar approach to other cloud providers)

[2019-12-05 20:15] animeshsingh commented on #568
@lluunn yes.

And do #571 and #4533 is what you need

[2019-12-06 02:56] pugangxa opened #590 "Implement new developer commands to deploy kfserving with local images"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

[2019-12-06 05:36] #558 closed

[2019-12-06 14:54] wronk commented on #527
@capt2101akash, can you give any hints on which versions were compatible with each other? We're also hitting this issue on [default CLI guide](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) for running KF 0.7 on GKE. The config we used was `kfctl_gcp_iap.0.7.0.yaml`

[2019-12-06 19:37] lluunn commented on #568
When I tried to cherrypick kubeflow/manifests#631 to 0.7, I got merge conflict on some kfserving files.
Can someone from kfserving help cherrypick and resolve conflict?

[2019-12-09 18:04] jlewi commented on #568
@lluunn I think a suitable solution is just to overwrite the files on the v0.7-branch for kubeflow/kfserving with the files on master at the commit for #587

I think you can do this just by doing the following

1. Create a branch v0.7-branch
2. Check out the files from master onto that branch; something like

[code]

  * Although you may need to use a specific commit rather than the tip of master.

[2019-12-09 20:17] animeshsingh commented on #568
@jlewi I synced up with @lluunn last Friday - we are hopefully past that

[2019-12-11 01:13] jlewi commented on #568
Thanks @animeshsingh so IIUC

* manifests on 0.7-branch have been updated to include the updated KFServing manifests
* We still need to release an updated profile controller to enable the KFServing web-hook on profile created namespaces
    * Without this users have to manually label their namespaces to turn on the KFServing webhook

[2019-12-11 02:29] pugangxa opened #594 "Enhance the logger to support predictor listening on customized port"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Now for logger we need call predictor service which is hard coded to be 0.0.0.0:8080. That's fine for most of the cases, but it's in fact a limitation:
- If user use custom spec and defined another container port for predictor/transformer/explainer, the call service will fail
- If late

[2019-12-11 03:28] animeshsingh commented on #568
This PR went into Profile controller and was cherry picked in release
https://github.com/kubeflow/kubeflow/pull/4533

[2019-12-11 04:52] animeshsingh opened #596 "Upgrading KFServing to KNative 0.11"
/kind feature

**Describe the solution you'd like**
KFServing needs to be upgraded to KNative 0.10 for getting the latest enhancements around cold starts, caching etc.

This requires a chain of cascading dependencies.

KNative 0.10 takes a dependency on Kube 1.15.3 APIs . Best is to revisit this from backwards now, first migrating KFServing dependencies to Kube 1.14+ APIs et all before visiting KN

[2019-12-11 04:57] animeshsingh commented on #596
/assign @hougangliu @jinchihe @pugangxa @Tomcli @animeshsingh

[2019-12-11 07:55] cliveseldon commented on #594
If the protocol is gRPC would we still use 8080 or should we change to another as 8080 is assumed to be REST?

[2019-12-11 09:06] pugangxa commented on #594
Threre's no technical blocker and in fact the interface from user point of view would be all the same because knative just wrap it and no port need be sepicified to access the ksvc. But I prefer to using another port, and the kfserver.py implementation also used another port to be the default grpc port.

[2019-12-11 17:27] jlewi commented on #568
Thanks looks like profile controller manifests on master were updated in
kubeflow/manifests#646

Do we still need to cherry-pick this to the v0.7-branch of manifests?

[2019-12-11 18:55] lluunn commented on #568
step 1~5 of https://github.com/kubeflow/kfserving/issues/568#issuecomment-561974987 is done.

We actually didn't have any release in kubeflow/kfctl repo before.
Should we release new 0.7.1 kfctl from kubeflow/kfctl?

[2019-12-11 19:05] jeffgriffith opened #597 "Unable to hit primary endpoint with gRPC"
/kind bug

**What steps did you take and what happened:**

Using kfserving 0.2.2, I have a custom container launching either tfserving or trt-is with gRPC port exposed (both work fine), however i am unable to reach the instance if i use the main virtual service endpoint (overriding the authority header to specify these). for example:

**Both of these work with gRPC:**
mnist-predictor-default.defau

[2019-12-11 19:06] jeffgriffith commented on #597
@yuzisun i created this so we don't lose track of it per our discussion.

[2019-12-11 23:50] lluunn commented on #568
I tried the 0.7 kfctl (same as before) with the new 0.7.1 kfdef: https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.1.yaml.
Deployment succeeded, endpoint is accessible, and I can create and connect to a notebook.

[2019-12-11 23:51] lluunn commented on #568
Should we close this one?

[2019-12-13 03:05] hougangliu commented on #597
had created same issue https://github.com/kubeflow/kfserving/issues/533

[2019-12-13 18:34] jlewi commented on #568
@lluunn Thanks! To verify that things are working as expected in the 0.7.1 release can you

1. Paste into this issue the output of

[code]
    * we want to verify that the label for the KFServingMutatingWebHook is added to the namespace

1. The output of

[code]

    *  We want to verify that the hook is only applied to namespaces with specific labels and the labels match the labels set by the pro

[2019-12-13 18:45] lluunn commented on #568
[code]

Seems there are two versions:

[code]

[2019-12-13 19:06] jlewi commented on #568
@animeshsingh  should we modify the first service as well?

[2019-12-13 19:47] amygdala opened #602 "installation instructions need to accommodate the KF0.7 installation of knative-serving"
/kind bug

It looks like the kf0.7 install (at least via the c2d app) includes installation of some version of knative-serving.  So the instructions here: https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#install-knative-on-a-kubernetes-cluster  ("For Kubeflow install, you can install Knative Serving v0.8 via the following commands after downloading repository kubeflow/mani

[2019-12-13 19:53] yuzisun commented on #568
no, the first one is not global mutator, it is only for inference service crd.

[2019-12-13 21:35] #412 closed

[2019-12-14 07:40] Iamlovingit commented on #567
sorry for late reply. iill show my dockerfile, and wrong msg below:
* add  `copy` to dockerfile.
**storage_initailizer dockerfile:**
[code]
* rebuild the storage image. and the modify the config map.
`config/default/configmap/inferenceservice.yaml`
[code]

* modify the pytorch sample storage uri to 'local'
**pytorch.yaml**
[code]

* deploy kfserving
`make mainifest &make  deploy-dev`

*  wrong mes

[2019-12-14 08:26] ChanYiLin commented on #504
I am using [Kubeflow Deployment with kfctl_k8s_istio](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)
I get the same error when doing [tensorflow example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow)

[code]
the request is redirected to the dex/auth

[2019-12-14 08:31] ChanYiLin commented on #504
@pugangxa Hi, may I know how do you deploy your kubeflow? like which version of kfctl you are using? Thanks!

[2019-12-14 12:27] pugangxa commented on #504
I did not use this kind of auth but for knative 0.9+ it do use cluster local gateway. Please refer to PR #561 to install cluster local gateway and have a try.

[2019-12-16 18:32] animeshsingh commented on #602
@amygdala I will correct some of the verbiage there

/assign @animeshsingh

[2019-12-16 19:02] yuzisun opened #604 "Flaky KFServing e2e tests with 404s"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-re

[2019-12-16 19:29] zhenghuiwang opened #605 "Add licenses for dependencies in KFServing images for Kubeflow 1.0"
Related to kubeflow/testing#539 https://github.com/kubeflow/kubeflow/issues/4061

Need to add all license content for thrid-party dependencies in KFServing controller images.

For Golang images, you may find these instructions helpful to extract all license files:

https://github.com/kubeflow/metadata/blob/master/third_party_licenses/README.md

[2019-12-16 19:29] zhenghuiwang commented on #605
/cc @yuzisun @ellis-bigelow @animeshsingh

[2019-12-16 19:39] animeshsingh commented on #605
Thanks @zhenghuiwang .
Letme dig deeper - believe this is targeted for 0.1 release?

/assign @animeshsingh

[2019-12-16 19:42] zhenghuiwang commented on #605
Thanks @animeshsingh Yes, this is for Kubeflow 1.0 release.

[2019-12-16 20:02] animeshsingh commented on #605
Thanks - meant 1.0

[2019-12-17 02:07] jinchihe commented on #604
@yuzisun Seems the problem cannot be reproduced 100%. Thanks

[2019-12-17 11:51] sshakeri commented on #568
I lost all my pods all of a sudden. @jlewi's workaround here works, got the pods back thanks https://github.com/kubeflow/kfserving/issues/568#issuecomment-557619909

[2019-12-17 12:02] #572 closed

[2019-12-17 12:21] yuzisun opened #606 "Queue proxy sidecar resource percentage should be set to 20 instead of 0.2"
/kind bug

**What steps did you take and what happened:**
`DefaultQueueSideCarResourcePercentage` is incorrectly set to 0.2 which is really 0.2%(https://github.com/knative/serving/blob/353f8fb7fbb690e579ff9975ac2c433d8b733d5d/pkg/reconciler/revision/resources/queue.go#L138) of the cpu limit for main container, so the cpu limit is set to lower bound 40m according to https://github.com/knative/servi

[2019-12-17 13:33] SachinVarghese opened #607 "Controller-runtime in vendor files create a global kubeconfig flag"
/kind bug

I am using the kfserving pkg/client as a dependency in my project where I create a kubeconfig flag. This clashes with the global kubeconfig flag created by controller-runtime in vendor files at runtime. https://github.com/kubeflow/kfserving/blob/master/vendor/sigs.k8s.io/controller-runtime/pkg/client/config/config.go#L38

[2019-12-17 14:56] yuzisun commented on #431
have not seen this for a while
/close

[2019-12-17 14:56] #431 closed

[2019-12-17 15:00] yuzisun commented on #190
in favor of https://github.com/kubeflow/kfserving/issues/574 now.

/close

[2019-12-17 15:00] #190 closed

[2019-12-17 17:51] animeshsingh commented on #596
/reopen

[2019-12-18 05:37] jinchihe opened #609 "Need a API for user to wait for kfserving ready in SDK."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Need a API for user to wait for kfserving ready in SDK. such as :
[code]
if so user can easily know the kfserving has been ready and do following...

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-12-18 05:37] jinchihe commented on #609
/assign

[2019-12-18 09:58] vpavlin commented on #299
@Tomcli is this still an issue? There has been changes around the config map since your issue report.

[2019-12-18 10:05] vpavlin opened #611 "Manager is not reporting any errors if the configuration for mutators is missing in ConfigMap"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If you deploy KFServing with Kubeflow 0.7.0 the ConfigMap will not have resource configuration for `logger` and `storageInitializer` and the mutation will fail here https://github.com/kubeflow/kfserving/blob/master/pkg/webhook/admission/pod/logger_injector.go#L51 without reporting anythi

[2019-12-18 10:11] vpavlin opened #612 "Uninitialized `SecurityContext` in injected containers prevent pods to start on OpenShift 4.2"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When using KFServing from Kubeflow 0.7.0 on OpenShift 4.2 serving pods fail to start with

[code]

This is due to uninitialized `SecurityContext` in the pod here:

* https://github.com/kubeflow/kfserving/blob/master/pkg/webhook/admission/pod/storage_initializer_injector.go#L165-L183
* h

[2019-12-18 13:28] yuzisun commented on #611
Kubeflow installation generally is lagging behind kfserving master and they also deploy to different namespaces, If you already have kubeflow installation then we suggest use kubflow’s kfserving installation not from kfserving master.

[2019-12-18 14:24] vpavlin commented on #611
Hi @yuzisun, sorry you are obviously right and this particular error showed because of mismatching Kubeflow and KFServing version.

On the other hand, it was really hard to debug and find the source of the issue, so I am proposing a change in mutator logging here: https://github.com/kubeflow/kfserving/pull/613 which should help with  with figuring out what is going on. PTAL and let me know if you

[2019-12-18 17:24] Tomcli commented on #299
This is fixed with the webhook changes in the past few weeks. I can close this now.

[2019-12-18 17:24] #299 closed

[2019-12-24 11:42] yuzisun commented on #604
@cliveseldon @jinchihe e2e test polls the service ready condition and then sends the request to the service, looks it is a real bug in controller how we report readiness. I suspect here is the issue, we call creating virtual service and immediately mark it "ready" https://github.com/kubeflow/kfserving/blob/master/pkg/controller/inferenceservice/resources/istio/virtualservice.go#L286.

[2019-12-24 12:45] #606 closed

[2019-12-26 02:23] jinchihe commented on #604
@yuzisun Yes, I check the E2E test, I think that's not env problem, may be our code issue.

[2019-12-30 17:27] SarathChandran commented on #576
@sammy04 Could you tell where did you add imagepullsecret in you predictor spec?

[2020-01-01 15:39] #590 closed

[2020-01-01 22:54] sammy04 commented on #576
@SarathChandran
I created imagepullsecret and added that to service account yaml file as below.
[code]

[2020-01-02 09:41] jinchihe commented on #604
/P1
we need to take this as high priority, the CI tests have been broken, and reproduce easily.
@cliveseldon Would you have time to take a look? Thanks!

[2020-01-02 11:47] WangAllen851018 commented on #163
@rakelkar Can you show me an example, how to modify the /etc/hosts, because i have
tried several methods, but the predict still do not work......

[2020-01-02 13:04] WangAllen851018 commented on #117
@ellis-bigelow  Can you show me an example, how to modify the /etc/hosts, because i have
tried several methods, but the predict still do not work......

[2020-01-02 16:33] ryandawsonuk commented on #201
Implemented by https://github.com/kubeflow/kfserving/pull/467

[2020-01-02 16:33] #201 closed

[2020-01-02 17:21] rakelkar commented on #163
What did you try to do?

On Thu, Jan 2, 2020, 3:47 AM WangAllen851018 <notifications@github.com>
wrote:

[2020-01-03 00:21] WangAllen851018 commented on #163
I have tried to run the example of TensorRT, but i do not know the format of URL mapping in the /etc/hosts, so when i query the TensorRT model in the workspaces, it does not work, can you show me your method or URL you run successfully, thank you ~!

[2020-01-03 03:45] WangAllen851018 commented on #163
@rakelkar I have tried to run the example of TensorRT, but i do not know the format of URL mapping in the /etc/hosts, so when i query the TensorRT model in the workspaces, it does not work, can you show me your method or URL you run successfully, thank you ~!

[2020-01-03 09:10] Iamlovingit opened #619 "`rolllout_canary` by sdk, the service's status will turn to 'false' for a while."
/kind bug
when adding canary spec by kfserving sdk to  inferenceservice, the inferenceservice's status will turn to 'false' for a while.  what can i do to keep the inferenceservice's status is 'True' when `rollout_canary`.
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

**What did you expect to happen:**
keep the inferenceservice's statu

[2020-01-05 05:07] ellis-bigelow commented on #619
Can you try a `kubectl get inferenceservice hdfsmodel -oyaml` and show us the output. Or perhaps `kubectl get ksvcs -oyaml`

[2020-01-05 05:08] ellistarn opened #620 "PVC sample is reported to be failing"
Investigate and fix.

[2020-01-05 21:38] yuzisun commented on #163
@WangAllen851018 if you are getting 404, you are probably hitting our top level host with `tensorrt-simple-string.default.example.com`, this example is a bit outdated after we introduced top level istio virtual service which requires supported inference server to conform to KFServing data plane protocol while TRTIS currently does not. To walk around you can try directly hit the underlying service

[2020-01-06 01:11] Iamlovingit commented on #619
thank you for your response. this is the command `kubectl get inferenceservice hdfsmodel -oyaml` output. when i call `KFServingClient.rollout_canary`, the `hdfsmodel` status will turn into `False` about a minute, and then turn into `True` back. In online environment, it is not allowed offline the service even a second.
[code]

[2020-01-06 01:46] WangAllen851018 commented on #163
I just curl the example with your modified service, it works with the right result, it seems that the doc needed to be fixed later.
Thank you for your answer !! ~

[2020-01-06 01:52] yuzisun commented on #619
I think this is just an issue how we report the status, when we add the canary endpoint it propagates the canary endpoint status to the overall inference service readiness condition, since it takes a brief time to come up for canary endpoint you would expect to see false during a short moment, however the default endpoint is still available and in that short period traffic are still routing to def

[2020-01-06 02:15] Iamlovingit commented on #619
thanks. i have tested keep requesting when adding canary to service, the service can keep working. Good job :).  But it is also a question as you point it out, if i call `KFServingClient.get` to get service url every time,  when i adding the canary to service, the `KFServingClient.get` response is `null`, but actually the service is accessed. i think it is necessary to fix it.

[2020-01-06 06:36] jinchihe commented on #619
I'm going to take a look this.
/assign

[2020-01-06 06:38] jinchihe commented on #620
@Mojokb Would you please append details for the problem here? thanks.

[2020-01-06 06:48] jinchihe commented on #619
@Iamlovingit After adding canary, the `KFServingClient.get` response is `null`? if so may be another bug... how long time to back real isvc after adding canary?

[2020-01-06 07:06] Iamlovingit commented on #619
i mean the `url` in response is null, the response status is `False`. about 10-30 seconds.

[2020-01-06 07:16] mojokb commented on #620
I edited source from https://github.com/kubeflow/kfserving/blob/master/docs/samples/pvc/mnist-pvc.yaml.
I updated the ${PVC_NAME} to the created PVC name in the mnist-pvc.yaml and apply
like this.
[code]
but pod got error like this.
[code]

When I checked the log, I got a message like this.
[code]

[2020-01-06 08:18] jinchihe commented on #620
I think that's just message is not good, check the code below:
https://github.com/kubeflow/kfserving/blob/5f8461762f7f94187e89382a20ea6f17907cc5ff/python/kfserving/kfserving/storage.py#L38

I guess the `/mnt/pvc/export` does not exist.
@mojokb Could you please confirm if the `export` exist in the PVC? Could you please share your PVC `mnistpipeline-x5ffs-mnist-model` content? Thanks.

[2020-01-06 09:30] mojokb commented on #620
oops. I got a typo. I misunderstood mounted directory.

[2020-01-06 20:48] jtfogarty commented on #419
/area docs
/priority p2

[2020-01-07 01:12] jinchihe commented on #620
If so I think we can just enhance the message to clear that.

[2020-01-07 02:15] pugangxa opened #621 "The "file://" storage type does not work"
/kind bug
In the document and the python message it's said the "file://" storage type is supported, but there's no way to use it. It should be deprecated since we already have the pvc type.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
No matter what I set, there's kind of message like:
[code]
**What did you expect to happen:**
Remove the "fi

[2020-01-07 05:53] mojokb commented on #620
I also think there should be more explanation for the pvc type in doc.

[2020-01-07 11:19] Iamlovingit opened #623 "make deploy-dev failed v0.2.2"
/kind bug
[code]

list the config dir:
[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:1.4.2
- Knative Version:0.10.0
- KFServing Version:0.2.2
- Kubeflow vers

[2020-01-07 11:26] Iamlovingit commented on #621
yes, there is a bug in `local file` situation. i build the local file in storage images, and change the storage.py code. you can read this  #567 .

[2020-01-07 12:41] pugangxa commented on #623
/assign @fenglixa should be related to PR #582 , please take a look.

[2020-01-07 12:49] pugangxa commented on #621
I see. After PR #156 the local file in fact means pvc. The "file://" type storage is not supported so I removed it in PR #622

[2020-01-07 13:07] Iamlovingit opened #624 "Failed to validate InferenceService"
/kind bug
i create inferenceservice, the kfserving-controller-manager occured an error.
json decode error? what happend? btw: i recreated k8s today.
[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue

[2020-01-07 13:13] Iamlovingit commented on #621
agree

[2020-01-07 14:36] yuzisun commented on #621
File:// is originally used for local model server development, I’d suggest we still keep this.

[2020-01-07 14:40] yuzisun commented on #624
Seems like badly formatted Kfserving configmap, can you check that ?

[2020-01-07 14:43] yuzisun commented on #604
/priority p1

[2020-01-08 00:26] Iamlovingit commented on #624
i have checked the kfserving configmap, and compare with offical configmap, not found format fault.
this is my configmap:
[code]

[2020-01-08 00:40] Iamlovingit commented on #624
and this is the error strace:
[code]

[2020-01-08 01:30] jinchihe commented on #623
/assign @fenglixa

@fenglixa Seems the problem still can be reproduce now...

[2020-01-08 01:39] jinchihe commented on #623
Seems that's causd by kustomize version. The porblem can be reproduced with kustomize v2.0.3, but that's OK with kustomize v3.0.0
[code]
@Iamlovingit what's your kustomize version?

[2020-01-08 01:45] Iamlovingit commented on #623
[code]

[2020-01-08 02:15] Iamlovingit commented on #624
i found the error occured at  https://github.com/kubeflow/kfserving/blob/5f8461762f7f94187e89382a20ea6f17907cc5ff/pkg/apis/serving/v1alpha2/configmap.go#L110

[2020-01-08 02:23] Iamlovingit commented on #624
but `kubectl edit cm inferenceservice-config -n kfserving-system` is ok. where is wrong

[2020-01-08 03:15] Iamlovingit commented on #624
i delete all `predictor`  except `pytorch`, it can work now.

[2020-01-08 03:15] #624 closed

[2020-01-08 04:10] fenglixa commented on #623
Different bevavier for kustomize-v2 and v3. with -o parameter for build, will provide PR to handle this case.
Thanks all for the investigating.
BR
-Feng

[2020-01-08 05:59] pugangxa commented on #621
Just see this, I had some discussion in the slack:
[code]

[2020-01-08 09:05] jinchihe commented on #619
@Iamlovingit  I tried that, for `rollout_canary`, I did not reproduce your problem, the status keep `True`.
But when I add the Canary spec, the KFServing status changed to `False` and no `url` in some seconds, and I checked backend, also show like below
[code]
So if need to fix, we should handle in backend, instead of SDK.

[2020-01-08 09:33] Iamlovingit commented on #619
my problem is same to you. when adding `canary spec` to an **exist** `isvc`, the `kubectl get inferenceservice` output is no `url` for a moment. in the meantime, use `KFServingClient.get` can not get the right `url`.

[2020-01-08 10:25] nm2107 commented on #270
Hello,
Maybe this tool can help you ? https://github.com/KnpLabs/should-skip-ci

[2020-01-08 13:02] yuzisun commented on #619
It depends on how you define the readiness, during that a few seconds it reflects the readiness of canary service. What’s the reason to get the url every time?

[2020-01-09 02:22] jinchihe commented on #619
@yuzisun I think that we need to ensure the inference service is working while adding Canary, otherwise the infence service is broken when user add Canary spec, that's not good for production environment.

[2020-01-09 02:31] jinchihe commented on #270
@nm2107 Thanks sharing, we need to inestigate how to integrate with current CI famerwork, and I think we need to consider when to skip or not, such as some dir is not changed etc...

[2020-01-09 07:09] Iamlovingit commented on #619
it is better to provide  a method to checking the service is readiness. this readiness is mean client can get an expect response

[2020-01-09 13:38] yuzisun commented on #619
As I said above service is still available when you add the canary endpoint, while canary service is coming up the traffic stays on default service, once Canary is ready traffic then starts to split. It is status display issue, we can still treat the overall status ready while canary is still coming up.

[2020-01-09 13:48] yuzisun commented on #619
In that case I would rely on the health check endpoint instead of this status which is really for service debugging purpose.

[2020-01-09 17:41] amygdala opened #629 "Issues with KFServing as part of a Kubeflow install"
/kind bug

I'm seeing some issues with the KFServing install that's part of the 'out-of-the-box' Kubeflow install (0.7.1). As documented, this 'should' work without the need to install additional stuff: the KF 0.7.1 install includes istio, knative-serving, and installs the kfserving-controller-manager statefulset.

Not clear if the following probs are all related, so this bug might need to be fact

[2020-01-10 00:02] #609 closed

[2020-01-10 00:06] wronk commented on #629
I've also had issues getting the Tensorflow KFServing example up on a vanilla GCP Kubeflow deployment (v0.7.1 and v0.7.0). As @amygdala also mentioned above, I  can't get the `SERVICE_HOSTNAME` (or `CLUSTER_IP` for that matter). Both are blank because the specified part of the json doesn't appear in the `kubectl get` responses.

I try getting KFServing into the cluster [as suggested here](https://

[2020-01-10 00:12] yuzisun commented on #629
@wronk did you get the same error amy is getting “waiting for virtual service to be ready”?

[2020-01-10 01:02] wronk commented on #629
Here's my output after re-running these lines on the kubeflow deployment. I don't see that error about virtual service now, but I'm not sure it didn't appear before... I'm also not sure which namespace is the correct one to use (in case it's supposed to differ from the docs).

[code]

[code]

[2020-01-10 01:12] yuzisun commented on #629
So you already installed kubeflow with kfserving and apply the kfserving 0.2.2 release yaml again ? With kubeflow installation kfserving gets deployed to kubeflow namespace while the standalone installation deploys to kfserving-system namespace.

[2020-01-10 01:23] krishnadurai commented on #629
I'm facing a similar issue while I'm trying to setup Kubeflow 0.7.0 KFServing and try the flowers example.

The revisions 'flowers-sample-predictor-default' is stuck in status 'Deploying':

[code]
Outputs
[code]

Deployment seems to have scaled down to 0 replica-sets from 1 initially.

[code]

[code]

[2020-01-10 05:04] ChanYiLin commented on #629
@amygdala
For the last issue you mentioned which related to istio authorization
I have discussion with the team who built the istio authorization solution ( @yanniszark )

So the temporary solution will be either
1. disable the auth by using kfctl_k8s_istio deployment
2. copy the token from the cookie when you login to the dashboard to the X-Auth-Token in the curl command

and as a reminder, befor

[2020-01-10 20:34] alexwennerberg commented on #527
I'm encountering this issue as well. Interested in the response to @wronk 's question @capt2101akash

[2020-01-10 20:39] wronk commented on #527
@alexwennerberg, this is tracked in a newer ticket here:
https://github.com/kubeflow/kfserving/issues/629

[2020-01-10 20:41] alexwennerberg commented on #527
@wronk Thank you :)

[2020-01-11 14:45] yuzisun commented on #629
One option here is to configure knative to use kubeflow gateway  https://github.com/knative/serving/blob/master/config/istio-ingress/config.yaml#L49, based on my testing this only works with knative 0.11 and previous versions do not support configure the gateway in a different namespace other than knative-serving. We also need to change kfserving to point to the kubeflow gateway https://github.com

[2020-01-13 22:10] ewasserman opened #632 "Calling kfserving.Storage.download(src_uri, dest_path) for an S3 URI without having the environment variable AWS_ENDPOINT_URL set will always fail."
/kind bug

Calling  kfserving.Storage.download(src_uri, dest_path) for an S3 URI *without* having the environment variable `AWS_ENDPOINT_URL` set will always fail.

**What steps did you take and what happened:**

The bug manifested from a use of an MLFLOW_SERVER prepackaged Seldon server where the model resided in S3 and the `envSecretRefName` included the `AWS_KEY`, `AWS_SECRET_KEY` and `S3_ENDPO

[2020-01-14 15:19] axsaucedo commented on #632
As discussed in slack, this was fixed in https://github.com/kubeflow/kfserving/pull/589

[2020-01-14 19:15] amygdala commented on #629
Just a note that to do the above, seems that Kubeflow's version of knative needs to be upgraded (from 0.8 to 0.11)

[2020-01-14 21:21] alexwennerberg commented on #629
@yuzisun What value should those configurations be set to? I'm not sure what you mean by the "kubeflow gateway"

[2020-01-14 21:37] alexwennerberg commented on #629
@yuzisun What values should those configuration variables be set to?

[2020-01-15 15:11] yuzisun commented on #629
In kubeflow installation we have two istio gateway installed, they both serve on http port 80 and route to the same istio ingress gateway, so one way to solve the issue is to configure knative to use the kubeflow gateway instead.
[code]

1) Currently kubeflow installs knative 0.8 and we need to get onto 0.11 due to an issue fixed in 0.11 which allows configuring the gateway in custom namespace (ht

[2020-01-15 15:31] alexwennerberg commented on #629
@yuzisun I made those changes and tried to re-deploy the flowers example that OP is using. I get the following error when I run `kubectl describe inferenceservice flowers-sample8`

[code]

[2020-01-15 20:31] jtfogarty commented on #574
/area engprod
/priority p2

[2020-01-15 20:34] jtfogarty commented on #567
/area engprod
/priority p2

[2020-01-15 20:35] jtfogarty commented on #564
/area engprod
/kind bug
/priority p1

[2020-01-15 20:37] jtfogarty commented on #563
/kind question
/area engprod
/priority p2

[2020-01-15 20:38] jtfogarty commented on #562
/area engprod
/priority p1

[2020-01-15 20:40] jtfogarty commented on #546
/area engprod
/priority p2

[2020-01-15 20:44] jtfogarty commented on #539
/area testing
/priority p2

[2020-01-15 20:44] jtfogarty commented on #538
/area testing
/priority p2

[2020-01-15 20:46] jtfogarty commented on #537
/area engprod
/priority p2

[2020-01-15 20:47] jtfogarty commented on #533
/area engprod
/priority p2

[2020-01-15 20:49] jtfogarty commented on #505
/area engprod
/priority p2

[2020-01-15 20:50] jtfogarty commented on #504
/area engprod
/priority p2

[2020-01-15 20:51] jtfogarty commented on #499
/kind feature
/area testing
/priority p2

[2020-01-15 20:52] jtfogarty commented on #497
/area engprod
/priority p2

[2020-01-15 20:53] jtfogarty commented on #494
/area engprod
/priority p2

[2020-01-15 20:54] jtfogarty commented on #493
/area testing
/priority p2

[2020-01-15 20:55] jtfogarty commented on #485
/area logging
/priority p2

[2020-01-15 20:57] jtfogarty commented on #481
/kind question
/area kfctl
/priority p2

[2020-01-15 20:58] jtfogarty commented on #480
/area kfctl
/kind question
/priority p2

[2020-01-15 21:00] jtfogarty commented on #469
/area engprod
/priority p2

[2020-01-15 21:04] jtfogarty commented on #462
/area engprod
/priority p2

[2020-01-15 21:05] jtfogarty commented on #456
/area engprod
/priority p2

[2020-01-15 21:07] jtfogarty commented on #447
/kind bug
/area engprod
/priority p2

[2020-01-15 21:08] jtfogarty commented on #436
/area testing
/priority p2

[2020-01-15 21:09] jtfogarty commented on #435
/area testing
/priority p2

[2020-01-15 21:11] jtfogarty commented on #432
/area engprod
/priority p2

[2020-01-15 21:12] jtfogarty commented on #407
/area engprod
/priority p2

[2020-01-15 21:18] jtfogarty commented on #405
/area engprod
/priority p2

[2020-01-15 21:23] jtfogarty commented on #374
/kind feature
/area engprod
/priority p2

[2020-01-15 21:25] jtfogarty commented on #369
/area engprod
/priority p2

[2020-01-15 21:26] jtfogarty commented on #366
/area engprod
/priority p2

[2020-01-15 21:27] jtfogarty commented on #353
/area jupyter
/priority p2

[2020-01-15 21:28] jtfogarty commented on #347
/area engprod
/priority p2

[2020-01-15 21:30] jtfogarty commented on #341
/area docs
/priority p2

[2020-01-15 21:30] jtfogarty commented on #341
/kind feature

[2020-01-15 21:31] jtfogarty commented on #335
/area engprod
/priority p2

[2020-01-15 21:33] jtfogarty commented on #324
/area engprod
/priority p2

[2020-01-15 21:34] jtfogarty commented on #323
/kind question
/area engprod
/priority p2

[2020-01-15 21:35] jtfogarty commented on #322
/kind feature
/area engprod
/priority p2

[2020-01-15 21:36] jtfogarty commented on #321
/area engprod
/priority p2

[2020-01-15 21:37] jtfogarty commented on #310
/kind feature
/area engprod
/priority p2

[2020-01-15 21:39] jtfogarty commented on #284
/kind feature
/area engprod
/priority p2

[2020-01-15 21:39] jtfogarty commented on #280
/kind feature
/area engprod
/priority p2

[2020-01-15 21:41] jtfogarty commented on #278
/kind feature
/area engprod
/priority p2

[2020-01-15 21:42] jtfogarty commented on #273
/area docs
/kind feature
/priority p2

[2020-01-15 21:44] jtfogarty commented on #271
/kind feature
/area docs
/priority p2

[2020-01-15 21:46] jtfogarty commented on #270
/kind feature
/area docs
/priority p2

[2020-01-15 21:47] jtfogarty commented on #226
/priority p2

[2020-01-15 21:50] jtfogarty commented on #205
/kind feature
/priority p2

[2020-01-15 21:50] jtfogarty commented on #196
/kind feature
/area kfctl
/priority p2

[2020-01-15 21:51] jtfogarty commented on #184
/kind feature
/priority p2

[2020-01-15 21:52] jtfogarty commented on #183
/kind feature
/priority p2

[2020-01-15 21:52] jtfogarty commented on #163
/kind feature
/priority p2

[2020-01-15 21:54] jtfogarty commented on #162
/kind feature
/priority p2

[2020-01-15 21:54] jtfogarty commented on #157
/kind feature
/priority p2

[2020-01-15 21:55] jtfogarty commented on #144
/kind feature
/priority p2

[2020-01-15 21:56] jtfogarty commented on #139
/kind feature
/priority p2

[2020-01-15 21:57] jtfogarty commented on #122
/kind feature
/priority p2

[2020-01-15 21:58] jtfogarty commented on #120
/kind feature
/priority p2

[2020-01-15 21:59] jtfogarty commented on #82
/kind bug
/priority p2

[2020-01-15 22:01] jtfogarty commented on #60
/kind feature

[2020-01-15 22:02] jtfogarty commented on #59
/kind feature

[2020-01-16 00:51] yuzisun commented on #568
@animeshsingh we can close this one now right ?

[2020-01-16 00:54] yuzisun commented on #341
Doc is updated.

/close

[2020-01-16 00:54] #341 closed

[2020-01-16 01:11] animeshsingh commented on #568
yes we are out of the woods on this one
cc @jlewi @ellis-bigelow

[2020-01-16 01:11] animeshsingh commented on #568
/close

[2020-01-16 01:11] #568 closed

[2020-01-17 07:05] krishnadurai commented on #629
@yuzisun there's a correction here:

The namespace should be 'kubeflow'.

Unfortunately, this does not yet solve this issue.
[code]

[2020-01-17 21:18] alexwennerberg opened #633 "104 Connection Refused on large transformation request"
/kind bug

I'm deploying a Pytorch model that takes as input an image URI from Google Cloud Storage, runs through the KFServing preprocess function to load the image file as a tensor, then makes the request to the predictor. This is very similar to https://github.com/kubeflow/kfserving/tree/master/docs/samples/transformer/image_transformer -- almost identical, the only relevant difference being th

[2020-01-17 21:57] alexwennerberg opened #634 "image_transfomer sample yields "inconsistent global dictionary versions used" error"
Following the [image_transformer sample code](https://github.com/kubeflow/kfserving/tree/master/docs/samples/transformer/image_transformer) verbatim, I get the following issue:

`curl -v -H "Host: ${SERVICE_HOSTNAME}" -d @./cifar-input.json http://$CLUSTER_IP/v1/mod
els/$MODEL_NAME:predict`

[code]

The source of the issue seems to be in  Istio, here: https://github.com/istio/istio/blob/master/mix

[2020-01-18 07:52] animeshsingh commented on #596
Based on #630 , we are upgrading to now KNative 0.11 directly. This will also help with certain issues being faced

[2020-01-18 07:54] animeshsingh commented on #596
Another issue dependent on this
https://github.com/kubeflow/kfserving/issues/629

[2020-01-18 07:56] animeshsingh commented on #629
/assign @yuzisun

[2020-01-19 00:48] yuzisun opened #635 "pytorchserver latest image is broken due to pillow dependency"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version: master
- Kubeflow version:
- Minikube version:
- Kubernetes

[2020-01-20 00:35] yuzisun commented on #634
you have istio sidecar injected in your tranformer pod ?

[2020-01-20 13:23] #635 closed

[2020-01-20 18:02] ryandawsonuk opened #638 "validating an inferenceservice from outside the controller"
/kind feature

I'd like to be able to call the kfserving validation logic to validate an inferenceservice resource from a client app. Unfortunately the kfserving validation logic [assumes](https://github.com/kubeflow/kfserving/blob/e72610adf74d94fe812f7d2cf71d590c49e9bdc2/pkg/apis/serving/v1alpha2/inferenceservice_validation.go#L87) that it is running [in a pod](https://github.com/kubeflow/kfservi

[2020-01-21 14:27] ryandawsonuk commented on #638
Actually it [affects defaulting too](https://github.com/kubeflow/kfserving/blob/d1d530ab988011a5a9ee893179fe82ff8563b7ff/pkg/apis/serving/v1alpha2/inferenceservice_defaults.go#L35), which is a pre-requisite for validation.

For now I'm getting around this by duplicating the logic in the client codebase.

[2020-01-22 01:17] janeman98 commented on #538
@yuzisun
I can help to add e2e test for this issue (as well as https://github.com/kubeflow/kfserving/issues/539)

May I know what e2e test environment is? What is setup? I don't get much  info from the following site:
https://github.com/kubeflow/kfserving/tree/master/test
_To run the e2e tests, you need to have a running environment that meets the e2e test environment requirements. (@TODO)_

[2020-01-22 16:44] yuzisun opened #639 "xgbserver build is broken"
/kind bug

**What steps did you take and what happened:**
Not sure what changed but xgbserver docker build is broken, can easily replicate locally also
`docker build -t test -f xgb.Dockerfile . --rm`

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative V

[2020-01-23 04:20] ellis-bigelow opened #640 "Add licenses for dependencies of all KFServing Images"
Images:
* gcr.io/kfserving/xgbserver:0.2.2
* gcr.io/kfserving/sklearnserver:0.2.2
* gcr.io/kfserving/pytorchserver:0.2.2
* gcr.io/kfserving/alibi-explainer:0.2.2
* gcr.io/kfserving/storage-initializer:0.2.2
* gcr.io/kfserving/logger:0.2.2
* gcr.io/kfserving/kfserving-controller:0.2.2

[2020-01-23 04:20] ellis-bigelow commented on #640
Related to kubeflow/testing#539

[2020-01-23 04:25] ellis-bigelow commented on #640
/assign @ellis-bigelow

[2020-01-23 12:37] yuzisun commented on #639
looks like new version of pip caused this issue: https://github.com/dmlc/xgboost/issues/5221

[2020-01-23 13:14] #639 closed

[2020-01-23 19:37] ellis-bigelow commented on #640
Closing in favor of: https://github.com/kubeflow/kfserving/issues/605

[2020-01-23 19:38] ellis-bigelow commented on #605
Picking this up
/assign @ellis-bigelow

Images:

gcr.io/kfserving/xgbserver:0.2.2
gcr.io/kfserving/sklearnserver:0.2.2
gcr.io/kfserving/pytorchserver:0.2.2
gcr.io/kfserving/alibi-explainer:0.2.2
gcr.io/kfserving/storage-initializer:0.2.2
gcr.io/kfserving/logger:0.2.2
gcr.io/kfserving/kfserving-controller:0.2.2

[2020-01-24 00:24] #574 closed

[2020-01-25 00:58] janeman98 commented on #629
I have a similar issue, the output for the following is BLANK
`CLUSTER_IP=$(kubectl -n istio-system get service istio-ingressgateway -o jsonpath='{.status.loadBalancer.ingress[0].ip}')`

I believe this is because my environment don't have an external load balancer (using default Kubeflow installation)
`kubectl -n istio-system get service istio-ingressgateway -o json`
[code]

`kubectl get svc istio

[2020-01-25 12:17] yuzisun commented on #629
@janeman98 load balancer is not required, there is a PR to fix the doc https://github.com/kubeflow/kfserving/pull/618

[2020-01-25 15:21] yuzisun opened #642 "[help wanted] KFServing webhook cert installation script"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/kubeflow/kfserving/pull/630 added cert manager to provision webhook certs and this is suggested way for production grade installation, however we still need a way for deploying KFServing for development or for users who does not want this dependency.

**Anything else

[2020-01-26 01:03] yuzisun commented on #538
@janeman98 sorry just saw this, thanks for taking this issue!  Currently e2e tests run in our CI after PR is created or merged to the master, we will need to update the doc there.
- This is the e2e script which runs in the CI https://github.com/kubeflow/kfserving/blob/master/test/scripts/run-e2e-tests.sh
- All the e2e tests(https://github.com/kubeflow/kfserving/tree/master/test/e2e) are written wi

[2020-01-27 22:27] #596 closed

[2020-01-28 03:41] animeshsingh commented on #642
/assign @Tomcli

[2020-01-28 06:12] Edwardsleo opened #644 "Prediction with testdata from python client file through grpc request while model is served with KFserving"
/kind feature

ML model is served by KFserving, how to predict result from my testdata( in Python file) with like TFserving's classification_pb2.ClassificationRequest through grpc request.

[2020-01-29 01:14] Tomcli commented on #642
ok I will look into it, kfserving is getting the cert and key in terms of tls.crt and tls.key. Probably we can tweak the above script and covert it as part of the makefile.

[2020-01-29 06:36] #644 closed

[2020-01-30 02:56] #629 closed

[2020-01-30 06:23] animeshsingh opened #645 "Upgrate TensorRT to latest valid version"
The version of TensorRT in KFServing is 19.05 - We shall upgrade it to the latest version 19.12 (Dec 2019 release)

[2020-01-30 08:21] animeshsingh commented on #645
@ellis-bigelow who owns TensorRT in KFServing?

[2020-01-30 08:30] animeshsingh opened #648 "KFServing 0.3 Task list for release with Kubeflow 1.1"
1. Cut a release candidate branch
2. Get PyTorch GPU code in
3. Add cert generation automation
4. Update SDK
5. Update KF manifest
6. Update Pipeline Integration
7. Update KFServing docs (if needed)
7. Publish/Include initial performance results

[2020-01-30 08:45] cliveseldon commented on #645
I think @rakelkar did the original work but I am happy to take this on

[2020-01-30 12:48] #611 closed

[2020-01-30 12:48] #612 closed

[2020-01-31 00:48] #640 closed

[2020-01-31 12:59] krishnadurai opened #651 "KFServing Image Transformer example failing with transformer pod not being able to find predict service"
/kind bug

**What steps did you take and what happened:**
While trying the Image Transformer example as documented here: https://github.com/kubeflow/kfserving/tree/master/docs/samples/transformer/image_transformer

And following the documentation for calling Predict API on the transformer, I get the following output after
[code]

OUTPUT

[code]

The transformer pod has the following log snippet. R

[2020-01-31 13:34] cliveseldon commented on #645
/assign @cliveseldon

[2020-01-31 13:38] yuzisun commented on #651
Thanks for reporting! I think It is missing the istio local cluster gateway deployment, for internal service mesh calls they all go through the istio local gateway and for external traffic it hits the istio ingress gateway. You should check if these gateway deployments are there in `istio-system` namespace.

[code]

Please see the following instruction here to install the local gateway. I think we

[2020-01-31 13:42] yuzisun opened #652 "Install istio local gateway in kubeflow installation"
/kind feature

**Describe the solution you'd like**
istio local gateway is required for internal service mesh calls for knative 0.9+, since knative 0.11 is now installed in kubeflow we need to get istio local gateway deployed as well.

https://github.com/kubeflow/kfserving/blob/3489be0ef2229d855f7ccd6619fe2e9fa174b85b/docs/DEVELOPER_GUIDE.md#install-knative-on-a-kubernetes-cluster

**Anything else

[2020-01-31 13:43] yuzisun commented on #648
9. install istio local gateway in kubeflow installation

[2020-01-31 13:45] krishnadurai commented on #652
/cc @krishnadurai

[2020-01-31 13:54] krishnadurai commented on #651
@yuzisun Thanks for helping promptly! I was able to fix this issue by installing cluster local gateway.

As discussed, #652 will get this in the Kubeflow installation.

/close

[2020-01-31 13:54] #651 closed

[2020-01-31 15:54] cliveseldon commented on #645
@rakelkar  The [TRTIS example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorrt) seems incomplete to me as you would need a NVIDIA API token to allow you to download the TRTIS image?

If so, then how is this handled in our current setup as I don't see image pull secrets being added via the service account to a predictor but only to the storage init container? @yuzisun @ellis

[2020-01-31 16:17] cliveseldon opened #654 "TRTIS image requires token so default server not launchable"
/kind bug

NVIDIA TRTIS images require a token so the out of the box tensorrt predictor is not usable unless the user has downloaded or mirrored the image on their cluster. The docs should be updated to state this limitation.

There is also https://github.com/kubeflow/kfserving/issues/163 with https://github.com/kubeflow/kfserving/issues/163#issuecomment-570950399 which discussed the fact we need

[2020-01-31 16:17] cliveseldon commented on #645
I added #654

[2020-02-01 00:23] animeshsingh commented on #648
10. Set min default to "1"

[2020-02-01 00:36] janeman98 commented on #538
/assign janeman98

[2020-02-01 00:53] #642 closed

[2020-02-03 19:14] wronk commented on #629
@janeman98, I'm still having problems getting the TF flowers example to work from a KF deployment. Did you have to do anything special to make the example work after manually setting the CLUSTER_IP?

Perhaps I'm not setting `SERVICE_HOSTNAME` correctly? Or maybe there's a special cluster setting I need to define on GCP to enable incoming prediction requests?

cc @yuzisun

## Steps to reproduce
**S

[2020-02-05 21:44] animeshsingh commented on #652
@krishnadurai @yuzisun anyone tacking this?

[2020-02-06 07:05] Iamlovingit opened #660 "how to access custom image service?"
/kind bug
i try testing the custom sample, it can be deploy, but i dont know how to send request. is there having some explaining?

i want to send request to service-custom-sample
[code]
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that wi

[2020-02-06 09:09] krishnadurai commented on #652
@animeshsingh I'm going to raise a PR soon.

/assign @krishnadurai

[2020-02-06 09:13] valentin-stefan-popa opened #662 "kfserving switch payload from body to header"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I try to do a preprocessing part starting from this example: https://github.com/kubeflow/kfserving/tree/master/docs/samples/transformer/image_transformer
I create my own container but when I do a post I get this error in log: "http1connection:289] Malformed HTTP message from 127.0.0.1:

[2020-02-06 19:29] #538 closed

[2020-02-07 00:29] #602 closed

[2020-02-07 02:58] yuzisun commented on #662
this sounds like https://github.com/kubeflow/kfserving/issues/633 ?

[2020-02-07 03:06] yuzisun commented on #662
according to tornado the max buffer size is 100M
https://www.tornadoweb.org/en/stable/_modules/tornado/iostream.html

[2020-02-07 05:01] valentin-stefan-popa commented on #662
Yes look like it is a similar problem. So I am not the only one with this problem :)
Looking in my code in lib/python3.7/site-packages/tornado/http1connection.py line 98 I have this:
`self.max_header_size = max_header_size or 65536`
but even if is 100M not help me because my json file have 107M and also main problem is not this.
When I sent json file I put it in body not in header which means that

[2020-02-07 13:17] valentin-stefan-popa opened #664 "transform model_name and PVC are not working"
Problem 1)
I try to set transform model name but look like is not implemented
Bellow is my yaml:
`apiVersion: "serving.kubeflow.org/v1alpha2"
kind: "InferenceService"
metadata:
  name: "my-mnist-serving"
  namespace: "kfserving"
spec:
  default:
    predictor:
      minReplicas: 1
      tensorflow:
        storageUri: "pvc://kfserving-pvc/models/mnist"
    transformer:
      minReplicas: 1
      c

[2020-02-07 14:19] yuzisun commented on #662
The header limit is 65536 bytes, the body limit is 100M, which predictor you are using, pytorch? I think any tornado based kfserving model server currently has this default limit, we need to make it configurable.

[2020-02-07 14:25] yuzisun commented on #664
I think problem 2 should be fixed by recent PR https://github.com/kubeflow/kfserving/pull/643, please test with master or wait for 0.3 which should be cut soon.

[2020-02-07 14:30] yuzisun commented on #660
@Iamlovingit did you use kfserving sdk to build the custom predictor image or that’s totally custom ?

[2020-02-07 14:43] Iamlovingit commented on #660
@yuzisun  it is totally custom. the images include a flask http server, set `port=8080`

[2020-02-07 15:07] valentin-stefan-popa commented on #662
I use tensorflow for predict but my problem is with transformer not with predictor. On predictor side I test with same json file 107MB and there is no limit problem

[2020-02-07 15:13] yuzisun commented on #662
tensorflow predictor is not tornado based and is using https://www.tensorflow.org/tfx/guide/serving, so it is not subjected to that limit.

[2020-02-07 15:15] valentin-stefan-popa commented on #662
This explain why is working for predict :)
Anyway for transform since we use tornado probably we need to do that part configurable

[2020-02-07 15:16] yuzisun commented on #662
agreed, we need to set `max_buffere_size` when starting the tornado server.

[2020-02-07 15:29] yuzisun commented on #662
@valentin-stefan-popa are you interested in making a fix? should be relatively easy, we can add an argument `--max-buffer-size` which defaults to 100M for the tornado server and set it here
https://github.com/kubeflow/kfserving/blob/master/python/kfserving/kfserving/kfserver.py#L69.

[2020-02-07 20:03] valentin-stefan-popa commented on #662
Yes I will do it.

[2020-02-09 08:01] valentin-stefan-popa commented on #662
@yuzisun  I made the fix but now I need to know how to do commit and PR. Which one is the procedure for this? Fork kfserving repo -> Create branch and do commit there -> create PR from my fork repo to kfserving master and add you as reviewer?

[2020-02-09 11:51] yuzisun commented on #662
@valentin-stefan-popa you are exactly right ! Excited to see you PR!

[2020-02-09 15:53] valentin-stefan-popa commented on #662
@yuzisun Please have a look and add your comments when you have some time.
https://github.com/kubeflow/kfserving/pull/665

[2020-02-09 17:51] salanki opened #666 "Component annotations"
/kind feature

**Describe the solution you'd like**
Currently, a `InferenceService` will attach all annotations on it's child components. This means that a Service with both a `predictor` and a `transformer` will have the same annotations on both. This is suboptimal in many cases, ie:

1) When predicting on GPU, it is rarely needed for the transformer to run on a GPU host. Transformers should run

[2020-02-09 18:15] yuzisun commented on #666
@salanki Thanks for creating this great issue! I have been addressing the second problem on this PR https://github.com/kubeflow/kfserving/pull/637/files. For the first problem it is a side effect, most of time you want to propagate down to all the components but I totally understand your use case.

[2020-02-10 16:04] ryandawsonuk opened #668 "IngressNotConfigured with kubeflow master"
I installed kubeflow using [something close to kfctl_istio_dex.yaml](https://raw.githubusercontent.com/ryandawsonuk/seldon-gitops/068da0ff6cc181650483733e4d242141e6f9ee7a/kfctl_istio_dex_noseldon.yaml). So I get istio 1.1 rather than 1.3 as I [can't currently run 1.3 with DigitalOcean](https://github.com/kubeflow/kfctl/issues/170). I've been using this setup successfully before but with the latest

[2020-02-10 16:12] yuzisun commented on #668
@ryandawsonuk that's known issue and we created one upstream https://github.com/knative/serving/issues/6793

[2020-02-10 16:13] yuzisun commented on #668
The issue is that knative serving sends probes to istio ingress gateway but got 302 when redirecting to AuthService for Dex, we are looking into how to whitelist all these probes.

[2020-02-10 16:20] ryandawsonuk commented on #668
Cool, thanks for the quick response

[2020-02-10 19:01] krishnadurai commented on #668
@ryandawsonuk we are looking to provide a way to whitelist as @yuzisun has mentioned.

/assign

[2020-02-11 13:46] krishnadurai commented on #652
/close

[2020-02-11 13:47] #652 closed

[2020-02-11 15:56] jlewi commented on #605
@ellis-bigelow any update on this?

[2020-02-11 18:14] alexwennerberg commented on #633
Should be resolved by https://github.com/kubeflow/kfserving/pull/665/commits -- I'll verify a fix if I have a chance

[2020-02-11 18:34] ellis-bigelow commented on #605
This is complete. /close

[2020-02-12 01:06] #605 closed

[2020-02-12 10:05] ryandawsonuk commented on #668
@krishnadurai have you tried using SKIP_AUTH_URI in the [auth service](https://github.com/arrikto/oidc-authservice/blob/d5c29815649889b4f1762bcb81dd138c0d73858d/README.md#L33) or speaking to @yanniszark ? Or is the part of the problem even knowing what to whitelist?

[2020-02-12 10:32] krishnadurai commented on #668
@ryandawsonuk The requests go to the path '/'. Whitelisting the path '/' isn't the right idea.
The requests are proxied by the istio-ingressgateway using the 'Host' (virtual host) parameter, which contains the KNative service's domain, for e.g. 'xyz-sample.default.example.com'.

I'm looking for the right method to whitelist such requests from KNative's prober service.

/cc @yanniszark

[2020-02-12 12:17] yanniszark commented on #668
Hi @ryandawsonuk @krishnadurai.
Maybe I'm missing something here, but why do the KNative probes need to go through the Istio Gateway?
What is the KNative probe and what does it probe?
Aren't both the probe and the probed deployment in the same cluster?

[2020-02-12 12:27] krishnadurai commented on #668
@yanniszark fair point. I had the same questions initially. The probe does go through the istio-ingressgateway though. Here are the istio-ingressgateway pod logs for `helloworld.go` sample KNative service running with the Dex based EnvoyFilter:

[code]

[2020-02-12 12:34] krishnadurai commented on #668
The pod networking-istio in Knative serving probes the Istio gateway from outside of the service mesh to see if ingress is available for the Knative service.

Looking at the comments here:
https://github.com/knative/serving/blob/master/config/istio-ingress/controller.yaml

Yes they are in the same cluster

/cc @yuzisun

[2020-02-12 12:58] yanniszark commented on #668
@yuzisun @krishnadurai can you please elaborate on why the probe needs to hit the gateway and not the deployment directly, to bypass the need for authentication?
How does this work on GCP?
Is the probe given an IAM serviceaccount?

/cc @jlewi

[2020-02-12 13:43] yuzisun commented on #668
@yanniszark as @krishnadurai said, the probes hit the gateway to test if the ingress(virtual service) is available for the knative services. GCP has similar problem, the probes are failing with 401, we can whitelist with `excludePaths` on the ingress jwt authentication policy but whitelisting the path '/' isn't good idea.

[2020-02-12 14:03] yanniszark commented on #668
@yuzisun thanks a lot for the explanation. Then, my next questions are:
* Is this prober deployment necessary for KFServing to work? Is KFServing usable without it?
* What is the desired solution? Giving the KFServing probe credentials? Whitelisting the health check paths?

[2020-02-12 14:50] valentin-stefan-popa commented on #662
@yuzisun first thank you for your help and I have two questions.
1) Since this issue is fixed do I have to close this or who will close it?
2) I have other issue regarding kfserving transform preprocessing and postprocessing :)
Lets say that I have an 3D image which I pass it in preprocessing and I preprocess that image and do predict then at post processing I need some informations used in prepro

[2020-02-12 17:31] animeshsingh commented on #563
/assign @jinchihe

cc @yuzisun @ellis-bigelow

[2020-02-12 17:34] animeshsingh commented on #668
For further tests, lets all test on this configuration
https://github.com/kubeflow/manifests/pull/886

[2020-02-12 17:51] ryandawsonuk commented on #563
FWIW I did eventually get the storage-initializer working with Seldon and [documented what I did](https://github.com/SeldonIO/seldon-core/issues/1106#issuecomment-558225067). It was a bit sensitive about paths. I didn't come back to KFServing but the storage-initalizer code is the same for both projects.

[2020-02-12 17:51] Iamlovingit opened #673 "sample custom not work"
/kind bug
I deploy a custom sample. The inferenceservice can be created, but I can not send request to it, the response it `Not Found`.

**What steps did you take and what happened:**
My custom image is a flask server.
Server file is
[code]
Docker file:
[code]
the deploy yaml
[code]

inferenceservice status
[code]

describe the pod
[code]

the user-container's log
[code]

I send the `curl` request

[2020-02-12 17:51] Iamlovingit commented on #660
add more detail in #673

[2020-02-12 17:51] #660 closed

[2020-02-12 17:52] yanniszark commented on #668
My understanding is that because of this issue, KFServing can't function in auth-enabled Kubeflow deployments.
@jlewi do you believe this blocking for Kubeflow v1.0?

[2020-02-12 18:46] yanniszark opened #674 "PVC Support is broken: code symlinks instead of copying"
/kind bug

**What steps did you take and what happened:**

* Run tensorflow example, but with a PVC: https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow
[code]
* KFServing's initContainer symlinks files from a PVC into a shared emptyDir volume.
* These symlinks are obviously invalid inside the main container.

**What did you expect to happen:**

* KFServing should copy the fi

[2020-02-12 20:38] krishnadurai commented on #668
@yanniszark when we look at KFServing 0.11.1 and KFServing 0.2.1 combination with either of Istio's configs (1.16 or 1.3.1), you are right.

Whereas v1.0 Kubeflow has KFServing v0.8.0 which shipped with v0.7 Kubeflow.

[2020-02-12 21:54] yuzisun commented on #662
You can close this issue with `/close`, for the second problem not sure what's the best way, maybe we can have some way to pass a context object.

[2020-02-12 22:01] valentin-stefan-popa commented on #662
Ok. I will close this issue since is fixed and I will open a new one for second case.  Yes context object or simple json or anything else to pass something safe from preprocess to postprocess will fix the problem and I am sure that kfserving need this option

[2020-02-12 22:03] valentin-stefan-popa commented on #662
This issue was fixed by this PR https://github.com/kubeflow/kfserving/pull/665 so it will be closed

[2020-02-12 22:03] valentin-stefan-popa commented on #662
/close

[2020-02-12 22:04] #662 closed

[2020-02-12 22:32] alexwennerberg commented on #673
Are you able to access http://my-custom-sample.default.10.166.15.200.xip.io/v1/ ? It looks like your server does not define any routes for /v1/models/my-custom-sample:predict -- you will have to define those routes in Flask. See this issue: https://github.com/kubeflow/kfserving/issues/323

[2020-02-12 22:35] valentin-stefan-popa opened #675 "Transfer context between preprocess and postprocess"
I need to transfer some infos from preprocess to postprocess.
For example if I pass an image to preprocess and I vectorize it and then I do a prediction at that image but at postprocess I need to create another image with same size but painting it base on prediction. For this I need some inputs like image size, shape, etc from preprocessing part.
Other example is that maybe in preprocess I pass a

[2020-02-12 22:51] JRBANCEL commented on #668
Hi, I implemented the probing in Knative.

No, but without it, it is fire and forget when Knative configure Istio, so a Knative Service CRD being ready might not actually be ready if all the Envoy do not have the latest config. That's what probing solves. Currently, it cannot be disabled.

The cleanest solution is probably to allow probing calls without auth (from inside the cluster only would be

[2020-02-12 23:47] Iamlovingit commented on #673
thanks @alexwennerberg ! I can not access  http://my-custom-sample.default.10.166.15.200.xip.io/.
[code]
Do you mean that I should adding a route in Flask look like that:
[code]
I will give a try.

[2020-02-12 23:49] Iamlovingit commented on #673
It works! @alexwennerberg Thanks a lot.
[code]

[2020-02-12 23:49] #673 closed

[2020-02-13 05:32] yuzisun commented on #668
see https://github.com/knative/serving/issues/6829 also.

- In GCP IAP setup Istio policy can block the probes and there is no way to filter probes on header content.
- For Istio-Dex setup, not sure if there is a way to bypass auth for probes in envoy filter.

[2020-02-13 05:52] yuzisun commented on #674
/cc @pugangxa

[2020-02-13 05:56] #537 closed

[2020-02-13 06:24] pugangxa commented on #674
I tried pvc not some time ago and it works. What error do you see? And also you need put the model under your pvc path(kfserving-pvc/flowers for you).

The code  ```os.symlink(src, dest_path)``` should be good because in the injector we already mount the path for main container. Can refer to below code:

https://github.com/kubeflow/kfserving/blob/3234123bd0407324e5529e3c405a8379d714053b/pkg/webhoo

[2020-02-13 06:29] pugangxa commented on #674
@yuzisun Do you think we need add some information in docs for this? I think this is really confusing and the issue #567 is similar.
Also this is why I submitted PR #622 , we should distinguish the pvc and the local path, for local path I think it's a real path in main container with packaged model together and for pvc it must be mounted by storage injector.

[2020-02-13 06:57] pugangxa commented on #675
Interesting case. I think you should already extends KFModel(say ExtendedModel) to have your own preprocess and postprocess right? Do you mind to have member variables in your ExtendedModel? So that you can set the value of the member variable in your preprocess function and use it directly in your postprocess function.

[2020-02-13 08:49] krishnadurai commented on #668
@JRBANCEL @yuzisun

Any method to bypass will require the authservice envoy-filter for Dex to read the origin of the request. It is not secure to whitelist requests based on the origin.

We might want to consider using another gateway for KFServing for the time being until knative/serving#6829 is resolved.

This comes with the downsides of having another gateway and as well as not supporting authe

[2020-02-13 08:58] krishnadurai commented on #668
@JRBANCEL as an alternative is it a good idea to have the prober be supplied with programmatic credentials for these requests? This approach will not need whitelisting and keep the gateway access secure.

What is your take on this?

[2020-02-13 10:12] ljainker opened #677 "kfserving-controller-manager pod in CrashLoopBackOff"
/kind bug

I have installed Kubeflow v0.7.1 on Kubernetes version is 1.15.4.

The kfserving-controller-manager pod is going into CrashLoopBackOff state everytime its getting restarted.

Below are the logs of the pod:

{"level":"error","ts":1581588648.411941,"logger":"kubebuilder.source","msg":"if kind is a CRD, it should be installed before calling Start","kind":{"Group":"serving.knative.dev","Kin

[2020-02-13 10:25] ljainker commented on #677
The docker used  for kfserving is gcr.io/kfserving/kfserving-controller:0.2.2

[2020-02-13 12:17] yanniszark commented on #674
@pugangxa what I see is:
* PVC (kfserving-pvc-source) is mounted on the initContainer but **not** on the main container.
* Because PVC is not mounted in the main container, the symlinks created in the shared emptyDir volume (kfserving-provision-location) pointing to the PVC volume are invalid.
* I believe the desired behavior here is to copy the model to the shared emptyDir volume, so that the mai

[2020-02-13 12:21] yanniszark commented on #674
I believe I can take a stab at this one and make it work, so I'm assigning it to me.
/assign

[2020-02-13 12:53] pugangxa commented on #674
The code I appended is to mount the PVC to the user container, it should be mounted on both init-container and the user container. But strangely from your yaml I saw kfserving-pvc-source is only mounted on init-container but not for user container. Not sure why and can see your result, thanks.

[2020-02-13 13:03] yuzisun commented on #677
@ljainker which kubeflow setup you are running, looks like knative is not installed there ?

[2020-02-13 14:50] valentin-stefan-popa commented on #675
I found a way to pass additional informations between preprocess and postprocess. Starting from this example :https://github.com/kubeflow/kfserving/blob/master/docs/samples/transformer/image_transformer/image_transformer/image_transformer.py#L41 I added in that class also predict method and ovverride original one like this:

    def predict(self, request: Dict) -> Dict:
        response = super().

[2020-02-13 23:02] animeshsingh commented on #673
https://github.com/kubeflow/kfserving/pull/678

[2020-02-14 17:47] ryandawsonuk commented on #674
This looks very similar to https://github.com/kubeflow/kfserving/issues/563

[2020-02-14 17:55] ryandawsonuk opened #679 "'log components' such as outlier detectors tied to models"
The proposal is to make 'logComponents' available in CRD to include outlier detectors and adversarial detectors. The main reason for handling this in the CRD is that these components would be trained on same data, likely in same training job as the main predictor model so they are logically tied together. Otherwise you have to create a separate manifest for something that needs to be kept in sync.

[2020-02-14 18:50] JRBANCEL commented on #668
How would you provide the credentials?

[2020-02-14 20:57] krishnadurai commented on #668
By mounting secrets and allowing to specify them in headers to the probing requests.

[2020-02-14 22:31] Tomcli opened #681 "KFServing controller often gets OOMKilled during initial reconciliation"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When the KFServing controller restarted with some inferenceservice on the cluster, often time it creates an initial burst of memory during reconcile and created an OOMKilled loops. Here's some initial memory burst I saw when running 2 inferenceservices on my cluster.

[code]
(After 5 min

[2020-02-15 00:17] jinchihe commented on #674
Manully tested PVC feature with KFServing, that works fine. Need to ensure the models exists in the $PVC_NAME/export (set model path in the yaml: pvc://mnist-pvc/export).
[code]

Maybe we just need to enhance message to clear that. Thanks.

[2020-02-15 00:24] jinchihe commented on #674
@yanniszark I'm sure the PVC is mounted to user container, This is old issue and I fixed that in Oct 2019 in PR https://github.com/kubeflow/kfserving/pull/468 , are you using very old version? please above my tests and below code.

https://github.com/kubeflow/kfserving/blob/c8d78f5c52140c69c0eebf9a1364e6d8de608592/pkg/webhook/admission/pod/storage_initializer_injector.go#L137

[2020-02-17 05:16] ljainker commented on #677
Hi @yuzisun , yes the knative is not getting installed. I followed the deployment from the kubeflow official document - https://v0-7.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/
This ticket may now be closed.
Thank you

[2020-02-17 12:57] yuzisun commented on #677
Cool!
/close

[2020-02-17 12:57] #677 closed

[2020-02-17 15:27] krishnadurai commented on #666
Bumped into a similar issue, in my case scheduling fails for the predictor:

[code]

It seems the taints didn't allow the predictor to be deployed in the GPU nodes and the node-selector didn't allow it to be scheduled to the CPU nodes.

[2020-02-17 21:16] yuzisun commented on #623
We have documented that kfserving requires kustomize v3 now https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#install-requirements.

/close

[2020-02-17 21:16] #623 closed

[2020-02-17 22:28] yuzisun commented on #674
@yanniszark I think you are running kubeflow 0.7.0 which has kfserving 0.2.0, @jinchihe 's above fix is in kfserving 0.2.2, so if you try kubeflow 0.7.1 that should work.

[2020-02-18 00:23] yuzisun commented on #563
As @fenglixa pointed out, the pvc path should points to the export dir where contains the exported model for the mnist example.

/close

[2020-02-18 00:23] #563 closed

[2020-02-18 01:36] jinchihe commented on #674
Suggest installing kubeflow 1.0 RC4 (latest release), I tested the kfserving, that's stable. Thanks.
https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.4
@yanniszark

[2020-02-18 13:08] yanniszark commented on #674
@yuzisun @jinchihe thanks for your responses!
Here is what happened:
- I tested with Kubeflow 0.7, which had kfserving 0.2.0 in all images except for the kfserving-controller. This is because it was causing problems, leading @jlewi to downgrade it:
https://github.com/kubeflow/manifests/commit/b4ef5f7203e6094c8c1386229d76cf2d2d602f11
- This lead to this fix not being picked up: https://github.com/k

[2020-02-18 13:08] #674 closed

[2020-02-19 01:33] Tomcli opened #684 "Tensorrt example is not working"
/kind bug
We are not able to ping the tensorrt server once we deployed the example.
[code]

Then we discovered that the host needs to be `tensorrt-simple-string-predictor-default.default.example.com` instead of `tensorrt-simple-string.default.example.com` from the inferenceservice.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you

[2020-02-19 02:39] yuzisun commented on #684
This is known issue, we are punting on v2 data plane for tensorrt inference server to work with kfserving because their rest api currently is different. To walk around you can directly hit the predictor bypassing the top level virtual service.

[2020-02-19 09:12] velascoluis opened #685 "Serving model from gs:// fails with "'gs://', 's3://', and 'file://' are the current available storage type.""
/kind bug

Train a model with pyTorch operator , deploy the dat file on gs://

(venv) velascoluis@python3venvsandbox:~/pytorch$ gsutil ls gs://kf10rc4
gs://kf10rc4/model_cpu.dat

Luanch the KFServing with the following yaml

apiVersion: "serving.kubeflow.org/v1alpha2"
kind: "InferenceService"
metadata:
  name: "pytorch-mnist-serving-01"
spec:
  default:
    predictor:
      pytorch:
        storag

[2020-02-19 12:15] yuzisun commented on #685
@velascoluis which namespace the service gets deployed to ? I think you may have deployed the service in a namespace with `control-plane` label, The storage-initializer init container does not get injected for deployments in those namespaces since they do not go through the pod mutating webhook, the error is a bit misleading.

[2020-02-19 15:09] jinchihe opened #686 "Get the service endpoint by KFServing SDK client quickly"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Get a user feedback for SDK, user would like get the service endpoint by KFServing SDK client quickly, because from the get(watch=True), the URL is not show completely if the endpiont is long, as below.

[code]

 User would like get the service endpoint by KFServing SDK client, such a

[2020-02-19 15:10] jinchihe commented on #686
/assign

[2020-02-19 15:57] yuzisun commented on #686
I thought `get` returns the full json response and you can directly access the url there right?

[2020-02-19 17:08] karlschriek opened #687 "Support for TensorFlow 2.0 runtimes"
Currently KFServing only support the following TensorFlow runtimes: 1.11.0, 1.11.0-gpu, 1.12.0, 1.12.0-gpu, 1.13.0, 1.13.0-gpu, 1.14.0, 1.14.0-gpu.

TensorFlow 2.0 has been out for quite some time now. All of our productive models are trained with it. Are there plans to start supporting 2.0 in KFServing?

[2020-02-19 17:12] cliveseldon commented on #687
Yes we should update to allow TFServing 2 images in configmap.
We should also check how NVIDIA TRTIS which supports Tensorflow allows Tensorflow 2 models.

[2020-02-19 18:51] Tomcli commented on #684
Thanks Dan.

[2020-02-19 18:51] #684 closed

[2020-02-20 05:57] yuzisun commented on #687
/good-first-issue

[2020-02-20 08:40] karlschriek opened #688 "On EKS, kfserving prevents kube-system pods from starting up"
After scaling EKS Nodegroups down to zero overnight and restarting the next morning, all Pods are stuck in Pending status. Some investigation revealed that the AWS Nodes were not reaching a Ready status, receiving the taint  node.kubernetes.io/not-ready:NoSchedule.

As it turns out the kube-system Pods (aws-node and kube-proxy) are failing to launch, giving the following error:
[code]

This happen

[2020-02-20 10:00] jinchihe commented on #686
Yeah, I agree with, that should be easy after get.
/close

[2020-02-20 10:00] #686 closed

[2020-02-20 10:26] Anderssorby opened #689 "Tensorflow example not working"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I tried to apply the config described in https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow

So I tried this config:
[code]
And running `kubectl apply -f tensorflow.yaml`

When running `kubectl get inferenceservice` I get:
[code]

I'm getting this when running kube

[2020-02-20 13:03] yuzisun commented on #688
looks the doc is missing the step to turn on either namespace selector or object selector for kfserving pod mutator to make sure that does not interfere with control panel pods.
if you are on kubernetes <= 1.14, you should turn on [namespace selector](https://github.com/kubeflow/kfserving#install-kfserving) for the kfserving pod muator
if you are on kubernetes >=1.15 you should turn on object sele

[2020-02-20 16:27] yuzisun commented on #689
@Anderssorby can you get more detailed output with following command ?

Kubectl get ksvc power-price-forecast-predictor -oyaml

[2020-02-20 17:25] janeman98 commented on #539
/assign @janeman98

[2020-02-21 10:22] Anderssorby commented on #689
Here:
[code]
I got more hang of it now and I got it working with Tensorflow Serving. Possibly coming back to this project later though.

[2020-02-21 11:37] florian-koenig commented on #648
What's your scheduled release date for 0.3?

[2020-02-21 14:58] yuzisun commented on #689
@Anderssorby I noticed that you deployed the service to kubeflow namespace, that won’t work because it is system namespace and service deployed there does not call  kfserving pod mutator. If you deploy to default namespace or other user namespaces that should work.

[2020-02-21 22:56] animeshsingh commented on #648
@florian-koenig this will follow Kubeflow 1.0 launch announcement, so in couple of weeks following March 2nd. Till then there is quite a bit of housekeeping to make the 1.0 integration experience with Kubeflow smoother.

[2020-02-23 17:34] divyaprabha123 commented on #687
Can I raise a PR for this?

[2020-02-24 21:16] Tomcli opened #693 "SDK should allow credentials to be set in its own namespace."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When we are trying to run `KFServing.set_credentials` on the KubeFlow Jupyter server. We encountered the below errors. It looks like the SDK try to find the control-plane config `inferenceservice-config` and check the configmap status. However, the KubeFlow Jupyter server doesn't allow R

[2020-02-24 21:18] rzgry opened #694 "Improve custom image sample documentation."
/kind feature

Add an example using a prebuilt existing container with a model wrapped inside it.

Add another example that extends the KFServing SDK to create a container compatible with KFServing client format, so that all the functionalities of KFServing can be leveraged

[2020-02-24 21:20] rzgry commented on #694
/assign @tomcli

[2020-02-24 21:39] animeshsingh commented on #694
/assign @rzgry

[2020-02-24 21:41] animeshsingh commented on #694
As per @yuzisun -

this can be a good example for kfserving custom https://github.com/SeldonIO/seldon-models/blob/master/pytorch/moviesentiment_roberta/inference/kfserving/model.py

[2020-02-24 22:26] yuzisun commented on #687
@divyaprabha123  Yes! Looking forward to your PR.

[2020-02-24 23:45] #432 closed

[2020-02-25 00:57] yuzisun opened #695 "KFServing Transformer does not work with onnxruntime and trtis model server"
/kind bug

**What steps did you take and what happened:**
Currently kfserving transformer does not work with onnxruntime and trtis model server due to following validation because their data plane do not support `instances` key in JSON.
https://github.com/kubeflow/kfserving/blob/master/python/kfserving/kfserving/handlers/http.py#L24

**What did you expect to happen:**
Before we get to V2 data plan

[2020-02-25 03:07] yuzisun commented on #693
/cc @jinchihe

[2020-02-26 14:13] karlschriek opened #696 "storage-initialiser fails to copy model from S3"
Upon using a Secret and Service account that look like this:

[code]
...and an InferenceService like this:

[code]

...the model fails to serve, with the `storage-initialiser` pod throwing the following error:

[code]

This was using Kubeflow 1.0.0RC4, KFServing 0.2.2 and KNative 0.11.1

[2020-02-26 18:15] ryandawsonuk opened #697 "log which namespace and which predictor"
If there are multiple models running in a cluster then the information sent by the logger currently doesn't uniquely identify which one.  There could be models using the same name in different namespaces.

Currently the predictor and model would only identified by a single combined string of the form `<model>-<predictor/transformer/explainer>-<default/canary>`. It would be better to send each part

[2020-02-26 20:41] marcindulak commented on #696
https://www.kubeflow.org/docs/aws/aws-e2e/ shows an example of the `kind: Secret` which uses

[code]

I've just used the original AWS variable naming successfully (at least in terms of storage-initializer not failing with `IndexError: string index out of range`) with minio.

[2020-02-26 21:10] nlarusstone commented on #546
@WangAllen851018 are you still planning to contribute to this? This is a feature we are interested in as well

[2020-02-26 23:54] jinchihe commented on #693
@Tomcli I guess that may be caused by the KFServing is installed in `kubeflow` namespace, and in our constants, set the `INFERENCESERVICE_SYSTEM_NAMESPACE = 'kfserving-system'`, the configmap may be in `kubeflow` namespace.

Could you please help tp check which namespace KFserving installed? and then check if have `inferenceservice-config` in that namespace?If this is root course, you can reset th

[2020-02-27 00:06] yuzisun commented on #696
the default s3 secret key names expected by kfserving is configured here
https://github.com/kubeflow/kfserving/blob/master/config/default/configmap/inferenceservice.yaml#L89

[2020-02-27 00:53] #688 closed

[2020-02-27 01:06] yuzisun commented on #689
/close

Please check docs here https://github.com/kubeflow/kfserving/blob/master/README.md#kfserving-in-kubeflow-installation.

[2020-02-27 01:06] #689 closed

[2020-02-27 01:07] Tomcli commented on #693
So I'm able to change the `INFERENCESERVICE_SYSTEM_NAMESPACE`. However, the Jupyter notebook server won't let me access the configmap because we don't have any permission outside of our namespace. I think we need a new mechanism for the multi-users scenario where the s3/gcp credentials are created under the same namespace as the Jupyter notebook server.

[code]

[2020-02-27 03:05] jinchihe commented on #693
So I think we set this as `constants`, and allow user set env variables to update that?
[code]

comments? @yuzisun

[2020-02-27 03:10] yuzisun commented on #693
@Tomcli the secrets are created in user namespace, it just needs to access the configmap to get the secret data key names to create the secret. We could allow user to pass in this from the API.

[2020-02-27 03:26] jinchihe commented on #693
I think we can try to get from  the `configmap`, if failed (no configmap or no credentials), then we will get from `constants` that allows user setting that.

[2020-02-27 03:43] jinchihe commented on #693
Checked the code, we already defined that in the `constants `, we just need to enhance if cannot get `configmap`, and return None to get from `constants` then.

[2020-02-27 07:24] sunandosamaddar opened #702 "make: *** [manifests] Error 1 while running quick_install.sh"
/kind bug

**Steps taken**
Hi, I'm trying KFServing local workstation install like shown in GitHub page.

`kind create cluster` runs, but next `./hack/quick_install.sh` throws below error while trying `istioctl verify-install`.

[code]

**Environment:**
- Istio Version: 1.3.6
- Kubernetes version: client 1.15.5 server **1.17.0**
- OS: Darwin ... 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:5

[2020-02-27 09:29] karlschriek commented on #696
Ok thanks for the input. Is it necessary to use Minio at all here? I'm not really that familiar with how Minio works exactly. On my cluster I have access directly to S3, and normally would use an endpoint like "s3.eu-east-1.amazonaws.com". Are you saying that I need to use Minio as a go-between?

Also, doesn't it make more sense to use by default the variable names  AWS_ACCESS_KEY_ID and   AWS_SEC

[2020-02-27 10:04] karlschriek opened #703 "On cluster with Kubeflow 1.0, Knative 0.11.1 fails to install"
I am attempting to roll out Knative 0.11.1 in order to use KFServing 0.2.2.

I was able to roll this out on a cluster with Kubeflow 1.0.0RC4 and rolling out KNative as follows:

[code]
On v1.0 I get the following error:

`Error from server (InternalError): error when creating "STDIN": Internal error occurred: failed calling webhook "config.webhook.serving.knative.dev": Post https://webhook.knative

[2020-02-27 10:33] yuzisun commented on #696
Minio is not a requirement, the idea is to support any S3 compatible storage. The above naming convention is for environment variable, here we are using it for the secret data key name, but you are free to configure what you want.

[2020-02-27 10:57] karlschriek commented on #696
Yes I know that it is for a Secret, but every other application I've seen
that uses Secrets to pass AWS credentials have used the standard naming
convention. I realise I can change it myself, I just find it strange that
you use a different convention here.

On Thu, 27 Feb 2020 at 11:33, Dan Sun <notifications@github.com> wrote:

[2020-02-27 11:13] yuzisun commented on #696
I think the name is copied from original kubeflow s3 example since we want to keep consistent, I just checked it is changed there too, so feel free to raise a PR to fix the default then. Thanks for brought this up.

[2020-02-27 13:22] karlschriek commented on #703
The problem appears to be due to resources that were not cleaned up when a previous installation of Kubeflow was removed.

I had to delete Kubeflow again, and also manually remove:

[code]

Installing after that worked.

[2020-02-27 13:22] #703 closed

[2020-02-27 18:27] #693 closed

[2020-02-28 16:01] ace-gabriel opened #706 "Support for PySpark 2.4.4 Mllib"
/kind feature

Hi, our current pipeline and models are implemented using PySpark Mllib. After looking at the examples I realize we currently don't support PySpark Mllib. Can we include PySpark model server as additional feature in the next release? Thanks

Link on how MLflow implement Spark: https://www.mlflow.org/docs/latest/python_api/mlflow.spark.html

[2020-02-28 17:26] #695 closed

[2020-02-28 22:51] bitscuit commented on #681
I can pick up this issue

/assign @bitscuit

[2020-02-29 04:59] yuzisun commented on #685
please check https://github.com/kubeflow/kfserving#kfserving-in-kubeflow-installation, the storage initializer init container is not injected because the service is deployed to namespace with `control-plane` label, model is not mounted to /mnt/models hence the above error.

/close

[2020-02-29 04:59] #685 closed

[2020-03-02 23:08] rzgry opened #708 "Unable to run a prediction on custom image not following the TF V1 REST API"
/kind bug

**What steps did you take and what happened:**

Deployed a prebuilt image of `codait/max-object-detector` from this WIP PR here https://github.com/kubeflow/kfserving/pull/698

The Max Object Detector api server expects a POST request to the `/model/predict` endpoint and does not follow the TF V1 REST API

Try to run a prediction using the inference service  but get a 404.

[code]

**Wha

[2020-03-03 12:13] Jude188 commented on #696
Try:
`serving.kubeflow.org/s3-endpoint:` s3.eu-east-1.amazonaws.com`
as your annotation. I had a similar issue.

[2020-03-03 20:01] Jude188 commented on #668
Any news or progress on this one with Kubeflow 1.0 out?

[2020-03-03 20:07] Jude188 commented on #632
@axsaucedo Looking at the changes in that PR it doesn't look like it was fixed... The code in the #589 is identical to the broken code referenced in this issue. I've run into exactly the same thing. The default is also misleading as it suggests a scheme is not required.

[2020-03-03 23:55] yuzisun opened #712 "storage initializer init container error log does not propagate back"
/kind bug

**What steps did you take and what happened:**
Currently if the storage initializer fails, the pods vanishes after a few minutes and the pod log does not propagate back to knative revision or service, so user does not know what's going on.

**What did you expect to happen:**
The storage initializer init container log should propagate back by adding `TerminationMessagePolicy: Termination

[2020-03-04 08:50] krishnadurai commented on #668
@Jude188
I'm looking to solve this issue for kfctl_istio_dex.yaml which uses 1.3.1 istio.

Though it seems downgrading istio to 1.1.6 in kfctl_istio_dex.yaml and using this PR will help:
https://github.com/kubeflow/manifests/pull/949

You could easily change Istio manifests to 1.1.6 by changing the entries in kfdef applications: istio-crds and istio-install.
change istio-crds-1-3-1 in path to isti

[2020-03-04 13:36] krishnadurai commented on #668
@ryandawsonuk you could use the PR mentioned kubeflow/manifests#949 to enable your setup in Digital Ocean.

[2020-03-04 16:22] yuzliu opened #715 "kfserving creates incorrect URL with new Knative serving domainTemplate"
/kind bug

**What steps did you take and what happened:**
Knative serving 0.12.1 now supports domainTemplate: https://knative.dev/docs/serving/samples/knative-routing-go/
Kfserving assumes the domainTemplate is '{{.Name}}.{{.Namespace}}.{{.Domain}}'

Once we update the domainTemplate to '{{.Name}}-{{.Namespace}}.{{.Domain}}', kfseving no longer put namespace in the URL.

For example, with domainTe

[2020-03-05 20:22] #697 closed

[2020-03-06 00:18] #702 closed

[2020-03-07 14:10] xieydd opened #719 "Support for NCNN\MNN\OpenVINO inference framework."
/kind feature

NCNN and MNN inference framework is widely use in arm, Openvino inference framework is widely use in x86 platform. For speed up inference, we will not use origin inference part of tensorflow or onnx etc.Can we consider the candidate  as additional feature in the next release? 😊
Link on NCNN : https://github.com/Tencent/ncnn
Link on MNN: https://github.com/alibaba/MNN
Link on OpenVIN

[2020-03-09 19:09] #715 closed

[2020-03-10 01:30] jkwak3 opened #720 "Support for mounting a PVC for a transformer"
/kind feature
I saved a sklearn scaler object as python pickle in a pvc before training. After training, I wanted to load the object in kf serving transformer pod so that a proper preprocessing can be done. However, I could not find any examples of mounting a pvc for transformer. If there is a way to mount a pvc, I would like to know how. If not, I think it is necessary to support the feature.

**

[2020-03-10 12:45] judahrand opened #721 "Istio Virtual Service CorsPolicy"
/kind feature

**Describe the solution you'd like**

It would be great to be able to set the [CorsPolicy](https://istio.io/docs/reference/config/networking/virtual-service/#CorsPolicy) on the VirtualService which is automatically deployed by KFServing.

**Anything else you would like to add:**

This seems like a relatively simple feature to add and one that I would be happy to attempt to implement

[2020-03-10 13:46] yuzisun commented on #720
please check https://github.com/kubeflow/kfserving/issues/664, you should be able to mount the pvc by adding env `STORAGE_URI` if you pull from master.

[2020-03-10 16:07] yuzisun opened #722 "Can not curl top level KFServing virtual service with https"
/kind bug

**What steps did you take and what happened:**
We have setup istio ingress gateway with https, however curl does not work when calling KFServing top level virtual service, note that we changed knative domain template to `{{name}}-{{namespace}}` to work with wildcard cert.
[code]

**What did you expect to happen:**
https call should work

**Anything else you would like to add:**
The issu

[2020-03-10 20:44] katiesandford commented on #648
@florian-koenig I was told that the 0.3 release will be this week here: https://kubeflow.slack.com/archives/CH6E58LNP/p1583854544134400

[2020-03-10 21:11] katiesandford opened #725 "logger spec missing from the V1alpha2PredictorSpec in the python sdk"
/kind bug

**Summary**

The logger spec is missing from the V1alpha2PredictorSpec in the kfserving sdk (v 0.2.2.1).

**What did you expect to happen:**
I would have expected that the sdk would mirror the structure of the custom resource definition.
Since the [spec contains a logger](https://github.com/kubeflow/kfserving/tree/master/docs/samples/logger/knative-eventing) I'd have expected the [predi

[2020-03-10 21:14] katiesandford commented on #725
Check out related slack convo here: https://kubeflow.slack.com/archives/CH6E58LNP/p1583854544134400

Sounds like it will be fixed in the 0.3 release

[2020-03-10 21:22] yuzisun commented on #725
/cc @jinchihe @animeshsingh

[2020-03-10 22:26] animeshsingh commented on #648
@jinchihe how are we doing with SDK?

[2020-03-10 23:00] yuzisun commented on #722
it turned out that if we do not set the port explicitly on the virtual service it forwards the port client is using in this case 443, so it calls `cluster-local-gateway.istio-system.svc.cluster.local:443` which does  not exist.

[2020-03-11 01:19] #722 closed

[2020-03-11 02:37] jinchihe commented on #648
@animeshsingh Once the PR #700 merged, I will refresh that immediately. Thanks.

[2020-03-11 07:10] zhangrongguo opened #727 "Contribute to kfserving project（pytorchserver related）"
Dear Sir or Madam，

We have made some changes to pytorchserver, and want to contribute the code to KFServing project. We have submitted the CLA.

The changes are described as follows:

- Pass class with parameters to pytorchserver
- Auto batching for pytorchserver predict

[2020-03-11 22:35] jinchihe commented on #648
@animeshsingh kfserving SDK v0.3.0 has been released, thanks.

[2020-03-12 00:46] jinchihe commented on #725
@katiesandford kfserving SDK v0.3.0 has been released. Would you please check with new version SDK.

[2020-03-12 01:47] yuzisun commented on #727
Nice! we have some discussions on this issue https://github.com/kubeflow/kfserving/issues/546.

[2020-03-12 02:27] pradithya opened #730 "Add ability to schedule inference service pods to certain nodes"
/kind feature

**Describe the solution you'd like**
Allow user to specify node selector, affinity, anti-affinity, and toleration so that they can control in which node the inference service pods will be scheduled.
The implementation should also allow predictor and transformer to have a different configuration (related to https://github.com/kubeflow/kfserving/issues/666).

It could look something l

[2020-03-12 06:06] zhangrongguo commented on #546
@yuzisun @WangAllen851018 @nlarusstone

Hi, WangAllen851018 and I are in the same team. Now we have the solution of this issue, and we want to contribute our code to kfserving project. But we don't know how to do that (We already have the CLA).

[2020-03-12 06:09] WangAllen851018 commented on #546
Yes，the work will be contributed to this by the member of our research program @zhangrongguo in #727

[2020-03-12 06:10] WangAllen851018 commented on #546
@nlarusstone Yes，the work will be contributed to this by the member of our research program @zhangrongguo in #727

[2020-03-12 13:38] yuzisun commented on #546
Would you guys like to join our WG meeting on 3/18 9am PST to discuss this? If it is too late for you we can schedule a special topic meeting on this.

[2020-03-12 18:47] stomplee commented on #629
I'm experiencing issues with this as well.  Used the https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.0.yaml config first and tried this and it failed as it seems no configuration was made that sets up the ingress for it so instead I tried this one: https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws.v1.0.1.yaml  and it doesn't even create an inferenceserv

[2020-03-12 23:34] janeman98 commented on #629
@wronk
Sorry for my late response. I don't see your question until stomplee comment on this issue.
1. I install Kubeflow in minikube using
`export CONFIG_URI="https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml"`

2. Since I don't have load balancer in my env, I use
`CLUSTER_IP=$(kubectl -n istio-system get service istio-ingressgateway -o jsonpath='{.

[2020-03-13 02:54] Iamlovingit opened #733 "custom image has 2 interfaces, how to access them?"
/kind bug
If the custom image has one interface, it can be accessed by set route '/v1/models/{servername}:predict'. But if the custom image has >=2 interfaces, how to access others?
This is a custom flask server example, i can call `hello_world` by `curl http://xxx//v1/models/my-custom-sample:predict`, but i cannot call `hello_world_test`.
[code]

**What did you expect to happen:**
I want to acces

[2020-03-13 07:27] jal06 opened #734 "Unable to retrieve SERVICE_HOSTNAME for flowers-sample example"
/kind bug

**What steps did you take and what happened:**

I installed Kubeflow on GCP using https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.yaml (which works with manifests/master branch), as suggested in [991](https://github.com/kubeflow/manifests/issues/991)
I used this kfdef file because I already had the same issue with version [1.0.0](https://github.com/kubeflow/manifes

[2020-03-13 07:40] zhangrongguo commented on #546
@yuzisun @WangAllen851018 @Iamlovingit
We will attend the WG meeting. By the way, what materials should we prepare? And could you send us the meeting link?

[2020-03-13 12:49] yuzisun commented on #734
/cc @krishnadurai

[2020-03-13 12:52] yuzisun commented on #730
this is probably best to be implemented in your pod or deployment mutating webhook imo.

[2020-03-13 13:10] ryandawsonuk commented on #668
Hi @krishnadurai sorry it has taken me so long to test. I've just taken the latest master, which is at https://github.com/kubeflow/manifests/commit/9ec6bb39e9bb76d7a9bdef290628a6c6f36952ce and includes https://github.com/kubeflow/manifests/pull/949. My InferenceServices do now start. But I'm not clear on how I now make calls to them as they're no longer [reachable on the external IP](https://githu

[2020-03-13 17:52] pradithya commented on #730
@yuzisun Can you explain more? Is it inside kfserving or outside?

[2020-03-14 21:45] yuzisun commented on #546
@WangAllen851018 @Iamlovingit @zhangrongguo  Write a google doc with the proposal would be helpful, the zoom link is https://zoom.us/j/920703993 and the coming WG meeting is on 3/18 9am-10am PST. Please also join the [KFServing slack](https://app.slack.com/client/T7QLHSH6U/CH6E58LNP) so that we can chat there also. We are excited to talk to you guys!

[2020-03-15 02:24] #725 closed

[2020-03-15 09:54] jinchihe commented on #725
@katiesandford The SDK has been refreshed, Could you please have a check, thanks.

[2020-03-15 13:03] yuzisun commented on #720
@jkwak3 this feature is released under 0.3 now, please give a try by adding following env on your transformer spec.
[code]

[2020-03-15 14:01] yuzisun commented on #122
We have tested KFServing with https with certs, this should now work with KFServing 0.3 and Knative 0.11+. For details you can check [knative docs](https://knative.dev/docs/serving/using-a-tls-cert/)

/close

[2020-03-15 14:01] #122 closed

[2020-03-15 14:08] yuzisun commented on #648
@animeshsingh @jinchihe Do you need to update pipeline & fairing for KFServing 0.3 ? I think we have done all the other tasks.

[2020-03-16 04:06] zhangrongguo commented on #546
@yuzisun
Hi, I want to know how to join the slack channel.
The searching result of kfserving is empty.

![image](https://user-images.githubusercontent.com/55726194/76722424-7bdf6680-677e-11ea-87d0-354a72555a5b.png)

[2020-03-16 04:26] zhangrongguo commented on #546
When I clicked the link in your mail, it let me fill the slack url. But I am not sure how to fill it.
![image](https://user-images.githubusercontent.com/55726194/76723144-425c2a80-6781-11ea-9be4-299024f0fa86.png)

[2020-03-17 00:16] yuzisun commented on #546
@zhangrongguo my bad, can you join [kubeflow slack](kubeflow.slack.com) and then find the #kfserving channel ?

[2020-03-17 12:47] krishnadurai commented on #734
@jal06 we are working on releasing a patch for this change. You can track the status with this PR here:

https://github.com/kubeflow/manifests/pull/1017

[2020-03-17 17:22] jbottum opened #737 "Create KFServing's Stable Requirements using the Kubeflow Community's process as defined in the Application Requirement's template"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-03-17 17:23] jbottum commented on #737
@ellis-bigelow @animeshsingh @cliveseldon KFServing should define its "stable" requirements per the Kubeflow Community's define process of using the Applications Requirements template.   https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md

[2020-03-18 12:47] yuzisun commented on #720
Please reopen if this does not work for you.
/close

[2020-03-18 12:47] #720 closed

[2020-03-18 13:25] karlschriek opened #738 "cannot create resource "inferenceservices" in API group "serving.kubeflow.org" in the namespace "...""
/kind bug

I don't seem to be able to create inference services from within Jupyter. Doing so results in the following error:

`inferenceservices.serving.kubeflow.org is forbidden: User "system:serviceaccount:karl-schriek:default-editor" cannot create resource "inferenceservices" in API group "serving.kubeflow.org" in the namespace "karl-schriek": RBAC: clusterrole.rbac.authorization.k8s.io`

Auth

[2020-03-18 13:54] karlschriek opened #739 "flowers example fails to reach "ready" stage"
/kind bug

As per the example [here]() I am deploying the "flowers" model as follows:

[code]

However, the model never reaches a ready stage.

`kubectl -n karl-schriek describe inferenceservice/flowers-sample` yields the following:

[code]

And `kubectl -n karl-schriek describe svc/flowers-sample-predictor-default` yields:

[code]

Given that this is a vanilla example, and as far as I can tell I

[2020-03-18 18:14] krishnadurai commented on #668
@ryandawsonuk
The gateway you should be looking for is `kfserving-ingressgateway` instead of `istio-ingressgateway`. I'll update the docs as soon as the patch is released.

[2020-03-18 19:59] ryandawsonuk commented on #668
Hmm, for me that gives `Error from server (NotFound): services "kfserving-ingressgateway" not found`. I am using a[ kfdef based on istio_dex](https://github.com/ryandawsonuk/seldon-gitops/blob/7342e5e92e90620f838b56ab39efbcb5360c84f4/kfctl_istio_dex_noseldon.yaml). Perhaps it is missing something. I'll have to compare against the manifests repo as [that deployment](https://github.com/kubeflow/mani

[2020-03-19 01:57] zhangrongguo commented on #546
@yuzisun @WangAllen851018 @Iamlovingit
If you guys have any requstions about our proposals, please feel free to tell us. And if you have the discussing results, please also let us know. Thanks very much!

[2020-03-19 05:27] orezahc opened #740 "Host not found when istio-ingressgateway is installed"
/kind bug

**What steps did you take and what happened:**
I added ingress-gateway configuration in script `hack/quick-install.sh` to setup kfserving.

the gateway part of script:
[code]

With this change, the following request failed.
[code]

However, the following request succeed.
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
The follwoing request should suc

[2020-03-19 12:07] krishnadurai commented on #668
@ryandawsonuk thanks for sharing your manifests and kfdef.

From what I see, the component istio/kfserving-gateway is missing in your kfdef:

Please refer to the following diff where I've patched it to some other kfdefs.
https://github.com/kubeflow/manifests/pull/949/files#diff-3246bb7e71d05445ff82aeff687b3d34R31-R38

[2020-03-19 21:35] yantriks-edi-bice commented on #629
I'm facing this issue as well (even after upgrading to 1.0.1). On GCP with IAP.

[2020-03-19 21:49] yantriks-edi-bice commented on #469
I have the same issue on Kubeflow 1.0.1

edibice$ kubectl get inferenceservice -n kubeflow-edi-bice
NAME          URL   READY   DEFAULT TRAFFIC   CANARY TRAFFIC   AGE
taxi-sample         False                                      3h5m

edibice$ kubectl get kservice -n kubeflow-edi-bice
NAME                            URL                                                                  LATESTCREATE

[2020-03-20 00:28] yuzisun commented on #734
@krishnadurai is this patched in kubeflow 1.0.1 yet ?

[2020-03-20 00:32] yuzisun commented on #739
@karlschriek please see #734.

[2020-03-20 01:07] yuzisun commented on #738
How do you install kfserving 0.3 with kubeflow 1.0 ?

[2020-03-20 08:09] karlschriek commented on #739
Ok thanks. Is this in 1.0.1 already?

On Fri, 20 Mar 2020 at 01:32, Dan Sun <notifications@github.com> wrote:

[2020-03-20 08:16] karlschriek commented on #738
@yuzisun I have to be honest that the instructions for installing KFServing is currently quite confusing. In some places it is stated that KFServing is installed with Kubeflow 1.0 automatically. For me that isn't the case (on AWS), not sure if that is the case for other platforms.

I rolled out KFServing by first rolling out KNative 0.11.1 and then using `kubectl apply -f kfserving.yaml` with [thi

[2020-03-20 11:53] ryandawsonuk commented on #668
@krishnadurai I don't see istio/kfserving-gateway in https://github.com/kubeflow/manifests/blob/6abf161dc352018bd5be22d5394120013d7e54e3/kfdef/kfctl_istio_dex.yaml - is it missing for the 1.3.1 configurations?

[2020-03-20 12:58] yuzisun commented on #738
@karlschriek  I am not sure why kfserving is not installed in [aws kfdef](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws.v1.0.1.yaml), you might want to  create an issue to the manifests repo.

[2020-03-20 14:09] yuzisun commented on #734
@jal06 Can you try now the fix the patched to [kubeflow v1.0.1](https://github.com/kubeflow/manifests/tree/v1.0.1)

[2020-03-20 14:14] yuzisun commented on #734
@jal06  note that you will need to change to use kfserving ingress gateway instead of default istio ingress gateway, we are going to update our docs to reflect his change.
[code]

[2020-03-20 14:58] jal06 commented on #734
I created a new instance with the patched kubeflow v1.01.
The good news is that I can now retrieve the CLUSTER_IP
But it looks that I am not able to retrieve the SERVICE_HOSTNAME

~/kubeflow/kfserving/kfserving/docs/samples/tensorflow$ MODEL_NAME=flowers-sample
~/kubeflow/kfserving/kfserving/docs/samples/tensorflow$ INPUT_PATH=@./input.json
~/kubeflow/kfserving/kfserving/docs/samples/tensorflow$ C

[2020-03-20 15:02] krishnadurai opened #741 "Question: Kubeflow installation's ingress gateway for kfserving is different than an independent install - which gateway to document in kfserving docs?"
**Clarification Required**

The patch for 1.0.1 Kubeflow manifests now makes the ingress gateway used for prediction for Kubeflow KFServing to be `kfserving-gateway` instead of `istio-ingressgateway`.
kubeflow/manifests#1017

Refer Issues:
#668
#924

Whereas when we install kfserving independently without the help of kubeflow/manifests we still route the requests through `istio-ingressgateway`.

T

[2020-03-20 15:05] jal06 commented on #734
The command
`SERVICE_HOSTNAME=$(kubectl get inferenceservice ${MODEL_NAME} -o jsonpath='{.status.url}' | cut -d "/" -f 3)`
returns null

Did I miss something ?

[2020-03-20 15:10] krishnadurai commented on #734
Can you paste the output of `kubectl get ksvc,configuration,revision,route` ?

[2020-03-20 15:12] jal06 commented on #734
@yuzisun @krishnadurai

When describing the inferenceservice , I see that Ingress has not yet been reconciled

`kubectl get ksvc,configuration,revision,route`
NAME                                                           URL                                                                           LATESTCREATED                            LATESTREADY                              READY     REASON
s

[2020-03-20 18:24] yantriks-edi-bice commented on #629
Thanks - those last two bullets helped out as the sample instructions did not work as is

[2020-03-20 22:45] ellis-bigelow commented on #708
This has been relaxed and should be fixed in v0.3.0
/close

[2020-03-20 22:45] #708 closed

[2020-03-21 23:46] yuzisun commented on #664
fixed in v0.3.0
/close

[2020-03-21 23:46] #664 closed

[2020-03-21 23:48] yuzisun commented on #604
/close

[2020-03-21 23:50] yuzisun commented on #407
this should not be an issue anymore.
/close

[2020-03-21 23:50] #407 closed

[2020-03-21 23:52] yuzisun commented on #733
As discussed, we can possibly introduce an annotation for the custom endpoint and make the top level virtual service configurable.

[2020-03-23 17:25] ryandawsonuk commented on #668
I've now switched to a [1.1.6 version of istio with the istio_dex variant kfdef](https://github.com/ryandawsonuk/seldon-gitops/blob/9594833635148540614a26c80e03211cff283915/kfctl_istio_dex_noseldon.yaml). Am again finding that everything deploys correctly except the [kfserving gateway manifests](https://github.com/kubeflow/manifests/tree/master/istio/kfserving-gateway/base), even though that kusto

[2020-03-24 21:24] rakelkar opened #744 "Use Triton for ONNX"
Update the ONNX framework and samples to use Triton as the underlying inference server container.

Rationale:
* Triton supports the KF v2 dataplane
* Current ONNX server does not support the v2 dataplane

[2020-03-24 21:24] rakelkar commented on #744
/assign rakelkar

[2020-03-24 21:26] rakelkar commented on #645
Hmm was not the case when I integrated it...! @deadeyegoodwin is an API token required for Triton as well?

[2020-03-24 21:31] deadeyegoodwin commented on #645
Previously you needed an API key to pull from the NGC registry (NVIDIA docker registry), but I don't think that is the case any longer.

[2020-03-24 21:32] zhenghuiwang commented on #741
+1 to this question.

Related to this, the basic tensorflow flower example has been broken for a while. (https://github.com/kubeflow/kfserving/issues/734)

[2020-03-24 22:06] ellis-bigelow commented on #744
Woah this is surprising. What happened to the ONNXServer?

[2020-03-25 03:23] rakelkar commented on #645
I found this: https://ngc.nvidia.com/catalog/containers/nvidia:tensorrtserver

However it seems to be the python client and not the server.. have a link you can share? Also any plans of renaming the container also? :)

[2020-03-25 07:16] animeshsingh commented on #741
I think we shall provide both, and users choose based on the situation.
/assign @animeshsingh

[2020-03-25 09:51] Iamlovingit commented on #733
good idea. I will give a try  in next week. do you have some else suggestions?

[2020-03-25 15:59] deadeyegoodwin commented on #645
@rakelkar  Unfortunately there is a bug on NGC that I hope will be fixed soon... by default it sometimes shows the clientsdk container instead of the server container. If you open the "Tags" tab (near the bottom),  you will see the 20.02-py3 container which is the server.

We will have a new repo/container name, "tritonserver", starting in the 20.03 release, which should be very soon.

[2020-03-25 17:03] rakelkar commented on #744
Triton integration is a great way to jumpstart KFServing v2 dataplane across the frameworks KF supports, not just ONNX. Updated issue to reflect that this is all about getting to a common dataplane. We should really consider this path for other frameworks that Triton supports such as TF, Pytorch.

[2020-03-25 17:59] #740 closed

[2020-03-26 10:03] yuzisun commented on #741
/close

[2020-03-26 10:03] #741 closed

[2020-03-26 10:09] yuzisun commented on #734
@jal06 any luck ?

[2020-03-26 10:09] yuzisun commented on #739
/close

Dup of #734

[2020-03-26 10:09] #739 closed

[2020-03-26 10:11] yuzisun commented on #738
/cc @Jeffwan

[2020-03-26 10:52] jal06 commented on #734
@yuzisun
thanks for upgrading the doc.

It sounds that there is a typo :
the name of the service is kfserving-ingressgateway instead of kfserving-ingressgatway (the letter 'e' is missing in gateway)

With this new command, I can retrieve the CLUSTER_IP
`MODEL_NAME=flowers-sample`
`INPUT_PATH=@./input.json`
`INGRESS_GATEWAY=kfserving-ingressgateway`
`CLUSTER_IP=$(kubectl -n istio-system get service

[2020-03-26 11:36] jal06 commented on #741
It sounds that there is a typo :
the name of the service is kfserving-ingressgateway instead of kfserving-ingressgatway (the letter 'e' is missing in gateway)

Use kfserving-ingressgatway as your INGRESS_GATEWAY if ...
should be
Use kfserving-ingressgateway as your INGRESS_GATEWAY if ...

[2020-03-26 12:32] theofpa commented on #696
If that helps, this configuration works smoothly for me:

`apiVersion: v1
kind: Secret
metadata:
  name: mysecret
  annotations:
    serving.kubeflow.org/s3-endpoint: s3.eu-west-1.amazonaws.com
    serving.kubeflow.org/s3-usehttps: "1"
    serving.kubeflow.org/s3-verifyssl: "1"
    serving.kubeflow.org/s3-region: eu-west-1
type: Opaque
data:
  awsAccessKeyID: xxx=
  awsSecretAccessKey: xxx==
---
a

[2020-03-26 13:40] yuzisun commented on #734
@jal06 Can you check if there are errors with the instruction I added in above PR?

[2020-03-26 14:11] jal06 commented on #734
@yuzisun
Thanks for fixing typo. Looks goog

About IngressNotConfigured, my understanding is that it will be solved by [949](https://github.com/kubeflow/manifests/pull/949) . Do you confirm ?
FYI, I installed the version 1.0.1 a few days ago, and the kfserving-ingressgateway was installed with this version. And I still encounter this issue IngressNotConfigured.
If I look at the description of [1.0

[2020-03-26 15:09] Jeffwan commented on #738
We have a separate issue to track the issue. https://github.com/kubeflow/manifests/issues/1035
I will finish PR review today

[2020-03-26 17:31] animeshsingh commented on #741
@jal06 fixed here
https://github.com/kubeflow/kfserving/pull/752

[2020-03-26 17:48] jal06 commented on #741
@animeshsingh Thanks for fixing the typo.

Getting the CLUSTER_IP works now .
So I agree that this issue must be closed.

However, if I follow the documentation of the flowers-sample example, I still have a problem when getting CLUSTER_IP variable.
The problem I have now is described in [734](https://github.com/kubeflow/kfserving/issues/734)

I am still not able to run the flowers sample (or any o

[2020-03-26 18:27] yuzisun commented on #734
@jal06 can you check this log
`kubectl logs -l app=networking-istio -n knative-serving`?

[2020-03-26 19:16] jal06 commented on #734
@yuzisun please find below the logs:
`kubectl logs -l app=networking-istio -n knative-serving`
{"level":"error","ts":"2020-03-26T19:12:00.739Z","logger":"istiocontroller.ingress-controller.status-manager","caller":"ingress/status.go:366","msg":"Probing of http://flowers-sample-predictor-default.kubeflow-jeanarmel-luce.svc:80/ failed, IP: 10.0.1.17:80, ready: false, error: unexpected status code: w

[2020-03-26 20:02] katiesandford commented on #648
Does anyone know when the manifests will be updated and released with 0.3? They still reference 0.2.2

[2020-03-26 22:09] yuzisun commented on #734
@jal06 I see HTTP 403, so I guess you may have istio RBAC turned on?

[2020-03-26 22:21] krishnadurai commented on #734
@jal06 Can you show us the output of both?

`kubectl get cm -n kubeflow inferenceservice-config`
`kubectl get cm -n knative-serving config-istio`

https://github.com/kubeflow/manifests/tree/v1.0.1

If you take a look at this tagged state of the repo, you'll find PR 949 there.

The tag was updated once post the release. Could you ensure if the folder, if you are using to install, is new and doesn't

[2020-03-27 01:33] jal06 commented on #734
@yuzisun : yes RBAC is on. I installed KF for GCP usinf OAuth.  With this kindd of install, RBAC is on

@krishnadurai
`date; kubectl get cm -n kubeflow inferenceservice-config`
Fri Mar 27 01:20:15 CET 2020
NAME                      DATA   AGE
inferenceservice-config   7      2d16h

`date; kubectl get cm -n knative-serving config-istio`
Fri Mar 27 01:20:27 CET 2020
NAME           DATA   AGE
config-

[2020-03-27 12:46] krishnadurai commented on #734
@jal06 I'm sorry I did not write the complete command. I wanted to see the values (yaml content) within this configuration:
[code]

[2020-03-27 12:53] jal06 commented on #734
`kubectl get cm -n kubeflow inferenceservice-config -o yaml`
apiVersion: v1
data:
  credentials: |-
    {
       "gcs": {
           "gcsCredentialFileName": "gcloud-application-credentials.json"
       },
       "s3": {
           "s3AccessKeyIDName": "awsAccessKeyID",
           "s3SecretAccessKeyName": "awsSecretAccessKey"
       }
    }
  explainers: |-
    {
        "alibi": {
            "im

[2020-03-27 12:53] jal06 commented on #734
`kubectl get cm -n knative-serving config-istio -o yaml`
apiVersion: v1
data:
  gateway.knative-serving.knative-ingress-gateway: kfserving-ingressgateway.istio-system.svc.cluster.local
  local-gateway.knative-serving.cluster-local-gateway: cluster-local-gateway.istio-system.svc.cluster.local
  local-gateway.mesh: mesh
  reconcileExternalGateway: "false"
kind: ConfigMap
metadata:
  annotations:

[2020-03-27 22:03] yuzisun commented on #734
@jal06 check my instruction here https://github.com/kubeflow/kfserving/pull/749, looks you need to create Istio RBAC rule unblock the request since by default it is deny all if you have RBAC on.

[2020-03-28 00:02] salanki commented on #730
@yuzisun: I don't think it's reasonable to expect every user to implement a custom admission controller just to add affinities. It also makes sense to have them as part of the InferenceService, instead of having to define my node requirements for my InferenceService in custom code in a separate admission controller.

[2020-03-28 13:42] yuzisun commented on #730
@salanki KFServing has been trying to find a right balance between allowing leaking operator fields into our inference service API which is data science or developer friendly and this use case definitely hits that, we can discuss what’s best way to implement this if you can join our WG meeting.

[2020-03-28 14:05] jal06 commented on #734
@yuzisun  thanks for your help.

I think I'll need some guidance.

I tried to create Istio RBAC rule but I continue to see some 403 errors in logs.

What looks strange to me is that the serviceaccount controller from the knative-serving namespace is able to get (or watch) the pods and service even if I do not create RBAC rules

`kubectl auth can-i get services -n <user-namespace> --as system:servi

[2020-03-29 02:36] yuzisun commented on #734
@jal06  [Istio RBAC](https://istio.io/docs/reference/config/security/istio.rbac.v1alpha1/) is different from [kubernetes RBAC](https://kubernetes.io/docs/reference/access-authn-authz/rbac/), Istio RBAC defines a permission to access a list of services and in this case you might need to create a  Istio `ServiceRoleBinding` to walk around for now. We will raise an issue to kubeflow manifests to see

[2020-03-29 07:58] jal06 commented on #734
@yuzisun  Thanks for the info about Istio RBAC. Your help is highly appreciated.

I applied the servicerolebinding and I still have the same problem : the SERVICE_HOSTNAME is not retrieved.
In the logs, I still see 403 errors

`kubectl logs -l app=networking-istio -n knative-serving`
{"level":"error","ts":"2020-03-29T07:31:03.058Z","logger":"istiocontroller.ingress-controller.status-manager","call

[2020-03-29 08:00] jal06 commented on #734
According to the [RBAC documentation](https://istio.io/docs/reference/config/security/istio.rbac.v1alpha1/), we need to add some methods an paths in the servicerole.

I see no methods and paths in the servicerole ns-access-istio.
Maybe we need some ? WDYT ?
Any other idea ?

`k describe servicerole ns-access-istio`
Name:         ns-access-istio
Namespace:    kubeflow-jeanarmel-luce
Labels:       <

[2020-03-29 17:15] yuzisun commented on #734
path and methods are optional and defaults to `*`, I think I gave you the wrong spec, can you try following instead?
[code]

[2020-03-29 18:08] jal06 commented on #734
@yuzisun  Good news . It works

Thanks a lot !!!

[2020-03-29 20:57] jal06 commented on #734
As a follow up :
- when I apply tensorflow.yaml, it works as expected. The requests are now executed successfullly
- I did a canary rollout, and it works too

However, I just notice that , after stopping to send requests to the application during 3 hours, I don't see  the application scales itself back down to zero . The pod is still running. Maybe we need to open another issue for that ?

[2020-03-30 13:20] jeffgriffith commented on #481
@jlewi I think i encountered this error and several more in dealing with a cluster I needed to uninstall/reinstall (TLS handshake, "cannot start configuration manager", kfserving-controller-manager would not start). These were very hard for me to debug because there wasn't a lot of help in the events to point me in the right direction. I did finally make things work however. Here was my summary fr

[2020-03-30 17:38] cliveseldon opened #753 "[Predict Protocol V2] Model Metadata extension"
How would extensions be handled for existing endpoints such as [model metadata](https://github.com/kubeflow/kfserving/blob/master/docs/predict-api/v2/required_api.md#model-metadata)

An example could be to add Pachyderm, or DVC data associated with the model, as discussed in https://github.com/SeldonIO/seldon-core/issues/1638

[2020-03-30 19:12] #696 closed

[2020-03-30 19:43] pjo256 opened #754 "Unable to access GCS storageUri using ServiceAccount credentials"
/kind bug

**What steps did you take and what happened:**

I'm trying to deploy an `inferenceservice` in `kind` with a GCS `storageUri` using the README instructions, but I'm seeing the `storage-initializer` container fail to read from GCS despite having a `ServiceAccount` with appropriate access.

To setup KF-Serving, I cloned the repo and ran`kind create cluster` followed by `./hack/quick_instal

[2020-03-30 21:43] ellis-bigelow commented on #730
Completely agree with this request.

We actually have this exact same problem with Knative, who made similar restrictions on their API before finally exposing the Pod Template Spec instead of ContainerTemplateSpec.

This is a big API discussion and I think we need to solve it before GA. It would be great to enable the full power of the PodTemplateSpec while simultaneously empowering users with fra

[2020-03-30 21:44] salanki commented on #730
Happy to join a WG meeting and also write up some use cases / examples if it is helpful!

[2020-03-30 23:47] jlewi commented on #481
Is there a specific question, bug, or feature request that this issue is tracking?

[2020-03-31 18:49] #694 closed

[2020-04-01 06:51] Iamlovingit opened #756 "How to set autoscale target by sdk"
/kind bug
This is the example of custom autoscale for yaml
[code]
I cannot find the method to config this target by sdk.  How to config it by sdk?

[2020-04-01 07:19] Iamlovingit commented on #756
Add annotation at metadata field.
[code]

[2020-04-01 07:19] Iamlovingit commented on #756
\close

[2020-04-01 07:20] #756 closed

[2020-04-01 16:29] #681 closed

[2020-04-02 12:35] kpeters opened #758 "key error in kf_serving_watch.py when running kfs-pipeline.ipynb sample"
Hi,

**Goal**: I'm trying to run the top example of kfserving pipeline samples (see: https://github.com/kubeflow/kfserving/blob/master/docs/samples/pipelines/kfs-pipeline.ipynb)

**What I changed**:
client = kfp.Client()
namespace = 'anonymous'

**What I expected to happen**:
For a model to be deployed through kubeflow pipelines

**What actually happened**:
The step in the pipeline failed with exi

[2020-04-02 20:19] orezahc opened #759 "Port conflict when using custom predictor with logger"
/kind bug

**What steps did you take and what happened:**
Custom Model will not works when logger is enabled.

custom.yaml
[code]
message-dumper.yaml
[code]

**What did you expect to happen:**
The custom model with logger enabled should be deployed successfully.

**Anything else you would like to add:**
The port of user-container is changed to 8081 from 8080 when logger is enabled
[code]

[code]

[2020-04-03 00:41] Jeffwan opened #760 "Protect KFServing endpoint"
/kind feature

Currently, a `kfserving-gateway` is used for kfserving inference endpoints. It uses LoadBalancer and all endpoints are publicly available without protection.

This doesn't meet requirement for production grade cluster. We need a way to project these endpoints.  Seems currently probe is a blocker to inference behind authn layer.

**Describe the solution you'd like**

Long term, I thi

[2020-04-03 11:48] kpeters commented on #758
Update

Today after setting up the cluster and deploying kubeflow, kfserving and prerequisites I tried the sklearn-iris CLI example (https://github.com/kubeflow/kfserving/blob/master/README.md#test-kfserving-installation )

Success!
However, setting up a notebook server after this deployment no longer worked: _Insufficient CPU_
Maybe that partially explains why the example wouldn't run? Although t

[2020-04-03 17:42] ellis-bigelow commented on #760
I would definitely lean option 1. Our default install should provide a single gateway that is configured correctly for kubeflow. Multiple gateways creates confusion and potential security holes. Option 3 seems like a non-starter. I'd prefer that we aren't in the business of authentication. Curious to hear what others thing.

[2020-04-03 23:29] Jeffwan commented on #668
@ryandawsonuk If you switch to kfdef with kfserving-gateway, it is supposed to skip auth since it uses LoadBalancer without auth directly?

[2020-04-04 06:47] ryandawsonuk commented on #668
Yes that’s what I see.

[2020-04-04 14:22] jal06 opened #762 "Pod not starting when running income sample"
/kind bug

**What steps did you take and what happened:**
I follow the [instructions](https://github.com/kubeflow/kfserving/tree/master/docs/samples/explanation/alibi/income) for running the sample income

When applying the yaml file , I see errors `Init:CrashLoopBackOff`   + errors in logs
`kubectl create -f income.yaml`
`inferenceservice.serving.kubeflow.org/income created`

`kubectl get po`
[co

[2020-04-04 21:11] yuzisun commented on #734
This should definitely work, please check the knative autoscaler pod see if any clues if it is not scale down to 0.

[2020-04-05 11:40] jal06 commented on #734
@yuzisun  Thanks for your help

In knative-serving, it looks that all pods are working
`kubectl get pod`
[code]

I checked the logs of all containers in all pods, and I see a lot of errors 'unsuccessful scrape' in the container autoscaler in pod autoscaler
`kubectl logs autoscaler-6cc8bc459b-vhjq8 -c autoscaler`
[code]

Another point which looks strange IMHO ; the RT looks high when launching the

[2020-04-05 22:04] jlewi commented on #760
+1  to option 1.

We should try to follow the pattern of "being secure" by default; i.e. we should not be exposing services publicly without authentication by default.

[2020-04-05 23:36] yuzisun commented on #760
/cc @krishnadurai
KFServing ingress gateway is a temporary walk around for the knative probing issue https://github.com/knative/serving/pull/6962, now they changed to the best effort probe instead of hard fail when getting HTTP 401/403 since probes are not backed up by credentials.

In order to use Kubeflow ingress gateway(should be simple config change), we first need to wait for above knative bu

[2020-04-06 07:54] jal06 commented on #734
@yuzisun :
1- I think I could now close this issue.
The issue about autoscaling is different than the initial issue about ingress-gateway.
Probably I'll need to do more investigations in logs and metrics for this problem about autoscaling .
And open a new issue if necessary.

2- Maybe we'll also need to add the Istio RBAC RoleBinding in the manifests file so that users who want to install KF in GC

[2020-04-06 10:10] yuzisun commented on #734
@jal06 Thanks for exercising all these in the kubeflow environment.
for 1) Looks like kubeflow namespace has istio sidecar injected for AuthZ, this is the upstream Knative issue I reported sometime back https://github.com/knative/serving/issues/6081, it is still not resolved yet. For now I would suggest disable the sidecar by adding the annotation `sidecar.istio.io/inject: false` on KFServing infe

[2020-04-06 13:14] krishnadurai commented on #760
Adding to @yuzisun 's explanation, I'll link the history of issues to provide some context around our current implementation and how it is linked to Knative's probing mechanism.

Since Istio ingressgateway is auth enabled, it was leading to the following issue:
kubeflow/kfserving#668

This was due to the probing mechanism of KNative istio-networking probe requests through the gateway which didn't

[2020-04-06 14:00] jal06 commented on #734
@yuzisun

I confirm that the autoscaling sample works after disabling the sidecar.

For the record, I added the annotation in autoscaling.yaml like below :

`more autoscale.yaml`
[code]

I close this issue now.

Thanks !!!

[2020-04-06 14:00] #734 closed

[2020-04-06 14:01] jal06 commented on #734
Solved by adding annotation

[2020-04-06 19:19] cliveseldon opened #763 "Add Outlier Detection and Drift Detection Examples"
/kind feature

Add [Alibi-Detect](https://github.com/SeldonIO/alibi-detect) Outlier Detection and Drift Detection examples for kfserving.

[2020-04-06 20:12] ellistarn opened #765 "v1alpha2 Laundry List"
Some recent customer feedback has exposed some deficiencies in our interface.

* Expose PodSpec features (perhaps [revision spec?](https://github.com/knative/serving/blob/master/pkg/apis/serving/v1/revision_types.go#L72))
* Clarify frameworks tensorrt/triton
* Explore alternate Canarying implementations (single resource vs multiple resources)

[2020-04-08 08:32] kangwoo opened #766 "Pods of the InferenceService are not created when using GCS ServiceAccount credentials"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I created an `InferenceService` that uses GCS, but a pod is not created.

[code]
ServiceAccount
[code]

inference-service.yaml
[code]
Revision -> Deployment -> Replicaset (O)-> Pod(X)

Replicaset error
[code]

The `user-gcp-sa` volume is defined in the deployment's pod spec, but it seems

[2020-04-08 11:40] yuzisun commented on #766
@kangwoo I think this code gets called both in pod mutator for storage initializer init container and main container, so volume got duplicated in the array. Would you be interested in making a contribution and fix this ?

https://github.com/kubeflow/kfserving/blob/master/pkg/controller/inferenceservice/resources/credentials/service_account_credentials.go#L104

[2020-04-09 01:16] kangwoo commented on #766
@yuzisun yes I'll try it.

[2020-04-10 02:31] mengkai94 opened #770 ""RevisionMissing" when running custom-prebuilt-image samples"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
status is ok

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

$ kubectl describe revision/custom-prebuilt-image-predictor-default-zrmjk
reuslt as flowing.
Name:         custom-prebuilt-image-

[2020-04-10 02:38] yuzisun commented on #770
I see big error message there

Last Transition Time: 2020-04-09T12:58:57Z
Message: 0/1 nodes are available: 1 Insufficient memory.

[2020-04-10 02:40] mengkai94 commented on #770
the memory is sufficient
$ free
              total        used        free      shared  buff/cache   available
Mem:        7781060     1639596      249468      475428     5891996     5880668
Swap:             0           0           0

[2020-04-10 03:25] mengkai94 commented on #770
reset minikube memory to 10000, the problem is solved.
when using minikube run kfserving, the memory must be largger than a threshold?

[2020-04-10 03:28] yuzisun commented on #770
Because It installs istio and knative on minikube so I guess not much left for the inference service pod.

[2020-04-10 03:31] mengkai94 commented on #770
@yuzisun  thanks a lot.

[2020-04-10 07:15] #770 closed

[2020-04-10 16:14] yuzisun commented on #759
@orezahc this should be fixed in 0.3.0 already

[2020-04-10 16:16] yuzisun commented on #758
/cc @jinchihe @animeshsingh

[2020-04-10 16:17] yuzisun commented on #762
@jal06 this seems like network issue?

[2020-04-10 16:41] jal06 commented on #762
Hummm. Something looks weird.
412 Precondition Failed client error response code indicates that access to the target resource has been denied.
This error happens for all examples (imagenet, income and moviesentiment) in the alibi folder when downloading from bucket gs://seldon-models/.

I tried a few times those examples and this error happens everytime.
I try to execute in Kubeflow 1.0.1 installe

[2020-04-10 18:48] bestowjay opened #771 "KFServing fails to copy models in top-level of a GCS Bucket"
/kind bug

**What steps did you take and what happened:**
1. Create a GCS bucket, call it `model-sample` - you can make it public for this example, or otherwise grant docker access
2. save a tensorflow model using the [keras.save](https://www.tensorflow.org/guide/keras/save_and_serialize#export_to_savedmodel) method to the bucket - `gs://model-sample/model/1`
3. run storage-initializer container i

[2020-04-10 18:53] bestowjay opened #772 "KFServing dynamic model updates"
/kind feature

**Describe the solution you'd like**
KFServing is (right now) loosely based on Tensorflow-Serving. One great thing that I like about TFServing is that it has the ability to use gcs buckets as the `model_base_path=gs://bucket/model`. When this form is used, TFServing is aware when I push a new model version to the bucket path. This uses an integer subdirectory, e.g. `gs://bucket/mode

[2020-04-10 19:06] ellis-bigelow commented on #772
Thank for you this issue! It's making me fundamentally rethink how we do this. I'd really like to explore this idea. We original set out with the idea of "hermetic infrastructure", where the servers are only intended to point to a single model. If you wanted an upgrade, you should do a canary rollout, meaning config changes at the k8s level. Like you say, this is high touch, and may be beyond what

[2020-04-10 19:10] ellis-bigelow commented on #771
Do you have a bigger stacktrace that you can attach?

[2020-04-10 19:22] cliveseldon commented on #772
Two quick comments:

 * For the popular "GitOps" view the resource should change in source control in some way. This allows for easy auditing and rollbacks.
 * For canarying I think you would want some live testing of the new model which current servers don't support so you would lose this if dynamic updates were allowed unless canarying was part of the model server's repsonsibility.

The above do

[2020-04-10 19:59] bestowjay commented on #771
updated description with stacktrace, logs from my deployment pod

[2020-04-10 20:08] bestowjay commented on #772
This feature request comes from a sort of interesting case too. We're a small team trying to continuously refine models. We don't have a lot of engineering power to keep developing infrastructure components, so we're kind of starting from where we can get nice fast gains by having pipelines that exist already serve their models into KFServing to abstract the whole serving infrastructure. While we'

[2020-04-10 21:10] ellis-bigelow commented on #772
Another option would be to create a "Model" CRD that contains the model's artifacts. If we decoupled InferenceServices (things that serve models) from Models themselves, we might be able to achieve a similar gitops to what you're talking about. I can imagine a storage trigger that when a new folder is added, it goes and creates a new K8s Model resource.

[2020-04-10 21:17] yuzisun commented on #772
@bestowjay Maybe I am missing something here, assuming you are using kubeflow pipeline, for a low touch workflow each time you run the pipeline it would produce a new model and saved on storage with a new version, can you actually add KFServing as last step to reconcile the inference service each time a new model is produced? You could parameterize the default storage uri with [KFServing component

[2020-04-10 22:29] animeshsingh commented on #772
@bestowjay

This is super convenient, and if you are using KFP, maybe can addressed by a combination of KFServing + KFP, by adding more specialized functionalities in KFServing Component.
https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/kfserving/src/kfservingdeployer.py

If you this can work, we can discuss the details of the KFServing component extension

@ellis-bigelow

Is

[2020-04-11 01:42] yuzisun opened #773 "Support multi-model serving and container sharing"
/kind feature

**Describe the solution you'd like**
### Motivation
There are growing use cases of developing per-user or per-category ML models instead of cohort model. For example a news classification service trains custom model based on each news category, a recommendation model trains on each user's usage history to personalize the recommendation. While you get the benefit of better inference

[2020-04-11 01:45] yuzisun commented on #773
@animeshsingh @ellis-bigelow @cliveseldon @rakelkar thoughts?

[2020-04-12 15:07] livneros opened #774 "Protect InferenceService with Google IAP"
Hey.
We are trying to enable access for our InferenceService only with an IAP authentication.
Currently, the access is open through the load balancer's public IP.
Is there any solution for that? maybe similar to the [tfserving solution](https://www.kubeflow.org/docs/components/serving/tfserving_new/#sending-prediction-request-through-ingress-and-iap)
Thanks.

[2020-04-13 00:41] jlewi commented on #760
@krishnadurai Are we exposing in cluster services on a public IP with no auth? I don't think this is an ok work around. Are only the health probes only allowed or is it all requests?

It looks like the change on master was #949.

It looks like this was cherry-picked onto v1.0 branch in #1027.  It looks like this was reverted in #1037 but then re-cherry-picked in #1072

@animeshsingh @ellis-bigelow

[2020-04-13 02:23] Iamlovingit opened #775 "SDK promote method miss annotations"
https://github.com/kubeflow/kfserving/blob/8c261457b3ec8017736b882c4ffd3379914471ac/python/kfserving/kfserving/api/kf_serving_client.py#L295-L297

[2020-04-13 03:51] yuzisun commented on #760
@jlewi The story is a bit complicated but I think there is no behavior change as far as I know for Istio/Dex.

- KFServing was initially shipped in Kubeflow 0.7 with KFServing 0.2.0(which is later patched with 0.2.2 for pod mutator issue in 0.7.1)  and Knative 0.8.  In Knative default release `Knative Gateway` is installed and only port 80 is exposed, so KFServing are available through `Knative ga

[2020-04-13 11:39] #766 closed

[2020-04-13 11:42] yuzisun commented on #762
/cc @cliveseldon

[2020-04-13 11:43] yuzisun commented on #754
this should be fixed by https://github.com/kubeflow/kfserving/pull/767

[2020-04-13 12:05] Iamlovingit commented on #775
steps:
* **create isvc by sdk**
[code]
**Describe of the isvc's pod, `autoscaling.knative.dev/target: 99`:**
[code]

* **create canary**:
[code]
**Describe of the canary isvc's pod, `autoscaling.knative.dev/target: 99`:**
[code]
* **call promote**
[code]
**Describe the final pod, `autoscaling.knative.dev/target: 1`:**
[code]

[2020-04-13 13:05] yanniszark commented on #760
@jlewi to answer the security concerns:

Totally agreed!
We should not open ports publicly be default.
The current workaround of adding a Gateway with no auth is valid, but should be opt-in and the admin must know what they're doing (maybe they have a layer of auth in front of the gw).

Looking at the configs for the `kfserving-gateway` application, I see:
* The `kfctl_istio_dex` config uses Istio

[2020-04-13 13:48] jlewi commented on #760
Thanks @yuzisun

So @krishnadurai What's the solution here to not publicly expose models by default? Do we just need to revert kubeflow/manifests#1072 on the v1.0-branch and kubeflow/manifests#949 on master?

[2020-04-13 14:16] cliveseldon commented on #773
@yuzisun Looks interesting as a step towards a scheduling based solution.

Maybe we need a new InferenceServer CRD which is step 1 above? This would provision a named server onto the cluster with given resources.

Step 2 is to state that you want this InferenceService to be scheduled onto a known server rather than on its own.

[2020-04-13 14:23] pugangxa commented on #775
Thanks for the information. So the issue is in fact in the promote api we set name and namespace as metadata only, but in fact the metadata(of V1ObjectMeta type) can contain other information.
Suggest we not only add annotation, but directly use the metadata of current inferenceservice.

[2020-04-13 14:26] krishnadurai commented on #760
We will need to revert both of these PRs to disable the no-auth behaviour for GCP IAP. The rest of the configs do not get affected by this revert.

This revert would mean KFServing wouldn't be available by default on KF 1.0 versions on configs which have auth enabled. Whereas for the ones which don't have auth enabled, it's the same except that the gateway changes back to `istio-ingressgateway`.

[2020-04-13 15:23] bestowjay commented on #772
Yeah, I can certainly take a look at trying to update the InferenceService, but it's kind of the same issue with just killing the pod. I have to modify the cluster itself. I would like to avoid giving k8s access to those users that would not need it if I can, but I will use this solution in the meantime if this works. I'll get a chance to try later this week.

We don't have KFP just yet, but that

[2020-04-13 16:11] animeshsingh commented on #773
Thanks @yuzisun

Is this cpability from Triton exposed all the way through our KFServing interface? What's the equivalent mechanism on TFServing side?

Also adding @njhill from IBM Watson team who has been supporting 1000s of models on this side for some perspective

[2020-04-13 16:29] ellis-bigelow commented on #773
I feel like we need a summit to discuss these changes along with other big ticket API changes.

[2020-04-13 18:04] orezahc commented on #759
@yuzisun thanks!

[2020-04-13 18:04] #759 closed

[2020-04-13 18:15] orezahc opened #778 "Error Response Logging"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Logger should also log error responses with `LogRequest()` instead of only STDOUT.
https://github.com/kubeflow/kfserving/blob/master/pkg/logger/server.go#L124-L142

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-04-13 18:49] ellis-bigelow commented on #773
Tensorflow dynamically reads files from storage and will dynamically load models into a model server. You can configure Tensorflow to watch n models, which supports dynamic rollout for multiple models. The shared interface here for KFServing is a configmap, whether it's in TF for Triton format.

There is a big hermeticity issue here with canarying that we should discuss. We also would need changes

[2020-04-13 18:56] ellis-bigelow commented on #773
Also, high level idea here. Do we want a Model CRD along with an InferenceService CRD?

[2020-04-13 19:12] yuzisun commented on #773
Agree, Clive and I was talking about this too.

[2020-04-13 19:15] yuzisun commented on #773
virtual summit lol

[2020-04-13 19:17] yuzisun commented on #773
I got a prototype working basically with tensorflow in this way, in the POC I disabled storage initializer, all the models are dynamically loaded based on the model config file in main container.

[2020-04-13 19:22] ellis-bigelow commented on #773
Could we implement a dynamic storage reader as a sidecar instead of an init container? It can basically sit along side any model server and dynamically pull models and update configs.

[2020-04-13 19:26] yuzisun commented on #773
I guess the benefit of doing this is that we can share the dynamic storage reader across different model servers ?

[2020-04-13 20:00] njhill commented on #773
Hey all! As @animeshsingh mentioned we are doing something very similar and hopefully will get approval to share more detail very soon. It would be great to collaborate with all of you on this

A couple high level things which may be relevant though:
- We are currently using the TF Serving model management gRPC API (`HandleReloadConfigRequest` call) from a sidecar in preference to file updates wit

[2020-04-13 21:58] bitscuit opened #779 "Development build missing kustomize patch"
/kind bug

**What steps did you take and what happened:**
Trying to deploy my own version of KFServing failed because there was a missing patch in `config/overlays/development`. The patch file is `manager_auth_proxy_patch.yaml` as referenced in the [kustomization.yaml](https://github.com/kubeflow/kfserving/blob/master/config/overlays/development/kustomization.yaml#L7)

Error logs:
[code]

**What d

[2020-04-13 22:13] ellis-bigelow commented on #773
It depends. GKE is expected to scale to 100,000s of crd instances. I've heard knative talking about scaling at 1000s of pods per second, so 1,000s total seems wrong. I think there's some key information that needs to be modeled about models (resource requirements, etc), and given there isn't any standardized storage for ML (sans modeldb), etcd may be the easiest thing to rely on.

Honestly, if cus

[2020-04-13 22:19] ellis-bigelow commented on #765
Multi Model Serving APIs: https://github.com/kubeflow/kfserving/issues/773

[2020-04-13 22:51] yuzisun commented on #779
@bitscuit not sure how this gets in, can you help remove that?

[2020-04-13 23:15] bitscuit commented on #779
sure

[2020-04-13 23:16] bitscuit commented on #779
/assign bitscuit

[2020-04-14 00:37] Iamlovingit commented on #775
Yes, it is better use metadata than  only annotation , I will re-send a PR later.

[2020-04-14 01:25] jlewi commented on #760
Thanks @krishnadurai

* I think we need to mitigate the issue.
  * if we don't have a way to secure KFServing endpoints by default then we should disable KFServing by default
  * Are there any other possible mitigations?
  * I think not exposing things publicly should be the default behavior. But if a particular platform/kfdef OWNERs wants to explicitly LGTM opening up public ports by default on t

[2020-04-14 02:56] pugangxa commented on #778
In my opinion, the logger here is to provide retrospective record for the predicted result so we only need the successful result. If there's something wrong, then user should go to the program log to check what's going on(which is already recorded and can be configured by debug level for http service too). If we are going to add this, we must provide a switch and make it by default off.
What's you

[2020-04-14 03:32] Iamlovingit commented on #775
The PR is failed, because he metadata are different between `V1ObjectMeta` and `current_isvc['metadata']`, It is diffcult to initialize the `V1ObjectMeta`, can you give me any suggestions?

[2020-04-14 03:51] njhill commented on #773
I was really thinking more about the Kube API machinery than etcd itself. For example [this page](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/) says "In a Declarative API, typically... Your API consists of a relatively small number of relatively small objects (resources).", and the idea of `kubectl get` returning 500k results scares me a bit (since paging i

[2020-04-14 06:47] cliveseldon commented on #778
@pugangxa  Yes I think I would agree. Some use cases for the logger are to store the core request, responses and allow them to be further analyzed for outlier detection, drift detection, adversarial detection etc. If we allow error payloads then this creates a different and unexpected payloads and is a different use case I think.
We could add error_response as a new type and it would need to be gi

[2020-04-14 12:27] krishnadurai commented on #760
There are two options to mitigate:
1. Let KFServing patch 0.11 release with [the probing fix](https://github.com/knative/serving/pull/6962), as confirmed by being discussed in this [comment](https://github.com/knative/serving/pull/6962#issuecomment-613229201). We could update the manifests to work through `istio-ingressgateway` which is auth enabled along with the patched release. @yuzisun and @an

[2020-04-14 13:49] jlewi commented on #760
Thanks @krishnadurai. In general, I think we should follow the philosophy of revert first rather than trying to forward fix.

It looks like the v1.0 branch has some important fixes

* There are some pipeline fixes
* There are a bunch of AWS fixes.

Can we revert any KFServing changes to what shipped with 1.0.0? Then figure out the forward fix?

I would suggest we revert to 1.0.0 and then figure ou

[2020-04-14 15:17] Jeffwan commented on #760
@krishnadurai I can confirm AWS will be affected as well. Richard and I are working on v1.0.2. If there's quick change we can make, we can rollout in this version.

[2020-04-14 15:42] krishnadurai commented on #760
@Jeffwan, we would need to make these reverts and that would change the KFDefs too. Hopefully, we may not need to change the KFDefs.

[2020-04-14 17:50] apryiomka commented on #369
As i understand, the ask is similar to Sagemaker batch transform?

[2020-04-14 18:49] ellis-bigelow commented on #773
Do you have any thoughts to storage alternatives for models? Potentially this is something we could store in configmaps + cloud storage. IIUC, TF and Triton don't actually require a DB beyond this.

A couple of high level questions for you.

How does your architecture have horizontal autoscaling? Are model servers homogeneous (i.e. 5 copies of server holding model A,B,C, 8 copies of server holding

[2020-04-15 02:38] njhill commented on #773
Nothing specific, we do actually use etcd but not via Kube and try to do it in a lighter-touch manner with the aim of avoiding scalability issues (possibly unwarranted). This is just for coordination and minimal metadata though, the model data itself is in cloud storage.. presumably you weren't referring to that?

By that definition each logical cluster of model servers is heterogeneous. It's homo