[2020-04-15 05:18] #775 closed

[2020-04-15 08:39] radcheb commented on #369
Yes it's a bit similar but should be more efficient. Sagemaker batch transform is using regular inference endpoints to batch inference with HTTP as transfer protocol. It's not efficient for big datasets.

[2020-04-15 11:40] yuzisun commented on #773
For homogeneous model server a given model is always hosted on a designated multi-model service so you can setup a virtual service to do the routing pretty easily. The downside is that all the models on the server always scale together, a spike of traffic on one model can lead to scale to many replicas and all the models get loaded on all the replicas(LRU style model loading based on traffic could

[2020-04-15 12:08] yuzisun commented on #773
Yes, canary is a big problem. Currently it plays nicely when you have a model per service, since the service is hosting multi models are now, when user tries to canary one model that forces to canary all models on that server since we are splitting traffic at default/canary service level not per model. However when user is deploying hundreds of thousands of models I can no longer imagine they can

[2020-04-16 12:08] axelborja commented on #369
Agree with @radcheb

[2020-04-16 16:52] irvifa opened #784 "TFServing supports for general collections of metrics."
/kind feature

I saw this issue #1036 and was wondering will it be good to provide an API that will allow us to define our own metrics collector. A building block/API that can be extended should be good enough (this will accommodate more user specific use cases).

[2020-04-16 16:53] irvifa commented on #784
Moving https://github.com/kubeflow/kubeflow/issues/4514

[2020-04-17 00:15] #779 closed

[2020-04-17 00:20] yuzisun commented on #760
The [knative probe fix](https://github.com/knative/serving/pull/6962) has been released in [Knative 0.14](https://github.com/knative/serving/releases/tag/v0.14.0) and fix is getting back ported to Knative 0.11 https://github.com/knative/serving/pull/6962 but seems blocked on broken CI.

[2020-04-17 00:25] ellis-bigelow commented on #760
Whoop!

On Thu, Apr 16, 2020 at 5:20 PM Dan Sun <notifications@github.com> wrote:

--
</Ellis>

[2020-04-17 00:41] yuzisun commented on #760
We have to wait for the fix getting to 0.11 and this is the highest Knative version Kubeflow installation can goes to because after 0.12 Knative has bumped minimal Kubernetes version to 1.15 while Kubeflow is still on 1.14.

[2020-04-17 01:04] ellis-bigelow commented on #760
Can we move KFServing to K8s 1.15 (for an eventual 0.4 release) right now?
I expect that next time we catch a Kubeflow release, we will need to be on
1.15.

On Thu, Apr 16, 2020 at 5:42 PM Dan Sun <notifications@github.com> wrote:

--
</Ellis>

[2020-04-17 01:09] yuzisun commented on #760
KFServing 0.3 is already moved to 1.15.

[2020-04-17 08:21] alokumar1 opened #785 "InferenceService with Kafka Event Source"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I was trying to use kfserving inferenceservice with kafka-event source  and I have already a kafka cluster running. So i skipped the Deploy Kafka part given on this page   https://github.com/kubeflow/kfserving/tree/master/docs/samples/kafka then I tried to Deploy Kafka Event Source https

[2020-04-17 08:25] jazzsir opened #786 "the state of my kservice is "IngressNotConfigured""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I need to deploy kfserving(0.3.0) on the cluster installed by kfctl_istio_dex.v1.0.1.yaml.
I know it can't work with Dex, so I applied kfserving-ingressgateway Deployment as workaround.

But, the READY state of inferenceservice is "false", and it still has a probing issue
[code]

**What

[2020-04-17 09:40] yuzisun commented on #786
@jazzsir looks like your virtual service is created with kubeflow gateway not kfserving gateway

`hbseo-03-predictor-default        [knative-serving/cluster-local-gateway kubeflow/kubeflow-gateway]`

[2020-04-17 12:03] jazzsir commented on #786
@yuzisun I'm sorry for the confusion, I updated my logs.
I recognized that this issue related Auth(please check networking-istio logs).
Do you have any idea?

[2020-04-17 12:28] yuzisun commented on #786
@jazzsir Please check item 6 on trouble shooting section https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#troubleshooting

[2020-04-17 13:29] jazzsir commented on #786
@yuzisun thanks Dan Sun,
I already applied "sidecar.istio.io/inject:  false" to my inferenceservice yaml.
[code]
and I looking for the root of the problem, but it's difficult to debug istio, knative and kfserving.

[2020-04-17 13:35] yuzisun commented on #786
Totally agreed, we need to have a KFServing debugging guide.

[2020-04-17 19:28] alokumar1 commented on #785
After deploying kafka event source using this https://github.com/yuzisun/kfserving/tree/master/docs/samples/kafka#deploy-kafka-event-source it installed properly but I got another error when creating kafka event source https://github.com/yuzisun/kfserving/tree/master/docs/samples/kafka#create-kafka-event-source

kubectl apply -f kafka-source.yaml
error: unable to recognize "kafka-source.yaml": no

[2020-04-17 20:33] yuzisun commented on #785
sorry the api group is changed, let me fix that too.

[2020-04-18 01:05] yuzisun commented on #754
/close

[2020-04-18 01:05] #754 closed

[2020-04-18 08:56] alokumar1 commented on #785
After changing the api group it created the event source but got an error saying  address not set for &ObjectReference.
my kafka source yaml :-
[code]

I have created a inferenceservice with name torch and it is working fine.
[code]

[code]

[2020-04-18 11:44] yuzisun commented on #785
are you on kfserving 0.3?

[2020-04-18 12:09] alokumar1 commented on #785
I am using kfserving that is installed by kubeflow v1.0.1

[2020-04-18 12:25] alokumar1 commented on #785
I am  using kfserving==0.3.0.1  SDK

[2020-04-18 12:48] yuzisun commented on #785
Kubeflow v1.0.1 is still on KFServing 0.2.2, kafka event source support is added in 0.3.

[2020-04-18 12:59] alokumar1 commented on #785
is there anyway I can update to 0.3?

[2020-04-18 13:21] yuzisun commented on #785
It is not a straight forward upgrade since KFServing release yaml is slightly from KFServing installation in Kubeflow. If you are just playing around and testing out, you can install KFServing 0.3 standalone and try kafka event source.

[2020-04-18 13:55] alokumar1 commented on #785
Actually, I was using both kubeflow pipelines for training and kfserving for serving the models and since kubeflow installation has kfserving installed I thought it would be good rather than installing kfserving independently.
Anyway, I will try KFServing 0.3 standalone.

[2020-04-19 19:38] yuzisun commented on #447
this should be fixed now.
/close

[2020-04-19 19:38] #447 closed

[2020-04-19 19:41] yuzisun commented on #497
/close

[2020-04-19 19:41] #497 closed

[2020-04-20 03:52] salanki opened #789 "Transformer request to Predictor should be Non Blocking"
/kind feature

**Describe the solution you'd like**
Current requests from the Transformer to the Predictor are blocking: https://github.com/kubeflow/kfserving/blob/49eae18d669222cc6f923f7185c8000c17464f4c/python/kfserving/kfserving/kfmodel.py#L47 This will block the executing Tornado process, leading to a max concurrency through a transformer of the number of Tornado processes, which in the transf

[2020-04-20 10:49] jazzsir commented on #786
I ended up turning istio RBAC off, but it is just a workaround.
Still, I wonder why I got 403 errors.

1. I deployed a separate gateway Deployment to make a detour.
2. configured a ConfigMap to use the gateway pod
3. applied ServiceRoleBinding as below
[code]
4. applied inferenceservice
[code]

Did I miss anything?
A strange thing is that I can't delete a existing ServiceRoleBinding which has belo

[2020-04-20 13:21] yuzisun commented on #789
@salanki Thanks for creating the issue! I actually started to experiment async a while ago but did not get time to make it further(https://github.com/kubeflow/kfserving/compare/master...yuzisun:async?expand=1).
Tornado workers are multiprocessing and each worker is single threaded, in theory async handler helps when each worker is blocked on IO to predictor and can switch to do other CPU task like

[2020-04-20 13:22] yuzisun commented on #789
/good-first-issue

[2020-04-20 13:24] yuzisun commented on #784
/good-first-issue

[2020-04-20 19:24] salanki commented on #789
Unless the transfomers are incredibly resource heavy, threads will spent most of their time blocked waiting for IO in the current implementation, so it will definitely have a big impact.

[2020-04-20 20:38] bestowjay commented on #771
I thought this was a problem with top-level copies, but it seems something else is going on as well. This has happened to me after loading a model from a bucket and saving that same model 1 version greater.

[code]

`isvc` is exactly the sample SDK code from [here](https://github.com/kubeflow/kfserving/blob/master/docs/samples/client/kfserving_sdk_sample.ipynb) except using the bucket path above (

[2020-04-20 21:06] bestowjay commented on #771
eehhh, this might actually be a tensorflow bug? something about saving the model with tensorflow is breaking this. If I manually `gsutil cp` the same directory to a new place, it's downloaded just fine...

[2020-04-20 21:09] bestowjay commented on #771
I think it most definitely is a Tensorflow model saving issue....I'm able to complete this successfully if I do this...

[code]

sorry for the noise!

[2020-04-20 21:09] #771 closed

[2020-04-21 05:10] salanki commented on #789
I have this implemented now. Will PR in the morning.

[2020-04-21 18:12] animeshsingh opened #790 "Investigate integration of TorchServe in KFServing"
Investigate the capabilities and fit for integration criteria for TorchServe in KFServing

https://aws.amazon.com/blogs/aws/announcing-torchserve-an-open-source-model-server-for-pytorch/

Good candidate to replace custom PyTorch server

[2020-04-21 18:16] animeshsingh commented on #790
[Architecture doc](https://torchserve-docs.s3-us-west-2.amazonaws.com/docs/torchserve_architecture_v0.pdf)

[2020-04-21 19:33] #785 closed

[2020-04-21 20:07] animeshsingh commented on #790
@Jeffwan is this something you or anyone else from AWS be interested in taking up and contributing?

[2020-04-21 20:13] ellis-bigelow commented on #790
Great topic for discussion in a KFS WG meeting. I'd love to see the AWS folks involved in the multi-model serving discussion tomorrow as well. We need to have a pytorch story around this.

[2020-04-22 00:35] jazzsir commented on #786
Anyway it is resolved, thanks Dan Sun

[2020-04-22 00:35] #786 closed

[2020-04-22 06:49] cliveseldon opened #792 "Update Alibi Explainer Library to 0.4.0"
/kind bug

[Alibi](https://github.com/SeldonIO/alibi) has released 0.4.0 which has some breaking changes. Our current explainer wrapper has a setup.py which isn't fixed to 0.3.0:

https://github.com/kubeflow/kfserving/blob/3b282458eafe7fa423f7f4dcc34bd8f492c07884/python/alibiexplainer/setup.py#L36

We need to:

 * Fix Alibi explainer wrapper to 0.3.0 to keep existing functionality
 * Update and ha

[2020-04-22 07:01] Sinba7 commented on #428
I got the same problem when try to deploy a custom model to kfserving from kubeflow pipeline, please see error as below:

kubernetes.client.rest.ApiException: (403)
Reason: Forbidden
HTTP response headers: HTTPHeaderDict({'Audit-Id': '83b93e4d-d46a-4a39-ada3-c88fd219d817', 'Content-Type': 'application/json', 'X-Content-Type-Options': 'nosniff', 'Date': 'Wed, 22 Apr 2020 06:18:31 GMT', 'Content-Len

[2020-04-22 15:26] prashanthharshangi opened #793 "Unable to connect to port : Operation timed out"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Installed k8s cluster on a local machine using `kind create cluster`
2. Edited config files as mentioned here : https://github.com/kubeflow/kfserving/issues/629?cf_lbyyhhwhyjj5l3rs65cb3w=o5zl988o1t83av56wi8c4n#issuecomment-574703291
Instead of `kubeflow`, changed it to `cluster-local`

[2020-04-22 15:41] prashanthharshangi commented on #793
After a fresh install, I increased the memory allocation and cores in Docker desktop. I did not make the changes to the config and it is working as expected now.
Note : It is on a local machine with kind cluster.

[2020-04-22 15:41] #793 closed

[2020-04-22 21:55] Jeffwan commented on #790
@animeshsingh We can take this up. There mighbe some upstream works needs to be done first to support current kfserving v2 protocol.

/assign @Jeffwan

[2020-04-22 22:01] animeshsingh commented on #790
Thats's great. Thanks @Jeffwan!

The meeting has shifted to a biweekly basis - so we didn't have one today - and would be great to get your inputs in next meeting.

[2020-04-23 18:54] livneros opened #794 "Serving custom model over GPU node."
/kind bug
Hey,
We would like to serve our custom model over a GPU node on GKE.
We have a node pool with up to 10 gpu nodes, waiting to be scaled and to be used.
This is our service.yaml file:
[code]
Running `kubeflow describe pods -n kubeflow {POD_NAME}` returns the following errors:
1. `FailedScheduling  53s (x3 over 119s)  default-scheduler   0/2 nodes are available: 2 Insufficient nvidia.com/gp

[2020-04-23 20:18] Shaked commented on #794
Hey @ellis-bigelow,  I'm @livneros's colleague

The nvidia driver is indeed installed and the GPU nodes do work without KFServing on demand, i.e we only use the autoscaler to scale them from zero nodes to N nodes whenever required.

We figured that the GPU node did scale up but something failed after awhile:

`$ kubectl get events --sort-by='{.lastTimestamp}' --all-namespaces`

[code]

From this w

[2020-04-23 20:26] ellis-bigelow commented on #794
I'm not sure about your custom resource "dongle". I think it's a knative limitation which is prevents it from being passed through. You can always write a pod admission controller to inject this resource if you absolutely need it (im not familiar with it).

We should be adding the tolerations to the pods if they're using the GKE selector annotation.

As far as the errors go, can you check stackdri

[2020-04-23 20:54] Shaked commented on #794
This happens because once the GPU node is scaled down, then the dongle resource is not available anymore.

I took this from the mentioned sample though.

Maybe we can help with a PR? Any chance that you could point me where this part is happening?

Running

[code]

Returns:

And that's where it ends.

[2020-04-24 00:15] ellis-bigelow commented on #794
Odd -- no pod logs at all, just image pull. That looks like kubelet more than pod, but your label looks right.
Code is here: https://github.com/kubeflow/kfserving/blob/master/pkg/webhook/admission/pod/accelerator_injector.go#L30

[2020-04-24 11:45] Shaked commented on #794
I was going over some more logs, couldn't find anything. Currently stuck, not sure where and what to look :|

Should become something like:

[code]

I haven't tested it yet, does it make sense?

[2020-04-24 15:55] ellis-bigelow commented on #794
Thinking a little bit about this, this will not work on GKE unless the annotation is provided. The annotation gives us the ability to select a specific GPU type, but we may want to enable workloads that want a GPU but don't define which kind.

Can you inject this toleration if resources.limits or resources.requests contains a GPU?

[2020-04-26 16:31] Shaked commented on #794
I think that this will require a different change, instead of changing accelerator_injector.go, we will have to add this to predictor.go and explainer.go and then check for the limits/requests.  It might take me some time to get there though.

Also, thinking about it for a bit, wouldn't it be better to add `tolerations` to the `InferenceService` spec and then just let the users to add it in case n

[2020-04-27 03:43] prem0912 opened #798 "kfserving tensorflow flowers-sampleprediction through curl not working in kubeflow-v1.0.2 in GKE"
/kind bug

**What steps did you take and what happened:**
Kfserving tensorflow flowers-sample prediction through curl command not working in kubeflow-v1.0 in GKE
Followed steps in https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow
flowers-sample in kubeflow v1.0

But error got through curl command to predict data
Error :

* Connected to X.X.X.X port 31380 (#0)

< HTTP/1.1 10

[2020-04-27 15:57] ellis-bigelow commented on #794
You should be able to read the inferenceservice spec from the accelerator injector. There's a label on the pod that you can use to read the inference service from the k8s api.

There are some pretty big challenges around adding tolerations. In this case, adding that toleration will semantically add it to every one of the 6 potential pod specs generated by the inferenceservice. Canarying this chang

[2020-04-27 15:57] ellis-bigelow commented on #765
Another usecase for podspec features #794

[2020-04-27 16:42] dshen51 opened #799 "kubernetes probes using HealthHandler endpoint succeed when models are not ready"
/kind bug

**What steps did you take and what happened:**
Used the [HealthHandler endpoint](https://github.com/kubeflow/kfserving/blob/92c5f3c9df662c853beef86bddf7f30ab5d8b996/python/kfserving/kfserving/kfserver.py#L62-L63) to set up a Kubernetes readiness probe. The probe succeeded even though the model was not ready.

**What did you expect to happen:**
Readiness probe failure when model is not r

[2020-04-27 19:32] #763 closed

[2020-04-29 04:34] yuzisun commented on #798
@prem0912 Can you get the full output of inference service status?

[2020-04-29 12:50] prem0912 commented on #798
@yuzisun You mean logs of  flowers-sample inference service or kfserving-control-manager or logs of  pods in  knative-serving namespace...
One more update kfserving is working in the installation of kubeflow V1.0,  which I have done before a month.
But kfserving not working  where kubeflow is installed past a week.

[2020-04-29 18:28] apryiomka commented on #798
I have the same issue with sklearn example:

[2020-04-29 19:08] apryiomka commented on #798
i ran into similar issue and turned out i used incorrect istio gateway selector for forwarding

[2020-04-29 19:19] apryiomka commented on #798
I can reproduce the issue with sklearn example as well:

[2020-04-30 11:39] Iamlovingit opened #801 "make deploy-dev error, private image repo auth failed"
/kind bug
I setup a harbor, I can docker login harbor, and pull push.
but when i make deploy-dev, this error is happend:
[code]
Where is wrong?

kfserving version : 0.2.0

[2020-04-30 13:46] irvifa commented on #792
Is this indeed a bug?

[2020-04-30 19:05] ellistarn opened #802 "Project Proposal: KFServing Agent (Sidecar)"
/kind feature

**Describe the solution you'd like**
In addition to the control plane, KFServing has a bunch of components that work alongside model servers to enable features like payload logging, dynamic batching, generic storage reading, and multi-model-serving.

These are implemented as one-off solutions, like the storage-initializer, dynamic batcher, etc. Instead, we could combine the function

[2020-04-30 19:36] yuzliu commented on #802
https://docs.google.com/document/d/11qETyR--oOIquQke-DCaLsZY75vT1hRu21PesSUDy7o/edit# proposal WIP.

[2020-04-30 19:38] yuzliu commented on #773
@yuzisun let's move this issue under project: https://github.com/kubeflow/kfserving/projects/1 :) A proposal WIP is: https://docs.google.com/document/d/11qETyR--oOIquQke-DCaLsZY75vT1hRu21PesSUDy7o/edit#

[2020-04-30 20:12] ellis-bigelow commented on #802
FYI I don't think your response was added to
https://github.com/kubeflow/kfserving/issues/802#issuecomment-622044287 if
that's what you intended.

On Thu, Apr 30, 2020 at 12:36 PM yuzliu <notifications@github.com> wrote:

--
</Ellis>

[2020-04-30 20:12] ellis-bigelow commented on #773
Awesome

[2020-04-30 21:05] ellis-bigelow commented on #802
@yuzisun @yuzliu , is this something Bloomberg is interested in?

[2020-05-01 19:40] ellis-bigelow commented on #801
Looks like the certificate for myharbor.com isn't valid: https://myharbor.com/v2/.

[2020-05-02 00:53] Iamlovingit commented on #801
I can pull and push myharbor.com by docker. I guess there is something wrong with `ko`

[2020-05-02 16:08] yuzisun commented on #799
/good-first-issue

[2020-05-02 23:31] yuzisun commented on #760
@jlewi @ellis-bigelow @animeshsingh @Jeffwan @cliveseldon @krishnadurai
I have tested the knative probe fix with GCP/IAP, I am able to get KFServing working e2e with https://github.com/kubeflow/manifests/pull/1137, however KFServing as is does not work out of the box for following issues.
1) currently KFServing is using host based routing and seems like GCP/IAP only support path based routing from

[2020-05-02 23:34] yuzisun commented on #774
duplicate of https://github.com/kubeflow/kfserving/issues/760
/close

[2020-05-02 23:34] #774 closed

[2020-05-02 23:36] yuzisun commented on #738
KFServing is added in aws kfdef
/close

[2020-05-02 23:36] #738 closed

[2020-05-02 23:40] yuzisun commented on #654
the fix is to add `ncvr.io` to the `config-deployment` configmap in knative-serving namespace per [knative tag resolution](https://knative.dev/docs/serving/tag-resolution)
[code]

[2020-05-02 23:40] #654 closed

[2020-05-03 01:11] jlewi commented on #760
@yuzisun Thanks for the update. Is it just the probes that are going through the gateway?

[2020-05-03 02:30] yuzisun commented on #760
Probes are fine now, I am testing the actual inference requests to the ingress gateway with protected endpoint, looks like GCP/IAP requires path based routing so KFServing needs to setup additional Istio virtual service configuration to map the path to inference service host names.

[code]

[2020-05-03 17:19] kaivalya97 commented on #802
Seems like a Mutating Webhook Configuration can be bundled to install the sidecar agent on all the pods. I can help in developing this if someone else is interested.

[2020-05-03 23:13] jlewi commented on #760
Sounds good. My assumption would be that most requests to models would be coming from within the service mesh. So if models are accessible i) within the mesh and ii) not exposed publicly without authorization then I think we have addressed the critical issue. Making KFServing work behind IAP could be a lower priority, non blocking issue.

[2020-05-04 01:53] yuzliu opened #804 "Kfserving does not set knative default readiness probe"
/kind bug

**What steps did you take and what happened:**

Kfserving depends on Knative serving and knative serving's validating webhook does not allow users to set port for readiness probe. According to [Knative's runtime contract](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#meta-requests) , it's readiness probe MUST probe the inbound container port. Knative serving ha

[2020-05-04 16:09] ellis-bigelow commented on #801
I'm guessing it's looking for valid certificates. Pulling images from a bad
cert repo is pretty dangerous from a security perspective.

On Fri, May 1, 2020 at 5:53 PM Iamlovingit <notifications@github.com> wrote:

--
</Ellis>

[2020-05-04 16:12] larssuanet commented on #798
I am running into the same problem. I'm on KFServing v0.3.0 and Knative v0.11.2, using Knative with Istio v1.3.1.

After some digging, I found that the url returned by my inference service routes to the `cluster-local-gateway` and not to the kubernetes service as created by knative:

Virtual Services:
[code]
Virtual service:
[code]

Since I don't have the `cluster-local-gateway` enabled, my predic

[2020-05-04 17:42] evankanderson commented on #802
Another architectural option is to put the "request batcher" prior to the HTTP ingress:

[code]

Where `[]` is a Pod boundary, and `[() ()]` indicates two containers running in the same pod.

I suspect putting a batcher **before** the queue-proxy may introduce autoscaling fluctuations, as it will appear to the Knative scaling algorithm that requests get random delays during cold-start if more than

[2020-05-05 03:33] salanki opened #808 "Disable retries in Istio VirtualService"
/kind feature

**Describe the solution you'd like**
Currently, the retires in the VirtualService are setup to retry three times on all errors. KNative will also currently retry three times on all errors between a Transformer and Predictor. These settings, combined with default high timeouts can easily lead to a self-DoS in an overload condition. See screenshot.

![Screen Shot 2020-04-30 at 16 35 0

[2020-05-05 03:40] salanki opened #809 "Expose TimeoutSeconds to Inference Spec"
/kind feature

**Describe the solution you'd like**
Request timeouts are currently statically set to 60 seconds https://github.com/kubeflow/kfserving/blob/92c5f3c9df662c853beef86bddf7f30ab5d8b996/pkg/constants/constants.go#L63

This is way to long for most real-time use cases, and can together with the retry settings lead to self-DoS #808.

A field on the component (predictor, transformer, explain

[2020-05-05 11:20] yuzisun commented on #809
Agreed! @cliveseldon 's explanation use case actually is opposite and needs to make the timeout longer, so we should make it configurable.

[2020-05-05 12:20] jlewi opened #810 "Define KFServing related area labels"
It would be good to define an an appropriate set of area labels for kfserving and add them to our list of labels.

Labels should be added here:
https://github.com/kubeflow/testing/blob/master/label_sync/kubeflow_label.yml

In order to get added to all the Kubeflow repos automatically.

Owners (people responsible for issue triage) can be listed in
https://github.com/kubeflow/community/blob/master/l

[2020-05-05 16:54] jazzsir opened #811 "Predictor doesn't work with particular Tensorflow model"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Tensorflow serving in kfserving works with a model built by below code(tensorflow 2.1)
[code]

But when the tensorflow-serving serves the model built by follow code(tensorflow 2.1 and gpu-nightly installed), it responses with `tensorflow serving Error: Invalid argument: JSON object: doe

[2020-05-05 20:59] animeshsingh commented on #790
@Jeffwan any progress on this side?

[2020-05-06 03:18] zhangrongguo commented on #802
@yuzisun When you have time, shall we discuss about all the expected modifications of batcher?

[2020-05-06 17:53] larssuanet opened #812 "Inference service is not ready while knative service is"
/kind bug

**What steps did you take and what happened:**

I deployed the sklearn-iris example with the `cluster-local-gateway` configured in Knative (using Ambassador, not Istio). The `services.serving.knative.dev` enters the ready state, while the `inferenceservices.serving.kubeflow.org` does not.

**What did you expect to happen:**

I expect the `inferenceservices.serving.kubeflow.org` to becom

[2020-05-06 19:27] cliveseldon opened #813 "pylint pre-submit python 3.5.2"
/kind bug

The pylint pre-submit is using python 3.5.2 but our python libraries are >= python 3.6

[2020-05-06 21:05] yuzisun commented on #812
@larssuanet we have a top level virtual service which does canary traffic split as well as routing between KFServing transformer, explainer and predictor, currently it is depending on Istio so the inference service status stays false because it wasn't able to create Istio virtual service. Yes the underlying knative service can still work.. but you won't be able to do canary rollout.

[2020-05-07 05:30] kolasanichaitanya commented on #799
I can make a PR for this. should the error code when the model is not ready be 404 or a custom one ?

[2020-05-07 07:12] larssuanet commented on #812
@yuzisun alright, thanks for sharing.

I tried Ambassador because I couldn't get the `cluster-local-gateway` to work with Istio (Knative 0.11.2 & Istio 1.3.1), but that is more of a Knative issue. Seems like I'll be switching back to Istio anyway. Will close the issue. Thanks again!

[2020-05-07 07:12] #812 closed

[2020-05-07 17:26] ellis-bigelow commented on #799
Wait we're returning 200 before the model is loaded? 400 or 503 (service unavailable) is fine to start. Happy to hear suggestions if you have other ideas.

[2020-05-07 19:29] nlarusstone opened #815 "Virtual Services won't let you return HTTPS for the endpoint"
/kind bug

**What steps did you take and what happened:**
I've set up KFServing/Knative to use TLS, but the virtualService still returns a URL that has `http` at the front of it instead of `https`.

**What did you expect to happen:**
I expected KFServing to have an option to configuration `https` endpoints.

**Anything else you would like to add:**
Looking at https://github.com/kubeflow/kfserving/

[2020-05-07 22:08] dshen51 commented on #799
i was thinking 503, but i don't feel too strongly about the particular code that's used.

[2020-05-08 08:43] jazzsir commented on #811
It works after removing convolutional layers.

[2020-05-08 08:43] #811 closed

[2020-05-08 11:26] yuzisun commented on #760
/reopen

[2020-05-08 16:11] tomasz-sadowski opened #817 "Issue with model downloading from Google Storage when model is in subdirectory"
/kind bug

I used GCP for Kubeflow deployment and I also put my model in the Google Storage of the same project in GCP.

I prepared sample deployment based on https://github.com/kubeflow/kfserving/blob/master/docs/samples/tensorflow/tensorflow.yaml
When I use `storageUri: "gs://kfserving-samples/models/tensorflow/flowers"` and I change port deployment works correctly.

However, when I would like t

[2020-05-08 18:04] ellis-bigelow commented on #817
Hey @wave112, thanks for the detailed debugging! The folder convention from tensorflow is an annoying restriction. If I understand your suggestion correctly, you're suggesting that we support paths that do not container the versioned folder number. We do our best to let the model servers do their job and not take opinions on things like this, as it creates other restrictions.

The google storage p

[2020-05-08 18:05] ellis-bigelow commented on #817
Also -- we shouldn't be crashing looping on your folder structure, there definitely is a bug in the storage initializer.

[2020-05-08 23:33] #760 closed

[2020-05-10 19:17] #799 closed

[2020-05-10 19:21] yuzisun commented on #798
@larssuanet We currently depend on local gateway, can you get that installed ?

[2020-05-10 19:23] yuzisun commented on #668
@ryandawsonuk @cliveseldon Can you help test KFServing in Istio/Dex setup with kubeflow manifest master?

[2020-05-11 04:32] sachua commented on #668
@yuzisun I tried KFServing's sklearn example with kubeflow manifest master in Istio-Dex, I am getting IngressNotConfigured when deploying the inferenceservice:
[code]
Checking the logs of networking-istio, I am getting 404s and 302s.

[2020-05-11 05:03] yuzisun commented on #668
@sachua Can you help get the output of `kubectl get deployment networking-istio -n knative-serving -oyaml | grep image:` ?

[2020-05-11 05:08] sachua commented on #668
[code]
hmm weird, i checked my deployment.yaml and the image should have been
[code]

Thanks!

[2020-05-11 05:22] yuzisun commented on #668
@sachua Let me know if that solves the issue.

[2020-05-11 06:14] sachua commented on #668
@yuzisun yes, the inferenceservice can be deployed now:
[code]

When I tried to curl the inferenceservice, I hit error 302

[code]

so i tried to get the auth token and pass it through the curl, and still got an error

[code]

Do you know where the issue might be?

[2020-05-11 18:06] Jeffwan commented on #790
@animeshsingh Just finish oncall in past two weeks. I will start the work from this week.

[2020-05-11 23:52] yuzisun commented on #668
Nice! @sachua Would you be interested in contributing the docs for how KFServing works with Istio/Dex ?

[2020-05-12 01:37] sachua commented on #668
@yuzisun sure, how can I contribute?

[2020-05-12 02:06] yuzisun commented on #668
@sachua Add Istio/Dex example [here](https://github.com/kubeflow/kfserving/tree/master/docs/samples) and send a PR following [contribution guideline](https://github.com/kubeflow/kfserving/blob/master/CONTRIBUTING.md)?

[2020-05-12 08:01] jinchihe commented on #813
@cliveseldon That's caused by the `gcr.io/kubeflow-ci/test-worker` is using python 3.5, I recall that we tried to upgrade Python, but caused some problems for other repos.
Yeah, I agree with you, we should upgrade that. But for now, I suggest to work around that by ignoring that temporary. I will apend the ignoring solution in PR #803

[2020-05-12 08:06] cliveseldon commented on #813
Thanks @jinchihe Strange as @jlewi suggested the python version could be set https://kubeflow.slack.com/archives/CHCKRA1N2/p1589133147009900?thread_ts=1588954800.008600&cid=CHCKRA1N2

[2020-05-12 09:40] Yaoda77 opened #820 ""503 Service Unavailable" when running custom sample"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm running the "Hello World Flask Server" custom predictor example,

the inferenceservice is created successfully:

[code]
Because my k8s cluster is built with kind on my laptop, the istio service EXTERNAL-IP is pending, and I cannot request the Flask Server with ClusterIP:

[code]
When

[2020-05-12 12:55] jlewi commented on #813
We have a newer test worker image that should be using python3.8
https://github.com/kubeflow/testing/blob/master/images/Dockerfile.py3

The docker image is
gcr.io/kubeflow-ci/test-worker-py3

Most recent build is:
gcr.io/kubeflow-ci/test-worker-py3@sha256:b679ce5d7edbcc373fd7d28c57454f4f22ae987f200f601252b6dcca1fd8823b

[2020-05-12 12:58] jlewi commented on #813
Also kubeflow/testing#425 is tracking adding support for Tekton workflows which should make it easier to define reusable Tekton tasks/pipelines for unittests and lint.

[2020-05-12 16:05] wave112 commented on #817
Is there a way to work around it to use with existing Kubeflow?
One idea which comes to my mind is to implement fix in `storage-initializer` container. But I am not sure how to replace a fixed docker image in a way so that it could be used by `InferenceService` deployment.
Any other ideas for workaround are also welcomed.

[2020-05-12 16:10] ellistarn commented on #817
We'd welcome a fix! There is a developer guide readme to get you started. Once your changes are working, you can override the storage-initializer image in the kfserving configmap. I'll cut a new release soon to get your changes public once they're submitted.

[2020-05-12 16:13] wave112 commented on #817
Apart from this, is there some temporary fix which could be done?

[2020-05-12 16:30] ellistarn commented on #817
Not that I'm aware of. We'd need someone to dig into the problem, root cause, and fix. If you need it now, the best person for that is probably you. Otherwise, we'll see if we can find someone to take this one.

[2020-05-13 01:07] yuzisun commented on #668
Thanks @sachua for the awesome write up !
https://github.com/kubeflow/kfserving/blob/master/docs/samples/istio-dex/README.md

/close

[2020-05-13 01:07] #668 closed

[2020-05-13 01:10] yuzisun commented on #504
Please check https://github.com/kubeflow/kfserving/blob/master/docs/samples/istio-dex/README.md

/close

[2020-05-13 01:10] #504 closed

[2020-05-13 01:10] yuzisun commented on #371
This should be fixed now

/close

[2020-05-13 01:10] #371 closed

[2020-05-13 01:15] yuzisun commented on #196
/close

[2020-05-13 01:15] #196 closed

[2020-05-13 06:28] jinchihe commented on #813
@jlewi Yeah, will enhance the testing by using Tekton later. Thanks.

[2020-05-13 07:54] #813 closed

[2020-05-14 00:38] yuzisun opened #824 "Make KFServing accessible from GCP IAP Ingress"
/kind feature

**Describe the solution you'd like**
This is a follow up for https://github.com/kubeflow/kfserving/issues/760

in GCP/IAP setup, KFServing inference service is protected behind IAP and in order to access from outside, we need additional virtual service rule to work with path based routing because currently KFServing only supports host based routing. So we need to add additional rule

[2020-05-14 00:38] yuzisun commented on #824
/good-first-issue

[2020-05-14 00:45] yuzisun commented on #760
- @jlewi @ellistarn I have created https://github.com/kubeflow/kfserving/issues/824 to follow up the KFServing and GCP/IAP integration to see if anyone can help out.
- @sachua has helped to confirm KFServing is now working with Istio/Dex setup in auth environment and here is the [great doc](https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex) he wrote
- @Jeffwan @animeshsingh

[2020-05-14 01:22] yuzisun commented on #820
@Yaoda77  is it standalone KFServing or KFServing in kubeflow? Do you have istio local gateway installed?

[2020-05-14 01:48] Yaoda77 commented on #820
It is standalone KFServing.  The istio local gateway is not installed in my cluster now. I tried to test the service with istio local gateway installed, it didn't work either.

[2020-05-14 02:06] yuzisun commented on #820
can you help get the output of top level virtual service ?
`kubectl get vs custom-sample -oyaml`

[2020-05-14 02:27] Yaoda77 commented on #820
[code]

[2020-05-14 03:24] yuzisun commented on #820
@Yaoda77 I tried [quick install](https://github.com/kubeflow/kfserving/#install-kfserving-in-5-minutes-on-your-local-machine) with the custom sample and it works fine.

[code]

[2020-05-14 08:32] jal06 commented on #734
@yuzisun

I saw that the PR [1137](https://github.com/kubeflow/manifests/pull/1137) is merged in master (btw, thanks for this PR) so I installed Kubeflow from master branch using [kfctl_gcp_iap.yaml](https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_gcp_iap.yaml)

And then I tried again the [tensorflow sample](https://github.com/kubeflow/kfserving/tree/master/docs/samples/ten

[2020-05-14 12:38] yuzisun commented on #734
@jal06 I do not think gcp iap setup is using load balancer. Istio ingress is protected behind IAP so you would need to go through IAP ingress to access the inference service, previously we had issue which exposes the istio ingress publicly.  Also can you help output the knative network istio pod image version it should be using 0.11.2.

[2020-05-14 12:50] jal06 commented on #734
Yes, it is version v0.11.2 as you can see below

Please, could you elaborate more what you mean by

?

Thanks
[code]

[2020-05-14 13:28] yuzisun commented on #734
please check https://github.com/kubeflow/kfserving/issues/760, I hope we will have a guide soon for GCP/IAP. Also I guess you have istio sidecar injected that's why you still get `IngressNotConfigured` error?

[2020-05-14 13:49] jal06 commented on #734
Thanks for your answer.
I will take a look at [760](https://github.com/kubeflow/kfserving/issues/760) and [824](https://github.com/kubeflow/kfserving/issues/824)

Yes, Istio sidecar is injected :
- `label istio-injection=enabled` in my namespace
- the pod `flowers-sample-predictor` contains 3 containers : `kfserving-container`, `queue-proxy` and `istio-proxy`

So, I don't understand why I still ge

[2020-05-14 13:51] yuzisun commented on #734
Sorry actually you should not get that error, Can you check the knative istio network pod logs?

[2020-05-14 13:56] jal06 commented on #734
`k logs networking-istio-67c9674597-69467 -n knative-serving`

{"level":"info","ts":"2020-05-14T12:55:44.909Z","logger":"istiocontroller.ingress-controller.status-manager","caller":"ingress/status.go:331","msg":"Processing probe for http://flowers-sample-predictor-default.kubeflow-jeanarmel-luce:80/, IP: 10.56.1.34:80 (depth: 0)","commit":"6b0e5c6","knative.dev/controller":"ingress-controller"}
{"

[2020-05-14 13:58] james426759 commented on #734
Hi
I have same question!!
I try ${CLUSTER_IP} return null.

try
`kubectl -n istio-system get service $INGRESS_GATEWAY -o jsonpath='{.status.loadBalancer.ingress[0].ip}'
`
return
...
"status": {
        "loadBalancer": {}
    }

[2020-05-14 14:01] yuzisun commented on #734
@jal06 Can you check the networking istio pod image sha, it should be `gcr.io/knative-releases/knative.dev/serving/cmd/networking/istio@sha256:61461fa789e19895d7d1e5ab96d8bb52a63788e0607e1bd2948b9570efeb6a8f`

[2020-05-14 14:06] jal06 commented on #734
Good catch !!!
the sha looks different.

image: gcr.io/knative-releases/knative.dev/serving/cmd/networking/istio@sha256:727a623ccb17676fae8058cb1691207a9658a8d71bc7603d701e23b1a6037e6c

[2020-05-14 15:11] bjmrevilla commented on #798
I encountered the same problem as well. I followed the instructions in [setting up](https://www.kubeflow.org/docs/started/workstation/minikube-linux/) Kubeflow in Minikube running on a Linux VM. This is the [KFDef](https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.2.yaml) that I used.
[code]

[code]
Virtual Services:
[code]

[code]
[code]

[2020-05-14 19:41] jal06 commented on #734
My understanding is that [6962](https://github.com/knative/serving/pull/6962) is merged in the master branch of knative, but not pushed in version [0.11.2](https://github.com/knative/serving/releases/tag/v0.11.2) of Knative.

So hopefully, [6962](https://github.com/knative/serving/pull/6962) will be pushed in Knative 0.11.3+ and we'll need to link to this new release of KNative. Is it correct ?

A

[2020-05-14 21:57] pvgbabu commented on #629
Hi All, I need your help on fixing this Kfserving issue
 I am using KFserving installed using PKS(1.15) Kubflow 1.0
When i try >  kubectl apply -f tensorflow.yaml -n kubeflow
inferenceservice.serving.kubeflow.org/flowers-sample created
but

NAME             URL   READY   DEFAULT TRAFFIC   CANARY TRAFFIC   AGE
flowers-sample         False                                      2m43s

Message:

[2020-05-14 21:59] pvgbabu commented on #734
Hi All, I need your help on fixing this Kfserving issue
I am using KFserving installed using PKS(1.15)/ Kubflow 1.0
When i try > kubectl apply -f tensorflow.yaml -n kubeflow
inferenceservice.serving.kubeflow.org/flowers-sample created
but

kubectl get inferenceservices -n kubeflow
NAME URL READY DEFAULT TRAFFIC CANARY TRAFFIC AGE
flowers-sample False 2m43s
kubectl describe inferenceservices -n kub

[2020-05-15 01:40] yuzisun commented on #734
The knative fix 6962 is back ported to knative 0.11.2, so If you upgrade knative to 0.11.2 that should work, the same fix has been merged in kubeflow manifest master as well.

[2020-05-15 07:10] yuzisun commented on #798
@bjmrevilla there is an issue unfortunately in kubeflow manifests v1.0.2 https://github.com/kubeflow/manifests/issues/1142, either you can fall back to v1.0.0 or use manifest from v1.0 branch/master.

[2020-05-15 09:25] #820 closed

[2020-05-15 11:17] pvgbabu commented on #734
Thanksa @yuzisun, , could you please give me the url and upgrade instructions for knative 0.11.2

appreciate all your help

[2020-05-15 11:53] yuzisun commented on #734
@pvgbabu
[code]

[2020-05-15 12:21] james426759 commented on #734
@pvgbabu
I have a similar issue.
Have you solved the problem？

[2020-05-15 13:11] pvgbabu commented on #734
No luck @yuzisun , still same issue after upgrade to 0.11.2 using below  commands
export KNATIVE_VERSION=v0.11.2
kubectl apply --selector knative.dev/crd-install=true \
--filename https://github.com/knative/serving/releases/download/${KNATIVE_VERSION}/serving.yaml \

kubectl apply --filename https://github.com/knative/serving/releases/download/${KNATIVE_VERSION}/serving.yaml \

 kubectl get namesp

[2020-05-15 13:27] tomasz-sadowski opened #825 "Add support for web proxy for KFServing when model is downloaded from Google Storage, S3 etc."
/kind feature

Please add support for web proxy to connect to GoogleStorage, S3, etc.

Currently, no web proxy is supported for `storage-initializer`. Library used - `urllib3` supports environment variables like `http_proxy` or `https_proxy` but I am not aware of any way how to pass environment variables to `storage-initializer`.

Please add the support of web proxy to `storage-initializer` and ot

[2020-05-15 14:30] wave112 commented on #825
https://github.com/kubeflow/kfserving/blob/e25758f6da020e3e8ad63f0880ab95de6af8395b/pkg/webhook/admission/pod/storage_initializer_injector.go#L167

[2020-05-15 15:22] yuzisun commented on #734
@pvgbabu it might be helpful if you can describe the inference service pods, looks different issue

[2020-05-15 16:03] pvgbabu commented on #734
@yuzisun
 kubectl describe inferenceservices -n kubeflow
Name:         flowers-sample
Namespace:    kubeflow
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"serving.kubeflow.org/v1alpha2","kind":"InferenceService","metadata":{"annotations":{},"name":"flowers-sample","namespace":"...
API Version:  serving.kubeflow.org/v1alpha2
Kind

[2020-05-15 17:32] pvgbabu commented on #734
my other pks cluster after upgrading v0.11.2 to error log as below with pns executor

 kubectl logs -l app=networking-istio -n knative-serving
W0515 16:25:17.317417       1 reflector.go:302] k8s.io/client-go/informers/factory.go:133: watch of *v1.ConfigMap ended with: too old resource version: 19639913 (19643789)
W0515 16:33:59.324636       1 reflector.go:302] k8s.io/client-go/informers/factory.go

[2020-05-15 19:39] jpatanooga opened #826 "Support for general web URI address for hosted KFServing model location"
/kind feature

**Describe the solution you'd like**

Currently there are 4 types of storage URIs that are accepted in KFServing yaml files:

https://github.com/kubeflow/kfserving/blob/e25758f6da020e3e8ad63f0880ab95de6af8395b/python/kfserving/kfserving/storage.py#L26-L30

(1) GCS
(2) AWS S3
(3) Azure (blob over https://)
(4) local (file://)

I think it would be useful to be able reference a model f

[2020-05-16 00:47] yuzisun commented on #825
We could add proxy configuration here
https://github.com/kubeflow/kfserving/blob/master/config/default/configmap/inferenceservice.yaml#L75, feel free to raise PR for this.

[2020-05-16 20:45] jpatanooga opened #827 "s3 Model Serving Example has wrong yaml fields for AWS credentials"
/kind bug

**What steps did you take and what happened:**
https://github.com/kubeflow/kfserving/blob/master/docs/samples/s3/s3_secret.yaml

Container fails to download files from s3 for InferenceService deployment

If you view the deployment pod,

kubectl describe pod aws-sklearn-model-predictor-default-pff27-deployment-55978gslb6

you see:

      Message:      OCI runtime create failed: container

[2020-05-17 16:06] jpatanooga opened #830 "Dynamic container construction to mitigate InferenceService Python dependency issues"
/kind feature

**Describe the solution you'd like**

Currently there are issues where if a model was not built with the same versions of dependencies baked into the InferenceService model server container images, then the InferenceService will fail post-deploy during inference execution.

A typical error code:

kfserving-container:
    Container ID:  docker://e32e4a84a9de06f12af7c05bcc469958de43db

[2020-05-17 21:51] kaivalya97 commented on #824
@yuzisun I'd like to work on this. Can you explain a bit more and suggest a starting point?

[2020-05-17 21:58] nlarusstone commented on #830
This is something we would also really like and I wonder if we can model it off of how MLFlow does it: https://www.mlflow.org/docs/latest/projects.html#project-environments (though potentially without using conda)

[2020-05-18 13:50] pvgbabu commented on #734
@yuzisun, any update on above issue, or do you need more information for me. please let us know.

[2020-05-18 14:50] bjmrevilla commented on #734
I can confirm that this is working. I used this [KFDef](https://raw.githubusercontent.com/bjmrevilla/manifests/master/kfdef/kfctl_gcp_iap.yaml) from my fork of the [manifests repo](https://github.com/kubeflow/manifests) to create a new Kubeflow deployment in GKE (1.14). I keep getting errors on @yuzisun's commands for upgrading to v0.11.2 so I just manually changed every version of knative to v0.1

[2020-05-18 16:27] Jeffwan opened #831 "[AWS] Support IAM Role for Service Account in KFServing"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently, it needs a S3 credential to download model. We need more fine grain control ways. [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) is a better option. This helps us deploy model without credentials

**Anything else you would like t

[2020-05-18 16:27] Jeffwan commented on #831
/assign @Jeffwan

[2020-05-18 16:35] axsaucedo commented on #632
@Jude188 you are right, I hadn't realised what you meant. I'll submit a fix.

[2020-05-18 16:41] ellistarn commented on #831
Hey @Jeffwan! Great feature. I'm less familiar with the AWS terminology. It looks like this will enable short lived credentials similar to GKE's managed pod identity.

I just want to confirm that these credentials will go through the Kubernetes Service Account API and that no API change is necessary from a KFServing perspective. What is the difference from an implementation perspective? IIUC, we c

[2020-05-18 16:56] Jeffwan commented on #831
Exactly. This will be same as workload identity.

KFServing side doesn't need to make any API level change or even calls. User needs to choose service account with IAM role attached for inference service. EKS has the webhook to inject the temporary token from IAM role into the pod. There's two things need to be done.

1. Upgrade AWS or Minio SDK to the version that support `assume-web-identity-rol

[2020-05-19 01:53] #632 closed

[2020-05-19 11:25] edenbuaa opened #833 "[Failed] failed to update deployment "flowers-sample-predictor-default-8h6b5-deployment""
**Environment:**

- Istio Version: installed with kubeflow v1.0
- Knative Version: installed with kubeflow v1.0
- KFServing Version: installed with kubeflow v1.0
- Kubeflow version: v1.0
- Minikube version:
- Kubernetes version: (use `kubectl version`): v1.15.1
- OS (e.g. from `/etc/os-release`): ubuntu

I run the sample of tensorflow , but the inferenceservices was not in ready. the revision cont

[2020-05-19 11:41] talexander opened #834 "Set imagePullPolicy=Always for storageInitializer init container"
**Deploy kfserving v0.3.0 and sample app**
[code]

I have k8s cluster with enabled PSP and ImagePullAlways plugin
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/
After all kservice isn't working

[code]

**Environment:**

- Istio Version: 1.3.5
- Knative Version: 0.11.2
- KFServing Version: 0.3.0
- Kubeflow version: -
- Minikube version: -
- Kubernetes version: (use

[2020-05-19 11:51] pvgbabu commented on #734
@yuzsin/@krishnadurai any update or suggestion on my knative/kfserving issue on PKS cluster

[2020-05-19 15:17] wave112 commented on #817
I looked into this issue and it occurs when I create a directory structure using 'create folder' in Google Storage UI and then upload a model into such an earlier created directory structure. Google Storage do not have such a concept like folders and UI creates an object with content 'placeholder' as probably a workaround.

When I upload a model using `gsutil cp <directory> gs://<bucket>/<some dir

[2020-05-19 15:41] #712 closed

[2020-05-19 17:10] ellistarn commented on #834
Hmm. Looks like we need to use a reinvocation policy to catch changes when there are multiple mutators. Would you be up to implementing this in our webhook?

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#reinvocation-policy

[2020-05-19 18:29] owennewo commented on #792
Is this a duplicate of #803

[2020-05-19 19:29] cliveseldon commented on #792
#803 is the PR for this issue

[2020-05-19 19:45] jal06 commented on #734
@bjmrevilla   Thanks for your help (and sorry for the delay)

I followed your instructions, and it looks better now.
I confirm that there is no more error `"IngressNotConfigured"`
The status of objects ksvc, route and inferenceservice is "Ready" 👍

I just need to find now how to query the model

When I follow the instructions of the documentation, the variable IP is not set.

`CLUSTER_IP=$(kubectl

[2020-05-20 01:51] jpatanooga opened #835 ""Environments" for both Kubeflow model workflows and KFServing to better manage dependencies"
/kind feature

**Describe the solution you'd like**

A way to create an "environment" that contains a list of dependencies needed to:

1. train a model
2. serve inference from kfserving

This environment would work similarly to Anaconda's concept of environments such that each user could have their own separate set of different environments. These environments would also be referenceable by a yaml

[2020-05-20 08:46] edenbuaa commented on #833
the rollout history as follows:

[code]

[2020-05-20 09:55] edenbuaa commented on #833
describe the revision.serving.knative.dev/flowers-sample-predictor-default, report the following error:
[code]

[2020-05-20 16:51] pvgbabu commented on #734
@yuzisun /  @krishnadurai  , after upgrading to knative v0.11.2, tried troubleshoot using  sklearn.yaml as mentioned in below link. my cluster PKS with nfs_storage and pns executors.

https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md

kubectl apply -f sklearn.yaml -n kubeflow
inferenceservice.serving.kubeflow.org/sklearn-iris created

kubectl get inferenceservices skl

[2020-05-20 20:49] pvgbabu commented on #621
Hi All, I got similar issue while trying to do kFserving sklearn inference , is any one able to fix this.
My cluster is PKS and uses  nfs_storage
Please let us know.

kubectl logs sklearn-iris-predictor-default-q8pbn-deployment-5dc9d76c56f68nz -n kubeflow kfserving-container
[I 200520 14:11:43 storage:35] Copying contents of /mnt/models to local
Traceback (most recent call last):
File "/usr/local/

[2020-05-21 03:23] pugangxa commented on #621
For NFS I think you should create pvc for this nfs path, and then use the "pvc://" storage type rather than the "file://" type.

[2020-05-21 08:35] Iamlovingit commented on #485
I want to collect inferenceservice metrics from kfserving for monitoring. I notice that, there is a yaml [promethues-patch](https://github.com/kubeflow/kfserving/blob/master/config/default/manager_prometheus_metrics_patch.yaml). Now I have known the promethus' address, how to config kfserving can make me collect these metrics? BTW, is there haved a list file for definition the metircs' name?

[2020-05-21 10:03] ryandawsonuk opened #836 "option to use single namespace for request logger"
Currently with the request logging you've two options:

1. By default logging looks for a knative broker in the model's namespace.
2. You can set a logger url per model.

Would be great to also have the option to set when installing the controller that the knative broker to look for be in a particular namespace.

[2020-05-21 13:17] pvgbabu commented on #621
Thanks@pugangxa. do you have any sample yaml or example to create pvc for  dynamic volume provisioned nfs storage

[2020-05-21 13:49] Iamlovingit commented on #621
There is a sample about pvc.
https://github.com/kubeflow/kfserving/blob/master/docs/samples/pvc/README.md#create-a-inferenceservice-for-on-prem-cluster

[2020-05-21 14:48] pvgbabu commented on #620
Hi @mojokb , i would like to try this, could you please share your pvc/pv yaml and the process.
appreciate all your help

[2020-05-22 00:58] sakaia commented on #833
Are you looking into following guide? I have also stacking even in `sklearn-iris`

[KFSERVING_DEBUG_GUIDE.md](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md)

[2020-05-22 01:31] sakaia opened #839 "[Failed] Cannot execute sklearn-iris-predictor-default"
/kind bug

**What steps did you take and what happened:**
Cannot execute sklearn-iris-predictor-default

After booting kfserving from istio, I do following commands

[code]
I cannot solve this problem even checking
[KFSERVING_DEBUG_GUIDE.md](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md)

**What did you expect to happen:**
sklearn works fine.

**Anything else you

[2020-05-22 02:37] Iamlovingit commented on #839
show more detail by `kubectl describe pods {your-sklearn-iris-pod-name}`

[2020-05-22 02:53] sakaia commented on #839
Thank you

After executing `kubectl apply`, some pods are running but dissapearing.
So I reexecute it and get following message.

[code]

[2020-05-22 02:59] sakaia commented on #839
/kind example

[2020-05-22 11:29] yuzisun commented on #839
@sakaia looks similar to this issue https://github.com/ubuntu/microk8s/issues/784 ?

[2020-05-22 17:00] jpatanooga opened #840 "SKLearn example needs to document a step for installing locally the kfserving python sdk"
/kind bug

**What steps did you take and what happened:**

https://github.com/kubeflow/kfserving/tree/master/docs/samples/sklearn

the example talks about running SKLearnServer locally, but fails to mention that the reader needs the kfserving sdk dependency installed via (conda/pip) first.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that

[2020-05-23 08:12] cornleaf commented on #620
So how do you fix this at last ,could u give some clue?

[2020-05-23 09:05] cornleaf commented on #620
So how do you fix it at last mojokb

[2020-05-25 07:36] sakaia commented on #839
@yuzisun Thank you for your suggestion.
I passed to following but still have a problem for curl command.
Additional Command from [ubuntu/microk8s#784](https://github.com/ubuntu/microk8s/issues/784)
Workaround command.

[code]
Current status.

[code]
From seeing error message, kfserving controller is not registered.
Any suggestion?

Ref.
Test KFServing Installation
https://github.com/kubeflow/kfser

[2020-05-25 09:34] sakaia opened #841 "[doc]cert-manager in README.md"
/kind bug

**What steps did you take and what happened:**
Cert Manager: v1.12.0+ is not exist. Latest version is v0.15.0

**What did you expect to happen:**
Correct Cert Manager version is written in README.md

**Anything else you would like to add:**

- [kfserving/README.md](https://github.com/kubeflow/kfserving/blob/master/README.md)
- [cert-maanger/releases](https://github.com/jetstack/cert-man

[2020-05-25 23:40] yuzisun commented on #834
/good-first-time

[2020-05-25 23:41] yuzisun commented on #834
/good-first-issue

[2020-05-25 23:42] yuzisun commented on #833
@edenbuaa Can you provide more details? the error you posted is benign k8s retry warning

[2020-05-25 23:43] yuzisun commented on #825
/good-first-issue

[2020-05-26 00:07] yuzisun opened #844 "KFServing tail latency issue due to k8s cpu throttle for knative queue proxy"
/kind bug

**What steps did you take and what happened:**
Currently KFserving sets queue proxy resources limit with `queue.sidecar.serving.knative.dev/resourcePercentage: 20` annotation, however due to kubernetes/kubernetes#67577, queue proxy can still get throttled even it does not hit the cpu limit if the OS does not have [kernel fix](https://gist.github.com/bobrik/2030ff040fad360327a5fab7a09c4f

[2020-05-26 01:27] yuzisun commented on #826
/good-first-issue

[2020-05-26 06:51] #841 closed

[2020-05-26 07:02] soochem opened #845 "Explainer without Transformer"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hello, I've tried two AnchorImage test cases and met errors:
Case 1. Using customized KFServing alibiexplainer image (using alibiexplanier.Dockerfile),
Alibi explainer dump (alibi v0.3.2),
and Predictor (model : tensorflow 0.15.2),
I got error when requesting inference. (upstream time o

[2020-05-26 10:52] yuzisun commented on #845
/cc @cliveseldon

[2020-05-26 11:04] edenbuaa commented on #833
thanks @sakaia.
@yuzisun  It maybe a deployment problem. I redeploy and the error is disappear. But I still can not run the sample successfully. When I run the sklearn sample following its guide. it give me 404 error:

[code]

Can the `storageUri `use a nas or nfs address?

[2020-05-26 11:15] #792 closed

[2020-05-26 11:33] yuzisun commented on #839
@sakaia Can you try the following config
- `kubectl edit cm inferenceservice-config -n kubeflow` and set `"ingressService" : "istio-ingressgateway.istio-system.svc.cluster.local"`
- `kubectl edit cm config-istio -n knative-serving` and set `gateway.kubeflow.kubeflow-gateway: "istio-ingressgateway.istio-system.svc.cluster.local"`

[2020-05-26 11:37] yuzisun commented on #833
@edenbuaa Can you paste your inference service yaml ?

[2020-05-26 12:38] Iamlovingit opened #846 "Multi stage model inference pipelines"
/kind feature
In many situations, inferenceservice is contained many small services. If we want to deploy this big servcie by KFServing, we should create a server to connect these small services together, and use `custom` model to deploy this big service. If we want to change the connection, we should recode the server and rebuild the image. If KFServing can handle this by edit the deploy yaml, it

[2020-05-26 13:02] cliveseldon commented on #845
Just merged is an update to Alibi 0.4.0: https://github.com/kubeflow/kfserving/pull/803
Can you try with that? @yuzisun are we sure the new image is available on master?

[2020-05-27 01:35] edenbuaa commented on #833
@yuzisun the inference service yaml is same to the  sklearn sampe:

[code]
and the status for the sklearn deployment:
[code]

[2020-05-27 01:42] soochem commented on #845
Thanks. I used Alibi 0.4.0 & KFServing alibiexplainer v0.3.0
and got :

Traceback (most recent call last):
│       File "/usr/local/lib/python3.7/site-packages/tornado/web.py", line 1701, in _execute
│         result = method(*self.path_args, **self.path_kwargs)
│       File "/kfserving/kfserving/handlers/http.py", line 61, in post
│         response = model.explain(request)
│       File "/alibiex

[2020-05-27 01:49] yuzisun commented on #833
@edenbuaa Can you try my last comment on https://github.com/kubeflow/kfserving/issues/839

[2020-05-27 01:53] Iamlovingit commented on #846
It looks like inference service mesh.

[2020-05-27 01:57] yuzisun commented on #846
@Iamlovingit what are those services ? Can you give a more concrete example?

[2020-05-27 02:12] Iamlovingit commented on #846
Some pattern recognition methods is splited some steps. For example, the face recognition:
 1.  find the face area
 2.  compute the features of these face
 3.  match the result from face database
Usually, **1,2**  are two different models. **1** output is **2** input.

[2020-05-27 02:29] edenbuaa commented on #833
@yuzisun thanks. I follow your instructions to edit the config. but the second one `kubectl edit cm config-istio -n knative-serving`  not found in the config:

[code]

Do you mean the ` gateway.knative-serving.knative-ingress-gateway` ？

[2020-05-27 06:54] cliveseldon commented on #845
To use Alibi 0.4.0 you would need to use the master version of the alibiexplainer wrapper.
Until the next release you can use https://github.com/kubeflow/kfserving/blob/74685535e20c6d328cce836f0319a33f1350b381/Makefile#L71 to build and push a dev version.

[2020-05-27 06:56] cliveseldon commented on #846
Having a full inference graph as a component of KFServing is part of the roadmap but the work has not yet been started.

[2020-05-27 07:30] Iamlovingit commented on #846
Could you show me the roadmap?

[2020-05-27 07:56] cliveseldon commented on #846
https://github.com/kubeflow/kfserving/blob/master/ROADMAP.md#unscheduled-work
Which has a link to https://github.com/SeldonIO/mlgraph an early proposal for full DAG.

[2020-05-27 10:30] yuzisun commented on #833
@edenbuaa yes, change `gateway.knative-serving.knative-ingress-gateway: kfserving-ingressgateway.istio-system.svc.cluster.local` to `gateway.kubeflow.kubeflow-gateway: "istio-ingressgateway.istio-system.svc.cluster.local"`

[2020-05-27 10:39] edenbuaa commented on #833
@yuzisun  it still reports the same `404 Not Found`
Does it need to reapply the inference service?

[2020-05-27 10:53] edenbuaa commented on #833
@yuzisun  I reapply the sklearn inference service.  It doesn't work.

`$ kubectl apply -f docs/samples/sklearn/sklearn.yaml  -n my-serving`
`inferenceservice.serving.kubeflow.org/sklearn-iris created`

$ kubectl get inferenceservices sklearn-iris -n my-serving
[code]
`$ kubectl get all -n my-serving`
`No resources found in sfe-serving namespace.`

[2020-05-27 11:10] edenbuaa commented on #833
@yuzisun  I recovery the ingress gateway config. and deployment the sklearn inference service again.
the pod exit quickly. the pod's logs as follows:
[code]

[2020-05-27 12:40] yuzisun commented on #833
@edenbuaa you need to specify the container name with `-c`  like
`kubectl logs sklearn-iris-predictor-default-wt4kj-deployment-dc9b67d89-qwrnt -n sfe-serving -c kfserving-container` or
`kubectl logs sklearn-iris-predictor-default-wt4kj-deployment-dc9b67d89-qwrnt -n sfe-serving -c storage-initializer`
In KFServing 0.2.2 the pod will go down after sometime if the service is idle which is knative's [

[2020-05-28 01:44] yuzisun commented on #827
fixed in #843
/close

[2020-05-28 01:44] #827 closed

[2020-05-28 01:52] edenbuaa commented on #833
@yuzisun got it.
I found the listening port is 8080 in the kfserver:
[code]
So, I set the port-forward to `8080`.(it's `80 `in the [guide](https://github.com/kubeflow/kfserving))
 `$ kubectl port-forward --namespace istio-system $(kubectl get pod --namespace istio-sysm --selector="app=istio-ingressgateway" --output jsonpath='{.items[0].metadata.name}') 8080:8080`

and then, send a request to infer

[2020-05-28 02:09] edenbuaa commented on #833
more details for the pod:
[code]

[2020-05-28 02:47] edenbuaa commented on #833
@yuzisun got it and thanks.
I follow your instructions to edit inferenceservice-config . but it still give the same error:

[code]

[2020-05-28 07:18] Iamlovingit commented on #846
Thanks for roadmap. Is there have any design about this feature or some feasible idea? Hope for your reply.

[2020-05-28 07:41] cliveseldon commented on #846
We want to kickoff items including AB testing, ensembles, and multi-armed bandits leading up to a dull DAG in coming weeks. Can I suggest you attend the community WG call (weds - biweekly) see https://www.kubeflow.org/docs/about/community/ and add an agenda item.

[2020-05-28 11:16] edenbuaa commented on #833
@yuzisun any suggestions?

[2020-05-28 11:31] yuzisun commented on #833
@edenbuaa did you recreate the service ? This guide https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md#debug-kfserving-request-flow can help you debug.

[2020-05-28 12:07] edenbuaa commented on #833
@yuzisun yes, I recreate the service and receiving the same response. that guide you mentioned seems can not solve my problem.

[2020-05-28 12:18] abdulsalama opened #848 "Authentication setup interfering with kfserving"
/kind bug

How authentication is supposed to interact with kfserving?

I followed this article to setup istio/dex authentication here:
https://journal.arrikto.com/kubeflow-authentication-with-istio-dex-5eafdfac4782

And it has been working great. However, we are trying to get kfserving to work and now the envoy filter below is interfering with it.

apiVersion: networking.istio.io/v1alpha3
kind: En

[2020-05-28 12:29] edenbuaa commented on #833
@yuzisun the vs spec is:

[code]

[2020-05-28 12:53] yuzisun commented on #833
@edenbuaa I see the host mismatch there, you are curling with `sklearn-iris.sfe-serving.example.com` but the on vs it is `sklearn-iris.my-serving.example.com`

[2020-05-28 15:58] edenbuaa commented on #833
@yuzisun It doesn't matter, I created another namespace named `my-serving`.  and curl with `sklearn-iris.my-serving.example.com`

[2020-05-28 16:22] fakeburst opened #849 "storage-initializer container fails to download model from s3"
/kind bug

**What steps did you take and what happened:**

I've tried serving a model stored at s3 bucket following this guide: https://github.com/kubeflow/kfserving/tree/master/docs/samples/s3

Upon applying `InferenceService` manifest, container `storage-initializer` in pod `s3-predictor-default-xxxxx-deployment-xxxxxxx-xxxx` fails to start which in turn renders said `InferenceService` not ready

[2020-05-29 10:46] edenbuaa commented on #833
@yuzisun  I use browser to access `http://localhost:8080` after execute `kubectl port-forward --namespace istio-system $(kubectl get pod --namespace istio-system --selector="app=istio-ingressgateway" --output jsonpath='{.items[0].metadata.name}') 8080:80` , it's kubeflow's dashboard page, is there anything wrong？

[2020-05-29 14:03] #645 closed

[2020-05-30 03:25] sheep94lion opened #851 "PyTorch example, mutiple workers, cuda initialization error."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am following the TFServing examples for PyTorch.
https://github.com/kubeflow/kfserving/tree/master/docs/samples/pytorch
I use this command to start up the server:
python -m pytorchserver --model_dir ./ --model_name pytorchmodel --model_class_name Net
By default, in `python/pytorch_serv

[2020-05-30 12:00] yuzisun commented on #851
@sheep94lion maybe related to this issue  https://github.com/pytorch/pytorch/issues/334?

[2020-05-30 12:07] yuzisun commented on #833
@edenbuaa on browser you need to setup a proper [dns](https://knative.dev/docs/serving/using-a-custom-domain/) for the inference service otherwise the gateway does not know how to route without the host.

[2020-05-31 02:47] edenbuaa commented on #833
@yuzisun thanks. It's strange that I can run the sklearn or tensorflow sample successfully if I install kfserving standalone. but failed if installing with kubeflow even though I edit the above ingressgateway you mentioned

[2020-05-31 03:42] yuzisun commented on #562
/close

[2020-05-31 03:42] #562 closed

[2020-05-31 03:46] yuzisun commented on #469
the deployment progress deadline is now configurable https://github.com/knative/serving/pull/7649

/close

[2020-05-31 03:46] #469 closed

[2020-05-31 03:48] yuzisun commented on #634
not kfserving issue
/close

[2020-05-31 03:48] #634 closed

[2020-05-31 03:49] yuzisun commented on #493
fixed now
/close

[2020-05-31 03:49] #493 closed

[2020-05-31 10:36] edenbuaa commented on #833
@yuzisun another questions: Can the storageUri of model support a nas or nfs address?

[2020-05-31 16:44] owennewo opened #852 "Add KFserving sample for GCP Identity Aware Proxy"
/kind feature

**Describe the solution you'd like**
Additional KFServing sample to describe how an InferenceService can be created behind a GCP Identity Aware Proxy (IAP).  The process is somewhat complicated and this will help new users who wish to use KFServing on GCP.

**Anything else you would like to add:**
I'll be doing a pull request against this Issue soon.  Much of the background info was

[2020-05-31 17:26] owennewo commented on #824
@kaivalya97 - I'm in a similar position to you.  I'd also like to help.  It might be easier to discuss no kubeflow kfserving slack channel.

[2020-05-31 17:36] yuzisun commented on #762
/area/kfserving/explanation

[2020-05-31 21:23] yuzisun commented on #824
@kaivalya97 @owennewo Currently KFServing creates a top level virtual service for routing so we could add additional path based routing rules or a separate virtual service based on a configuration. You can join our WG meeting to discuss this and take a look at the code [here](https://github.com/kubeflow/kfserving/blob/master/pkg/controller/inferenceservice/resources/istio/virtualservice.go#L182) t

[2020-05-31 21:25] yuzisun commented on #801
this is not kfserving issue
/close

[2020-05-31 21:25] #801 closed

[2020-05-31 23:04] yuzisun commented on #648
@katiesandford  updated 0.3 in kubeflow manifests https://github.com/kubeflow/manifests/pull/1156.

/close

[2020-05-31 23:06] yuzisun commented on #480
/close

[2020-05-31 23:06] #480 closed

[2020-05-31 23:27] yuzisun commented on #633
/close

[2020-05-31 23:27] #633 closed

[2020-05-31 23:42] yuzisun commented on #567
/close

[2020-05-31 23:42] #567 closed

[2020-06-01 07:28] ukclivecox opened #854 "Clarify use of explainers with transformers"
/kind feature

We need better docs on use of explainers. Especially when a transformer is in the inference graph. At present the explainer will receive raw input features and if there is a transformer then the model will call it. This will cause issues if the raw input features are not explainable.

[2020-06-01 08:38] yuzisun commented on #833
check the example here https://github.com/kubeflow/kfserving/tree/master/docs/samples/pvc.

@edenbuaa which kfdef you are using ? seems like virtual service `sklearn-iris-predictor-default` is not created?

[2020-06-01 09:37] edenbuaa commented on #833
@yuzisun Where to check my kfdef?

[2020-06-01 09:40] cliveseldon commented on #833
How did you install kubeflow?
Which kfdef from here are you using: https://github.com/kubeflow/manifests/tree/master/kfdef

[2020-06-01 15:54] pvgbabu commented on #620
Is any one know how to run pvc  mnist job whith dynamic volume provisioning using NFS storage of K8s . Getting error in  /mnt/models

[2020-06-02 02:12] edenbuaa commented on #833
@cliveseldon I installed kubeflow following the instructions here: [https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio]((https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio))
and use the kfdef: `https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.2.yaml`

[2020-06-03 08:17] edenbuaa commented on #833
@yuzisun I see the [triton sample](https://github.com/kubeflow/kfserving/tree/master/docs/samples/triton/bert) has come out. but when I try to apply the bert inference service, got this error:
`Error from server: error when creating "./bert.yaml": admission webhook "inferenceservice.kfserving-webhook-server.validator" denied the request: Exactly one of [Custom, ONNX, Tensorflow, TensorRT, SKLearn,

[2020-06-03 08:26] cliveseldon commented on #833
There is an open PR for this: https://github.com/kubeflow/kfserving/pull/747

[2020-06-03 08:41] edenbuaa commented on #833
@cliveseldon thanks. So when will the new version with triton be released?

[2020-06-03 09:12] cliveseldon commented on #833
See https://github.com/kubeflow/kfserving/pull/747#issuecomment-637848891
Feel free to add a comment.

[2020-06-03 15:43] edenbuaa commented on #833
@yuzisun by the way, Can the autoscaling feature of kfserving work on gpu sharing by multiple pod?

[2020-06-03 18:38] celinew1221 commented on #833
How did you install kfserving standalone? Which version did you use? I got the same error. But nothing in this page help solve the problem.

[2020-06-03 18:39] celinew1221 commented on #833
How did you install kfserving standalone? Which version did you use? I got the same error. But nothing in this page help solve the problem.

[2020-06-03 18:49] yuzisun commented on #833
you can follow these two steps, let me know if any issues
https://github.com/kubeflow/kfserving#prerequisites
https://github.com/kubeflow/kfserving#install-kfserving

[2020-06-03 18:52] celinew1221 commented on #833
I've done those. Nothing helps. The error preserves.

This is what i got:

Install microk8s 1.18.2 + kubefflow 1.0.0 using kfctl_k8s_istio. KFServing is not working. Got `404 Not Found`

[code]
There is no status for inference service.
[code]
Details
[code]
No port-forwarding. Using KFServing tensorflow examples.

The same example is teseted under microk8s 1.15 with the same manifest. Confirmed wo

[2020-06-03 18:57] yuzisun commented on #833
Can you check if kfserving controller is up running?
[code]

[2020-06-03 18:58] celinew1221 commented on #833
Yes it is.

fwiw
[code]

[2020-06-03 19:07] celinew1221 commented on #833
Hmmm

This is the start of the log
[code]
Then the following msg is repeating:
[code]

[2020-06-04 14:07] chris-zen commented on #831
There is something else that it would be nice to have support for, which is to be able to chain into another role, once the web-identity-role has been configured. That's because our data-lake in S3 doesn't support the new web-identity roles yet, and we need to chain (assume roles) from the one configured by the EKS webhook.

`pod-role-with-web-identity ---[assume]---> data-lake-role ===> download

[2020-06-04 21:50] celinew1221 opened #857 "Using microk8s built-inregistry"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Is there a way to use microk8s built-in registry enabled by microk8s.enable registry, or any local private registry with KFServing?

The `10.152.183.15:5000` used below is my container-registry service's cluster IP and port.

I tried to create a secret using
[code]
then apply [custom hel

[2020-06-05 10:43] #852 closed

[2020-06-05 17:25] ryandawsonuk opened #859 "explanations no longer working with 0.3.0"
Am following the steps in with 0.3.0 of kfserving: https://github.com/kubeflow/kfserving/tree/master/docs/samples/explanation/alibi/income

When I execute the curl for the explain I get a 500 error and the container logs show the below. I'm guessing the [update to master](https://github.com/kubeflow/kfserving/pull/803) means that the explainer models have also been updated and so they no longer wo

[2020-06-06 04:38] decewei commented on #569
Is there a way to write to pvc? The PVC mounted here is read only. But I confirmed this method is working for read only purpose pvc.

[2020-06-06 12:57] nphilou opened #860 "Missing requirements.txt in the Pypi source code"
**What steps did you take and what happened:**
The requirements.txt file is missing in the source code on Pypi so setuptools will not work.

[code]

**What did you expect to happen:**
requirements.txt in the tar.gz archive

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version: 0.3.0.1
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]

[2020-06-06 15:24] yuzisun commented on #833
@decewei this seems like knative version issue, which knative serving version your are using?

[2020-06-06 16:00] decewei commented on #833
It's knative v0.11.1 in microk8s 1.15.11

[2020-06-07 03:21] yuzisun commented on #860
/cc @jinchihe

[2020-06-08 21:24] decewei opened #867 "ResourceQuota and LimitRange doesn't work with KFServing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Applied namespace resource quota constraint, and limit range. KFServing deployment is running, however, pod can't be created. There is no sufficient debugging/error message.

Limit Range applied
[code]
Behavior:
- If remove `max` and `min`, then it will create a pod for KFServing. Howeve

[2020-06-08 21:31] decewei opened #868 "Return OOM error when resource limit is exceeded?"
/kind bug

**What steps did you take and what happened:**
What error message does KFServing return when resource is maxed out?
My process get killed in POD without an OOM or core dumped message.

**What did you expect to happen:**
Return an error message to determine what happened to a request.

**Environment:**
- KFServing Version: 0.2.2
- Kubeflow version: 1.0.0
- Kfdef: k8s_istio 1.0.0
- Microk

[2020-06-08 21:35] yuzisun commented on #868
@decewei do you mean by kfserving controller pod or inference service pod OOM ?

[2020-06-08 21:47] decewei commented on #868
Sorry, I should've specified.

I meant inference service pod OOM. If I take a look at the pod's log, I can see the pid is killed. But no OOM is returned when I purposely set the pod to exceed memory limit.

[2020-06-09 02:57] Iamlovingit opened #869 "supervisor server in custom image run failed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
custom image include the supervisor service,  when deploy this image, this error is occured:
[code]

I found that the `user-container`  mount the `/var/log` from knative
[code]

how to fix it?

[2020-06-09 03:14] jinchihe commented on #860
@nphilou what were you doing when this problem occurred? install kfserving sdk from pypi? Thanks.

[2020-06-09 06:48] nphilou commented on #860
@jinchihe I was installing kfserving from Pypi sources (kfserving-0.3.0.1.tar.gz) and more precisely, `nix-build` of https://gist.github.com/nphilou/5c9fe0715c94b51f8d1f24e557d3c90a.

It should be equivalent to `python setup.py install` of kfserving-0.3.0.1.tar.gz (https://pypi.org/project/kfserving/#files).

[2020-06-09 07:43] jinchihe commented on #860
OK, got that, thanks. @nphilou

/assign

[2020-06-09 09:53] yuzisun commented on #868
@decewei Can you tell a bit more what inference service you are running and would be good to paste the yaml here. I'd expect you see something like this https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md#inference-service-in-oom-status when getting OOM.

[2020-06-09 10:16] songm28 opened #870 "Inferenceservice status is 'Unknown' with 'IngressNotConfigured'"
/kind bug

**What steps did you take and what happened:**
My kubeflow and kfserving are installed in k8s, I tried the solution of the issue [https://github.com/kubeflow/kfserving/issues/668](https://github.com/kubeflow/kfserving/blob/master/docs/samples/istio-dex/README.md), but my Inferenceservice is still 'Unknown' with 'IngressNotConfigured', is there anything missed?

**What did you expect to

[2020-06-09 10:19] yuzisun commented on #867
@decewei KFServing currently does not support limit range this would be a new feature to add. For resource quota I think if you describe the underlying ksvc or deployment you would see the resource quota error, what's your expectation?

[2020-06-09 10:25] yuzisun commented on #870
@songm28 do not deploy the inference service in kubeflow namespace ! we have a warning here
https://github.com/kubeflow/kfserving/#kfserving-in-kubeflow-installation

[2020-06-09 10:30] songm28 commented on #870
@yuzisun Okay, Let me create the inference service in other test namespace.

[2020-06-09 10:38] yuzisun commented on #870
@songm28 oh maybe you are deploying a custom inference service, looks like your pod is actually up running. The out of the box inference services like sklearn does not work in kubeflow namespace because it needs to go through the kfserving pod mutator to inject a storage initializer. The picture you sent for the networking istio log looks like is truncating the error stack, I can not see the entir

[2020-06-09 10:41] dalfos commented on #730
Hi. Any news on this subject?

[2020-06-09 10:43] yuzisun commented on #869
looks like it is related to this issue https://github.com/knative/serving/issues/3809.

[2020-06-09 10:55] edenbuaa opened #871 "[autoscaling] can not scale down the pod"
**Environment:**

- Istio Version: 1.3.6
- Knative Version: v0.12.0
- KFServing Version: v0.3.0
- Kubernetes version: (use `kubectl version`): v1.15.1
- OS (e.g. from `/etc/os-release`): ubuntu

**What steps did you take and what happened:**

I have one node with 2 GPUs, and use the autoscalling case by the following yaml:

[code]
access the service by hey:
`hey -z 30s -q 10 -m POST -host ${HOST}

[2020-06-09 11:05] songm28 commented on #870
@yuzisun the inference service is a very simple sample here: https://github.com/kubeflow/kfserving/tree/master/docs/samples/custom/hello-world.
I had deployed the inference service in my test namespace, everything seems to be the same. the above snapshots are updated.

[2020-06-09 11:44] yuzisun commented on #871
@edenbuaa you can get the autoscaler logs under `knative-serving` namespace to get some clues.

[2020-06-09 11:49] yuzisun commented on #870
@songm28 I am not sure why it is getting 404 when probing `http://kfserving-hello-world-predictor-default.test.svc:80` , can you test if that endpoint works in cluster?

[2020-06-09 11:51] yuzisun commented on #869
This is not KFServing issue, better to follow up with knative/serving#3809.
/close

[2020-06-09 11:51] #869 closed

[2020-06-09 11:58] yuzisun commented on #871
@edenbuaa actually can you get the status of the kpa of your inference service using the command like below?
[code]

[2020-06-09 12:50] songm28 commented on #870
@yuzisun I test the link in the k8s pods in another namespace, it did not work.
The network between the pods are ok as I tested a normal service and deployment. Please checkout the ![snapshot](https://github.com/songm28/error-snapshots/blob/master/svc-network.png)

[2020-06-09 13:09] yuzisun commented on #870
@songm28 it won't work outside the kube cluster, this is the cluster local service host so you would need to `kubectl exec` into some of the pods(like istio ingress gateway pods) and then test this url.

[2020-06-09 13:10] yuzisun commented on #870
btw, do you have istio cluster local gateway installed?

[2020-06-09 14:31] decewei commented on #867
For condition 2 and 3, I'm fine with that. For condition 1, my specification falls under the resource quota range,  so I'm expecting it to run. However, the pod can't be created. Although I see inferenceservice and deployment.

[2020-06-09 14:55] edenbuaa commented on #871
@yuzisun thanks. the kpa status:
[code]

It's make me confused that why it does not scale down to 1 or 0 when there's no traffic.  If these pods can not free the gpu, the pod of other inference service maybe always keep pending. it's seem like a problem.

[2020-06-09 14:58] yuzisun commented on #871
Is this still not scaled down after the traffic is stopped?

[2020-06-09 15:05] decewei opened #872 "PVC write to volume"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We created a mounted pvc inside the custom container. Using something like the following:
[code]
The PVC mounted here is read-only volume. Is there a way to mount a Read Write PVC volume?

**Environment:**
- KFServing Version: 0.2.2
- Kubeflow version: 1.0.0
- Microk8s version: 1.18.2

[2020-06-09 15:19] yuzisun commented on #867
@decewei can you describe the deployment for condition 1 and see why pod is not created?

[2020-06-09 16:36] decewei commented on #867
[code]

[2020-06-09 16:59] ellistarn commented on #730
We are addressing this in our new api v1beta1. Stay tuned.

[2020-06-09 17:25] #404 closed

[2020-06-09 17:57] deepaknadig opened #873 "Inferenceservice has no state"
/kind bug

I have KFServing deployed as part of kubeflow. I created an inferenceservice successfully but it does not start or show any status.

The inferenceservice was created using:
[code]
The service state:
[code]
Both `istio-ingressgateway` and `kfserving-ingressgateway` services have loadbalancer IPs.

Any help is appreciated.

**What steps did you take and what happened:**
[A clear and conci

[2020-06-10 01:11] edenbuaa commented on #871
yes, it has taken several hours.

[2020-06-10 01:47] songm28 commented on #870
yes, the test is done when I 'kubectl exec' into another pod in namespace testB.
it seems that the knative code build out the service endpoint not complete, it should be `kfserving-hello-world-predictor-default.test.svc.cluster.local` rather than `kfserving-hello-world-predictor-default.test.svc` as the host.
and from the test output, it seems once the endpoint is reachable, there will be another

[2020-06-10 06:18] mumarniaz opened #874 "KFServing on Kubeflow with Istio-Dex - Access Denied"
/kind bug

**What steps did you take and what happened:**
I'm following [this](https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex) sample to send a prediction request to the InferenceService in an Istio-Dex environment. I have followed steps as mentioned in the readme of the sample but in response of my curl request instead of getting prediction result, i'm getting `Access De

[2020-06-10 06:29] edenbuaa commented on #871
@yuzisun if I only use the cpu node, the autoscalling feature can work.

[2020-06-10 07:50] edenbuaa commented on #871
@yuzisun I made a new experiment.
1. send request by `hey -z 10s -q 5 -m POST -host ${HOST} -D $INPUT_PATH`

2. observe the pod of autoscaler metrics.
![image](https://user-images.githubusercontent.com/16248697/84241074-887f1b00-ab31-11ea-86e6-79a2571c49b8.png)

it's obvious that the pod scale up to 50 to process the traffics, but scale down to 39 when traffic stoped.

 And the GPU memory can not

[2020-06-10 09:31] edenbuaa commented on #871
@yuzisun any suggestions?

[2020-06-11 01:15] yuzisun commented on #874
@sachua Can you help @mukulikak ? thanks!

[2020-06-11 02:32] sachua commented on #874
@mumarniaz can you try using the master branch of the kfdef? v1.0.2 does not have the istio probe fix

[2020-06-11 02:38] sachua commented on #874
I think you would have to disable sidecar injection also since the istio rbac rules will block it

[2020-06-11 09:48] yuzisun commented on #867
@decewei I saw `FailedCreate` condition but in events it did not say anything about why it is failed.

[2020-06-11 09:56] mumarniaz commented on #874
@sachua I'm using the master branch for the kfdef as mentioned in the sample read me.

[2020-06-11 23:50] yuzisun commented on #859
/close

[2020-06-11 23:50] #859 closed

[2020-06-12 06:04] talhairfanbentley commented on #874
I'm having the same issues, is there any fix or a workaround?
Followed the doc [here](https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex).
@sachua

[2020-06-12 08:16] Iamlovingit opened #877 "A sample for gRPC Server in custom model"
# A sample for gRPC Server in custom model

This sample can be used to try out gRPC, HTTP/2, and custom port configuration
in a custom inference  service.

## Build and Deploy the sample code

1. Use Docker to build a container image for this service and push to Docker Hub.

  Replace `{username}` with your Docker Hub username then run the commands:

[code]

3. Update the `grpc-service.yaml` file

[2020-06-12 08:17] SachinVarghese commented on #874
@mumarniaz @talhairfanbentley Have you guys tried getting the session cookie from the browser to make a prediction using curl? This test can confirm if there is an issue with the OAuth authorization code flow on the command line.

[2020-06-12 08:19] yuzisun commented on #871
@edenbuaa ah, I see that's the reason why it does not scale down. autoscaler needs to pull the metrics from queue proxy of the inference service. Seems like it is networking issue between `my-serving` namespace and `knative-serving` namespace. Do you actually have sidecar injected in autoscaler pod?

[2020-06-12 08:40] yuzisun commented on #870
@songm28 oh I see, we have deprecated `kfserving-ingressgateway` since it exposes the servics publicly. If you try the kubeflow manifests on master it should work with `istio-ingressgateway`, we are releasing kubeflow 1.1 soon.

[2020-06-12 10:09] songm28 commented on #870
@yuzisun ok, I will try after the kubeflow 1.1 released.

[2020-06-12 10:58] mumarniaz commented on #874
@SachinVarghese Yes i have used the session token both from cmd as well as from browser but still i  got the same `RBAC: Access denied` error.

[2020-06-12 12:57] SachinVarghese commented on #874
@mumarniaz Okay `RBAC: Access denied` error seems to be from Istio RBAC rules or [policies](https://istio.io/latest/docs/reference/config/security/authorization-policy/) set up on your cluster as @sachua mentioned. You could list these Istio auth custom resources in all relevant namespaces and check if any of the existing policies deny your prediction request. Would be good to know if this is an i

[2020-06-13 17:32] yuzisun commented on #874
@mumarniaz Can you help try the following to see if this fixes it ?
`kubectl edit clusterrbacconfig default` and exclude `knative-serving`

[2020-06-13 17:38] yuzisun commented on #873
@deepaknadig Can you check the kfserving controller log to see if the inference service gets reconciled ?

`kubectl logs kfserving-controller-manager-0 -n kubeflow manager`

[2020-06-13 17:43] yuzisun commented on #849
@fakeburst it should gets injected to storage initializer too, check here.
https://github.com/kubeflow/kfserving/blob/master/pkg/webhook/admission/pod/storage_initializer_injector.go#L207

[2020-06-14 18:25] ifilonenko opened #881 "Record events when InferenceService leaves and enters a Ready State"
/kind feature

**Describe the solution you'd like**
For alerting purposes, it is important for events to be thrown when an InferenceService is `Ready` to receive requests, as is its transition from `Not-Ready` to `Ready`.

The proposed feature should throw a transition event:

`InferenceServer is Ready` when the InferenceService goes from `NotReady -> Ready`
`InferenceServer is no longer Ready` wh

[2020-06-15 05:29] edenbuaa commented on #871
@yuzisun I just follow the [hack/quick_install.sh](https://github.com/kubeflow/kfserving/blob/master/hack/quick_install.sh) to install knative and not sure the autoscaler pod have sidecar or not. How to check this?

[2020-06-15 07:09] mumarniaz commented on #874
@yuzisun I have added the `knative-serving` in exclusion list but still getting the same error : `RBAC: Access denied`
![image](https://user-images.githubusercontent.com/23311468/84627787-f09e7a00-af00-11ea-9d5c-2085af49dabc.png)

![image](https://user-images.githubusercontent.com/23311468/84627878-1d529180-af01-11ea-85c6-765eb4e43bcf.png)

[2020-06-15 09:28] yuzisun commented on #874
@mumarniaz Can you turn off istio rbac `mode: OFF` to verify if 403 is actually from Istio RBAC check? If it is from istio RBAC you can refer to [this slide](https://www.slideshare.net/mt165/debugging-an-rbac-problem-in-istio) to debug where it is blocking it.

[2020-06-15 09:40] mumarniaz commented on #874
@yuzisun Turning istio RBAC mode `OFF` make it work. Now the curl request is returning prediction result instead of `RBAC: Access denied` error

[2020-06-15 10:49] ianhellstrom opened #883 "Support MXNet"
/kind feature

**Support MXNet in KFServing**
Since Kubeflow has an [MXNet operator](https://www.kubeflow.org/docs/components/training/mxnet/), it would be great if MXNet models could also be served with KFServing, as otherwise there is little use for it except in research.

[2020-06-15 12:54] yuzisun commented on #874
@mumarniaz looks you already turned off sidecar for the inference service, wondering where else is possibly checking the rbac.

[2020-06-15 13:25] #881 closed

[2020-06-15 22:55] #860 closed

[2020-06-16 00:06] Tomcli opened #884 "SDK can't create and watch inferenceservice at the same time"
/kind bug

**What steps did you take and what happened:**
Running the below python SDK code to create and watch the inferenceservice occasionally have race condition on getting the status.
[code]

[code]
**What did you expect to happen:**
it should watch the inferenceservice without error out on race condition.

**Anything else you would like to add:**
This error happens way more often on kfservin

[2020-06-16 07:44] mumarniaz commented on #874
@yuzisun You are right. Istio injection is disabled in my namespace where inference pod is running. But still if i disable the RBAC mode off it works fine but when i turn it on, i got the RBAC issue. Any pointers where else this RBAC check is happening ?

[2020-06-16 08:01] cliveseldon opened #885 "Update logger to use CloudEvents V1 Protocol"
/kind feature

KNative Eventing has now fixed on the V1 CloudEvents protocol. We need to update the logger to use this to allow outlier and drift examples to work. V01 which is presently used is not supported and will result in a 400 Bad Request Error in latest Knative Eventing Broker Ingress when calling receiver.

See https://github.com/knative/eventing/blob/e20ec8fa41caa85def7a323f870e9f35b9fc8

[2020-06-16 12:01] yuzisun commented on #884
/cc @jinchihe

[2020-06-16 18:29] SachinVarghese commented on #874
@mumarniaz In this case, it is possible that RBAC check could be happening at the Istio gateway service workload. All the predict requests are routed through that load-balancer service created by the `istio-ingressgateway` in `istio-system` namespace.

[2020-06-16 19:23] decewei commented on #867
I tried to find logs about why it fails. But couldn' find any in controllers. Where would you suggest to take a look at?

[2020-06-16 19:54] yuzisun commented on #867
@decewei those are all benign warnings, can you delete the service and try again see if the pod is actually coming up? I saw you have some of your own custom container.

[2020-06-16 19:59] decewei commented on #867
kube

Correct. I'm using a custom container. I just tried with the kfserving tensorflow example, which also doesn't work as well. No pod is coming up. Without resource uota, both are working.

[2020-06-16 20:03] yuzisun commented on #867
@decewei we are using resource quota too which works fine.. KFServing does not have any specific logic for resource quota though wondering why it does not work for you.

[2020-06-16 20:06] yuzisun commented on #874
@mumarniaz I think kubeflow has `istio-system` whitelisted for the rbac check, is that correct?

[2020-06-16 20:49] SachinVarghese commented on #874
Hey, @yuzisun I think it is meant to be whitelisted as mentioned in the comment [here](https://github.com/kubeflow/manifests/blob/master/istio/istio/base/kf-istio-resources.yaml#L113), but as per the [KfDef](https://github.com/kubeflow/manifests/blob/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.2.yaml#L45) used in this case, the ClusterRbacConfig mode is set to `ON`.

As per the istio auth [doc](https:/

[2020-06-16 21:02] yuzisun commented on #874
@SachinVarghese that seems like a bug to me

[2020-06-16 23:42] animeshsingh commented on #648
/open

[2020-06-16 23:43] animeshsingh commented on #648
/reopen

[2020-06-16 23:45] animeshsingh commented on #648
Reopened this issue to track release of Opening this issue to track releasing kfserving as part of 1.1.
Ref: kubeflow/kubeflow#5022

[2020-06-17 00:54] animeshsingh commented on #648
https://github.com/kubeflow/website/pull/1998

website PR

[2020-06-17 01:40] #885 closed

[2020-06-17 01:52] jinchihe commented on #884
/assign

I will take a look asap. Thanks.

[2020-06-17 10:55] adriangonz commented on #830
Re-creating the environment from scratch every time adds some overhead. For MLflow models, Seldon supports [creating up the environment dynamically from a `conda.yaml` file](https://docs.seldon.io/projects/seldon-core/en/latest/servers/mlflow.html#conda-environment-creation). However, what we found out is that once you add a couple dependencies the time it takes to start up the pod just sky rocket

[2020-06-17 18:24] animeshsingh commented on #648
Related issue
https://github.com/kubeflow/kfserving/issues/874

@yuzisun @adrian555 lets use this as the umbrella issue for KFS related release issues

[2020-06-17 18:31] yuzisun commented on #824
@kaivalya97 here is doc for GCP/IAP https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-iap and explained what changes are needed, let me know if you need more information.

[2020-06-17 23:09] adrian555 commented on #648
@yuzisun I have deployed kfctl_istio_dex.yaml and update `ClusterRbacConfig` as follow

[code]

The test in [`kfserving`](https://github.com/kubeflow/kfserving/blob/master/docs/samples/istio-dex/README.md) now succeeds.

[2020-06-18 02:29] jinchihe commented on #884
I did not reproduce the problem. But I think this is caused by env issue such as machine is slow so that the `status` of isvc is not generated. We can enhance here to ensure the status section is generated and then go on. Thanks.

[2020-06-18 03:17] jinchihe commented on #840
@jpatanooga I'm confused, the example should not need kfserving SDK, that's created by kubectl from YAML file. Would you please show details? Thanks.

[2020-06-18 05:30] sachua commented on #857
did you try adding

[code]

or

[code]

to ```/var/snap/microk8s/current/args/containerd-template.toml```

and also configured the daemon to trust the insecure registry https://microk8s.io/docs/registry-built-in

[2020-06-18 10:51] zhangrongguo opened #890 "Batcher module improvement."
/kind feature

1. - batching go struct fields to use int/float
2. - add more unit tests for different combinations of inputs
3. - improve e2e test to call batcher with concurrent client requests
4. - make batcher predict call async so it does not need to wait for the previous batch to finish to start the next batch

[2020-06-18 11:17] yuzisun commented on #857
@decewei also `imagePullSecrets` should be setup on your service account and you can specify [service account](https://github.com/kubeflow/kfserving/tree/master/docs/apis#deploymentspec) on the inference service.

[2020-06-18 11:58] yuzisun opened #891 "Move KFServing to minimally require Kubernetes 1.15"
/kind feature

**Describe the solution you'd like**
- Add object selector for the pod mutator which is supported in kubernetes 1.15
- support new markers for go files or openAPI spec
- update crd install instruction where `--validate=false` flag is needed

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-06-18 12:03] yuzisun commented on #845
@soochem we have fixed alibi image in 0.3 release, can you try now?

[2020-06-18 15:05] discordianfish commented on #834
Debugging a similar issue and I'm not sure it's that easy. The problem appears not to be kubeflow's admission controller but not getting reinvoced but AlwaysPullImages..

[2020-06-18 19:34] pcdas commented on #833
I faced the same issue with knative v0.11.1 with k8s 1.18.2. It **appears** to me, after some amount of digging through source code of knative v0.11.1, that webhook handler of knative is incompatible with k8s 1.18.2. I switched to knative v0.15.0 following knative installation instructions. Then I was able to kfserving samples. One other difference is that I'm running istio 1.5.1, but that probabl

[2020-06-19 01:59] #874 closed

[2020-06-19 06:53] decewei commented on #833
I confirmed this method works on kfctl_k8s_istio 1.0.0 with microk8s 1.18.3. Not sure if there's any other side effect to this.

[2020-06-19 20:09] decewei opened #892 "Long prediction using KFServing API 504 Gateway Timeout"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Ran a custom container, using short/small data that will respond within 10-second is working fine.

However, we ran a custom container with a long input, that will take more than 30 seconds, the curl will get 504 Gateway Timeout. Queue-proxy has 127.0.0.1:8080 connection refused error.

[2020-06-19 20:27] yuzisun commented on #892
@decewei currently the default timeout is 60s, can you paste the logs for the `queue-proxy` error?

[2020-06-19 20:36] decewei commented on #892
Is there a way to change the timeout?
Here:
[code]

[2020-06-19 21:14] yuzisun commented on #892
@decewei what's your custom predictor? looks like it is queue proxy is not able to connect to the main container.

[2020-06-19 21:18] decewei commented on #892
It's very similar to this one: https://github.com/kubeflow/kfserving/tree/master/docs/samples/custom/kfserving-custom-model.

Except we are processing video with bigger model, which makes the prediction sometimes 1-2hour long. I mean this shouldn't affect the queue proxy connecting to the main container.

[2020-06-19 21:32] yuzisun commented on #892
@decewei you can checkout the code [here](https://github.com/knative/serving/blob/c63502dea1d262a0ae838d0f8dfc75ff271dadf5/pkg/http/handler/timeout.go#L44), if the request times out it responses with 504. We are working on v1beta1 API which allows setting timeout, but 1-2 hour sounds way too long and sounds better to be a batch job.

[2020-06-21 13:54] #891 closed

[2020-06-22 11:59] yuzisun commented on #833
please check here https://knative.dev/community/contributing/mechanics/release-versioning-principles/, Kubernetes 1.18 is released [Mar 25, 2020](https://kubernetes.io/blog/2020/03/25/kubernetes-1-18-release-announcement/) and knative serving 0.11 is released way before that, so there is good chance that Kubernetes 1.18 is not supported with knative serving 0.11.

[2020-06-22 11:59] #833 closed

[2020-06-22 12:02] yuzisun commented on #839
consolidate to https://github.com/kubeflow/kfserving/issues/798
/close

[2020-06-22 12:02] #839 closed

[2020-06-22 12:04] yuzisun commented on #870
consolidate to https://github.com/kubeflow/kfserving/issues/798
/close

[2020-06-22 12:04] #870 closed

[2020-06-22 12:07] yuzisun commented on #877
/close

[2020-06-22 12:07] #877 closed

[2020-06-22 14:15] decewei commented on #892
I agree. If we can break it down to batches, we will do that. 1-2hour is an exaggeration. Probably around 30-40min depending on the input samples. There will be use case that requires longer time because it's waiting for entire video/audio segment feature segments as input.

Under those conditions, what is your suggestion in how to use KFServing for those purposes?

[2020-06-23 01:15] #884 closed

[2020-06-23 15:08] deepaknadig commented on #873
@yuzisun Sorry for the late reply. I see that the service is not reconciled. I see the following in the logs:
[code]

[2020-06-23 15:11] yuzisun commented on #873
@deepaknadig which kubernetes version you are on?

[2020-06-23 15:30] deepaknadig commented on #873
I am on 1.18.3

[code]

[2020-06-25 01:25] yuzisun commented on #873
@deepaknadig knative 0.11 which is installed in kubeflow does not work with kubernetes 1.18, you need to install knative 0.15.

[2020-06-25 02:03] deepaknadig commented on #873
@yuzisun Thanks! Will update knative to 0.15.

[2020-06-25 02:03] #873 closed

[2020-06-25 22:28] Sliceco opened #898 "Scale to Zero example"
/kind feature

**Describe the solution you'd like**
An example of an InferenceService that scales to zero.

**Anything else you would like to add:**
I'm not sure the best way to do this. I was able to get an InferenceService to scale to zero but I had to manually set the minScale to 0 on the KPA and update the config-autoscaler to enable-scale-to-zero in order to do so. Is there a better way to do

[2020-06-25 23:08] yuzliu commented on #773
We decided to go with the option 1.3 in this proposal: https://docs.google.com/document/d/11qETyR--oOIquQke-DCaLsZY75vT1hRu21PesSUDy7o/edit#

[2020-06-26 02:08] ellistarn commented on #773
Voting thread: https://groups.google.com/forum/#!topic/kfserving/c2XQ0itr64M

[2020-06-26 10:37] yuzisun commented on #898
@Tomcli Do we have an example to scaling to zero still? We change to [default to minReplica 1](https://github.com/kubeflow/kfserving/pull/655) since 0.3

[2020-06-26 10:53] Manvi07 commented on #629
@janeman98, I am facing exactly the same issue, as mentioned by @wronk. I tried [this](https://github.com/kubeflow/kfserving/issues/629#issuecomment-598477652) solution by you, but it again says connection timed out. Do I need to change the kubeflow version? (Currently I am using the configuration kfctl_k8s_istio.v1.0.2)

[2020-06-26 14:30] jlewi commented on #629
Hi Folks,

This issue was closed on January 29. If you are still having trouble I would suggest opening new issues.  It also seems like multiple issues and platforms might be being discussed; I would suggest trying to create one issue for each specific problem.

[2020-06-26 16:43] Tomcli commented on #898
The best way to scale from 0 for a particular inferenceservice is to set the minReplica field. We don't have a specific example for this but you can refer to the logger example for reference https://github.com/kubeflow/kfserving/blob/master/docs/samples/logger/basic/sklearn-logging.yaml#L8

[2020-06-27 00:09] yuzisun commented on #892
@decewei  KFServing is not best for this purpose, I would suggest taking a look at Kubeflow pipeline which can run video/audio segmentation as a job on the pipeline and then send the input to KFServing inference service for the prediction.

[2020-06-28 09:31] #871 closed

[2020-06-28 14:49] yuzisun opened #902 "[MMS] Design TrainedModel CRD as v1alpha1 API"

[2020-06-28 14:53] yuzisun opened #903 "Finalize KFServing v1beta1 core API"
Based off proposal https://docs.google.com/document/d/1rV8kI_40oiv8jMhY_LwkkyKLdOwSI1Qda-Dc6Dgjz1g/edit#heading=h.x9snb54sjlu9

[2020-06-28 14:56] yuzisun opened #904 "Add support for multi CRD versions and conversion webhook between v1alpha2 and v1beta1"
- Generate CRDs for both v1alpha2 and v1beta1
- Use v1beta1 as hub version and setup conversion webook to convert from/to v1alpha2.

[2020-06-28 15:00] yuzisun opened #905 "[MMS] Update InferenceService controller and predictor reconciler to create/delete model config"
Change InferenceService controller to create a model configMap per shard (assume there is only one shard for now) if the storageURI is not provided

[2020-06-28 15:00] yuzisun opened #906 "Create a Model CRD controller for the TrainedModel CRD"
- Reconcile the Model CRD
- Assign the model to the right parent  InferenceService by reading the multiModelService field
- No need to do auto sharding for now
- Add a model entry to its parent InferenceService’s model configMap

[2020-06-28 20:16] #405 closed

[2020-06-28 23:34] yuzisun commented on #539
/close

[2020-06-28 23:34] #539 closed

[2020-06-28 23:37] yuzisun commented on #183
/close

[2020-06-28 23:37] #183 closed

[2020-06-29 22:57] Sliceco commented on #898
Thank you - setting the minReplica field to 0 did scale to zero as expected

[2020-06-29 23:34] jlewi commented on #648
@animeshsingh @adrian555 @yuzisun Any update?

[2020-06-30 11:19] Hmr-ramzi opened #909 "KFServing a model from a pickled file"
/kind feature

**Describe the solution you'd like**
Supports more providers like minio, alluxio or even extend the http option.

**Anything else you would like to add:**

[2020-06-30 11:25] Hmr-ramzi opened #910 "Adding user profiles from UI"
/kind feature

**Describe the solution you'd like**
Adding user profiles from the UI (maybe for the admin users only!)

**Anything else you would like to add:**
Also, be able to upload secrets to be attached to the default-editor service account in order to pull images from private registries

[2020-06-30 11:44] siva2k16 opened #911 "KFserving Porting Tensorflow Object Detection models"
Hi  Team,

Do we have any recommendations for porting Tensorflow Object Detection models in KFServing

https://github.com/kubeflow/examples/tree/master/object_detection

There are custom libraries used.
https://github.com/kubeflow/examples/tree/master/object_detection/serving_script

Has anyone tried porting it, Any pointers appreciated

[2020-07-01 02:35] Manvi07 opened #912 "Unable to use KFServing on Kubeflow"
/kind bug

**What steps did you take and what happened:**
I was trying to use KFServing for Model Prediction as described [here](https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow#run-a-prediction).
[code]
I realize that `CLUSTER_IP` & `SERVICE_HOSTNAME` are blank. On checking the JSON file, it can be figured out that the jsonpath specified for `CLUSTER_IP` has been modified

[2020-07-01 09:50] songm28 opened #913 "503 Service Unavailable" when running custom sample in kubeflow kfserving"
/kind bug

**What steps did you take and what happened:**
I created the inferenceservice in the kubeflow with the [sample ](https://github.com/kubeflow/kfserving/tree/master/docs/samples/custom/hello-world), inferenceservice is READY, but the predict api did not return the expect response message 'Hello Python KFServing Sample!'

**What did you expect to happen:**
Get the response message with cod

[2020-07-01 10:16] yuzisun commented on #912
@Manvi07 Can you follow the [debug guide](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md) to see if that can help you figure out the problem ?

[2020-07-01 10:41] yuzisun commented on #913
@songm28 Can you help check the istio ingress gateway or knative activator pod logs to see if there are informative errors there?

[2020-07-01 11:02] Manvi07 commented on #912
Hi @yuzisun
Thanks for sharing the debug guide. I get the [`RevisionMissing` error](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md#revisionmissing-error).
But on running the command `kubectl get pod -l model=sklearn-iris`, it says no resource found, whereas the pod exists and is running, as I can see here:
[code]

How is that the label `model=sklearn-iris` is missi

[2020-07-01 11:10] songm28 commented on #913
@yuzisun Here are the logs:

knative activator log got no error:
[code]

istio-ingressgateway logs got no error:
[code]
knative controller get some error:
[code]

knative network get some error:
[code]

kubeflow/kfserving-controller logs got some error:
[code]

[2020-07-01 11:13] yuzisun commented on #912
@Manvi07 I think you might be on older version of KFServing which does not have this label, but your pod looks good though.
can you paste the output of `kubectl get revision $(kubectl get configuration sklearn-iris-predictor-default --output jsonpath="{.status.latestCreatedRevisionName}") -oyaml ?
`

[2020-07-01 11:16] Manvi07 commented on #912
@yuzisun here it is:
[code]

[2020-07-01 11:26] yuzisun commented on #911
@siva2k16 would you be interested in contributing porting the example using KFServing? Looks like we follow the [tensorflow example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow).

[2020-07-01 11:37] yuzisun commented on #912
@Manvi07 seems like hitting this issue https://github.com/knative/serving/issues/6265. Can you try redeploying the inference service?

[2020-07-01 11:51] yuzisun commented on #913
hmm those errors all look benign, did you see any request [access logging](https://istio.io/latest/docs/tasks/observability/logs/access-log/) in the istio ingress gateway pod log?

[2020-07-01 11:56] Manvi07 commented on #912
@yuzisun I deleted the existing inference service and deployed it again, but it still says revision missing:
[code]

[2020-07-01 12:10] yuzisun commented on #912
@Manvi07 can you share the output of `kubectl get knative-internal` according to the instruction of above knative issue?

[2020-07-01 12:18] Manvi07 commented on #912
@yuzisun I am new to Knative, and many terms discussed in the above issue are not known to me.
Here's the output, as asked:
[code]

[2020-07-01 13:12] markusthoemmes commented on #912
The latest output looks like the PodAutoscalers are never picked up.

Can you make sure that Knative's control plane is running correctly? The output of `kubectl get pods -n knative-serving` should do the trick there.

Also the full YAML output of the podautoscaler resources would be handy. `kubectl get podautoscaler.autoscaling.internal.knative.dev -oyaml` should give us what we need.

[2020-07-01 13:20] Manvi07 commented on #912
Hi @markusthoemmes
Yeah, I see the control plane running correctly
[code]
Here's the output of podautoscaler:
[code]

[2020-07-01 13:22] markusthoemmes commented on #912
The control-plane is definitely lacking an `autoscaler`. You only have `autoscaler-hpa` which is only an extension. The `autoscaler` will be responsible to pick these resources up.

[2020-07-01 13:22] yuzisun commented on #912
@Manvi07 Can you help get the output of  `kubectl get deployment autoscaler -n knative-serving -oyaml` ?

[2020-07-01 13:27] Manvi07 commented on #912
@markusthoemmes, I think it has timed out, as the below message states.
@yuzisun Here it is:
[code]

[2020-07-01 13:29] markusthoemmes commented on #912
Ah there you go. I'm assuming you're running with injected istio sidecars? The security settings of your cluster are not allowing the istio sidecars to be created for you. The activator is also not there for the same reason.

[2020-07-01 13:34] Manvi07 commented on #912
@markusthoemmes I am not aware of istio-sidecars injection. Is there a way I can set the activator?

[2020-07-01 13:45] Manvi07 commented on #912
Actually I am using an external cluster, that is a part of an enterprise.

[2020-07-01 13:46] yuzisun commented on #912
@Manvi07 if you remove the annotation `"sidecar.istio.io/inject":"true"` on both autoscaler and activator deployment, the pod should then come up.

[2020-07-01 14:04] Manvi07 commented on #912
@yuzisun I modified the autoscaler and activator deployments, and redeployed the inference service, but `ksvc` output still shows revision missing.

[2020-07-01 14:15] yuzisun commented on #912
@Manvi07 did you see the autoscaler and activator pod coming up now in knative-serving namespace?

[2020-07-01 14:20] Manvi07 commented on #912
No @yuzisun, still not coming up :(

[2020-07-01 14:22] yuzisun commented on #912
Can you confirm if the annotation is removed from knative activator and autoscaler deployment?

[2020-07-01 14:27] Manvi07 commented on #912
@yuzisun
[code]

[2020-07-01 14:29] Manvi07 commented on #912
[code]

[2020-07-01 14:30] yuzisun commented on #912
@Manvi07 Can you delete the deployment and try deploying again?

[2020-07-01 14:32] Manvi07 commented on #912
@yuzisun You mean deleting the autoscaler & activator deployments?

[2020-07-01 14:33] yuzisun commented on #912
yes

[2020-07-01 15:59] Manvi07 commented on #912
@yuzisun from where should I redeploy these?

[2020-07-01 16:13] Manvi07 commented on #912
@yuzisun, didn't work. The pods not showing up still. :(
Here are the logs.
[code]

[2020-07-01 17:30] yuzisun commented on #912
@Manvi07 so `activator.yaml` does not have the istio injector annotation now? you might want to check the deployment status for activator and autoscaler to see if still the same error as before.

[2020-07-01 17:36] yuzisun commented on #912
@Manvi07 you can also try explicitly turning off the sidecar like in [this PR](https://github.com/kubeflow/manifests/pull/1340/files).

[2020-07-01 17:42] Manvi07 commented on #912
Yes @yubozhao, it does not.

[2020-07-01 18:12] yuzisun commented on #912
@Manvi07 Try the above to set the annotation to false explicitly instead of removing it.

[2020-07-01 18:13] Manvi07 commented on #912
@yuzisun I turned off the sidecar explicitly as mentioned in your PR, and that resulted in successfully starting the autoscaler however, activator has some issues:
[code]

[2020-07-01 18:57] yuzisun commented on #912
@Manvi07 still crashing? try delete and redeploy activator? you are close !

[2020-07-02 00:12] animeshsingh commented on #648
@jlewi tested on IBM Cloud - with an incoming manifests PR on Istio/DEX as well (will be cherry picked to 1.1 release branch once merged very soon)

@Jeffwan can you sign off from AWS perspective?
@yuzisun we may need to update the docs on Kubeflow/website as well - if you have bandwidth, please tackle it, else I can take a stab

[2020-07-02 00:17] yuzisun commented on #648
@animeshsingh the website doc is already done [here](https://github.com/kubeflow/website/pull/1998) right? is there anything else I need to do ?

btw there is [an issue](https://github.com/kubeflow/manifests/issues/1339) which we want to disable the istio sidecar for knative serving deployments, I'd like to cherry pick onto the 1.1 release branch.

[2020-07-02 00:40] animeshsingh commented on #648
thanks @yuzisun
so not reflecting here https://www.kubeflow.org/docs/components/serving/kfserving/
should i be hitting the website at a different URL @jlewi for 1.1 ?

[2020-07-02 02:01] yuzisun commented on #909
@Hmr-ramzi we do support Minio,  alluxio one is interesting, do you have any pointers we can read upon ?

[2020-07-02 02:02] yuzisun commented on #910
@Hmr-ramzi Can you elaborate what is this for?

[2020-07-02 04:55] Manvi07 commented on #912
Thanks a lot @yuzisun. The pods are up & running now. However, on redeploying the inferenceService I get `IngressNotConfigured` and the output of `kubectl logs -l app=networking-istio -n knative-serving` is:
[code]

[2020-07-02 05:02] decewei commented on #868
The problem was I ran a subprocess inside the program. When that gets terminated, no error msg comes back. Normal AI usage should be fine. I'm able to catch the OOM.

[2020-07-02 05:02] #868 closed

[2020-07-02 05:19] decewei commented on #867
I found the problem. I have a `istio-injection=enabled` label on my namespace, changing that to `istio-injection=disabled` works now.

[2020-07-02 05:19] #867 closed

[2020-07-02 08:21] Hmr-ramzi commented on #909
Hi, Thank you for your reply. I was referring to this https://docs.alluxio.io/os/restdoc/1.8/proxy/index.html

[2020-07-02 08:24] Hmr-ramzi commented on #910
Hi @yuzisun Thank you for your reply. I think i should have submitted this feature request in another repo as it is not related much to the kfserving component. But the problem i am facing is the following. Each time i want to create a new profile, i have to apply post usage steps (After the user login for the first time and decide the namespace name) then i have to add image pull secrets to the n

[2020-07-02 11:35] siva2k16 commented on #911
I am getting started on this. I would need sometime to figure out details.

[2020-07-02 12:27] yuzisun commented on #912
@Manvi07 Looks like it is not able to create the istio virtual service due to some networking issue on your cluster.

[2020-07-02 12:30] yuzisun commented on #911
Great! Feel free to reach out on kfserving slack or here if you need any help.

[2020-07-02 12:31] tiru1930 commented on #912
@yuzisun I am also having similar issue,

I have installed kubeflow with minikube and then installed kfserving from repo, run same example

[code]

[2020-07-02 12:32] yuzisun commented on #910
Got it, I think kubeflow or kubeflow/manifests repo might be the better place to raise this.

[2020-07-02 22:34] yuzisun commented on #912
@tiru1930 looks like your minkube does not have enough resources as you can see knative controller and networking-istio pods are in pending state

[2020-07-02 23:16] yuzisun opened #915 "KFServing 0.4 Release task list"
/kind feature

Last release before v1beta1 API

- Cut 0.4 release branch
- Publish SDK 0.4
- Performance benchmark docs
- Docs update for 0.4
- Publish batcher image
- Minimal kubernetes 1.15 requirement doc

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-07-03 04:00] Manvi07 commented on #912
@yuzisun any suggestions on how should I go about the problem?

[2020-07-03 05:01] tiru1930 commented on #912
@yuzisun  now i have increased cpu count

[code]

Where does these pods created ?

when i do kubectl get pods
No resources found.

[2020-07-03 11:14] yuzisun commented on #912
@Manvi07 this smells like firewall issue on your cluster, in this case knative is calling istio webhook `istio-galley` in `istio-system` namespace to create the virtual service but timed out. It is best to check your firewall setup.

[2020-07-03 15:57] yuzisun opened #916 "Remove the framework version list from KFServing configmap"
/kind feature

**Describe the solution you'd like**
Currently the framework version list in the configmap lacks of maintenance and we'd prefer removing the list and let user specify the `runtimeVersion` field on the inference service spec. If user specifies the wrong version, knative image resolver would fail and propagate the error back.

**Anything else you would like to add:**
[Miscellaneous in

[2020-07-03 16:12] yuzisun commented on #848
@yanniszark  @krishnadurai Any thoughts on this?

[2020-07-04 03:02] #733 closed

[2020-07-05 11:47] rtrobin opened #919 "Can anyone share an example of nginx sidecar implementation?"
I have a pre-build image which implements a custom REST API for prediction, _/custom-prediction_ for example. I want to put this image into Kfserving without changing code or image at all. I think I could put an nginx image which forward _/v1/models/custom-sample:predict_ to _/custom-prediction_ to make it work.

Can anyone share an example yaml file for my case? Thanks in advance.

[2020-07-05 11:53] rtrobin opened #920 "What if a pre-build custom image have more than one prediction APIs?"
I have a pre-build image which have more than one prediction APIs, _/prediction1_ and _/prediction2_ for example. I want to put this image into Kfserving which bind two prediction APIs with my custom APIs.

Can anyone share an example for my case? Thanks in advance.

[2020-07-05 14:13] yuzisun commented on #920
/cc @Iamlovingit

[2020-07-05 14:18] Iamlovingit commented on #920
@rtrobin Hi, we just added this new feature. You can look at this [sample](https://github.com/kubeflow/kfserving/blob/master/docs/samples/custom/customized-urls/Readme.md).

[2020-07-06 03:02] rtrobin commented on #920
Hi @Iamlovingit . Perfect! It is just what I expected. I will try it soon and give you feedback.

Btw, I raised another [question](https://github.com/kubeflow/kfserving/issues/919) about custom url. I think the sample you mentioned in this post, should fix my problem too. Right?

[2020-07-06 03:26] Iamlovingit commented on #920
@rtrobin yes, we relax the standard of url format, you can use your customized urls now.

[2020-07-06 04:17] rtrobin commented on #920
@Iamlovingit I have tried your sample, but met some issues.

By running `kubectl get inferenceservice customized-sample`, it shows below. Which is not like the `http://customized-urls-sample.default.10.166.15.200.xip.io` in sample doc. Is the sample running on specific version?

| NAME | URL | READY | DEFAULT | TRAFFIC | CANARY | TERAFFIC | AGE |
|  ----  | ----  |  ----  | ----  |  ----  | ----

[2020-07-06 05:44] Iamlovingit commented on #920
It looks like you have not use the right version. You should update your code to latest, and build the KFServing, you can look at thsi [section](https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#deploy-kfserving-with-your-own-version).

[2020-07-06 06:13] kmr0877 opened #922 "The InferenceService "sklearn-iris" is invalid: metadata.managedFields.fieldsType: Invalid value: "": must be `FieldsV1`"
/kind bug

**What steps did you take and what happened:**
I am trying to test KFServing Installation, setting up for the first time from [Test KFServing Installation](https://github.com/kubeflow/kfserving#test-kfserving-installation) .
Not really sure if its a bug?

Commands shown below
[code]

Error message:
[code]

**What did you expect to happen:**
[code]

**Anything else you would like to add:

[2020-07-06 06:31] rtrobin commented on #920
@Iamlovingit Hi, do you know which version could support this sample case? We are using the [release version 0.3.0](https://github.com/kubeflow/kfserving/releases/tag/v0.3.0) right now. Do you know when to release next version? Or maybe which commit is about this feature? We could merge the commit in our build. Thanks.

[2020-07-06 06:37] Iamlovingit commented on #920
The latest master branch is supoort this feature, you can pull the latest commit. Next week KFServing will cut the 0.4 release version. This feature will be included.

[2020-07-06 09:27] yuzisun commented on #922
@kmr0877 you are on kubernetes 1.18 and looks like this is the same issue as https://github.com/GoogleCloudPlatform/flink-on-k8s-operator/issues/210, if you downgrade to 1.17 that should work. We will need to upgrade k8s client dependency for KFServing controller.

[2020-07-06 12:06] #916 closed

[2020-07-06 13:35] nyejon opened #923 "azure-storage-blob package update to 12.x"
/kind feature

**Update to the current azure blob service to 12.x**
Update the current package from the legacy 2.1 version to the current 12.x series.

Hi, what would need to be done to do the upgrade? Is it only the files in the python kfserving package?

[2020-07-06 13:38] yuzisun commented on #923
/cc @rakelkar

[2020-07-06 13:44] #844 closed

[2020-07-06 23:08] kmr0877 commented on #922
@yuzisun Seems like on downgrade to 1.17 works fine for me. Thanks for your response.
Worth upgrading k8s client, probably better to keep the issue open until its upgraded else we might end up seeing duplication as you mentioned above.
Feel free to close the issue if you have a different opinion.

[2020-07-07 00:45] yuzisun commented on #912
@Manvi07 let me know if I close this?

[2020-07-07 02:25] rtrobin opened #924 "Custom GPU inference image cannot auto scale across multi GPUs."
/kind bug

**What steps did you take and what happened:**
I have a custom image which offers a prediction API. When I try [auto-scaling sample](https://github.com/kubeflow/kfserving/tree/master/docs/samples/autoscaling), all pods are attempting to allocate on the same GPU. Also most pods fail to launch and trigger restart.

**What did you expect to happen:**
Custom inference pods can auto scale ac

[2020-07-07 11:36] yuzisun commented on #924
@rtrobin Can you help elaborate how all pods can possibly allocate on the same GPU ? Can you paste the custom inference service yaml and what errors you saw?

[2020-07-07 13:51] rtrobin commented on #924
@yuzisun Hi, I don't know the exact code implementation. The docker is shipped by other team, which provides a web service. The DL model is compiled from Tensorflow into dynamic library, called by main program.

There are two errors in this case. First, not all pods are allocating on gpu worker nodes. Some pods applies on cpu worker node or even cpu master node. These pods fail to launch because n

[2020-07-07 14:05] jlewi commented on #648
@animeshsingh  try https://master.kubeflow.org/docs/components/serving/kfserving/

[2020-07-07 18:15] salanki commented on #924
Your `resources` is on the wrong indentation level. They should be under `container`. I am surprised KFServing allowed this tbh. That is why it's not getting scheduled in the right places and can see all GPUs.

[2020-07-08 00:48] yuzisun commented on #924
@salanki @rtrobin in that case those fields are treated as unknown fields, what we really need here is [pruning unknown fields](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#preserving-unknown-fields) which is only available in kubernetes 1.15+.

[2020-07-08 01:02] yuzisun commented on #923
@nyejon I think all we need to upgrade is here https://github.com/kubeflow/kfserving/blob/87b45e037ca279a7791e0b2a7da6d38898385a2b/python/kfserving/requirements.txt#L14, would you like to give a try and test out ?

[2020-07-08 01:10] yuzisun commented on #919
@rtrobin Currently we only support Istio as ingress, we are working towards v1beta1 which is going to make istio optional.

[2020-07-08 02:49] rtrobin commented on #924
@salanki Thanks! Stupid typo...

Btw, do we have a full docs of what character field can be used and how to set them? Now only samples are provided. I have to go through samples to find if any one could fit my need. For example, I want to define an inference service with limited gpu memory. I can't tell this feature is possible or not according to samples. @yuzisun

[2020-07-08 02:51] rtrobin commented on #920
Thanks. I would wait to check it in next release.

[2020-07-08 02:55] salanki commented on #924
You mean select a specific GPU type? That you have to do with:
[code]

You need to have your nodes tagged with the `gke-accelerator` label. You are welcome to hit us up on #kfserving on the Kubeflow slack as well as here for some more interactive discussions.

For GPU inference, I have some additional examples that might be helpful in my own repo: https://github.com/coreweave/kubernetes-cloud/tree

[2020-07-08 04:07] salanki commented on #924
@yuzisun: The UX of being able to set fields that take no effect is pretty bad :/

[2020-07-08 04:09] rtrobin commented on #924
I just find, GPU device is occupied exclusively by individual node. However, with my former wrong configuration, the device can be shared by nodes, which could lead to a better performance in some scenario. Also cluster could deploy more models than current strategy. I was wondering to restrict GPU memory in yaml file, so that nodes could select device which have enough memory left in "share mode"

[2020-07-08 04:14] salanki commented on #924
NVIDIA explicitly doesn’t not support sharing the same GPU over multiple containers in the NVIDIA device plugin. https://github.com/NVIDIA/k8s-device-plugin/issues/134#issuecomment-562995853

[2020-07-08 06:32] Manvi07 commented on #912
Yeah @yuzisun. Doesn't look like a Kubeflow issue now. Thanks for your help. :)

[2020-07-08 07:14] yuzisun commented on #924
That's unfortunately pretty common issue for kubernetes crd, once kubeflow bumps the kubernetes min requirement we should be able to use v1 crd to prune known fields.
https://github.com/kubernetes-sigs/kubebuilder/issues/1174
https://github.com/GoogleCloudPlatform/flink-on-k8s-operator/issues/85

[2020-07-08 07:32] yuzisun commented on #924
@rtrobin The full api doc is here https://github.com/kubeflow/kfserving/blob/master/docs/apis/README.md, for custom it is the [kubernetes container spec](https://v1-14.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#container-v1-core)

[2020-07-08 10:16] rtrobin commented on #924
For my case, in inference stage, most models won't use more than half of the GPU memory. It would be very useful to deploy multiple models in one device. I find few GPU sharing device plugins, such as [gpushare-device-plugin](https://github.com/AliyunContainerService/gpushare-device-plugin) and [shared-gpu-nvidia-k8s-device-plugin](https://github.com/Deepomatic/shared-gpu-nvidia-k8s-device-plugin)

[2020-07-08 10:17] rtrobin commented on #924
Thanks!

[2020-07-08 10:22] quanguachong opened #927 "alibi's version is incompatible in gcr.io/kfserving/alibi-explainer:v0.3.0"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I deploy kfserving v0.3.0 in my k8s cluster and run test [explanation/alibi/imagenet](https://github.com/kubeflow/kfserving/tree/v0.3.0/docs/samples/explanation/alibi/imagenet). After execute [test_imagenet.py](https://github.com/kubeflow/kfserving/blob/v0.3.0/docs/samples/explanation/a

[2020-07-08 11:59] yuzisun commented on #912
/close

[2020-07-08 11:59] #912 closed

[2020-07-08 12:04] yuzisun commented on #927
@quanguachong how did you install 0.3? Looks it is using the wrong image, should be using https://github.com/kubeflow/kfserving/blob/master/install/v0.3.0/kfserving.yaml#L6874

[2020-07-08 12:43] #836 closed

[2020-07-08 13:33] yuzisun commented on #924
@rtrobin instead of using low level device plugin, KFServing is working on a solution for cohosting multiple models onto the same container, you can checkout detailed proposal linked on [this issue](https://github.com/kubeflow/kfserving/issues/773).

[2020-07-09 02:28] quanguachong commented on #927
@yuzisun You're right, thank you. I install 0.3 with master's [./install/v0.3.0](https://github.com/kubeflow/kfserving/tree/master/install/v0.3.0) . As the version name is v0.3.0, I thought they are the same.

[2020-07-09 02:29] #927 closed

[2020-07-09 02:40] quanguachong commented on #927
@yuzisun Thank you, you're right. I install kfserinvg with branch v0.3.0: https://github.com/kubeflow/kfserving/blob/v0.3.0/install/v0.3.0/kfserving.yaml#L6923 whose explainer image is not compatible with alibi-explainer-sample in branch v0.3.0: https://github.com/kubeflow/kfserving/tree/v0.3.0/python/alibiexplainer.

[2020-07-09 03:48] rtrobin commented on #924
I briefly worked through the discussion in the issue. It is a good idea to host multiple models in the same container, especially for the sklearn and xgboost framework. As someone mentioned in the post, triton has a similar feature to host multiple models. Also triton uses multi cuda stream to benefit the gpu usage. For TF, TensorRT or Onnx framework, maybe triton is already a good option.

Beside

[2020-07-09 12:57] tiru1930 opened #928 "Not able run sklearn-iris example after installing the kubeflow 1.0.2"
/kind bug

Installed Kubeflow with minkube steps

[code]

[code]

**Environment:**
on AWS-ec2
[code]

[2020-07-09 13:10] yuzisun commented on #798
This is fixed in upcoming kubeflow 1.1, however you can still configure to use kubeflow gateway to fix the issue if you are using 1.0.2. There are two places which need to configure:
1) Configure knative [config-istio](https://github.com/kubeflow/manifests/blob/master/knative/knative-serving-install/base/config-map.yaml#L661) to use the `kubeflow gateway`
2) Configure kfserving [inferenceservice-c

[2020-07-09 13:16] yuzisun commented on #928
@tiru1930 which kubeflow version you are running?

[2020-07-09 13:24] tiru1930 commented on #928
@yuzisun  installed with this file kfctl_k8s_istio.v1.0.2.yaml

[2020-07-09 13:31] yuzisun commented on #928
I see, check the last comment on this issue https://github.com/kubeflow/kfserving/issues/798.

[2020-07-09 13:44] tiru1930 commented on #928
@yuzisun  thank you, How can Configure with existing pods ?

[2020-07-09 13:48] tiru1930 commented on #928
@yuzisun  below is knative-serving namespace yaml

[code]

[2020-07-09 14:05] yuzisun commented on #928
@tiru1930

1) kubectl edit cm config-istio -n knative-serving
and update the value with this line
https://github.com/kubeflow/manifests/blob/master/knative/knative-serving-install/base/config-map.yaml#L661

2) kubectl edit cm inferenceservice-config -n kubeflow
and update the value with following lines
https://github.com/kubeflow/manifests/blob/master/kfserving/kfserving-install/base/config-map.ya

[2020-07-09 14:15] tiru1930 commented on #928
@yuzisun

1.kubectl edit cm config-istio -n knative-serving

Does not have those many lines, I have added

[code]

[2020-07-09 14:31] yuzisun commented on #928
@tiru1930 sorry I did not make it very clear, you actually need to remove line 7 for `config-istio`
also following lines in `inferenceservice-config`.
`"ingressGateway" : "knative-ingress-gateway.knative-serving"`
`"ingressService" : "kfserving-ingressgateway.istio-system.svc.cluster.local"`
On the other note, the pods automatically scale down to zero if there are no traffic, if you send a request

[2020-07-09 14:36] tiru1930 commented on #928
@yuzisun

Here is the after remove

[code]
Still

[code]

Do I need to redeploy ?

[2020-07-09 14:41] yuzisun commented on #928
@tiru1930 you might need to redeploy,  Did you remove line 7 from `config-istio` also?

[2020-07-09 14:46] tiru1930 commented on #928
@yuzisun  Yes I did

[code]

[2020-07-09 15:12] yuzisun commented on #928
@tiru1930 Awesome! kubeflow 1.1 will be out soon, we also upgraded to kfserving 0.3 there.

[2020-07-09 15:20] #928 closed

[2020-07-10 01:45] sml0820 commented on #839
@yuzisun Same issue, with default kubeflow installation on Google Cloud.  This solution did not work for me.

[2020-07-10 02:05] yuzisun commented on #839
@sml0820 check my instruction in last comment here https://github.com/kubeflow/kfserving/issues/798, it is going to be fixed in kubeflow 1.1

[2020-07-10 08:08] tiru1930 opened #929 "not able start kfserving with s3"
/kind bug

Running kfserving with kubeflow installed on minkube for s3 tensorflow storage model  but awaiting at PodInitializing
[code]
[code]
[code]

Deployment file :

[code]

**Environment:**

- Kubeflow version: v1.0.2
- Minikube version: v1.8.0
- Kubernetes version: v1.17.3
- OS (e.g. from `/etc/os-release`):

[2020-07-10 09:37] yuzisun commented on #929
@tiru1930 Can you get the full pod yaml output and see if the S3 environment variables are injected? You can also checkout KFServing [debugging guide](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md#storage-initializer-fails-to-download-model) to see why it is failing.

[2020-07-10 09:45] tiru1930 commented on #929
@yuzisun

[code]

[2020-07-10 10:10] yuzisun commented on #929
@tiru1930 I think there is an extra dot in the s3 endpoint. Also if you check the pod log right away after deploying you should be able to catch the log.
[code]

[2020-07-10 10:15] yuzisun commented on #924
@rtrobin you can checkout https://github.com/volcano-sh/volcano/blob/master/docs/user-guide/how_to_use_gpu_sharing.md, @k82cn is the expert on this.

[2020-07-10 10:18] tiru1930 commented on #929
@yuzisun

I have removed extra dot

[code]

[2020-07-10 10:39] yuzisun commented on #929
@harshavardhana Do you have any idea about the error above?

[2020-07-10 10:41] cliveseldon commented on #924
We are building the successor for the current python kfserver  in https://github.com/SeldonIO/mlserver
It will support the new V2 Dataplane and be a plugin replacement for the current server for  sklearn, xgoost and custom models in kfserving.
Would be happy to discuss how we can ensure this is part of the roadmap.

[2020-07-10 10:46] tiru1930 commented on #929
@yuzisun @harshavardhana

Just an extra info in my env minio is not running

[code]

[2020-07-10 11:20] SachinVarghese commented on #798
Hi, @yuzisun I tried the above configuration as you have mentioned on kubeflow v1.0.2, but now the inference service fails to deploy. I did some debugging and found that the underlying knative route is not ready due to `IngressNotConfigured`. I am posting the status of a kubectl describe on the route below. But I saw that the revisions are ready, any idea what else could be missing?
[code]

[2020-07-10 12:32] yuzisun commented on #929
@tiru1930 we are only using minio as client to access S3 compatible services, so this should not be a problem.

[2020-07-10 12:36] tiru1930 commented on #929
@yuzisun looks like i h

[2020-07-10 14:21] #929 closed

[2020-07-10 14:21] tiru1930 commented on #929
issue with keys

[2020-07-10 15:59] yuzisun commented on #798
@SachinVarghese you want to give a shot with [kubeflow 1.1 RC0](https://github.com/kubeflow/manifests/releases/tag/v1.1-rc.0)?

[2020-07-10 22:03] jlewi opened #930 "E2E KFServing tests for GCP (and other platforms)"
/kind feature

Our test suite for GCP currently doesn't include any coverage for KFServing.

Here's our existing test grid:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-1-1&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B

Do we have a python program or notebook that we could run as an E2E test? This could be something simple e.g. deploy a model and verify we can send pr

[2020-07-10 23:52] yuzisun commented on #930
@jinchihe will you be able to work on this?
 /cc @animeshsingh

[2020-07-12 10:40] Iamlovingit opened #937 "Validation error: custom sample deploy failed"
/kind bug
When deploy the sample of custom model, there is an error occurred
[code]
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The sample of custom can not work directly
**What did you expect to happen:**

Make the sample worked.
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**

[2020-07-12 11:30] #937 closed

[2020-07-13 01:22] kmr0877 opened #939 "Documentation : Minimum Hardware/System requirements"
/kind feature

**Describe the solution you'd like**
- Expecting a documentation on recommendations on hardware/system requirements at a minimum to get KFServing up and running locally, say on minikube single node cluster to get started

**Anything else you would like to add:**
- A sample reference can be [Installation steps](https://istio.io/latest/docs/setup/platform-setup/minikube/#installation-

[2020-07-13 05:30] tiru1930 opened #940 "How can we include post and pre process code inside the kfserving deployment?"
I am able to run one object detection solution using kf-serving, So here are my questions,

My solutions needs input images should be pre-processed and output detection should be post-processed which I can include in my graph,  so

1. Is there any way that I can include my pre/post processing methods I can include inside my deployment so that I can have complete solutions in one deployment.

[2020-07-13 09:03] yuzisun commented on #940
@tiru1930 Have you looked at the [transformer example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/transformer/image_transformer) ?

[2020-07-13 12:30] #564 closed

[2020-07-13 13:17] tiru1930 commented on #940
@yuzisun yes, I have tried but , i am not seeing any , pod is terminating with no time, not able to storage container log, here is my deployment file

[code]

[2020-07-13 15:20] yuzisun commented on #940
@tiru1930 I think the spec is wrong, it should be something like this
[code]

[2020-07-13 16:18] Svendegroote91 opened #942 "{ "error": "Failed to process element: 0 key: image_bytes of \'instances\' list. Error: Invalid argument: JSON object: does not have named input: image_bytes" }$"
/kind bug

I am trying to get a prediction from a model that is accepting base64 encoded string:

(executing from the directory where the input.json is located)
[code]

My input json is attached.
[input.json.zip](https://github.com/kubeflow/kfserving/files/4913686/input.json.zip)

However, when trying to call the model, I get the following error:
[code]

As you can see from my input json, the firs

[2020-07-13 19:09] Svendegroote91 commented on #942
Forgot to rename my input layer to "image_bytes", sorry for this!

[2020-07-13 19:09] #942 closed

[2020-07-13 19:13] Svendegroote91 opened #943 "Make the Tensorflow serving version configurable"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Is it possible to make the Tensorflow Serving runtime version configurable? Now it defaults to 1.14 but a lot of models are in TensorFlow 2.0. Or is this feature already available?

I tried playing with the runtimeVersion variable by putting it to "2.1.0" but got the following error:
`

[2020-07-14 03:03] yuzisun commented on #943
@Svendegroote91 all the versions can be configured in inference service configmap https://github.com/kubeflow/kfserving/blob/master/install/v0.3.0/kfserving.yaml#L6900, you can add tensorflow 2.0 in the allowed version list and on the inference service yaml you can specify runtimeVersion field to use a specific version if you do not like the default one. Also as you can see the upcoming KFServing

[2020-07-14 03:31] Iamlovingit opened #944 "Add "name" field in custom's yaml, To solve the deploy Error"
/kind bug
Deploy the custom sample, got the error
[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
kubectl apply -f hellow_world/custom.yaml
**What did you expect to happen:**
Deploy the service succeed.
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio V

[2020-07-14 05:03] ellistarn opened #946 "Add known production users to the README"
It would be great to have something to point towards. Bloomberg, Gojek, etc
/assign @animeshsingh

[2020-07-14 07:24] Svendegroote91 commented on #943
@yuzisun Awesome, thanks for clarifying. Closing the issue.

[2020-07-14 07:24] #943 closed

[2020-07-14 08:01] Svendegroote91 opened #947 "Enable GPU Memory as resource requirement for InferenceService"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Would it be possible to add the GPU memory as a resource requirement, similarly to the GPU count?
For example:
[code]

Is it technically already possible to try this if you have the
[GPUshare scheduler extender](https://github.com/AliyunContainerService/gpushare-scheduler-extender) ins

[2020-07-14 08:07] mokpolar commented on #872
I have same issue.

[code]

Is there a way to mount a Read Write PVC volume?

[2020-07-14 09:16] yuzisun commented on #947
@Svendegroote91 technically inference service spec already allows  `aliyun.com/gpu-mem: 3` since resources limits is a map. Would you like to try out and let us know if that works out of the box?

[2020-07-14 09:35] Svendegroote91 commented on #947
@yuzisun Ok I can give it a try and let you know.

If the resources limits is a map, I see that from a scheduling perspective it will work.
However, I wonder if the memory constraint will be correctly translated into a command argument `--per_process_gpu_memory_fraction` for Tensorflow serving (see similar PR on https://github.com/kubeflow/arena/pull/211) . If not, I would be happy to help on this

[2020-07-14 09:46] yuzisun commented on #947
@Svendegroote91 looks like we will need that argument, feel free to send a PR for that.

[2020-07-14 16:27] #944 closed

[2020-07-14 23:19] abrarmajeedi commented on #568
Try this : kubectl delete mutatingwebhookconfigurations inferenceservice.serving.kubeflow.org &&  kubectl delete validatingwebhookconfigurations inferenceservice.serving.kubeflow.org && kubectl delete po kfserving-controller-manager-0  -n kfserving-system

[2020-07-14 23:20] abrarmajeedi commented on #235
Try this:
`kubectl delete mutatingwebhookconfigurations inferenceservice.serving.kubeflow.org &&  kubectl delete validatingwebhookconfigurations inferenceservice.serving.kubeflow.org && kubectl delete po kfserving-controller-manager-0  -n kfserving-system`

[2020-07-15 00:04] akirillov opened #948 "Controller fails VirtualService validation wth Istio webhook because of duplicate hosts in the spec"
/kind bug

**What steps did you take and what happened:**
After the introduction of https://github.com/kubeflow/kfserving/pull/717, `VirtualServiceBuilder` adds duplicated hosts to `VistualService` spec and it fails Istio validation. Newly added code truncates `-predictor-default` suffix in [virtualservice.go#L314](https://github.com/kubeflow/kfserving/blob/master/pkg/controller/inferenceservice/r

[2020-07-15 00:24] yuzisun commented on #948
@akirillov I can not replicate this, it should create one external host and the other one with internal host. Do you have some special configuration for knative or istio ?

[2020-07-15 00:42] akirillov commented on #948
thanks for the quick response, @yuzisun!

For Istio I have a default configuration with only mTLS and Ingress Gateway SDS enabled, `global.proxyclusterDomain` is set to the default `cluster.local`. KNative is installed with the default configuration.

My guess would be that `spec.hosts` should look like that:
[code]

Can you please point me at the code where `status.default.predictor` is getting p

[2020-07-15 07:57] jinchihe commented on #930
OK, I will take this asap. Thanks.

[2020-07-15 10:43] Hmr-ramzi commented on #913
I am also experiencing the same issue and i get similar logs in all components.

[2020-07-15 14:23] tiru1930 opened #949 "deployments are not being deleted , these are re-creating after delete"
When I delete the deployment it is re-creating it, ideally it should not.
My deployment is kfserving-yaml file

Environment:

Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
Dashboard v2.0.0-beta8+0.g4275399
General-purpose web UI for Kubernetes clusters
kfctl version: (use kfctl version):
kfctl_k8s_istio.v1.0.2.yaml
Kubernetes platform: minikub

[2020-07-15 14:32] yuzisun commented on #949
@tiru1930 that's expected behavior, you should delete the parent inference service which then deletes the underlying deployment.

[2020-07-15 14:36] tiru1930 commented on #949
@yuzisun  thank you
kubectl delete inferenceservice -n kfserving-test  model name

[2020-07-15 14:36] #949 closed

[2020-07-15 14:53] tiru1930 opened #950 "port forward process being lost after some time"
/kind question

Question:
I am using below command to do port forward as background process

kubectl port-forward --namespace istio-system $(kubectl get pod --namespace istio-system --selector="app=istio-ingressgateway" --output jsonpath='{.items[0].metadata.name}') 8051:80 --address 0.0.0.0

but the process is not running after some time

Handling connection for 8051
Handling connection for 8051

[2020-07-15 22:41] akirillov commented on #948
Did some digging into `ksvc` lifecycle, here's the findings.

Looking at the **KNative Serving** code base first. New `ksvc` creation is handled by the reconciler in [pkg/reconciler/service/service.go](https://github.com/knative/serving/blob/v0.14.0/pkg/reconciler/service/service.go). It creates a `Service` and a route [here](https://github.com/knative/serving/blob/v0.14.0/pkg/reconciler/service/s

[2020-07-15 22:57] akirillov commented on #948
one major difference from the default config I have is the default `svc.cluster.local` domain set for KNative Serving but based on the code it doesn't seem to affect the behavior.
[code]

[2020-07-15 23:21] yuzisun commented on #948
@akirillov I see, that's why it caused the conflicts. KFServing assumes that is the external domain and we again add the rule for internal host name, so there needs to be a check.

[2020-07-15 23:29] akirillov commented on #948
@yuzisun, shall we add a host duplicate check in `virtualservice.go`?

Also, can you please elaborate more on why the solution to the original problem was the changing of the hostname in case of `mnist-predictor-default`? The original issue had to deal with namespace erasure from the full hostname, but the current approach just _changes_ the hostname to `mnist` - even though it works for wildcard

[2020-07-16 09:36] yuzisun commented on #948
@akirillov I think the issue #717 is irrelevant here, we use hostname name `mnist` since day 1 and  #717 is really addressing the a different domain template issue where we do not need to depend on the strong assumption that the domain is always in a format of `servicename.namespace` by deriving the url from the default mandatory predictor component. We use virtual host `mnist` because inferencese

[2020-07-16 13:53] tiru1930 commented on #950
@yuzisun can you help me on this,

[2020-07-16 18:50] akirillov commented on #948
Thanks for the detailed explanation, @yuzisun! So answering your question, we're defaulting all the inference services to be cluster-local and following the [KNative Serving documentation](https://knative.dev/docs/serving/cluster-local-route/):

Please correct me, if this is not how it should be done and if there's another way of achieving it.

[2020-07-17 02:49] jinchihe commented on #930
Hello @jlewi

I took a look the problem, do you think is that enough to check the KFServing Statefulsets is ready, as other Kubeflow component done? as doing in https://github.com/kubeflow/kfctl/pull/377.

Otherwise, seems we can add the KFServing E2E pytest https://github.com/kubeflow/kfserving/blob/master/test/e2e/predictor/test_tensorflow.py
to kfctl (or can use directly)
https://github.com/kub

[2020-07-17 05:35] animeshsingh commented on #930
@jinchihe if you have bandwidth, adding KFServing E2E pytest to kfctl would be great, as the combination of istio and knative introduces a lot of variability in kfserving deployment, and unless we are able to push a model, its always going to remain incomplete.

also if you can syncup with @shawnzhu and @adrian555 to enable an e2e test for ibm cloud, would be great.

[2020-07-17 07:24] larssuanet commented on #898
I found the SDK documentation to be a little bit confusing on the topic of minReplicas:

https://github.com/kubeflow/kfserving/blob/master/python/kfserving/docs/V1alpha2PredictorSpec.md#properties

But setting this to 0 does actually scale it down as expected.

[2020-07-17 09:35] yuzisun commented on #948
@akirillov Got it,  it is the global config for `serving.knative.dev/visibility=cluster-local`, I agree this is a valid bug we should fix then.

[2020-07-17 10:31] yuzisun commented on #950
@tiru1930 port forwarding is only for testing purpose, not sure what's your setup but you could setup the [node port](https://kubernetes.io/docs/concepts/services-networking/service/#nodeport) on the ingress.

[2020-07-17 18:57] bharath0208 opened #951 "No Activitiy related to knative-service on 1.18 of K8's"
Hi Team,

I have deployed the `https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_istio_dex.yaml` on my Kubernetes(v1.18.4). We have tried running some examples like sklearn and hello-world. We dont see any pods running on admin namespace.

Additional Info:

[code]
We see that there is no activity related to knative-service on the cluster. Is there a work-around for this probl

[2020-07-17 22:06] yuzisun commented on #951
@bharath0208 There is [known issue](https://github.com/kubeflow/kfserving/issues/922) that KFServing does not work with k8s 1.18, if you can downgrade to 1.17 that should work.

[2020-07-19 20:29] yuzisun commented on #808
disabled the top level virtual service retries in https://github.com/kubeflow/kfserving/pull/807 and releasing with 0.4.

[2020-07-19 20:30] yuzisun commented on #808
/close

[2020-07-19 20:30] #808 closed

[2020-07-19 20:35] yuzisun commented on #687
KFServing has stopped maintaining the allowed version for each framework as of 0.4 release, user should be able to overwrite the docker image version with `runtimeVersion` field under framework spec, here is an example.

[code]

[2020-07-19 20:35] #687 closed

[2020-07-19 20:46] yuzisun commented on #898
@larssuanet we used to default to scale down to 0 in 0.2, since 0.3 we have changed to `minReplicas` 1. Thanks for pointing out the sdk doc issue, we have already updated the api doc [here](https://github.com/kubeflow/kfserving/tree/master/docs/apis#deploymentspec) and will regenerate the sdk doc.

[2020-07-20 00:32] yuzisun commented on #730
@salanki @pradithya @dalfos Looks like knative has lift the restriction now https://github.com/knative/serving/pull/8645/files.

[2020-07-20 06:45] Svendegroote91 commented on #947
@yuzisun I tested the setup but it doesn't work out of the box. Probably the following steps will need to be implemented:
- aliyun.com/memory resource request requires tf serving gpu image
- aliyun.com/memory resource request requires env var `NVIDIA_VISIBLE_DEVICES` set to `all` - I am still verifying if it can be solved in another way
- aliyun.com/memory resource request requires command line ar

[2020-07-20 10:55] jinchihe commented on #930
@animeshsingh OK, I'm doing that in https://github.com/kubeflow/kfctl/pull/377 Thanks.

[2020-07-20 20:49] maganaluis commented on #568
@animeshsingh @jlewi We encountered this issue when I testing KFP multi-user support, I actually just re-verified this with the latest changes on the manifests repo. The problem first comes when ```control-plane``` is enabled on the kubeflow namespace, this prevents the istio sidecar injection from working on that namespace, so in order to have mutli-user support for KFP we removed the label. I di

[2020-07-21 01:14] MATRIX4284 commented on #660
This article i described how to use custom docker image in kfserving pytorch server:

https://medium.com/@kaustavmukherjee_66179/serve-your-pytorch-models-on-cpu-or-nvidia-gpu-leveraging-kubeflow-kfserving-using-pytorch-server-d24725e779a0

[2020-07-21 12:59] MLnick commented on #708
Hi there

I am using KFServing `0.3.0` and am still running into this problem.

I installed locally using `kind` and the [install script](https://github.com/kubeflow/kfserving#install-kfserving-in-5-minutes-on-your-local-machine).

Following the [instructions](https://github.com/kubeflow/kfserving/tree/master/docs/samples/custom/prebuilt-image#run-a-prediction):

(in both cases below, using port-f

[2020-07-21 13:14] yuzisun commented on #708
@MLnick we are publishing KFServing 0.4 now so the doc is reflecting how it works in 0.4. Yes in 0.3 you have to get the host for `custom-prebuilt-image-predictor-default`.

[2020-07-21 13:28] MLnick commented on #708
Ah I see, thanks @yuzisun

[2020-07-23 04:14] salanki opened #962 "Services cannot be modified to scale-to-zero after being created without it"
/kind bug

**What steps did you take and what happened:**
A `InferenceService` that is first set to have `minReplicas` > 0, and later changed to have `minReplicas` = 0 will never have the KNative Service annotation updated. See https://github.com/kubeflow/kfserving/pull/655#discussion_r459197929.

**What did you expect to happen:**
The annotation should be set to `0` explicitly.

**Environment:**

[2020-07-23 10:35] #962 closed

[2020-07-23 13:36] aka-toxa opened #965 "imagePullSecret for custom inferenceservice-config predictor"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Hi there is this config map [/config/overlays/test/configmap/inferenceservice.yaml](https://github.com/kubeflow/kfserving/blob/6a678c29a7b70e44ab057e204e8d5c53a256aacd/config/overlays/test/configmap/inferenceservice.yaml)

our company using their own custom predictors and we have our

[2020-07-23 17:41] #915 closed

[2020-07-23 18:31] zyxue opened #966 "should the port forwarding be on service or pod in the tutorial on README.md?"
I followed the tutorial on [README.md](https://github.com/kubeflow/kfserving).

At **Step 4 Curl the InferenceService**, port forwarding on the pod doesn't work for me.

[code]

error is like
[code]

[code]

Instead, port forwarding on service works

[code]

Is that expected?

[2020-07-24 01:36] yuzisun commented on #966
@zyxue the command used to work and your way definitely works too, possibly something related to recent change to use the new istio 1.6.2 release for quick install demo. Please feel free to send a PR to fix it, thanks!

[2020-07-24 22:09] yuzisun commented on #790
@Jeffwan Let us know your plan to integrate torchserver, we'd really want this to be in our v1beta1 release for 0.5.

[2020-07-25 01:00] #966 closed

[2020-07-25 03:14] zhou-harry opened #971 "tensorflow.yaml created but inferenceservice not ready"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I install kfserving with kubflow-1.0_kfctl-1.0.2 and run the sample of tensorflow.yaml and get :inferenceservice.serving.kubeflow.org/flowers-sample created but when I check the inferenceservice status I get:
kubectl get inferenceservice -A
NAMESPACE   NAME                 URL   READY

[2020-07-26 15:14] yuzisun commented on #965
@aka-toxa image pull secret is supported on KFServing v1beta1 API as we expose pod spec for predictor,  so you can directly specify on the inference service yaml, stay tuned we are actively working on it towards 0.5 release.

[2020-07-26 22:08] ellistarn commented on #946
/close

[2020-07-26 22:09] #946 closed

[2020-07-26 22:14] ellistarn commented on #903
This has been accepted
/Close

[2020-07-26 22:14] #903 closed

[2020-07-27 01:29] yuzisun opened #973 "Migrate to use multi container instead of using pod mutator"
/kind feature

**Describe the solution you'd like**
[Knative 0.16](https://github.com/knative/serving/releases/tag/v0.16.0) now is supporting multi containers, we should get rid of KFServing pod mutator, but can wait until it is in stable status before KFServing takes this as minimal Knative version dependency.

**Anything else you would like to add:**
[Miscellaneous information that will assist i

[2020-07-27 20:36] yuzisun opened #975 "Could not publish KFServing batcher image for 0.4 release"
/kind bug

**What steps did you take and what happened:**
KFServing 0.4 release adds a new request batching image, however we are not able to create a new cloudbuild trigger to publish the image since @ellistarn no longer has the permission. All the KFServing's automated release processes run in Google Cloud Build under the [project kfserving](https://console.cloud.google.com/cloud-build/builds?pr

[2020-07-27 20:37] yuzisun commented on #975
@jlewi Can you possibly help here?

[2020-07-28 02:12] jlewi commented on #930
There are potentially two sets of tests we might want to run

1. A smoke test that just verifies that the respective K8s components to install KNative and KFServing were installed
1. An E2E test that actually tries to deploy the model and verifies it was deployed successfully
    * I think this is what @animeshsingh was talking about and what I initially filed the issue about.

I think the 2nd of

[2020-07-28 02:14] jlewi commented on #568
Thanks @maganaluis would you mind opening a new issue?

[2020-07-28 11:20] yuzisun opened #976 "Add kustomize overlay for kubeflow"
/kind feature
Currently Standalone KFServing installs in `kfserving-system` namespace while kubeflow installs kfserving in `kubeflow` namespace, the difference between standalone and kubeflow installation for KFServing is really minor with the [gateway configuration](https://github.com/kubeflow/kfserving/blob/master/config/configmap/inferenceservice.yaml#L66) besides the namespace. So we'd like to

[2020-07-28 14:46] animeshsingh commented on #568
thanks @maganaluis - the deatils why the label `control plane` is needed are listed here
https://github.com/kubeflow/kfserving#standalone-kfserving-installation

cc @yuzisun @adrian555 @shawnzhu for awareness - multi-cloud KFP has brought a requirement to enable sidecar injection in kubeflow namespace, looks like resurfacing this old kfserving issue.

[2020-07-28 14:56] aka-toxa commented on #965
is there any bit of documentation or code that i can check to understand what exactly i should do to apply service yaml?

or I understood you incorrect and you say that this will be at the next releases?

[2020-07-28 15:12] yuzisun commented on #965
@aka-toxa yes v1beta1 API will be in next release :)

[2020-07-28 16:42] navneet1075 opened #977 "make deploy fails with The CustomResourceDefinition "inferenceservices.serving.kubeflow.org" is invalid:"
/kind bug

**What steps did you take and what happened:**
1. installed the kf serving using the developer guide from this  location: [developer guide](https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md)
[A clear and concise description of what the bug is.
while running the make deploy step i am getting below errors :
 **The CustomResourceDefinition "inferenceservices.serving

[2020-07-28 23:51] yuzisun commented on #977
@navneet1075 you are likely having an older version of `controller-gen` binary under your $GOPATH/bin, delete that and rerun `make deploy` should solve the problem.

[2020-07-28 23:58] yuzisun commented on #568
@maganaluis We need to use object selector on the mutating webhook configuration so that only kfserving labelled pods go through the KFServing pod mutator, the problem is that object selector is only supported kubernetes 1.15+ while kubeflow's minimal requirement is still kubernetes 1.14. If you are on kubernetes 1.15+ you can use following command to solve the issue.
[code]

[2020-07-29 00:51] navneet1075 commented on #977
@yuzisun thanks a lot . it works fine after the update.

[2020-07-29 07:34] #977 closed

[2020-07-29 13:18] ofaz commented on #971
Hi @zhou-harry - have you had a look through the [debugging guide?](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md)

Is this the first `inferenceservice` being deployed in your installation (i.e. do you have other KFserving models coming up healthy?)

[2020-07-30 03:23] jinchihe commented on #930
@jlewi Thanks. If so, I will update the https://github.com/kubeflow/kfctl/pull/377 to only check the first item (only check install and started successfully) in your comments.  For 2nd, we already have E2E tests (deploy the model and verifies it was deployed successfully) in KFServing repo.

[2020-07-30 05:37] navneet1075 opened #980 "x509: certificate signed by unknown authority while running sample example"
**What steps did you take and what happened:**
i installed kfserving and all the pods are up .
[code]
all the pods are up and running in the knative-serving namespace as well.

[code]
but  while running the examples from the developer guide [developer_guide](https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md) get this error  :

[code]

**What did you expect to happen:**

exa

[2020-07-30 12:44] wardVD opened #982 "README.md for pytorch KFserving not clear"
/kind bug

**What steps did you take and what happened:**
Followed the steps in https://github.com/kubeflow/kfserving/blob/master/docs/samples/pytorch/README.md to create a service for a pytorch model.

It was **_very_** unclear that the line
`python -m pytorchserver --model_dir ./ --model_name pytorchmodel --model_class_name Net`
meant that we had to manually install the pytorchserver module that

[2020-07-30 13:06] yuzisun commented on #980
@navneet1075 looks like you have `KFSERVING_ENABLE_SELF_SIGNED_CA` set to true? if you use cert manager then this is not needed.

[2020-07-30 13:10] yuzisun commented on #982
@wardVD How do you access your kubeflow cluster and which kubeflow setup you are using?

[2020-07-30 14:25] wardVD commented on #982
@yuzisun I was wrongfully trying to set up the service from a jupyter notebook terminal from the Kubeflow UI.

However, when I reproduce the steps from a google cloud shell the command
`kubectl apply -f pytorch.yaml` didn't work until I ran this command
`kubectl label namespace default serving.kubeflow.org/inferenceservice=enabled` (which I found on this [page](https://www.kubeflow.org/docs/compon

[2020-07-30 15:11] navneet1075 commented on #980
@yuzisun my bad . By mistake set it earlier and did not check the value .

[2020-07-30 15:11] #980 closed

[2020-07-31 02:24] edenbuaa opened #984 "[Error] The kfserving image is missing"
It's seems that the docker image `gcr.io/kfserving/batcher:v0.4.0` in v0.4.0 cloud not be found. Is it missing?
![image](https://user-images.githubusercontent.com/16248697/88993282-0da7d480-d318-11ea-988d-c3924918c8e7.png)

[2020-07-31 06:12] Focke-Wulf opened #985 "inferenceservice.kfserving-webhook-server.pod-mutator connection refused"
service cannot set up

`Internal error occurred: failed calling webhook "inferenceservice.kfserving-webhook-server.pod-mutator": Post https://kfserving-webhook-server-service.kubeflow.svc:443/mutate-pods?timeout=30s: dial tcp 10.43.215.131:443: connect: connection refused; Deployment does not have minimum availability.`

however my kfserving-controller-manager is running correctly

**Environment:*

[2020-07-31 07:28] wardVD commented on #982
Oh, and @yuzisun, I'm using vanilla Kubeflow.

[2020-07-31 08:45] yuzisun commented on #984
@edenbuaa yes there is a permission issue for publishing this new image https://github.com/kubeflow/kfserving/issues/975

[2020-07-31 08:45] yuzisun commented on #984
consolidate to https://github.com/kubeflow/kfserving/issues/975

[2020-07-31 08:45] #984 closed

[2020-07-31 08:55] edenbuaa commented on #984
@yuzisun Cloud we push this image to other docker hub (e.g docker.io ) temporarily?

[2020-07-31 10:18] yuzisun commented on #984
@edenbuaa if you just want to try, you can change the config [here](https://github.com/kubeflow/kfserving/blob/master/config/configmap/inferenceservice.yaml#L80) to use the latest tag `gcr.io/kfserving/batcher:latest`

[2020-08-01 01:35] yuzisun commented on #982
@wardVD I think in your case it is not exposed as node port not load balancer, but I agree we should improve the doc to recover different cases.

[2020-08-01 01:39] yuzisun commented on #798
this has been fixed in kubeflow 1.1
/close

[2020-08-01 01:39] #798 closed

[2020-08-01 01:42] yuzisun commented on #985
@Focke-Wulf Can you help provide more information like logs of `kfserving-controller-manager`?

[2020-08-01 01:43] yuzisun commented on #920
/close
this feature is released in 0.4.

[2020-08-01 01:43] #920 closed

[2020-08-01 01:46] yuzisun commented on #849
this should work, please reopen if still an issue for you.

/close

[2020-08-01 01:46] #849 closed

[2020-08-01 01:46] yuzisun commented on #810
/close

[2020-08-01 01:46] #810 closed

[2020-08-01 01:47] yuzisun commented on #765
/close

[2020-08-01 01:47] #765 closed

[2020-08-01 01:47] yuzisun commented on #727
/close

[2020-08-01 01:47] #727 closed

[2020-08-01 01:55] yuzisun commented on #947
@Svendegroote91 sorry for the late reply, KFServing do support gpu image for tfserving and you can specify `runtimeVersion: 1.14-gpu` for example. Our v1beta1 API should actually allow you specify container fields on prepackaged model server like tfserving, it is worth note that currently you can achieve all above with KFServing custom.

[2020-08-01 04:24] jazzsir commented on #976
/assign

[2020-08-03 01:36] edenbuaa commented on #984
@yuzisun  the `latest` tag seems also not found.
![image](https://user-images.githubusercontent.com/16248697/89138025-ba7a8f80-d56c-11ea-8a39-09472286e949.png)

[2020-08-03 06:53] #975 closed

[2020-08-03 18:24] ahakanbaba commented on #737
Hi all. May I bring some more attention to the requirements and timing before becoming stable ?

From enterprise user's point of view, knowing those would help significantly while making decisions about to adopt kfserving or not.
Thanks!

[2020-08-03 18:43] yuzisun commented on #737
@ahakanbaba good timing! Stable API is our current priority, I just send v1beta1 API PR up here https://github.com/kubeflow/kfserving/pull/991.

[2020-08-04 11:41] edenbuaa opened #993 "[Failed] created revision failed"
**Environment:**

- Istio Version: v1.3.6
- Knative Version: v0.15.0
- KFServing Version: v0.4.0
- Kubernetes version: (use `kubectl version`): 1.15.11
- OS (e.g. from `/etc/os-release`):

kfserving v0.4 report `revision failed` error when I try to deploy the sklearn inferenceservice demo
`
Message:  Revision "sklearn-iris-predictor-default-tclgg" failed with message: Unable to fecth image "10.10.

[2020-08-04 13:23] Iamlovingit commented on #993
It looks like the knative [Skipping tag resolution](https://knative.dev/docs/serving/tag-resolution/), you can add your repo address

[2020-08-04 15:55] d123456temp opened #994 "Flowers-sample still broken for KF 1.1 (including potential reason)"
/kind bug

**What steps did you take and what happened:**
Kubeflow in EKS installed using:
https://github.com/kubeflow/manifests/blob/v1.1-branch/kfdef/kfctl_istio_dex.yaml

flowers-sample deployed exactly as described here:
https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow

**What did you expect to happen:**
I would be able to use flowers-sample and kfserving in general

*

[2020-08-04 20:34] Jeffwan commented on #790
@yuzisun Working on prototype, we get some feature requests from some cx as well. I will make sure it's released in 0.5. e

[2020-08-04 20:51] yuzisun commented on #994
@d123456temp the gateway is not an issue, the problem is with your host header is the curl command
you are using the local gateway so the host header should be `flowers-sample.default.svc.cluster.local`

[2020-08-04 20:51] #994 closed

[2020-08-04 21:07] decewei opened #995 "Access to inference service within cluster using cluster-local-gateway"
This is a question for accessing inference service within cluster. The kfaka example is great but we don't need that in between our services to inference service.

Is it correct if I access the service like this? "default" is the namespace. Example in curl call. It'd be great if we have some documentations on this.

[code]

[2020-08-04 22:02] d123456temp commented on #994
@yuzisun I've tried already other combinations of host/gateway pairs, including flowers-sample.default.svc.cluster.local to no avail. Changing to flowers-sample.default.svc.cluster.local did not help:

[code]

Besides, what about istioctl analyze output above?

NOTE that "istioctl analyze" does not report error for the "flowers-sample-predictor-default" vs which uses "kubeflow/kubeflow-gateway" in

[2020-08-04 22:19] yuzisun commented on #995
@decewei you could directly call like this
[code]

[2020-08-04 23:24] decewei commented on #995
Thanks!

[2020-08-04 23:24] #995 closed

[2020-08-05 01:56] edenbuaa commented on #993
It works. thanks @Iamlovingit

[2020-08-05 01:56] #993 closed

[2020-08-05 14:44] tiru1930 opened #997 "tensorflow serving with kf-serving deployment is not ready from s3 where as local tf-serving is running its up"
1.I have deployment file for tensoflow deployment where saved model is in s3  once i deploy this i got below error on container

[code]

where same s3 path if i gave it tensor flow serving sdk as below , it is working

[code]

[code]
**Environment:**
Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard):
Dashboard v2.0.0-beta8+0.g4275399
General-purpos

[2020-08-05 23:12] yuzisun commented on #997
@tiru1930 what’s the tfserving version you are running locally?

[2020-08-06 03:15] tiru1930 commented on #997
@yuzisun

[code]

[2020-08-06 05:17] navneet1075 opened #999 "kfserving setup does not work with s3 example"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

while running the aws-s3 example from the samples , StorageInitializer init container fails to initialize.

I cant even see the injection of env variables happening from the secret .

The error is :
Traceback (most recent call last):
  File "/storage-initializer/scripts/initializer-entr

[2020-08-06 06:44] yuzisun commented on #994
@d123456temp your command should really be
`curl -v -H "Host:flowers-sample.default.svc.cluster.local" http://cluster-local-gateway.istio-system.svc.cluster.local` as we are not doing path based routing. Also this is unnecessary you could directly do `curl flowers-sample.default.svc.cluster.local`

[2020-08-06 11:45] yuzisun commented on #994
@d123456temp if you do `curl -v flowers-sample.default.svc.cluster.local/v1/models/flowers-sample` that should work, actually in theory your way should work too but looks like it does not work the same way as ingress gateway.

[2020-08-06 13:59] tiru1930 commented on #997
@yuzisun How can I know which version of tensorflow_model_server used in  kfserving ?

[2020-08-06 14:11] yuzisun commented on #997
@tiru1930 the default tensorflow version we use is 1.14 which is configured [here]( https://github.com/kubeflow/kfserving/blob/master/config/configmap/inferenceservice.yaml#L11), you can either change the config or you can specify the `runtimeVersion` on inference service yaml , please check the api docs https://github.com/kubeflow/kfserving/tree/master/docs/apis#tensorflowspec.

[2020-08-06 14:26] tiru1930 commented on #997
@yuzisun

its not allowing me set higher versions
[code]

[2020-08-06 14:28] yuzisun commented on #997
@tiru1930 in the inference service config you can change both the default and allowed versions, we already removed allowed version in 0.4 release.

[2020-08-06 19:07] d123456temp commented on #994
@yuzisun thank you for your answer. Unfortunately none of your suggestions work and I actually tested all of them before posting. What works for me is querying the flowers-sample-predictor virtualservice directly. This is true for other example, sklearn, too. From my point of view it looks like the main inference services like flowers-sample vs has issues with the default KF installation. The only

[2020-08-07 00:23] maganaluis commented on #568
@yuzisun Thank you that fixes the issue

[2020-08-07 00:48] yuzisun commented on #994
@d123456temp sorry I missed your istioctl analyze output, this error looks like the root cause
`Error [IST0101] (VirtualService flowers-sample.default) Referenced host not found: "cluster-local-gateway.istio-system.svc.cluster.local"
`

[2020-08-07 04:25] #402 closed

[2020-08-07 04:27] #82 closed

[2020-08-07 04:29] #419 closed

[2020-08-07 04:30] #505 closed

[2020-08-07 04:47] #403 closed

[2020-08-07 04:47] #184 closed

[2020-08-07 04:48] #384 closed

[2020-08-07 04:48] #494 closed

[2020-08-07 06:48] tiru1930 commented on #997
@yuzisun  I have modified config-map.yaml and re-deployed now I can see the deployment service up and running fine

[code]
[code]
now the issues is when i do the inference request i got below error

[code]
but the same request works on my local tf-serving docker image 2.2.0

[2020-08-07 07:35] d123456temp commented on #994
Yest it does exist:

[code]

@yuzisun Can you please kindly answer my other related question: How can I modify existing virtual service in KF/KFServing setup? It looks like every time I try to edit  (kubectl edit sv....) my changes get somehow overriden/ignored. I spent significant amount of time looking for answer in Istio manuals etc but nothing came out. Is my change getting overriden by some h

[2020-08-07 13:07] yuzisun commented on #999
@navneet1075 Can you help attach the KFServing controller log ? Iooks like the S3 credentials are not injected to the pod.

[2020-08-07 13:50] yuzisun commented on #997
@tiru1930 hmm not sure who is returning this `Payload Too Large`, can you try some smaller request?

[2020-08-07 13:54] tiru1930 commented on #997
@yuzisun I have tried all possible payloads from 1x1x3 size image to 512x512x3

if the image size is below 80x80x3 the error message is different

[code]

[2020-08-07 13:58] yuzisun commented on #997
@tiru1930 what's `13.233.138.150:8051`, is that istio ingress gateway ip port?

[2020-08-07 13:59] tiru1930 commented on #997
yes, i have installed kubeflow on cloud and so i have done port forward on this,

[2020-08-07 14:22] tiru1930 commented on #997
@yuzisun  can suggest me which logs I can check to see where it is going?

[2020-08-07 14:36] yuzisun commented on #997
@tiru1930 I am really not sure, looks like something related to your cloud which prevents you posting to that endpoint

[2020-08-07 16:01] yuzisun commented on #994
@d123456temp Every time you make a manual change KFServing controller detects that and overwrite with the desired virtual service it thinks should be. All InferenceService sub resources are reconciled this way so you won't be able to change the underlying resources KFServing creates except the high level crd like InferenceService, this is how all the kubernetes custom resource controller works.

[2020-08-07 16:19] maganaluis opened #1002 "KFServing Inference Service Breaking WASB-PVC Mount"
/kind bug

We are using a wasb-pvc mount on Pipelines and KFServing to train and deploy models, but when we have an InferenceService already running any pods within that namespace no longer can mount the wasb-pvc and we get this error:

[code]

Looks like the Inference Service is intercepting the secret or something here is getting corrupted but only while the Inference Service is up, if I delete

[2020-08-07 18:27] maganaluis commented on #1002
Turns out blobfuse was causing the issue. Closing.

[2020-08-07 18:27] #1002 closed

[2020-08-07 19:51] ShilpaGopal opened #1003 "CustomResourceDefinition "inferenceservices.serving.kubeflow.org" is invalid, during installation of v0.4.0"
/kind bug

**What steps did you take and what happened:**
I am trying to install standalone kfserving on minikube. I have installed Istio, knative and cert-manger. When I install kfserving
I notice the log saying "The CustomResourceDefinition "inferenceservices.serving.kubeflow.org" is invalid".
[code]
And the pod kfserving-controller-manager-0 ends up in CrashLoopBackOff.

_kubectl logs kfserving

[2020-08-07 21:56] yuzisun commented on #1003
@ShilpaGopal I think it is known issue that KFServing does not work on kubernetes 1.18, can you try 1.17 ?

[2020-08-07 22:49] yuzisun commented on #994
@d123456temp,  @adrian555 and I finally tracked down the issue, the problem is that the virtual service only matches for the verb `:predict`, so when you query the status endpoint `curl -v flowers-sample.default.svc.cluster.local/v1/models/flowers-sample` it does not work, but it does work if you try the actual predict endpoint. This issue was fixed in KFS 0.4 release while KF 1.1 installation ins

[2020-08-08 00:29] yuzisun commented on #1003
Oh you might be on kubernetes 1.15? Check the instruction here https://github.com/kubeflow/kfserving#standalone-kfserving-installation.

[2020-08-08 05:03] ShilpaGopal commented on #1003
@yuzisun Thanks for your response. It's working fine for Kubernetes version v1.17.9

[2020-08-08 07:42] d123456temp commented on #994
@yuzisun that's great news, thank you for investigating this. Will try to install KFS 0.4 on KF 1.1 - I hope there are no compatibility issues that you are aware of?

[2020-08-08 17:08] tduffy000 opened #1004 "Generic naming for ONNX model objects"
/kind feature

**Describe the solution you'd like**
Currently in order to turn an ONNX runtime model into a servable, the file must have the name `model.onnx`, [here](https://github.com/kubeflow/kfserving/blob/ff02ea49b399565a8abd4a556c75e1fbb003a6e2/pkg/apis/serving/v1alpha2/framework_onnx.go#L25). This poses restrictions when multiple models are stored in the same directory, or with the potentia

[2020-08-08 20:44] ShilpaGopal opened #1005 "External IP for istio-ingressgateway in pending status"
/kind bug

**What steps did you take and what happened:**

I have installed standalone kfserving on minikube.  I am trying out InferenceService using Tensorflow with the flower sample. I can see that the services are running fine, but external IP in pending status. I am kind of new to istio and kfserving. I went through a couple of issues and troubleshooting guide. I couldn't find a solution for t

[2020-08-09 00:04] yuzisun commented on #1005
@ShilpaGopal you can check the istio ingress gateway doc https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control. Load balancer is usually provided by cloud and for minikube the best is to use nodePort.

[code]

[2020-08-09 00:08] yuzisun commented on #1004
@tduffy000 this sounds reasonable to me, would you like to make a small proposal ?

[2020-08-09 00:12] yuzisun commented on #994
@d123456temp Looks like you are on Kubernetes 1.17, so I think no compatibility issue.

[2020-08-09 00:16] yuzisun opened #1006 "Add TrainedModel validation webhook"
TrainedModel validation webhook should validate the parent inference service and model framework, model framework on trained model should match the predictor on parent inference service.

sklearn -> sklearn
xgboost -> xgboost
pytorch -> pytorch, triton
tensorflow -> tensorflow, triton
onnx -> onnx, triton
custom -> custom

[2020-08-09 00:28] yuzisun opened #1007 "Propagate status object for TrainedModel"
**What:**
Trained model status should report the model url and model loading status for each pod replica e.g 5/10 means 5 out of 10 pods have loaded the model and we should only mark the model ready condition to be true if all pod replicas have loaded the model.

**How:**
The trained model controller should have a reconciler loop to get the endpoints(Pod ips) for the inference service which is hos

[2020-08-09 03:37] tiru1930 commented on #997
This is got resolved. With latest version 0.4

On Fri, 7 Aug 2020, 20:07 Dan Sun, <notifications@github.com> wrote:

[2020-08-09 05:05] ShilpaGopal commented on #1005
@yuzisun I tried with node port, but it was resulting in a connection refused.

[code]

I am not sure what I was missing in that. I am able to access minikube dashboard but not the inference service endpoint.

[2020-08-09 08:11] #1003 closed

[2020-08-09 20:51] yuzisun commented on #1005
@ShilpaGopal Do not use `127.0.0.1`, you need to access with the minikube ip which you can get by running `minikube ip`

[2020-08-10 01:44] yuzliu opened #1012 "Restructure the api folder"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Restructure the API so its structure will be
[code]

[2020-08-10 02:56] ShilpaGopal commented on #1005
Yes @yuzisun,  Minikube is hosted at 127.0.0.1

[2020-08-10 03:32] ellistarn commented on #919
@rtrobin, we also don't enforce the API. If you want to run your container as-is and call it at /custom-prediction, it should work just fine.

[2020-08-10 03:38] rtrobin commented on #919
It is not a problem in v0.4 now. I'm closing the issue.

[2020-08-10 03:38] #919 closed

[2020-08-10 04:00] rtrobin commented on #924
Thanks for the info. The original issue is caused by config file type. I'm closing this issue now.

[2020-08-10 04:00] #924 closed

[2020-08-10 09:13] navneet1075 commented on #999
@yuzisun i updated the storage initializer version to 0.4.0 by installing fresh and now i am getting a different error where it says connection terminated.

here is the logs :
[code]

i did
[code]
logs from controller manager :

[code]

[2020-08-10 14:57] tiru1930 opened #1014 "inference time is huge difference between standalone cpu and kubeflow based (kf-serving based ) deployment"
I have successfully deployed  Detection model on cpu ( stand alone with tf-serving and frozen graph with fastapi ) and cacluated the inference time which is 0.15 sec (average)

Same model deployed on kubeflow with kf-serving now the average inference-time is 7 seconds

both cpu and kubeflow deployments have same amount of resource.

Why there is higher inference time in kf-serving ( for first requ

[2020-08-10 15:04] tiru1930 commented on #1014
@yuzisun  Any thoughts on this issues ?

[2020-08-10 16:00] ellistarn commented on #1014
This shouldn't be the case. KFServing creates a deployment under the hood to serve your model. Can you take a look at that deployment, compare, and then share your results:

1. Resource Requests / Limits for each deployment
2. Container Image for each deployment

You're correct that the first request should be slow, but if you set minNodes, you shouldn't be seeing a cold start.

[2020-08-10 23:45] animeshsingh opened #1015 "update Kubeflow master manifests to KFServing 0.4 release"
/kind feature

Now that Kubeflow 1.1 is out, we should upgrade the master manifests to KFServing v0.4

[2020-08-10 23:45] animeshsingh commented on #1015
/assign @adrian555

[2020-08-11 05:10] #1005 closed

[2020-08-11 08:03] tiru1930 commented on #1014
@ellistarn  how can we set the minNodes and how can we give the resource in deployment file, can you give the reference

[2020-08-11 12:20] yuzisun commented on #1014
@tiru1930 which KFS version you are on? If you are on KFS 0.3+ we default minReplicas to 1 so it won't scale to 0 when no requests are sent to the service.

[2020-08-11 12:48] tiru1930 commented on #1014
Kfserving 0.2.2

On Tue, 11 Aug 2020, 17:51 Dan Sun, <notifications@github.com> wrote:

[2020-08-11 13:01] tiru1930 commented on #1014
@ellistarn @yuzisun  can i do the same configuration on kf 0.2.2

[2020-08-11 15:05] ofir-bt opened #1016 "Can't get the sklearn-iris KfServing sample to work - InferenceService has no status"
/kind bug

I'm trying to run the sklearn-iris sample on my local Mac, using Minikube, with no success.

I've installed KubeFlow on my mac using:
`
kfctl apply -V -f kfctl_k8s_istio.v1.0.2.yaml
`

And then created a test namespace and deployed the sklearn-iris sample to it like that:
`kubectl create namespace test1`
`kubectl label namespace test1 serving.kubeflow.org/inferenceservice=enabled`
`kube

[2020-08-12 05:12] ellistarn commented on #1014
Is there any way you can upgrade from 0.2.2? That release is quite old and is missing a ton of improvements. It's a pre-beta product, so we have a difficult time supporting it.

[2020-08-12 05:13] ellistarn commented on #1014
Alternatively, if I'm remember 0.2.2 correctly, you should be able to set minReplicas in
[code]

[2020-08-12 06:00] tiru1930 commented on #1014
Thank you I have upgraded to 0.3

On Wed, 12 Aug 2020, 10:43 Ellis Tarn, <notifications@github.com> wrote:

[2020-08-12 06:45] d123456temp commented on #994
@yuzisun I can confirm that this is the case for 0.3.0 and your workaround works for 0.3.0. I could not upgrade the environment to 0.4.0 at this moment, but it's great this was adressed.

[2020-08-12 07:05] yuzisun commented on #1016
@ofir-bt Looks it is the same issue as https://github.com/kubeflow/kfserving/issues/951, if you can downgrade to 1.17 that should work

[2020-08-12 09:32] #1016 closed

[2020-08-12 09:33] ofir-bt commented on #1016
Thanks @yuzisun, after downgrading K8S to 1.17, the error is resolved.

[2020-08-12 14:06] bharath0208 commented on #951
@yuzisun any idea on when of kfserving will be supporting version 1.18 of k8's

[2020-08-13 03:08] yuzisun commented on #1014
@tiru1930 are you good now?

[2020-08-13 07:41] tiru1930 commented on #1014
@yuzisun , yes looks fine, but still the latency issues is there , we figured it out port-forward is causing  some delay in response, planning to move it nodePort and check

[2020-08-14 01:29] yuzisun commented on #1014
@tiru1930 ye port forward is only for testing purpose definitely can not be used in serious use case.

[2020-08-14 01:32] #997 closed

[2020-08-14 01:33] yuzisun commented on #982
@wardVD I have updated doc for the instruction for accessing the ingress, please take a look!

[2020-08-14 02:00] yuzisun commented on #951
@bharath0208 there is an upstream issue https://github.com/kubernetes-sigs/controller-tools/issues/438 for the tool KFServing uses which generates the invalid inference service crd on k8s 1.18

[2020-08-14 09:11] pugangxa opened #1023 "Build does not work by running "make manager""
/kind bug
Checkout master code of kfserving, then run ```make manager``` but build failed.

**What did you expect to happen:**
[code]

[2020-08-14 09:31] pugangxa commented on #1023
It's because I'm doing make inside GOPATH though I set ```GO111MODULE=on```. When it's inside GOPATH, the rule file looks like:
[code]

[2020-08-14 09:36] pugangxa commented on #1023
I can make it when it's outside of GOPATH, I think others may encounter similar issues but it's fine to leave it this way. Close it for now.

[2020-08-14 09:36] #1023 closed

[2020-08-14 14:22] taylanates24 opened #1024 "inferencing pytorch with curl is returning a HTTP/1.1 404 Not Found error."
/kind bug

**What steps did you take and what happened:**
I installed kfserving with a minikube kubernetes cluster following the guide https://github.com/kubeflow/kfserving/blob/master/README.md. I used kfserving master branch and Kubernetes v1.18.3.
And then, I followed the steps on https://github.com/kubeflow/kfserving/tree/master/docs/samples/pytorch
I successfully created inferenceservice.serv

[2020-08-14 18:25] taylanates24 commented on #1024
I solved  the issue by updating the SERVICE_HOSTNAME from SERVICE_HOSTNAME=$(kubectl get inferenceservice pytorch-cifar10 -test -o jsonpath='{.status.url}' | cut -d "/" -f 3) to SERVICE_HOSTNAME=$(kubectl get inferenceservice pytorch-cifar10 -n pytorch-test -o jsonpath='{.status.url}' | cut -d "/" -f 3)

[2020-08-15 15:06] yuzisun commented on #1024
@taylanates24 Do you think we should make the instruction more clear?

[2020-08-15 15:07] yuzisun commented on #1014
@tiru1930 I am closing for now please help reopen if still an issue for you, thanks!

/close

[2020-08-15 15:07] #1014 closed

[2020-08-15 15:10] #950 closed

[2020-08-17 22:36] Jeffwan commented on #790
Talked with KFServing maintainers, I think the expectation is torchserve can support v2 prediction protocol.

[2020-08-18 11:23] #1024 closed

[2020-08-18 19:08] jagadeeshi2i commented on #760
Hi @Jeffwan @animeshsingh Is KFServing working with Istio/Dex in AWS.

[2020-08-18 19:23] Jeffwan commented on #760
@jagadeeshi2i You need to bring cookie to client to make it work. I would suggest you open a new issue to talk about your problems

[2020-08-18 19:26] jagadeeshi2i opened #1029 "KFServing with Istio/Dex in AWS"
/kind bug

I am using [kfctl_aws_1.1.0.yaml](https://github.com/kubeflow/manifests/blob/v1.1-branch/kfdef/kfctl_aws.v1.1.0.yaml). I could create an inferenceservice with KFServing. The service is running fine.

On hitting the loadBalancer hostname i get 503 service unavailable.

`curl -vvv -H "Host: ${SERVICE_HOSTNAME}" -H "Cookie: authservice_session=MTU5NzczMzgyM3xOd3dBTkRaV04wVllTRE5XVUVzMFFrNV

[2020-08-18 19:47] Jeffwan commented on #1029
Can you give more details on the inferenceservice status, etc. ?

[2020-08-18 19:49] jagadeeshi2i commented on #1029
[code]

[2020-08-18 20:22] yuzliu opened #1030 "Manage virtual service route for each model in for multi-model InferenceService"
When an InferenceService can load multiple models when can we mark an InferenceService ready?
**Approach 1: An InferenceService is ready when all the models are ready**
pros:
1) k8s can help reject requests coming into this pod as the pod won't be ready

cons:
1) If there are 1000 models in a pod, if one model is not ready then all other models can not receive traffic
2) If a large model need to b

[2020-08-19 13:54] yuzisun opened #1031 "High CPU throttling when running torchscript inference with triton on high number cores node"
/kind bug

**What steps did you take and what happened:**
When running KFS triton torchscript inference on kubernetes nodes with high number of cpu cores, the inference requests get heavily throttled leading to poor performance because the torchscript library by default spawns number of intra-op threads which is equal to the number of cores available on the nodes the pod is scheduled to. If there

[2020-08-19 16:36] Jeffwan commented on #790
Have the discussion in the bi-weekly meeting. Here's the summary.

1. Does torchserve need to keep the consistency with v2? How does v2 protocol support additional features? Any v3, v4 plans?

v2 protocol is from TFServing and Triton past experiences. It’s pretty stable and community will try to provide back-forward experiences. New features like adding new data types or tensor types can be added

[2020-08-20 15:47] njhill commented on #1030
I think we talked about this in the last MMS discussion I was in. I don't think there's a great answer but the only practical approach I can think of given other constraints would be:
- New pods to become ready only once all of the models that were present in the _initial_ copy of the configmap read upon startup (minus any removed concurrently but not including any added)
- New TrainedModels becom

[2020-08-20 17:45] yuzisun commented on #1030
As discussed in the meeting, for the new trained model we can send probes to all the endpoints(pods) in trained model controller, only if they are all successful we then create the virtual service route to the new trained model, in this way we can make sure requests to the new trained model are successful as soon as the route presents otherwise user gets 404 if they send requests before models are

[2020-08-20 17:48] njhill commented on #1030
@yuzisun yep I think that's consistent with my suggestion, where "TrainedModels become ready/available" corresponds to "create the virtual service route to the new trained model"

[2020-08-20 22:35] Tomcli opened #1032 "Should the controller inject the disable istio sidecar annotation for multi-user by default?"
/kind feature

**Describe the solution you'd like**
Currently InferenceService cannot run property with the istio sidecar. (e.g. https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex)

Should we let the controller to inject the `sidecar.istio.io/inject:false` by default when running in multi-user mode similar to how kubeflow pipeline did it?

https://github.com/kubeflow/pipeline

[2020-08-20 22:41] ellistarn commented on #1032
I'm cautious about taking an opinion within our controller. I'd much prefer the user sets this on their namespace. Perhaps documentation is the correct road?