[2020-08-20 23:20] Tomcli commented on #1032
For people who deploy KFServing via Kubeflow, the namespace istio inject labels are assigned by the profile controller. Documentation can help, but often times I found people are not reading the main readme when they go straight to a particular sample.

[2020-08-20 23:56] yuzisun commented on #1032
@Tomcli I think currently it does not work because istio rbac is blocking it right? should we have a proper auth story for KFServing? I think auth should be on by default and user can choose to disable sidecar if a particular inference service does not require auth.

[2020-08-21 00:00] ellistarn commented on #1032
Can the kubeflow profile controller disable istio by default for the namespaces it creates?

[2020-08-21 00:00] ellistarn commented on #1032
That would allow KFServing to leave it on by default, but unblock new kubeflow users who are experimenting.

[2020-08-21 00:07] yuzisun commented on #1032
@ellistarn I think profiler controller enables istio sidecar by default for the namespaces  it creates because of notebook security, the way we did is to disable istio at namespace level and have the pod mutator inject the istio sidecar only for notebook.

[2020-08-21 00:09] Tomcli commented on #1032
The DEX doesn't work with istio sidecar because the readiness probe failed (probably due to missing auth token).

[2020-08-21 00:10] yuzisun commented on #1032
are you talking about the istio probes? I thought that's fixed already with knative 0.11.2.

[2020-08-21 00:30] Tomcli commented on #1032
Sorry I do see the probe works after few retries, maybe my cluster is too slow so it sometimes failed to run. And yes istio rbac is still an issue.

[2020-08-21 02:40] whillas opened #1033 "failed calling webhook inferenceservice.kfserving-webhook-server.defaulter ... ssh: rejected: connect failed"
/kind bug

**What steps did you take and what happened:**

1. Installed Kubeflow on GKE via the online GUI (can access everything via kubectl)
2. Copied the simple Triton example: https://github.com/kubeflow/kfserving/blob/master/docs/samples/triton/simple_string/triton.yaml
changed the bucket to where our models are stored
3. `kubectl apply -f something.yaml`

get the following error

**What did

[2020-08-21 06:53] robin2008 opened #1034 "controller is binding to a priviliged port 443"
/kind bug

**What steps did you take and what happened:**
I install Kfserving on openshift 4.3 with the steps in guides, and in the end, found that kfserving pod cannot be up.

The logs as below:
[code]
I can workaround it with adding `anyuid` scc to kfserving namespaces.
[code]

**What did you expect to happen:**
installs kfserving successfully w/o extra scc. Maybe use other unprivileged port, li

[2020-08-21 07:10] robin2008 opened #1035 "failed to create inferenceservice successfully on openshift"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Apply the sample on openshift with kfserving:
[code]
But it always fails.
[code]

**What did you expect to happen:**
create inferenceservice successfully on openshift w/o extra steps.

**Anything else you would like to add:**
I think this is just no adding finalizer permission on infere

[2020-08-22 20:31] ShilpaGopal opened #1037 "Predict request neither returns nor there is a timeout"
/kind bug

**What steps did you take and what happened:**
I am implementing serving for CRNN model. This model uses TensorFlow predict method. Prediction works fine without kfserving. When I implement kfserving.KFmodel, predict request neither returns nor there is a time out.
The payload is less than 1mb
[code]
I also have a preprocess method implemented, which does the base 64 decode, converts th

[2020-08-23 04:49] robin2008 opened #1038 "PVC storage is not working"
/kind bug

**What steps did you take and what happened:**
1, install kfserving 0.4
2, create PV and PVC which contains the pre-trained models (here just use the example of sklearn)
3, create an inference services with below (the only change to the example is to use PVC, instead of GS):
[code]
4, the inference service could be created successfully (including the knative service), but the pod is fai

[2020-08-23 21:01] yuzliu opened #1040 "Create InferenceService Model puller sidecar"
Create an InferenceService model puller sidecar which listens for the model configmap create/delete/update events

Acceptance criterias
- Implement with golang so it can be merged with other KFServing sidecar
- Mount the model config into the sidecar container and compute the difference for model config for each create/delete/update event and log load/unload xxx models according to the changes
- N

[2020-08-23 21:20] yuzliu opened #1041 "Add heathcheck endpoint for InferenceService agent"
https://github.com/kubeflow/kfserving/pull/989 implemented the InferenceService sidecar for the multi-model InferenceService use case. In order to show the proper status for each model we should open an health check endpoint on model agent which so that it shows different status for each model e.g. Downloading/Loading/Ready

[2020-08-24 03:26] AnyISalIn commented on #999
@navneet1075 In kfserving 0.4.0, `awsAccessKeyID` and `awsSecretAccessKey` have been replaced by `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.

[2020-08-24 03:46] ShilpaGopal commented on #1037
@yuzisun I could resolve the issue. While initializing the KFServer, the number of workers was not set and the default value is 0. By setting the workers to 1 solved the issue.
[code]

[2020-08-24 15:32] yuzisun commented on #1037
@ShilpaGopal Looks like it is some multi-process issue? Also looks like you are running KFServer locally not on kubernetes right?

[2020-08-24 17:22] ShilpaGopal commented on #1037
Yes, @yuzisun I am running kfserving locally for development purpose and the prediction was multithreaded.

[2020-08-24 17:35] yuzliu opened #1043 "Implement load/unload endpoint"
Acceptance Criteria:
1. Add load/unload handler in KFServer
2. Update sklearn model server to support load and unload
3. Update xgboost model server to support load and unload
4. liveness probe at the model level won't break

[2020-08-24 17:59] vishal-kr-yadav commented on #942
@Svendegroote91 hi i am facing the same kind of issue, where we need to rename the input layers?

[2020-08-24 21:47] yuzisun opened #1044 "KFServing CI cluster creation permission issue"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]
- Minikube version:
-

[2020-08-24 21:48] yuzisun commented on #1044
/cc @jlewi

[2020-08-24 22:50] yuzliu opened #1045 "Create a model probing component"
Acceptance criteria:
1. Create a model probing component in KFServing that probe all the models

[2020-08-24 23:05] yuzliu opened #1046 "Integrate model agent, model server, InferenceService controller and TrainedModel controller"
Acceptance Criteria
1. InfereneService controller injects model agent into MMS InferenceService
2. Integrate model agent with model server by sending load/unload requests to model server
3. Test TrainedModel creation workflow e2e: ensure that model agent download the model and model server load the model properly
4. Test TrainedModel deletion workflow e2e: ensure that model server unload the model

[2020-08-24 23:10] whillas commented on #1033
Looks like one of my colleages has done some work on Kubflow (from #KFServing channel in Slack):

See: https://kubeflow.slack.com/archives/CH6E58LNP/p1597872996280600

[2020-08-24 23:29] yuzisun commented on #1037
@ShilpaGopal I wondering if multi-processing is causing some weirdness in your server, but if you deploy it on KFServing the timeout is enforced on sidecar regardless of how model server behaves. Regarding using transformer and tfserving, can you mock out the call to tfserving by overwriting `predict` on transformer?  in that way you can test transformer separately.

[2020-08-24 23:44] ellistarn commented on #1044
@jlewi what happened to the permissions here?

[2020-08-25 00:01] jlewi commented on #1044
See testing/issues#749 permissions to create test infra in kubeflow-ci were removed.

@kubeflow/kfserving-owners you should also take a look kubeflow/testing#737 and come up with a plan for ensuring CI for your projects.

[2020-08-25 02:35] jlewi commented on #1044
@yuzisun  See comments: https://github.com/kubeflow/community-infra/pull/10#issuecomment-679459497

It looks like the project kfserving already exists which is why it can't be created and why you don't have access; I think its owned by the google.com org; probably created by @ellistarn .

It looks like there's already a kfserving-test project in kubeflow.org so you might just be able to use that.

[2020-08-25 04:08] ShilpaGopal commented on #1037
@yuzisun Thanks for your response. That's a good option to mock predict to verify transformer. With respect to timeout, I will have to verify by deploying it, looks like it won't be a problem on k8s. Thanks once again for your input. In case of any finding on local server issue will share it across.

[2020-08-25 07:52] Svendegroote91 commented on #942
[code]

[2020-08-25 14:40] yuzisun commented on #1044
thanks @jlewi ! I have the access to `kfserving-test` project, currently KFServing creates a test cluster under kubeflow-ci project https://github.com/kubeflow/kfserving/blob/master/test/scripts/create-cluster.sh#L29 for running e2e tests  and looks like we need to mount a service account secret for the new project on argo workflow if moving to the `kfserving-test` project. I guess I need to get t

[2020-08-25 19:54] jlewi commented on #1044
@yuzisun You shouldn't need to create any new secrets. The pods should be executing with some appropriate GSA. If you look at your original bug report they are using the GSA `kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com`.

So if you want that GSA to be able to create resources in your project e.g. kfserving-test  you will need to modify the IAM policy of project kfserving-test to grant the

[2020-08-25 20:04] yuzisun commented on #1044
@jlewi looks like I need the permission to set IAMPolicy for `kfserving-test` project.

[2020-08-25 20:46] yuzliu commented on #1044
@jlewi same for me, don't have permission to change IAM.

[2020-08-25 21:00] jlewi commented on #1044
The best thing to do would be to manage this project using GitOps.
The project is already inside the community folder.

@yuzisun Please update https://github.com/kubeflow/community-infra/tree/master/prod/namespaces/kfserving  to manage this project. Change the project and namespace to kfserving-test.

You probably want to set the deletion policy to abandon.
https://github.com/kubeflow/manifests/bl

[2020-08-26 02:22] yuzisun commented on #1044
Thanks @jlewi for the instruction. I have granted the `kfserving-ci` service account with the edit role, can you help take a look?
https://github.com/kubeflow/community-infra/pull/12/files

[2020-08-26 05:46] vishal-kr-yadav commented on #942
Hi @Svendegroote91 i tried the above code as is but it didnt work.
I am using gcp ai platform for model serving, the model that I got from the above code is getting error out in GCP serving.

I am using below script to get the model file for serving:
Can you suggest if possible where i need to rename the name with "image_bytes"

# Copyright 2017 The TensorFlow Authors. All Rights Reserved.
#
# Lic

[2020-08-26 08:32] robin2008 commented on #1038
Yes, it is. I'm using wrong storageClassName and binds to wrong PV.
And the error message confused me.

[2020-08-26 08:32] #1038 closed

[2020-08-26 18:41] #982 closed

[2020-08-27 16:11] ifilonenko opened #1048 "Harden Puller logic in the side-car Agent"
/kind feature

**Describe the solution you'd like**
With the merging of #989 a variety of enhancements are still required before we can remove the [POC] label from the multi-model puller. These enhancements include but are not limited to:
* Handle retries
* Move logger to zapr
* Set proper buffer size
* Handle request logic
* Implement a variety of protocols: HDFS, GCS, FILE, HTTPS
* Handle proper

[2020-08-27 18:05] #1040 closed

[2020-08-27 19:47] nlarusstone commented on #804
I'm also encountering this when trying to set this for the `liveness_probe`. If I set the port I get:
[code]
and if I don't I get:
[code]

[2020-08-28 00:58] yuzisun commented on #1037
thanks @ShilpaGopal! let us know your findings.

/close

[2020-08-28 00:58] #1037 closed

[2020-08-28 00:59] yuzisun commented on #620
/close

[2020-08-28 00:59] #620 closed

[2020-08-28 01:04] yuzisun commented on #999
@AnyISalIn thanks for pointing this out. @navneet1075 let me know if this is still an issue.

[2020-08-28 13:18] yuzisun opened #1052 "Tabular Explainer e2e test failing"
/kind bug

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]
- Minikube version:
- Kubernetes version: (use `kubectl version`):
-

[2020-08-28 13:18] yuzisun commented on #1052
@cliveseldon Can you help take a look ?

[2020-08-28 13:19] yuzisun commented on #1052
/cc @yuzliu

[2020-08-28 14:16] cliveseldon commented on #1052
shap must be missing from the image

[2020-08-28 14:21] cliveseldon commented on #1052
@yuzisun which image is it running?

[2020-08-28 20:13] riklopfer opened #1054 "MountVolume.SetUp failed for volume "cert" : secret "kfserving-webhook-server-cert" not found"
/kind bug

**What steps did you take and what happened:**
I am running `minikube` as described in the documentation here: https://github.com/kubeflow/kfserving#install-kfserving-in-5-minutes-on-your-local-machine

[code]

Then Check KFServing controller installation,

[code]

When i look in the dashboard I see the following message,

[code]

**What did you expect to happen:**

[code]

**Environmen

[2020-08-29 02:29] #1052 closed

[2020-08-30 06:45] navneet1075 commented on #999
@AnyISalIn @yuzisun sorry for late reply. thanks . its working with new env values. closing this now.

[2020-08-30 06:45] #999 closed

[2020-08-31 11:13] Iamlovingit opened #1059 "isvc name validation check"
/kind bug
Deploy an isvc, name start with number, the kfserving manager do not check this case. This case will make the isvc won't deploy succeed, and user won't get the error msg.

* **define an isvc**
[code]
* **deploy this isvc**
[code]
* **check the log from kfserving manager**

[code]

`knative` returns a validation error, but user can not get this error, the isvc status will stay at `nill`
[

[2020-08-31 15:21] DontStopMeNow opened #1060 "Serving fails with PodInitializing status"
/kind bug

**What steps did you take and what happened:**
I've created a kubeflow pipeline using Python SDK. It contains exporting to local minio and serving component. There is a sklearn model serialized with pickle. The serving step fails with revision status: PodInitializing.

**What did you expect to happen:**
I expected creation of serving pod.

**Anything else you would like to add:**
I chec

[2020-08-31 15:22] riklopfer commented on #1054
`quick_install.sh` does not check the kubernetes version which is recommended in the set up instructions. Running without the `--validate=false` flag, I see the following.

[code]

[2020-08-31 18:05] riklopfer commented on #1054
Found #1003

Using k8s version `v1.17.11` appears to solve my problem.

[code]

[2020-08-31 18:05] #1054 closed

[2020-09-01 07:03] jazzsir commented on #1060
@DontStopMeNow Can you post the output of `kubectl -n test describe ksvc iris-test-predictor-default`? You can also checkout [KFServing debugging guide](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md#revisionmissing-error) to see why it is failing.

[2020-09-01 08:34] DontStopMeNow commented on #1060
@jazzsir
I tried to follow debugging guide, but as far as I understand, in my situation I need logs of pod `(If you see other exit codes from the revision status you can further check the pod status.)`, but no pods were created.
[code]
[code]

[2020-09-01 10:28] jazzsir opened #1065 "With standalone KFServing 0.4 deployment, failed to create Inferenceservice"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

With v0.4.0 standalone installation, Inferenceservice failed to run with errors

[code]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

The Inference is created without any trouble

[2020-09-01 12:19] yuzisun commented on #1065
@jazzsir Looks like it is an old istio issue https://github.com/istio/istio/issues/14900, can you upgrade to istio 1.3 or higher version?

[2020-09-01 12:25] yuzisun commented on #1059
@Iamlovingit would you like to put in a fix in the inference service validation webhook?

[2020-09-01 12:39] yuzisun commented on #1060
@DontStopMeNow The pod goes down after sometime if it was crashing, you can recreate the service again to capture the error log.

[2020-09-01 12:52] yuzisun opened #1066 "gcloud build issue in KFServing CI"
/kind bug

**What steps did you take and what happened:**
The following error happens when doing image build step on the KFServing argo CI workflow, seems starting to happen recently.
[code]

After @jinchihe's investigation looks somehow if we split the 11 concurrent image builds into 3 steps the success rate increased a lot. Not sure if this is due to some networking bandwidth issue. Also accordi

[2020-09-01 12:53] yuzisun commented on #1066
/cc @andreyvelich @johnugeorge I think katib has similar issue and it is also building quite a lot of images concurrently.

[2020-09-01 13:01] yuzisun commented on #1065
the change was introduced in https://github.com/kubeflow/kfserving/pull/807 which explicitly set retry to 0, I think we can simply remove that retry section.

[2020-09-01 13:03] andreyvelich commented on #1066
@yuzisun I tried to follow your approach (https://github.com/kubeflow/kfserving/pull/1063) in Katib: https://github.com/kubeflow/katib/pull/1316.
It helps with GCP networking issue for us.

Does the restarts help in your CI?

[2020-09-01 13:59] mokpolar commented on #1029
I don't want to use the dex, is there a way?

[2020-09-01 15:19] Iamlovingit commented on #1059
sure

[2020-09-01 18:25] #906 closed

[2020-09-01 20:08] Tomcli opened #1067 "ONNX example model is missing"
/kind bug

**What steps did you take and what happened:**
We are trying out the ONNX example today and found out we cannot connect to the sample ONNX model. Is the below URI still working or do we need some permission to gain access to it?
https://github.com/kubeflow/kfserving/blob/52451bd0397e76ec605ce7789b1f218b3742d99c/docs/samples/onnx/onnx.yaml#L9

**What did you expect to happen:**

**Anythi

[2020-09-01 22:47] #826 closed

[2020-09-01 22:56] yuzisun commented on #1065
@jazzsir on the other hand I would strongly strongly recommend upgrade your istio version, istio 1.1 is no longer supported by the community.

[2020-09-02 01:09] ellistarn commented on #1067
@rakelkar

[2020-09-02 01:30] tduffy000 commented on #1004
It seems like the two possibilities are:

1. Use a similar CRD structure to the Pytorch model (which has [modelClassName](https://github.com/kubeflow/kfserving/blob/master/docs/samples/pytorch/pytorch.yaml#L10)) by introducing another field like `modelFileName`, if we want the user to be explicit, otherwise splitting on `/` and taking the filename should work.
2. Do some invisible moving on storag

[2020-09-02 01:35] jazzsir commented on #1065
@yuzisun thanks a lot, I upgraded Istio version.

[2020-09-02 01:35] #1065 closed

[2020-09-02 01:46] neolunar7 opened #1068 "kubectl apply -f pytorch.yaml spinning up infinite number of pods"
/kind bug

I followed the README.md
`kubectl apply -f pytorch.yaml`
resulting in infinite number of pods, and causing the cluster to fail.

**What did you expect to happen:**
One InferenceService CRD to spin up.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version: 1.3
- Knative Version:
- KFServing Version:

[2020-09-02 02:09] jazzsir commented on #1059
/assign

[2020-09-02 02:49] #789 closed

[2020-09-02 03:20] pugangxa opened #1070 "Cannot deploy kf-serving on kubernetes 1.18"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]
**What did you expect to happen:**
Can be installed successfully.

**Environment:**
- Kubernetes version: (use `kubectl version`):
[code]

[2020-09-02 05:34] pugangxa commented on #1070
Found workaround:
https://github.com/kubernetes/kubernetes/issues/91395#issuecomment-665134514
https://github.com/kubernetes/kubernetes/issues/91395#issuecomment-659196560

[2020-09-02 06:38] rakelkar commented on #1067
aargh - appears to have gotten deleted... however the original model was from the onnx model zoo at https://github.com/onnx/models/tree/master/vision/style_transfer/fast_neural_style/model

Can you try this link instead (now that KF has raw URL support, it should work :) )?
https://github.com/rakelkar/kfserving/raw/rakelkar-patch-1/docs/samples/onnx/model.onnx

[2020-09-02 10:34] DontStopMeNow commented on #1060
@yuzisun
Thank you for your advice, I didn't think I could catch the pod at the time of creation and I didn't try it.
[code]

So, the main problem was that I didn't set `namspace: test` for Secret and ServiceAccaunt.
The working .yaml is:
[code]

[2020-09-02 10:34] #1060 closed

[2020-09-02 12:52] yuzisun commented on #1068
@neolunar7 Did you send a lot of requests to the inference service?

[2020-09-02 13:29] neolunar7 commented on #1068
@yuzisun No I did not. I just created the inferenceservice and did not send any request to it.

[2020-09-02 13:50] yuzisun commented on #1068
that shouldn't happen if no requests are sent to the pods

[2020-09-02 14:29] zhangchunsheng opened #1073 "isvc.deploy(isvc.generate_isvc()) "Invalid value: \"\": must be `FieldsV1`","field":"metadata.managedFields.fieldsType""
isvc.deploy(isvc.generate_isvc()) "Invalid value: \"\": must be `FieldsV1`","field":"metadata.managedFields.fieldsType"
[code]

kubectl version
[code]

kfctl version
[code]

[2020-09-02 17:20] yuzliu opened #1074 "Investigate how to achieve parallelism in KFServing python model server"
/kind feature

As the KFServing WG is implementing the load/unload endpoints in the SKLearn and XGBoost model servers to support multi-model serving, I'd like to start a conversion about how to achieve parallelism.
The goals are:
1)The Python model server can do load(IO bound) and prediction(CPU bound) at the same time for SKLearn and XGBoost models
2)The Python model server can run multiple predi

[2020-09-02 18:05] cliveseldon commented on #1074
Some initial thoughts from discussing with @adriangonz

 * For FastAPI in MLServer look at using a framework such as gunicorn above to allow multiple processes, e.g [maybe this stack](https://github.com/tiangolo/uvicorn-gunicorn-fastapi-docker)
 * Look at shared memory for the model Dict but need to investigate which frameworks are thread safe, e.g.
   * [XGBoost](https://github.com/dmlc/xgboost/i

[2020-09-02 19:03] Tomcli commented on #1067
Thanks @rakelkar, URL support just merged yesterday. Where do you think is a good place to host this onnx model?

[2020-09-02 22:03] yuzisun commented on #1073
@zhangchunsheng this is an issue for kubernetes 1.18, see https://github.com/kubeflow/kfserving/issues/1070.

[2020-09-02 22:05] yuzisun commented on #1067
@tduffy000 I think for onnx the model name still has be model.onnx correct?

[2020-09-02 22:32] tduffy000 commented on #1067
Yeah, I did not change that part of the spec so it should still be `model.onnx`. I opened this issue https://github.com/kubeflow/kfserving/issues/1004 in response to that requirement to make it more generic. Would be nice to pull from the onnx model zoo. If you need one with the proper uri right now, you can use one of the examples I created for testing at https://github.com/tduffy000/kfserving-ur

[2020-09-03 00:41] yuzisun commented on #1070
@pugangxa any thoughts how to fix this?

[2020-09-03 01:42] pugangxa commented on #1070
I saw it's just fixed in https://github.com/kubernetes-sigs/controller-tools/pull/480 so we can wait and use the new version of controller-gen.
If needed I can add a temp fix to add the protocol to be required in generated CRD using something like "sed", and remove it after we migrate to newest controller-gen.

[2020-09-03 02:42] neolunar7 commented on #1068
@yuzisun Yes, that's the issue.

[2020-09-03 02:51] mokpolar opened #1075 "triton bert predictor - can not find config.pbtxt"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm trying to deploy the Triton Bert model on the sample.
By the way, the transformer was deployed, but I found that the predictor had fallen into a crashloopbackoff state.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will

[2020-09-03 07:11] insoo67park opened #1076 "istio-proxy for inferenceservice deny access to inferenceservice"
/kind bug

**What steps did you take and what happened:**
1. I installed kubeflow 1.1.0 with kubernetes 1.15.12
2. I created notebook server
3. I did serving example with guide (https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex)
4. when I executed below command finally
   -  curl -v -H "Host: ${SERVICE_HOSTNAME}" -H "Cookie: authservice_session=${SESSION}" http://${CLUSTER_I

[2020-09-03 10:25] yuzisun commented on #1075
@mokpolar sorry uploaded the bert model on the wrong level !
gs://kfserving-samples/models/triton/bert
    |_ config.pbtxt
    |_ 1/

it should be
gs://kfserving-samples/models/triton/bert
|_ bert_tf_v2_large_fp16_128_v2
     --|_ config.pbtxt
     --|_ 1/

[2020-09-03 10:36] yuzisun commented on #1076
@insoo67park What happens if you disable the istio proxy by adding following annotation?
https://github.com/kubeflow/kfserving/blob/master/docs/samples/istio-dex/sklearn.yaml#L6

[2020-09-03 11:09] yuzisun commented on #1070
@pugangxa we are already pinning to the commit sha for controller-gen [here](https://github.com/kubeflow/kfserving/blob/master/Makefile#L194), so we can use specific commit?

[2020-09-03 11:34] mokpolar commented on #1075
I uploaded the model to pvc and changed the directories according to the path you told me.
The pod has been deployed, thank you!

kubectl get pod -n kfserving-test
NAME                                                              READY   STATUS    RESTARTS   AGE
bert-large-predictor-default-5rjvx-deployment-76d5f587-5xd8v      2/2     Running   0          84s
bert-large-transformer-default-mw8mm-d

[2020-09-03 11:42] zhangchunsheng commented on #1073
ok

[2020-09-03 11:42] #1073 closed

[2020-09-03 14:33] pugangxa commented on #1070
Sure, will do that.
/assign

[2020-09-03 17:31] Tomcli commented on #1067
Thanks @tduffy000, we are able to run the ONNX model now. We are wondering should we update the example now, or wait for you to fix #1004 then update the storageUri to pull from onnx model zoo?

[2020-09-03 18:09] tduffy000 commented on #1004
@yuzisun do you have thoughts on either option above, or perhaps alternatives solutions?

[2020-09-03 19:28] rakelkar commented on #1004
I like that fact that with (2) you just point to the model and boom it works - but I really dont like the magical renaming. The filename is fixed in the framework (that has access to the storage URI) - maybe that code can lookup the model name on the path and use it (if it finds xxx.onnx) or else default to model.onnx?

[2020-09-03 19:35] rakelkar commented on #1004
aka here: https://github.com/kubeflow/kfserving/blob/2037e9c6c0e09385852af15236e939bd5f25cf71/pkg/apis/serving/v1alpha2/framework_onnx.go#L40

how about if did path.Base(s.StorageUri) and used that if it ends in .onnx?

[2020-09-03 19:51] tduffy000 commented on #1004
Right that was my thinking, just split the filename off the end and validate it.

[2020-09-03 22:22] tduffy000 commented on #1067
I raised a PR to add support for the generic ONNX names: https://github.com/kubeflow/kfserving/pull/1078.

[2020-09-04 00:10] insoo67park commented on #1076
@yuzisun
It works after disabling istio injection at namespace level.
I think, with service level disabling istio injection would make it work.

I have one question.
Do we always have to disable istio injection (namespace/service level) for inference service?
Or is there other solution for this problem?
(I think, envoy proxy is necessary in every inference service  for better service)

Thanks for

[2020-09-04 02:02] yuzisun commented on #1076
@insoo67park it really depends on if you want to use service mesh features

The Istio service mesh provides a few benefits:
- Allows you to turn on mutual TLS, which secures service-to-service traffic within the cluster.
- Allows you to use the Istio authorization policy, controlling the access to each Knative service based on Istio service roles.

[2020-09-04 02:04] yuzisun commented on #1068
@neolunar7 Could you help provide more details? I do not quite understand how that could happen

[2020-09-04 02:05] yuzisun commented on #1066
We have added the argo retries also.

[2020-09-04 02:05] #1066 closed

[2020-09-04 02:08] yuzisun commented on #1032
@Tomcli Any thoughts on how this should work?

[2020-09-04 02:09] yuzisun commented on #1076
this is related to https://github.com/kubeflow/kfserving/issues/1032

[2020-09-04 02:13] yuzisun commented on #1029
@jagadeeshi2i Can you try disable the istio proxy?

[2020-09-04 06:11] insoo67park commented on #1076
Thanks for your comments.
Eventually it seems to depend on if developer want to make istio-injection disable or not.
I agree on your thought.

I will close this issue.

[2020-09-04 06:11] #1076 closed

[2020-09-04 08:44] soochem commented on #845
@yuzisun, thank you for replying!
Following your direction, I tried alibi v0.4.0 and it worked fine in imagenet sample case!
Also, my tf.keras model's explainer worked normally with Predictor & Transformer
but showed internal error message in case for InferenceService without Transformer
I guess the output of naive TFServing predictor has different format from that of transformer
I'll figure it ou

[2020-09-04 08:55] aurorazl commented on #621
I submit a PR[https://github.com/kubeflow/kfserving/pull/1081](url) to support storageUri like file://.

[2020-09-06 13:19] #648 closed

[2020-09-07 03:00] 12DReflections commented on #513
To install KFServing you're required to have the azure-cli and azure-batch near to version 4.1 installed.

Try,

[code]

[2020-09-07 13:45] Luke035 commented on #849
I'm haiving the same issue here.

These are my resources
[code]

... and InferenceService
[code]

Logs are the same and I also noticed that env variable for S3 endpoints is not propagated

[code]

Any help would be really appreciated!

KF version 1.0.2
K8s version (EKS) 1.16

[2020-09-08 03:44] yuzisun commented on #849
@Luke035 which kfserving version you are on ?

[2020-09-08 13:58] Luke035 commented on #849
@yuzisun I don't exactly how to get the kfserving version, anyway I checked the `kfserving-controller` and it's using version 0.2.2

[code]

[2020-09-09 01:29] yuzisun opened #1083 "Long term e2e test plan for KFServing"
/kind feature

**Describe the solution you'd like**
We need to figure out a long term plan for running KFServing CI

Currently KFServing CI runs an Argo workflow in kubeflow-ci cluster with following testing steps
1) Run KFServing unit tests, sdk tests and lint checks
These steps are moving to use github actions.

2) Image build for KFServing controller, KFServer images and transformer/explainer i

[2020-09-09 01:30] yuzisun commented on #1083
/cc @animeshsingh @ellistarn @cliveseldon @jinchihe @yuzliu

[2020-09-09 19:50] Peilun-Li commented on #773
Hey we are super excited about the multi-model serving and GPU sharing feature! Is it something we'll see in the upcoming v0.5 release by the end of this quarter? (as in the [roadmap](https://github.com/kubeflow/kfserving/blob/master/ROADMAP.md#v05-api-stabilization-and-tco-reduction-eta-end-of-q3))

[2020-09-09 19:59] yuzisun commented on #773
@Peilun-Li that's the plan but it will be alpha quality.

[2020-09-09 21:21] yuzliu commented on #773
May I know your use case?

[2020-09-09 21:52] Peilun-Li commented on #773
It's a near real time streaming use case, where we'll have a bunch of requests coming in periodically, and we want to run them through a couple of models. Multi model serving could potentially achieve better resource utilization in this case than deploying those models separately (where we'll need to frequently scale-ups/downs), in trade-off with response time (which is not the top priority in thi

[2020-09-09 22:43] yuzliu commented on #773
Nice, that's exactly why we want to load multiple models in to an InferenceService. May I know how would you like to manage model version? Would you like to deploy them as different models or the same model with different versions?

[2020-09-09 23:16] Peilun-Li commented on #773
They would be of different models with different functionalities.

[2020-09-10 15:41] juliusvonkohout opened #1085 "Cannot change default CPU and Memory for inferenceservices"
/kind bug

`kubectl -n kfserving-system edit configmap inferenceservice-config`
[code]

kfserving/sklearn.yaml
[code]
kubectl apply -f kfserving/sklearn.yaml -n kfserving-test

but i still get

[code]

**What did you expect to happen:**

[code]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws

[2020-09-10 23:50] yuzisun commented on #1085
@juliusvonkohout we do not support that config currently, you need to overwrite the resources on inference service itself.

[2020-09-11 07:38] mokpolar opened #1086 "x509: certificate is not valid for any names, but wanted to match webhook.knative-serving.svc"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In the past, inferenceservice was well deployed, but at some point I see this error.
How can I fix this error?

[code]

**What did you expect to happen:**

inference

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

I checked t

[2020-09-11 15:24] yuzisun commented on #1086
@mokpolar seems like you have an invalid certificate for knative webhook, you can check the certificate secret with following command
[code]

[2020-09-12 09:06] mokpolar commented on #1086
We tried to solve this problem with the command you gave us, but we were forced to create a new EKS cluster because we didn't know where it went wrong and we didn't have enough time.

Thank you for your help!

[2020-09-12 12:44] yuzisun commented on #1086
@mokpolar not sure what's wrong with certs, but if you delete the secret, knative recreates the cert.

[2020-09-12 12:44] #1086 closed

[2020-09-14 13:52] DontStopMeNow commented on #1029
I have the same problem but with kfctl_k8s_istio.v1.1.0.yaml installation.

kubernetes: v1.14.10
knative: v0.11.2
istio: release-1.3-20200214-10-15
kfserving: v0.3.0

[code]

[code]
[code]
[code]
[code]

[2020-09-15 12:27] DontStopMeNow commented on #1029
I've found the solution in #1076 , but is there any way to disable istio-proxy when if I use [kfserving pipeline component ](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/kfserving/component.yaml)?

[2020-09-15 13:40] larssuanet opened #1088 "Alibi income explainer example fails"
/kind bug

**What steps did you take and what happened:**
I tried running the sample [alibi income explainer](https://github.com/kubeflow/kfserving/tree/v0.3.0/docs/samples/explanation/alibi/income) using alibi v0.3.0.

When running the sample prediction, it works:
[code]

However, getting an explanation fails. The explainer logs:

[code]

It seems like it has something to do with the alibi versio

[2020-09-15 13:50] yuzisun commented on #1088
/cc @cliveseldon

[2020-09-15 19:24] Tomcli opened #1089 "Should we upgrade the Knative version for KFServing?"
/kind feature
related https://github.com/kubeflow/kfserving/issues/1015
**Describe the solution you'd like**
Starting from KFServing 0.4 release, the logger API uses CloudEvents V1 which available on Knative Eventing 0.14.2+. Should we also consider updating the Knative serving version to something more recent?

**Anything else you would like to add:**
<del> I think Knative 0.16 is not working wit

[2020-09-15 19:29] Tomcli commented on #1089
/cc @animeshsingh

[2020-09-16 00:00] Jeffwan commented on #790
@ellistarn @animeshsingh @yuzisun

Trying to pull someone from internal torchserve team, seems they have different opinion on the V2. However, as we discussed, V2 is not necessary.  I am currently busy with test infra support on AWS and not able to catch up on this story. @ellistarn told me someone is interested in the story as well, If there's some one has interest, I would them to take the lead

[2020-09-16 00:55] Jeffwan commented on #790
@Jagadeesh Are you interested in implementing this feature?

[2020-09-16 06:20] yuzisun commented on #1089
@Tomcli Why Knative 0.16 is not working with KFS ?

[2020-09-16 06:25] yuzisun commented on #1088
@larssuanet check this https://github.com/kubeflow/kfserving/pull/866/files, looks like this doc did not get patched in to the 0.3 release branch.  I know it is a bit confusing but v0.3.0 is the KFS alibi image version not alibi library version

[2020-09-16 11:33] navneet1075 opened #1090 "kfserving inference service does not support --dry-run option"
/kind bug

**What steps did you take and what happened:**
create a inference service with dry run option .
[code]
spec has been changed to include some invalid fields in the tensorflow.yaml

[code]
when i create the without the dry run i get this error
[code]

**What did you expect to happen:**
Inference service  validator webhook should  throw 403 or 400 errros saying that unknown field in the re

[2020-09-16 15:49] mokpolar opened #1091 "Inference for deployed triton pod fails, is there a way to determine why?"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I downloaded "mobilenet" and saved it as a pb file, created config.pbtxt and deployed it.

config.pbtxt
[code]
And after making the image into json file in 224,224,3 form, executed the inference.
And I got 400 Bad Request error.

I want to know where the problem occurred, but like other

[2020-09-17 02:14] yuzisun commented on #1091
@deadeyegoodwin Any idea?

[2020-09-17 06:21] narennadig opened #1092 "logs for inferenceservice"
`* upload completely sent off: 42 out of 42 bytes
< HTTP/1.1 500 Internal Server Error
< content-length: 93
< content-type: text/html; charset=UTF-8
< date: Thu, 17 Sep 2020 06:14:59 GMT
< server: istio-envoy
< x-envoy-upstream-service-time: 4727
<
* Connection #0 to host 169.46.83.189 left intact
<html><title>500: Internal Server Error</title><body>500: Internal Server Error</body></html>

Hey,
h

[2020-09-17 06:49] Iamlovingit commented on #1092
use `kubectl get pods -n kfserving` to get the pod name, then use the `kubectl logs -n kfserving $podname -c $containername` to get the log

[2020-09-17 11:48] narennadig commented on #1092
thanks @Iamlovingit :)

[2020-09-17 16:06] deadeyegoodwin commented on #1091
The 400 response should return a json body with error details, if the error is coming from Triton. You can also run Triton with --log-verbose=1 and check the container logs to see if there is some console output indicating reason for failure.

[2020-09-17 17:12] mokpolar commented on #1091
Sorry, I tried without understanding the structure of the Triton inference.
Like any other inferenceservices, the error was caused by trying to request POST to the inferenceservice.

As in the BERT example, I created a transformer and used InferContext for the predict function.
I got
[code]

Thank you!!

[2020-09-17 23:00] Tomcli opened #1093 "Proposing a new explainer framework"
/kind feature

**Describe the solution you'd like**
Hi everyone, we want to propose a new explainer framework called [AIX360](https://github.com/Trusted-AI/AIX360). In our first version, we will focus on consolidating the v1alpha2 and v1beta1 API on the AIX360 Lime integration. We will add more explainer such as SHAP to our explainer Server.

For more details, visit our design doc at http://bit.ly

[2020-09-18 08:23] larssuanet commented on #1088
@yuzisun I retried on the 0.3 release branch.

After training the model and explainer and deploying them, I get the following error:
[code]

Suspecting this was a dill version error, I downgraded dill from 0.3.2 to 0.2.7.1 and ran again. Then this error came up:
[code]

Still seems like a version mismatch

[2020-09-18 09:46] larssuanet commented on #1088
After downgrading alibi to 0.3.2 as I found this is the version the [explainer server runs on](https://github.com/kubeflow/kfserving/blob/0d64937ae90b2910d93a20c07ecb3748f0314413/python/alibiexplainer/setup.py#L36) , the server starts successfully. However, I am now back to the original error:
[code]

[2020-09-18 14:30] Talador12 commented on #706
Who is working on this? Support for Spark ML would be a huge boon for KFServing!

[2020-09-18 16:59] yuzisun commented on #1091
@mokpolar Glad it is working for you! I am closing out this.

[2020-09-18 16:59] #1091 closed

[2020-09-18 19:38] Talador12 opened #1095 "Support for h2o.ai"
/kind feature

Hi, our current pipeline and models are implemented using h2o.ai. After looking at the examples I realize we currently don't support h2o.ai. Can we include the h2o.ai model server as an additional feature in the next release? Thanks

[2020-09-18 19:51] yuzisun commented on #1095
@Talador12 we are not familiar with h2o.ai, could you help make a proposal how this can get integrated to KFServing?

[2020-09-18 19:53] Talador12 commented on #1095
h2o.ai packaged models translate easily with pyspark, so it would be largely tied to #706

[2020-09-19 00:09] Tomcli commented on #1089
Thanks @yuzisun, For Knative 0.16 I'm deploying with
Istio 1.6.8
Knative 0.16
KFServing 0.4
Kubernetes 0.16.14

Here are the events for one of the inferenceservice
[code]

[2020-09-19 01:24] Tomcli commented on #1089
Thanks @yuzisun, so Knative 0.16 is working when we install istio with istioctl with operator. But we have to pay attention when we leverage the istio 1.1.6 and istio 1.3.1 with Dex when upgrading it for kubeflow.

[2020-09-19 20:52] yuzisun commented on #1088
@larssuanet are you using the alibi image from `docker.io/seldonio/kfserving-alibiexplainer` ?

[2020-09-19 20:59] yuzisun commented on #1033
Please reopen if this is still an issue for you.

[2020-09-19 20:59] #1033 closed

[2020-09-19 21:02] #226 closed

[2020-09-20 06:32] mahsanaru opened #1096 "Encountering 404 Not Found while using sklearn example"
/kind bug

**What steps did you take and what happened:**
used sklearn example to run a predictor module.

After observing inferenceservices' READY become true, I was expecting to be able to use predictor module successfully.

 ` $ kubectl get inferenceservices sklearn-iris  -n admin`
`NAME           URL                                                            READY   DEFAULT TRAFFIC   CANARY TR

[2020-09-20 09:22] larssuanet commented on #1088
@yuzisun I was not. It seems like I installed my installation before the patch. I updated the image and everything seems to be working fine now. Thanks for the help!

[2020-09-20 09:22] #1088 closed

[2020-09-20 17:47] yuzisun commented on #1096
@mahsanaru Can you provide more details or the command you can using to send the request to the service ?

[2020-09-20 21:08] #1004 closed

[2020-09-20 21:32] tduffy000 commented on #1067
@Tomcli @rakelkar  looks like https://github.com/kubeflow/kfserving/pull/1078 got merged so we should be able to update the example to point at the ONNX model zoo now.

[2020-09-21 04:00] rakelkar commented on #1067
Sure, feel free to raise a PR to update the example!

[2020-09-21 05:14] mahsanaru commented on #1096
I used the following commands:
`kubectl port-forward --namespace istio-system $(kubectl get pod --namespace istio-system --selector="app=istio-ingressgateway" --output jsonpath='{.items[0].metadata.name}') 8080:80`

`curl -v -H "Host: sklearn-iris.default.example.com"  -H "Cookie: authservice_session=${SESSION}" http://localhost:8080/v1/models/sklearn-iris:predict -d @./docs/samples/sklearn/iris-i

[2020-09-21 12:45] akshatgit commented on #568
I faced the same issue when I upgraded my GKE cluster from minor version 14 to 17.
@yuzisun's patch worked for me.

[2020-09-21 19:43] #904 closed

[2020-09-21 22:01] whillas commented on #1033
Have given up on it for now. Deadlines.

[2020-09-21 22:51] yuzisun opened #1098 "Generate KFServing v1beta1 Python SDK"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-09-21 22:54] yuzisun commented on #1098
/cc @jinchihe @Tomcli

[2020-09-22 01:13] yuzisun commented on #1096
@adrian555 Any thoughts? this is using Kubeflow 1.1 with Dex

[2020-09-22 09:45] mahsanaru commented on #1096
Thank you for your time.

I reinstalled kfserving in my cluster and after that the error changed from 404 to `HTTP/1.1 504 Gateway Timeout`. After that I found my solution here [#1076](https://github.com/kubeflow/kfserving/issues/1076)

I will close this issue.

[2020-09-22 09:45] #1096 closed

[2020-09-24 01:38] jinchihe commented on #1098
/assign

[2020-09-26 00:18] #1059 closed

[2020-09-29 00:35] #1093 closed

[2020-09-29 01:28] yuzisun commented on #790
I have done a bit research on torchserve, our current pytorch spec won't change much, it is more about the implementation change.

Torchserve provides a model archiver which mainly support two model formats

**Eager mode model**
- Serialized model file(.pt): the file presents the state_dict in case of eager mode model
- Model file: the file contains the model class extended from torch.nn.modules r

[2020-09-29 22:19] panchul opened #1108 "Could not use KFServing with Kubeflow v1.1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When I try to run samples on a Kubeflow cluster(v1.1), I could not create kfserving crd. For example:

[code]

**What did you expect to happen:**

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

I tried adding the labe

[2020-09-29 22:21] ellistarn commented on #1108
What did you add the label to? The namespace needs to be labeled.

[2020-09-29 22:38] panchul commented on #1108
@ellistarn , hm... the doc did not mention it, I thought they would be by default labeled enable.
I did try labeling them manually, (`label namespaces default serving.kubeflow.org/inferenceservice=enabled`), but I could not get the service host as I expected:
[code]
The error for inferenceservice I see is `Configuration "style-sample-predictor-default" does not have any ready Revision.`

Any sugge

[2020-09-29 22:52] panchul commented on #1108
Here is the `style-sample` being deployed. It does not go to 'Ready' state.

[code]

[2020-09-29 23:17] yuzisun commented on #1108
@panchul please check this issue https://github.com/kubeflow/kfserving/issues/1067, that onnx model url no longer works.

/cc @tduffy000 @rakelkar

[2020-09-29 23:55] tduffy000 commented on #1108
@panchul if you want a working example (using the ONNX framework with the iris model), you can use this one for now https://github.com/tduffy000/kfserving-uri-examples/blob/master/crd/onnx.yaml (might need to address the namespace discrepancy mentioned above); I'm working on addressing the example in the repo currently.

[2020-09-30 00:02] panchul commented on #1108
@tduffy000 , thanks! I will try.

[2020-09-30 00:08] yuzisun commented on #1108
@panchul I think the kfserving version you are running does not support http storage uri yet. You might need to download the model from that url and host it somewhere else like gcs or s3 bucket .

[2020-09-30 02:07] panchul commented on #1108
@yuzisun , I saw it was ok with 'file://', so I just downloaded it locally, and it seem to create an inference object, but it is not functioning. What are the 'Revision's, the error message says they are missing, is it something I need to create? How?

[code]

[2020-09-30 16:33] adriangonz opened #1111 "Add support to deploy SKLearn and XGBoost models with MLServer"
/kind feature

**Describe the solution you'd like**
Add support to deploy SKLearn and XGBoost models compatible with the [V2 Dataplane](https://github.com/kubeflow/kfserving/tree/master/docs/predict-api/v2), leveraging [MLServer](https://github.com/seldonio/mlserver).

**Anything else you would like to add:**
For the initial step, we could just focus on the serving aspect (i.e. the basic V2 Datapl

[2020-09-30 18:35] panchul commented on #1108
@yuzisun , I feel I am very close to make it work, but for some reason gs:// model uri does not work. I uploaded the model to a bucket public, its https uri https://storage.googleapis.com/alexbucket4misc/model.onnx is fine(from a browser), but when I reference  `gs://alexbucket4misc/model.onnx`, I get an error(`Anonymous credentials cannot be refreshed`).

Am I doing something wrong, or missing an

[2020-09-30 19:07] panchul opened #1112 "Model uri `file://` does not work for local files"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Attempting to deploy the sample on Kubernetes cluster that has Kubeflow 1.1.

As far as I know, in `InferenceService` .yaml, `storageUri, must be one of: [gs://, s3://, pvc://, file://] or match https://{}.blob.core.windows.net/{}/{} or be an absolute or relative local path.`

However, l

[2020-10-01 16:52] decewei commented on #1034
I'm trying to fix this in v0.3.0, as this is a roadbloack for us:
So we changed
1 targetPort: 443  to 9443 in https://github.com/kubeflow/kfserving/blob/0d64937ae90b2910d93a20c07ecb3748f0314413/install/v0.3.0/kfserving.yaml#L7064
2 Add https://github.com/kubeflow/kfserving/blob/0d64937ae90b2910d93a20c07ecb3748f0314413/cmd/manager/main.go#L54
[code]

Now KFServing controller is running, but when I

[2020-10-01 17:30] decewei commented on #1034
For people using v0.3.0, the webhook service file is here: `/config/default/webhook/service.yaml`

Change targeport 443 to 9443.

[2020-10-01 17:30] yuzisun commented on #1112
@panchul we do not support local file, the model should be either on cloud storage like gcs/s3 or pvc.

[2020-10-01 17:40] adrian555 commented on #1034
Thanks @decewei, could you please assign the issue to yourself and push a PR if you have done the testing? We have done similar thing with KfServing installed through Kubeflow but had no time to test this standalone case yet. Also cc @pugangxa

[2020-10-01 18:37] panchul commented on #1112
@yuzisun , Thanks for clarifying that. I was misled by the error message kubectl prints for cases other than gcs/s3/pvc.

[2020-10-01 23:35] pvaneck commented on #1015
/assign @pvaneck

[2020-10-01 23:50] animeshsingh commented on #1015
thanks @pvaneck

[2020-10-05 12:30] pugangxa commented on #1112
I once had a PR #622 to remove the "file://" type totally, but closed that since it's not important at that time. I think we should redo the task, or at least remove the misleading message included in that PR. I will do it.

[2020-10-05 12:38] pugangxa commented on #1095
I once used h2o in an investigation project, it's very easy to use. Great to see this!

[2020-10-05 15:01] decewei commented on #1034
I'm happy to do a PR and testing since it's mostly done for this branch. But I'm not a member of this repo, not sure how I can or should assign an issue to myself. Let me know.

[2020-10-05 15:10] yuzisun commented on #1034
@decewei you do not need to be in the org to create the PR, feel free to send over the PR.

[2020-10-05 15:19] #1048 closed

[2020-10-05 17:38] yuzisun commented on #1112
thanks @pugangxa ! Totally agree, this is so confusing.

[2020-10-05 18:08] panchul commented on #1112
Thanks. I myself thought of contributing to this fine project by creating a PR with that fix. :-) But if it is already there, please let it go through - the folks who use Azure reach out for `file://` option often, because `gsc/s3` is not available.

[2020-10-07 12:16] ValdasK commented on #913
I have exactly same issue, all samples that I try to install give 503 response. I'm also using GCP IAP and your @yuzisun examples on how to set them up.

[2020-10-07 13:39] pugangxa commented on #1034
Thanks @decewei , I am doing the similar things, let me know if you encounter some issue or do not have time to do this.

[2020-10-07 17:14] panchul opened #1116 "PyTorch sample fails with 'File exists' error"
/kind bug

**What steps did you take and what happened:**

Following the steps from the `Readme.md` in `/src/kfserving/docs/samples/pytorch`:
[code]

**What did you expect to happen:**
I expected it to confirm that the model was successfully created and is ready to be used by KFServing

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Pyth

[2020-10-07 18:22] yuzisun commented on #1112
@panchul how does `file://` work on Azure? we originally implemented it for local development purpose where you can load the model from your local machine.

[2020-10-07 18:37] panchul commented on #1112
That's exactly what I wanted - to feed a local file from right there on the vm where I executed `kubectl`(even simpler, a master node). I thought if .yaml file could be read, there should not be a big stretch to ingest another file from the same location with none of cloud storage nuances(network access, permissions, etc.).

[2020-10-08 00:22] pugangxa commented on #1112
In my opinion, should use pvc for local file. In fact since we don't know which node the pod will finally run the local os file will not take effect, the only use case I can imagine is to pack local file to your docker image during dockerfile building, the "file://"  prefix indicate the location for the model.

[2020-10-08 01:13] pugangxa commented on #1034
And in my test, released versions' port cannot be changed because we need rebuild manager but released version just use images from "gcr.io/kfserving/kfserving-controller:$TAG". So I can only change the target port from /config/webhook/service.yaml and main.go and then make deploy-dev to make it work(after code merged make deploy should work too)
@yuzisun Do you think we need change /install/${TAG

[2020-10-08 01:59] yuzisun opened #1117 "Installed KFServing SDK 0.4 but getting import error while running the custom built image"
/kind bug

**What steps did you take and what happened:**
Run a custom built image with KFServing SDK 0.4.
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
We have fixed this in master branch but looks like we need to patch the setup.py in 0.4 branch and release a new minor version

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kub

[2020-10-08 06:51] panchul commented on #1112
I think there is a huge usability value in system being able to pick up `file://`. The whole operation is just so atomic and obvious, it has to be made simple. Under the hood, and unbeknown to the non-infrastructure-savvy data scientist, there could be an automatically-created pvc, or some ephemeral distributed read-only blob storage that makes the magic happen.

[2020-10-08 09:31] theofpa commented on #1116
Hello @panchul, `kfserving` passes the `/mnt/models` path to the `--model_dir` parameter, which works because it's an absolute path. When the `--model_dir` is relative, the symlink doesn't work. So with #1118 I've updated the sample instructions to use the full path of the model instead. Also, make sure you'll remove the temp `example_model/model/pytorchmodel` directory before calling it again!

[2020-10-08 11:09] pugangxa commented on #1034
There's another issue during reconciling inferenceservice after the change, the log shows:
[code]
Investigated and seems need update RBAC to add permission for below resource to fix this issue.
[code]
My openshift cluster is not stable and will test this later.

[2020-10-08 16:09] panchul commented on #1116
Thanks. And, yes, I did noticed that additional problems with symlinks pop up if the directory already has a model. Some files create symlinks on themselves, and luckily it has a more action-able error message.

[2020-10-08 16:51] panchul commented on #1108
@yuzisun , is there any particular path expected? I am getting a different error, about the URI, which is what that file has(and I can access it via http ok)

[code]

[2020-10-08 17:48] panchul opened #1119 "Bug with gpu support in pytorchserver"
/kind bug

**What steps did you take and what happened:**
Attempting to reproducing `docs/samples/pytorch` pytorchserver demo. Installed pytorchserver as per Readme in the python/pytorchserver, and ran the inference template as per Readme in docs/samples/pytorch/.

On a cluster with gpus, receiving an error from pytorchserver, location: /kfserving/python/pytorchserver/pytorchserver/model.py", line

[2020-10-08 22:39] yuzisun commented on #1119
@panchul I think that's multi processing issue, if you set `parallelism: 1` that forces to use 1 worker. We recently made a fix to default #worker to 1.

[2020-10-09 00:01] #1116 closed

[2020-10-09 00:10] yuzisun opened #1120 "Transformer to support prediction v2 protocol"
/kind feature

**Describe the solution you'd like**
Transformer needs to be updated to work with prediction v2 protocol
- validate the request before sending to model server
- add v2 protocol endpoints for transformer, call v1 or v2 based on a flag

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-10-09 00:22] yuzisun commented on #1108
pinging our onnx expert @tduffy000 :)

[2020-10-09 00:24] yuzisun commented on #1034
No, releases are immutable. Once this is fixed it will be available for the upcoming 0.5 release.

[2020-10-09 01:05] #976 closed

[2020-10-09 01:08] yuzisun commented on #1067
I have uploaded the model to `gs://kfserving-examples/onnx/style` now, so it should work now.

[2020-10-09 01:08] #1067 closed

[2020-10-09 01:12] yuzisun commented on #1108
@panchul I think for gcs storage you need to specify the storage uri one level up which contains the `model.onnx` file.

I also uploaded the same model to `gs://kfserving-examples/onnx/style` so the example should work now.

[2020-10-09 01:27] #1108 closed

[2020-10-09 01:28] yuzisun commented on #1075
we lost the permission to `kfserving-samples` so I have uploaded the model to the new place `kfserving-examples` and updated the storage uri on the doc.

[2020-10-09 01:28] #1075 closed

[2020-10-09 02:05] #1092 closed

[2020-10-09 14:05] #1034 closed

[2020-10-09 18:52] Peilun-Li opened #1124 "Unexpected (false-positive) model ready status when using batcher"
/kind bug

Usually when deploying kfserving endpoint, the inferenceservices won't be marked as ready=True (can be monitored through `kubectl get inferenceservices` or python sdk `KFServing.get(watch=True)`) until the model gets ready (i.e., warmup finished through load function). However, this is not the case when using batcher: the inferenceservices will be marked as ready as soon as the batcher

[2020-10-10 01:33] yuzisun commented on #1124
/assign @zhangrongguo

[2020-10-10 01:47] yuzisun commented on #1035
fixed in https://github.com/kubeflow/kfserving/pull/1122.

[2020-10-10 01:47] #1035 closed

[2020-10-10 08:57] pugangxa opened #1127 "Kustomize does not replace vars in conversion webhook"
/kind bug

Deploy kfserving with blow command:
[code]

And then apply the sklearn sample, report:
➜  sklearn git:(update-controller-gen) ✗ k apply -f sklearn.yaml
Error from server: error when creating "sklearn.yaml": conversion webhook for serving.kubeflow.org/v1alpha2, Kind=InferenceService failed: Post https://$(webhookServiceName).$(kfservingNamespace).svc:443/convert?timeout=30s: service "$(w

[2020-10-10 08:58] pugangxa commented on #1127
Run ```kustomize build``` under config/default and the variable is not replaced:

[code]

[2020-10-10 08:58] pugangxa commented on #1127
/assign @jazzsir

[2020-10-10 11:44] yuzisun commented on #1127
@pugangxa this seems like worked fine for me when I run `kustomize build config/default`
[code]

[2020-10-10 13:32] pugangxa commented on #1127
En, maybe due to my kustomize version:
➜  kfserving git:(support-version-18) kustomize version
{Version:kustomize/v3.8.4 GitCommit:8285af8cf11c0b202be533e02b88e114ad61c1a9 BuildDate:2020-09-19T17:31:52+01:00 GoOs:darwin GoArch:amd64}

After ```kustomize build config/default``` other places replaced correctly but only these 2 fields in the conversion webhook failed...

[2020-10-11 00:37] pugangxa commented on #1127
Close it for now since it's OK after I changed to another kustomize version.

[2020-10-11 00:37] #1127 closed

[2020-10-12 06:18] kenwoodjw commented on #849
I'm haiving the same issue @Luke035 ,Do you slove it?

[2020-10-12 07:32] kenwoodjw commented on #849
kfserving-controller version 0.2.2 need to upgrade?

[2020-10-12 10:12] Mrreboot7 opened #1129 "kfserving request timeout"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
# pod
![image](https://user-images.githubusercontent.com/37145561/95734100-a2826300-0cb5-11eb-8d62-40505ad73b2c.png)

# user-container l

[2020-10-12 12:48] Bhavesh-Joshi commented on #620
Hi @mojokb  How do you fix it at last? I am also facing the same issue.

[2020-10-12 14:41] mttcnnff commented on #831
@Jeffwan I made this PR for using boto instead of minio for the storage initializer, seems related to this issue.
https://github.com/kubeflow/kfserving/pull/1130

[2020-10-12 21:27] theofpa commented on #1129
hey @Mrreboot7 , I am able to reproduce your problem, using similar versions as yours and the `kfserving-custom-model` with a `time.sleep(160)` in the `predict()`, getting the `504 gateway timeout` at 60 seconds.

kfserving.KFServer itself uses the non-blocking tornado which comes without a timeout setting.

Istio `VirtualServiceSpec.http.timeout` is `600s` in `1.1.6`, so this is also excluded.

I

[2020-10-13 00:01] yuzisun commented on #1129
timeout is already added in upcoming 0.5 release [here](https://github.com/kubeflow/kfserving/blob/31903fa2b257b74e2801f0be24e77d01061dcdea/pkg/apis/serving/v1beta1/component.go#L80), but I am curious why the model takes such long time for return?

[2020-10-13 06:54] theofpa commented on #1129
I'm not surprised, with an object detector trained on OID v4, we've been hitting the TF 30sec timeout on p50 of the inference requests. Good news that we've exposed the timeoutSeconds in the inferenceservice spec for the predictor on 0.5. It's missing the implementation in tensorflow/serving ([--rest_api_timeout_in_ms](https://www.tensorflow.org/tfx/serving/serving_config#miscellaneous_flags)) tho

[2020-10-13 16:48] panchul commented on #1119
Thanks. Just to clarify, is `parallelism:1` a setting inside pytorchserver, or should I pass it as command-line parameter? Where should I set it?

[2020-10-14 04:00] Mrreboot7 commented on #1129
@theofpa

[2020-10-14 07:44] theofpa commented on #1129
There is a workaround for 1.18 in #1070 or you can install it in latest 1.17. It works like a charm in `v1.17.12` that I've tested.

[2020-10-14 10:29] majorinche opened #1135 "unmarshall predictors due to invalid character"
kubeflow version: kfctl_k8s_istio.v1.1.0
istio versino:1.3.1 (installed along with kubeflow)
kubernetes version: 1.17.9 (installed in bare metal)

kfserving failed at:
This step is in Failed state with this message: Error from server: error when creating "/tmp/manifest.yaml": admission webhook "inferenceservice.kfserving-webhook-server.validator" denied the request: Unable to unmarshall predictors

[2020-10-15 00:50] Iamlovingit commented on #1070
Same issue, has there been any solution yet?

[2020-10-16 01:31] Iamlovingit commented on #1124
@Peilun-Li  Is there any more detail? could you put the container log here?

[2020-10-16 01:47] Peilun-Li commented on #1124
The main container won't output anything until the runtime error (as can be inferred from the app.py)

batcher sidecar log:
[code]

inferenceservices status:
at first ready
[code]

fallback to fail after 2 min
[code]

Some noticable behavior:

1. The batcher won't be restarted during the CrashLoopBackOff.
2. The inferenceservice will get ready=True status immediately once all containers are runnin

[2020-10-16 02:12] Iamlovingit commented on #1124
can you put the description of the pod when the service is crash? `kubectl describe pods -n $ns $podname`

[2020-10-16 02:14] Iamlovingit commented on #1124
If you remove the `batch` section, the service will turn to false too?

[2020-10-16 02:18] Peilun-Li commented on #1124
If removing `batch` section, the service will never be in ready=True status (forever false from the very beginning)

[2020-10-16 02:22] Iamlovingit commented on #1124
emm, I know what you are meaning now.  Thanks your report, I will fix this.

[2020-10-16 02:22] Peilun-Li commented on #1124
Here's the pod description

[code]

[2020-10-16 11:14] Bhavesh-Joshi commented on #1038
@robin2008 Can you please share the yaml which was worked for you while creating inferenceservice using pvc. Actually I having the exact same problem what you had face and described above. Thanks in advance!

[2020-10-16 15:29] yuzisun commented on #1098
@jinchihe Would you be able to help generate the v1beta SDK?

[2020-10-16 18:38] kd303 commented on #1029
@DontStopMeNow Are you running kf-serving with or without Dex? I have exactly same installation.. activator error are exactly same.
My issue is that the inference services are showing Ready = false

[123.txt](https://github.com/kubeflow/kfserving/files/5393691/123.txt)

[2020-10-16 18:39] panchul commented on #1112
We can close this issue, pvc on local file work, and it is an adequate alternative to `file://` on a cloud.

[2020-10-16 18:39] #1112 closed

[2020-10-16 19:26] kd303 opened #1138 "KFServing behind corporate proxy"
/kind bug

**What steps did you take and what happened:**
Deploying skLearn example without Dex, fail to load images.
In activator logs  "failed to fetch image information: Get https://gcr.io/v2/"
kubectl -n mmskubeflow get ksvc returns
Service returns ready=False and reason is "RevisionMissing"

kubectl logs -l model=sklearn-iris-v1 -c storage-initializer -n mmskubeflow

[I 201016 16:21:55 initia

[2020-10-16 22:49] panchul opened #1139 "Pytorch sample returns 'File exists: error'"
/kind bug

**What steps did you take and what happened:**

_This might be linked to https://github.com/kubeflow/kfserving/issues/1116 and https://github.com/kubeflow/kfserving/pull/1118_

When I follow the instruction with the sample for PyTorch, I receive an error 'File exists', and the model folder has symbolic links to the directory's content.

Steps to reproduce:

I clean up `pytorchmodel` and

[2020-10-17 11:50] kd303 commented on #1138
Out put of
kubectl get configuration sklearn-iris-v3-predictor-default --output json

"status": {
        "conditions": [
            {
                "lastTransitionTime": "2020-10-16T23:58:57Z",
                "message": "Revision \"sklearn-iris-v3-predictor-default-j95hk\" failed with message: Unable to fetch image \"gcr.io/kfserving/sklearnserver:v0.3.0\": failed to resolve image to digest:

[2020-10-17 13:35] yuzisun commented on #1138
@kd303 are you able to pull the above image behind your corporate proxy?

[2020-10-18 06:33] DontStopMeNow commented on #1029
@kd303 I think you have a different problem.

Following [this guide](https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md) may help. Or use commands from there to get status of other resources.

Also try to catch your pod logs if the guide won't help. Maybe there will be some errors
[code]

[2020-10-19 13:45] rtrobin opened #1142 "Custom image with pytorch or tensorflow model can't deploy on kfserving, but can deploy successfully as a normal pod."
/kind bug

**What steps did you take and what happened:**
I build an image prediction flask app using pytorch. Gunicorn is used to launch multiple pytorch model instances to speedup inference procedure. It works fine on local machine, using docker run command.

When I deploy it on KFServing, the pod is successfully deployed. But python processes are repeatedly rebooted. The service can't run succe

[2020-10-19 14:32] kd303 commented on #1138
Closing this issue and opening a new one. as the original issue is resolved by adding http_proxy settings in controller.

[2020-10-19 14:32] #1138 closed

[2020-10-19 14:48] kd303 opened #1143 "Kubeflow KfServing "Ingress Notconfigured""
/kind bug

**What steps did you take and what happened:**
Installed https://github.com/kubeflow/kfserving/tree/master/docs/samples/sklearn in on-premise Kubernetes cluster
Created a sample services, all containers are up and running (istio-init, sklearnserving, storageInitizer etc).
I have installed default Kfserving with kubeflow cluster

**What did you expect to happen:**
I expect the inference

[2020-10-19 14:49] kd303 commented on #1143
closingm will submit with appropriate logs.

[2020-10-19 18:35] kd303 commented on #1138
Yes Dan. You can set http_proxy, https_proxy and no_proxy env. Variables on
kfserving contoller logs.

On Sat, Oct 17, 2020, 7:05 PM Dan Sun <notifications@github.com> wrote:

[2020-10-19 20:46] yuzisun commented on #1143
@kd303 `sklearn-iris` is only created after the underlying ksvc is healthy, looks like somehow the knative probes to your ingress gateway is failing, can you check the `networking-istio` pod log following the debugging guide?

[2020-10-20 00:44] #1120 closed

[2020-10-20 01:23] yuzisun opened #1145 "Add a compatibility matrix for KFS supported model servers"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-10-20 04:55] kd303 commented on #1143
@yuzisun I have pasted the logs in original issue log, the ksvc is showing as "IngressNotConfigured", below are the logs from ```networking-isitio``` pod

[code]

[2020-10-20 06:17] kd303 commented on #1143
Apologies for flooding this tickets with logs, but I am trying this for last 4 days without any luck, multiple times I have gone through the debugging guide, any help would be appreciated, it is saying PredictorHostNameUnknown - is this something to worry about? :

[code]

[2020-10-20 15:39] josete89 commented on #848
@yuzisun any update on this one? I'm falling in the same error!

[2020-10-20 16:42] panchul opened #1148 "ONNX sample inference returns error 413"
/kind bug

**What steps did you take and what happened:**
Following the ONNX sample, https://github.com/kubeflow/kfserving/tree/master/docs/samples/onnx
Opening the sample notebook, providing the inference server ip, etc.
Receiving an error form the predictor:
[code]

**What did you expect to happen:**
I wanted to have the response "200 OK", and the JSON with the inference result.

**Anything else

[2020-10-21 05:37] jinchihe commented on #1098
@yuzisun just switched off from busy work, I'm starting to work on this.  Thanks

[2020-10-21 09:24] kd303 commented on #1143
Now my ingress has reconciled and service is looking up (after redeployment of IngressGateway/isito-networking) - mistry though is I was busy doing something else and then suddenly I see the services up...

Now my IngressGateway does not have an external IP, that is published as NodePort (port 80 i.e.)

when I run POST request I get 404 (ingress node port & IP)

[2020-10-21 11:28] iavinas opened #1151 "aggressive probe error: dial tcp 127.0.0.1:8080: connect: connection refused"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am getting this error when seeing the logs in the Pytorch server gpu example model in kfserving v0.4.

aggressive probe error:  dial tcp 127.0.0.1:8080: connect: connection refused
aggressive probe error:  dial tcp 127.0.0.1:8080: connect: connection refused
....

{"level":"error","ts

[2020-10-21 14:16] kd303 opened #1153 "Knative probes are failing after deploying sample sk-learn model, not able to call the URL"
/kind bug

What steps did you take and what happened:
Installed https://github.com/kubeflow/kfserving/tree/master/docs/samples/sklearn in on-premise Kubernetes cluster
Created a sample services, all containers are up and running (istio-init, sklearnserving, storageInitizer etc).
I have installed default Kfserving with kubeflow cluster

What did you expect to happen:
I expect the inference service

[2020-10-21 14:35] kd303 commented on #1143
Linking issue #1153 as both are same. The only way services are turning to ready state is by re-starting networking-istio and cluster-local-gateway pods.

[2020-10-21 23:54] panchul commented on #1148
Closing this issue. I was able to run it through, it seems to be a problem of the environment.

[2020-10-21 23:54] #1148 closed

[2020-10-22 05:03] seizadi opened #1154 "Model Serving not working on AWS Kubeflow with Cognito"
/kind bug

I have a Kubeflow on AWS EKS using AWS Cognito with ALB. Kubeflow dashboard, notebook server and pipelines work fine.  I have problem with kfserving model API access for model prediction. The model deploys in my namespace:

[code]
I get the session cookie from my browser and try a regular request to make sure my session cookie is valid:

[code]
This request works fine and now I try to c

[2020-10-23 11:02] kd303 commented on #1153
My Kubeflow installation is 1.1 and it is installed on premise no Dex is configured still I am getting 403 error, can you suggest if installing separate gateway is the only option here?

@yuzisun - apologies for tagging but is there any other solution to this?

[code]

[2020-10-23 12:54] yuzisun commented on #1153
@kd303 Do you have istio sidecar injected in the inference service pod? I think you have istio security turned on in the cluster and so istio is blocking the request to hitting the inference service main container.

[2020-10-23 13:10] yuzisun commented on #1143
@kd303 let's work out the issue on #1153, can we close this one?

[2020-10-23 13:12] #1119 closed

[2020-10-23 13:16] yuzisun commented on #1154
@seizadi Please upgrade to kubeflow 1.1 if possible for KFServing, there are known issues in 1.0.2 see #928 .

[2020-10-23 15:02] seizadi commented on #1154
I can upgrade to Kubeflow 1.1 and report, I did look at open issues with kfserving and noted this open issue for GCP IAP https://github.com/kubeflow/kfserving/issues/824.

Will  I have similar problem with AWS Cognito trying to get Host routing to work?

[2020-10-23 15:08] yuzisun commented on #1154
I think so, there is walk-around you can do but we'd definitely recommend upgrading to kubeflow 1.1.

[2020-10-23 15:13] seizadi commented on #1154
Ok, let me rebuild the cluster and we can discuss the work-around.

Similar to that issue with the work-around will AuthZ need to be disabled?

[2020-10-23 15:18] seizadi commented on #1154
Is there an IDP solution that will work with AuthZ, there is the Dex option, https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/ ?

[2020-10-23 17:18] yuzisun commented on #1154
@seizadi checkout the [dex example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex), AuthZ is not integrated with KFServing in kubeflow, so you would still need to either manually create the istio auth policy or disable the sidecar like in the example.

[2020-10-23 18:11] #1070 closed

[2020-10-24 15:03] rtrobin commented on #1142
We have a custom image with tensorflow model. It acts very like this: it can successfully run as a normal pod, but fail to run as inferenceservice. It reports error shown below:

` W tensorflow/core/framework/op_kernel.cc:1753] OP_REQUIRES failed at save_srestore_v2_ops.cc:184 : Invalid argument: resources/models/merged_model_cx_sub/variables/variables.data-00000-of-00001; Bad address`

It is conf

[2020-10-24 15:06] rtrobin commented on #1142
We have a custom image with tensorflow model. It acts very like this: it can successfully run as a normal pod, but fail to run as inferenceservice. It reports error shown below:

` W tensorflow/core/framework/op_kernel.cc:1753] OP_REQUIRES failed at save_srestore_v2_ops.cc:184 : Invalid argument: resources/models/merged_model_cx_sub/variables/variables.data-00000-of-00001; Bad address`

It is conf

[2020-10-26 00:41] yuzliu opened #1158 "Use configmap informer instead of fsnotify to watch MMS modelconfig change"
/kind feature

I have been working on https://github.com/kubeflow/kfserving/pull/1132 to integrate model agent, model server, trainedmodel controller to make MMS work e2e. I made the e2e POC working but I also saw that the agent received unexpected event like below which makes the agent to unload models.
[code]

I execed in to the agent container and found that Kubernetes periodically back up the

[2020-10-26 02:11] yuzisun commented on #1158
@yuzliu I think we knew this, that's why we only watch the
[CREATE event](https://github.com/kubeflow/kfserving/blob/master/pkg/agent/watcher.go#L80). We reconcile based on the content of the configmap so it should be still fine right?
The reason we did not use configmap informer is that we do not want agent to have k8s dependency, so agent can be tested standalone.

[2020-10-26 03:56] rtrobin commented on #1074
@stradigi-andres-de-castro hi buddy! Can you explain more about restriction of spawned child processes? I have encountered a similar [issue](https://github.com/kubeflow/kfserving/issues/1142). I use gunicorn sync mode with multi-workers. The docker image can be deployed and run successfully as a normal pod. But if the pod is deployed in kfserving, the service in pod keeps restarting.

Also we have

[2020-10-26 11:48] kd303 commented on #1143
sure, pls close.

[2020-10-26 11:52] kd303 commented on #1153
@yuzisun I have side care injected pls see the output, i dont think I have any security turned out its a plain cluster where I dont have to provide the logons to kubeflow dashboard..

[code]

[code]

[2020-10-26 12:20] kd303 commented on #1153
ok, I am just going dump my logs of various pods, order of which is

**networking-istio**

The IP in the below logs ```10.244.2.189``` is cluster IP of istio-ingressgateay

[code]

It seems to me only activator probes are failing because of RBAC, from everywhere else it seems fine, now the only suspect on envoy is it is checking for kubeflow-userid .. could that be an issue?

[2020-10-26 12:20] kd303 commented on #1153
pasing relevant configs:

[code]

[2020-10-26 12:26] Bhavesh-Joshi commented on #951
It's a long time now. Any idea on when of kfserving will be supporting version 1.18 of k8's ????

[2020-10-26 12:47] stradigi-andres-de-castro commented on #1074
Sorry @rtrobin that assertion is incorrect, I was wrong. However, the last line on your Docker container - the "CMD" entry is considered the "init", kube will listen to only that process. Gunicorn forks - creates child processes, and now you have a system where kube in unaware of your your child processes and depends entirely on gunicorn to reap them.

This is why I suggest to keep the integration

[2020-10-26 14:37] yuzliu commented on #1158
Ok, that makes sense! Will close the issue for now.

[2020-10-26 14:37] #1158 closed

[2020-10-26 15:56] yuzisun opened #1159 "Support cloud events for KFServing custom framework"
/kind feature

**Describe the solution you'd like**
As a user when doing feature transformation the payload can be protobuf/avro or some other binary format delivered via HTTP or KAFKA in cloudevent binary format(https://github.com/cloudevents/spec/blob/v1.0.1/kafka-protocol-binding.md#32-binary-content-mode) but currently KFServing custom framework [only supports JSON](https://github.com/kubeflow

[2020-10-26 20:37] PatrickXYS opened #1160 "Moving presubmit jobs to Shared Test-infra (AWS CI)"
Community is asking different WG to own their infra and community won't provide a GCP common shared testing infra anymore. Sees kubeflow/testing#752 for more details.

Katib and Pytorch migration works well and here's the PR to update test case to work on AWS Prow+ Argo cluster.
kubeflow/pytorch-operator#305

As we discussed offline, creating this issue to keep track migration work for kfserving.

[2020-10-27 00:14] yuzisun commented on #1160
thanks @PatrickXYS !

/cc @jinchihe

[2020-10-27 07:16] rtrobin commented on #1074
@stradigi-andres-de-castro Thanks for your hint. Now my problem is fixed. Due to the multi-process scheme I use, the pod runs OOM, so that gunicorn keeps restarting child processes.

My new question is: what the default memory setting is in kfserving? I had expected pod deployed in kfserving had no limit restrict if not explicitly indicated. @yuzisun

[2020-10-27 07:21] rtrobin commented on #1142
Ref to discussion [here](https://github.com/kubeflow/kfserving/issues/1074#issuecomment-717040382), the pod runs OOM. Adjusting memory limit could fix the issue.

[2020-10-27 07:21] #1142 closed

[2020-10-27 07:58] kd303 commented on #1153
@yuzisun Pls ignore above logs now, and redeploy the cluster just to be sure

ok, I cleaned all the services everything that was available on the cluster, I no longer get RBAC error, Please see the issue description now:

[code]

**activator** logs are below:

[code]

It is trying to probe 10.244.3.43 which is my Pod IP, where sk-learn service is deployed, the probe is failing at ```10.09.251.28:8

[2020-10-27 08:19] kd303 commented on #1153
It seems when I follow [Knative Debugging](https://knative.dev/v0.16-docs/serving/debugging-application-issues/) guide, below step is not as expected, route names are shown in the label

[code]

[2020-10-27 11:01] kd303 commented on #1143
@yuzisun I have side care injected pls see the output, i dont think I have any security turned out its a plain cluster where I dont have to provide the logons to kubeflow dashboard..

Pls note I have the envoy debugging turned on for rbac & http2 logs enabled.. on activator my logs are failing with RBAC error, I am not sure what is wrong..

[code]

[code]

http://10.2

[code]

[code]

[2020-10-27 11:02] #1143 closed

[2020-10-27 11:02] kd303 commented on #1143
will be tracked as a part of #1153

[2020-10-28 01:44] yuzisun commented on #1153
@kd303 looks the inference service is actually in ready state now? Can you actually curl the service ?

[2020-10-28 01:47] #1117 closed

[2020-10-28 01:47] yuzisun commented on #1117
fixed in KFServing SDK 0.4.1

[2020-10-28 02:02] yuzisun commented on #1044
we are going to migrate KFServing CI to AWS https://github.com/kubeflow/kfserving/issues/1160

[2020-10-28 02:02] #1044 closed

[2020-10-28 02:14] #1029 closed

[2020-10-28 02:16] #1043 closed

[2020-10-28 02:23] yuzisun commented on #456
closing old issue

[2020-10-28 02:23] #456 closed

[2020-10-28 02:24] #607 closed

[2020-10-28 02:25] #347 closed

[2020-10-28 06:45] kd303 commented on #1153
@yuzisun the curl returns 404

[code]

[2020-10-28 13:13] kd303 commented on #1153
@yuzisun Thanks for all the help, I could resolve the issue however I would like point out the issue so that this helps others and may be included in documentation section page, its been some work all these days.

The failing probes remains a mistry as after couple of re-deployment of knative pods things work fine.

I was testing with Postman and other tools again this is a dev environment where n

[2020-10-29 08:32] kd303 commented on #1153
@yuzisun further updates, my other hunch is ClusterRbacConfig has only istio-system name-space in exclusion (by default even on a non-dex on-remise cluster, so one may have to add the namespace where the KFServing models are getting deployed.

I think some updates to the KfServing Debugging documentation may be necessary.

[2020-10-29 18:22] #1098 closed

[2020-10-29 22:02] connorlwilkes commented on #913
@yuzisun I am facing this issue also. I am able to curl the service (sklearn-iris-predictor-default.namespace.svc.cluster.local) completely fine from within the cluster but when I run from outside the cluster I am getting '503 errors'. I have turned on access logging and I can see the following in my cluster-local-gateway:

`{"duration":"0","downstream_local_address":"10.1.0.198:80","upstream_tran

[2020-10-30 01:47] CreatorSky commented on #951
@yuzisun I see there is a PR (https://github.com/kubeflow/kfserving/pull/1128) to enable support for k8s 1.18, can we apply the update (0.4.1) to existing kfserving (under kubeflow namespace) installation?

[2020-10-30 12:20] yuzisun commented on #951
@CreatorSky @Bhavesh-Joshi we are patching 1.18 support to KFS 0.4.1 release and the fix is going to be in kubeflow 1.2 release.

[2020-10-31 01:44] yuzisun commented on #1074
@rtrobin the default limit is 2Gi, it is good practice to always specify a memory limit in k8s environment to prevent impacting the other pods on the same node.

[2020-10-31 04:11] yuzisun opened #1171 "Istio dep upgrade breaks the cluster with existing virtual services"
/kind bug

**What steps did you take and what happened:**
the new istio dep upgrade seems to break the cluster with existing virtual services that still uses the deprecated `websocketUpgrade` field.

[code]

**What did you expect to happen:**
Upgrading to new release should not break the existing cluster

**Anything else you would like to add:**

**Environment:**

- Istio Version: 1.3
- Knative Ve

[2020-10-31 04:11] yuzisun commented on #1171
/cc @ryandawsonuk

[2020-10-31 08:23] ryandawsonuk commented on #1171
Good spot. We hit the same problem on Seldon so I should have remembered really - https://github.com/SeldonIO/seldon-core/issues/1695

I remember we found a way to get it to tolerate the field. I think there was a flag somewhere. Will have to find what we did.

[2020-10-31 08:34] ryandawsonuk commented on #1171
Fix was this
https://github.com/SeldonIO/seldon-core/commit/e7f4c7622f266be5a448b604e7b9adebfd752841

Same as https://github.com/knative/serving/issues/7320#issuecomment-625148312

[2020-10-31 09:15] jiujiang commented on #1033
I have faced this problem also ,GOD!

[2020-11-01 11:11] jiujiang opened #1173 "The predictor imagePullPolicy was "Always" in default, and I can not set it to "IfNotPresent""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp

[2020-11-02 01:55] jiaqianjing opened #1174 "Can not use sklearnserver"
/kind bug

**What steps did you take and what happened:**
Firstly, sklearn and sklearnserver has been installed. (see that https://github.com/kubeflow/kfserving/tree/master/python/sklearnserver).
but when I execute following command
[code]
I can get this message:
[code]

**Environment:**
kubeflow 1.10

[2020-11-02 02:25] yuzisun commented on #1174
/cc @wengyao04

[2020-11-02 02:29] yuzisun commented on #1173
@jiujiang can you elaborate which image specifically?

[2020-11-02 09:11] aishwary09 commented on #929
" I have replicated the same with minio client. its authentication keys" can anyone suggest what this means, in final comment when @tiru1930 found the solution

[2020-11-02 14:24] #1160 closed

[2020-11-02 15:14] wengyao04 commented on #1174
KFModelRepository is introduced for multi-model and is not in kfserving 0.4.1, it will be released in 0.4.2. My suggestion is that
1) follow [kfserving installation](https://github.com/kubeflow/kfserving/blob/master/python/kfserving/README.md)
2) install sklearnserver

[2020-11-02 18:06] yuzisun commented on #951
released in 0.4.1

[2020-11-02 18:06] #951 closed

[2020-11-02 18:07] yuzisun commented on #922
released in 0.4.1

[2020-11-02 18:07] #922 closed

[2020-11-02 21:54] #1171 closed

[2020-11-03 13:49] pkourouklidis opened #1177 "Inference service not sending cloud events."
/kind bug

**What steps did you take and what happened:**
I deployed the flower-sample inferenceService along with a Knative Trigger and the event-display image as a Knative Service. After sending an inference request and receiving a response, the inferenceService doesn't send the cloud event to the default broker in the namespace. The logs from the inferenceservice-logger container in the pod tha

[2020-11-03 14:28] chauhang opened #1178 "Add TorchServe as a CustomServer for KFServing"
/kind feature

**Describe the solution you'd like**
This feature will add support for using [TorchServe](https://github.com/pytorch/serve) as a CustomServer in KFServing. TorchServe user's can use the TorchServe Management and Inference APIs they are already familiar with along with dynamic auto-batching and other features on TorchServe and use it in their KFServing deployment. The integration wil

[2020-11-03 14:31] chauhang opened #1179 "Add support for External Storage for TorchServe CustomServer integration"
/kind feature

**Describe the solution you'd like**
This feature will add support for using External Storage for the TorchServe Custom Server integration with KFServing. Detailed steps will be provided.

**Anything else you would like to add:**

[2020-11-03 14:39] chauhang opened #1180 "Add TorchServe Predictor for v1beta1 api integration with KFServing"
/kind feature

**Describe the solution you'd like**
This feature will add support for [TorchServe](https://github.com/pytorch/serve) as a predictor for serving PyTorch models in KFServing using the v1beta1 API spec. It will cover:

1. TorchServe predictor for v1beta1 - base API integration
2. Create a virtual service for the deployed model
3. TorchServe deployment example
4. Detailed instructions

[2020-11-03 14:45] chauhang opened #1181 "Add TorchServe Model Archive creating support"
/kind feature

**Describe the solution you'd like**
This feature will add support for creating the [TorchServe Model Archiver file](https://github.com/pytorch/serve/tree/master/model-archiver) for serving PyTorch models. It will include detailed steps for generating the MAR file using a mechanisms provided by K8s/KFServing.

[2020-11-03 16:05] yuzisun commented on #1181
thanks @chauhang ! Can we setup a meeting with you to go over these issues?

[2020-11-05 01:50] seizadi commented on #1154
Ok, I finally was able to upgrade to 1.1.0, it was not as easy as I expected:
https://github.com/kubeflow/kubeflow/issues/5370#issuecomment-722053414

So I'm back to where I am in applying the model:
[code]
and get the 404 error, how should I try to patch this to work with Kubeflow 1.1.0?

[2020-11-05 02:51] jiaqianjing commented on #1174
3Q.

[2020-11-05 02:51] #1174 closed

[2020-11-05 10:15] Mrreboot7 commented on #1129
@theofpa Thank you, I successfully deployed kfserving v0.4.0 in kubernetes v1.17.2

[2020-11-05 10:15] #1129 closed

[2020-11-05 16:22] #1015 closed

[2020-11-05 22:21] whillas commented on #1033
yeah, as with all Google projects, support is amazing!

[2020-11-06 02:47] seizadi commented on #1154
I followed instructions for
[GCloud IAP](https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-iap).

This is the updated python script I used to make request:

[code]
The request makes it way to the predictor, but I get a 400 error:
[code]
Here is the error message I get from my client:
[code]
Looks like the data is not getting to the
[kfserving json decoder](https://github.com/kubef

[2020-11-06 05:04] yuzliu opened #1187 "Write e2e test for MMS InferenceService"
Follow the instructions in https://github.com/kubeflow/kfserving/pull/1132 and add e2e tests for Multi-model serving InferenceService.

[2020-11-06 07:33] lynnmatrix opened #1188 "Support LightGBM model"
/kind feature

**Describe the solution you'd like**
Add support to deploy LightGBM model

**Anything else you would like to add:**

[2020-11-06 19:15] seizadi commented on #1154
I added small fix to the client script to send out request in JSON:
[code]
It generates the prediction result:
[code]

[2020-11-06 19:15] #1154 closed

[2020-11-07 02:53] Sifat1998 opened #1192 "Kube"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-11-08 14:17] pkourouklidis commented on #1177
Solution:

Use the url field to send the cloud events to an existing broker in your namespace.
In order for this to work you need KFserving 0.4 or later as previous versions don't work properly with cloud events v1.
Double-check your version of KFserving as kubeflow 1.1 comes by default with KFserving 0.3

[2020-11-08 14:18] #1177 closed

[2020-11-08 19:30] jal06 commented on #824
@yuzisun , I have 2 questions about the gcp-iap sample

(I am using Kubeflow 1.1 in GCP deployed using gcp-blueprint)

1- In script [make-prediction.sh](https://github.com/kubeflow/kfserving/blob/master/docs/samples/gcp-iap/make-prediction.sh) , i need to set the variable ${INGRESS_DNS} - the external dns of the loadbalancer service / gateway

How could I retrieve the external dns of the loadbalan

[2020-11-08 21:45] yuzisun commented on #1192
I am closing this as there is no description.

[2020-11-08 21:45] #1192 closed

[2020-11-09 17:51] kdecyllene opened #1197 "Error X509 : Internal error occurred: failed calling webhook "inferenceservice.kfserving-webhook-server.pod-mutator""
/kind bug

Hi,

We use kubeflow for our business and recently had a problem or unfortunately nothing is working anymore. Currently we have this error:

Reissued from statefulset/jupytermain: create Pod jupytermain-0 in StatefulSet jupytermain failed error: Internal error occurred: failed calling webhook "inferenceservice.kfserving-webhook-server.pod-mutator": Post "https://kfserving-webhook-server

[2020-11-10 20:45] #1178 closed

[2020-11-10 20:57] #1111 closed

[2020-11-10 22:13] #1179 closed

[2020-11-11 02:21] OmriShiv commented on #1153
Just ran into this issue as well. To clarify for future me who googles this next time:
`kubectl edit clusterrbacconfig default` and add the model namespace to the list

[2020-11-11 09:36] jal06 opened #1199 "Exception: Bad response from application: 503 when sending a prediction request through ingress and IAP for KFServing GCP/IAP Example"
/kind bug

**What steps did you take and what happened:**
When trying KFServing GCP/IAP example from this page https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-iap, I get a 404 error  when testing the external predict endpoint using iap_request.py

Just for information, when sending requests, I am using the service account which was created when deploying Kubeflow 1.1 using gcp-b

[2020-11-11 10:38] ryandawsonuk opened #1200 "can't install 0.4.0 on k8s 1.18+"
Tried installing 0.4.0 with each of these KIND images:
[code]

Am using `kubectl apply --validate=false -f ./install/v0.4.0/kfserving.yaml`.

I get
[code]
Had expected the `--validate=false` woudl be enough to be able to install the CRD but it seems not. And the manager then doesn't start as it results as it gives this error:
[code]

1.17 works and the pre-requisites say "Kubernetes 1.15+ is the r

[2020-11-11 11:41] jal06 commented on #1199
Hummm, I did a few errors when setting variables in make-prediction.sh

I didn't set correctly the variables GOOGLE_APPLICATION_CREDENTIALS and INGRESS_DNS

If I modify those 2 variables as below ,
[code]
(for INGRESS_DNS, the 1rst part is kubeflow instead of ${KF_NAME}

I get the error below
`python iap_request.py https://kubeflow.endpoints.xxxx.cloud.goog/kfserving/kfnamespace/sklearn-iap:predic

[2020-11-11 14:10] ryandawsonuk commented on #1200
Seems to be fixed in https://github.com/kubeflow/kfserving/pull/1176

[2020-11-11 15:13] #1200 closed

[2020-11-12 08:40] jal06 commented on #1199
After some investigations, I did the below modifications in [make-prediction.sh](https://github.com/kubeflow/kfserving/blob/master/docs/samples/gcp-iap/make-prediction.sh) and in [virtual-service.sh](https://github.com/kubeflow/kfserving/blob/master/docs/samples/gcp-iap/virtual-service.yaml)  and I get now an error 503 :
[code]

Below are the modifications I did :
1- in [virtual-service.yaml](http

[2020-11-12 21:19] yuzisun opened #1203 "MMS model agent gets panic when downloading models"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_

[2020-11-13 18:05] #1203 closed

[2020-11-13 19:39] JakeTheWise commented on #771
Can you explain how this is a tensorflow issue if `tf.keras.models.load_model('gs://models/samples/mnist-sample-tf/3')` works? And if `gsutil cp` works? Seems like it's an issue with `_download_gcs` that needs to be addressed...

[2020-11-13 23:18] bestowjay commented on #771
hmm i thought i reopened this elsewhere, but maybe i didn't. i think this might actually be related to how something is iterating over a blob. it looks at a "folder" which doesn't actually exist in GCS, and in my example is `4`, and touches a file on the filesystem, then when we try to move into that path as a directory we can't because it's a file.

[2020-11-14 01:18] JakeTheWise commented on #771
Yeah I agree. I made a PR to fix this. https://github.com/kubeflow/kfserving/pull/1205

[2020-11-14 09:50] cliveseldon opened #1207 "API rule exception in master for "make generate""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`make generate`

Only succeeds if I remove
[code]
from `hack/violation_exceptions.list`

**What did you expect to happen:**
Successful build

[2020-11-14 14:40] cliveseldon commented on #1207
Fixed by https://github.com/kubeflow/kfserving/pull/1195

[2020-11-14 14:40] #1207 closed

[2020-11-17 00:38] PatrickXYS opened #1210 "Remove use of ksonnet in tests"
ksonnet was deprecated over a year ago the tests should no longer be using ksonnet to define tests.

Related to https://github.com/kubeflow/testing/issues/769

[2020-11-17 04:36] iavinas opened #1212 "Multiple Worker on Pytorch GPU models"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I want more GPU utilization for my Pytorch inference models using kfserving's Pytorchserver. I hardcoded workers=2 in KFServing's code and built docker again but it is not working. I am getting an error message

**TypeError: Failed to initialize Torch Tensor from inputs: Cannot re-initia

[2020-11-17 12:10] yuzisun commented on #1212
@iavinas KFServing is deprecating the existing pytorchserver, we prefer using torchserve instead and here are [custom examples](https://github.com/kubeflow/kfserving/tree/master/docs/samples/custom/torchserve) which I think should work with 0.4 as well, the native integration is still working in progress. @jagadeeshi2i Do you have an example for pytorch GPU with multi workers?

[2020-11-17 13:47] MLnick opened #1214 "Scikit-learn version for sklearnserver"
https://github.com/kubeflow/kfserving/blob/96c6a8f56ca834b85b39a8e592711654f01784ca/python/sklearnserver/setup.py#L36

Is there a reason for the current sklearn version being so old for the `sklearnserver`? `0.20.3` was released March 2019.

[2020-11-17 14:06] yuzisun commented on #1214
@MLnick check the matrix [here](https://github.com/kubeflow/kfserving/pull/1211/files?short_path=f4d70a1#diff-f4d70a1b9907cbb949d07e68ece6cab47b79f62ac7293e4bc9aa31a9d6f9d47c), we are moving towards using MLServer(sklearn 0.23.1) to serve sklearn model in KFS 0.5. Meanwhile you can always [build the sklearnserver image](https://github.com/kubeflow/kfserving/tree/master/docs/samples/sklearn#run-skl

[2020-11-17 14:17] MLnick commented on #1214
@yuzisun thanks - yes for now I've built my own image. Good to know there's a path to more recent versions of the frameworks.

For the configmap update - I did it via `kubectl edit` but I wonder if the docs for that in your link could be expanded (e.g. perhaps either use `kubectl edit` or `patch`?)

[2020-11-17 16:50] jagadeeshi2i commented on #1212
@iavinas Please refer https://github.com/pytorch/serve/blob/master/docs/configuration.md for adding workers to config.properties `default_workers_per_model`. Refer [worker scaling](https://github.com/pytorch/serve/blob/master/README.md#start-torchserve-to-serve-the-model) on how the workers are scaled.

[2020-11-17 19:52] will-gerard opened #1215 "Sample Kubeflow Pipelines component fails in the pipeline, even though the model is served successfully"
/kind bug

**What steps did you take and what happened:**
I attempted to deploy the [Kubeflow Pipelines kfserving tensorflow example pipeline](https://github.com/kubeflow/kfserving/blob/master/docs/samples/pipelines/kfs-pipeline.ipynb). The pipeline run failed and the logs show the model becoming ready, but then later says model is not ready:

[code]

The component is then marked as failed in the

[2020-11-18 06:07] yuzisun commented on #1199
@jal06 are you sure `cluster-local-gateway` is running in the `knative-serving` namespace? Can you check
`kubectl get pods -n istio-system` ?

[2020-11-18 07:35] jal06 commented on #1199
@yuzisun,

Thanks for your help.

When I search all the gateways in all namespaces (see below), I see that the gateway cluster-local-gateway is in the namespace knative-serving
[code]
It looks that the external-ip of services sklearn-iap and sklearn-iap-predictor-default refers to an object cluster-local-gateway which is in the namespace istio-system (see below)
[code]
[code]
Maybe I am wrong, but

[2020-11-18 07:38] jal06 commented on #1199
Below are the pods in the namespace istio-system

[code]

[2020-11-18 07:41] yuzisun commented on #1199
@jal06 The problem is that you are missing the istio local gateway installation.

[code]

[2020-11-18 10:03] karlschriek opened #1216 "Unable to change default subdomain from name.namespace.domain.com to name-namespace.domain.com"
By default, KNative rolls out to the subdomain  `{{.Name}}.{{.Namespace}}.{{.Domain}}`. This can be seen under "domainTemplate" in the following config map:

`kubectl -n knative-serving get configmap/config-network`

This causes difficulties with certification. When we roll out KF on EKS, we attach a certificate to it (which gets attached to the ELB that sits behind the Istio Ingress). We typicall

[2020-11-18 10:06] karlschriek commented on #1216
@theofpa FYI, relates to what you and I were discussing recently

[2020-11-18 10:42] nashra2637 opened #1217 "Deployment of saved model in Triton inference server with support of gRPC"
/kind bug

We have deployed a ml model using triton inference server with tensorflow savedmodel in KFServing. But we can't access/hit the deployed ml model in cluster, it is running on port 9000 gRPC and 8080 RestAPI

**Environment:**

- Istio Version: 1.7.4
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]
- Miniku

[2020-11-18 12:14] sebnyberg opened #1218 "IngressService knative visibility label not accepted by knative controller"
/kind bug

Knative serving version: v0.18.0
Kfserving version: v0.5.0-rc0
Istio version: 1.7.4

Attempting to deploy an InferenceService with the label `serving.knative.dev/visibility: cluster-local` causes an error in the knative controller.

Adding the label directly to the knative service works as expected.

InferenceService:

[code]

Error from the `knative-controller`:

[code]

Judging by kfs

[2020-11-18 12:40] sebnyberg commented on #1218
Since kfserving v0.5+ it is possible to create a private service by setting the default domain to `svc.cluster.local` in the knative config like this:

[code]

Feel free to close this bug if label passing as in the original example is not supposed to be supported.

[2020-11-18 14:25] sebnyberg commented on #1218
The label is accepted by knative for the following CRDs: `ksvc`, `route`, `service`.

Deploying a ksvc using the guide in this section works as expected:

[code]

Trying to label a ksvc  created by kfserving gets removed almost immediately (as expected).

Based on `kfserving` logs it looks like it's trying to re-create an ingress. Perhaps the label is passed to some component for which it's not va

[2020-11-18 17:07] jal06 commented on #1199
@yuzisun, thanks for your reply.

I don't understand why I am missing the istio local gateway installation.

@jlewi @Bobgy  I followed the documentation for installation of Kubeflow 1.1 in GCP.
During the installation, I saw no error.
In the [install documentation](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) , I don't see any specific instruction about the installation of the istio local

[2020-11-18 18:22] yuzisun commented on #1217
@nashra2637 Can you share more details about the issue and which version of KFS you are running

[2020-11-18 18:22] yuzisun commented on #1215
/cc @Tomcli @animeshsingh

[2020-11-18 18:36] Tomcli commented on #1215
Looks like my url parsing at the end didn't expect an openshift domain since we didn't support openshift a while ago. I can update the component to address this issue.
/assign

[2020-11-18 19:18] will-gerard commented on #1215
Thanks @Tomcli, please let me know if there is any other info I can provide which would be useful to you here.

[2020-11-19 05:15] nashra2637 commented on #1217
Istio Version: 1.7.4
Knative Version: v0.14.3+
KFServing Version: KFServing 0.4
Kubernetes version: (use kubectl version): 1.18

[2020-11-19 05:15] nashra2637 commented on #1217
Istio Version: 1.7.4
Knative Version: v0.14.3+
KFServing Version: KFServing 0.4
Kubernetes version: (use kubectl version): 1.18

[2020-11-19 07:22] #1145 closed

[2020-11-19 07:57] yuzisun commented on #1199
@jal06 Can you check the kfdef yaml? the istio local gateway needs to be defined e.g [here](https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml#L30) . Also do not get confused with [Istio gateway resource](https://istio.io/latest/docs/reference/config/networking/gateway/) and [Istio ingress gateway deployment](https://istio.io/latest/docs/tasks/traffic-management/ingress/i

[2020-11-19 11:27] jal06 commented on #1199
Hi @yuzisun
Once again, thanks very much for your help.

You are right, thanks for your explanations. If my understanding is correct, the listeners for the Istio local gateway in `knative-serving` are OK but the istio local gateway in `istio-system` is missing.

If I look at the yaml files I used to deploy Kubeflow, I can find the yaml definition of the istio local gateway in the `upstream/manifes

[2020-11-19 12:33] pencilerazzer commented on #1037
I also had the same issue. But even after initializing 2 workers , the issue didn't got resolved.

[2020-11-19 17:30] #1215 closed

[2020-11-19 22:03] Talador12 commented on #568
@yuzisun this solution worked. However, this issue should be re-opened as the default behavior should match this solution. Otherwise, non-kf namespaces could have pods evicted en masse.

[2020-11-20 03:42] Bobgy commented on #1199
Thanks for the investigations, it seems like a bug in gcp manifests.
@jal06 you can look at the makefile to know how manifests are hydrated to .build, you should add the missing resource in one of the kustomize targets we build.

Will be grateful if you can contribute the fix upstream if you verify the fix works for you.

[2020-11-20 05:33] AkashDharani commented on #1217
Here is our sample.yaml file to deploy model in our cluster, we have seen the logs of deployed model, it is successfully deployed and running on port 9000 gRPC and 8080 RestAPI. But what we dont know is how exactly we have to hit that deployed model in cluster using kfserving. How we can find the port on which these ports are mapped, or how can we map these ports to ingress ports which we can use

[2020-11-20 14:25] yuzisun commented on #1217
@AkashDharani The build-in triton model server currently only exposes REST port as only one of REST/gRPC port can be exposed on ingress. If you try the 0.5.0-rc0 release with v1beta1 API the gRPC can be exposed with this.

[code]

If you have to use earlier release, then the only possibility is to use custom container to expose gRPC port.

[2020-11-20 18:04] jal06 commented on #1199
@Bobgy, thanks for your guidance,

After digging into the manifests file, some manifests file for cluster-local-gateway are now generated in the `.build` directory after executing `make hydrate`.
For generating those manifests, I did 2 modifications
1- I added a folder `cluster-local-gateway` in `instance/kustomize`. And I created the file `kustomization.yaml`
[code]

2- I added the lines below in

[2020-11-21 00:22] Bobgy commented on #1199
@jal06 kustomize build targetting a folder will generate those special names.

Don't worry, kubernetes resources doesn't matter what their file name is, the content should be good.

Regarding the make rule, hydrate-kcc is for config connector. I'd suggest putting this in hydrate-kubeflow because that's where we hydrate all kubeflow applications.

[2020-11-21 06:09] yuzisun commented on #1216
@karlschriek this has been working for us with the exactly same use case, I think it is fixed with https://github.com/kubeflow/kfserving/issues/715 in KFS 0.3 so Kubeflow 1.1 should work.

[2020-11-21 07:06] jal06 commented on #1199
@Bobgy, thanks for your feedbacks.

Regarding the make rule, I am OK; that's what I did in my Makefile but I was a little bit tired yesterday and I wrote `hydrate-kcc` instead of `hydrate-kubeflow` in my comment.
Happy to read that those filenames look OK

My next steps :
- I'll need to add a line `kubectl --context=$(KFCTXT) apply -f ./$(BUILD_DIR)/cluster-local-gateway` in `apply-kubeflow` rules

[2020-11-21 23:34] theofpa commented on #1216
thanks @yuzisun!

@karlschriek , I've just confirmed it works in `v0.3`
[code]
changed dot to hyphen
[code]
[code]

[2020-11-22 01:58] #1216 closed

[2020-11-22 14:08] yuzisun commented on #1218
@sebnyberg I fixed the issue but I am not getting the validation error above, maybe that's from the latest knative version?

[2020-11-23 00:05] Bobgy commented on #1199
@jal06 thank you for your efforts to fix this!

Note, GCP manifest for 1.2.0 hasn't been finalized, but should be soon. I'm updating documentation and pinning a release. See the 1.2.0 release tracker in GCP blueprint repo. If you want to test now, you can also install from master, it should be working.

[2020-11-23 00:58] yuzisun opened #1225 "Document Tensorflow v1beta1 REST/gRPC example"
/kind feature

**Describe the solution you'd like**
There are a few examples yamls [here](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/tensorflow), but still need a more detailed example for REST/gRPC and canary.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-11-23 01:21] yuzisun opened #1226 "Document v1beta1 canary example"
/kind feature

**Describe the solution you'd like**
In v1beta1 canary implementation has been changed from traffic split at knative service to revision level, we need to document an new example and implementation details can be found from the [RFC](https://docs.google.com/document/d/1ktiO7gWohq19C_rixXH0T_D91TjkrQELlQjlkvSefVc/edit#heading=h.e1sgar1o8xoy).

**Anything else you would like to add:**

[2020-11-23 08:27] AkashDharani commented on #1217
`curl -H "Host: <host-name>" http://**.elb.amazonaws.com:80/api/status`

This command gives us the following output

[code]

I think it means our model is successfully deployed in the cluster and we can access it with loadbalancer host name and port 80, but what we dont know is how we can hit it with a python script. Any suggestion or any example to hit it using python script.

[2020-11-23 08:40] jal06 commented on #1199
@Bobgy, I added the modifications above and I did some tests from the master branch
I see that the istio local gateway deployment is deployed correctly in istio-system.
(From my previous comments, I just needed to specify the namespace istio-system in the new kustomization.yaml in folder instance/kustomize)

- If I test [using the no-authz example](https://github.com/kubeflow/kfserving/blob/master

[2020-11-23 12:03] AkashDharani commented on #1217
For now I am trying to hit through http rest api which is listening on port 8080, and we can access it with port 80.

`I1123 09:59:13.478343 1 http_server.cc:1411] Starting HTTPService at 0.0.0.0:8080
`
and i am trying to hit the api with this code

[code]

[2020-11-23 18:42] jal06 commented on #1199
@Bobgy, @yuzisun
Let me know if you would like I open a PR including the modifications above.
Maybe it could make sense to close this issue and open a new one about the Istio Authorization issue.
WDYT ?

[2020-11-24 03:23] yuzisun commented on #1199
@jal06 This does not the Istio authorization issue, I think you need to follow the Authenticating from a service account procedure https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_service_account. @Bobgy probably knows better.

[2020-11-24 03:51] #1218 closed

[2020-11-24 12:38] jal06 commented on #1199
@yuzisun. Thanks for the hint.
I followed the procedure [Authenticating from a service account procedure](https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_service_account)
After selecting the GCP project, I can see that some resources are not configured

- there is an error for kube-system/default-http-backend
- there is a warning for Istio-system/istio-ingressgateway

[2020-11-24 16:00] sebnyberg commented on #1218
Don't know how to verify the fix before it is merged in so I'll trust your judgement. Thanks for the quick fix.

[2020-11-25 10:19] akash-harijan opened #1229 "Invoke deployed endpoint on port 8080 with gRPC"
/kind bug

I have deployed a model using tensorflow savedmodel and it is listening on both http port:8080 and grpc port:9000 by default, I tested http one with url and headers, in headers we have to write host name other wise it doesn't work, it was working fine. Then I deployed same model with http listening on 9000 and grpc listening on 8080 with custom yaml file, it deployed successfully. But I

[2020-11-27 19:07] yuzisun commented on #1199
@Bobgy is anyone owning the GCP integration for all the Kubeflow components like KFServing?

[2020-11-30 03:28] Bobgy commented on #1199
I'm overseeing all the Kubeflow stuff on GCP.
@jal06 would you mind creating an issue in kubeflow/gcp-blueprints? I think it's more relevant there.
The reported issue about IAP looks strange, from first glance, everything looks correct.

I'd suggest separate the two issues for troubleshooting:
* connect to kfserving endpoint
* authenticate via IAP

To troubleshoot "IAP auth", recommend
1. verify a

[2020-11-30 06:14] #1212 closed

[2020-11-30 13:20] karlschriek commented on #1154
@seizadi could you maybe provide some more explanation on what you did here? I am similarly not able to get the cookie-based auth to route correctly. I am following the AWS end-to-end instructions. Have posted an issue relating to that here: https://github.com/kubeflow/website/issues/2378

Are you suggesting that one should use the GCloud IAP approach as above instead?

[2020-11-30 16:18] marcinkosztolowicz opened #1232 "Document how to use STORAGE_URI especially in case of custom framework"
/kind feature

**Describe the solution you'd like**
Describe how to use STORAGE_URI environment variable in InferenceService schema with custom framework.
It could be added in space: kfserving/docs/samples/custom/
This feature is not documented. I would like to know if this feature is official and if it is expected to be available in the future.

**Anything else you would like to add:**
Important

[2020-11-30 17:04] seizadi commented on #1154
I don't work on this project so I don't get notification like the one you posted on [kubeflow/website#2378](https://github.com/kubeflow/website/issues/2378). Probably need a guide like [GCloud IAP](https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-iap) written for AWS Cognito, so you have guide to follow.

I read your issue and looks like you have not upgraded to Kubelow 1.1.x fro

[2020-11-30 17:13] seizadi opened #1233 "Write a AWS Cognito Guide"
/kind feature

**Describe the solution you'd like**
There is not a clear write up on how to configure AWS Cognito for Kfserving. The current
[kubeflow e2e](https://www.kubeflow.org/docs/aws/aws-e2e/) does not cover kfserving configuration.

There is a good writeup for [GCloud IAP](https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-iap#kfserving-gcpiap-example).
 That guide could be

[2020-11-30 17:26] karlschriek commented on #1233
@seizadi do you have some initial pointers here on how to go about it? If I can manage to get it working for us I would be happy to contribute to a documentation afterwards

[2020-11-30 18:05] karlschriek commented on #1154
@seizadi do the changes relate to Kubeflow 1.1.x or does it have to do with a newer version of KFServing? We are not upgrading to 1.1 (or 1.2 for that matter) yet because the multi-tenancy for Pipelines also faces authentication problems at the moment which we don't have a suitable solution for. We are currently running KFServing 0.3.0.

[2020-11-30 18:21] karlschriek commented on #1233
If I understood it correctly, all that is needed is to roll out an InferenceService with istio sidecar injection to allow for authorization (https://github.com/kubeflow/kfserving/blob/master/docs/samples/gcp-iap/sklearn-iap-with-authz.yaml) and then start up an additional VirtualService (https://github.com/kubeflow/kfserving/blob/master/docs/samples/gcp-iap/virtual-service.yaml).

We then post req

[2020-11-30 18:45] seizadi commented on #1233
You actually need to disable the istio-sidecar, AuthZ does not work, depending on your requirements, you might not be able to use this in production.

Here is some detail notes I wrote to myself when I was debugging this problem:
https://github.com/seizadi/kubeflow-aws-cognito#debug-model

[2020-11-30 19:20] jal06 commented on #1199
@Bobgy,

Thanks for the link.
FYI, I opened an issue for the connection to kfserving endpoint in kubeflow/gcp-blueprints, and I also opened a PR for adding the deployment of the local geteway in the namespace istio-system, which from my understanding, solves the issue.

I will also read accurately the documentation you gave and try the connexion via curl.
After that, I will create another issue ab

[2020-11-30 22:32] yuzisun commented on #1233
/cc @PatrickXYS

[2020-11-30 22:39] PatrickXYS commented on #1233
@seizadi Thanks I'll help on this, will collaborate with @yuzisun to make sure we provide well-written documentation for KFServing on AWS Cognito

[2020-11-30 22:40] PatrickXYS commented on #1233
/assign

[2020-12-01 04:28] iavinas commented on #1232
@marcinkosztolowicz I wanted to know if there is any way to use STORAGE_URI which supports cloud storage just like sklearn and PyTorch model? Currently, I am using custom torchserve for more GPU utilization but I am not able to figure out how to use STORAGE_URI.

[2020-12-01 05:13] PatrickXYS commented on #1229
/assign

[2020-12-01 08:46] marcinkosztolowicz commented on #1232
@iavinas I believe the answer is yes, it is possible to use cloud storage with STORAGE_URI. I am using it with aws S3. I have only used sklearn so far, then I do not know torchserve specific. Nevertheless I think both sklearn and torchserve should be similar, when it comes to using of STORAGE_URI.
Could you elaborate more about what is your problem. Probably InferenceService manifest would be help

[2020-12-01 14:04] karlschriek opened #1234 "sklearn-iris InferenceService fails to reach ready stage in KF 1.2: "waiting for loadbalancer""
/kind bug

After rolling out KF 1.2.0 on EKS (Kubernetes 1.18) I attempted the sklearn-iris KFServing example, as follows:

[code]

The underlying pods as well as knative Service become ready. However, the knative Route and KFServing InferenceService get stuck "waiting for loadbalancer".

[code]

[code]

I can also confirm that on a KF 1.0.2 rollout with a standalone rollout of KFServing 0.3.0 thi

[2020-12-01 14:31] yuzisun commented on #1234
@karlschriek can you upgrade to KF 1.1? KFS 1.0.2 is likely not going to work well with KFServing

[2020-12-01 14:32] yuzisun commented on #1234
@karlschriek Can you check the logs for istio networking pod?
`kubectl logs networking-istio-d6fc8dbf8-lr2ch -n knative-serving`

[2020-12-01 15:15] karlschriek commented on #1234
Here is the full logs dump
[code]

[2020-12-01 15:20] karlschriek commented on #1234
By the way, I now did a standalone rollout of 0.4.1 with KF 1.2. The above error log is from there.

[2020-12-01 17:28] jal06 commented on #1199
@Bobgy, I created a new issue #https://github.com/kubeflow/gcp-blueprints/issues/178 about authentication via IAP.
Thanks for your help

[2020-12-02 18:21] CreatorSky commented on #696
@karlschriek what did you end up using? I am facing similar issue, tried different variations of configuration but still getting the same error.

[2020-12-03 04:45] #1181 closed

[2020-12-03 07:49] larssuanet opened #1237 "Support cluster-local-gateway in higher istio versions"
/kind feature

**Describe the solution you'd like**

I would like KFServing to support the use of the cluster-local-gateway at higher Istio & Knative versions.

Currently, the official support for Istio ends at 1.3.1. When I test higher versions of Istio and Knative (i.e. istio 1.6.13 & knative 0.18) the ingress gateway option seems to work. However, the moment I change the knative `config-domain`

[2020-12-03 07:55] karlschriek commented on #1234
I just realised that the default KF 1.2 rollout for AWS has Istio 1.1.6. I am not sure if there is a reason for this, but I will try to bump it up to 1.3.1 at least and see what happens.

[2020-12-03 07:59] karlschriek commented on #1234
@PatrickXYS is there anything particular to the AWS KFDef that means Istio 1.1.6 is required? According to the documentation, KFServing requires 1.3.1+.

[2020-12-03 12:40] yuzisun commented on #1237
@larssuanet this has been fixed inn https://github.com/kubeflow/kfserving/pull/1224

[2020-12-03 12:45] yuzisun commented on #1234
@pvaneck has tested 0.4.1 with KF1.2 in https://github.com/kubeflow/manifests/pull/1575, this should work.
I see some suspicious error in above error log

`2020-12-01T15:11:54.954952759Z {"level":"error","ts":"2020-12-01T15:11:54.954Z","logger":"istiocontroller.istio-ingress-controller.status-manager","caller":"status/status.go:418","msg":"Probing of http://sklearn-iris-predictor-default.karl-schr

[2020-12-03 12:46] yuzisun commented on #1234
@karlschriek Can you check which knative version you are running ?

[2020-12-03 13:32] larssuanet commented on #1237
@yuzisun thanks! Looking forward to the release

[2020-12-03 13:32] #1237 closed

[2020-12-03 13:48] karlschriek commented on #1234
I just bumped Istio up to 1.3.1 and that solved the issue.

In the official aws kfdef (https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws_cognito.v1.2.0.yaml) I had to replace:

[code]

I will open a PR fix this in the kfdef, since currently the default AWS rollout is not compatible with KFServing.

[2020-12-03 13:48] #1234 closed

[2020-12-03 14:10] yuzisun commented on #1234
@karlschriek Nice! looks like a simple kfdef fix, I believe that does not require releasing a new version of manifests

[2020-12-03 14:15] #1124 closed

[2020-12-03 14:55] karlschriek commented on #1233
@seizadi I've gone through your notes and am trying to replicate your solution.

I am rolling out the following:

[code]

And am then sending a REST request with:

[code]

When I do this I get a 403 error.
[code]

The cookies are correct. Is there something I am missing or that I've configured incorrecty?

[2020-12-03 16:18] seizadi commented on #1233
I assume you tested the URL I had posted in the README to validate that your URL & cookies are set correctly?
url = 'https://kubeflow.platform.example.com/pipeline/apis/v1beta1/pipelines?page_token=&page_size=10&sort_by=created_at%20desc&filter='

cookies = {'AWSELBAuthSessionCookie-0': 'xxxxxx'
           'AWSELBAuthSessionCookie-1': 'xxxxxx'
          }

r = requests.get(url=url, cookies=cookies

[2020-12-03 18:57] karlschriek commented on #1233
Yes I tested against that URL, the cookies are working. I'll follow your suggestion on tracing the packet path tomorrow. Thanks for the suggestion.

[2020-12-04 11:33] karlschriek commented on #1233
Did you roll out KFServing with KF or did you make a standalone rollout?

[2020-12-04 13:05] karlschriek commented on #1233
I wonder if the debug guide https://github.com/kubeflow/kfserving/blob/master/docs/KFSERVING_DEBUG_GUIDE.md#debug-kfserving-request-flow refers to an older version of KF/KFServing

I am on KF 1.2, KFServing 0.4.1

It suggests that running `kubectl get gateway knative-ingress-gateway -n knative-serving -oyaml` should yield a gateway that looks like this:

[code]

For me this gateway doesn't exist a

[2020-12-05 04:57] seizadi commented on #1233
I removed my deploy directory from 1.0.2 and created a new one with 1.1.x
Everything on there Istio and Kfserving were created by Kubeflow deploy. I have found in the past difficult to make Kubeflow work with other pieces that are pre-installed on the cluster, so I have been having kubeflow manage the whole deployment.

About your question about the flow diagram, the Istio Ingress Gateway is part

[2020-12-05 17:11] xybuty commented on #1197
I got a same error.

[2020-12-07 07:05] karlschriek commented on #1233
Yep, those are the gateways I have running. I actually don't really think that the Gateway is the problem, but I need to understand where the rollouts differ. It could be a more fundamental change in KF 1.2 or it could be a configuration problem on my end. Will keep you posted, it would be great if we could create an end-to-end guide here that will be guaranteed to work.

[2020-12-08 09:13] adriangonz opened #1240 "Add support for MMS in SKLearn and XGBoost models"
/kind feature

**Describe the solution you'd like**
Enable MLServer's support for Multi-Model Serving to let users use `TrainedModel` and MMS in KFServing.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-12-08 18:16] snowneji opened #1241 "Test Kfserving Issue -- no matches for kind "InferenceService" in version "serving.kubeflow.org/v1beta1""
/kind bug

**What steps did you take and what happened:**
I installed kfserving together with kubeflow. And I'm following "Test KFServing Installation" section to test `kfserving`. I see the pod kfserving controller manager is running correctly:
![image](https://user-images.githubusercontent.com/10824322/101520287-e1e1ce80-3949-11eb-8fc1-0a040d4d0dea.png)
But then when tried to deploy the sklearn

[2020-12-08 18:25] yuzisun commented on #1241
@snowneji Do you use the v1beta1 example, Kubeflow 1.1 does not support v1beta1 yet, try the v1alpha2 example
https://github.com/kubeflow/kfserving#create-kfserving-test-inference-service

[2020-12-08 19:10] snowneji commented on #1241
@yuzisun  Thanks for the tip, when I ran the example using v1alpha2, it was created, but when I check the service using `kubectl get inferenceservices sklearn-iris -n kfserving-test`, I got the output:

[code]
Then I checked the details:
[code]
Any ideas why it says the following? Really appreciate the help!
[code]

[2020-12-08 19:37] snowneji commented on #1241
Also here is the event under the namespace:

[code]

[2020-12-08 20:54] snowneji commented on #1241
Since it's related to revisioning, I checked the log of revision, I'm wondering if the issue was caused by the corporate internal environment?

[code]

[2020-12-09 22:36] snowneji opened #1242 "RevisionMissing & kf-resource-quota Issue When Running Kfserving Sklearn Example"
/kind bug

I installed KFserving together with Kubeflow on my k8s cluster, but when I tried to run the Sklearn example provided here: https://github.com/kubeflow/kfserving/:

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/iexAj.png

Then I checked the resources under the namespace -- it was unsuccessful, and the STATUS i noticed is `Revision Missing`

[code]

Also in the

[2020-12-09 23:14] drewbutlerbb4 opened #1243 "Add an Explainer for checking the adversarial robustness of models"
/kind feature

**Describe the solution you'd like**
An Explainer tool that can create adversarial examples and trick a model into misclassifying. The explainer will be deployed with a predictor and will query the predictor to find the adversarial examples.

[2020-12-10 20:57] HassanOuda commented on #1242
I got the same issue as above. I actually set resource limits and requests on my inferenceservice yaml file and same results. When I check the yaml output of the deployment, the first container as request and limits but the queue-proxy container only has a request for cpu. Obviously this has to be changed to have limits and requests for this container if you are working with quotas in your namespa

[2020-12-11 03:14] adamkgray opened #1246 "Upgrading from storage initializer 0.4.0 to 0.4.1 breaks AWS auth via IAM Roles"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Upgrading the storage initializer image from `gcr.io/kfserving/storage-initializer:v0.4.0` to `gcr.io/kfserving/storage-initializer:v0.4.1` breaks AWS auth via IAM roles, which should otherwise be implicitly available through EC2 instance metadata.

We are running kfserving on EKS in a

[2020-12-11 21:52] Peilun-Li opened #1247 "Scale to zero would make inferenceservice with long init time fail in creation"
/kind bug

The actual issue we met is related with GPU node scaling:
1. Deploy inferenceservice with GPU request and scale to zero enabled (`minReplicas=0`)
2. GPU resource is fully occupied in current cluster thus a GPU node scale up is triggered, meanwhile the inferenceservice pod is in `Pending` status
3. The node scale up takes time (> 2min), however upon 2 min, scale to zero would be triggere

[2020-12-12 15:26] yuzisun commented on #1246
@harshavardhana can you help comment from minio client side ?

[2020-12-12 15:37] yuzisun commented on #1247
@Peilun-Li can you try this configuration to increase the timeout from 2min to 10min?

kubectl patch cm config-deployment --patch '{"data":{"progressDeadline": "600s"}}' -n knative-serving

[2020-12-12 15:38] yuzisun commented on #1241
@snowneji did you see the inference service pod coming up ?

[2020-12-12 15:46] yuzisun commented on #1242
@HassanOuda @snowneji  the queue proxy resource should be configurable https://github.com/knative/serving/blob/master/config/core/configmaps/deployment.yaml#L51-L75, can you help add this to the install guide for users enabling resource quota?

[2020-12-12 16:25] harshavardhana commented on #1246
Is there more details on call trace etc ?

[2020-12-14 07:10] chinmay22897 opened #1248 "Failed to build kubeflow v1.1.0/v1.2.0 due to kustomization.yaml file not found"
/kind bug

**What steps did you take and what happened:**
I am trying to install kubeflow on minikube single node using official guide, so for first I failed in both v1.1.0 and v1.2.0 so tried with older v0.7.0 which got successfully deployed on my minikube cluster so I tried again to deploy the newer versions. First of all I am not able to connect with CONFIG_URI and the manifest uri present in t

[2020-12-14 07:49] karlschriek commented on #1233
The issue is with Istio 1.3.1, as it is currently not possible to perform Cookie-based auth. This also means that for AWS deployments, KFServing is currently restricted to version 0.3.0.

Once this issue has been resolved I will see about contributing to a how-to guide again!
https://github.com/kubeflow/manifests/issues/1695

[2020-12-14 08:17] adamkgray commented on #1246
Thanks for helping @harshavardhana

Here are the errors I get from the inference service pods using 0.4.1:

1. When only `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` are equal to empty strings (this worked in 0.4.0):
[code]

2. When `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY` are set to random string of valid length:
[code]

The same error occurs when I include MINIO_REGION_NAME=ap-east-1

Does t

[2020-12-14 20:59] harshavardhana commented on #1246
what has changed from v0.4.0 to v0.4.1 ?

[2020-12-14 23:39] #1180 closed

[2020-12-15 00:49] yuzisun commented on #1246
@harshavardhana there is no code changed but v0.4.1 image was rebuilt lately which gets  a newer version of minio client according to [the requirement](https://github.com/kubeflow/kfserving/blob/release-0.4/python/kfserving/requirements.txt#L9).
[code]
[code]

[2020-12-15 00:51] Peilun-Li commented on #1247
@yuzisun Cool that works! Closing this one given it's already an issue of awareness. https://github.com/knative/serving/issues/6201

[2020-12-15 00:51] #1247 closed

[2020-12-15 00:55] harshavardhana commented on #1246
Right now we have moved on to minio-py 7.0.0 would it be possible give that a try ?

[2020-12-15 01:08] yuzisun commented on #1248
@chinmay22897 Can you help move this issue to `kubeflow/manifests` ?

[2020-12-15 01:59] yuzisun commented on #1246
@harshavardhana 7.0.0 broken some of our code now we pinned to < 7.0.0
https://github.com/kubeflow/kfserving/pull/1245

[2020-12-15 02:00] yuzisun commented on #1246
we are about to release 0.5, what's the suggested minio client version we should use?

[2020-12-15 02:06] harshavardhana commented on #1246
this is to be expected its a major version change with lots of API cleanup

My suggestion is 7.0.0

[2020-12-15 03:22] alexw994 commented on #833
@edenbuaa about how to use a nas address, can you share some idea? please

[2020-12-15 03:23] adamkgray commented on #1246
@harshavardhana which environment variables should I now pass in 7.0.0?

[2020-12-15 05:15] chinmay22897 commented on #1248
Done.

[2020-12-15 05:15] #1248 closed

[2020-12-15 14:12] jagadeeshi2i opened #1253 "Support for KFServing V2 protocol for torchserve"
/kind feature

Add KFServing V2 predict api protocol support for torchserve predictor.
[Predict protocol V2](https://github.com/kubeflow/kfserving/tree/master/docs/predict-api/v2)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-12-15 14:14] yuzisun commented on #1253
/cc @deadeyegoodwin

[2020-12-15 17:31] snowneji commented on #1241
@yuzisun  Looks like the `RevisionMissing` issue is caused by our corporate environment. We have no access to Google Cloud Storage, which I can see from the following log:

[code]

[2020-12-15 22:58] nuka137 opened #1256 "Missing instructions in ONNX InferenceService"
/kind question
/area docs

The [sample jupyter notebook for ONNX InferenectService](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1alpha2/onnx/mosaic-onnx.ipynb) does not have a instruction for configuring the `CLUSTER_IP` environment variable.
How should we identify IP address for `CLUSTER_IP` environment variable?

We could not see any clues in both [here](https://github.com/ku

[2020-12-16 00:15] naveensrinivasan opened #1257 "make all fails with logger not found"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The `make all` fails because this fails to run ` go build -o bin/logger ./cmd/logger` . The `cmd` does not have `logger`

**What did you expect to happen:**
`make` to succeed.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**

[2020-12-16 11:58] averagua commented on #1151
I have a similar issue, my main problem is that i cant request to the service. I'm trying to request it from jupyter notebook in the same namespace and avoid de IAP but doest not works. I think that is the same issue, my details are:

- Latest Kubeflow deployment on GCP, v1.12
- Custom KFServing model for simple SKlearn model
- Server run locally

`!kubectl logs covid-server-53e4be7e-predictor-def

[2020-12-16 16:15] ontheway16 opened #1259 "Triton server Load-balancing & Autoscaling, on prem."
Hello, I am looking for a way to establish a load balancing and autoscaling setup, on premise. I want to use Triton server at multiple nodes, containing multiple GPUs.
My kubernetes test cluster is containing 3 physical nodes, one is master and other two is worker, It is installed with kfserving, knative and istio, also installed a Triton predictor, but after spending weeks, now I am not sure if l

[2020-12-16 23:17] nuka137 commented on #1256
/area docs

[2020-12-16 23:18] nuka137 commented on #1256
/kind question
/area docs

[2020-12-17 23:06] #1256 closed

[2020-12-18 16:03] jal06 commented on #994
@yuzisun,
I see the same error as @d123456temp when executing istio analyze with kubeflow 1.2 (KFS 0.4)
`Error [IST0101] (VirtualService sklearn-iap.jal) Referenced gateway not found: "kubeflow-gateway.kubeflow"`

The gateway kubeflow-gateway exists in the namespace kubeflow
[code]

According the [istio documentation](https://istio.io/latest/docs/reference/config/networking/virtual-service/)

`gat

[2020-12-19 13:12] #1188 closed

[2020-12-20 21:58] yuzisun commented on #1259
@ontheway16 KFServing supports on Prem setup, the examples are using gs:// because those buckets are public and easier for users to get started, if you can setup PVCs on prem that works too and here is the [example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/storage/pvc). For load balancing you can take a look at [Metalb](https://metallb.universe.tf/).

[2020-12-20 23:15] ontheway16 commented on #1259
Thank you very much, @yuzisun. Does it matter if I never need an external IP for access from outside (wan)? Since object detection inference requests will be send from a script in same LAN, may be from a pod in the cluster.

[2020-12-20 23:22] yuzisun commented on #1259
Kfserving supports calling from in cluster too, there is an in cluster url exposed for each inference service. If you are in a pod in the cluster you can call the service with http://$service.$namespace.svc.cluster.local

[2020-12-21 13:13] VIjayHP commented on #1153
Ran into the same issue while performing e2e tests for net-istio:
TestIstioProbing: stream.go:248: E 08:31:32.699 networking-istio-7d9c95f99c-299ws [istio-ingress-controller] [serving-tests/istio-probing-http-leiilaxl] Probing of http://istio-probing-http-notmuhkt.example.com:80 failed , ready: false, error: unexpected status code: want 200, got 404 (depth: 0)

[2020-12-21 19:23] #1241 closed

[2020-12-23 11:18] alokumar1 commented on #1259
I was having the same issue. I have deployed the triton-server using custom predictor. I was able to call triton server using predictor pod IP and triton client script
but when I curl kfserving url like this as mentioned in doc

[code]
then
```curl -v  http://${INGRESS_HOST}:${INGRESS_PORT}/v1/models/densenet_onnx:predict -d @./input.jpg```

It throws error 404

[2020-12-23 12:12] JoinHands commented on #428
I got same problem
Traceback (most recent call last):
  File "kfservingdeployer.py", line 234, in deploy_model
    create(kfsvc, model_name, namespace)
  File "kfservingdeployer.py", line 219, in create
    KFServing.create(kfsvc, namespace=namespace)
  File "/usr/local/lib/python3.6/site-packages/kfserving/api/kf_serving_client.py", line 110, in create
    %s\n" % e)
RuntimeError: Exception when

[2020-12-27 16:26] ontheway16 opened #1272 "x509: certificate signed by unknown authority"
I have reinstalled kfserving (v0.4.1), knative (1.7.1) and cert-manager components (```kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.yaml``` ) and now I am receiving the following error:

[code]

what can be the problem? I deleted cert-manager namespace and installed following script, restarted the master, but nothing changed.
[code]

[2020-12-28 15:40] ontheway16 commented on #980
@navneet1075 I am experiencing the same, where did you apply the change to? Thanks.

[2020-12-30 05:52] JoinHands opened #1273 "kfserving in kubeflow not work"
/kind bug
when I exec "kubectl get inferenceservices -n kubeflow“， get message "Unable to connect to the server: stream error: stream ID 1; INTERNAL_ERROR”

kubeflow version: 1.2.0
install from kfctl -V -f kfctl_istio_dex.v1.2.0.yaml
**What did you expect to happen:**

logs from "kubectl logs kfserving-controller-manager-0 -n kubeflow manager"
`https://10.96.0.1:443/apis/serving.kubeflow.org/v1alp

[2020-12-30 14:03] ontheway16 commented on #951
@yuzisun , Is this information still valid ? Should we install 1.17? (I am about to setup a new cluster, looking to find best working versions of k8s, kubeflow, kfserving, istio, knative, docker etc..)
Thanks.

[2020-12-30 17:29] yuzisun commented on #1273
@JoinHands looks like kfserving controller is not able to connect to api server, is there any network policy enforced ?

[2020-12-30 17:40] yuzisun commented on #1242
Queue proxy is configurable with Knative 0.16+, by default cpu and memory are enforced.

[2020-12-30 17:40] #1242 closed

[2020-12-30 17:46] yuzisun commented on #1153
Good catch! Can you help add this to the debugging guide?

[2020-12-30 17:51] yuzisun commented on #1151
@averagua can you get the logs from the main model server container ?

[2020-12-30 17:52] #948 closed

[2020-12-31 04:56] kd303 commented on #1153
@yuzisun May be I am bit confused about ClusterRbac part , we installed a new cluster with Dex and RBAC and again ran into same issue, and the problem got resolved with changing ClusterRbacConfig and adding the namespace in the ON_WITH_EXCLUSION list, now what is puzzling is there are ServiceRole and ServiceRoleBindings are created so why would we still have to add to ON_WITH_EXCLUSION?

I would b

[2020-12-31 22:17] mszacillo opened #1274 "Recommended Kfserving Dependency Versioning"
/kind bug

**What steps did you take and what happened:**
I was experiencing issues deploying my inference service after running the make deploy-dev with self signed certs enabled. To reproduce, these are the steps I took:
1. Unset all proxies and set my KO repo
2. Created kind cluster using kind create cluster --image=kindest/node:v1.17.11@sha256:7175872357bc85847ec4b1aba46ed1d12fa054c83ac7a8a11f

[2021-01-02 00:25] #1083 closed

[2021-01-04 08:31] chinmay22897 commented on #951
@ontheway16 Did you find any good versions maping so that every thing works for local cluster at least? I am using v0.7.0 of kubeflow as of now as other newer versions are not working on my minikube setup (for which I have already raised issues but looks like there is no support for them as of now)

[2021-01-04 08:36] ontheway16 commented on #951
@chinmay22897 hi, I am using regular kubernetes install, but since I am focusing to inference only, at the moment, I decided to follow standalone KFserving install route. All seems working with 1.17, but I continue to test, still learning.

[2021-01-04 08:42] ontheway16 commented on #1272
Decided to reinstall the cluster.

[2021-01-04 08:42] #1272 closed

[2021-01-04 08:43] #1259 closed

[2021-01-04 09:17] ontheway16 opened #1275 "Istio-gateway config in standalone KFserving install"
Hello, I have followed the standalone KFserving route to get a fully local kfserving setup, and tested the sklearn-iris sample provided down below the install page.
https://github.com/kubeflow/kfserving#standalone-kfserving-installation

But after finalizing sklearn samples install, I realized its working only locally since _Curl from local cluster gateway_ is working (with some modifications), bu

[2021-01-04 09:59] cliveseldon commented on #1275
The ingress gateway to use is defined in the configmap for kfserving : e.g., https://github.com/kubeflow/kfserving/blob/a370b7ccee2cacaf7480d2d03f2660703888c896/install/v0.4.1/kfserving.yaml#L4289-L4293

Do these default setting match your use case?

[2021-01-04 11:03] ontheway16 commented on #1275
@cliveseldon Thanks for the reply.
I have applied the following;
[code]
So, yes, I have it in yaml. May be I just do not know how to connect things.
Meanwhile, I have these, if it helps;

![Screenshot01](https://user-images.githubusercontent.com/23200711/103528382-edff7400-4e94-11eb-9d35-11040203da0a.png)
![Screenshot02](https://user-images.githubusercontent.com/23200711/103528391-f192fb00-4e94-11

[2021-01-04 11:46] kd303 commented on #773
I am amazed at this particular feature, we have a similar use-cases where one video feed from multiple cameras we are trying to multiple analytics using multiple models. what confused me so far is about multiple models sharing GPUs for inferencing as assigning a GPU per model inference is bit expensive, egarly looking forward to this PR! 👍

[2021-01-04 12:30] danishsamad commented on #892
How can we change the default timeout value using  V1aplha2 specs?
I understand the "timeout" option present in the[ V1beta1PredictorSpec](https://github.com/kubeflow/kfserving/blob/master/python/kfserving/docs/V1beta1PredictorSpec.md) allows to change the default timeout value . We are currently using the KFServing 0.4.1 release and leveraging the kfserving pipeline [component ](https://github.co

[2021-01-04 13:14] chinmay22897 commented on #428
@Sinba7 @JoinHands Did you guys solved this problem or just upgraded your versions and somehow it went away?

[2021-01-04 15:44] yuzliu commented on #773
@kd303 Multi-model serving is released as an experimental feature in KFServing [v0.5.0-rc1](https://github.com/kubeflow/kfserving/releases/tag/v0.5.0-rc1), here is a [doc](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/triton/multimodel) about how to use it with triton model server.  We will add more docs soon!

[2021-01-04 15:55] ontheway16 commented on #1275
Another attempt with Bert;

[code]
[code]
[code]

[2021-01-06 12:38] #1226 closed

[2021-01-06 14:23] kd303 opened #1279 "KFServing : No IngressNotConfigured and Virtual Services are not getting created"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Installed a KFserving from samples (sklearn), and when we check the inference service is giving IngressNotConfigured, upon further investigation we found that no Virtual services are created

**What did you expect to happen:**
Samples should work as per the documentation

**Anything els

[2021-01-06 22:50] ontheway16 commented on #1199
@jal06 hi, while seeking for a solution for 503, found this and realized I dont have the ```cluster-local-gateway```, either. I made the install with following link, edited auto injection to enabled (istio 1.7.1);
https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection
But even after trying ```istioctl install```(default profile), I still cannot see a ```clust

[2021-01-07 02:17] yuzisun opened #1280 "Model puller flag is not set in MMS mode after merging the logger"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
- enable-puller flag is not set after we merged logger to the model agent
- logger conflicts after merging the model agent
- Model downloader should support public S3 bucket

**Anything else you would like to add:**
[Miscellaneous information that will

[2021-01-07 02:17] yuzisun commented on #1280
/cc @adriangonz

[2021-01-07 07:02] jal06 commented on #1199
@ontheway16, I did a PR for deploying the local gateway in GCP : #https://github.com/kubeflow/gcp-blueprints/pull/177

After applying this PR in GCP, the example without Istio injection [sklearn-iap-no-authz.yaml](https://github.com/kubeflow/kfserving/blob/master/docs/samples/gcp-iap/sklearn-iap-no-authz.yaml) works.
When adding authorization, the example with Istio injection [sklearn-iap-with-aut

[2021-01-07 07:23] ontheway16 commented on #1199
@jal06, thank you for the reply. I am working fully local. Also, I am not installing kubeflow, just kfserving standalone.
So this basically means there are issues waiting to be fixed in kfserving setup, to make samples working, correct ?

[2021-01-07 07:56] jal06 commented on #1199
For GCP, there is at least the PR for the local gateway which must be merged.
For other platforms, I don't know. I saw a few other issues (for example https://github.com/kubeflow/website/pull/2409/files )

[2021-01-07 09:05] kd303 commented on #1279
We found the rootcause, one of the custom services deployed behind Istio had incorrect definition, however what is interesting to see was the entire cluster and all services were facing the issue.

Closing the issue now.

/close

[2021-01-07 09:05] #1279 closed

[2021-01-07 13:46] Bobgy commented on #1199
one thing strange I noticed is that documentation in https://github.com/knative/docs/blob/master/docs/install/installing-istio.md#installing-istio-without-sidecar-injection is different from https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection.

There's an additional section in istio operator definition like
[code]

that seems like the idiomatic way to inst

[2021-01-07 16:22] yuzisun commented on #1153
@kd303 does the service role and service rolebinding created cover for inference service ? Can you paste the output of the istio rbac?

[2021-01-07 17:11] #1280 closed

[2021-01-07 22:08] #1275 closed

[2021-01-08 06:25] ontheway16 opened #1283 "no response from model, Triton server example"
Istio Version: v1.7.1
Knative Version: v0.19
Kubernetes version: v1.17

I have managed to make Bert example's Triton deployment start functioning as seen in image with `curl -v http://bert-v2-predictor-default.default.192.168.1.235.xip.io/v2`, but could not get any other response, either by `/v2/models` or `/v2/models/bert-v2`. Since inference service status is `READY True`, I am assuming theres n

[2021-01-08 22:01] yuzisun commented on #1283
@ontheway16 looks like you only deployed the predictor part from the example not including the transformer, I think the model name you specified is wrong, what you provided is the inference service name.

[2021-01-08 22:35] ontheway16 commented on #1283
@yuzisun thank you for the answer. Yes I decided not to include transformer part but can this prevent the expected response?

What should be the model name? I thought it should be ```bert-v2```
Also, in v2, ```/v2/models``` not bringing anything, is this normal behaviour? I simply could not find whats wrong and tried many different things.

Thanks!

[2021-01-08 23:33] ontheway16 commented on #1283
from bert example documentation;
https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/triton/bert#run-a-prediction
[code]

[2021-01-09 01:55] yuzisun commented on #1197
@kdecyllene looks like there is similar issue for katib https://github.com/kubeflow/katib/issues/1395, related to kubernetes 1.19.

[2021-01-09 03:06] yuzisun commented on #386
CRD is now fully structured in 0.5 release.

[2021-01-09 03:06] #386 closed

[2021-01-09 13:44] sriumcp opened #1285 "Missing input.json file in v1beta1 rollout folder"
/kind bug

**What steps did you take and what happened:**
While following the v1beta1 rollout sample instructions, I noticed that it references an `input.json` file which is missing from the folder.

**What did you expect to happen:**
I expected to find `input.json` in the `docs/samples/v1beta1/rollout` folder.

**Anything else you would like to add:**
The models used are the same as in v1alpha2 r

[2021-01-09 19:03] ontheway16 commented on #1283
/kind bug

@yuzisun you are right. But it took some time to find out actual name. The ```model_name``` provided in the [documentation](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/triton/bert#run-a-prediction) is incorrect (```MODEL_NAME=bert-v2```).
The actual model name (and version) is written in triton server log:
[code]
I could retrieve the model metadata with above

[2021-01-09 19:17] ontheway16 opened #1286 ""error":"Unable to parse 'inputs', HTTP/1.1 400 Bad Request [bert example, Triton samples]"
I am sending the following request and it returns an `Unable to parse 'inputs'` error.. What I am doing wrong in here ?
[code]

The red line at top, with `watch -x curl....`;

![Screenshot from 2021-01-09 22-11-19](https://user-images.githubusercontent.com/23200711/104106550-d4f92780-52c7-11eb-854e-0b40f32b5f97.png)

[2021-01-10 12:06] yuzisun commented on #1283
@ontheway16 When you use transformer the model name is correct which is `bert-v2` as by default KFServing creates the name same as the inference service name, however for predictor the model name is actually what you specified on config.pbtxt [here](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1alpha2/triton/bert/bert_large/config.pbtxt#L2) while you save the trained model. Can

[2021-01-10 12:10] yuzisun commented on #1286
What's your input file ?

[2021-01-10 12:10] ontheway16 commented on #1283
@yuzisun Here is curl output for both:

[code]
[code]

[2021-01-10 12:11] ontheway16 commented on #1286
@yuzisun
[code]

[2021-01-10 12:17] ontheway16 commented on #1286
If relevant, the only degub step I could not get an answer in kfserving debug document is the following:

[code]

But pod is there:
[code]
And I could not find any errors in all events. Just some warnings.

[2021-01-10 12:21] yuzisun commented on #1286
@ontheway16 that's the input for the transformer which converts the above input to tensor input, if you call out to predictor directly you need to send the actual tensor input to triton.

[2021-01-10 12:23] ontheway16 commented on #1286
@yuzisun I tried to follow the example provided [here](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/triton/bert#run-a-prediction) and now can't figure out what I should actually do, if below is not applicable:
[code]

[2021-01-10 12:26] ontheway16 commented on #1286
Result of above:

[code]

[2021-01-10 12:32] ontheway16 commented on #1286
So basically I am hitting the wrong target. How can prevent it hitting the predictor and send it to transformer ?

[2021-01-10 12:58] ontheway16 commented on #1286
OK I tried the following, and still no:

[code]

[2021-01-10 13:22] yuzisun commented on #1283
@ontheway16 can you help get the transformer pod log?

[2021-01-10 13:23] yuzisun commented on #1286
Let’s resolve in #1283

[2021-01-10 13:23] #1286 closed

[2021-01-10 13:29] ontheway16 commented on #1283
[code]
[code]

[2021-01-10 13:33] ontheway16 commented on #1283
Also,

`~$ watch -x curl -v -H "Host: bert-v2-transformer-default.default.192.168.1.235.xip.io" -d @./input.json http://192.168.1.235:80/v2/models/bert-v2/infer`

result:
![Screenshot from 2021-01-10 16-23-31](https://user-images.githubusercontent.com/23200711/104124302-2f929200-5361-11eb-811f-9507f663c092.png)

[code]

Result:
![Screenshot from 2021-01-10 16-26-02](https://user-images.githubuserc

[2021-01-10 15:45] ontheway16 commented on #1283
Plus this:

![Screenshot from 2021-01-10 18-43-31](https://user-images.githubusercontent.com/23200711/104127574-e7309f80-5373-11eb-8968-dc1dc88a0db9.png)

[2021-01-10 16:35] yuzisun commented on #1283
@ontheway16 I figured out the endpoint is wrong, the transformer still works with v1 protocol while triton speaks v2 inference protocol.

If you try this endpoint it should work
`curl -v -H "Host: ${SERVICE_HOSTNAME}" -d $INPUT_PATH http://${INGRESS_HOST}:${INGRESS_PORT}/v1/models/$MODEL_NAME:predict`

[2021-01-10 17:37] ontheway16 commented on #1283
@yuzisun , Thank you very much, got the answer _JFK_, with the following query. This solved 2 months of hassle. Particularly leaving Kiali graphs here to show beginners like me, what _may_ be expected in a functioning flow.
Meanwhile, I am assuming the "unknown" in the graph is used to prevent scaling down to zero? Since I could not find it anywhere :)

[code]

![Screenshot from 2021-01-10 20-26-4

[2021-01-10 18:07] yuzisun commented on #1283
@ontheway16 very nice graph! If you are interested, could you help send a PR to add this graph and fix the doc for what you think is not clear?

[2021-01-10 18:09] #1285 closed

[2021-01-10 18:28] #1257 closed

[2021-01-10 20:29] ontheway16 commented on #1283
I wish I could, but I am not so familiar with Github operations. Please feel free to use any graphs in my messages.

Although, I may share some different ideas about overall documentation, from a user (not developer) perspective, via some other channel, if you would like to hear: alp..97..@..hotmail.com (please remove double dots).

[2021-01-11 08:44] ontheway16 commented on #1283
@yuzisun, I made some edits on readme.md and added above graph, as .png file. Can you please review? Sorry at the moment I am not sure about PR process, so copied the modified bert folder to google drive. You can alter/remove any text.

https://drive.google.com/drive/folders/1yMFtZW1Fs21HzK_WE_CJG6qGCIdQatXl?usp=sharing

[2021-01-12 08:39] ivan-valkov opened #1293 "Update k8s libraries to 0.19.x"
/kind feature

**Describe the solution you'd like**
It would be great to update [our k8s dependencies](https://github.com/kubeflow/kfserving/blob/master/go.mod#L49-L74) to 0.19. It will provide compatibility with 0.19 k8s versions and allow projects using kfserving internally to have an easier migration to 0.19.

**Anything else you would like to add:**
The last time the libraries were updated was

[2021-01-12 11:11] PatrickGhosn opened #1294 "Running the tf-flower sample kfp returns 404 on the first step of the run."
/kind question

**What steps did you take and what happened:**
Created a jupyter notebook and ran the following example. https://github.com/kubeflow/kfserving/tree/master/docs/samples/pipelines

On the first step I'm getting 404 for the inference service.
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"inferenceservices.serving.kubeflow.org \"tf-s

[2021-01-12 17:30] PatrickGhosn commented on #1294
Seems I needed to create the inferring service first.

[2021-01-12 17:30] #1294 closed

[2021-01-12 23:33] Tomcli opened #1296 "Figure out new ways to reduce the crd size"
/kind feature

**Describe the solution you'd like**
In #1244 and #1167, we start seeing the annotations is reaching the character limit when we run `kubectl apply' to deploy KFServing. We already using `maxDescLen=0` to remove the description and `trivialVersions` no longer can be used with both v1alpha2 and v1beta1. Therefore, we need to figure out new ways to further reduce the crd size.

**Anyt

[2021-01-13 05:32] iavinas opened #1297 "Authentication in Kfserving API services on public cluster."
Our team has deployed a few Pytorch GPU models with scale down to zero. I don't want others to access the model.
I am searching for a solution to stop the access of API before the upscaling of our Pytorch GPU starts. Please help me find a solution.

[2021-01-13 07:23] #1283 closed

[2021-01-13 22:36] ontheway16 opened #1298 "Cannot recognize storage type for /mnt/pvc, inference service for triton"
Trying to install a custom model with triton 20.08;
[code]

[code]

Apparently, it fails to copy /models contents, but;

[code]

Inference servers; bert is working on cpu and uses gs://, and this node is installed with 2 gpus;

[code]
Inference service yaml file;
[code]

Before of this error, run another test by installing triton server as a pod, with same pv and pvc yaml files, (then deleted the

[2021-01-13 22:41] #1243 closed

[2021-01-13 22:50] jbottum commented on #1298
@ontheway16 FYI, Arrikto provides a storage class that is integrated (and supported) in advanced Kubeflow workflows.  This architecture enables you to use the operational, performance & cost benefits of local NVMe disks.  It might be worth a call to discuss your use cases.

[2021-01-14 05:38] edenbuaa commented on #898
@yuzisun Can we set the inactivity time to scale down to 0 ?

[2021-01-14 06:27] thesuperzapper opened #1300 "Make MutatingWebhook have object selector by default"
/kind feature

Is there any particular reason why the [troubleshooting step described in the docs](https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#troubleshooting) (adding object selector on kfserving pod mutating webhook) is not applied in the default in `kubeflow/manifests` YAML?

See here for the relevant manfiets: https://github.com/kubeflow/manifests/blob/master/kfse

[2021-01-14 06:27] thesuperzapper commented on #1300
@kubeflow/kfserving-owners

[2021-01-14 16:45] daganida88 commented on #1229
Where did you map 80 to 8080?

[2021-01-14 17:37] cliveseldon commented on #1298
Can you try with `file://` as the prefix?

[2021-01-14 19:10] #1240 closed

[2021-01-14 21:37] ontheway16 commented on #1298
Solved. I have modified the storageUri to:
`storageUri: "pvc://triton-models-claim"`
(and later, also modified gpu ram limits, to 5Gib, since limit should be higher than the request, as far as I understand, other wise pod status returns `OOMKilled`

[2021-01-14 21:44] ontheway16 commented on #1298
Solved. I have modified the storageUri to:
`storageUri: "pvc://triton-models-claim"`
(and later, also modified gpu ram limits, to 5Gib, since limit should be higher than the request, as far as I understand, other wise pod status returns `OOMKilled`

[2021-01-14 21:47] #1298 closed

[2021-01-15 01:41] yuzisun commented on #1300
@thesuperzapper we did not change kubeflow manifest only because kubeflow min requirement was kube 1.14 while object selector is introduced in 1.15. Kfserving stand-alone already requires min 1.15 so object selector is set by default, let us know if we can do the same for kubeflow manifest now.

[2021-01-15 02:20] thesuperzapper commented on #1300
@yuzisun I don't think we explicitly state anywhere what the minimum supported K8S is. (If this is true, we should put this somewhere on kubeflow.org)

But given 1.14 (and 1.15, 1.16 for that matter) [are EOL](https://en.wikipedia.org/wiki/Kubernetes#History), I don't see a reason to continue supporting them.

[2021-01-18 08:42] chinmay22897 opened #1304 "Unable to run custom hello-world sample on kubeflow kfserving"
/kind bug

**What steps did you take and what happened:**

I am trying out kfserving with on prem kubeflow using minikube, I tried to test the most basic sample of kfserving and followed the steps on https://github.com/kubeflow/kfserving/tree/v1beta1/docs/samples/custom/hello-world documentation.

These are the outputs I am getting-
[code]
[code]
[code]

**What did you expect to happen:**
Succesfu

[2021-01-18 13:01] chinmay22897 commented on #1138
@kd303 Can u please tell me how you have set this proxy details, is it that before deploying the whole kubeflow cluster you changed the manifest for kfserving or is there any other way there to set the environment on running kubeflow cluster? Will be highly grateful for any pointers from your side.

[2021-01-18 13:38] daganida88 commented on #1229
Did you figure it out?? I am also stuck on this.

[2021-01-19 05:59] chinmay22897 commented on #1304
I think revision controller is not able to connect with external hosts, all the other images that I am able to pull is mostly from kubelet-minikube. So is there anyway to change config for revision controller or is there something different going on here?

[2021-01-19 09:38] ivan-valkov opened #1307 "Replace deprecated controller-runtime packages"
/kind feature

**Describe the solution you'd like**
We use `controller-runtime/pkg/runtime/log` and `controller-runtime/pkg/runtime/signals` in a bunch of places. Both of these are deprecated and were deleted in v0.7.0 of `controller-runtime`:
https://github.com/kubernetes-sigs/controller-runtime/commit/a32b29d13265e87521ead29bed96d7fb44f57e1e#diff-c4abdec7bd505d8a03b365a244374fd9cde3fd5b69976d463

[2021-01-19 11:21] AkashDharani commented on #1229
No, i didn't figure it out when I was working on it.

[2021-01-20 10:53] jiaqianjing opened #1308 "transformer without domain of predictor"
![image](https://user-images.githubusercontent.com/16071449/105164744-76963980-5b50-11eb-89a5-1214aa495175.png)
![image](https://user-images.githubusercontent.com/16071449/105165336-2bc8f180-5b51-11eb-9f3d-a265dfb7cda9.png)

https://github.com/kubeflow/kfserving/blob/659b2c43841ea98bcfab5411b05964e49b34811c/pkg/constants/constants.go#L307:6

[2021-01-20 19:37] HassaanAkbar commented on #1151
I am having the exact same issue with KF 1.2 on AKS deployed using [this](https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_azure.v1.2.0.yaml) manifest. queue-proxy gives error connection refused. Main serving container has no error. Calling inference endpoint gives 503 service unavailable error. Any workaround for this issue?

[2021-01-21 03:35] yuzisun opened #1310 "Art explainer crashes the kfserving controller"
/kind bug

**What steps did you take and what happened:**
http://86308603-argo-argo-5ce9-1162466691.us-west-2.elb.amazonaws.com/workflows/kubeflow-test-infra/kubeflow-kfserving-presubmit-e2e-1306-d0f3432-5360-280e?tab=workflow&nodeId=kubeflow-kfserving-presubmit-e2e-1306-d0f3432-5360-280e-159579293&sidePanel=logs%3Akubeflow-kfserving-presubmit-e2e-1306-d0f3432-5360-280e-159579293%3Amain

[code]

*

[2021-01-21 03:36] yuzisun commented on #1310
/cc @Tomcli @drewbutlerbb4 @animeshsingh

[2021-01-21 03:40] yuzisun commented on #1310
I think it is probably due to the fact that art explainer is not implemented on v1alpha2 so `dst.Spec.Default.Explainer` is null
https://github.com/kubeflow/kfserving/blob/master/pkg/apis/serving/v1alpha2/inferenceservice_conversion.go#L346

[2021-01-21 03:53] prgawade opened #1311 "Istio-proxy fails intermittently while creating inferenceservice for pytorch model with transformer"
/kind bug

**What steps did you take and what happened:**

YAML file used to create the inference service

apiVersion: "serving.kubeflow.org/v1alpha2"
kind: "InferenceService"
metadata:
  name: "pytorch-cifar-test"
spec:
  default:
    predictor:
      logger:
        mode: all
      pytorch:
        storageUri: "s3://internalrepo/internal_Artifacts/1350/model/1004/"
        modelClassName: "Net"

[2021-01-21 17:12] Tomcli commented on #1310
I thought v1alpha2 is going to be deprecated in the future releases so I didn't add it to the PR. Not sure is there a way to opt-out the converter to avoid this error, but I can add the v1alpha2 api if that's required.

[2021-01-21 17:52] yuzisun commented on #1310
@Tomcli I think we do not need to add back to v1alpha2, we just need a null check if the explainer does not exist on v1alpha2.
            if dst.Spec.Default.Explainer != nil {
		dst.Spec.Default.Explainer.ServiceAccountName = src.Spec.Explainer.PodSpec.ServiceAccountName
		dst.Spec.Default.Explainer.MinReplicas = src.Spec.Explainer.MinReplicas
		dst.Spec.Default.Explainer.MaxReplicas = src.Spec.

[2021-01-21 19:57] #1310 closed

[2021-01-22 04:56] prgawade opened #1314 "knative networking-istio unmarshalerDecoder: unknown field error"
/kind bug

**What steps did you take and what happened:**

1. Created a new inference service yaml as below:

apiVersion: "serving.kubeflow.org/v1alpha2"
kind: "InferenceService"
metadata:
  name: "pytorch-cifar-test6"
spec:
  default:
    predictor:
      logger:
        mode: all
      pytorch:
        storageUri: "s3://internalrepo/Internal_Artifacts/3333/model/2341/"
        runtimeVersion: "1

[2021-01-26 02:38] yuzisun commented on #1308
@jiaqianjing the predictor host is correct here as transformer to predictor is via local gateway which uses the in cluster service name.

[2021-01-26 02:41] #1308 closed

[2021-01-26 03:07] yuzisun commented on #1314
Could be some invalid virtual service resource living in your cluster?

[2021-01-26 08:56] rmporsch opened #1317 "invalid memory address or nil pointer dereference in agent"
/kind bug

**What steps did you take and what happened:**

We deployed the following triton inferenceservice:

[code]

as well as the following TrainedModel

[code]

within this s3 container we have stored the following mode:

[code]

we then observe the following error in the `agent` when loading the mode:
[code]

Interestingly, when we try the same with the example model `cifar10` we do not obse

[2021-01-26 22:44] yuzliu commented on #1317
Thanks! We will take a look.

[2021-01-27 12:20] Iamlovingit opened #1320 "Kubernetes Native Deployment on KFServing"
/kind feature

**thanks @yuzisun & @cliveseldon**

# Kubernetes Native Deployment on KFServing
## Problem:
KFServing totally depends on Knative to bring serving features like scale to zero, Knative Pod Autoscaler(KPA) and canary rollouts to ML/DL deployments, and the serving runtime contract requires HTTP as the inbound transport.
There are use cases where Knative would be a great solution but whe

[2021-01-27 16:15] daganida88 opened #1321 "Unable to invoke grpc endpoint inside my tensorflow ML model."
/kind feature

Unable to access my grpc endpoint when creating tensorflow InferenceService, there is no way to invoke it.
When you create an inference service, you will receive a host domain, which then you will add to the headers when invoking a rest call, using -H "HOST:<example.com". I don't have these header options when trying to invoke it using a grpc stub, what should I do? There are no sam

[2021-01-28 15:04] mtoslalibu opened #1324 "A/B/N rollouts"
/kind feature

**Can I roll-out multiple versions for an inference service simultaneously?**
I see that kfserving (v1beta1) provides canary capability, which is great. Does it also support multiple version rollout at the same time? I want to be able to have 3 or more inference service versions that I would like to experiment with.

[2021-01-29 13:06] prakashsingh21 opened #1325 "Deploying Kf-serving on AKS Cluster."
I am facing the issue with KF 1.2 on AKS using [this](https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_azure.v1.2.0.yaml) manifest.
1. queue-proxy gives error connection refused.
2. Main kf-serving container has no error.
3. Calling inference endpoint gives 404 error. Any workaround/doc for this issue? If yes please share with me.

[2021-01-29 17:30] PatrickXYS opened #1326 "[Test] Migrate to new test-infra"
**Description of your changes:**
Migrate kubeflow/kfserving to new test-infra, there's no difference between old test-infra and new test-infra from users' perspective.

Part of https://github.com/kubeflow/testing/issues/861

I'll be working on this during weekend to avoid potential test failures.

/cc @kubeflow/wg-serving-leads

[2021-01-29 17:30] PatrickXYS commented on #1326
/assign

[2021-01-29 18:47] kimwnasptd opened #1327 "Web app for managing InferenceServices"
/kind feature

**Describe the solution you'd like**
Have a distinct web app for managing the life-cycle of v1beta1 `InferenceServices` and allow the users to perform CRUD operations on them without the need for `kubectl`.

This app should follow the same guidelines we have for Kubeflow web apps like using `SubjectAccessReviews` to perform authorization checks https://github.com/kubeflow/community/

[2021-01-29 22:19] #1007 closed

[2021-01-30 01:53] pugangxa commented on #1324
I think it's not supported from Inferenceservice resource since we only exposed canaryTrafficPercent which is to distribute traffic between current canary and last ready revision. But you know actually it's knative service created for an inferenceservice and everytime you update it a new revision for a knative service is created, so you can do it through knative service resource, something like:
[

[2021-01-30 15:44] yuzisun commented on #1321
@daganida88 We are still working on the docs, but this is the example yaml for tensorflow gRPC
https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/tensorflow/grpc.yaml

[2021-01-31 14:42] #1225 closed

[2021-01-31 14:44] yuzisun commented on #1321
you can check [this example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/tensorflow#create-the-inferenceservice-with-grpc) now

[2021-01-31 14:44] #1321 closed

[2021-01-31 14:45] yuzisun commented on #1229
@daganida88 @akash-harijan Please check the [tensorflow gRPC example]( https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/tensorflow#create-the-inferenceservice-with-grpc)

[2021-01-31 14:45] #1229 closed

[2021-01-31 16:38] yuzisun commented on #597
This is now supported in KFS 0.5.

[2021-01-31 16:38] #597 closed

[2021-01-31 16:41] yuzisun commented on #462
this is now supported in KFS 0.5.

[2021-01-31 16:41] #462 closed

[2021-01-31 16:44] #790 closed

[2021-01-31 16:49] yuzisun commented on #1187
Done with #1322 #1306

[2021-01-31 16:49] #1187 closed

[2021-01-31 16:51] #1046 closed

[2021-01-31 16:51] #905 closed

[2021-01-31 16:52] #902 closed

[2021-01-31 16:55] yuzisun commented on #1311
@prgawade which version of KFS you are on?

[2021-01-31 16:56] yuzisun commented on #1031
now with KFS 0.5 you can set the `OMP_NUM_THREADS` env variables.

[2021-01-31 16:56] #1031 closed

[2021-01-31 18:39] #1012 closed

[2021-01-31 22:40] yuzisun opened #1333 "Knative serving 0.19+ breaks the top level KFServing virtual service"
/kind bug

**What steps did you take and what happened:**
I am trying to access the sklearn-iris example using the xip.io service running on minikube with kfserving. I am able to successfully use the xip.io to access the both of http://sklearn-iris-predictor-canary.myns.192.168.49.2.xip.io and http://sklearn-iris-predictor-default.myns.192.168.49.2.xip.io , but I am unable to access the http://skl

[2021-02-01 00:53] #1326 closed

[2021-02-01 00:57] PatrickXYS opened #1335 "[Test] Fix lightgbm test in new test-infra"
During the process I helped kfserving migrate to new test-infra, noticed that lightgbm failed every time, and to mitigate the issue, I disabled it in the pytest.

I'm working on the lightgbm test cases, and see if I can reproduce locally.

Need to spend time and dig into it

Detailed can be found https://github.com/kubeflow/kfserving/pull/1329#issuecomment-770325947

/cc @yuzisun
/assign

[2021-02-01 04:45] nak3 opened #1336 "Is it possible to make top level KFServing virtual service optional?"
/kind feature
/kind question

**Describe the solution you'd like**

- As KFServing users, we would like to use KFServing without Istio. For example, KNative supports other Ingress like Contour, Kourier, Ambassador, Gloo, etc but KFServing always requires Istio.
- The top level KFServing's virtual service needs Istio but the virtualservice could be optional? We cannot access the URL in `isvc`, but

[2021-02-01 06:15] thesuperzapper commented on #1300
@kubeflow/kfserving-owners any movement on this for Kubeflow 1.3?

[2021-02-01 06:36] yuzisun commented on #1336
@nak3 we are planning to make istio optional, the top level virtual service currently is used to route across multiple InferenceService components under a single domain for predictor, transformer and explainer which are created as separate knative services.

[2021-02-01 06:41] nak3 commented on #1336
@yuzisun That's awesome. And that is really clear answer why the top level VirtualService is necessary :smile:  Thank you so much.

[2021-02-01 13:56] chinmay22897 commented on #1304
Indeed it was because of the proxy issues face by controller, so I set the env for controller as
[code]

This solved the problem for missing revisions and now the images were being pulled.

[2021-02-01 13:56] #1304 closed

[2021-02-01 14:23] chinmay22897 opened #1337 "Unable to curl the predictions for any of the kfserving samples in docs."
/kind bug

**What steps did you take and what happened:**
Running the kubeflow V1.0 with minikube installation.
I am just following the sample examples of kfserving for tensorflow and sklearn from the docs:
this is one of the yaml file that I am using
[code]
On doing the curl request after setting INGRESS HOST,PORT and SERVICE_NAME, I am getting-
[code]
I have already set changed the knative-gatew

[2021-02-01 14:25] yuzisun opened #1338 "MMS service gets 404 during autoscaling"
/kind bug

**What steps did you take and what happened:**
Run following perf test job which triggers autoscaling, however lots of requests get 404 because models are not loaded to sklearnserver yet for the replicas that are scaled up.

[code]
[code]

**What did you expect to happen:**
All responses should be 200

**Anything else you would like to add:**
We should add readiness check to the model a

[2021-02-01 14:28] chinmay22897 commented on #1337
@yuzisun Sorry for tagging you, but you seem to be the only one active right now here, any suggestions.

[2021-02-01 14:29] yuzisun commented on #1337
@chinmay22897 Kubeflow 1.0.2 has known issues, please upgrade to 1.1 or 1.2.

[2021-02-01 15:45] yuzliu commented on #1338
We can potentially do this:
1. Add a /healthz/all in model agent
2. Check all model's status using the model health check endpoint like [this](https://github.com/kubeflow/kfserving/blob/ec9e8ca569ea173de3717a41130e37cfb756ac8d/python/kfserving/kfserving/api/kf_serving_client.py#L411)
3. Add a readiness check for model agent

[2021-02-01 15:51] #1317 closed

[2021-02-02 07:05] yuzisun commented on #1335
@lynnmatrix not sure if there is some dependency change, but seems now lightgbmserver is broken and I can replicate the issue with `make deploy-dev-lgb` and in the log I can see

[code]

[2021-02-02 07:07] yuzisun commented on #1335
there is new numpy release v1.20.0 which potentially breaks this?

[2021-02-02 08:23] pugangxa commented on #1307
/assign

[2021-02-02 08:36] adamkgray opened #1340 "Istio gateways are hard coded and anti-pattern"
![kfserving](https://user-images.githubusercontent.com/29312513/106587255-5caf1a80-6584-11eb-81c9-61115e65afc7.png)
/kind feature

**Describe the solution you'd like**

You should be able to specify any (or none!) ingress-gateway/cluster-local-gateway when using kfserving

Right now the values are hardcoded in `pkg/constants/constants.go`:
[code]

It is a misnomer because in knative these are not

[2021-02-02 08:42] kmathiou commented on #696
I have a similar setup like @marcindulak [here](https://github.com/kubeflow/kfserving/issues/696#issuecomment-591632719)

but when I apply the InferenceService
[code]

the storage-initializer cannot start and gives either

when storageUri contains "-" ( s3://sklearn-iris-1)

or

when storageUri is: (s3://test/models)

When in load the model from google storage gs://.. it works fine.

Do you have a

[2021-02-02 11:51] chinmay22897 commented on #1337
@yuzisun Is 1.0.1 compatible, I saw one of your comments where you recommended even previous versions (I have problem on 1.0.0, 1.1 and higher due to other kubeflow pods errors) I am getting the same error Model does not exist on v1.0.1 as well, I have  even tried the v0.7 as well same error. Is the error some how due to the fact that somehow the launched pod is not having the model file given by

[2021-02-02 15:26] jmalobicky opened #1342 "kfserving 0.5.0-rc2 standalone - segmentation violation"
/kind bug

**What steps did you take and what happened:**
- Deploy [kfserving-0.5.0-rc2 standalone](https://github.com/kubeflow/kfserving/blob/master/install/v0.5.0-rc2/kfserving.yaml)
- Check that the controller is started and running
[code]
- Create a namespace for sklearn
[code]
- Create [InferenceService resource](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/sklearn/s

[2021-02-02 16:09] yuzisun commented on #1342
@adriangonz Can you help take a look?

[2021-02-02 16:31] adriangonz commented on #1342
Thanks for sharing that report @jmalobicky! Could you share the `inferenceservice-config` configmap of the `kfserving-system` namespace? It may be that the configmap is missing some pieces of information.

[2021-02-02 16:32] jmalobicky commented on #1342
@adriangonz Here is the configmap

[code]

[2021-02-02 17:51] adriangonz commented on #1342
Thanks for sharing that @jmalobicky. That seems up to date.

I'm wondering whether this may be a problem with how the order of how the webhooks get called. @yuzisun do you know if the mutating webhook gets called before or after the conversion one?

[2021-02-02 18:20] yuzisun commented on #1342
@adriangonz conversion webhook is called before the mutating webhook, but from the stack it looks like get invoked when exposing some promethus metrics?

@jmalobicky are you able to replicate this consistently ?

[2021-02-02 18:23] jmalobicky commented on #1342
@yuzisun everytime I add the InferenceService for sklearn-iris this happens.

[2021-02-02 18:34] Sifat1998 opened #1344 "The issue number is sufficient when an issue exists."
The issue number is sufficient when an issue exists.

__Originally posted by @paulb777 in https://github.com/firebase/firebase-ios-sdk/pull/7427#discussion_r568798646__

[2021-02-03 02:43] yuzisun commented on #1344
spam content?

[2021-02-03 02:43] #1344 closed

[2021-02-03 03:58] #1293 closed

[2021-02-03 04:11] yuzisun commented on #1340
@adamkgray Thanks for raising this issue! We are working on to make those constants configurable, to answer your questions.

[code]
I do not think this is true, `sklearn-iris-predictor-default.default.svc.cluster.local` is just an external name which points to cluster local gateway.
[code]

[2021-02-03 05:09] hsinhoyeh opened #1347 "imcompatible with tensorrtserver with version 19.xx"
/kind bug

In triton predictor, it seems that only version 20.xx are allowed and 19.xx are not.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

As nvidia rename the inference service executable name to `tritonserver` since version 20.03 (whereas `tensorrtserver` previously) (https://docs.nvidia.com/deeplearning/triton-inference-server/release-

[2021-02-03 08:24] chinmay22897 opened #1348 "Is there any way of passing the env/proxy details to the init-container mainly storage-initializer?"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am creating a inferenceservice sklearn-iris from examples using kfserving standalone deployment on my cluster, everything is setup, I am even able to create my own custom images and run the kfserving but when running by setting the predictor as one of the main libraries (sklearn,tensor

[2021-02-03 13:30] jmalobicky commented on #1342
@adriangonz @yuzisun Is there any other information needed? Any possible workarounds?

[2021-02-03 15:14] adriangonz commented on #1342
My impression is that the conversion webhook is calling the `GetContainer` method. The `GetContainer` method expects some fields to have already been set by the mutating webhook. However, since the mutating webhook hasn't been called yet, it causes a segmentation fault when it tries to access these fields.

If the above is true, it would also affect the rest of predictors that go through a convers

[2021-02-03 15:47] jmalobicky commented on #1342
@adriangonz This issue is with using the v1beta1 InfrerenceService based on [this](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/sklearn/sklearn.yaml), I just added my namespace to the resource
[code]

I had the same issue with the v1alpha2 and deleted the resource and used the v1beta1, thinking that the v1alpha2 wasnt compatible.

[2021-02-03 16:27] adriangonz commented on #1342
Interesting. Thanks for sharing that @jmalobicky.

Now I'm not 100% sure whether the conversion webhook is playing a role here or not. Do you already have an `InferenceService` CR with the same name by any chance? It'd also be good to know if this was an upgrade on a previous version of KFServing?

[2021-02-03 16:35] jmalobicky commented on #1342
@adriangonz There was an existing sklearn as part of v0.4.1 as I was working on [another issue](https://github.com/kubeflow/kfserving/issues/1333), but I think this may have been an upgrade from v0.4.1 to v0.5.0-rc2. I can always try a fresh deployment just to see if the issue persists. I did not have any other `InferenceService` CRs defined except for the `sklearn-iris`, there was a knative servi

[2021-02-03 17:12] jmalobicky commented on #1342
@adriangonz I tried on a fresh minikube environment without any existing InferenceService or kfserving deployed

[code]

Inferenceservice-cm
[code]

[2021-02-03 17:40] adriangonz commented on #1342
Thanks for trying that out @jmalobicky. That's really helpful.

Looking at those logs, it seems that the mutating webhook doesn't get called when you create the resource. Could you list the `mutatingwebhookconfigurations` in the cluster?

[2021-02-03 18:13] jmalobicky commented on #1342
@adriangonz here is the configurations

[code]

[code]

A few others as well in case they would provide further insight

[code]

[code]

[2021-02-03 20:42] yuzisun opened #1350 "Port validation error for readiness/liveness probe on InferenceService custom spec"
/kind bug

**What steps did you take and what happened:**
Apply InferenceService v1alpha2 or v1beta1 custom spec with readiness probe and get the following validation error saying "port" is required, however if you specify the port knative validation then fails for not allowing setting the port, so the only walk-around is either skip the validation or set port to 0.

[code]

[code]

**What did you

[2021-02-03 21:06] abchoo opened #1351 "Support headers in http(s) uri requests for inference service"
/kind feature

**Describe the solution you'd like**
## InferenceService headers support in http(s) uri requests
Downloading model files from a http/https service may require authorization passed through the header. The problem can be solved by storing header details into secrets and extracting them to use when the storage initializer is downloading the model. This will be for non MMS use case.

##

[2021-02-03 21:46] #1335 closed

[2021-02-03 21:48] PatrickXYS commented on #1335
@yuzisun  Thanks for quick fix!

[2021-02-04 05:04] chinmay22897 commented on #1337
@yuzisun I tried out the standalone deployment for KFServing and now the model files is getting downloaded or copied to /mnt/models path inside the kfserving-container, so problem in kubeflow for me was that the init container storage initializer is not being launched which is doing the job of fetching the model from storage uri. Tried kubeflow v1.1 as well still storage initializer was not being

[2021-02-04 07:45] tiru1930 opened #1355 "not able to deploy custom ECR images into kfserving using its tags"
When i do the deployment with yaml  if the image has tags, kfserving is not able deploy the model.
if the ECR image has tags then i was not deploying where has if we provide image URI@digest it was working.

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]  aws
- Minikube version:

[2021-02-04 09:16] yuzisun commented on #1337
@chinmay22897 just noticed you were deploying in kubeflow namespace, this is expected to not work as kubeflow is control plane namespace and you are not supposed to deploy application there.

[2021-02-04 09:24] yuzisun commented on #1337
It is documented here https://github.com/kubeflow/kfserving#kfserving-with-kubeflow-installation

[2021-02-04 09:24] #1337 closed

[2021-02-04 09:25] pugangxa commented on #1350
There's already below code in Makefile:
[code]
But here did not consider custom spec. We need consider custom spec for predictor/explainer/transfomer, for both v1alpha2 and v1beta1.

[2021-02-04 09:40] pugangxa commented on #1350
/assign

[2021-02-04 12:38] yuzisun commented on #1347
@deadeyegoodwin 19.xx are no long supported right ?

[2021-02-04 15:59] yuzisun opened #1357 "Trained model controller random crash in CI"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Kfdef:[k8s_istio/istio_dex/gcp_basic_auth/gcp_iap/aws/aws_cognito/ibm]
- Minikube version:
-

[2021-02-04 16:48] deadeyegoodwin commented on #1347
Triton's older than 20.06 only support the original V1 protocol and that protocol is no longer supported.

[2021-02-04 20:32] #1350 closed

[2021-02-05 02:15] youxingtian opened #1358 "Multi-user, auth-enabled Kubeflow with kfctl_istio_dex ,kfserving no response"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
**I use Multi-user, auth-enabled Kubeflow with kfctl_istio_dex to install kubeflow,use kfserving to deploy a custom images server, curl a requests,but no response.**
![image](https://user-images.githubusercontent.com/49486786/106979387-2eeeef00-6799-11eb-804c-75a5892c52e2.png)
![image](h

[2021-02-05 02:18] yuzisun commented on #1347
@hsinhoyeh KFS have no plan to support triton versions older than 20.06.

[2021-02-05 02:18] #1347 closed

[2021-02-05 06:59] prgawade commented on #1311
@yuzisun  v0.11

[2021-02-05 07:02] prgawade commented on #1314
closed. Issue was found with one of the virtual service

[2021-02-05 07:02] #1314 closed

[2021-02-05 07:26] prgawade opened #1359 "renewed certificate not reflecting in mutatingwebhookconfigurations inferenceservice.serving.kubeflow.org"
/kind bug

**What steps did you take and what happened:**

We have a cluster up and running since 3 months, last week, kfserving-webhook-server-cert certificate was updated

Certificate: kfserving-webhook-server-cert
Valid Beginning:
01/29/2021 (7 days ago)
Expires:
04/29/2021 (in 3 months)
Algorithm:
RSA - 256 bits
Issuer:
kfserving-webhook-server-service.kubeflow.svc

Since then, we were getting

[2021-02-05 09:57] adriangonz commented on #1342
It seems that there is a duplicated webhook in that configuration. From what I can see, the name of the mutating webhook for the `v1beta` `InferenceServices` is the same as the last one (i.e. `inferenceservice.kfserving-webhook-server.pod-mutator`). I've seen in the past weird problems like this when webhook configs have duplicated names.

This seems different from the [`MutatingWebhookConfigurati

[2021-02-05 12:43] yuzisun opened #1362 "401 Unauthorized error in e2e tests"
/kind bug

**What steps did you take and what happened:**
[code]
Every 15 mins, the attached token has to be refreshed otherwise 401 Unauthorized.

E.g, check prow build logs (Not Argo Workflow) and you can see every 15mins, 401 Unauthorized error surfaces, http://prow.kubeflow-testing.com/view/s3/aws-kubeflow-jenkins/pr-logs/pull/kubeflow_kfserving/1315/kubeflow-kfserving-presubmit/13574975481719

[2021-02-05 13:27] jmalobicky commented on #1342
Hello @adriangonz - I am deploying kfserving from https://github.com/kubeflow/kfserving/blob/master/install/v0.5.0-rc2/kfserving.yaml

Which is the same commit hash that you referenced in your link above.

[2021-02-05 13:42] yuzisun commented on #1362
https://github.com/kubernetes-client/python-base/issues/125

[2021-02-05 13:56] adriangonz commented on #1342
@jmalobicky now I'm very confused. The `MutatingWebhookConfiguration` that you shared previously seems to conflict with what's on the repo.

Would it be possible to remove that (just the `MutatingWebhookConfiguration` should be enough) and then re-install KFServing on the cluster?

[2021-02-05 14:19] jmalobicky commented on #1342
@adriangonz I installed on a fresh minikube, the other day just to make sure I was not upgrading an existing 0.4.1 installation. I think i found the culprit - there was a kustomization patch that was being applied to the `MutatingWebhookConfiguration` based on the information relating to the README - https://github.com/kubeflow/kfserving/blob/master/README.md#standalone-kfserving-installation and

[2021-02-05 14:25] yuzisun commented on #1342
@jmalobicky great finding! you no longer need that patch, that should be installed by default after 0.4 release

[2021-02-06 12:27] #1307 closed

[2021-02-06 12:31] #1159 closed

[2021-02-06 20:55] #1340 closed

[2021-02-08 09:38] rmporsch commented on #1317
It seems we still have issues with this problem after deploying the fix in #1318 .

Previously we had no issue running the cifar10 sample on the documentation. With the newest fix. This seems also broken.

[code]

[2021-02-08 11:16] molejnik-mergebit opened #1364 "Multimodel serving error when downloading models - unsupported protocol GS"
/kind bug

**What steps did you take and what happened:**

I followed instructions for multimodel serving from here:
https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/sklearn/multimodel

According to the logs model files cannot be downloaded from the Google cloud storage (gs:// prefix). I checked the source code pointed to by the log message (kfserving/pkg/agent/puller.go:134)

[2021-02-08 14:01] daganida88 commented on #597
The example does not work, I get UNIMPLEMENTED

[2021-02-08 14:14] daganida88 commented on #1229
The exmaple does not work.. I receive:
grpc._channel._InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
	status = StatusCode.UNIMPLEMENTED
	details = "Received http2 header with status: 404"
	debug_error_string = "{"created":"@1612793608.875597000","description":"Received http2 :status header with non-200 OK status","file":"src/core/ext/filters/http/client/http_client_filter.cc","f

[2021-02-08 14:16] daganida88 commented on #1229
I am also using v1alpha2 and not v1beta1.. it says inference service resource does not exists in v1beta1.

[2021-02-08 16:47] yuzliu commented on #1364
gs protocol is supported and that's what used in the [e2e test](https://github.com/kubeflow/kfserving/blob/master/test/e2e/predictor/test_multi_model_serving.py#L45). Could you please double check you are on the latest master branch?

[2021-02-08 16:57] yuzliu commented on #1364
You could also try using our nightly built model agent image: `kfserving/agent:latest`

[2021-02-08 22:18] abchoo opened #1365 "MMS scalability and Performance Test"
/kind feature

**Describe the solution you'd like**
Benchmarks to be added for multi-model serving to determine it's scalability and ability to perform. Compare with non-MMS to determine effectiveness of the new feature.

Each benchmark test should specify:
- Total CPU
- Total GPU
- Total Memory
- Number of IP address
- Number of models
- Number of pods
- Number of inference services
- Size of clu

[2021-02-08 22:25] yuzliu commented on #1364
@molejnik-mergebit I think I know why it doesn't work for you. The quick_install.sh installs from a release candidate and the gcs support is not released yet. If you are familiar with the dev workflow you can run `make deploy-dev` to build and deploy the master branch into your cluster. Or change all the `kfserving/agent:v0.5.0-rc2` image in your inferenceservice.yaml such as [this line ](https://

[2021-02-09 01:58] yuzisun commented on #1300
@pvaneck We can make the object selector by default for KF 1.3?

[2021-02-09 01:58] yuzisun commented on #1300
@thesuperzapper I'd suggest moving this issue to kubeflow manifest repo

[2021-02-09 01:59] yuzisun commented on #1342
@jmalobicky let us know if this is still an issue.

[2021-02-09 07:06] tiru1930 opened #1366 "How do we set minReplicas: when we deploy using kubeflow pipelines ?"

[2021-02-09 08:27] molejnik-mergebit commented on #1364
@yuzliu thank you for these hints, I'm not familiar with the development process of this project, so I'll try changing the line to `kfserving/agent:latest` as you proposed and get back to you

[2021-02-09 15:14] jmalobicky commented on #1342
@yuzisun I think my issue is resolved, but I was going to open a PR for updating that README to remove the patch. I feel like once that is merged, then this issue can be closed.

[2021-02-09 16:03] yuzisun commented on #1342
That is already taken care in my 0.5 release PR.

[2021-02-09 16:08] #1342 closed

[2021-02-09 16:09] molejnik-mergebit commented on #1364
After using `kfserving/agent:latest` it seems to work

[code]

I think you can close the issue

[2021-02-09 18:30] yuzliu commented on #1364
Thanks!

[2021-02-09 18:30] #1364 closed

[2021-02-10 10:04] crmne opened #1369 "KFServing-controller: admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: 1 error occurred: * attempts must be positive"
/kind bug

duplicate of https://github.com/kubeflow/kubeflow/issues/5598 since I'm not sure which component is at fault

**What steps did you take and what happened:**
1. Installed Kubeflow 1.2 on EKS with Cognito using [the manifest on Kubeflow's website](https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_aws_cognito.v1.2.0.yaml)
2. Tried to deploy the `pytorch`, `sklear

[2021-02-10 15:19] adamkgray opened #1370 "connection refused when pulling from cluster-local minio s3 gateway"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The agent gets a tcp connection refused error when pulling models via a local minio server in s3 gateway mode

[code]

**What did you expect to happen:**

It should pull the models

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue