[2019-03-28 00:32] gaocegege opened #2 "question: The scope of the repo"
Hi, I am working on Model Serving these days and interested in contributing to this repo. Do we have any doc or design proposal of this repo? Are we trying to implement a Serving CRD?

[2019-03-28 16:33] abhi-g commented on #2
@ellis-bigelow is working on a ROADMAP document that will be available in next couple days

[2019-03-28 17:09] ellis-bigelow commented on #2
Hi Ce,
We're hoping to implement a CRD for a "unit of model serving". We're limiting our scope to just this for now, but eventually we may shift towards model server standardization, explainability, payload logging.

We hope to cover 80% of use cases. See my PR for more details.

If you're curious about the origin of this, see https://github.com/kubeflow/kubeflow/issues/2306

[2019-03-29 16:34] ellis-bigelow commented on #2
/close

[2019-03-29 16:34] #2 closed

[2019-03-30 21:50] ellis-bigelow opened #6 "Revisions Concept Breaks GitOps"
There has been a large discussion over email about this topic. I'm opening this up to the repo so we have history and increase participation.

[2019-03-30 21:50] ellis-bigelow commented on #6
Ellis Bigelow:

Hey @Clive Cox, @Rakesh Kelkar, @Dan Sun, @Lun-kai Hsu
I spent some time chatting with the Knative team about this problem. This is indeed something that they're facing and actively exploring fixes to.
In our discussion, we covered three possible solutions:Use multiple resources (effectively configuration + route)Allow users to set revisionName and persist N revisions into the past

[2019-03-30 21:51] ellis-bigelow commented on #6
Rakesh Kelkar:
 (todo reformat)

I think the concept of revision is an implementation detail that we need in order to track multiple resources that are created to serve the spec. I feel likewe need a different named identifier that the user must explicitly specify and use to control partial rollouts and rollbacks. This identifier is optional for users who never want to pin and always rollout chang

[2019-03-30 21:52] ellis-bigelow commented on #6
Clive Cox: (todo reformat)

Thanks  Ellis,
I think I was thinking for GitOps to remove Revision you would supply both resource definitions for Canary and Current in same resource. But that probably does increase complexity as you would need to allow a list of sub-resource definitions. The CRD operator would reconcile this to what is running and only add/remove Revisions as needed.
I agree that may

[2019-03-30 21:52] ellis-bigelow commented on #6
Rakesh Kelkar:

Hey Clive,

Yes you are right it does rely on laika hanging about. This is a fatal flaw... Laika comes crashing down to earth!!

I agree that the only foolproof way is to have both specs specified. That is basically a denormalized version or separate deployment and service specs. Seems better actually since operations will necessarily be atomic?

-r

[2019-03-30 21:53] ellis-bigelow commented on #6
Ellis Bigelow:

Hey All,
Clive and Rakesh, thanks for your thoughts! Rakesh, I like how you're thinking, but it does have the flaw you've already identified. This flaw is due to the fact that Laika and Uri both have un-referenceable revisions under the hood. I think this is actually solved by simply naming revisions. If you specify each revision name, you have a handle to it in each of your git co

[2019-03-30 21:53] ellis-bigelow commented on #6
Rakesh Kelkar:

Shouldn't revisions be immutable? can that be enforced if users control revision names and the associated spec?

[2019-03-30 21:53] ellis-bigelow commented on #6
Ellis Bigelow:

Revisions are immutable. The admission controller would reject an existing name. 

[2019-03-30 21:53] ellis-bigelow commented on #6
Clive Cox:

True. But then the users need to ask - ok so I'm on "mymodel24" so need to call it "mymodel25".  I suppose that isn't that bad. Alternatively, you could ensure only 2 revisions are kept in Knative to allow more freedom on reusing names.

Maybe, can we enforce only "latest" is kept after a full rollout? So in that case you can just call your models "green" and "blue"?

[2019-03-30 21:54] ellis-bigelow commented on #6
Dan Sun:

Just thinking along with Raresh's idea, I am wondering if knative serving can track all the revisions which made to full rollout and tag those revisions with its own serials of names. In this way it is easier to get semantics like "rollback to LKG", "rollback to LKG~2", canary between "LKG/candidate" or "LKG~2/candidate", it also reduce the operational risks of getting strange traffic sp

[2019-03-30 21:54] ellis-bigelow commented on #6
Ellis Bigelow:

re: Clive's comment,
I think the generation of these names would probably be done with some CI/CD system (or fairing?). Of course, users could manually increment these names, but I imagine there would be a lot of "whoops, I forgot to update the revision name" and the kubectl apply would fail. Maybe that's okay though. The problem with keeping only two is you break the `git revert`

[2019-03-30 21:54] ellis-bigelow commented on #6
Rakesh Kelkar: (todo format)

So I've had a principle I have been trying to meet to ensure cluster ops is decoupled from model ops:"desired state" is enough to boot strap a new cluster (that starts from zero state). Cluster state created by past operations is not required.

However I have beenstruggling to understand how it is upheld in a gitops context.. consider the following scenario:Commit 1:

[2019-03-30 21:55] ellis-bigelow commented on #6
Ellis Bigelow: (todo format)

I think you're right Rakesh, during rollout mode, you lose blind re-instantiation of the resources in another cluster. This is a fundamental issue of the revision pattern. 
I've played a little bit with a "canary" semantic and you'd end up with something like this:apiVersion: "serving.kubeflow.org/v1alpha1"kind: "Service"metadata: name: "myModel" annotations: cloud.go

[2019-03-30 21:55] ellis-bigelow commented on #6
Ellis Bigelow:

Also FYI,
Knative's Service Spec is going to change: https://github.com/knative/serving/milestone/18. We should take a look through as they're likely discussing similar things.

[2019-03-30 21:55] ellis-bigelow commented on #6
Rakesh Kelkar: (todo format)

Thanks for the pointer to kn changes, will look.
On the concerns you listed, 
1. Why would it break loadbalancer IP config?
I see the spec as a denormalized version of the underlying resources:Deployment1
Deployment2Service (with deployment selector)
So its just syntactic convenience, because in the minimal case you only specify one spec and get the deployment for fre

[2019-03-30 21:56] ellis-bigelow commented on #6
Dan Sun:

Instead of having both revisions on spec, another option maybe is to sync all the spec revision changes to a database(audit trails) and you can recover the LKG state from there in another cluster.
Dan

[2019-03-30 21:56] ellis-bigelow commented on #6
Rakesh Kelkar:

My read of your comment is a mechanism to store cluster state and then relying on that state. That is certainly a possibility and would require a new cluster to sync state from existing cluster LKG state before syncing users desired state. Just wondering if that can be reasonably avoided?

[2019-03-30 21:56] ellis-bigelow commented on #6
Clive Cox:

I think having a dependency on syncing state from somewhere external adds a lot of external complexity.
I still like the "gitops" friendly main and canary in same spec...
Echoing Rakesh, can you expand Ellis on the two problems you mentioned?

[2019-03-30 21:57] ellis-bigelow commented on #6
Dan Sun: todo format

I like the idea of keeping the LKG on the spec but in practice it does rely on user doing the right thing otherwise the complexity of validation can be a explosion as Ellis said.
For example1 : initially you have M1 and rollout 1002 : canary rollout m2, now you have both M1 M2 on the spec and set percent 20%3 : you decided m2 is not good then you update m2 to m3 4 : m3 looks

[2019-03-30 21:57] ellis-bigelow commented on #6
Rakesh Kelkar: todo format

The specs can be validated for syntactical correctness only.  Not sure the spec can be validated for semantic correctness. 
So moving m3 to 100% => making it primary, if the user now updates m3->m4 then the desired state is m4 primary, m1 secondary. If m4 fails to rollout the system will attempt to rollback to m1. This is "correct" per the spec.
The key here is that cor

[2019-03-30 21:57] ellis-bigelow commented on #6
Ellis Bigelow:

This is a really awesome discussion. I will migrate this to an issue for kfserving and we can continue in there.

[2019-03-30 21:58] ellis-bigelow commented on #6
ABOVE COMMENTS ARE FROM EMAIL DISCUSSION
======================================
BELOW COMMENTS ARE GITHUB DISCUSSION

[2019-03-31 02:50] ellis-bigelow commented on #6
Finally off the plane :). A couple of you asked me to follow up on previous points.

I was playing devil's advocate against the idea of whether or not GitOps as we're discussing it is even feasible. Let's take the assumption that we've committed a set of YAML files to a repo and want to apply them to separate clusters.

Problem 1)
For LoadBalancer Services, at least in GKE, you apply a static IP t

[2019-03-31 02:53] ellis-bigelow commented on #6
I've compiled some thoughts below. I see saving state to another source of truth as a non-starter. I think there are two remaining options -- please correct me if I've missed or misunderstood one from our discussion!

## Approach A
[code]

## Approach B
[code]

## TL;DR
Neither solution is ideal, I'm leaning option B.

## Deep Dive
Firstly, I think the levels of tradeoffs we're making are reasonab

[2019-03-31 06:00] rakelkar commented on #6
I dont understand problem 1 you listed above. When you have 1 yaml and 2 clusters, there are two possibilities, depending on how the clusters are related:
a. clusters are independent
b. clusters are related (e.g. setup for across availability zones for HA)

If they are independent, both clusters do their thing and dont care about the other. So in your example both setup an IP.

If they are related

[2019-03-31 06:23] rakelkar commented on #6
@ellis-bigelow  thanks for the detailed summary and pro/cons. I think the fundamental difference between A & B is that A references revisions that are cluster state while B is fully specified.. I think we can work the spirit of B into different syntax that might alleviate some of the cons you mentioned, specifically unclean diffs - that seems very sad and unavoidable with that particular syntax. T

[2019-03-31 06:33] rakelkar commented on #6
Could also have primary=blue at the top level instead of isPrimary but I like that the isPrimary attribute forces you to go to the spec who's status you are modifying... seems more explicit that way, draws attention even in diffs to exactly what is becoming primary.

[2019-03-31 15:43] yuzisun commented on #6
@rakelkar  I think we are getting closer ! This does address the issue for unclear diffs and alleviate some of the potential user errors. Another rule I think we need here is to make the primary spec immutable in blue/green mode, also seems the user specified revision name is needed on spec in the rollback scenario.

[code]

There is still one case I am struggling to figure out how it would work i

[2019-03-31 17:28] rakelkar commented on #6
@yuzisun blue green was inspired by a comment you made during the last meeting :)

Why does the user need to specify the revision name? The fact that a revision exists seems like an implementation detail. All that the user asserts is that this spec must be primary. Can the system not match to cluster artifacts (using a primary spec content hash for instance)?

In a way you can consider cluster sta

[2019-03-31 19:28] ellis-bigelow commented on #6
Hey all,
Interesting discussion and a lot to unpack here. It seems like we're converging on something in spirit with Option B. I'm confident we can nail an effective structure for it.

**Firstly**, I think there's a fundamental disagreement on the terminology for blue-green. I understand it as: "A rollout mechanism where a new configuration is deployed to new servers follow by a traffic flip". Thi

[2019-03-31 19:58] yuzisun commented on #6
Agreed on the naming since we are conflating the two things. `IsPrimary` can be encoded to the type name, but I think it does give some value of cleaner diff and without that you need to copy canary to stable, maybe that's not a big deal. How about the following spec ?
[code]

[2019-03-31 20:57] ellis-bigelow commented on #6
I think that's the closest we've gotten so far.

nit: `runlatest` -> `runLatest`

It's a little "knative-y" since we share that term, but I think that's a good thing. The best part about this is that it results in clean diffs no matter how you edit it.

[2019-03-31 22:17] ellis-bigelow commented on #6
Noodling on this further:
[code]
"routeTo" makes sense on it's own, but it also makes sense in the context of canarying. Not perfect though...

[2019-04-01 03:58] rakelkar commented on #6
Great points @ellis-bigelow thanks for clarifying the terms. Putting both at the same level does improve it.
@yuzisun I had the isPrimary instead of the type name because that makes it easier to change without inadvertently modifying the spec. However I think the proposed struct can also be edited fairly safely..

Here is how I would use it:
1. specify stable
2. specify canary
3. iterate on canary

[2019-04-01 05:03] ellis-bigelow commented on #6
I'm open to rolloutPercent, traffic, trafficPercent, or others. I'm less excited about default primary or default given that they seem very redundant on their own in the non-canary case. That's how I came up with routeTo, as it makes more sense on it's own, similar to runLatest. If we can't find a name that satisfies the intent of both the canary and non-canary use case, we can always keep them as

[2019-04-01 07:01] cliveseldon commented on #6
* I certainly prefer just 2 `modelSpec` locations and not 3 - as 3 is error prone and confusing to me
 * As for `routeTo`, `stable`, `primary` name - I think I prefer `stable` or `primary` as even `routeTo` is confusing with Canary use as the Canary is obviously being `routeTo`-ed!  `stable`/`primary` also implies there can be `canary` in future.
 * I prefer `traffic` or `trafficPercent` if we are

[2019-04-01 14:17] yuzisun commented on #6
- I still prefer to keep 3 because they are two different deployment strategy, we probably do not want to confuse user on the spec and with proper validation it is not an issue.
- In terms of naming, I feel `stable` and `canary` version are commonly used terminology for canary rollout, or maybe we can call it `canaryStable` and `canaryCandidate` for a better indication that they are logically grou

[2019-04-01 15:50] cliveseldon opened #7 "Data Plane Specification - Initial Thoughts"
Some early thoughts on the data plane layer to garner feedback on directions.

## Goals

 * Provide a data payload that a range of predefined ML Servers including TFServing, XGBoost, SkLearn can interface to handle prediction requests and return responses to an external client.
 * Allow custom predict functions to be built that can serve requests using the API.

## Initial Design Questions

  1. S

[2019-04-01 16:30] ellis-bigelow commented on #6
I will update the PR with latest:

rolloutPercent -> trafficPercent
two subspecs: primary + canary

We can always rename this, but I want to unblock implementation as I feel we've roughly exhausted this discussion. After some time and introspection, perhaps we'll have new feelings. Sound good?

[2019-04-01 17:10] ellis-bigelow commented on #7
Great start here, Clive.

There's a lot of respond to and a lot to research for myself (cloudevents).

1. It looks like there might be some overlap between HTTP headers and GRPC protocol. How do we intend to model this? Should we avoid all HTTP headers and do everything in the payload? That seems a little odd
2. Istio returns some general purpose HTTP heads (x-envoy-backend-time). Should we view t

[2019-04-01 17:32] ellis-bigelow commented on #7
Also -- does this resonate with you at all? I think we'll need the "orchestrator" to impedance match different servers (e.g. tf serving). We'll also need it for enabling other features.

![DataPlane](https://user-images.githubusercontent.com/2585992/55347323-62f47d00-5469-11e9-9aca-b565484d7d69.jpg)

[2019-04-01 21:12] cliveseldon commented on #7
Interesting questions.

I would suggest everything is in the payload for clarity unless there is some reason to provide both?

I think this is the same issues as 1 above no? If we allow headers in HTTP then other protocols such as gRPC will be different, as well as payloads entering via Kafka etc?

Sounds like that could be a good way to go with everything defined in protos.

Not sure what you are

[2019-04-01 21:20] cliveseldon commented on #7
Sounds interesting. A "routing" orchestrator that then merged the results into a single final message could be a good logical component.

One thing I'm less sure if whether "explanations" can be treated in the same way as usually I would see that as an external component  that calls model server for a given request. Most recent black-box model explanation algorithms will need to call the model may

[2019-04-01 22:27] yuzisun commented on #7
I think some use cases can be relying on http headers such as authentication, distributed tracing. Can http headers get translated to grpc meta data ? I know for kafka the headers can get translated to record headers.

[2019-04-02 06:13] rakelkar commented on #7
Cool! lots to learn - cloudevents, kn queue and orchestrator!

Have a very basic question to start - what does the first goal mean exactly?

If I am writing a new model service that is say TF, but I'm using python and have my own pre and post processing logic, what schemas should I use? Will this spec (and associated tools or protos) guide me in some direction? If not, and I invent my own request

[2019-04-02 11:14] cliveseldon commented on #7
@rakelkar

 To answer in general the user should understand how they can deliver their feature requests for prediction in a flexible payload that provides some guidance on the structure - e.g. TensorProto, or NDArray.

For the core (XGBoost, SKlearn, TFServing) servers I assume they would accept a small set of standard core payloads as suggested - but that's up to discussion.

For custom component

[2019-04-02 14:53] DavidLangworthy commented on #7
Following up on @rakelkar's question and @cliveseldon's response.  How would this concrete example work.  A data scientists has provided me with a text classifier trained in tensorflow.  The pre-processing logic is written in Python.  It takes the input string, tokenizes it, matches it against a vocaublary dictionary loaded from a csv file, does something with UNK's and stop words, turns this into

[2019-04-02 15:34] cliveseldon commented on #7
Seldon Core's present way of doing this is

 1. To have a generic enough data plane that those data types can be transferred, (binary, string, TensorProto).
 2. To have a pipeline of connected components to pass these payloads between

So this would be part of the discussion for the control plane next steps to see how KFService components can be combined either with Seldon or a new KNative Pipelin

[2019-04-02 15:54] yuzisun commented on #7
A few of my thoughts here.
- Pre-processing/ transformer  and  predictor e.g TFServing expect different data schemas, for data transformer the input could be raw event data and output are features, for predictor the input would be features like fixed shape tensor, sparse vectors.  When raw events come in we need to convert to cloud events and deliver to the target channel or service defined on pip

[2019-04-02 16:56] cliveseldon commented on #7
@yuzisun This sounds good. So a registry for event type and schemas. A few questions:

 * Where would be see common meta data going? In each schema or something at the transport layer - couldevents/http headers for example?
 * For the out-of-the-box servers (XGBoost, SKLearn) would be expect their eventypes/schemas to be at quite a general level like `eventType:prediction`, `schemaUrl:http://tenso

[2019-04-02 19:29] ellis-bigelow commented on #7
I feel like we may be conflating too many things here.

I think we have 3 high level protocols:
* Events
* REST
* GRPC

I also expect that these will have pretty significant divergence. It may be easier to separate the definitions of these and not try to unify. I feel like munging a cloudevent syntax into an HTTP request or dropping HTTP headers in favor of GRPC will have an impact on the function

[2019-04-03 15:03] cliveseldon commented on #7
@ellis-bigelow I agree makes sense to come to some consensus on core parts of any schema.

However, I think we should also consider how control-plane components advertise what schemas they support - though this may be a separate Issue for the control plane resource definitions connecting with the wider Kubeflow story on metadata storage, usage and enforcement.

[2019-04-03 15:50] ellis-bigelow commented on #7
Yeah absolutely. It would be great to be able to poll something like
/protocolz/openapi
/protocolz/grpc
/protocolz/cloudevents

[2019-04-09 17:18] #6 closed

[2019-04-10 17:47] cliveseldon opened #13 "Non-KNative Resource Option"
We want to allow the user to run kfserving components without the dependency on KNative.
An initial implementation could :

  * Allow non-knative option via annotations
  * Create raw k8s deployments and services for model serving components.

[2019-04-11 01:26] gaocegege commented on #13
I suggest listing the feature in a high priority. We (Caicloud) have an internal version of Serving CRD, which is based on Kubernetes Ingress/Service and Istio. I think we should support different serving backends to be more general.

How about define an interface for serving backends and use annotations or CLI flags in controller to control what backends (KNative, Istio, Linkerd, Kubernetes Nativ

[2019-04-11 01:26] gaocegege commented on #13
/kind feature

[2019-04-11 02:40] yuzisun commented on #13
we actually discussed about the annotation approach in our WG meeting today.

[2019-04-11 08:31] gaocegege opened #14 "[feature request] Support different serving servers"
Now there are some inference servers such as TensorRT Inference Server, GraphPipe, TensorFlow Serving, and so on. Different may want to use different servers. Thus I think we should support different servers.

BTW, some servers support serving multiples models and multiple frameworks. For example, Graphpipe supports TensorFlow, PyTorch and Caffe. Maybe we also should investigate how to support co-

[2019-04-11 08:31] gaocegege commented on #14
/kind feature

[2019-04-11 08:46] cliveseldon commented on #13
@gaocegege  That sounds good. To handle canaries and blue/green routing the annotation would indeed need to specify the routing resources to utilize:
 * KNative (default?)
 * Istio
 * Linkerd
 * Envoy

[2019-04-11 08:57] gaocegege commented on #13
@cliveseldon KNative by default SGTM. Using Kubernetes native resources to handle canaries and blue/green routing may be hard, while it is feasible to use istio/linkerd/knative. Thus the list LGTM.

@yuzisun Is there any calendar for the SIG meeting? I am interested in it, too.

[2019-04-11 17:04] ellis-bigelow commented on #13
@gaocegege, I've added you to the meetings.

[2019-04-11 17:09] ellis-bigelow commented on #13
I want to minimize the number of implementations. I'm all for pluggability, but we need to make sure we're delivering clear customer value. Knative itself is working on the pluggability question, so we may be able to simply rely on their improvements.

Short term, as we discussed in our KFSWG meeting, the best value for effort will be:

- Default Knative impl w/ canarying & all the bells
- Annotat

[2019-04-11 17:12] ellis-bigelow commented on #13
Also @gaocegege, in our discussions so far, we've limited the networking responsibilities of KFServing to in-cluster communication. If you have Knative/Istio installed, you can use their Loadbalancer Service for Ingress, but we're not providing an Ingress solution ourselves.

I'm not sure we want to be creating ingress resources, as they don't map 1:1 with a KFService. If there's some disagreement

[2019-04-11 17:17] ellis-bigelow commented on #14
Thanks for the feature! Given our data model (high level "Tensorflow" spec), do you think it would make most sense to swap different Tensorflow technologies with annotations?

Regarding:
"Maybe we also should investigate how to support co-serving multiple models in one serving CRD.".

I think this is an anti-pattern in KFServing. A KFServing Service is a "unit" of model serving. The idea of hostin

[2019-04-11 17:25] ellis-bigelow opened #15 "Enable Prow + CI/CD"
It would be great to have some automated testing in place to determine that changes do not break anything:

It might be good to start with:
- Unit Tests
- Linting

And eventually enable:
- End-to-End tests

For e2e tests in Kubeflow, see  https://github.com/kubeflow/testing#setting-up-kubeflow-test-infrastructure

[2019-04-11 17:32] ellis-bigelow commented on #15
/assign @gsunner

[2019-04-11 17:35] ellis-bigelow opened #16 "Validate CRDs with a Validating Admission Controller"
We need a kubebuilder webhook for validation logic.

[2019-04-11 17:36] ellis-bigelow opened #17 "Enable GPU Selection in GKE"
GKE uses nodeselectors to choose GPU type https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#multiple_gpus.

This requires a mutating admission controller to mutate the underlying knative deployment to use a node selector. This behavior isn't currently supported directly by the knative team.

[2019-04-11 17:36] ellis-bigelow commented on #17
/assign @ellis-bigelow

[2019-04-11 17:36] ellis-bigelow commented on #16
/assign @ellis-bigelow

[2019-04-11 18:27] ellis-bigelow opened #18 "Support for additional frameworks scikit/xgboost/pytorch"
We need performant model servers for each of these technologies and auto-wiring via high level specs analogous to TensorflowSpec

[2019-04-11 18:29] ellis-bigelow opened #19 "Orchestrator component"
We need an orchestrator to connect serving features and impedance match between different backend interfaces.

![DataPlane](https://user-images.githubusercontent.com/2585992/55982074-efaef000-5c4c-11e9-9120-d5aa2bc3ab30.jpg)

[2019-04-12 00:08] ellis-bigelow opened #20 "Default CRDs with DefaultingAdmissionController"
We need to set sane defaults for resource requirements and runtime versions. We will likely need other defaults in the future. This is best implemented with an admission controller.

[2019-04-12 00:08] ellis-bigelow commented on #20
/assign @ellis-bigelow

[2019-04-12 02:54] rakelkar commented on #13
To clarify, what does ingress resource include? I assume you mean any setup of ingress load balancers, external IP etc. right? I also assume it doesn't include ingress rules. In #6 we discussed an internal and external URL as part of the status field... I assumed to get an external URL the implementation would have to write some sort of implementation specific ingress rule?

[2019-04-14 09:15] cliveseldon commented on #13
I think having raw k8s resources (svcs,deployments) created only makes sense if the whole spec for kfserving can be satisfied. If canaries, blue/green, scaling can't be handled then the spec is broken for people who don't want to use KNative.

Just looking at istio, it seems they don't have Go types yet. See [here](https://github.com/istio/api/pull/764). KNative uses their [own versions](https://g

[2019-04-14 17:11] yuzisun commented on #13
It is still a bit unclear to me for the value of implementing the spec with istio, correct me if I am wrong:
-  to have canary rollout you need to create istio virtual service, setup istio networking and have some way to clean up the deployments like knative revision gc. Not sure if it is worth the effort to implement exactly what knative serving has done.
- knative serving is pretty lightweight a

[2019-04-15 01:21] gaocegege commented on #13
@yuzisun Teah knative is built on top of istio and has a higher level abstraction, while in China, AFAIK, there are few companies running knative in production environment. They may have istio installed but they do not use knative. Then they cannot use our Serving CRD.

I the early stage, I agree that we could focus on knative implementation, while I hope that we could keep extensibility to suppor

[2019-04-15 08:35] jinchihe opened #22 "Readme file or design document"
I'm interested the kfserving repo, and want to have a quick start for this, seems no basic operation introduction in Readme, any plan to deliver that? or could please share the design document? Thanks a lot!

[2019-04-15 16:43] ellis-bigelow commented on #13
Agreed @gaocegege . Given how young this project is, I see multiple implementations and pluggability as much lower priority. When we do consider where and how we make this system pluggable, we need to be really thoughtful about what value we're delivering (unless of course, someone wants to provide the resources themselves).

Knative is in Beta and growing massively. I could imagine that in a year

[2019-04-15 16:45] ellis-bigelow commented on #22
Thanks Jin,
There is an outdated one in another repo that I've been meaning to update and port over here. I'll also add a link to the original design proposal.

[2019-04-15 23:52] jinchihe commented on #22
@ellis-bigelow Sounds great! That's better to have a quick start steps in Readme or have a development guide I think. :-) Thanks.

[2019-04-16 01:45] gaocegege commented on #13
SGTM. thanks.

[2019-04-19 07:48] cliveseldon opened #33 "Allow Custom Components"
Allow the creation of custom components initially provided by a `v1.Container` specification.

[2019-04-19 07:49] cliveseldon commented on #33
/assign @cliveseldon

[2019-04-19 12:12] yuzisun opened #35 "Update DEVELOPER_GUIDE.md"
- Document prerequisites for development
- Instructions for how to run and test code

[2019-04-19 12:13] yuzisun commented on #35
/assign @yuzisun

[2019-04-19 12:48] yuzisun opened #36 "Support credentials to load model from GCS/S3 storage"
In order to read model from GCS/S3 storage, we need to support credentials.
e.g for S3 we need to create a secret and refer as environment variables.
[code]
[code]

[2019-04-20 00:59] rakelkar opened #41 "CreateKnativeService does not sync to desired state in non-happy path cases"
@yuzisun The current implementation of CreateKnativeService will not sync cluster state to spec desired state in the following cases (admittedly off the happy path):
1. User modifies the default spec while a canary is active. Default revision will remain unchanged
2. New cluster (does not have any existing revisions) syncs serving CRD with default and canary. Will only provision canary?

I think t

[2019-04-20 01:10] rakelkar commented on #41
Maybe use route instead? Related KNative issue: https://github.com/knative/serving/issues/2721

From the route spec: https://github.com/knative/serving/blob/master/pkg/apis/serving/v1beta1/route_types.go
[code]

[2019-04-20 05:09] ellis-bigelow commented on #22
Closing this. Dev guide is coming, but there's another issue for this.

[2019-04-20 05:10] ellis-bigelow commented on #22
/close

[2019-04-20 05:10] #22 closed

[2019-04-20 05:49] ellis-bigelow commented on #36
How do you feel about annotations?

[2019-04-20 09:07] yuzisun commented on #41
Thanks for bringing this up! I have thought about this and like to add the validation against invalid states before starting the reconciliation in controller, there are a few other cases like adding canary while default is not ready yet. In order to do this we need to start watching the knative revision resources, will be a bit change.

[2019-04-20 09:14] yuzisun commented on #41
You are right this also depends on revision states, we will need to check whether the default revision exists in the cluster or not.

[2019-04-20 09:34] yuzisun commented on #41
I think what Matt on that ticket saying is that it supports automatic canary rollout at route level but not service, when you rollout a new revision the route will not assign the traffic to the new revision until it is in ready state(passing readiness probe check). For service it is a bit more than that since `Ready` state is defined by some metric, e.g in our case whether the model is good or not

[2019-04-20 16:28] cliveseldon commented on #41
Do we need to check these invalid conditions against proper "gitops" usage? For instance, updating the resource with a canary before the original "default" is ready seems fine to me by the rules of "gitops" and "declarative state" ideas - the controller should simply update to the new default+canary scenario gracefully. Or am I missing something here why that is not valid?

[2019-04-20 18:06] rakelkar commented on #41
@cliveseldon, Agree - the code should sync cluster state to desired state specified in the spec (ie for both default and canary) without any additional rules or policies. The issue is that the current implementation do that. The implementation assumes that a canary will only be set after default has been set. So if a canary in the is set the spec, it happily creates a new revision for canary assum

[2019-04-20 19:31] cliveseldon commented on #41
I think you are right there needs to be some discussion of whether just using Knative services can achieve the functionality we desire. I assumed the code was a starting point.

One thing I thought about was the control plane doc discusses switching canary traffic to be default as final step in canary rollout. For this you would need to keep track of how revisions match the current desired state a

[2019-04-20 23:49] ellis-bigelow opened #44 "Race condition on kfservice_controller_test"
[code]

[2019-04-20 23:49] ellis-bigelow commented on #44
/assign @yuzisun

[2019-04-22 02:28] yuzisun commented on #44
this is very likely caused by the two updates for knative service in the `TestReconcile` test case, sometimes it happens very fast so that it can result in concurrent updates to apiserver, for more reference of the issue you can check here(https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency). This should hav

[2019-04-22 14:14] yuzisun commented on #41
@cliveseldon @rakelkar I agree ideally we shouldn't need to check these conditions, but syncing both default and canary worries me a bit since that could result in multiple updates to knative service in a single reconcile step(potential race condition). Also in the above case when default is bad, I feel user should really just delete canary and fix default, it is a more clean workflow, with the cu

[2019-04-22 14:26] yuzisun commented on #41
`trafficPercent = 0` means routing to default and once user set `trafficPercent > 0` canary gets deployed, I am not seeing deploying canary is needed when `trafficPercent = 0`. Looks our disconnect is that you are always expecting syncing the entire spec but i am trying to do single update at a time :).

in knative routingPercent 100 is not allowed, when there is only one revision on the list that

[2019-04-22 17:01] #7 closed

[2019-04-23 17:15] ellis-bigelow commented on #44
SGTM

[2019-04-23 17:15] #44 closed

[2019-04-24 06:07] ellis-bigelow commented on #41
Just catching up to this thread. I think it's possible to just model this with two Knative Revisions and one Route that balances traffic.

[2019-04-24 20:14] yuzisun commented on #41
@ellis-bigelow @rakelkar @cliveseldon, After discussing with Knative team and Ellis is right just that revisions are immutable and we need to use configuration, I am pretty sold that we can go for two configurations and one route that splits the traffic, trying out that now.

[2019-04-24 20:22] ellis-bigelow commented on #41
Cool!

[2019-04-24 21:12] cliveseldon commented on #41
That's great.

  * Why are 2 configurations needed rather than 1 with revisions for default and canary?
  * Will this allow gitops where just a route change is made when you move canary to default? Just want to check we can provide the required functionality without creating new revisions in these circumstances.

[2019-04-25 21:58] ellis-bigelow opened #50 "Architecture Diagram"
It would be useful for developers to have an architecture diagram to assist in the development and debugging of KFServices.

[2019-04-25 21:59] ellis-bigelow commented on #50
/assign @ellis-bigelow

[2019-04-26 22:20] yuzisun commented on #36
@ellis-bigelow any further thoughts on this? By checking this page, looks a bunch of fields are needed
https://github.com/kubeflow/examples/tree/master/mnist#using-s3, not sure how to use annotation.

[2019-04-26 23:28] ellis-bigelow commented on #36
Here's the flow I had in mind:

1. User must have pre-created secret
2. User provides an annotation referencing the secret: `"serving.kubeflow.org/kfservice-s3-model-secret: secretRef"`
3. In our controller, if the user provides that annotation, we mount those to the kfconfigurations

I only worry a little bit that our default + canary model is a little weird. What happens if a user wants to canar

[2019-04-27 10:43] cliveseldon opened #52 "manager_image_patch.yaml deleted"
Any reason why this [commit](https://github.com/kubeflow/kfserving/commit/a3df96228211ca6c3dac77333d7b0e7ba85d9c5f#diff-b044399460ea0f6be013b6ca31f3596c) deleted the manager_image_patch.yaml? Master seems broken now.

[2019-04-27 15:05] yuzisun commented on #36
With our model once secretRef annotation is changed both default and canary get updated, so user will take an outage for a bad secret rollout. Maybe we can support envs on default/canary spec and pull secrets as envs which works for s3 but not sure for other storage.

Can you elaborate these more not sure if I understand this.

[2019-04-27 15:23] ellis-bigelow commented on #52
Total accident. I kept accidentally updating it. I mustve removed the file without re-checking it out.

[2019-04-27 15:35] ellis-bigelow opened #55 "Strangeness with top level spec fields applying to canary/default"
Currently, min/maxreplicas are set outside of the default/canary specification. This for strange scenarios where replicas changes are not able to be rolled out cleanly.

Should we move this into the canary/default specs? More generally, given that our CRD is responsible for two backend configurations, does it make sense to. by default, add new fields to canary or default instead of at the top leve

[2019-04-27 15:35] ellis-bigelow commented on #55
Any thoughts @cliveseldon , @yuzisun

[2019-04-27 16:13] cliveseldon commented on #55
Can you clarify what are the "strange scenarios" you refer to?

I suppose we need to clear there are user stories where people want differing values for min/max replicas for their canary as opposed to default. If so then yes definitely.

What annotations do you think would modify min/max replicas as opposed to the user specifying them in the resource directly?

What the semantics of trafficPercent

[2019-04-27 16:24] #52 closed

[2019-04-27 16:56] ellis-bigelow commented on #55
# spec-level config vs canary/default-level config
Agreed about mapping to user stories. However, I'm proposing that by default, it probably makes sense to put things at the canary/default level unless there is a clear case for something global.

Upcoming features we've discussed for this are:

1. AWS/GCP/Azure Credentials for model pulling
2. min/max replicas
3. annotations for GCP Accelerator se

[2019-04-28 17:57] rakelkar commented on #55
I think it makes sense to move them in. If I want to rollout a canary to manually test for instance, I would want that to have minInstances=0 or 1 and not be subject to a potentially higher minInstance set on default.

[2019-04-28 18:25] rakelkar opened #58 "Wire up scikitlearn spec"
Add a handler for the scikitlearn model type. Controller work to handoff to servers that support these model types. Related to #18

[2019-04-28 19:09] rakelkar opened #59 "[feature request] Profile models to help determine optimal resource limits"
Data scientists find it hard to figure out resource limits. KFServing should make it easy to set optimal limits automatically (within user set max bounds).

Possibly a VPA and something that fires off a set of warm-up or test queries on canary would suffice?

The Knative runtime contract also indicates that the serverless platform (knative) is allowed to adjust resource limits, so maybe kfserving

[2019-04-28 20:27] yuzisun opened #60 "Promote canary to default without creating new deployment"
Currently when user promotes canary spec to default, a new deployment will be created under default configuration despite that the same deployment was already created with canary configuration and serving the traffic, the traffic also needs to switch over to the newly created deployment. Although this is automatic it may take some time to launch the deployment and if the min replica is set low, kn

[2019-04-29 00:24] ellis-bigelow commented on #60
I'm a little wary of "upon promotion". I don't think our code should have any concept of promotion, as it introduces statefulness of the cluster. Perhaps this is acceptable in the optimization case, but it still smells weird to me.

I do agree that we don't want to be eating the cost of flipping all the resources around.

[2019-04-29 00:30] ellis-bigelow commented on #60
I might be more comfortable if we tracked a hash of the kfspec. If a knconfiguration owned by our KFService is already serving that spec, we can re-use it. Perhaps we can mark the configuration with a hash?

This optimizes both the case where canary == default and the case of flipping canary to default and deleting canary. We just need to make sure that both canary & default are not using a config

[2019-04-29 00:31] ellis-bigelow commented on #59
I think TFX may have something in the pipeline for this.

Let's keep this as an investigation task at low-pri.

[2019-04-29 01:10] rakelkar commented on #60
Seems like optimization that we can punt for now?

[2019-04-29 21:33] animeshsingh commented on #60
Going back to my earlier philosophy which I commented - why is the focus here on enhancing knative functionality?  If knative is going to serve 80% of world`s microservices (hypothetically), what is it in model-serving which is so fundamentally different? If we are solving Knative`s deficiencies, lets target that community and contribute there. The goal here should be to NOT deviate from Knative`s

[2019-04-29 21:40] animeshsingh commented on #60
If there are domain specific usecase in Model serving which require a fundamentally different approach than knative, that makes sense. To me a lot fo discussions here seem to be around general enhancements on canary deployments, routing etc.... which ideally should be taken up on Knative side, rather than implementing this here

[2019-04-29 22:30] ellis-bigelow commented on #60
+1 @animeshsingh. I do think that this is an artifact of how we're treating Kn Configurations, and it may not necessarily be a common pattern for them to optimize around, but either they should have a better way for us to use Knative, or they should implement this optimization.

I think the principle you allude to of "KFServing solves ML problems, Knative solves deployment problems" is a good guid

[2019-05-01 00:14] rakelkar commented on #41
closed by #51

[2019-05-01 00:14] #41 closed

[2019-05-01 13:20] yuzisun commented on #60
@animeshsingh definitely agree with your points. We have discussed the solution with knative team and knative serving is designed in a flexible way that can enable user for more specific pattern with the component they provided(here we use two knative configurations instead of one service), but it may worth to discuss with them if our pattern is common enough which can be pushed down to knative.

[2019-05-01 22:02] yuzisun commented on #36
/assign @yuzisun

[2019-05-01 22:07] yuzisun commented on #36
Discussed with @ellis-bigelow as a first pass we can add service account to the spec to which user adds the secrets for gcs/s3 or other identities.

[2019-05-01 23:14] ellis-bigelow commented on #35
Any update on this? Should I pick it up?

[2019-05-02 16:21] ellis-bigelow commented on #60
/area control-plane
/priority p2

[2019-05-02 16:53] animeshsingh commented on #60
"here we use  two knative configurations instead of one service" - where can find the rationale for this? we have many knative contributors in IBM, and i would want to pass it by them to get opinion as well

[2019-05-03 02:12] yuzisun commented on #35
I have it half way will work on tomorrow and send a PR.

[2019-05-05 18:21] yuzisun opened #68 "Add to config maps for configurable settings or defaults"
Following things might be good candidates to add to config maps
- Default serving images for different frameworks
- Secret key names for gcp/s3
- Readiness/Liveness probes
- Default resource requirements

[2019-05-06 20:09] #50 closed

[2019-05-06 20:09] #20 closed

[2019-05-06 20:09] #16 closed

[2019-05-06 22:17] rakelkar commented on #16
implemented by #45 (?)

[2019-05-06 22:31] ellis-bigelow commented on #16
Yep

[2019-05-07 03:32] yuzisun commented on #35
This is added in https://github.com/kubeflow/kfserving/pull/67.

[2019-05-07 03:32] #35 closed

[2019-05-10 17:20] ellis-bigelow opened #79 "Add Tests for XGBServer and ScikitLearn server"
Our framework servers don't have e2e or unit tests.

[2019-05-10 21:29] ellistarn opened #82 "TFServing takes forever to shutdown"
Tensorflow deployed pods take forever to die. This is probably due to signal mishandling for TFserving. Perhaps we should be more aggressive with shutdown logic on our pods.

[2019-05-11 00:24] yuzisun commented on #82
Knative configuration has a timeout field which by default sets to 5 mins, so kubernetes will wait that long to terminate the pod to give the requests grace period to finish processing .

[2019-05-11 00:25] yuzisun commented on #82
I think we can surface this field onto our spec, timeout should be tunable.

[2019-05-11 05:10] rakelkar opened #84 "Tensorflow Spec needs validation"
Currently has none and just returns nil

[2019-05-11 06:30] ellis-bigelow commented on #82
Agreed. We need to figure out a clean way to organize all these fields. I
want to avoid a messy spec.

*From: *Dan Sun <notifications@github.com>
*Date: *Fri, May 10, 2019, 5:25 PM
*To: *kubeflow/kfserving
*Cc: *Ellis Bigelow, Author

I think we can surface this field onto our spec, timeout should be tunable.

[2019-05-11 22:32] yuzisun commented on #82
this will be configurable in 0.6, https://github.com/knative/serving/issues/3342.

[2019-05-13 05:35] cliveseldon opened #87 "Python Model download for GCS and S3"
Downloading from GCS and S3 needs to be completed.

https://github.com/kubeflow/kfserving/blob/2f8d33d1a9773c5694a22ba749192163251fe287/python/kfserving/kfserving/storage.py#L27-L33

[2019-05-13 07:27] gyliu513 opened #89 "Use klog for kfserving"
/kind feature

Describe the solution you'd like
[A clear and concise description of what you want to happen.]

Use the permanent forked version of glog for kubernetes instead of log.

ref:
kubernetes/kubernetes#70264
https://github.com/kubernetes/klog/blob/master/README.md

Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/cc @ellis-bigelow

[2019-05-13 16:40] ellis-bigelow opened #90 "Better descriptions on kubectl get kfservices.serving.kubeflow.org"
Right now, our output is only Name and Age. We should have better object summaries.

[2019-05-13 16:45] ellis-bigelow commented on #89
Do we know other projects have done this migration already?

[2019-05-13 16:45] #15 closed

[2019-05-14 06:16] gyliu513 commented on #89
I was working for katib at https://github.com/kubeflow/katib/issues/506 . Besides, most of the Kubernetes projects are using `klog`, and it is better for kfserving migrate to this as well.

[2019-05-14 19:29] ellis-bigelow commented on #89
SGTM!

[2019-05-16 21:42] yuzisun opened #97 "Add pytorch model server to kfserving"
/kind feature

**Describe the solution you'd like**
Extend kfserver and implement load/predict function for pytorch model server.

[2019-05-20 17:52] ellis-bigelow commented on #68
/assign @ellis-bigelow

[2019-05-21 02:46] #36 closed

[2019-05-21 02:57] ellis-bigelow opened #107 "Proposal: Collapse URI External/Internal to just URI"
/kind feature

**Describe the solution you'd like**
We should just have:
```status.url```

**Anything else you would like to add:**
External URI should be delegated to the cloud provider. KFServing assumes an istio/knative fabric and will follow the domain provided. We don't need to reinvent the wheel here.

[2019-05-21 23:12] #55 closed

[2019-05-23 04:02] ellis-bigelow opened #109 "Allow developer overrides for framework images via ConfigMap"
/kind feature

**Describe the solution you'd like**
In addition to making all images configurable with a config map, we need a local developer story. We should have something along the lines of a kustomize patch that overrides a local configmap to point to the developers modified framework images.

[2019-05-23 05:34] hougangliu opened #111 "ModelSpec definition - thinking"
For now https://github.com/kubeflow/kfserving/blob/master/pkg/apis/serving/v1alpha1/kfservice_types.go#L52-L54 has 3 fields for Tensorflow, XGBoost and SKLearn models, in fact TensorflowSpec, XGBoostSpec and SKLearnSpec share same structure. how about refactor the type as below to make ModelSpec thin:
[code]

[2019-05-23 05:40] ellis-bigelow commented on #111
Hi Hougang,
I can understand the rationale, but this is done intentionally. We explicitly expect to start surfacing extra parameters (tensorflow_session_parallelism, tensorflow_batch_size), etc.

I expect that the framework configuration parameters will drift over time, so we should avoid coalescing them now

[2019-05-23 05:59] hougangliu commented on #111
@ellis-bigelow thanks for clarifying
/close

[2019-05-23 05:59] #111 closed

[2019-05-23 12:55] yuzisun commented on #109
@ellis-bigelow Are you working on this? I have a PR mostly ready to submit just to make sure we do not duplicate the effort.

[2019-05-23 12:59] yuzisun opened #113 "Propagate configuration/route conditions to KFService"
/kind feature

This is to fix the TODOs left in the `kfservice_status.go` to propagate configuration and route conditions to `KFService`.

https://github.com/kubeflow/kfserving/blob/master/pkg/apis/serving/v1alpha1/kfservice_status.go#L51

[2019-05-23 16:21] ellis-bigelow commented on #109
Not yet. It stuck me we needed a dev experience though. I'll reduce scope of this issue.

[2019-05-24 03:26] yuzisun commented on #113
/assign @yuzisun

[2019-05-24 16:06] ellis-bigelow opened #117 "Support for TensorRT as a first class framework"
/kind feature

**Describe the solution you'd like**
# What is TensorRT?
TensorRT is a ML Serving framework for DL supporting multiple frontends (TF, ONNX, etc), multi-model serving, GCS/NFS integration (needs S3, etc), Metrics.

They also have a protocol: https://github.com/NVIDIA/tensorrt-inference-server/blob/master/src/core/api.proto

# How does it relate to KFServing?
It might make sense to su

[2019-05-24 16:38] ellis-bigelow commented on #107
@yuzisun @cliveseldon @animeshsingh

See Knative's use of "url" in https://docs.google.com/presentation/d/10wuLMFXyol731WKuO5x7lalWrH0A6YVHa4exIERQaQ8

[2019-05-24 16:39] ellis-bigelow commented on #107
We may also want to consider ducktyping some of our spec/status to match theirs (not the template, but maybe routing/traffic concepts).

[2019-05-24 18:28] krabhishek8260 opened #119 "Generate deployable resource yamls as release artifacts"
Generate deployable resource yamls for kfserving deployment. This will simplify the kfserving deployments for people wanting to try this out.
Something like here: https://knative.dev/docs/install/knative-custom-install/
https://github.com/knative/serving/releases/download/v0.6.0/serving.yaml

[2019-05-24 18:28] ellis-bigelow commented on #119
Are you planning on taking this on Kumar?

[2019-05-24 18:34] krabhishek8260 commented on #119
@ellis-bigelow
I can take this up and probably would need some help from you as I am new to this world. So some stupid questions is on the way.
I was looking into this and the current triggers are setup very differently then using Makefile.
Can we use our Makefile and ko to build push image and then generate the yamls on Google Cloud Build?

[2019-05-24 18:41] ellis-bigelow commented on #119
I actually don't know the best way to do this.

We could definitely build YAMLs on GCB, but I'm not sure where we'd publish them. We could consider making them public on GCS, which could be kind of cool.

You could then kubectl apply -f URI.

I know the knative and istio use helm for their installations, and they put them in a /install folder. It might be worth reaching out to those teams and find

[2019-05-24 18:50] yuzisun commented on #107
that sounds good me. Part of my working PR for https://github.com/kubeflow/kfserving/issues/113, I start to ducktype the status object.

[2019-05-24 19:26] animeshsingh opened #120 "Add an optional deployment provision for 'minio' server"
/kind feature

**Describe the solution you'd like**
As part of kfserving, we should optionally be able to deploy a minio server for dev/test needs. Its impractical expecting every user to have gcs/s3 accounts. In future, this can also simplify our test infrastructure

[2019-05-24 19:28] animeshsingh opened #121 "Move to 'One' yaml semantic for Model deployments"
/kind feature

**Describe the solution you'd like**
User needs to provide only "one" yaml file for model deployment. KFserving takes care of the rest. Possibly align with MLSpec

[2019-05-24 19:29] animeshsingh opened #122 "Ability to configure the "domain""
/kind feature

**Describe the solution you'd like**
Ability to configure the "domain" configmap

"myorg.mycluster.com" is the prefix of all serving uris
people need a wildcard domain and a cert to match
Knative is planning on autoprovisioning certs in Beta

[2019-05-24 19:42] animeshsingh commented on #121
/assign @animeshsingh

[2019-05-24 19:43] animeshsingh commented on #120
/assign @animeshsingh

[2019-05-24 20:16] krabhishek8260 commented on #119
I can take a stab at doing it through GCB using Makefile through build config. Can I get permissions to edit triggers? Also storing it on publicly readable GCS sounds good for now. I am not sure where to provision the GCS. Can you do that please and let me know?

[2019-05-24 23:40] ellis-bigelow commented on #119
I think we should probably do a bit of research on existing approaches
before gcb. Is that something you're interested in or are you looking for
more concrete things 😉?

On Fri, May 24, 2019, 1:16 PM Kumar Abhishek <notifications@github.com>
wrote:

[2019-05-28 20:09] ellis-bigelow commented on #122
Should we just point to this https://knative.dev/v0.4-docs/serving/using-a-custom-domain?

We could also consider shimming, but I'd rather now.

[2019-05-28 21:02] ellis-bigelow commented on #121
Can you elaborate a little bit here? We already have a "one" yaml semantic. Do you mean for things like secrets, service accounts, and ingress? These will inevitably need to be driven outside the kfservice.yaml file.

[2019-05-28 21:03] #84 closed

[2019-05-28 21:03] #58 closed

[2019-05-29 02:29] jinchihe commented on #89
/assign @jinchihe

[2019-05-29 09:00] benjaminhuo opened #127 "How many modelUri are supported right now?"
Just wondering how many kinds of modelUrl are supported ?

I can see from the example that google cloud storage is supported ： gs://

what about hdfs path like : "hdfs://192.168.11.4:9000/testdata/saved_model_half_plus_two_cpu" ?

Any others?

Thanks
Ben

[2019-05-29 16:18] rakelkar commented on #107
How do I get perms to see this (have requested, but is there a specific group I need to join?)

[2019-05-29 17:12] krabhishek8260 commented on #119
I was planning to make it work with gcb as that would be a quick path for now to enable release CRDs and image for people to try without enlisting.

[2019-05-29 18:24] ellis-bigelow commented on #107
Oh crap. It may not be public. It says public on it. You might need to be in Cloud Run alpha program.

[2019-05-29 18:32] #87 closed

[2019-05-29 18:46] ellis-bigelow commented on #119
Alright, well in that case feel free to make a GCP project and use Cloud Build and GCS to test the solution. Once you've got it all working, I can wire it up with the kfserving project. For now, I don't have Google's permission to open the permissions on this project given that there's a direct billing impact. Sound good?

[2019-05-29 19:07] krabhishek8260 commented on #119
That sounds good.

[2019-05-30 00:56] jinchihe opened #129 "Support loading model from local storage"
/kind feature

**Describe the solution you'd like**
kfserving should support onprem cluster, since there are some user cases which are privisioned for on-premise cluster, and the trained model is stored in local storgae. That's better to have a easy way to configure local storage such as PV/PVC and then allow `modelUri` point to local path that's mounted by PVC.

[2019-05-30 02:38] #90 closed

[2019-05-30 03:30] #89 closed

[2019-05-30 09:00] jinchihe commented on #129
/assign

[2019-05-31 03:46] ellis-bigelow commented on #127
We currently support
gs://
s3://

We're looking to support mounted volumes. hdfs is interesting. Would love to hear your thoughts on it either in this issue or at the KFServing weekly meeting.

[2019-05-31 08:10] rakelkar commented on #129
The subject seems to broad.. maybe update it to support loading from
mounted PVC or something like that?

On Wed, May 29, 2019, 5:56 PM Jin Chi He <notifications@github.com> wrote:

[2019-05-31 08:55] jinchihe commented on #129
Agree, updated, thanks.

[2019-06-01 07:43] benjaminhuo commented on #127
Great to hear that mounted volumes is going to be supported.
Seems that hdfs support is a bit complex, I'll see what I can do

Ben

[2019-06-01 13:07] yuzisun commented on #127
Yes it is a little complex if your hdfs is kerberized. We need ConfigMap for core/hdfs site xml and a secret mount for delegation token, also another process to monitor the delegation token expiration time and refresh the token.

[2019-06-01 23:15] rakelkar commented on #117
/assign rakelkar

[2019-06-01 23:37] rakelkar opened #133 "Support for ONNX as a first class framework"
/kind feature

**Describe the solution you'd like**
Allow users to use ONNX models in KFServing

**Anything else you would like to add:**
TensorRT appears to be adding support for ONNX too... so its possible that we may be able to use the TensorRT inference server for this. Ref: https://github.com/NVIDIA/tensorrt-inference-server/issues/293

[2019-06-01 23:42] rakelkar commented on #133
/assign rakelkar

[2019-06-02 06:04] rakelkar opened #135 "verify-golint recommends incorrect go get"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
go get golang.org/x/lint/golint
per https://github.com/golang/lint/issues/415

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube versi

[2019-06-02 06:29] rakelkar opened #137 "Support downloading models from S3/Blob or mounts for TensorRT"
/kind feature

**Describe the solution you'd like**
TensorRT spec can only be used with models in GCS. Would be nice to allow models in S3 or azure blobs.. or models that can be mounted?

One possibility is to create an INIT container to download and expose the models to the server as a mount. This would allow us to easily add support for a range of sources in a way that would work for all servers

[2019-06-02 06:29] rakelkar commented on #137
#117

[2019-06-02 06:30] rakelkar commented on #133
#134

[2019-06-03 00:04] #135 closed

[2019-06-03 00:12] ellis-bigelow commented on #137
I've been thinking about the model storage problem. Re-downloading from S3/GCS is somewhat expensive. It would be kind of nice to shared a shared model cache that lives somewhere, maybe as a shared mountable volume.

We could then have some process for loading the model to some local volume and then pointing for all model servers to read from there. We could encapsulate TensorRT details onto that

[2019-06-03 02:54] yuzisun opened #139 "Apply ConfigMap on admission webhook path and sync KFServices upon config change"
/kind feature

**Describe the solution you'd like**

- Load ConfigMap on admission webhook path, this will be useful when we add custom configurations for resources, readiness/liveness probes and validate the container spec.
- Sync all `KFServices` upon config map changes, it may sound a bit scary but with knative's safe rollout it may not be a problem and we can have a consistent view with config

[2019-06-03 02:54] yuzisun commented on #139
/assign @yuzisun

[2019-06-03 04:05] yuzisun commented on #137
Looks like there is complication of syncing from S3/GCS model storage, TensorRT does polling and then adds/removes the model versions(https://docs.nvidia.com/deeplearning/sdk/tensorrt-inference-server-master-branch-guide/docs/model_repository.html#modifying-the-model-repository).

[2019-06-03 04:39] rakelkar commented on #137
Well if we were to copy, then that feature would be disabled as the server
would only poll the local unchanging copy... for production this seems like
the right thing to do. For interactive this is probably okay.

In general we need to think about consistentency of experience across
different model types vs exposing the native behaviors of servers.

Thoughts?

On Sun, Jun 2, 2019 at 9:05 PM Dan Su

[2019-06-03 07:08] jinchihe commented on #129
Seems the knative does not support mounts PVCs for container. See tickets https://github.com/knative/serving/issues/2025 and beflow logs for details.

[code]

Seems need knative support the cases firstly. Thanks.

[2019-06-03 13:05] yuzisun commented on #137
Definitely agreed, we can disable this at this stage, however there is real prod use case for continuous training and active learning where this feature can be useful and manual canary is not an option, the rollout risk is managed somewhere else in the train-serve loop.

[2019-06-03 16:31] ellis-bigelow commented on #129
Keep in mind we can always work around these with MutatingWebhooks. A Knative interface limitation is annoying but not a blocker for us.

[2019-06-04 03:32] #109 closed

[2019-06-05 15:57] rakelkar commented on #137
I was thinking of downloading in an init container and exposing a mount to the tensorRT container, however as noted in #129 we need to figure out how to enhance or workaround knative here...

[2019-06-06 01:41] ellis-bigelow opened #142 "Enable GPUs for Tensorflow and XGBoost"
/kind feature

**Describe the solution you'd like**
Tensorflow images are already built, need to wire them up.
XGboost may need some work in the KFService container

[2019-06-06 06:14] ukclivecox opened #144 "ModelName requirement in API calls"
When creating KFservers such as xgboost the `modelName` is taken to be `metdata.Name`. The user then needs to specify this twice in an API call. For example, in the [xgboost sample](https://github.com/kubeflow/kfserving/tree/master/docs/samples/xgboost):

[code]

 * Should we keep this requirement or allow users to just curl their endpoint and behind the scenes add the `modelName` to the path as w

[2019-06-06 10:48] yuzisun commented on #144
I think that routing path is inherited from tfserving, it is for the use case to serve multiple models. If we are keeping KFService as single model serving unit to preserve canary/autoscale features, then `http://$CLUSTER_IP/predict` makes sense

[2019-06-08 14:13] jinchihe commented on #129
@ellis-bigelow Thanks for your comments.  Yes, I think that's a work around solution, seems the `kanative` side has no action for this recently.  I'm going to have a investigation for the way and create RP then.

/cc @hougangliu @gyliu513

[2019-06-09 05:36] rakelkar opened #148 "KFServing should have a consistent way of supporting model download across inference server implementations"
/kind feature

**Describe the solution you'd like**
KFServing should expose a consistent way to download models across inference servers and clouds. The current implementation depends on the features of individual inference servers expose. E.g. see #137

**Anything else you would like to add:**
Proposed solution design is documented here: https://docs.google.com/document/d/1xqBOkoQ6Vzc5gv4O5MgVVNE

[2019-06-09 05:43] rakelkar commented on #129
@jinchihe Would your scenario be solved by a combination of Minio and #148?

[2019-06-09 05:45] rakelkar commented on #148
@krabhishek8260 @ellis-bigelow @cliveseldon @yuzisun

[2019-06-09 08:47] cliveseldon commented on #148
Apart from the needed knative workarounds, the init container solution looks best to me and can be tied into a separate caching layer easily.

[2019-06-09 10:22] jinchihe commented on #129
@rakelkar  We have a trying case that's used Minio for our trained mode that's stored locally on premise cluster. But I think we should support some easy way like PVC mounting to let kfservice get mode.

Personally we can use`Webhook` way to get our purpose, but seems it's impure :-) We can enhance later once knative` supported.

[2019-06-09 17:02] rakelkar commented on #129
In general I prefer we first try to push for the right solution. From a KNative perspective mounting a PVC itself is impure and I doubt that they will ever support that directly.

I would advocate starting with something simple like the INIT container approach and then learn and try to incrementally optimize. I dont think it makes sense to build out this webhook workaround at this time.

@ellis-bi

[2019-06-10 01:01] jinchihe commented on #129
@rakelkar Thanks. We have real `Pipeline` case for on-premise cluster, the model is trained in the upstream steps of Kubeflow Pipeline, and stored local storage (such as NFS), and just want using kfserving to start service. You know, not all user have policy for access clould storage.

I strongly suggest to implement this. I thinlk this is a common way to resolve similar problems.  And I had a try

[2019-06-10 17:13] ellis-bigelow commented on #137
Why do you need to expose a mount. If you download in the init container, the pod shares a disk, right?

[2019-06-10 17:15] ellis-bigelow commented on #144
Yes this sounds good to me. Sounds like we'll need to enable this in the executor or perhaps with an istio virtualservice?

@cliveseldon , does the Seldon protocol specify path?

[2019-06-10 17:15] ellis-bigelow commented on #148
Cool! Can you share this with the kubeflow community?

[2019-06-10 17:27] cliveseldon commented on #144
Seldon does specify paths like `/api/v0.1/predictions` but for the kfserver implementation we have conformed to the tensorflow paths that allow model specification.

As the executor is optional I assume an istio VirtualService is best?

[2019-06-10 20:04] ellis-bigelow commented on #148
Also, i'd title this as model caching or something about unified storage layer instead of "referring to models"

[2019-06-10 20:28] rakelkar commented on #137
They may share the disk on the node if that is what you mean, but each container has its own filesystem so you would still need mount support

[2019-06-10 20:43] rakelkar commented on #148
I was hoping to keep the scope to a minimum aka tackle caching once the download part is figured out. Made an attempt to update the title, if you have a better suggestion let me know...

[2019-06-10 20:43] ellis-bigelow commented on #148
Sounds good now

[2019-06-10 21:32] ellis-bigelow commented on #144
It's not super clear to me how we support this.
                                          _ Default Configuration
PathRewriteVS -> Route /
                                         \_ Canary Configuration

The problem is that this breaks pinned mode. The calling pattern will be different if calling a canary directly.

It's not clear to me if we can replace a Route with an Istio VirtualService. Is t

[2019-06-10 23:32] tripti-singhal commented on #117
I wanted to clarify some of the terminology in this issue.
[TensorRT Inference Server ](https://github.com/NVIDIA/tensorrt-inference-server) is an inference solution that allows you to deploy deep learning models while maximizing the utilization of your underlying hardware. It has features such as concurrent model executiono n a single GPU, dynamic batching, custom backend, HTTP or gRPC endpoints

[2019-06-11 10:37] yuzisun commented on #144
ye the route reconciles underlying virtual service to point to activator when scaling down to zero, also it manages the traffic shifting from old revision to new when default/canary configuration is modified. Maybe we should raise this issue to knative ?

[2019-06-11 18:59] ellis-bigelow commented on #144
Honestly, I think this is a pretty acceptable quirk of the system. Can we punt on this?

/tag v1beta1
/tag data-plane

[2019-06-12 16:52] A-And opened #157 "Standardize KF Serving Performance Metrics Naming"
/kind feature

**Describe the solution you'd like**
Similarly to abstracting Knative and Istio implementation details KF-Serving could present performance telemetry in an easily digestible form. I'd like to start a discussion on acceptable naming and metrics setup for KF-Serving as a first step towards having detailed instrumentation.

In our use case we have defined the following latency metrics

[2019-06-12 18:15] ellis-bigelow commented on #157
Would love to see this ironed out. We probably want to expose via prometheus

[2019-06-12 18:35] johnugeorge commented on #129
@rakelkar
In our on-prem cluster, we have similar pipelines where serving component loads from mounted PVCs backed by NFS.  This is a likely scenario in on-prem KF environments(though underlying storage can be different)

[2019-06-12 21:26] #17 closed

[2019-06-13 01:31] A-And commented on #157
Sounds like the way to go. Prometheus is what we've used to expose metrics so far. All Kfserving stack components come with native support (i.e. all of KNative, Istio, K8S) and the `kfserving-controller-manager` itself already exposes [a metrics endpoint](https://github.com/kubeflow/kfserving/blob/master/config/default/manager_prometheus_metrics_patch.yaml).

[2019-06-13 05:23] hougangliu opened #158 "Upgrade knative serving vendor"
knative serving 0.6.0 has [released](https://github.com/knative/serving/releases/tag/v0.6.1), but kfserving now cannot work with knative serving 0.6.0

[2019-06-13 11:28] yuzisun commented on #158
Why it can not work with knative 0.6 ? We are still using the v1alpha1 I do not think there are breaking changes. I'd prefer waiting for 0.7 release which is for official v1beta1 serving API and then we update vendor to use beta API.

[2019-06-13 14:10] hougangliu commented on #158
ok, make sense.
/close

[2019-06-13 14:10] #158 closed

[2019-06-14 01:39] jinchihe commented on #129
I’m not sure I can join meeting for discussion, but I tried to summarize the pros/cons for supporting pvc, please discuss that. Great thanks!

### Pros for pvc supporting:
1. PVC is generic storage for k8s, and import storage, especially for on prem cluster.
2. For Pipeline cases, downloading source and training model in the upstream steps of Pipeline, and start service using KFServing, that’s a e

[2019-06-16 19:58] #19 closed

[2019-06-17 14:35] yuzisun opened #160 "Proposal: Create KFServing Python SDK"
/kind feature

**CUJ**
- For out-of-box prediction, user can call `KFServing` python sdk to launch KFService with the model uri on notebook after model is trained, this can be integrated with kubeflow pipeline.
- Fairing integration for custom prediction code and fairing can call `KFServing` python sdk to launch KFService custom container.
- Can be hooked up with production deployment UI backend s

[2019-06-17 14:43] cliveseldon opened #161 "Proposal: Add Go Client Libraries fo KFservice"
/kind feature

Should we autogen client libraries for our types in Go?
This will allow users of KfServing to easily manipulate kfservices.

There seems to be an open issue for this on kubebuilder https://github.com/kubernetes-sigs/kubebuilder/issues/403 which suggests as the k8s Go client has dynamic-client then this is not required.

It still seems to me to have static exposed client informers et

[2019-06-17 17:18] ellis-bigelow commented on #161
Would love to hear more about the knative approach here. Generally, I'm supportive of this type of thing :).

[2019-06-17 17:28] yuzisun commented on #161
everything was generated pre-kubebuilder time, it is gone since kubebuilder switches to use dynamic-client, but we can still use the codegen script to generate those static client library.

[2019-06-17 17:30] yuzisun commented on #161
I added this https://github.com/kubeflow/kfserving/issues/160, I guess for user python makes more sense ?

[2019-06-17 19:08] rakelkar commented on #160
Might be worth looking to see if this can align with something like MLFlow? @aronchick thoughts?

[2019-06-17 19:13] rakelkar commented on #160
MLFlow has the concept of flavors for frameworks and talks about this:

Would be cool to have KFServing on that list :-) and not require data scientists to learn something different... also as I was trying to debug stuff, would be nice to have this SDK/CLI have the smarts to pull out logs from the right places so that users dont need to Kubernetes...

[2019-06-17 19:19] rakelkar commented on #160
Opened related issue in MLFlow to get feedback: https://github.com/mlflow/mlflow/issues/1465

[2019-06-17 21:55] rakelkar opened #162 "Standardize default HTTP and GRPC ports across frameworks"
/kind feature
Add a const so that by default all frameworks expose common ports. Currently this is configured per framework

[2019-06-17 21:59] rakelkar commented on #162
/assign rakelkar

[2019-06-17 22:02] rakelkar opened #163 "TensorRT example is complex, can we have a simple curl example instead?"
/kind feature

**Describe the solution you'd like**
The current TensorRT example uses a custom container that includes the TensorRT C++ client. This client is version specific and also does support setting a host name header. This means the user has to edit /etc/hosts to get it to work...

Would rather have a simple example that uses curl and posts a simple JSON request, like the TFServing example

[2019-06-17 22:02] rakelkar commented on #163
#117

[2019-06-17 22:04] rakelkar commented on #163
/good-first-issue :)

[2019-06-18 23:14] rakelkar opened #165 "Remove NVIDIA workaround on Knative upgrade"
/kind bug

Knative has fixed the bug that blocked them from resolving NVCR.io... delete the workaround noted in the TensorRT README when we upgrade Knative.

Fix in Knative:
https://github.com/knative/serving/issues/4355

[2019-06-19 23:47] rakelkar opened #168 "Support referencing models on Azure Blobs"
/kind feature
Users should be able to reference models stored in azure blobs

**Describe the solution you'd like**
Add blob support to storage.py

[2019-06-19 23:48] rakelkar commented on #168
/assign mridulan

[2019-06-20 04:50] #117 closed

[2019-06-21 20:59] ellis-bigelow opened #170 "Cut 0.1 Release"
Remaining 0.1 Tasks

Init Containers
Azure Blobs
PyTorch
Kustomize Package in Kubeflow/Manifests, Application Resource

[2019-06-21 20:59] ellis-bigelow commented on #170
/assign ellis-bigelow

[2019-06-23 18:44] rakelkar commented on #163
The TensorRT example also requires modifying /etc/hosts.. fix (enhancement) for this is tracked at: https://github.com/NVIDIA/tensorrt-inference-server/issues/386

[2019-06-23 18:45] rakelkar commented on #170
Linking related Azure issues:
#168
#148

[2019-06-23 22:26] ellis-bigelow commented on #142
/close

[2019-06-23 22:26] #142 closed

[2019-06-24 02:41] animeshsingh opened #175 "PyTorch docker image and model file"
Move the pytorch image here `animeshsingh/pytorchserver` to `gcr.io/kfserving/pytorchserver`

and model.pt in `docs/samples/pytorch/` to `gcs://kfserving-samples/models/pytorch/cifar10
`

[2019-06-24 02:42] animeshsingh commented on #175
/assign @ellis-bigelow

[2019-06-24 16:33] #113 closed

[2019-06-25 04:26] ellis-bigelow commented on #107
/close

[2019-06-25 04:26] #107 closed

[2019-06-25 16:35] ellistarn opened #183 "Auto Build new images in Google Cloud Build"
Handle all the new dockerfiles coming in: https://github.com/kubeflow/kfserving/pull/182/files

[2019-06-25 16:35] ellis-bigelow commented on #183
/assign @ellis-bigelow

[2019-06-25 16:39] ellistarn opened #184 "Clean up Pylint Rules"
/kind feature
Introduced with https://github.com/kubeflow/kfserving/pull/180/files

[2019-06-25 16:40] ellis-bigelow commented on #184
/assign @jinchihe

[2019-06-26 01:33] rakelkar commented on #183
Need: github.com/kubeflow/kfserving/python/model-initializer.Dockerfile -> gcr.io/kfserving/model-initializer:latest

[2019-06-26 03:35] rakelkar opened #188 "TestCanaryReconcile is flaky"
/kind bug

**What steps did you take and what happened:**
make test

--- FAIL: TestCanaryReconcile (5.46s)
    kfservice_controller_test.go:445:
        Timed out after 5.000s.

**What did you expect to happen:**
test pass or fail consistently...

[2019-06-26 06:04] rakelkar opened #189 "Make ModelInitializerContainerImage configurable"
/kind feature

**Describe the solution you'd like**
ModelInitializerContainerImage is currently hardcoded to gcr.io/kfserving/model-initializer

**Anything else you would like to add:**
This needs to make config to be made available to the webhooks. This will also potentially help make defaults configurable.

[2019-06-26 06:05] rakelkar commented on #189
/assign rakelkar

[2019-06-26 16:54] yuzisun opened #190 "Upgrade KFService to use Knative v1beta1 API"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-26 17:00] rakelkar opened #191 "Autoscaler example for 0.1"
/kind feature

**Describe the solution you'd like**
An example to see KFServing autoscaling in action

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-26 17:01] rakelkar commented on #191
/assign yuzisun

[2019-06-26 17:02] rakelkar opened #192 "User install guide for 0.1"
/kind feature

**Describe the solution you'd like**
A simple user guide that links to KNative setup and a set of YAMLs for KFServing 0.1
Possibly a /install folder with said YAMLs

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-26 17:02] rakelkar commented on #192
/assign ellis-bigelow

[2019-06-26 17:02] rakelkar commented on #170
We agreed to the following change to 0.1:
Punt KF integration to 0.2

Include:
* PyTorch (#153 )
* Azure support (#168 #148 )
* Autoscaler example (#191)
* Install YAMLs and user install guide (#192 )

[2019-06-26 17:25] rakelkar commented on #165
remove the workaround once #190 is in

[2019-06-26 23:14] ellis-bigelow commented on #175
[code]
[code]

[2019-06-26 23:14] #175 closed

[2019-06-27 02:30] jinchihe opened #196 "Install kfserving with kubeflow CLI kfctl"
/kind feature

**Describe the solution you'd like**
Install kfserving with kubeflow.

I'm not sure if here is right place to log this, but want to confirm any plan to install kfsering with kubeflow? as kfserving depends on isito and kantive, seems a bit complicated for installation. Thanks.

/cc @ellis-bigelow

[2019-06-27 13:53] #161 closed

[2019-06-27 16:36] ryandawsonuk commented on #196
I recently hit the related case of wanting to install knative on top of kubeflow. That led to the complication that kubeflow master now has istio already. What I did was just re-use the kubeflow install of istio and [install the non-istio knative components on top of that](https://github.com/SeldonIO/seldon-core/pull/650/files#diff-a081dd1cf5f2ab290b9ff95c58a66291R3). I found this works fine. But

[2019-06-28 03:06] jinchihe commented on #196
@ryandawsonuk Thanks for the information. so seems you have experience to install knative on top of kubeflow. Do you have plan to contribute to kubeflow for this? since the PR is for seldon-core. :-) if so may kfserving can be installed with kubeflow.

[2019-06-28 03:29] jinchihe commented on #160
@yuzisun Great idea! Recently I created a [PR](https://github.com/kubeflow/fairing/pull/299) to deploy kfservice in the kubeflow Fairing. If we have kfserving, that's better to intergrate kfserving with kubeflow pipeline, fairing, and MLFlow as @rakelkar mentioned above.

I'm interested in doing this :-)

/assign @jinchihe

[2019-06-28 09:33] ryandawsonuk commented on #196
I've submitted a PR to add a note on this https://github.com/kubeflow/kfserving/pull/200

It is perhaps not what you were looking for as the kf-serving docs still just refer to the knative docs. The knative docs are quite complex as they allow for a lot of configuration options. It would be possible to provide a single script but that would mean being more opinionated.

I will try to catch up with

[2019-06-28 10:48] ryandawsonuk opened #201 "[feature request] request-response logging"
This is to have an issue to track the discussion we've already started.

kf-serving's use of knative makes the [knative observability stack](https://knative.dev/docs/serving/samples/telemetry-go/) available to use in a straightforward way. This includes a lot of telemetry out of the box but request-response logging can be a bit more subtle, especially for machine learning. The simplest case is if

[2019-06-28 18:06] yanniszark commented on #196
Hi @ryandawsonuk !
Thanks for your interest in our reference implementation of Kubeflow for existing kubernetes clusters, with Istio + Dex for Auth.
I'd love to be able to install KFServing natively with `kfctl`, so I'd like to help towards that goal.

Dex uses the [OIDC standard](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig), in which the `/.well-known/openid-configur

[2019-06-28 18:29] yuzisun commented on #196
I am pretty sure that `knative-ingress-gateway` is already deprecated have been removed since knative 0.5 release.

[2019-06-29 10:56] SachinVarghese opened #205 "Verify-codegen script as a part of the CI process"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We are creating static go client code for the KFservice CRD. And we have scripts to verify and update these client files generated by the [kubernetes/code-generator]( https://github.com/kubernetes/code-generator) project from the APIs created using the kube-builder. Now the `hack/verif

[2019-06-30 16:18] rakelkar opened #209 "TestReconcile fails intermittently and output is hard to parse"
/kind bug

Would be nice to have cmp style output want/got instead of the entire JSON

[code]
**What steps did you take and what happened:**
make test on master

[2019-06-30 16:27] rakelkar commented on #209
@yuzisun this is the output that  #207 seeks to improve

[2019-06-30 19:21] #148 closed

[2019-07-01 08:31] jinchihe commented on #160
Followed instruction from @yuzisun, I generated the [openapi model and swagger.json](https://github.com/jinchihe/Working/tree/master/kubeflow/kfserving/openapi-gen) by using `openapi-gen` and generate [KFServing python sdk](https://github.com/jinchihe/Working/tree/master/kubeflow/kfserving/python-client) for the python object models using `swagger-codegen`.

Will have a short discussion with @yuzi

[2019-07-01 13:45] yuzisun opened #213 "Model initializer does not work with S3"
/kind bug

**What steps did you take and what happened:**
The model download is now moved to `init container`, however the S3 secret envs are set in the `user-container`.

kubectl logs mnist-default-g7px9-deployment-5d6d7f897c-t5rzk -c model-initializer
INFO:root:Initializing, args: src_uri [s3://platform-test/mnist/export] dest_path[ [/mnt/models]
INFO:root:Copying contents of s3://platform-test/

[2019-07-01 14:22] jinchihe commented on #160
Just discussed with @yuzisun, I will do more tesing for the python SDK, and the deliver a PR for reviewing later, thanks.

[2019-07-01 16:14] rakelkar commented on #213
/assign rakelkar
taking a look...

[2019-07-02 02:15] animeshsingh commented on #201
Thanks @ryandawsonuk. @ellis-bigelow fyi - we intend to revisit this post v0.1
https://docs.google.com/document/d/1MBl5frM9l_wyQkYEaDeHOP6Mrsuz9YOob7276AAN9_c/edit to s

[2019-07-02 06:30] rakelkar commented on #137
closed via #148

[2019-07-02 06:30] #137 closed

[2019-07-02 06:34] rakelkar opened #217 "Support credentials for Azure Blobs"
/kind feature

**Describe the solution you'd like**
1. Credentials builder should support exposing azure blob credentials to model initializer
2. Downloader should read and use credentials

**Anything else you would like to add:**
Here is how az creds are setup for kubeflow:  https://github.com/kubeflow/kubeflow/pull/2676

[2019-07-02 06:34] rakelkar commented on #217
/assign krabhishek8260

[2019-07-02 06:35] rakelkar commented on #217
@krabhishek8260 cut an issue for you :-)

[2019-07-02 13:03] ryandawsonuk commented on #196
Yeah dex doesn't support password grant type https://github.com/dexidp/dex/issues/764

[2019-07-02 16:07] #213 closed

[2019-07-02 17:14] rakelkar opened #219 "Proposal: support model initialization for CustomSpec via a well known env var"
/kind feature

**Describe the solution you'd like**
Support model initialization for CustomSpec by adding a well known environment variable KFSERVING_CUSTOMSPEC_MODEL_URI that gets mutated by the model initialization injector.

A custom spec user would be required to:
1. set KFSERVING_CUSTOMSPEC_MODEL_URI env var
2. use the KFSERVING_CUSTOMSPEC_MODEL_URI env var in custom container code or as a co

[2019-07-02 17:20] rakelkar commented on #219
good first issue

[2019-07-03 17:35] johnugeorge commented on #196
/assign

[2019-07-07 16:17] cliveseldon opened #221 "Updates needed for KNative 0.7"
/kind bug

Knative 0.7 has changed the [route status to have URL and not Domain](https://github.com/knative/serving/commit/15ec3a3d144657d4676cac8b66864f50a2c0de53#diff-17cfcfa333468946627364581e2c7c53). We need to change our status update to use this otherwise samples are broken.

We should specify we need Knative 0.6 for current release.

**Environment:**

- Istio Version:
- Knative Version: 0.7

[2019-07-07 20:35] ellis-bigelow commented on #221
Related to #190

[2019-07-07 20:36] ellis-bigelow commented on #192
This is addressed. Front page readme include instructions. More detailed instructions to follow in future releases as the product becomes more complex.
/close

[2019-07-07 20:36] #192 closed

[2019-07-07 20:37] ellis-bigelow commented on #219
We should contrast this with other options:

1. Include ModelURI or MountURI as part of custom spec
2. Provide a PodTemplate like spec instead of Custom

[2019-07-07 20:37] ellis-bigelow commented on #170
/close

[2019-07-07 20:37] #170 closed

[2019-07-07 20:41] ellis-bigelow commented on #221
/area project-health

[2019-07-07 20:42] ellis-bigelow commented on #217
/area azure

[2019-07-07 20:42] ellis-bigelow commented on #209
/area project-health

[2019-07-07 20:43] ellis-bigelow commented on #205
/area project-health

[2019-07-07 20:44] ellis-bigelow commented on #201
/area ml-feature

[2019-07-07 20:45] ellis-bigelow commented on #196
/area infrastructure-feature

[2019-07-07 20:45] ellis-bigelow commented on #191
/area project-health

[2019-07-07 20:45] ellis-bigelow commented on #190
/area project-health

[2019-07-07 20:45] ellis-bigelow commented on #189
/area project-health

[2019-07-07 20:45] ellis-bigelow commented on #188
/area project-health

[2019-07-07 20:46] ellis-bigelow commented on #184
/area project-health

[2019-07-07 20:46] ellis-bigelow commented on #183
/area project-health

[2019-07-07 20:46] ellis-bigelow commented on #168
/area azure

[2019-07-07 20:46] ellis-bigelow commented on #163
/area frameworks

[2019-07-07 20:47] ellis-bigelow commented on #157
/area infrastructure-feature

[2019-07-07 20:47] ellis-bigelow commented on #160
/area infrastructure-feature

[2019-07-07 20:47] ellis-bigelow commented on #162
/area infrastructure-feature

[2019-07-07 20:47] ellis-bigelow commented on #139
/area project-health

[2019-07-07 20:47] ellis-bigelow commented on #144
/area infrastructure-feature

[2019-07-07 20:48] ellis-bigelow commented on #133
/area frameworks

[2019-07-07 20:48] ellis-bigelow commented on #129
This is now supported! /close

[2019-07-07 20:49] ellis-bigelow commented on #127
Closing due to question answered. Feel free to open an issue for any actionable followups

[2019-07-07 20:49] ellis-bigelow commented on #127
/close

[2019-07-07 20:49] #127 closed

[2019-07-07 20:50] ellis-bigelow commented on #122
We need to document this
/area project-health

[2019-07-07 20:50] ellis-bigelow commented on #120
/area infrastructure-feautre

[2019-07-07 20:51] ellis-bigelow commented on #13
Given the direction of this project, its growing featureset, and our impending reliance on eventing. I'm closing this as a non-starter.

[2019-07-07 20:52] ellis-bigelow commented on #14
This is either implemented or open in separate issues
/close

[2019-07-07 20:52] #14 closed

[2019-07-07 20:52] ellis-bigelow commented on #18
Complete with our 0.1 release
/close

[2019-07-07 20:52] #18 closed

[2019-07-07 20:53] ellis-bigelow commented on #33
Rakesh, I'd love to see you lead a discussion of this topic.

Is a custom component a "arbitrary image" or "arbitrary model server".

/assign @rakelkar

[2019-07-07 20:53] ellis-bigelow commented on #33
/area frameworks

[2019-07-07 20:53] ellis-bigelow commented on #60
/area performance

[2019-07-07 20:54] ellis-bigelow commented on #68
Implemented!
/close

[2019-07-07 20:54] #68 closed

[2019-07-07 20:54] ellis-bigelow commented on #79
/close

[2019-07-07 20:54] #79 closed

[2019-07-07 20:54] ellis-bigelow commented on #82
/area performance
/area project-health

[2019-07-07 20:54] ellis-bigelow commented on #97
Implemented!
/c;lose

[2019-07-07 20:55] ellis-bigelow commented on #59
/assign @bhupc
/priority p2
/area infrastructure-feature

[2019-07-07 20:56] ellis-bigelow commented on #59
This is something Knative + VPAs should be able to support with minimal effort
/unassign @bhupc

[2019-07-07 20:56] #13 closed

[2019-07-07 20:56] #97 closed

[2019-07-07 20:57] ellis-bigelow commented on #119
Implemented
/close

[2019-07-07 20:57] #119 closed

[2019-07-07 20:57] ellis-bigelow commented on #219
/area frameworks

[2019-07-07 20:57] ellis-bigelow commented on #165
/area project-health

[2019-07-07 20:57] #129 closed

[2019-07-07 20:58] ellis-bigelow commented on #121
Closing due to lack of response.
/close

[2019-07-07 20:58] #121 closed

[2019-07-08 05:17] rakelkar commented on #119
resolved via https://github.com/kubeflow/kfserving/pull/210

[2019-07-08 05:24] rakelkar commented on #122
Just FYI - we merged a change to knative that allows the cluster operator to override the namespace part of the hostname (to decouple the hostname from cluster details)... https://github.com/knative/serving/issues/4141

[2019-07-08 05:24] rakelkar commented on #122
@animeshsingh can you point me to discussion/design around cert autoprovisioining in knative?

[2019-07-08 05:28] rakelkar commented on #168
resolved via #212

[2019-07-08 05:28] #168 closed

[2019-07-08 09:08] jinchihe opened #223 "Error happened when make deploy-dev with kustomize v2.1.0"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Error happened when make deploy-dev with kustomize v2.1.0

[code]

1. That's OK with kustomize v2.0.3
2. That's OK if executing `make deploy`

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-08 09:23] jinchihe commented on #223
Seems that caused by kustomize problem https://github.com/kubernetes-sigs/kustomize/issues/1203, but from the fixing: https://github.com/kubernetes-sigs/kustomize/pull/1206 , seems there is error while patching.

[2019-07-08 09:32] jinchihe commented on #223
With kustomize v3.0.0 (included above problem fixing), has another problem:

[code]

[2019-07-08 09:53] jinchihe commented on #223
From last kustomize, the overlay patches namespace need to be consistent with base.

Will send a PR to enhance here.

[2019-07-08 11:38] #223 closed

[2019-07-08 16:55] cliveseldon opened #225 "Autoscaling fails due to model initializer"
/kind bug

**What steps did you take and what happened:**

Failed autoscaling example

**What did you expect to happen:**
Pods autoscaling

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version: 0.6
- KFServing Version: 0.1
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `

[2019-07-08 19:05] SachinVarghese opened #226 "KFservice status missing replicas"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Installed kfserving v0.1.0 on a GKE cluster and smoke tested the sklearm example at `docs/samples/sklearn` I have got a kfservice created with a pod running. The status of the kfservice has a url created but no replicas section under the `default` object.

[code]

**What did you expect t

[2019-07-08 22:35] ellis-bigelow commented on #226
Thanks!

/area project-health

[2019-07-08 22:44] ellis-bigelow commented on #225
/assign @rakelkar

[2019-07-08 22:44] ellis-bigelow commented on #225
/area project-health

[2019-07-09 04:34] johnugeorge commented on #225
I faced the same issue. Should we add this fix in 0.1 release itself as autoscaling is broken?

[2019-07-09 05:09] yuzisun commented on #225
@rakelkar this seems to be working on 0.5 but not 0.6+.

[2019-07-09 05:13] rakelkar commented on #225
I tried on 0.6? Did you apply my patch and try?

[2019-07-09 06:12] #225 closed

[2019-07-09 07:05] ryandawsonuk commented on #201
Should this be added to https://github.com/kubeflow/kfserving/blob/master/ROADMAP.md ?

[2019-07-09 07:41] animeshsingh commented on #201
Thanks @ryandawsonuk. I have added it in the PR as one of the items
https://github.com/kubeflow/kfserving/pull/230

[2019-07-09 11:03] ryandawsonuk commented on #196
@yanniszark FYI I found that in order to use X-Auth-Token I needed to modify the envoy filter - https://github.com/kubeflow/kubeflow/pull/3607/files#diff-1f4e95368adf8910db69d093599a3ce4R22

[2019-07-09 11:30] ryandawsonuk opened #233 "tensorflow canary flowers-sample - default doesn't become ready"
To reproduce:
[code]

The `flowers-sample-canary` shows as ready. The `flowers-sample-default` stays in 'Unknown'. Also don't get a status in `kubectl get kfservices.serving.kubeflow.org flowers-sample -o yaml`

This is on v0.1.0 of kfserving

[2019-07-09 13:45] ryandawsonuk opened #234 "support calling services with curl when kubeflow auth is enabled"
Lets say you have authentication enabled on your kubeflow installation and so your istio gateway can only be accessed with a valid token. We discussed this scenario on [another issue](https://github.com/kubeflow/kfserving/issues/196) and it was [noted that you can open the browser and go to kubeflow and get the token out from the browser's debugger](https://github.com/kubeflow/kfserving/issues/196

[2019-07-09 13:55] ryandawsonuk opened #235 "applying tensorflow sample gives webhook failure"
If I try applying the default model directly with `kubectl apply -f https://raw.githubusercontent.com/kubeflow/kfserving/master/docs/samples/tensorflow/tensorflow.yaml` then I get:

[code]

Note that if I take the other TF model from the canary example (gs://kfserving-samples/models/tensorflow/flowers-2) and apply just that one then it does let me apply the resource.

This is on v0.1.0. Related #2

[2019-07-09 15:34] rakelkar commented on #235
I've seen this happen sometimes too.. maybe try killing the controller? We may want to consider separating the webhook into a separate container to scale it for redundancy?

[2019-07-09 15:46] yuzisun commented on #235
I agree that we should separate the webhook as its own deployment.

[2019-07-09 15:53] yuzisun commented on #226
The number of replicas changes during autoscaling and knative has scaling dashboard which already records the metrics for number of pods. @ellis-bigelow Do you think we need this field on status ?

[2019-07-09 16:58] rakelkar commented on #226
+1 to removing replica count from status

[2019-07-09 18:41] SachinVarghese commented on #226
I believe the KFservice status could provide vital information on if the pods are scaled down to zero (which means service is in a dormant state) or if the number of pods has already reached the maximum threshold specified. This data is very closely tied to the status of the service itself and hence in my opinion having replica count itself in the KFservice status could be really useful.
@yuzisun

[2019-07-09 19:48] ellis-bigelow commented on #235
This typically happens when the controller hasn't stood up yet. Agreed the
separating to its own deployment is the way to go.

On Tue, Jul 9, 2019 at 8:46 AM Dan Sun <notifications@github.com> wrote:

--
</Ellis>

[2019-07-10 01:43] yuzisun commented on #226
@SachinVarghese this is the example https://github.com/kubeflow/kfserving/pull/203, hopefully can be merged soon. I am not sure how useful this field is since you won't be constantly  monitoring the replica count from status object while it is much easier on a dashboard.

[2019-07-10 01:57] ellis-bigelow commented on #226
Just as Knative feels the need to surface its deployment's pod count, I think KFServices (regardless of our dependency on Knative), should also surface the pod count.

When asking questions about our interface, anything referring to "just check Knative" should smell funny. This of course, isn't always possible, but it's a good rule of thumb.

I think it's pretty trivial to setup a watch on pods wi

[2019-07-10 02:03] ellis-bigelow commented on #234
I'm not sure familiar with how Kubeflow does auth. Our only dependency is on Istio's auth, as we haven't integrated with Kubeflow fully yet (slated for v0.2 release). One of the tasks we should look at is authn/z.

Can you modify this issue to reflect that feature request to integrate with kubeflow auth?

/area infrastructure-feature

[2019-07-10 02:36] rakelkar commented on #226
Does this mean we keep updating our spec as pods scale up and down? That seems like extra unessential load on the API server.. that could get prohibitive as # of kfservices scales... Am I mistaken in how this would get implemented?

[2019-07-10 02:50] ellis-bigelow commented on #226
Updating status, not spec.

It's honestly pretty trivial. Especially when compared to what HPAs or KPAs
are doing.

This is also exactly what the deployment controller and knative controllers
are doing. This is triggered via watch anyways, so it's pretty cheap.
Google around, and I'm sure you can find the 100k qps kubernetes masters
article.

On Tue, Jul 9, 2019, 7:36 PM rakelkar <notifications@gi

[2019-07-10 04:41] krabhishek8260 commented on #33
I have documented some thoughts around ModelSpec and Custom ModelSpec here:
https://docs.google.com/document/d/1oLN6EvLBUaT-lUDDoTRZuRjP5FpHP6FqpeJmH7LvoQM/edit?usp=sharing

[2019-07-10 05:43] cliveseldon commented on #226
I think it would be very useful for users to see a clear indication of the serverless scaling/hibernation via replica count on the kfserving status. If it can be done without must cost then i'm +1 for having it rather than the need to dig into prometheus metrics or decode the underlying revision ID to find the pods etc.

[2019-07-10 07:47] johnugeorge commented on #234
We can wait till KF 0.6 version is out. And then add instructions for using with KF 0.6. Currently, there are some open issues that have to be resolved in Kfctl

[2019-07-10 08:51] ryandawsonuk commented on #235
Drilling into the kfserving-controller-manager, I find it has this error in the logs:

[code]
It goes into CrashLoopBackOff and then every resource deployment in the cluster fails with that webhook issue (even non-kubeflow ones).

[2019-07-10 08:55] ryandawsonuk commented on #235
I believe this would be fixed by https://github.com/kubeflow/kfserving/pull/231

[2019-07-10 09:54] ryandawsonuk commented on #235
Also I couldn't fix my cluster by running `kubectl delete -f https://raw.githubusercontent.com/kubeflow/kfserving/master/install/v0.1.0/kfserving.yaml`. I still get `failed to create resource: Internal error occurred: failed calling webhook "kfservice.kfserving-webhook-server.deployment-mutator"` on deploying any resources, even though I don't even have a kf-serving namespace anymore.

[2019-07-10 10:08] ryandawsonuk commented on #234
A short-term workaround for anyone trying it might be to find the route and get the service name from the route's yaml and then port-forward to that.

[2019-07-10 12:41] ryandawsonuk opened #236 "canarying and resource cleanup"
I tried running a shell script that deploys one of the sample models, canaries, promotes the canary, then canaries back to the original model etc.

[code]

I found that I keep getting new deployments, even though I'm just updating the same resource. Eventually I get lots of deployments, each with one pod and then the pods become unschedulable because I run out of available cpu. I then stopped the

[2019-07-10 15:46] ryandawsonuk commented on #234
Actually I don't seem to be able to port-forward to that service, presumably because it's an ExternalName service.

The best workaround I've so far been able to find is to port-forward to a deployment. So [for the tensorflow flowers example](https://github.com/kubeflow/kfserving/tree/57335e7b175efd2250ab34e1261dbaed5d8821b0/docs/samples/tensorflow#run-a-prediction) this is:

`kubectl port-forward

[2019-07-10 18:03] johnugeorge commented on #190
/assign

[2019-07-10 22:12] ellis-bigelow commented on #233
/assign @yuzisun
/area project-health

[2019-07-10 22:14] ellis-bigelow commented on #236
The behavior you're describing is correct. Do the pods ever become ready? Can you check the Knative Configuration status? The old revisions should scale down to zero quite quickly. The should also eventually be garbage collected. We should prioritize investigating this.

/area project-health

[2019-07-10 22:15] ellis-bigelow commented on #235
I think this is due to the configmap error. Unless there's something else we can do, I'm going to
/close

[2019-07-10 22:15] #235 closed

[2019-07-11 05:44] johnugeorge commented on #221
/assign

[2019-07-11 16:52] ryandawsonuk commented on #236
@yuzisun suggested I look at the logs of the autoscaler in the knative-system namespace. There the error was:

[code]
I then updated to the latest image of the kfserving controller. After making that change most of the pods do get terminated. But not all. I still ave some stuck and the autoscaler logs now show a different error:
[code]

[2019-07-11 16:56] ryandawsonuk commented on #233
I updated to the latest version of the kfserving controller and this works on the latest.

[2019-07-11 17:24] yuzisun commented on #236
hmm still looks like the same error though `Duplicate value: \"model-initializer\"`

[2019-07-11 17:36] ryandawsonuk commented on #236
Presumably this is related to https://github.com/kubeflow/kfserving/commit/9d230042f326253a8b2723217c3a9cc2fc800223

[2019-07-11 18:05] rakelkar commented on #236
Thats odd - is the check in 9d23004 not working?

On Thu, Jul 11, 2019 at 10:36 AM Ryan Dawson <notifications@github.com>
wrote:

--
Rakesh Kelkar

[2019-07-11 18:47] ellis-bigelow commented on #236
What version of KFServing are you running?

make deploy-dev or apply v0.1. I just re-tagged v0.1 today, so those
configs got regenerated around 10:30am

On Thu, Jul 11, 2019 at 11:05 AM rakelkar <notifications@github.com> wrote:

--
</Ellis>

[2019-07-11 19:36] ellis-bigelow commented on #233
Awesome!

On Thu, Jul 11, 2019 at 9:56 AM Ryan Dawson <notifications@github.com>
wrote:

--
</Ellis>

[2019-07-11 22:54] ellis-bigelow commented on #236
@ryandawsonuk, can we resolve this now?

[2019-07-12 06:29] #160 closed

[2019-07-12 07:32] #233 closed

[2019-07-12 07:51] ryandawsonuk commented on #236
I've just done a full reinstall of kf-serving v0.1.0 (which includes https://github.com/kubeflow/kfserving/commit/9d230042f326253a8b2723217c3a9cc2fc800223). The scale to zero does now work. If I leave it running with no traffic I end up with no Pods. But if I keep canarying I keep getting more deployments. I run the script for a bit and then stop it and wait for a while until I have no Pods. Then

[2019-07-12 08:04] cliveseldon commented on #236
Is this because the standard garbage collection is only to clean things up after 15 hours for old revisions?

[2019-07-12 16:02] rakelkar commented on #236
That seems very sad!

On Fri, Jul 12, 2019, 1:04 AM cliveseldon <notifications@github.com> wrote:

[2019-07-12 23:43] #191 closed

[2019-07-15 14:21] jinchihe opened #246 "Develop python pip package for KFServing SDK"
/kind feature

**Describe the solution you'd like**

Develop python pip package for KFServing SDK, user can directly install kfserving sdk using `pip install kfserving`, and then call kfserving sdk apis to create/check/patch/delete kfservice.

[2019-07-15 14:22] jinchihe commented on #246
/assign @jinchihe
/cc @yuzisun @animeshsingh

[2019-07-16 06:51] jinchihe opened #249 "Upgrade openapi and python sdk once knative upgraded to v1beta1"
/kind feature

**Describe the solution you'd like**
We need to upgrade openapi and python sdk once knative upgraded to v1beta1 (after the PR merged #238 ), since there are some changes in the `kfservice_types.go `

[2019-07-16 06:51] jinchihe commented on #249
/assign @jinchihe
/cc @yuzisun @johnugeorge

[2019-07-17 04:27] ellis-bigelow commented on #246
/area ml-feature

[2019-07-17 04:28] ellis-bigelow commented on #249
/area project-health

[2019-07-17 05:27] animeshsingh commented on #246
@jinchihe any chance we can keep these SDKs aligned? Had a discussion today with some end users, and proliferation of SDKs (kfp, kfs, arena..) isn't helping the story. Something to think for future, if not immediately
@jinchihe @ellis-bigelow

[2019-07-17 07:48] jinchihe commented on #246
@animeshsingh Thanks for the propose. Yes, that's better we should have a aligned Python SDK for Kubeflow whole projects. But I searched and did not get any plans for this in Kubeflow, I just logged ticket in kubeflow area https://github.com/kubeflow/kubeflow/issues/3683.

So for now, I think we can do that meanwhile, and just merging or something later once whole kubeflow SDK planed.

[2019-07-17 17:42] ellis-bigelow opened #252 "Is "Predict" the right verb?"
Hey all,
In light of all this discussion about explainability and naming, I'm curious whether or not we should be using the word "infer/inference" instead of "predict/prediction".

Inference is somewhat of a higher level concept that includes prediction, classification, and regression. Tensorflow has had the PredictionService proto definition for some time, but perhaps it's time to migrate to bett

[2019-07-18 05:44] #165 closed

[2019-07-18 07:11] bhupc commented on #252
No strong opinions here. But Infer seems to be the norm when it comes to the service naming.
However, you can have Predict for a tensor in/tensor out kind of a general interface. classify/regress can become your interfaces within the inference service.

[2019-07-18 21:40] ellis-bigelow commented on #252
Does it not make sense to have "Infer" for general tensor-in/tensor-out? I haven't seen a great reason why TensorflowServing strongly types the classify and regress APIs as different from their "predict"

[2019-07-19 02:36] rakelkar commented on #252
the classify and regress api's have a completely different dataplane...
feels like a tf effort to make things "easier" - by attempting to make
working the the data easier...?

On Thu, Jul 18, 2019 at 2:40 PM Ellis Bigelow <notifications@github.com>
wrote:

--
Rakesh Kelkar

[2019-07-22 23:12] animeshsingh opened #263 "SDK Issues"
/kind bug

1. The SDK assumes your certificates are under `~/.kube/config` to work remotely. Is there a way to set the location for certificate?

2. The SDK package name is `kfserving` which has the same package name as the kfserving python server - confusing a bit.

3.  SDK doesn’t have any function to customize storage secrets.

via @Tomcli

/assign @jinchihe
cc @yuzisun @ellis-bigelow

[2019-07-23 06:13] Klein-Hu opened #264 "Pre/Post processing in KFServing"
/kind feature

In the real machine learning user experience, the service side could not always assume the client has the ability to prepare the well-formatted data or handle the response from the service. In this case, we need to consider put the pre and post processing into the picture of the service side.

Here comes 3 personas I want to make things more clear:

1. High-tier client. This kind of

[2019-07-23 06:15] #264 closed

[2019-07-23 06:16] NonStatic2014 opened #265 "Pre/Post processing in KFServing"
/kind feature

In the real machine learning user experience, the service side could not always assume the client has the ability to prepare the well-formatted data or handle the response from the service. In this case, we need to consider put the pre and post processing into the picture of the service side.

Here comes 3 personas I want to make things more clear:

High-tier client. This kind of cl

[2019-07-23 15:49] yuzisun commented on #265
Thanks @NonStatic2014! We have been discussing pre/post processing and planning to add this to KFServing v1alpha2 CRD.

[2019-07-23 15:52] rakelkar commented on #265
@yuzisun how do you think about server vs client responsibilities/contract for pre/post?

For what @NonStatic2014 calls high tier - the client actually knows what the models needs (e.g. tensors in and out) so it can understand a predict dataplane on request and response

For low - client doesnt understand any model details and requires pre/post to act as an adapter - so the data contract is in cli

[2019-07-23 15:56] yuzisun commented on #263
@animeshsingh I raised same concern here https://github.com/kubeflow/kfserving/pull/250. Maybe we can call it kfserving-sdk ?

[2019-07-25 10:03] jinchihe opened #268 "Discussion for bundling backend and client together for kfserving pypi"
/kind feature

As we made the decision to bundle backend and client together in the same pypi, I would like to discussing details here before implement that. I think there are two ways to implement this:

**Option A**,  move the [sdk](https://github.com/kubeflow/kfserving/tree/master/sdk) into the [python/kfserving/kfserving](https://github.com/kubeflow/kfserving/tree/master/python/kfserving/kfser

[2019-07-25 10:04] jinchihe commented on #268
@yuzisun @ellis-bigelow @animeshsingh Please let me know if you have any comments for the propose. Thanks a lot!

[2019-07-25 16:34] ellis-bigelow commented on #268
I like most of your suggestions. The format:  `kfserving.client.api.kf_serving_api` is a little verbose. Is this because it's autogenerated? I'd prefer something like `kfserving.client`

setup.py should be flexible enough to allow you any folder structure. If it doesn't, I like option b.

[2019-07-25 18:36] animeshsingh commented on #268
@ellis-bigelow are we asking for trouble by coupling the backend and client in terms of maintainability costs?

[2019-07-26 00:33] jinchihe commented on #268
Thanks @ellis-bigelow Yes, your are right, that's because it's autogenereated, and if we change that, we need change that every uprading in the future.

[2019-07-26 02:13] jinchihe commented on #263
@animeshsingh Thanks for the raising.

For problem 2, we are discussing more details in the #268
For problem 3, I think we can set the `service_account_name` for storage secrets, is that satify your requirement?

For exmple:
[code]
Of course the service_account_name need to be ready before this. see more in the related [sdk doc](https://github.com/kubeflow/kfserving/blob/master/sdk/docs/V1alpha1Mo

[2019-07-26 02:41] A-And opened #269 "Editing a KFService Object leaves unused resources"
/kind bug

**What steps did you take and what happened:**
Deploying a KFService of the following format
[code]
I subsequently ran `kubectl edit kfservice foo -n foo-ns`, edited `resources.limits.cpu` and `resources.requests.cpu` and `minReplicas` to 0.
This resulted in the new AND the previous KNative revisions still being active along with the pods associated with them.

**What did you expect to

[2019-07-26 02:54] A-And commented on #269
This seems to be default behavior for Knative as described in https://github.com/knative/serving/issues/2720 . Is KF-Serving intentionally following the same behavior?

[2019-07-26 03:10] rakelkar commented on #269
Seems sad to me. Since we don't rollback to old revisions, maybe we can do something about it?

@yuzisun any thoughts?

Also see https://github.com/knative/serving/issues/4183

[2019-07-26 03:18] jinchihe opened #270 "Reframing CI/CD test to avoid running unrelated tests for each PR"
/kind feature

**Describe the solution you'd like**
For now, each PR will trigger long time CI/CD testing, in fact some of them are not related with the PR, for example if we changed files under pkg/api, that's not related the build images Stepes, those images sometime running timeout and failed, that waste time. Suggest to create a separated workflow for those testing by define reasonable prow fi

[2019-07-26 03:34] jinchihe commented on #249
Just suspend the ticket more time, since we may has also update the knative/pkg recently, refer to two PRs in the knative which are made by kfserving team: https://github.com/knative/pkg/pull/538 and https://github.com/knative/pkg/pull/510

We may pin our commits to include the changes, seems we need to also upgrade knative/serving, I thonk the master breach is not stable, see more in #260

@johnu

[2019-07-26 03:48] johnugeorge commented on #249
i don't see any other way than manually committing these PRs in our repo.  we need to decide if we have to temporarily use that hack.  Or we have to wait till knative 0.8 to get these fixes

[2019-07-26 07:13] jinchihe commented on #268
Personally I strongly suggest to take out the `client` word from apis , just merge the service and client directory, for reasons:
1. If we remove the `client`, so the kserving client api will be as `kfserving.api.kf_serving_api` , instead of `kfserving.client.api.kf_serving_api` which is verbose as @ellis-bigelow mentioned above.
2. If so we will not break `swagger-codegen` directory structure, ea

[2019-07-26 21:11] ellis-bigelow commented on #269
I believe the primary problem here is that Tensorflow isn't shutting down. The old revisions are supposed to scale down if not under any traffic, but it can take some time. It takes extra long if TF Serving refuses to shut down #82

Knative will garbage collect old revisions over time. We absolutely need multiple revisions for rollouts to work without dropping traffic. I believe knative allows you

[2019-07-26 21:11] ellis-bigelow commented on #269
/area project-health

[2019-07-26 21:14] ellis-bigelow commented on #268
Honestly, locking thee versions may make compatibility easier. I'd hear your concerns though. Would you like to elaborate further on the scenario you're envisioning?

[2019-07-26 22:46] yuzisun commented on #269
I agree this is sad and I have raised this issue earlier to knative, but the current behavior is that the minscale requirement also applies to old revisions, It eventually gets GCed but it is like 15 hours by default since last time the revision gets pinned for traffic. You can try tune this setting https://github.com/knative/serving/blob/master/config/config-gc.yaml#L45 though.

[2019-07-26 23:02] rakelkar opened #271 "Clarify what inference frameworks KFServing supports"
## What is a KFServing Framework?
A KFServing framework abstracts the details required to inference an ML model serialized in an ML framework specific format or in an IR format (intermediate representation).

### Supported ML frameworks
* Tensorflow: model.pb
* Scikit: model.joblib
* XGBoost: model.bst
* PyTorch: model.pt

### Supported Open IR Formats:
An open IR format supports multiple hardware

[2019-07-27 06:04] rakelkar commented on #269
Its not just TFServing - any pod for which you set minReplicas will stick
around for hours. If you keep iterating, this applies to all older
revisons. This is definitely a blocker for us using it. We'll try tweaking
the parameters to see if it is possible to mitigate.

On Fri, Jul 26, 2019 at 3:46 PM Dan Sun <notifications@github.com> wrote:

--
Rakesh Kelkar

[2019-07-30 23:12] rakelkar opened #273 "KFServing Data Plane Design Considerations"
Have documented design considerations and quick overview of predictor dataplanes to help inform the KFServing data plane design discussion.

Document:
https://docs.google.com/document/d/13-xx8b9eQ2rAC27NOZ8Of4SbJLrHX15X6WA-8zWM7wQ/edit?usp=sharing

@yuzisun @ellis-bigelow @cliveseldon @animeshsingh

[2019-07-30 23:14] rakelkar commented on #271
Documented per the discussion in the last KFServing community meeting
FYI @ellis-bigelow @animeshsingh @cliveseldon @yuzisun

[2019-08-05 18:38] johnugeorge opened #276 "Fix Unknown condition update for Canary Spec if missing"
Currently, according to semantics used in knative conditions, `nil` is equivalent to `unknown`.  However, the semantics we need in kfserving is different. `nil` should be equivalent to `missing`.

ClearCondition function is added in knative/pkg master in https://github.com/knative/pkg/pull/538. However it won't be available will  knative release 0.8

Opening this PR to add the fix when knative is

[2019-08-07 19:13] rakelkar commented on #219
implemented by #222

[2019-08-07 19:13] #219 closed

[2019-08-07 21:15] Tomcli opened #277 "SDK for patching kfservice is returning 415 errors"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I try to follow this [example notebook](https://github.com/kubeflow/kfserving/blob/master/sdk/sample/kfserving_sdk_sample.ipynb) to use the kfserving SDK. However, during the 5th python cell at `KFServing.patch('flower-sample', kfsvc)`, it returns the following errors
[code]

**What did

[2019-08-07 23:36] rakelkar commented on #269
Possible fix here: https://github.com/knative/serving/pull/4884

[2019-08-08 00:11] animeshsingh commented on #263
For #3
Maybe a map of key/value pairs with corresponding creds for gcs/s3/ibm cos etc...

cc @ellis-bigelow

[2019-08-08 00:12] animeshsingh commented on #277
/assign @jinchihe

[2019-08-08 00:27] ellis-bigelow commented on #263
IMO Service accounts should drive the creds. KFServing can recognize special service accounts to pull and mount creds of each type.

The SDK should be capable of *creating* these service accounts. @jinchihe , what do you think about a helper for this?

[2019-08-08 00:57] Tomcli commented on #277
So I discussed with @jinchihe the issue is happening only on pypi kubernetes sdk 10.0.0. Jin Chi will look into it more on the new changes in 10.0.

[2019-08-08 00:58] jinchihe commented on #277
Just has basic checked with @Tomcli , That works fine with kubernetes Client 9.0.0.
[code]
The problem only exists for kubernetes client SDK 10.0.0, we need to check what's changed in the new kubernetes client SDK, and handle that.

I'm going to enhance that. Thanks.

[2019-08-08 02:09] jinchihe opened #278 "Handle the ObservedGeneration"
/kind feature

**Describe the solution you'd like**

The `KFServiceStatus` includes `duckv1beta1.Status` in the [kfservice_type.go](https://github.com/kubeflow/kfserving/blob/0ee00b3beec2ca9fb4eb6b64da1264ccb9b80914/pkg/apis/serving/v1alpha1/kfservice_types.go#L102), the `duckv1beta1.Status `includes [ObservedGeneration](https://github.com/knative/pkg/blob/2b848f71969c997809a2dbea8351eaadb23e9bc9/

[2019-08-08 02:34] jinchihe commented on #263
@ellis-bigelow Make sense, so SDK can get the key/value pairs from user inputs/spefications, and then create the secrects/service accounts, and then mounting. Will do that later. Thanks.

[2019-08-08 03:28] animeshsingh commented on #277
Thanks folks

[2019-08-08 06:31] jinchihe commented on #277
@Tomcli @animeshsingh

This a bug of kubernetes python SDK client in the new verion (10.0), please see here: https://github.com/kubernetes-client/python/issues/866

The problem has been fixed in the  kubernetes python SDK. Here I think we can pin the `kubernetes=9.0.0`, and after next kubernetes sdk release, we can pin to `>=new version`.
Agree?

[2019-08-09 04:04] animeshsingh commented on #277
Thanks @jinchihe - works!

[2019-08-09 05:47] rakelkar opened #280 "Serving Storage Cache"
/kind feature

KFServing storage-initializer downloads data per pod. KFServing should support integration of a serving storage cache so that data is downloaded only once during service provisioning.

**Strawman Design Proposal**
https://docs.google.com/document/d/1NOHSiZ-G3XbA1H4BExXpMltnB9F3qY0WH8F5-tZKJX0/edit?usp=sharing

[2019-08-09 17:46] rakelkar opened #281 "Rename modelUri/model-initializer to storageUri/storage-initializer"
#222 added the concept of storageUri

As soon as we have v1alpha2, rename:
* modelUri -> storageUri
* model-initializer -> storage-initializer

[2019-08-12 09:19] ryandawsonuk opened #284 "option to load credentials directly from a secret for s3"
Currently to download from a private S3 bucket [you create both a secret and a service account that you link it to](https://github.com/kubeflow/kfserving/blob/master/docs/samples/s3/s3_secret.yaml). You then set the [serviceAccountName on the KFService ](https://github.com/kubeflow/kfserving/blob/master/docs/samples/s3/tensorflow_s3.yaml#L7) and it is [used to add env vars based on the secret to t

[2019-08-12 18:53] #276 closed

[2019-08-13 00:49] #246 closed

[2019-08-13 00:55] jinchihe commented on #268
The bundling has been finished in the #250 , close the ticket.

[2019-08-13 00:55] #268 closed

[2019-08-13 05:41] animeshsingh opened #287 "KFServing SDK should have an easy way to get KFService status"
/kind feature

**Describe the solution you'd like**
We need a better way SDK to show the status whether KFService is ready or not, rather than manually looking for in the yaml dump

[code]

[2019-08-13 05:42] animeshsingh commented on #287
/assign @jinchihe
cc @ellis-bigelow

[2019-08-13 05:58] jinchihe commented on #287
@animeshsingh Thanks, totally agree with you. I think we should have a API to `watching` the kfservice status. For now, the `KFServingClient.get` API need to user polling manually.

[2019-08-13 14:39] jinchihe commented on #287
/cc @yuzisun

[2019-08-18 23:37] yuzisun opened #291 "KFService mutation webhook does not set cpu/memory limit"
/kind bug

**What steps did you take and what happened:**
Since knative serving 0.7, it has started to set defaults for cpu/memory requests/limits if resources are not specified, however KFService mutation webhook only sets cpu/memory request to 1 Cpu/2Gi while knative serving tries to set cpu/memory default limit to 1Cpu/200M which resulting in following error.

[code]

**What did you expect to h

[2019-08-19 11:47] jinchihe opened #294 "Update SDK from v1alpha1 to v1alpha2"
/kind feature

**Describe the solution you'd like**

Since the KFServing will be upgrade from v1alpha1 to v1alpha2 in https://github.com/kubeflow/kfserving/pull/290, the KFServing python sdk also should be updated accordingly.

/assign @jinchihe
/cc @yuzisun

[2019-08-21 01:00] jinchihe commented on #270
We need to take high priority to handle this, the CI/CD tests always failed for timeout or some other strange reasons.

[2019-08-21 06:20] robin2008 opened #296 "pytorch sample does not work"
/kind bug

**What steps did you take and what happened:**
I've installed kfserving 0.1.0 on my minikube (none driver, and using NodePort for istio-ingress), and try to deploy the sample `pytorch` with below steps:
[code]
The `pytorch-cifar10` kfservice could be created successfully, while the model is failed to work. Actually, sklearn and tensorflow are working on the same environment.
[code]
Chec

[2019-08-21 19:05] Tomcli opened #299 "Mutator Failed to find kfservice-config config map"
/kind bug

**What steps did you take and what happened:**
I try to deploy kfserving on one of my existing KubeFlow cluster and it's producing the following errors where it can't find the kfservice-config configmap. However, the kfservice-config configmap is created properly under the same namespace.

[code]
[code]

**What did you expect to happen:**
KFServing should be deployed properly without cr

[2019-08-22 00:53] yuzisun opened #301 "V1Alpha2 CRD proposal to support predict, explain and transform"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
V1alpha2 CRD proposal to support static inference graph for prediction, explanation and transformation, for more details check the following google doc.
https://docs.google.com/document/d/17rZRR1EBsKPpIcZ2mV6WzCZk64rvxx0zg_LrkQm7P9o/edit

**Anything else you would like to add:**
[Misce

[2019-08-22 01:34] #249 closed

[2019-08-22 02:22] #291 closed

[2019-08-22 03:34] #217 closed

[2019-08-22 15:12] jinchihe opened #303 "CI/CD presubmit sametime run timeout."
/kind bug

**What steps did you take and what happened:**

CI/CD presubmit sametime run timeout.
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kubectl

[2019-08-22 15:13] jinchihe commented on #303
For the default value: If timeout is not set, a default timeout of 10 minutes will apply to the build.

The build may be cannot finished in the 10 minutes, we should extend the time.

[2019-08-22 17:39] animeshsingh commented on #287
@jinchihe any update on this?

[2019-08-22 23:50] jinchihe commented on #287
Sorry for later, Lots of tasks from other tracks. I'm going to start this now, thanks.

[2019-08-24 13:33] jinchihe opened #306 "The overall status should be shown for `kubectl get kfservice`"
/kind feature

**Describe the solution you'd like**
While I'm doing the #305 , I think the overall status will be shown for `kubectl get kfservice`. User want to know if the KFService is ready or not.

For now:
[code]

Should be like below I think (added READY):
[code]

Checked the knative, there is a READY,  I suggest we add one metric READY for kfservice.

[code]

**Anything else you would like

[2019-08-24 13:34] jinchihe commented on #306
@ellis-bigelow @yuzisun comments? Thanks.

[2019-08-24 13:44] #263 closed

[2019-08-24 13:52] yuzisun commented on #306
@jinchihe good suggestion! Can you try add this annotation `+kubebuilder:printcolumn:name="Ready",type="string",JSONPath=".status.conditions[?(@.type=='Ready')].status"` to `KFService` type see if that works?

[2019-08-24 13:54] jinchihe commented on #306
@yuzisun OK, thanks, I'm going to do that :-)

/assign @jinchihe

[2019-08-24 14:26] #303 closed

[2019-08-24 21:36] rakelkar opened #310 "GCS model download is missing tests"
GCS download needs test similar to the ones added for azure blobs via #309

[2019-08-26 03:36] #301 closed

[2019-08-26 09:10] jinchihe opened #311 "SDK Support create credentials for Azure"
/kind feature

**Describe the solution you'd like**
As KFService support credentials for Azure in #292, SDK also should support create credentials for Azure.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-26 09:10] jinchihe commented on #311
/assign @jinchihe

[2019-08-26 09:29] jinchihe commented on #311
Design:

1. Get the `AZ_CLIENT_ID`, `AZ_CLIENT_SECRET`, `AZ_SUBSCRIPTION_ID` and `AZ_TENANT_ID` from the azure creds file (Defaults can be ~/.azure/azure_credentials.json from [here](https://docs.microsoft.com/en-us/azure/python/python-sdk-azure-authenticate)).
2. Create the Secret, and named `azcreds` (try to get the secret name from kfservice configmap), if the azcreds existing, update the key/v

[2019-08-26 19:12] rakelkar opened #313 "Azure anonymous access fails when secret is configured"
/kind bug

**What steps did you take and what happened:**
Create the azure azcreds secret
Attempt to use a public blob
Access fails since the SP does not have access to the blob

**What did you expect to happen:**
KFServing should attempt anonymous access before using the secret

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environm

[2019-08-26 19:15] rakelkar opened #314 "Azure blob secret should not require a known name"
/kind feature

The azure blob secret currently requires a well known name. Add the ability to fall back if a secret that includes the well known azure secret key is found on the service account

[2019-08-26 23:46] rakelkar opened #317 "Discuss: Rename KFService to MLService"
We've discussed this idea before, opening an issue to discuss in the context of v1alpha2.

### Rationale:
KFServing as it currently stands defines an API spec and an implementation for serving. The spec models the ML domain but is not dependent on Kubeflow in any way. MLServing is a clearer name that reinforces the loose coupling of the API.

wdyt?

[2019-08-27 03:48] #314 closed, assigned to rakelkar

[2019-08-27 04:30] #313 closed, assigned to rakelkar

[2019-08-27 05:47] #306 closed

[2019-08-27 05:51] #294 closed

[2019-08-27 05:54] cliveseldon commented on #317
+1 if we push to be standalone component used by but not dependant on Kubeflow. But for this to be a reality we would need to have looser ties to kubeflow releases which brings up wider questions.

Also, would help make clear the spec could have alternative implementations or extensions that are not kubeflow focused and definitely help promote it wider.

[2019-08-27 05:55] jinchihe opened #318 "unit test in presubmit timeout sometimes."
/kind bug

**What steps did you take and what happened:**

unit test in presubmit timeout sometimes. The logs:
[code]
Sometimes, logs are as following:
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:

[2019-08-27 05:56] jinchihe commented on #318
@yuzisun As discussed with before, you have idea for the root course?

/cc @rakelkar

[2019-08-27 05:58] jinchihe commented on #296
@robin2008 is that possible to be caused by lack resource?

[2019-08-27 06:24] jinchihe commented on #296
Seems that's not env problem, but real bug, I can reproduce that, will take a look. Thanks.

[2019-08-27 08:49] jinchihe commented on #296
Used the last v0.1.2 [docker image](https://console.cloud.google.com/gcr/images/kfserving/GLOBAL/pytorchserver?project=kfserving&organizationId=433637338589&gcrImageListsize=30) for pytorch, seems that's OK.

By default, the kfserving get the `latest` image, but the `latest` image is not last one, list one is v0.1.2. Seems need to update the image tag.

[2019-08-27 09:13] jinchihe commented on #296
@ellis-bigelow Seems the docker images are released by Google Cloud Build, I think we need to add `latest` tag on last offical image. but that's not now. do you know how to add the `latest` tag to last one? I have no premission to edit that. Thanks.

https://console.cloud.google.com/gcr/images/kfserving/GLOBAL/pytorchserver?project=kfserving&organizationId=433637338589&gcrImageListsize=30

[2019-08-27 22:41] aronchick commented on #317
the latter please 🙂

KFServing should stay in KFServing as an implemenation of MLService 🙂 (maybe we change the name to KFService?)
________________________________
From: Ellis Bigelow <notifications@github.com>
Sent: Tuesday, August 27, 2019 3:24 PM
To: kubeflow/kfserving <kfserving@noreply.github.com>
Cc: David Aronchick <David.Aronchick@microsoft.com>; Mention <mention@noreply.github.com>
Subje

[2019-08-27 23:10] abhi-g commented on #317
thanks for that clarification. this is making more sense now.

On Tue, Aug 27, 2019 at 3:41 PM David Aronchick <notifications@github.com>
wrote:

[2019-08-28 00:41] jinchihe commented on #296
@ellis-bigelow I'm sure used the `deploy-dev`. And as discussed offline, we need to let the `latest` tag marked to last official docker image. Thanks.

[2019-08-28 02:20] jinchihe commented on #296
Seems we can update the build config file following the [doc](https://cloud.google.com/cloud-build/docs/view-build-results#filtering_build_results_using_tags) in here to add tags [here](https://console.cloud.google.com/cloud-build/triggers/0832f115-765d-44e0-918a-7a13917ccd0d?project=kfserving).

[2019-08-28 13:46] ukclivecox opened #321 "Sklearn wrapped keras/tensorflow models can't be used with sklearn server"
/kind bug

Should we allow an option for the model load to be done per Tornado worker? At present it's done once:

https://github.com/kubeflow/kfserving/blob/34809b91c57a9f7dfb27592f1f4ad895bc074eb7/python/sklearnserver/sklearnserver/__main__.py#L33

A sklearn keras wrapped model fails due to underlying Tensorflow session needing to be loaded in each worker.

Or we say you have to use the Tensorfl

[2019-08-28 22:20] animeshsingh opened #322 "Switch the KFServing build to Kubeflow build being based on Tekton+Kaniko"
Follow the conversation here
https://github.com/kubeflow/kfserving/pull/319

/assign @jinchihe

cc @ellis-bigelow @kkasravi

[2019-08-28 22:25] kkasravi commented on #322
thanks @animeshsingh

does kfserving do something similar as some of the other kubeflow repos (kubeflow, kfctl, manifests) which involves prow, presubmit, postsubmit, periodic?

[2019-08-28 22:28] yuzisun commented on #322
@kkasravi ye it's prow with presubmit, there is no postsubmit and periodic setup.

[2019-08-28 22:35] kkasravi commented on #322
@yuzisun thanks

the current kfctl Pipeline isn't parameterized under kustomize to the extent that any Github source and Image can be plugged in, but i'll take a look at kfserving's prow presubmit to see if it would be possible

[2019-08-29 01:02] jinchihe commented on #322
@animeshsingh @kkasravi I'm glad to do that, thanks!

[2019-08-30 19:51] ultrons opened #323 "Need Interface Spec for the Custom Container"
Hi , I am looking for some pointers on using custom container for inference using kf_serving.
While the samples provide in this repo has an example of yaml file with custom container, but We are missing an interface/protocol specification that this custom container is to abide by.

Looked through kubeflow official website.

[2019-09-01 15:14] yuzisun opened #324 "V1Alpha2: Transformer/Explainer validation for KFService spec"
**Describe the solution you'd like**
Validate the spec for newly added transformer/explainer and some of the existing validation functions may need to be refactored.

**Anything else you would like to add:**
Open questions are that whether we should allow adding/removing transformer/explainer in canary.
- It may not make sense to add/remove transformer in canary, so if default has transformer then

[2019-09-01 15:52] yuzisun opened #325 "V1Alpha2: KFService status redesign"
/kind feature

**Describe the solution you'd like**
v1alpha2 adds transformer and explainer endpoints, this is the proposal for redesign of the `KFService` status object.

Status Object
[code]

Status Conditions
[code]
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-01 17:46] ellis-bigelow commented on #325
This is awesome. What about transform ready, etc? Should we also have a way
to signal the entire graph is ready i.e. "ready"?

On Sun, Sep 1, 2019, 8:52 AM Dan Sun <notifications@github.com> wrote:

[2019-09-04 15:57] rakelkar commented on #325
+1 possibly EndpointReady?

[2019-09-04 15:59] rakelkar commented on #325
what does `PredictRoutesReady` mean - is it true only when default and canary are ready? why is that useful? Also for Explainer, is it fair to assume that it can never be ready before the predictor is ready?

[2019-09-04 18:06] rakelkar commented on #323
The data plane is being discussed here #273 and here: https://docs.google.com/document/d/1scfWSB4d8GeC03riu4AVhdG5sD1I0ZRO4mUhfN6aXAg/edit?ts=5d6954d2

I would suggest looking at the KFServer implementation and follow that for now: https://github.com/kubeflow/kfserving/tree/master/python/kfserving/kfserving

[2019-09-06 06:52] yuzisun opened #326 "V1Alpha2: Add Istio virtual service to map services under single domain"
/kind feature

**Describe the solution you'd like**
KFService v1alpha2 starts to create multiple knative services to support predictor, explainer and transformer, in order to map these services to different paths under a single domain we need to use istio virtual service. According to Ellis's data plane specification(https://docs.google.com/document/d/1scfWSB4d8GeC03riu4AVhdG5sD1I0ZRO4mUhfN6aXAg/e

[2019-09-06 06:54] yuzisun commented on #318
@jinchihe this can be closed now, I forgot to link this ticket earlier in my PR.

[2019-09-06 11:44] jinchihe commented on #318
@yuzisun OK, thanks a lot!

[2019-09-06 15:20] yuzisun commented on #326
@rakelkar

[2019-09-06 15:20] yuzisun commented on #326
/assign @rakelkar

[2019-09-06 16:56] #133 closed

[2019-09-07 19:03] #281 closed

[2019-09-07 19:03] yuzisun commented on #265
/assign @yuzisun

[2019-09-07 19:19] rakelkar opened #331 "Build and push gcr.io/kfserving/storage-initializer:latest"
/kind bug

#327 changed the image name for the initializer. However the new one is not available in GCR.
1. Build and push the initializer (ideally happens via CI)
2. Update config modified in #330 back to `gcr.io/kfserving/storage-initializer:latest`

/assign @ellis-bigelow

[2019-09-09 11:32] ryandawsonuk commented on #201
@animeshsingh I remember some work was done to log from a custom lua filter in the istio sidecar. Is that work or a snippet from it available anywhere to look at?

[2019-09-09 12:39] ryandawsonuk commented on #196
It seems the JWT will now be a header and have the name kubeflow-userid - https://github.com/kubeflow/kubeflow/commit/1fa142f8a5c355b5395ec0e91280d32d76eccdce#diff-784a8a186986389ad03cf28aef0b2fe9R55

[2019-09-09 14:37] jinchihe opened #334 "add runtime image to configmap"
/kind feature

**Describe the solution you'd like**
We need to add runtime image to configmap, and for now, we added in the pkg/apis/serving/v1alpha2/framework_*.go file, that's not good for user to update that, if in the configmap, user can update that or add old ones.

See more in the https://github.com/kubeflow/kfserving/pull/319

**Anything else you would like to add:**
[Miscellaneous informat

[2019-09-09 20:27] klee989 opened #335 "Extending canary testing into A/B testing"
/kind feature

**Describe the solution you'd like**
Could be useful to extend the existing implementation of canary testing into A/B testing: routing between versions, collecting an aggregate metric for each version, and computing a test of significance between versions' metrics. To discuss in Wednesday's meeting?

**Anything else you would like to add:**

[2019-09-09 20:50] yuzisun commented on #335
cc @ellis-bigelow @cliveseldon @rakelkar @animeshsingh

[2019-09-09 20:51] yuzisun commented on #335
@cliveseldon Is this fall under MLGraph ?

[2019-09-09 21:29] cliveseldon commented on #335
Yes I think this would fall under MLGraph proposal I did to add A/B tests, multi-armed bandits and ensembling. I did an initial spec in the Seldon repo: https://github.com/SeldonIO/mlgraph but these concepts will need to be discussed by the kfserving group as to what makes sense.

[2019-09-10 00:20] rakelkar commented on #335
AB/flighting seems to have the following differences when compared to rollout:
1. May fork a little bit of traffic to many services that participate in an overall experiment
2. Not roll-forward, may just be a timebound fork to get data
3. Potentially finer traffic distribution granularity - may be determined by an external control tower like system on the basis of a set of variants e.g. 1% of mobi

[2019-09-10 05:07] animeshsingh commented on #335
This would need a monitoring solution to be in place, and maybe a good segway into that discussion.

[2019-09-10 21:02] rakelkar opened #338 "Allow specification of concurrency"
/kind feature

KNative allows specification of container concurrency on models. Would be nice to be able to set this on a KFService. Python models often have a concurrency of 1 - setting this value correctly is important to get request based autoscaling to work correctly.

[2019-09-10 22:13] yuzisun commented on #338
This is already supported via passing exactly same knative target concurrency annotation on kfservice.

[2019-09-11 04:42] rakelkar commented on #338
Can you point me to the annotation? The only thing I saw is a configuration..

[code]

[2019-09-11 19:35] rakelkar commented on #324
We discussed this in the weekly meeting and we agreed to start simple and not allow graph changes between canary and default, this means the user can only modify components but cannot add/remove components in canary.

This means the following should fail validation:
1. Add a transformer as canary, where default does not have a transformer - not possible
2. Remove a transformer in canary, where def

[2019-09-13 07:36] animeshsingh commented on #296
@jinchihe are you going to tackle this?

/assign @jinchihe

[2019-09-16 14:07] ryandawsonuk opened #341 "curl form changed between 0.1.0 and 0.1.1"
The host to be specified [in the curl](https://github.com/kubeflow/kfserving/tree/master/docs/samples/sklearn#run-a-prediction) is now `<kfservicename>.<namespace>`

In 0.1.0 I used to be able to get the host using `kubectl get kfservice <kfservicename> -o jsonpath='{.status.url}'`. This gives a host like `http://flowers-sample.default.example.com`. But using that host results in a 404 for 0.1.1.

[2019-09-16 14:10] yuzisun commented on #341
ye we need to strip the `http://`, see https://github.com/kubeflow/kfserving/issues/325. Maybe we should update the doc and do in a way that does not require the host header if we can map the static cluster IP to the service host name.

[2019-09-16 16:33] ellis-bigelow commented on #324
I'm a little hesitant about this approach. Isn't this the whole value of a canary, in that you can add a transformer to a canary and try it out with the new traffic. As long as there's no data plane interface change, there shouldn't be a problem. This means that the canaried model may need to support a new interface if a transformer is introduced.

Happy to discuss further in the weekly.

[2019-09-16 17:24] animeshsingh commented on #322
@jinchihe any movement along these lines?

[2019-09-16 23:27] hougangliu commented on #324
For me as https://github.com/kubeflow/kfserving/pull/336#issuecomment-530418650, I think we shouldn't limit that default and canary part must keep same structure, and they only need keep same data interface. w'd better free the user to do more experiments about how its model looks like.
Happy to discuss it. More comment is welcome. Thanks

[2019-09-17 00:24] jinchihe commented on #322
@animeshsingh not yet due to higher priority things, but will start very soon.

[2019-09-17 00:57] jinchihe opened #342 "presubmit tests failed in build image steps due to File exists"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version

[2019-09-17 00:58] jinchihe commented on #342
/assign @jinchihe
/cc @yuzisun @animeshsingh

[2019-09-17 02:21] yuzisun commented on #338
@rakelkar the above is for max allowed concurrency which is only used to limit how many requests(hard limit) can reach the pod at a given time. `autoscaling.knative.dev/target` annotation is the soft limit for how many requests you want at a given time(target concurrency) which we currently default to 1 in KFService and autoscaler is based off target concurrency and observed concurrency. You can a

[2019-09-17 02:35] yuzisun commented on #236
this is going to be fixed in knative 0.9!

[2019-09-17 04:44] #265 closed

[2019-09-17 04:46] rakelkar commented on #338
I see thanks for the clarification!

[2019-09-17 04:46] #338 closed

[2019-09-17 17:46] rakelkar opened #343 "Predict route appears to conflict with Predictor route"
/kind bug

**What steps did you take and what happened:**
We currently create a predictor and a predict route. The predict route points to the transformer if one is configured, else to the predictor. I configured a KFService without a predictor and found that the knative label reconciler keeps failing with the following message:
[code]

**What did you expect to happen:**
All logs should be happy

[2019-09-17 21:44] yuzisun commented on #343
hmm, predictor is mandatory per KFService specification, thought webhook should reject if predictor is not specified.

[2019-09-17 21:50] yuzisun commented on #343
Ah I see, it is going through the mutating webhook first and then validating webhook and it crashes the controller in mutating webhook.

[2019-09-18 03:25] rakelkar commented on #341
If you configure knative to use xip.io - you have to edit config-domain
config map to add:
[code]
(`IPADDR`.xip.io)

then you can just curl that - its awesome :)

urls look like this..
[code]
-r

-r

On Mon, Sep 16, 2019 at 7:10 AM Dan Sun <notifications@github.com> wrote:

--
Rakesh Kelkar

[2019-09-18 03:47] yuzisun commented on #269
this is now fixed with https://github.com/knative/serving/releases/tag/v0.9.0.

[2019-09-18 07:04] hougangliu opened #344 "kfservice cannot work"
/kind bug
When create a kfservice, such as
https://github.com/kubeflow/kfserving/blob/master/docs/samples/tensorflow/tensorflow-canary.yaml, kfservice will suspend and controller logs error message as below
[code]

[2019-09-18 12:13] yuzisun commented on #344
thanks @hougangliu ! Looks not an issue on 0.7 but in 0.8 they added the last modifier check and we are overwriting the annotation.

[2019-09-18 19:23] #344 closed

[2019-09-18 20:15] yuzisun commented on #341
ah that looks cool, should we update all docs to use this?

[2019-09-19 01:50] rakelkar opened #347 "Ready state not updated correctly"
/kind bug

**What steps did you take and what happened:**
First apply:
[code]

Wait for status to move to ready...

Then apply:
[code]

status shows ready:
[code]

But in reality new canary pod is crashing...
[code]

**What did you expect to happen:**
Expected to see an error since canary failed... I guess this is because knative is keeping the old canary revision around :) but that is not what I

[2019-09-19 13:25] jinchihe commented on #342
Root cause may be: since multiple components (such as build-alibi-explainer, build-storage-initializer, etc ...) are synchronous started, and parallel executed. all used some volume  kubeflow-test-volume and some mount path, and synchronous copy the Dockerfile.

[code]

[2019-09-19 17:51] ellis-bigelow commented on #317
Any thoughts on InferenceService instead?

[2019-09-19 20:48] #342 closed

[2019-09-20 03:16] jinchihe opened #351 "There are some errors in the sdk-test component of CI/CD tests"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

There are some errors in the sdk-test component of CI/CD tests

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Vers

[2019-09-20 03:16] jinchihe commented on #351
Seems that's caused by Python version is too lower for the SDK tests, need to upgrade python version in the test image or container.

/assign @jinchihe

[2019-09-20 18:11] ellis-bigelow commented on #252
Closing in favor of V2 API discussions
/close

[2019-09-20 18:11] #252 closed

[2019-09-22 04:35] ellis-bigelow commented on #269
/close

[2019-09-22 04:35] #269 closed

[2019-09-22 04:35] ellis-bigelow commented on #236
/close

[2019-09-22 04:35] #236 closed

[2019-09-22 10:28] jinchihe opened #353 "Add SDK client example in CI/CD test"
/kind feature

**Describe the solution you'd like**
Add the example https://github.com/kubeflow/kfserving/blob/master/docs/samples/client/kfserving_sdk_sample.ipynb in CI/CD tests, since the notebook has P1 functions of SDK.

using `papermill` can test this in auto notebook.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-22 10:28] jinchihe commented on #353
/assign @jinchihe
/cc @yuzisun @animeshsingh

[2019-09-25 02:30] jinchihe commented on #196
@johnugeorge Just confirm here, KFServing will be installed in new version of kubeflow by kfctl along with istio and kantive, right? if so the CI/CD test env will have KFServing provision, right? Thanks a lot!

[2019-09-25 02:39] jinchihe opened #360 "Suggest defining Initializer image in configmap"
/kind feature

**Describe the solution you'd like**

We defined the `StorageInitializerContainerImage` in the go `storage_initializer_injector.go`

https://github.com/kubeflow/kfserving/blob/1dabdb06f525ff9d784334337bea103f36ceb299/pkg/webhook/admission/deployment/storage_initializer_injector.go#L31

I think that's better to define that in the config file.

For this case, user want to run the kfse

[2019-09-25 02:39] jinchihe commented on #360
/cc @rakelkar comments? Thanks.

[2019-09-25 02:48] jinchihe commented on #360
/cc @xauthulei

[2019-09-25 08:05] johnugeorge commented on #196
Yes. right.  With the latest Kfctl config in GCP, KF installation deploys KFServing by default with Istio and KNative.

[2019-09-25 13:00] jinchihe commented on #353
The tests `test_set_creds.py` is disabled in the PR #352, need to enable the test together with e2e tests.

[2019-09-26 01:47] #351 closed

[2019-09-26 09:18] xaniasd opened #361 "Support insecure minio connections"
/kind feature
For local deployments (e.g. with Kubeflow), TLS is not configured for minio. When trying to deploy a model stored there, kfserving issues SSLError messages.

```Caused by SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1056)')```

This is due to a hard-coded setting in [storage.py](https://github.com/kubeflow/kfserving/blob/master/python/kfserving/kfser

[2019-09-26 10:39] pradithya opened #363 "Empty host KFService"
/kind bug

**What steps did you take and what happened:**
Install any sample
[code]
get kfservice info
[code]
Output
[code]
But `kubectl get knative` show me the route is set up correctly and accessible
[code]

**What did you expect to happen:**
URL is not empty

**Environment:**

- Istio Version: 1.1.7 - `istio-ingress` is modified to have internal load balancer
- Knative Version: 0.9.0
- KFServi

[2019-09-26 16:11] phsiao opened #366 "service_account_credentials implementation requires cluster level get/list/watch of ServiceAccounts and Secrets"
/kind bug

**What steps did you take and what happened:**

As I work on https://github.com/cliveseldon/seldon-core/pull/1/, I realized this code path is copied from/shared with kfserving, and I would like to report it as a "bug".

**What did you expect to happen:**

The controller does not require cluster wide GET/LIST/WATCH of ServiceAccounts and Secrets, only needed in the namespace it needs to.

[2019-09-26 21:41] axelborja opened #369 "Makes KFServing supports batch inference"
/kind feature

**Describe the solution you'd like**

Makes KFServing supports batch inference.

It could take the following form:

BatchPredict    POST    `/v1/models/<model_name>:batch_predict`
Request: {instances_path, predictions_path}
Response: {}

[2019-09-26 22:38] ellis-bigelow commented on #369
Can you describe your usecase? This is currently identical to predict. I
expect batch predict will not be http. I'd love to hear any requirements
you have.

On Thu, Sep 26, 2019, 2:41 PM Axel Borja <notifications@github.com> wrote:

[2019-09-26 23:25] yuzisun commented on #363
We have not tested kfserving 0.1 with knative 0.9, likely they are not compatible. We are releasing 0.2 soon, stay tuned !

[2019-09-26 23:30] yuzisun commented on #360
This is already supported, check the configmap here. I guess we need to document it.

https://github.com/kubeflow/kfserving/blob/master/config/default/configmap/kfservice.yaml#L30

[2019-09-26 23:36] jinchihe commented on #360
@yuzisun Oh...Great! Thanks!

[2019-09-26 23:36] #360 closed

[2019-09-27 00:24] pradithya commented on #363
Cool. I am looking forward to it!

[2019-09-27 10:35] ryandawsonuk opened #371 "shared auth with kubeflow"
I've installed kubeflow from kfctl with a setup that [includes auth on the single external entrypoint for istio](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/).

But KFServices are available without any security on port 80. This is because knative and kubeflow both create an istio [Gateway resource](https://istio.io/docs/reference/config/networking/v1alpha3/gateway/) and the ku

[2019-09-27 10:35] ryandawsonuk commented on #234
Closing in favour of https://github.com/kubeflow/kfserving/issues/371 , which explains more clearly

[2019-09-27 10:35] #234 closed

[2019-09-27 13:01] #361 closed

[2019-09-27 13:53] ryandawsonuk commented on #371
Advice on the related knative-serving issue is that knative-serving can [currently only be switched to another gateway in the knative-serving namespace](https://github.com/knative/serving/issues/5700) but there is a plan to change that in future.

[2019-09-27 18:04] rakelkar commented on #371
Also vaguely related (to enable custom per service auth): https://github.com/knative/serving/issues/5706

[2019-09-27 18:49] csteegz opened #374 "Predict vs Predict Proba"
Have it been considered to support predict_proba for Sklearn and SGBoost in addition to predict? Will that be considered for the V2 API?

[2019-09-27 20:10] rakelkar commented on #331
Fixed by #375

[2019-09-27 20:10] #331 closed

[2019-09-28 00:13] Joon-L opened #376 "Per service auth support in KFServing"
/kind feature

**Describe the solution you'd like**
With the coming feature supports in Knative,
- Splitting gateways per Route instead of using a single `knative-ingress-gateway` [knative/serving#4312](https://github.com/knative/serving/issues/4312)
- Knative with existing ingress Gateway resource [knative/serving#5700](https://github.com/knative/serving/issues/5700)

There should be a way to ach

[2019-09-28 02:03] yuzisun commented on #296
/close

[2019-09-28 02:03] #296 closed

[2019-09-28 02:04] yuzisun commented on #209
/close

[2019-09-28 02:04] #209 closed

[2019-09-28 02:05] yuzisun commented on #189
/close

[2019-09-28 02:05] #189 closed

[2019-09-28 02:05] yuzisun commented on #188
/close

[2019-09-28 02:05] #188 closed

[2019-09-28 10:54] axelborja commented on #369
Hello Ellis,

*Use Case*

Our use case is to request inference by batches of tens of millions of instances, and this a multitude of time a day.

The inference will probably take tens of seconds or even a few minutes.

*Triggering*

The triggering should be done on demand.

It could be event-driven. Triggered by an event, and triggering another event when done.

It could even be an HTTP request but

[2019-09-28 16:02] yuzisun opened #379 "Storage initializer fails to download tensorflow model from S3"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
tensorflow model has subdirectories and storage initializer fails to download the models directory with following errors:
[code]

**What did you expect to happen:**
download model directory from S3 should work

**Anything else you would like to add:**
[Miscellaneous information that will

[2019-09-28 16:35] #379 closed

[2019-09-29 08:41] jinchihe commented on #318
@yuzisun The issue can be reproduced again recently in unit test, could you please take a look? Thanks

[code]
[code]

[2019-09-29 23:21] yuzisun commented on #318
Likely need to increase timeout since we have added more tests and they run in parallel.

[2019-09-30 04:15] ellistarn opened #384 "kubectl get kfservices doesn't show values while reconciling (or unknown)"
/kind bug
[code]
Canary and Default are both blank. Ready is Unknown. These values are deterministic and should be displayed immediately.

[2019-09-30 07:54] ellistarn opened #386 "Prevent unknown fields from applying"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

kubectl apply -f
[code]
**What did you expect to happen:**
This should have been rejected.
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow v

[2019-09-30 08:03] ellis-bigelow opened #387 "KFService breaks when resource requests are less than limits"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

CPU is mismatched.

kubectl apply -f
[code]
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- M

[2019-09-30 19:11] yuzisun commented on #386
I think this is how Kubernetes crd validation works, it ignores the unknown fields.

[2019-09-30 19:20] yuzisun commented on #384
Istio virtual service is not created until revision pods are ready, I am not sure if we should show the traffic split percent when routes are not in ready state yet.

[2019-09-30 21:33] cliveseldon commented on #386
This is the case until structural schema come in. https://kubernetes.io/blog/2019/06/20/crd-structural-schema/

[2019-09-30 21:34] cliveseldon commented on #386
Kubebuilder v2 has support for structural schema.

[2019-10-01 00:44] ellis-bigelow commented on #386
Awesome. Let's leave this open then.

On Tue, Oct 1, 2019, 5:34 AM cliveseldon <notifications@github.com> wrote:

[2019-10-01 04:16] ellis-bigelow commented on #384
How do you feel about simply returning False instead of unknown? We explicitly know it's not ready.

[2019-10-01 12:35] cliveseldon commented on #369
One possibility would be a CRD that allows these requirements and wires things together with Knative eventing. Maybe the user can provide existing Knative source, sinks.

[2019-10-01 13:40] pradithya opened #391 "make undeploy and make undeploy-dev are not cleaning up all resources"
/kind bug

**What steps did you take and what happened:**
On a working cluster with kfserving, knative, and istio installed.
1. execute `make undeploy` to delete all kfserving resources
2. delete knative
3. install knative

Installation of knative display some error as follow:
[code]

**What did you expect to happen:**
Knative installation completed successfully without error especially since kfse

[2019-10-01 16:01] #391 closed

[2019-10-02 01:46] pradithya opened #394 "Tensorflow model is scaling down slowly"
/kind bug

**What steps did you take and what happened:**
- Deploy tensorflow model
- Do load test to increase number of pods
- Stop load test to let it scale down
- The pods started to scale down but tensorflow serving container is in terminating state for quite a while (~ 5 minutes)

**What did you expect to happen:**
Pods should be tearing down more quickly.
The root cause is because tensorflow

[2019-10-02 06:46] ellis-bigelow opened #396 "Controller crashes on empty model, explainer, transformer spec"
/kind bug
Looks like the defaulter runs first, which can cause crashes if the validator hasn't rejected yet.
[code]
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
-

[2019-10-02 06:55] ellis-bigelow commented on #396
It also appears that the explainer/transformer are not validated and that the explainer isn't defaulted.

[2019-10-02 07:15] yuzisun commented on #396
yes, see the ticket and some discussion here https://github.com/kubeflow/kfserving/issues/324.

[2019-10-02 07:43] #394 closed

[2019-10-02 13:22] yuzisun commented on #369
Looks like the use case here is batch file in and batch file out, somewhere on the pipeline we need to do micro batches since single event processing is not efficient in this case, matrix operations on batches would be much more performant especially on predictor.

I did a bit digging looks like on gcloud Apache Beam is used for batch prediction and under kubeflow there is also a repo batch-predic

[2019-10-02 13:33] yuzisun commented on #396
/assign @yuzliu

yuzhui likes to take this as her first KFServing contribution :)

[2019-10-02 14:33] rakelkar commented on #325
/assign @rakelkar

[2019-10-02 14:33] rakelkar commented on #325
can close @yuzisun? implemented in #388

[2019-10-03 00:45] ellis-bigelow commented on #396
I have partially completed this (but not for predictors) in my Feast PR.

On Wed, Oct 2, 2019, 9:34 PM Kubernetes Prow Robot <notifications@github.com>
wrote:

[2019-10-03 03:44] ariefrahmansyah opened #398 "Creating invalid spec return invalid, unexpected EOF"
/kind bug

**What steps did you take and what happened:**

Creating KFService object that has invalid spec via Create() function from client package return following error:

[code]

Example:

[code]

**What did you expect to happen:**
A proper and descriptive error message, using Invalid StatusReason.

[2019-10-03 04:42] ariefrahmansyah commented on #398
This issue is related to #396.

[2019-10-03 12:36] #398 closed

[2019-10-03 17:36] wronk commented on #369
I'm also looking to do batched inference with kubeflow, so +1 for this feature and thanks @yuzisun for those resources. Our use case is running inference over very large sets (10s to 100s of millions) of satellite images. On-demand or event triggering would also be helpful for us as the frequency can vary quite a bit by project (but likely between once a week to once every 3 months).

[2019-10-03 23:08] ellis-bigelow commented on #376
Hi @Joon-L , thanks for this issue! We will track knative's progress and implement any wiring on our side when necessary.

[2019-10-03 23:10] ellis-bigelow commented on #387
@yuzisun , this would also be a great task for your co-worker
/good-first-issue

[2019-10-03 23:11] ellis-bigelow commented on #374
We will definitely take this into consideration. Thank you!

[2019-10-03 23:12] ellis-bigelow commented on #366
/good-first-issue

[2019-10-03 23:17] jlewi opened #399 "Is there a problem deploying KFServing"
/kind bug

**What steps did you take and what happened:**

I deployed Kubeflow using kubeflow/manifests#429.

When I first ran kfctl apply it failed with the following error

[code]

I reran kfctl apply and it succeeded on the second apply.

Can someone please check whether this behavior is reproducible?

[2019-10-03 23:18] jlewi commented on #399
This is P0 because we are trying to cut 0.7 and users should not have to manually run kfctl apply in for kubeflow deployment to succeed.

[2019-10-04 00:28] ellis-bigelow commented on #399
I believe this happens due to our admission controller controlling creating
of pods. We need to default the pods but while our service is standing up
the admission controller will fail. I'll see what we can do to fix, but can
you implement a retry or two in kfctl?

On Fri, Oct 4, 2019, 7:18 AM Jeremy Lewi <notifications@github.com> wrote:

[2019-10-04 00:29] ellis-bigelow commented on #399
I think I should be able to change this to a pod mutator to avoid failing
deployments. It just kicks the can though in case anyone creates pods.

On Fri, Oct 4, 2019, 8:28 AM Ellis Bigelow <ellisbigelow@google.com> wrote:

[2019-10-04 02:53] ellistarn opened #402 "Better Error Messages for KFServer terminated requests."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The KFServer doesn't provide very good error messages. At least for the transformer, requests are sent as 400, without a clear reason why it's a 400.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
We should ensure that the K

[2019-10-04 02:55] ellis-bigelow commented on #374
Hey Colin,
Following up on this. Could you outline your usecase for predict_proba vs predict? It this something you'd need to configure at request time (i.e., send both types to the same endpoint) or something we could configure at deploy time.

[2019-10-04 05:08] ellistarn opened #403 "Separate AdmissionControllers to a different deployment"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We need to be able to autoscale our admission controller separately to support large volatile clusters with lots of Pod CRUDs.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
This should be done when upgrading ControllerRunti

[2019-10-04 06:52] rakelkar commented on #326
works (aka creates stuff - need to verify virtual service)!

sample status:
[code]

detailed status:
[code]

[2019-10-04 06:52] rakelkar commented on #326
virtual service it created:
[code]

[2019-10-04 07:02] ariefrahmansyah commented on #396
Hi @ellis-bigelow, what's your plan for PredictorSpec validation? Is there anything that I can help with?
I would like to contribute to KFServing!

[2019-10-04 07:55] ellis-bigelow commented on #396
The bug is fixed for predictor:
https://github.com/kubeflow/kfserving/blob/master/pkg/apis/serving/v1alpha2/predictor.go#L61

and for transformer:
https://github.com/kubeflow/kfserving/blob/master/pkg/apis/serving/v1alpha2/transformer.go#L42

But isn't yet fixed for explainer:
https://github.com/kubeflow/kfserving/blob/master/pkg/apis/serving/v1alpha2/explainer.go#L45

[2019-10-04 08:12] cliveseldon commented on #376
We have tied Dex into Auth for kfserving in our internal work. @ryandawsonuk  can you comment?

[2019-10-04 08:39] cliveseldon commented on #402
So for TFServing REST we would return a payload as given there for errors? https://www.tensorflow.org/tfx/serving/api_rest

[2019-10-04 09:01] ariefrahmansyah commented on #396
Cool! I'll take a look at the explainer if nobody picks it.

[2019-10-04 09:02] zhilingc opened #404 "Migrate to go modules"
/kind feature

**Describe the solution you'd like**
Migrate from `dep` to `go modules` for dependency management. It would help greatly in creating more reproducible builds without vendoring (although we can continue vendoring, which seems to be the canon regardless), and also the flexibility to work with the code (1) outside the GOPATH and (2) without dep.

[2019-10-04 09:11] cliveseldon commented on #396
Thanks @ariefrahmansyah please do!

[2019-10-04 09:12] cliveseldon commented on #404
This should be part of migrating to Kubebuilder V2 which uses modules.

[2019-10-04 09:15] cliveseldon opened #405 "Migrate to Kubebuilder v2"
/kind feature

**Describe the solution you'd like**
Update controller to [Kubebuilder V2](https://book.kubebuilder.io/), Some advantages:

 * Use of Go Modules
 * Integration with cert-manager for webook certificates
 * Handling multiple API versions
 * Ability to use Roles rather than ClusterRoles

Solves #404

**Anything else you would like to add:**

I have done the migration once and is well d

[2019-10-04 09:52] ryandawsonuk commented on #376
I see the above already references the open issues I raised about linking knative/KFServices to a gateway other than the knative gateway. The idea of being able to choose a gateway for each service makes sense as a further step. Both depend on knative changes.

[2019-10-04 10:54] pradithya opened #407 "Model service returns non 2XX during autoscaling"
/kind bug

**What steps did you take and what happened:**
1. Deploy tensorflow model example (https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow)
2. Run load test when there is no pod available

I am using vegeta to generate load

[code]

content of cfg
[code]
Result: (notice that there are almost 20% errors returned)

[code]

**What did you expect to happen:**

No error ret

[2019-10-05 00:47] jlewi commented on #399
Reopening this because we still need to build a new image and then update kubeflow/manifests to pick up the change.

[2019-10-05 01:00] ellis-bigelow commented on #399
I just cut 0.2. We will update the manifests.

On Sat, Oct 5, 2019, 8:47 AM Jeremy Lewi <notifications@github.com> wrote:

[2019-10-06 08:14] cliveseldon opened #411 "Expose Errors in Status for Reconcile Errors"
/kind feature

Malformed models that fail at Reconcile time should result in a well-formed error message in Status. Example: https://github.com/kubeflow/kfserving/pull/406#discussion_r331760639

[2019-10-06 19:24] rakelkar opened #412 "v1alpha2 virtual service should include mesh hostname"
/kind feature

The VS currently only matches external ingress host.

In hosts section, we may also need to add internal domains like `mykfsvc.default.svc.cluster.local` in case it is called from in cluster.

Related to #339

[2019-10-06 19:26] rakelkar commented on #271
TRTIS does not support #339 therefore is not a supported framework as of now.

[2019-10-06 19:30] rakelkar opened #413 "Update docs to use v1alpha2 status URL"
/kind bug

Docs URLs refer to old URL structure.. with #339 status now returns the v1 URL structure. Docs need to be updated.

[2019-10-06 20:37] rakelkar opened #414 "Test Explainer routes"
/kind feature

#339 introduces a new virtual service for the v1 dataplane, however we are missing a test in `kfservice_controller_test.go` for services that include an explainer.

[2019-10-06 20:37] rakelkar commented on #414
@cliveseldon feel like taking a stab at this once #339 is in?

[2019-10-06 20:40] rakelkar opened #415 "Default ONNX runtime server version doesnt work with v1 virtual service"
/kind bug

#339 introduces path based routing. The default version of ORT server needs to be updated to a version that supports the required path. This has been fixed in the underlying server with https://github.com/microsoft/onnxruntime/pull/1995

[2019-10-06 20:42] rakelkar commented on #415
@csteez feel like updating the version?

[2019-10-06 20:49] #396 closed

[2019-10-07 00:02] yuzisun opened #416 "Predictor images should default to a pinned tag instead of latest"
/kind bug

**What steps did you take and what happened:**
It is unsafe to default the model server images to latest tag instead of a pinned version.

**What did you expect to happen:**
In ConfigMap we should have option to configure `defaultImageVersion` and `allowedImageVersions`

- For kfserver flavor of model servers e.g PyTorch, SKLearn, XGBoost we should default to the last release version(0.

[2019-10-07 03:42] rakelkar opened #417 "istio/virtualservice.go missing tests"
/kind feature

virtualservice.go has a ton of logic but is missing unit tests (only has integration tests). Need to add tests that test for:
* Default only or default+canary
* Predictor only vs predictor + transformer
* With and without explainer
* Shape mismatch between default, canary
* Ready vs unready

Also for `getPredictStatusConfigurationSpec` consider the interface: (kfsvc, isCanary). It a

[2019-10-07 13:11] jlewi commented on #399
Thanks @ellis-bigelow

[2019-10-07 16:34] ellistarn opened #419 "Document KFServing contracts"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
* model server contract (for each model server)
* data plane contract

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-07 17:37] gabrielwen commented on #419
thanks for filing this!

[2019-10-08 03:35] #317 closed

[2019-10-08 13:40] jlewi commented on #399
@ellis-bigelow have the manifests been updated?

[2019-10-08 16:42] ryandawsonuk commented on #221
Is this still valid (as the project is now using 0.8)?

[2019-10-08 17:27] ellis-bigelow commented on #399
We're wrapping up our 0.2 with some final fixes.

On Tue, Oct 8, 2019 at 6:40 AM Jeremy Lewi <notifications@github.com> wrote:

--
</Ellis>

[2019-10-08 18:54] jlewi commented on #399
Thanks. @ellis-bigelow and @animeshsingh please try to update kubeflow/manifests by EOD with a fix for this issue even if it means 0.2 is not complete. This issue means deployment from master is broken because it will fail the first time the user runs apply. So we should try to get a fix for that in as soon as possible.

[2019-10-09 01:50] jinchihe opened #423 "Update Python SDK since renaming to InferenceService"
/kind feature

**Describe the solution you'd like**
Update Python SDK since renaming to InferenceService by #421

[2019-10-09 01:51] jinchihe commented on #423
/assign @jinchihe
/cc @ellis-bigelow @yuzisun @animeshsingh

[2019-10-09 02:53] #416 closed

[2019-10-09 14:41] rakelkar commented on #221
Yes it is no longer relevant

[2019-10-09 15:53] ellis-bigelow commented on #221
/close

[2019-10-09 15:53] #221 closed

[2019-10-09 21:36] animeshsingh commented on #423
@jinchihe do you have an ETA? Its blocking my Pipelines PR

[2019-10-09 23:09] jinchihe commented on #423
@animeshsingh Yes, that's P1. Will start from today, wish that can be merged and release new Pipy pkg before the end of this week or early next week.

[2019-10-09 23:27] yuzisun commented on #423
I think Ellis already updates the sdk, looks we just need to publish the package.

[2019-10-10 00:32] #399 closed

[2019-10-10 07:14] jinchihe commented on #423
@animeshsingh @yuzisun
The package has been refreshed in Pypi: https://pypi.org/project/kfserving/
[code]

[2019-10-10 07:17] #423 closed

[2019-10-10 08:42] jinchihe opened #426 "Cannot install kfserving SDK from setup.py"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-re

[2019-10-10 08:48] jinchihe commented on #426
That's OK if comment out the `azure-storage-blob >= 2.1.0` from https://github.com/kubeflow/kfserving/blob/282def3efc0bf99d852600f71fa4ff90cd08923f/python/kfserving/requirements.txt#L11

[2019-10-10 19:47] yuzisun opened #427 "Secret env is not injected in storage initializer container"
/kind bug

**What steps did you take and what happened:**
configured the s3 secret on service account as the s3 example in the doc, the secret env is not injected in storage initializer container.

seeing following error in controller log, looks the issue is that pod namespace is empty when coming into pod mutator for some reason

[code]

**What did you expect to happen:**
secret env should be inj

[2019-10-10 20:37] jlewi opened #428 "Default notebook permissions don't include permissions to create KFServing resources"
/kind bug

**What steps did you take and what happened:**
I'm working on the 0.7.0 release script to use KFServing
https://docs.google.com/document/d/1OhjKwas74OOFwiADQfNzakgopoAxgNzD3bERdO1cGt8/edit#heading=h.u2q74x45hcnf

I opened a notebook and then ran one of the KFServing examples.

I ended up getting the following error

[code]

It looks like there are multiple issues here:

1. It doesn't lo

[2019-10-10 20:39] jlewi commented on #428
Here's a list of the roles.
[roles.txt](https://github.com/kubeflow/kfserving/files/3714534/roles.txt)

[2019-10-10 20:56] yuzisun commented on #403
The mutator service took long time to start every time installing a new version of controller, keep getting this error.

[code]

[2019-10-10 21:00] jlewi commented on #428
It looks like the KFServing client is trying to use the "kubeflow" namespace by default. So that's another problem.

[2019-10-10 21:43] jlewi commented on #428
@krishnadurai It looks like there is a secondary bug with the kfserving roles; the apigroups should be serving.kubeflow.org; not kubeflow.org.

[2019-10-10 21:49] jlewi opened #429 "KFServing examples hardcode the namespace as "kubeflow""
/kind feature

**Describe the solution you'd like**
This notebook hardcodes the namespace as kubeflow.
https://github.com/kubeflow/kfserving/blob/master/docs/samples/client/kfserving_sdk_sample.ipynb

I suspect others do as well.

This prevents the notebook from just running when people launch it in kubeflow.

It would be better if the code could try to test if the notebooks is running under K8s a

[2019-10-11 01:36] yuzisun opened #431 "Flaky test for virtual service"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
Test should be consistently pass or fail.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kube

[2019-10-11 02:15] jinchihe commented on #429
/assign
I will take a look, thanks.

[2019-10-11 03:42] yuzisun opened #432 "PyTorch Server starts the # processes as the # cores on the machine ?"
/kind bug

**What steps did you take and what happened:**
Create a PyTorch service which defaults to 1 CPU, however it started 40 processes which is the number of cores on the node.
[code]
[code]

**What did you expect to happen:**
The KFServer should have # processes created same as the number of CPUs specified on spec

**Anything else you would like to add:**
[Miscellaneous information that will

[2019-10-11 03:50] yuzisun opened #433 "Log format is not properly setup for KFServer"
/kind bug

**What steps did you take and what happened:**
Log format is not properly setup

[code]

**What did you expect to happen:**
The log format should include timestamp.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version: 0.2.0
- Kubeflow version:
- Minikube ve

[2019-10-11 14:15] jinchihe opened #435 "Build a kfserving test docker image basic on test-worker"
/kind feature

**Describe the solution you'd like**
There are more than two steps in the test, used image test-worker and then installed python 36 and kfserving SDK, we should build a new docker image for kfserving test to save testing time (avoid installing those twice).

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-11 14:15] jinchihe commented on #435
/assign

[2019-10-11 14:17] jinchihe opened #436 "Adding more functional SDK test cases in E2E framework"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Adding more functional SDK test cases in E2E framework, now there is a tensorflow E2E creating cases, we need to add more cases to ensure basic function works fine, such as pytouch, rollout API, promote API, deleting etc ...

**Anything else you would like to add:**
[Miscellaneous info

[2019-10-11 14:22] jinchihe commented on #270
Need to enhance build steps to save CI test time.

[2019-10-11 14:41] jinchihe commented on #426
In fact, we can remove this, because azure will also install the `azure-storage-blob`

[2019-10-11 17:35] ellis-bigelow commented on #432
Currently, this just maxes out the number of cores available. We can't use the spec since partial cores are used. What's the problem with the current impl?

[2019-10-11 18:09] rakelkar commented on #415
a patch release is on its way: https://github.com/microsoft/onnxruntime/pull/2087

[2019-10-12 23:53] csteegz commented on #415
the 0.5.1 branch has had this cherry picked in and the 1.0 version will support this.

[2019-10-13 02:03] yuzisun opened #440 "Storage initializer container succeeded even with invalid storage uri"
/kind bug

**What steps did you take and what happened:**
Set `storageUri` with an invalid uri `s3://platform-test/s3/moviesentiment` (s3 subdir does not exist)

The storage initializer container succeeded,
[code]
But main container failed
[code]

**What did you expect to happen:**
It should fail in storage initializer container instead.

**Anything else you would like to add:**
[Miscellaneous inf

[2019-10-13 02:10] yuzisun opened #441 "Missing alibi key in explainer configmap"
/kind bug

**What steps did you take and what happened:**
Add explainer on the inference service but get rejected from validation webhook.
[code]

**What did you expect to happen:**
Should have allowed runtime versions in configmap

**Anything else you would like to add:**
The configmap for explainer is missing the key for alibi

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Ve

[2019-10-13 03:58] #441 closed

[2019-10-15 07:17] hougangliu opened #445 "Fail to run explanation sample"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I run sample  in https://github.com/kubeflow/kfserving/tree/master/docs/samples/explanation/alibi, kfserving controller crashed with nil pointer error

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2019-10-15 07:17] hougangliu commented on #445
/assign

[2019-10-15 09:04] 14sudharsan opened #447 "manager_image_patch.yaml: no such file or directory"
Following this [link](https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md#deploy-kfserving) to deploy KF Serving

**Getting an below error for this step "make deploy-dev"**

root@ip-172-31-31-235:~/go/src/github.com/kubeflow/kfserving# make deploy-dev
go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go crd --output-dir=config/default/crds

[debug] name="URL"

[2019-10-15 23:31] yuzisun commented on #432
If the machine has 40 cores then I am a bit worried about each pod spawning 40 processes. What do you think make this configurable ?

[2019-10-16 00:29] ellis-bigelow commented on #432
I feel like these are details the user shouldn't be aware of. Processes are pretty lightweight, but I'd also be happy to cap this at something like 8. Did we find a performance issue? Is this something we can address in the future?

[2019-10-16 03:56] #445 closed

[2019-10-16 08:58] hougangliu opened #451 "Virtualservice cannot be reconciled when modified or deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I create a inferenceservice, then I delete or modify the virtualservice with same name as the inferenceservice. The virtualservice is not reconciled with the inferenceservice

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information tha

[2019-10-16 12:36] jlewi commented on #428
We should verify this with an RC and then close it.

[2019-10-16 15:19] #427 closed

[2019-10-16 15:22] ryandawsonuk opened #453 "unable to consume definitions from master"
Working with a project that watches for and deploys KFServices in golang. Am trying to update it to use the latest master to work against the latest CRD.

It's a modules project so I do:

`go get github.com/kubeflow/kfserving@master`

It updates my project dependencies but when I try to build I then get:

`/home/ryan/go/pkg/mod/github.com/kubeflow/kfserving@v0.1.4-0.20191016145342-d33aee11696d/pkg

[2019-10-16 15:42] yuzisun commented on #453
can you check if you have `knative.dev/serving/pkg/network` under your vendor?

[2019-10-16 15:51] ryandawsonuk commented on #453
Aha, it's the knative version!

My go.mod gets knative indirectly
[code]
When I switch that to knative serving 0.8.0 then it works.

Thanks @yuzisun !

[2019-10-16 15:51] #453 closed

[2019-10-16 22:11] yuzliu opened #455 "Ensure the storage initializer container and queue_proxy container have CPU/Memory Limst/Request"
/kind feature

**Describe the solution you'd like**
In order to apply resourcequota to our namespaces we need to ensure that all the containers have CPU/Memory Limit/Request set.

I've found that the storage-initializer and queue-proxy container do not have CPU/Memory Limit/Request configured and I'd like to allow users to set the Limit/Request using ConfigMap and apply reasonable values if no Lim

[2019-10-17 00:06] richardsliu commented on #428
Attached are the roles I see in the latest RC.
[roles.txt](https://github.com/kubeflow/kfserving/files/3736859/roles.txt)

[2019-10-17 00:22] richardsliu commented on #428
The kubeflow roles are installed now.

[2019-10-17 00:23] richardsliu commented on #428
/close

[2019-10-17 00:23] #428 closed

[2019-10-17 03:34] krishnadurai commented on #428
Thanks @richardsliu

[2019-10-17 09:03] pugangxa opened #456 "Inference service status always be "False" after restart K8S cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
After restart K8S cluster the inferenceservice status will be "False" forever but in fact it's working.
1: Apply the sample kubeflow/kfserving/docs/samples/tensorflow
2: Everything is fine and the case just worked as in the doc
3: Stop K8S cluster(I use Docker for Mac which just need dis

[2019-10-17 09:12] pugang1985 commented on #456
The log shows it's due to call error when ""error":"Internal error occurred: failed calling webhook",

{"level":"error","ts":1571301423.7336009,"logger":"kubebuilder.controller","msg":"Reconciler error","controller":"kfserving-controller","request":"default/flowers-sample","error":"Internal error occurred: failed calling webhook \"inferenceservice.kfserving-webhook-server.defaulter\": Post https:/

[2019-10-17 13:16] pugang1985 commented on #456
Should we do below changes to this?

diff --git a/pkg/controller/inferenceservice/controller.go b/pkg/controller/inferenceservice/controller.go
index 6a5a046d..a3a1f3e6 100644
--- a/pkg/controller/inferenceservice/controller.go
+++ b/pkg/controller/inferenceservice/controller.go
@@ -18,6 +18,7 @@ package service

 import (
        "context"
+
        "github.com/kubeflow/kfserving/pkg/controller/i

[2019-10-17 14:08] jinchihe commented on #426
Already fixed in #383.
/close

[2019-10-17 14:08] #426 closed

[2019-10-17 14:52] yuzisun opened #458 "Tensorflow e2e test fails to run"
/kind bug

**What steps did you take and what happened:**
[code]
**What did you expect to happen:**
conditions may take some time to appear in status, status variable should be initialized to Unknown here.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative Version:
- KFServing Version:
- Kubeflo

[2019-10-17 14:55] jinchihe commented on #458
/assign

[2019-10-17 15:28] #458 closed

[2019-10-18 00:36] hougangliu opened #460 "Unused knative service exist"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When I create inferenceservice https://github.com/kubeflow/kfserving/blob/master/docs/samples/transformer/image_transformer/image_transformer.yaml, everything works well (two knatvie services are created for predictor and transformer)
But when I edit the inferenceservice by "kubectl edi

[2019-10-18 01:58] gaocegege opened #462 "[feature request] Support PMML Scoring"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

[PMML](https://en.wikipedia.org/wiki/Predictive_Model_Markup_Language) is an XML-based predictive model interchange format. It is popular in the traditional ML scenario. Request to support serving support for the format.

Ref https://github.com/openscoring/openscoring

**Anything else

[2019-10-19 00:49] #429 closed

[2019-10-19 17:49] #415 closed

[2019-10-21 21:43] #455 closed

[2019-10-22 01:02] hougangliu opened #469 "inferenceservice keeps "False" for RevisionMissing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When create an inferenceservice in docs/sample, the inferenceservice may always keep "False", and its corresponding knavie service keeps "False" with Reason `RevisionMissing`. I notice that it occurs when the Pod is killed somehow (should be killed by autoscale controller) when it is in

[2019-10-22 01:39] yuzisun commented on #469
interesting! the default `scale-to-zero-grace-period` is 30s, so looks like we can hit this issue when downloading time takes more than that. One way to walk around is to increase the default grace period for scaling to zero.

[2019-10-22 02:08] hougangliu commented on #469
Yes, 30s is too little. I think many models are very large to be downloaded within 30s.

[2019-10-22 02:43] #460 closed

[2019-10-22 08:08] hougangliu opened #474 "Kfserving cannot work when knative serving container-name-template is not default value"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Kfserving cannot work when knative serving container-name-template is not default value,

[code]
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Istio Version:
- Knative V

[2019-10-22 08:11] hougangliu commented on #474
/assign

[2019-10-23 08:24] hougangliu commented on #469
Per further investigation, the reason why inferenceservice Pod is killed before ready to cause this issue is that knative serving autoscaler always tries to scale the deployment to 0 once the Pod doesn't change to ready after 130s (yes, the timeout is hard-code, I don't know the reason. please refer to https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/kpa/scaler.go#L63 and

[2019-10-23 17:29] Tomcli commented on #213
Hi @rakelkar, I'm also having this issue with S3 using KFServing v0.2. I tested with the S3 example from the doc using minio and also have the same problem. Do you have any solution on this? Thanks.

Below are my storage-initializer logs
[code]

[2019-10-23 19:59] rakelkar commented on #469
Below redesign is what we do want to do :)
See here:  https://github.com/kubeflow/kfserving/issues/280

On Wed, Oct 23, 2019 at 1:24 AM Hougang Liu <notifications@github.com>
wrote:

--
Rakesh Kelkar

[2019-10-23 20:07] yuzisun commented on #213
@Tomcli that's probably setup issue, we internally installed 0.2 and also use S3 all working fine. Can you paste the output of the inferenceservice pod yaml here?

[2019-10-23 23:13] hougangliu commented on #469
cool.

[2019-10-24 08:23] pugangxa commented on #440
This confuse me too. When I first apply the tensorflow example, I'm not sure where the model is from and changed to my own in local but seems it's just failed. I think we should report error in a consistent way.

[2019-10-24 09:02] ryandawsonuk opened #479 "explainer image missing"
Am trying to run the [explainer example ](https://github.com/kubeflow/kfserving/blob/master/docs/samples/explanation/alibi/income/income.yaml) after installing with the latest (master) kfctl. A kservice is created for the explainer but it doesn't come up. It has a revision that never becomes ready and its yaml shows an error pulling the alibi image - `Unable to fetch image "gcr.io/kfserving/alibi-

[2019-10-24 09:30] ryandawsonuk commented on #479
When I do `kubectl get cm -n kubeflow inferenceservice-config -o yaml` I see:
[code]
So 0.2.3 rather than 0.2.0. Problem appears to be https://github.com/kubeflow/manifests/blob/973fba5a2012e7c9e305092727b2da446a2b6b81/kfserving/kfserving-install/base/config-map.yaml#L72

[2019-10-24 09:46] pugangxa commented on #440
Take a look and if the object does not exist(if the path does not exist some will return error, if just object does not exist it will return successfully), only the local path will return error from code in storage.py:
[code]

For other types there's no chance to get in the for loop, take gcs for example(others are the same), in the code below the for loop will return directly since there's nothin

[2019-10-24 09:47] pugangxa commented on #440
/assign

[2019-10-24 10:06] ryandawsonuk opened #480 "controller manager pod never comes back when you kill it"
When I describe the statefulset I get
[code]
Seems that the mutator wants to check every pod, including the pod that is meant to be implementing the mutator itself.

[2019-10-24 10:23] ryandawsonuk opened #481 "uninstall and reinstall flow with and without kfctl"
I tried to uninstall by deleting the statefulset, mutating webhook, validating webhook and the CRD. I then reinstalled from kfctl. But then the mutator starts failing for every pod deployed and the logs show:
[code]
I also tried a `kfctl delete` and that uninstalled kfserving (along with other kubeflow components). Then I did a `kfctl apply` and then it couldn't even create the controller manager

[2019-10-24 10:46] yuzisun commented on #480
the mutator configuration should have a namespace selector which exclude all the system namespaces

[2019-10-24 10:50] yuzisun commented on #481
you should run `make undeploy` which deletes the mutatingwebhookconfigration, otherwise apiserver will still try to call the webook

[2019-10-24 10:58] ryandawsonuk commented on #481
I deleted the hooks with `kubectl` and with `kfctl`. I guess like https://github.com/kubeflow/kfserving/issues/480 this problem is specific to a `kfctl` install.

[2019-10-24 12:53] yuzisun commented on #481
I think kfctl delete needs to handle mutatingwebhookconfiguration deletion.

[2019-10-24 15:01] #479 closed

[2019-10-25 01:45] #474 closed

[2019-10-25 12:36] ryandawsonuk opened #483 "explainer never becomes available in 0.2.0"
Installed using kfctl, currently pointed at 0.2.0. Ran through https://github.com/kubeflow/kfserving/tree/master/docs/samples/explanation/alibi/income

Operator errors with:
[code]
So status is reported as not ready. But kservice actually is ready and pods are created

[2019-10-25 13:54] cliveseldon commented on #483
This works for me on master. I think we need to push updates into 0.2.0 @ellis-bigelow for kubeflow

[2019-10-25 15:09] yuzisun commented on #483
this has been fixed in https://github.com/kubeflow/kfserving/pull/446.

[2019-10-25 19:56] yuzisun commented on #483
image gcr.io/kfserving/alibi-explainer:0.2.0 is updated.
/close

[2019-10-25 19:56] #483 closed

[2019-10-25 20:14] yuzisun opened #485 "Add prometheus annotation to scrape metrics from queue-proxy"
/kind feature

**Describe the solution you'd like**
Need following annotations on InferenceService so that prometheus can scrape metrics from  revision pods.

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-25 20:24] jlewi opened #486 "KFServing pod-mutator preventing notebook pods from starting"
/kind bug

**What steps did you take and what happened:**

@abhi-g deployed Kubeflow using kfctl 0.7 RC0.6 and manifests on kubeflow/manifests.

Notebook pods aren't starting due to the following error

[code]

[2019-10-25 20:26] ellis-bigelow commented on #486
We're using the default validator of k8s for these. What are your resource
requests?

On Fri, Oct 25, 2019 at 1:24 PM Jeremy Lewi <notifications@github.com>
wrote:

--
</Ellis>

[2019-10-25 20:33] jlewi commented on #486
Here's the inferenceservice.serving.kubeflow.org mutatingwebhookconfig.

We deleted the config and pods started.
[inferenceservice.serving.kubeflow.org.yaml.txt](https://github.com/kubeflow/kfserving/files/3773702/inferenceservice.serving.kubeflow.org.yaml.txt)

@ellis-bigelow why is the inference server webhook admission hook being applied to pods that have nothing that do with it? e.g. notebooks

[2019-10-25 20:35] jlewi commented on #486
Here's the notebook pods spec.
[notebook.spec.yaml.txt](https://github.com/kubeflow/kfserving/files/3773713/notebook.spec.yaml.txt)

[2019-10-25 20:41] jlewi commented on #486
It looks like support to for mutatingwebhooks to filter by pod labels is only  available in Kubernetes 1.15
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-objectselector

[2019-10-25 20:47] jlewi commented on #486
Here's the pod spec for the controller

[kfserving-controller-manager-0.yaml.txt](https://github.com/kubeflow/kfserving/files/3773750/kfserving-controller-manager-0.yaml.txt)

Here's the image

[code]

[2019-10-25 20:52] jlewi commented on #486
@ellis-bigelow moved the 0.2.0 tag a couple hours ago but it looks like we are pointing to the latest one

[2019-10-25 21:04] jlewi commented on #486
Trying the previous image
gcr.io/kfserving/kfserving-controller@sha256:1c18b4859690d1a0663e9c6e20def936a150cf0be5145bf57db55853ac8f41cd

The logs for kfservingmanager controller show

[code]

[2019-10-25 21:06] jlewi commented on #486
Here are the config maps

[code]

[2019-10-25 21:16] jlewi commented on #486
I have a cluster deployed with

kubeflow/kubeflow@2fa8ba73
kubeflow/manifests@5eea1f1

That cluster worked fine.

Here's the pod spec
[old-controller.pod.yaml.txt](https://github.com/kubeflow/kfserving/files/3773809/old-controller.pod.yaml.txt)

The old image is

[code]

[2019-10-25 21:24] jlewi commented on #486
Here's the code
https://github.com/kubeflow/kfserving/blob/e9d3acf82d831c6bc7b992a76bf3fb2c3c8cd6a2/pkg/webhook/admission/pod/mutator.go#L51

[2019-10-25 21:25] jlewi commented on #486
Here's the source  of the error
https://github.com/kubeflow/kfserving/blob/e9d3acf82d831c6bc7b992a76bf3fb2c3c8cd6a2/pkg/webhook/admission/pod/mutator.go#L51

https://github.com/kubeflow/kfserving/blob/e9d3acf82d831c6bc7b992a76bf3fb2c3c8cd6a2/pkg/constants/constants.go#L33

Looks like the code is getting the configmap using the K8s client and it can't find it.